tr.nested-spot .tabledrag-handle {
    display: none;
}
tr.odd.nested-spot-last,
tr.even.nested-spot-last {
    border-bottom-width: 1px;
}

.form-item.form-item-inline-stretched  label {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}
.form-item.form-item-inline-stretched .form-item-container {
    overflow: hidden;
}
.form-item.form-item-inline-stretched .form-item-container input,
.form-item.form-item-inline-stretched .form-item-container select {
    width: 99%;
}
