.onNow-navSocial-empty-span{
    width:17px;
    height:1px;
    float:left;
}
.echo-primaryColor {
    color:#3A3A3A;
}
.echo-item-authorName a {
    color:#3D3D3D;
}
.echo-item-authorName {
    color:#3D3D3D;
    font-weight:normal;
    letter-spacing:0.05em;
    line-height:19px;
}
#socialblock_on_now_content .echo-item-content {
    border-bottom-style : none;
    border-top-style : none;

}
.echo-item-content .echo-item-tweetUserName a, #on-now-panel a, .block-usanetwork-tv-schedule .echo-item-authorName {
    color : #3D3D3D;
    font-family : "avalonmedium","Proxima N W01 Smbd",Helvetica,Arial,sans-serif;
}
#socialblock_on_now_content span.echo-item-text {
    font-size : 13px;
}
.echo-secondaryColor {
    color : #3D3D3D !important;
}

#navChatterOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-origin : padding-box;
  background:url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -2871px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float:left;
  text-indent:-9999px;
  width:32px;
  height:32px;
}

#navFbOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -2950px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}

#navPinterestOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -3109px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}

#navGetGlueOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -3028px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}

#navInstagramOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -3187px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}

#navTwitterOnNow .onnow_social_selected {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -2792px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}
