%metadata-gradient {
    background-color: $black-trans-85;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000',GradientType=0 );
}

%metadata-holder {
  position: absolute;
  width: 100%;
  bottom: 0;
  @extend %metadata-gradient;
  padding-left: 15px;
  padding-right: 15px;
  > h2,
  > h3,
  > div {
    margin: 0;
    line-height: 1;
  }
}

%metadata-holder-gradient {
  @extend %metadata-holder;
  &:after {
    content: $space;
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;
    @include background-image(linear-gradient(right, $black-trans 20%, transparent));
  }
}

%nested-mini-cta {
  width: 44px;
  float: left;
  & ~ h2, & ~ h3 {
    padding-left: 56px;
  }
  @include breakpoint($bp-home-narrowest) {
    width: 20px;
    margin-right: 2px;
    & ~ h2, & ~ h3 {
      padding-left: 22px;
    }
  }
  .usa-adrails &, .ie8 & {
    width: 44px;
    & ~ h2, & ~ h3 {
      padding-left: 56px;
    }
  }
}

%schedule-gradient {
    background-color: $black-trans-85;
    background: -moz-linear-gradient(top, #2A2A2A 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2A2A2A), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #2A2A2A 0%,#000000 100%);
    background: -o-linear-gradient(top, #2A2A2A 0%,#000000 100%);
    background: -ms-linear-gradient(top, #2A2A2A 0%,#000000 100%);
    background: linear-gradient(to bottom, #2A2A2A 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A2A2A', endColorstr='#000000',GradientType=0 );
}
