/* ------------Counter--------------*/
#countHolder {
	position: relative;
	left: 0;
	top: 0;
}
#counter {
	width: 100%;
}
#counter li {
	float: left;
	list-style-type: none;
	margin: 0 1.5%;
	width: 30.3333%;
}
.circle {
	width: 67%;
	height: auto;
	display:block;
	background-color: rgba(0,0,0,0.6);
	border: 2px solid orange;
	border-radius: 50%;
	margin: 0 auto;
}
.numbers {
	text-align: center;
	font-family: "avalonregular", "proxima_nova_regular", Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-style: normal;
	color: #ffffff;
	font-weight: lighter;
  margin-top: 24px;
  margin-bottom: 1%;
}
.line {
	border-top: 1px solid #CCC;
	width: 50%;
	height: 1px;
	margin: 1% auto;
}
.title {
  text-align: center;
  font-family: "avalonregular", "proxima_nova_regular", Arial, Helvetica, sans-serif;
	text-transform: lowercase;
  font-size: 85%;
	font-weight: lighter;
  color: #ffffff;
	width: 100%;
	display:block;
	margin-bottom: 24%;
}
#caption {
	font-family: "proxima_nova_regular", Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: orange;
	width: 102px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}

