/* HOME SECTION */
#gracelandcatchup-home {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/graceland_catchup2015-bg-home.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100%;
  height: auto;
  padding-top: 56.21%;
  color: #FFE476; /* yellow */
  text-align: center;
}
#home-logo {
  width: 46%;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 16% 0 1% -73%;
}
#home-sponsored {
  width: 27%;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 21.2% 0 1% -63.5%;
}
#home-tunein,
#home-description {
  position: absolute;
  top: 0;
  left: 0;
  margin: 25.4% 0 0;
  width: 100%;
  font-size: 1.38em;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
}
#home-countdown {
  position: absolute;
  top: 0;
  left: 100%;
  width: 30%;
  margin: 28% 0 1% -65%;
}
#home-description {
  margin: 37% 0 1%;
}
#home-nav {
  width: 50%;
  height: auto%;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 40.4% 0 1% -75%;
}
#home-nav li {
  float: left;
  display: block;
  width: 23%;
  margin: 0 5.1667%;
  height: auto;
}
#home-nav li .spoiler {
  float: left;
  clear: left;
}
.spoiler-alert {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 30%;
  margin-top: 7%;
}
.spoiler-high {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/graceland-s2catchup-spoiler-high.svg');
}
.spoiler-medium {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/graceland-s2catchup-spoiler-medium.svg');
}
.spoiler-low {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/graceland-s2catchup-spoiler-low.svg');
}
#home-usa-logo {
  position: absolute;
  bottom: 16px;
  left: 10px;
  width: 76px;
  height: 34px;
  cursor: pointer;
}
