/* GENERAL */
html {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background-color: #CCC;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
div {
  margin: 0;
  padding: 0;
}

/* ANIMATIONS */
/* FADE-IN ANIMATION */
.fadein {
  /* CSS needed for animation
  ---------------------------------------------------- */
  opacity:0;
  -webkit-animation:fadein ease 1;
  -moz-animation:fadein ease 1;
  -o-animation:fadein ease 1;
  animation:fadein ease 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
.ie9 .fadein {
  opacity: 1;
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadein-1s {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}
.fadein-3s {
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}
.fadein-5s {
  -webkit-animation-duration:5s;
  -moz-animation-duration:5s;
  -o-animation-duration:5s;
  animation-duration:5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadein-delay-1s {
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
}
.fadein-delay-3s {
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}
.fadein-delay-5s {
  -webkit-animation-delay:5s;
  -moz-animation-delay:5s;
  -o-animation-delay:5s;
  animation-delay:5s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@keyframes fadein { from { opacity:0; } to { opacity:1; } }


/* SCROLLBARS */
/* IE scrollbars */
body{
  scrollbar-base-color: #000;
  scrollbar-face-color: #333;
  scrollbar-3dlight-color: #333;
  scrollbar-highlight-color: #333;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #222;
  scrollbar-dark-shadow-color: #000;
}
/* Webkit scrollbars - Safari, Chrome */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
  border-left: 0 solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #333;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.8);
}

/* MAIN STRUCTURE */
.page-node-microsite .usa-wrap {
  background-color: #CCC;
  margin: 0;
  padding: 0;
}
.page-node-microsite #main {
  padding: 0;
}
#microsite {
  background-size: contain;
  background-position: center;
  background-color: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#microsite a {
  outline: none;
}
#microsite .full-pane {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}

/* SITE NAV */
#site-nav {
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  background-color: #000;
  color: #FFF;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
}
#site-nav a,
#site-nav a:link,
#site-nav a:visited {
  color: #FFF;
  text-transform: uppercase;
}
#site-nav a:hover,
#site-nav a:active {
  color: yellow;
}
#site-nav-left {
  width: 76px;
  height: 5em;
  position: relative;
  bottom: 0;
  left: 0;
}
#site-nav-left a {
  position: absolute;
  bottom: 0;
  left: 0;
}
#site-nav-center {
  width: 40%;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0 0 0 -65%;
}
#site-nav-top a {
  float: left;
  margin-top: 2%;
}
#site-nav-top a#gracelandcu-logo {
  width: 72.20%;
}
#site-nav-top a#gracelandcu-sponsor {
  width: 27.02%;
  margin-left: 0.78%;
}
#site-nav ul {
  width: 70%;
  margin: 0 auto;
}
#site-nav li {
  float: left;
  padding: 10px;
}
#site-nav-right {
  width: 130px;
  height: 5em;
  position: absolute;
  bottom: 0;
  right: 0;
}
#site-nav-right #site-nav-social {
  position: absolute;
  right: 0;
  bottom: 1.1em;
}
#site-nav-right #site-nav-social a {
  float: left;
  width: 26px;
  height: 26px;
}
.page-node-microsite #site-nav #site-nav-social a.instagram {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_instagram.png");
}
.page-node-microsite #site-nav #site-nav-social a.twitter {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_twitter.png");
}
.page-node-microsite #site-nav #site-nav-social a.facebook {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_fb.png");
}
.page-node-microsite #site-nav #site-nav-social a.youtube {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_youtube.png");
}
.page-node-microsite #site-nav #site-nav-social a:hover {
  opacity: 0.7;
}
#site-nav-right #site-nav-show-site-link {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1em;
}

/* SECTIONS CONTAINERS */
section h2 {
  color: darkred;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}
#home.section {
  background-color: #000;
}
#microsite #sections {
  margin: 0;
  padding: 0;
  background-color: #E3E3E3;
}
.section {
  background-color: #E3E3E3;
}
#section:nth-child(odd) {
  background-color: #E3E3E3;
}
.section:nth-child(even) {
  background-color: #AAA;
}


/* ADS */
.ad-leaderboard {
  display: block;
  width: 728px;
  height: 90px;
  margin: 0 auto;
}


/* FOOTER */
#_bapw-icon {
  width: 14px;
  height: 18px;
}
