/* GENERAL */
html {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000;
  background-color: #CCC;
}
body {
  font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
html,
body {
  font-size: 16px !important;
  line-height: 18px !important;
}
#microsite ul {
  margin: 0;
  padding: 0;
}
#microsite li {
  list-style-type: none;
}
#microsite img {
  width: 100%;
  height: auto;
}
div {
  margin: 0;
  padding: 0;
}

/* ANIMATIONS */
/* FADE-IN ANIMATION */
.fadein {
  /* CSS needed for animation
  ---------------------------------------------------- */
  opacity:0;
  -webkit-animation:fadein ease 1;
  -moz-animation:fadein ease 1;
  -o-animation:fadein ease 1;
  animation:fadein ease 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
.ie9 .fadein {
  opacity: 1;
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadein-1s {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}
.fadein-3s {
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}
.fadein-5s {
  -webkit-animation-duration:5s;
  -moz-animation-duration:5s;
  -o-animation-duration:5s;
  animation-duration:5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadein-delay-1s {
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
}
.fadein-delay-3s {
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}
.fadein-delay-5s {
  -webkit-animation-delay:5s;
  -moz-animation-delay:5s;
  -o-animation-delay:5s;
  animation-delay:5s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@keyframes fadein { from { opacity:0; } to { opacity:1; } }


/* SCROLLBARS */
/* IE scrollbars */
body{
  scrollbar-base-color: #000;
  scrollbar-face-color: #333;
  scrollbar-3dlight-color: #333;
  scrollbar-highlight-color: #333;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #222;
  scrollbar-dark-shadow-color: #000;
}
/* Webkit scrollbars - Safari, Chrome */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
  border-left: 0 solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #333;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.8);
}

/* MAIN STRUCTURE */
.page-node-microsite .usa-wrap {
  background-color: #CCC;
  margin: 0;
  padding: 0;
}
.page-node-microsite #main {
  padding: 0;
}
#microsite {
  background-size: contain;
  background-position: center;
  background-color: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#microsite a {
  outline: none;
}
#microsite .full-pane {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}

/* SITE NAV */
#site-nav {
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  background-color: #000;
  color: #FFF;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  font-size: 1.06em;
}
#site-nav #site-nav-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
#site-nav a,
#site-nav a:link,
#site-nav a:visited {
  color: #FFF;
  text-transform: uppercase;
}
#site-nav a:hover,
#site-nav a:active {
  color: #FFE476;
}
#site-nav-left {
  width: 76px;
  height: 5em;
  position: relative;
  bottom: 8px;
  left: 8px;
}
#site-nav-left a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#site-nav #site-nav-center {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0;
  width: calc(100% - 221px); /* 570px */;
  margin-left: calc(-50% - ((100% - 221px)/2));
}
#site-nav #site-nav-top {
  width: 55%;
  margin: 0 auto;
}
#site-nav #site-nav-top a {
  float: left;
  margin-top: 2%;
}
#site-nav #site-nav-top a#gracelandcu-logo {
  width: 64%; /* 72.20%; */
}
#site-nav #site-nav-top a#gracelandcu-sponsor {
  width: 35.22%; /* 27.02%; */
  margin-left: 0.78%;
}
#site-nav #site-nav-bottom {
  display: block;
}
#site-nav-links {
  display: table;
  margin: 0 auto;
  clear: both;
}
#site-nav ul {
  width: 100%;
}
#site-nav li {
  float: left;
  padding: 10px;
}
#site-nav li a {
  width: 100%;
  display: block;
}
#site-nav #site-nav-right {
  display: block;
}
#site-nav-right {
  width: 145px;
  height: 5em;
  position: absolute;
  bottom: 0;
  right: 0;
}
#site-nav-right #site-nav-social {
  position: absolute;
  right: 8px;
  bottom: 1.9em;
}
#site-nav-right #site-nav-social a {
  float: left;
  width: 26px;
  height: 26px;
}
.page-node-microsite #site-nav #site-nav-social a.instagram {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_instagram.png");
}
.page-node-microsite #site-nav #site-nav-social a.twitter {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_twitter.png");
}
.page-node-microsite #site-nav #site-nav-social a.facebook {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_fb.png");
}
.page-node-microsite #site-nav #site-nav-social a.youtube {
  background-image: url("/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/gracelandcatchup/images/icons/icon_youtube.png");
}
.page-node-microsite #site-nav #site-nav-social a:hover {
  opacity: 0.7;
}
#site-nav-right #site-nav-show-site-link {
  position: absolute;
  bottom: 8px;
  right: 8px;
  line-height: 1em;
}
.page-node-microsite #site-nav #site-nav-social a,
.page-node-microsite #site-nav #site-nav-social a:link,
.page-node-microsite #site-nav #site-nav-social a:visited,
#site-nav-right #site-nav-show-site-link a,
#site-nav-right #site-nav-show-site-link a:link,
#site-nav-right #site-nav-show-site-link a:visited,
#site-nav-mobile a,
#site-nav-mobile a:link,
#site-nav-mobile a:visited {
  color: #818181;
  margin-left: 4px;
}
#site-nav-mobile li.internal a,
#site-nav-mobile li.internal a:link,
#site-nav-mobile li.internal a:visited {
  color: #FFF;
}
.page-node-microsite #site-nav #site-nav-social a:hover,
.page-node-microsite #site-nav #site-nav-social a:active,
#site-nav-right #site-nav-show-site-link a:hover,
#site-nav-right #site-nav-show-site-link a:active,
#site-nav-mobile li a:hover,
#site-nav-mobile li a:active {
  color: #FFF;
}
#site-nav-mobile li.internal a:hover,
#site-nav-mobile li.internal a:active {
  color: #FFE476;
}
#site-nav #site-nav-mobile {
  display: none;
}

/* SITE NAV MOBILE */
#site-nav.mobile #site-nav-left {
  float: left;
}
#site-nav.mobile #site-nav-center {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 0 22px;
  width: calc(100% - 504px);
  max-width: 317px;
  min-width: 244px;
  margin: 0 auto;
}
#site-nav.mobile #site-nav-bottom {
  display: none;
}
#site-nav.mobile #site-nav-top {
  width: 100%;
}
#site-nav.mobile #site-nav-top a#gracelandcu-logo {
  width: 100%;
}
#site-nav.mobile #site-nav-top a#gracelandcu-sponsor {
  width: 64%;
  margin: 2% 0 0 16%;
}
#site-nav.mobile #site-nav-right {
  display: none;
}
#site-nav-mobile {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
#site-nav.mobile #site-nav-mobile {
  display: block;
}
#site-nav .mobi-menu-icon {
  display: block;
  border-top: 5px solid #818181;
  border-bottom: 5px solid #818181;
  margin: 0;
}
#site-nav .mobi-menu-icon:before {
  border-top: 5px solid #818181; /* #0ab6e8; */
}
#site-nav .mobi-menu-icon:after {
  border-top: 5px solid #818181; /* #0ab6e8; */
  padding-bottom: 8px;
}
#site-nav .mobi-menu-icon:hover,
#site-nav .mobi-menu-icon:hover:before,
#site-nav .mobi-menu-icon:hover:after {
  border-color: white;
}
#site-nav-links-mobile {
  position: absolute;
  top: 0;
  right: 0;
}
#site-nav-links-mobile #site-nav-links-list-mobile {
  display: none;
  position: absolute;
  top: 28px;
  right: -16px;
  width: 150px;
  height: auto;
  z-index: 10;
}
#site-nav-links-mobile #site-nav-links-list-mobile.hover {
  display: block;
}
#site-nav-links-mobile:hover #site-nav-links-list-mobile {
  display: block;
}
#site-nav-links-mobile #site-nav-links-list-mobile:hover {
  display: block;
}
#site-nav-links-mobile li {
  float: none;
  clear: both;
  width: 150px;
  position: relative;
  top: 0;
  right: 0;
  background-color: #333;
  color: #FFF;
  height: 34px;
  z-index: 10;
}
#site-nav-mobile #site-nav-social {
  height: 42px;
}
#site-nav-mobile #site-nav-social a {
  width: 26px;
  height: 26px;
  float: left;
}

/* SECTIONS CONTAINERS */
.section-description {
  width: 92%;
  text-align: center;
  color: #000;
  font-size: 1.125em;
}
.section-description p {
  margin: 0;
}
section h2 {
  font-family: "avalonregular", "Proxima N W01 Reg", Arial, sans-serif;
  color: #56000A; /* dark red */
  font-size: 2.75em;
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0;
  clear: both;
}
#microsite #sections {
  margin: 0;
  padding: 0;
  background-color: #AEAFB1;
}
.section {
  background-color: #AEAFB1;
  position: relative;
  top: 0;
  left: 0;
  padding: 15px 0 30px;
}
#home.section {
  background-color: #000;
  padding: 0 0 30px;
}
#site-nav.section {
  padding: 0;
}
#characters.section {
  padding-bottom: 0;
}
#characters section {
  padding-bottom: 30px;
}
#section:nth-child(odd) {
  background-color: #AEAFB1;
}
.section:nth-child(even) {
  background-color: #DEDEDE;
}

/* ADS */
#microsite .ad-leaderboard {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
  margin: 40px auto 0;
}
#ad_300x250_1 {
  position: relative;
  top: 0;
  left: 0;
  height: 250px;
  width: 300px;
  margin-bottom: 30px;
  float: right;
}

/* FOOTER */
#microsite #_bapw-icon {
  width: 14px;
  height: 18px;
}

/* BEGIN MEDIA QUERIES */
@media (min-width: 1740px) {
  #site-nav #site-nav-center {
    margin-left: calc(-50% - 700px);
    max-width: 1400px;
  }
  #site-nav #site-nav-top a {
    margin-top: 1%;
  }
}

@media (max-width: 920px) {
  html,
  body {
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

@media (max-width: 670px) {
  html,
  body {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  #site-nav-left {
    width: 38px;
    height: 58.5px;
  }
}
