#videos .left-pane {
  float: left;
  width: calc(100% - 320px);
}
#videos .right-pane {
  float: left;
  width: 300px;
  margin-left: 20px;
}
#microsite .video-container {
  font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
}
#microsite .video-container iframe {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
#microsite .featured-asset .tve-help-link {
  margin-top: 4px;
}
#microsite .featured-asset .tve-help-link img {
  width: auto;
  height: 16px;
}
#microsite .video-title {
  font-size: 2em;
}
#microsite .video-description {
  font-size: 1.2em;
}
#microsite .video-info {
  font-size: 1.2em;
  color: #e5ce96;
}
.block-usanetwork-mpx-video .view .file h4, #block-views-usa-mpx-video-fullepisodes-live .view .file h4 {
  font-size: 0.875px;
  white-space: normal;
}
#microsite .block-usanetwork-mpx-video .view .file h4:after,
#block-views-usa-mpx-video-fullepisodes-live .view .file h4:after {
  background-image: none;
}
#microsite .video-container.in-player {
  display: block;
}
#microsite .full-pane #video-container {
  margin-bottom: 30px;
  position: relative;
}
#microsite .full-pane #video-container:after {
  content: '';
  clear: both;
  display: table;
}
#microsite .full-pane #video-container h1,
#microsite .full-pane #video-container h3 {
  margin: 7px 0;
  font-size: 1.5em;
  color: #000;
  line-height: 1.4em;
  text-transform: uppercase;
}
#microsite .full-pane #video-container h1.seo-h1,
#microsite .full-pane #video-container h3.seo-h1 {
  color: #000;
  font-size: 1.125em;
  line-height: 1.1em;
  text-transform: none;
  margin: -7px 0 7px;
}
#microsite .full-pane #video-container .video-description {
  font-size: 0.875em;
  color: #000;
}
#microsite .full-pane #video-container .video-info {
  font-size: 0.875em;
  color: #6C6F72;
}

/* VIDEO THUMBNAILS */
#microsite .block-usanetwork-mpx-video {
  margin: 0;
  width: 100%;
  font-size: 0.875em;
  color: #FFF;
}
#microsite .block-usanetwork-mpx-video:after {
  clear: both;
  content: '';
  display: table;
}
#microsite .block-usanetwork-mpx-video li.grid-item {
  clear: none;
  float: left;
  height: 80px;
  margin: 0px 10px 10px 0px;
  width: 145px;
  overflow: hidden;
  background-color: #AEAFB1;
}
#microsite .block-usanetwork-mpx-video li.grid-item .title {
  text-transform: uppercase;
}
#microsite .block-usanetwork-mpx-video li.grid-item:nth-child(even) {
  margin-right: 0;
}
#microsite .block-usanetwork-mpx-video li.grid-item:nth-child(odd) {
  clear: left;
}
#microsite .block-usanetwork-mpx-video li.grid-item:hover,
#microsite .block-usanetwork-mpx-video li.grid-item.active {
  background-color: #56000A;
}
#microsite .block-usanetwork-mpx-video li.grid-item .file {
  border: 0;
}
#microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper {
  height: 81px;
  background-color: transparent;
}
#microsite .block-usanetwork-mpx-video li.grid-item.active .caption-fields-wrapper {
  height: 77px;
}
#microsite .block-usanetwork-mpx-video li.grid-item img {
  display: none;
}
#microsite #videos #thumbnail-list .field-name-field-mpx-title,
#microsite #videos #thumbnail-list .field-name-field-seo-h1 {
  padding: 0 4px;
  line-height: 20px;
}
#microsite #videos #thumbnail-list li.active .field-name-field-mpx-title,
#microsite #videos #thumbnail-list li.active .field-name-field-seo-h1 {
  padding: 0 4px;
  line-height: 20px;
}
#microsite .expandable-container .expandable-toggle-wrap {
  display: none;
}
/* END VIDEO THUMBNAILS */

#microsite .block-usanetwork-mpx-video li.grid-item.ad {
  background-color: #1F1F1F;
  position: relative;
}
#microsite #videos #ad_300x60_1 {
  margin: 10px auto;
}
#microsite #videos #ad_728x90_1 {
  width: 728px;
  margin: 0 auto;
}
#microsite .block-usanetwork-mpx-video li.ad img {
  height: 100%;
}
#microsite #video-container .video-player {
  position: relative;
}
#video-container .active-player .custom-play {
  background-image: url("../images/icons/playOverlay.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  cursor: pointer;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 1;
}
/* corrected player style */
.video-auth-player-wrapper {
  display: none;
}
.video-auth-player-wrapper.featured-asset {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help {
  margin: 0;
}
.video-auth-player-wrapper.featured-asset .tve-help-link {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .loginButton img {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut {
  position: static;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .tve-header-links > li {
  margin: 0;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0 0 12px;
  border-left: 1px solid #ffffff;
  line-height: 10px;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .tve-close {
  cursor: pointer;
}
.video-auth-player-wrapper.featured-asset .tve-help:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  bottom: -1px;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 106 !important;
}
.video-auth-player-wrapper.featured-asset .tve-help:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #4b4b4b;
  border-right: 14px solid transparent;
  bottom: 0;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 105 !important;
}
#video-container .file-video-mpx {
  line-height: 0;
  position: relative;
}
.video-auth-player-wrapper.featured-asset .video-player-wrapper {
  float: none;
  margin: 0; /* 0 0 15px 0; */
}
#microsite .featured-asset .video-player-wrapper {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%; /* 615px; */
  height: 56.26%; /* 346px; */
  margin-right: 0; /* 15px; */
}
#microsite .file-video-mpx.view-mode-inline_content iframe,
#microsite .featured-asset .video-player-wrapper iframe {
  width: 100%; /* 615px; */
  height: calc(56.26% * 1px); /* 346px; */
}
/*
@media (min-width: 1275px) {
.featured-asset .video-player-wrapper {
  width: 100%; /* 930px; *//*
  height: 56.26%; /* 523px; *//*
}
}
@media (min-width: 1280px) {
#video-container .featured-asset .video-player-wrapper {
  width: 100%;
  height: 56.26%; /* 523px; *//*
}
}
*/
#video-container .error-message {
  display: none;
  line-height: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#microsite #videos .full-desc {
  margin-bottom: 90px;
}
/* video-filter */
#video-filter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#video-filter .filter-label {
  display: none;
}
/*
#video-filter .item-list {
  width: 75%;
  margin: 0 auto;
}
*/
#video-filter ul {
  display: inline-block;
}
#video-filter li.filter-item {
  float: left;
  margin: 0 10px;
  padding: 4px 30px 0;
  background-color: #AEAFB1;
  font-size: 1.125em;
  line-height: 1.6em;
  color: #FFF;
  text-transform: uppercase;
}
#video-filter li.filter-item:hover,
#video-filter li.filter-item.active {
  background-color: #56000A;
}
/*
#videos .filter-wrapper {
  margin-bottom: 20px;
  max-width: 615px;
}
#videos #video-filter {
  background-color: #000000;
  position: relative;
  width: 300px;
}
#videos #video-filter .filter-menu {
  background-color: #121212;
  border-bottom: 2px solid #13242a;
  border-left: 2px solid #13242a;
  border-right: 2px solid #13242a;
  display: none;
  padding: 25px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#videos #video-filter .filter-label {
  background-color: #13242a;
  cursor: pointer;
  width: 100%;
}
#videos #video-filter .filter-label span {
  color: #ffffff;
  font-family: 'Proxima N W01 Reg', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
}
#videos #video-filter .filter-label span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top: 14px solid #13242a;
  top: 6px;
  right: -30px;
  z-index: 6;
}
#videos #video-filter .filter-label span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top: 14px solid #a7a7a7;
  top: 10px;
  right: -30px;
  z-index: 5;
}
#videos #video-filter .filter-label.open span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #13242a;
  margin-top: -8px;
  top: 50%;
  right: -30px;
  z-index: 6;
}
#videos #video-filter .filter-label.open span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #a7a7a7;
  margin-top: -4px;
  top: 50%;
  right: -30px;
  z-index: 5;
}
#videos #video-filter .filter-label span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #13242a;
  margin-top: -10px;
  top: 50%;
  right: -40px;
  z-index: 6;
}
#videos #video-filter .filter-label span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #a7a7a7;
  margin-top: -10px;
  top: 50%;
  right: -44px;
  z-index: 5;
}
#videos #video-filter .filter-menu {
  background-color: #000000;
  display: none;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#videos #video-filter .filter-item {
  color: #ffffff;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#videos #video-filter .filter-item:last-child {
  margin-bottom: 0;
}
#videos #video-filter .filter-item:hover,
#videos #video-filter .filter-item.active {
  color: #e5ce96;
}
*/
/* button more / close */
#thumbnail-list .thumbnail.hidden {
  display: none;
}
#microsite #videos .expandable-toggle-wrap {
  display: none;
}
#microsite #videos .expandable-toggle-wrap.active,
#microsite #videos .expandable-toggle-wrap.spoiler {
  display: block;
  margin-bottom: 60px;
  margin-left: 0;
}
#microsite #videos .expandable-toggle-wrap ul li {
  margin: 0;
}

/* BEGIN MEDIA BREAKPOINTS */
@media (min-width: 1780px) {
  #microsite #videos .expandable-toggle-wrap {
    width: 1000px;
  }
/*
  #microsite section .file-video-mpx.view-mode-inline_content iframe {
    width: 1000px !important;
    height: 559px !important;
  }
  #microsite .block-usanetwork-mpx-video {
    width: 1050px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item {
    margin-right: 50px;
  }
*/
}

@media (max-width: 1779px) {
/*
  #microsite #videos-content .full-pane {
    width: 930px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 930px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 930px;
    height: 523px;
  }
*/
}

@media (max-width: 1174px) {
  #microsite .left-pane {
    width: 100%;
  }
  #microsite .right-pane {
    clear: left;
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    left: 0;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    top: 120px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg .first-line {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
/*
  #video-container .featured-asset .video-player-wrapper {
    height: 523px;
  }
*/
  #video-container .featured-asset .tve-help {
    font-size: 20px;
    line-height: 30px;
    height: 523px;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-close {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    left: 0;
    width: 100%;
  }
}

/*
@media (min-width: 1275px) {
  .featured-asset .video-player-wrapper iframe {
    width: 100%;
    height: 56.26%;
  }
}
*/

@media (max-width: 1280px) {
/*
  #microsite #videos-content .full-pane {
    width: 615px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 615px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 615px;
    height: 346px;
  }
*/
  #microsite .block-usanetwork-mpx-video {
    width: 630px;
  }
/*
  #video-container .featured-asset .video-player-wrapper {
    width: 100%;
    height: 56.26%;
  }
*/
  #video-container .featured-asset .tve-help .tve-close {
    top: 112px;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    top: 52px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    top: 82px;
  }
  #video-container .featured-asset .tve-help .tve-download-link {
    left: 0;
    top: 100px;
  }
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 346px;
  }
/*
  #microsite #ad_300x60_1 {
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
  }
*/
  #microsite #videos .full-desc .video-player-desc {
    margin-bottom: 70px;
  }
}

@media (max-width: 640px) {
  #microsite .block-usanetwork-mpx-video {
    width: 310px;
  }
/*
  #microsite #videos-content .full-pane {
    width: 300px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 300px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 300px;
    height: 184px;
  }
*/
  #microsite .full-pane #video-container .video-title {
    font-size: 20px;
    margin: 5px 0;
  }
  #microsite .full-pane #video-container {
    margin-bottom: 20px;
  }
  #microsite .full-pane #video-container .video-description, #microsite .full-pane #video-container .video-info {
    font-size: 12px;
    line-height: 16px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item {
    height: 121px;
    margin-bottom: 10px;
    margin-right: 10px !important;
    width: 145px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item.ad {
    display: none;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item img {
    height: 82px;
    width: 145px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper {
    height: 39px;
    padding: 5px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item.active .caption-fields-wrapper {
    height: 37px;
    padding: 5px;
  }
  #video-container .featured-asset .tve-help {
    font-size: 11px;
    line-height: 16px;
    float: none;
    left: 0;
    height: 186px;
    width: 300px;
  }
  #video-container .featured-asset .tve-help:before,
  #video-container .featured-asset .tve-help:after {
    left: 50%;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    top: 14px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    top: -6px;
  }
  #video-container .featured-asset .tve-help .tve-download-link {
    left: 0;
    top: -3px;
  }
  #video-container .featured-asset .tve-help .tve-close {
    font-size: 16px;
    line-height: 24px;
    top: 3px;
  }
/*
  #video-container .featured-asset .video-player-wrapper {
    float: none;
    height: 184px;
    width: 300px;
  }
*/
}
