.tve-help-sign img {
  width: 16px;
}
#videos .left-pane {
  float: left;
  width: calc(100% - 320px);
}
#videos .right-pane {
  float: left;
  width: 300px;
  margin-left: 20px;
}
#microsite .video-container {
  font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
}
#microsite .video-container iframe {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
#microsite .featured-asset .tve-help-link {
  margin-top: 4px;
}
#microsite .featured-asset .tve-help-link img {
  width: auto;
  height: 16px;
}
#microsite .video-title {
  font-size: 2em;
}
#microsite .video-description {
  font-size: 1.2em;
}
#microsite .video-info {
  font-size: 1.2em;
  color: #e5ce96;
}
.block-usanetwork-mpx-video .view .file h4, #block-views-usa-mpx-video-fullepisodes-live .view .file h4 {
  font-size: 0.875px;
  white-space: normal;
}
#microsite .block-usanetwork-mpx-video .view .file h4:after,
#block-views-usa-mpx-video-fullepisodes-live .view .file h4:after {
  background-image: none;
}
#microsite .video-container.in-player {
  display: block;
}
#microsite .full-pane #video-container {
  margin-bottom: 30px;
  position: relative;
}
#microsite .full-pane #video-container:after {
  content: '';
  clear: both;
  display: table;
}
#microsite .full-pane #video-container h1,
#microsite .full-pane #video-container h3 {
  margin: 7px 0;
  font-size: 1.5em;
  color: #000;
  line-height: 1.4em;
  text-transform: uppercase;
}
#microsite .full-pane #video-container h1.seo-h1,
#microsite .full-pane #video-container h3.seo-h1 {
  color: #000;
  font-size: 1.125em;
  line-height: 1.1em;
  text-transform: none;
  margin: -7px 0 7px;
}
#microsite .full-pane #video-container .video-description {
  font-size: 0.875em;
  color: #000;
}
#microsite .full-pane #video-container .video-info {
  font-size: 0.875em;
  color: #6C6F72;
}

/* VIDEO THUMBNAILS */
#microsite .block-usanetwork-mpx-video {
  margin: 0;
  width: 100%;
  font-size: 0.875em;
  color: #FFF;
}
#microsite .block-usanetwork-mpx-video:after {
  clear: both;
  content: '';
  display: table;
}
#microsite .block-usanetwork-mpx-video li.grid-item {
  clear: none;
  float: left;
  height: 50px;
  margin: 0 3% 3% 0;
  width: 47%;
  overflow: hidden;
  background-color: #999;
  display: table;
}
#microsite .block-usanetwork-mpx-video li.grid-item .title {
  text-transform: uppercase;
}
/*
#microsite .block-usanetwork-mpx-video li.grid-item:nth-child(even) {
  margin-right: 0;
}
#microsite .block-usanetwork-mpx-video li.grid-item:nth-child(odd) {
  clear: left;
}
*/
#microsite .block-usanetwork-mpx-video li.grid-item:hover,
#microsite .block-usanetwork-mpx-video li.grid-item.active {
  background-color: #56000A;
}
#microsite .block-usanetwork-mpx-video li.grid-item .file {
  border: 0;
  padding: 0 8px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper {
  height: 81px;
  background-color: transparent;
}
#microsite .block-usanetwork-mpx-video li.grid-item.active .caption-fields-wrapper {
  height: 77px;
}
#microsite .block-usanetwork-mpx-video li.grid-item img {
  display: none;
}
#microsite #videos #thumbnail-list .field-name-field-mpx-title,
#microsite #videos #thumbnail-list .field-name-field-seo-h1 {
  padding: 0 4px;
  line-height: 20px;
}
#microsite #videos #thumbnail-list li.active .field-name-field-mpx-title,
#microsite #videos #thumbnail-list li.active .field-name-field-seo-h1 {
  padding: 0 4px;
  line-height: 20px;
}
#microsite .expandable-container .expandable-toggle-wrap {
  display: none;
}
/* END VIDEO THUMBNAILS */

#microsite .block-usanetwork-mpx-video li.grid-item.ad {
  background-color: #1F1F1F;
  position: relative;
}
#microsite #videos #ad_300x60_1 {
  margin: 10px auto;
}
#microsite #videos #ad_728x90_1 {
  width: 728px;
  margin: 0 auto;
}
#microsite .block-usanetwork-mpx-video li.ad img {
  height: 100%;
}
#microsite #video-container .video-player {
  position: relative;
}
#video-container .active-player .custom-play {
  background-image: url("../images/icons/playOverlay.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  cursor: pointer;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 1;
}
/* corrected player style */
.video-auth-player-wrapper {
  display: none;
}
.video-auth-player-wrapper.featured-asset {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help {
  margin: 0;
}
.video-auth-player-wrapper.featured-asset .tve-help-link {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .loginButton img {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut {
  position: static;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .tve-header-links > li {
  margin: 0;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0 0 12px;
  border-left: 1px solid #ffffff;
  line-height: 10px;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .tve-close {
  cursor: pointer;
}
.video-auth-player-wrapper.featured-asset .tve-help:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  bottom: -1px;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 106 !important;
}
.video-auth-player-wrapper.featured-asset .tve-help:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #4b4b4b;
  border-right: 14px solid transparent;
  bottom: 0;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 105 !important;
}
#video-container .file-video-mpx {
  line-height: 0;
  position: relative;
}
.video-auth-player-wrapper.featured-asset .video-player-wrapper {
  float: none;
  margin: 0; /* 0 0 15px 0; */
}
#microsite .featured-asset .video-player-wrapper {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%; /* 615px; */
  height: 56.26%; /* 346px; */
  margin-right: 0; /* 15px; */
  margin-bottom: 4px;
}
#microsite .file-video-mpx.view-mode-inline_content iframe,
#microsite .featured-asset .video-player-wrapper iframe {
  width: 100%; /* 615px; */
  height: calc(56.26% * 1px); /* 346px; */
}
/*
@media (min-width: 1275px) {
.featured-asset .video-player-wrapper {
  width: 100%; /* 930px; *//*
  height: 56.26%; /* 523px; *//*
}
}
@media (min-width: 1280px) {
#video-container .featured-asset .video-player-wrapper {
  width: 100%;
  height: 56.26%; /* 523px; *//*
}
}
*/
#video-container .error-message {
  display: none;
  line-height: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#microsite #videos .full-desc {
  margin-bottom: 90px;
}
/* video-filter */
#videos .filter-wrapper {
  margin: 20px 0 0;
}
#video-filter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#video-filter .filter-label {
  display: none;
}
/*
#video-filter .item-list {
  width: 75%;
  margin: 0 auto;
}
*/
#video-filter ul {
  display: inline-block;
  width: 70%;
}
#video-filter li.filter-item {
  float: left;
  margin: 0 2% 0 0;
  padding: 3px 0 0; /* 4px 30px 0; */
  background-color: #999;
  font-size: 1.125em;
  line-height: 1.6em;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
}

/* one item */
#video-filter li.filter-item:first-child:nth-last-child(1) {
	width: 98%;
}

/* two items */
#video-filter li.filter-item:first-child:nth-last-child(2),
#video-filter li.filter-item:first-child:nth-last-child(2) ~ li {
	width: 48%;
}

/* three items */
#video-filter li.filter-item:first-child:nth-last-child(3),
#video-filter li.filter-item:first-child:nth-last-child(3) ~ li {
	width: 31.3333%;
}

/* four items */
#video-filter li.filter-item:first-child:nth-last-child(4),
#video-filter li.filter-item:first-child:nth-last-child(4) ~ li {
	width: 23%;
}

/* five items */
#video-filter li.filter-item:first-child:nth-last-child(5),
#video-filter li.filter-item:first-child:nth-last-child(5) ~ li {
	width: 18%;
}

#video-filter li.filter-item:hover,
#video-filter li.filter-item.active {
  background-color: #56000A;
}
#video-filter li.filter-item .item-list {
  display: none;
  position: absolute;
  top: 31px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
}
#video-filter li.filter-item .item-list ul {
  display: block;
  width: 100%;
}
#video-filter li.filter-item:hover .item-list {
  display: block;
}
#video-filter li.filter-child-item {
  width: 100%;
  display: block; /* inline-block; */
  text-align: center;
  background-color: #68000B;
  margin: 0;
  padding: 8px 0;
  color: #FFF;
}
#video-filter li.filter-child-item:hover {
  color: #FFE476;
}

/* button more / close */
#thumbnail-list .thumbnail.hidden {
  display: none;
}
#microsite #videos .expandable-toggle-wrap {
  display: none;
}
#microsite #videos .expandable-toggle-wrap.active,
#microsite #videos .expandable-toggle-wrap.spoiler {
  display: block;
  margin-bottom: 60px;
  margin-left: 0;
}
#microsite #videos .expandable-toggle-wrap ul li {
  margin: 0;
}

/* full pane */
#microsite #videos .full-pane {
  margin-top: 20px;
}

/* BEGIN MEDIA BREAKPOINTS */
@media (min-width: 1780px) {
  #microsite #videos .expandable-toggle-wrap {
    width: 1000px;
  }
/*
  #microsite section .file-video-mpx.view-mode-inline_content iframe {
    width: 1000px !important;
    height: 559px !important;
  }
  #microsite .block-usanetwork-mpx-video {
    width: 1050px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item {
    margin-right: 50px;
  }
*/
}

@media (max-width: 1779px) {
/*
  #microsite #videos-content .full-pane {
    width: 930px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 930px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 930px;
    height: 523px;
  }
*/
}

@media (max-width: 1174px) {
  #microsite .left-pane {
    width: 100%;
  }
  #microsite .right-pane {
    clear: left;
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: 641px) {
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    left: 0;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    top: 120px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg .first-line {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
/*
  #video-container .featured-asset .video-player-wrapper {
    height: 523px;
  }
*/
  #video-container .featured-asset .tve-help {
    font-size: 20px;
    line-height: 30px;
    height: 523px;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-close {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    left: 0;
    width: 100%;
  }
}

/*
@media (min-width: 1275px) {
  .featured-asset .video-player-wrapper iframe {
    width: 100%;
    height: 56.26%;
  }
}
*/

@media (max-width: 1280px) {
/*
  #microsite #videos-content .full-pane {
    width: 615px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 615px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 615px;
    height: 346px;
  }
*/
  #microsite .block-usanetwork-mpx-video {
    width: calc(100% - 320px); /* 630px; */
    float: left;
  }
  #ad_300x60_1,
  #ad_300x250 {
    float: right;
  }
/*
  #video-container .featured-asset .video-player-wrapper {
    width: 100%;
    height: 56.26%;
  }
*/
  #video-container .featured-asset .tve-help .tve-close {
    top: 112px;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    top: 52px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    top: 82px;
  }
  #video-container .featured-asset .tve-help .tve-download-link {
    left: 0;
    top: 100px;
  }
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 346px;
  }
/*
  #microsite #ad_300x60_1 {
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
  }
*/
  #microsite #videos .full-desc .video-player-desc {
    margin-bottom: 70px;
  }
}

@media (max-width: 930px) {
  #microsite .block-usanetwork-mpx-video li.grid-item {
    margin: 0 1% 1% 0;
    width: 49%;
  }
}

@media (max-width: 640px) {
  #microsite .block-usanetwork-mpx-video {
    width: 310px;
  }
/*
  #microsite #videos-content .full-pane {
    width: 300px;
  }
*/
  #microsite #videos .expandable-toggle-wrap {
    width: 300px;
  }
/*
  #microsite #videos-content .file-video-mpx.view-mode-inline_content iframe {
    width: 300px;
    height: 184px;
  }
*/
  #microsite .full-pane #video-container .video-title {
    font-size: 20px;
    margin: 5px 0;
  }
  #microsite .full-pane #video-container {
    margin-bottom: 20px;
  }
  #microsite .full-pane #video-container .video-description, #microsite .full-pane #video-container .video-info {
    font-size: 12px;
    line-height: 16px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item {
    height: 121px;
    margin-bottom: 10px;
    margin-right: 10px !important;
    width: 145px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item.ad {
    display: none;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item img {
    height: 82px;
    width: 145px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper {
    height: 39px;
    padding: 5px;
  }
  #microsite .block-usanetwork-mpx-video li.grid-item.active .caption-fields-wrapper {
    height: 37px;
    padding: 5px;
  }
  #video-container .featured-asset .tve-help {
    font-size: 11px;
    line-height: 16px;
    float: none;
    left: 0;
    height: 186px;
    width: 300px;
  }
  #video-container .featured-asset .tve-help:before,
  #video-container .featured-asset .tve-help:after {
    left: 50%;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    top: 14px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    top: -6px;
  }
  #video-container .featured-asset .tve-help .tve-download-link {
    left: 0;
    top: -3px;
  }
  #video-container .featured-asset .tve-help .tve-close {
    font-size: 16px;
    line-height: 24px;
    top: 3px;
  }
/*
  #video-container .featured-asset .video-player-wrapper {
    float: none;
    height: 184px;
    width: 300px;
  }
*/
}
