/* IE scrollbars */
body{
  scrollbar-base-color: #000;
  scrollbar-face-color: #333;
  scrollbar-3dlight-color: #333;
  scrollbar-highlight-color: #333;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #222;
  scrollbar-dark-shadow-color: #000;
}
/* Webkit scrollbars - Safari, Chrome */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
  border-left: 0 solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #333;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.8);
}
#microsite #characters {
  position: relative;
  top: 0;
  left: 0;
}
#microsite #characters li {
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
#microsite #characters section {
  overflow-x: hidden !important;
}
#microsite #characters .microsite-section-container {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}
#microsite #characters #character-inner-container {
  width: calc(100% - 190px);
  position: relative;
  margin: 0 0 0 190px;
  max-width: none;
}
#microsite #characters #character-background li {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
#microsite #characters #character-background li.active {
  display: block;
}
#microsite #characters #character-background li.next {
  left: 100%;
  display: block;
}
#microsite #characters #character-background li.prev {
  left: -100%;
  display: block;
}
#microsite #characters #right-pane-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  background: rgb(0, 0, 0) transparent;
  background-color: rgba(0, 0, 0, 0.75);
  width: 45%;
  margin-left: 55%; /* calc(((100% - 190px) * 0.55) + 190px); */
}
#microsite #characters .right-pane-content {
  width: 45%;
  margin-left: 55%;
}
#microsite #characters .ad-leaderboard {
  position: relative;
}
#microsite #characters h2 {
  line-height: 0.9em;
  position: relative;
  text-align: center;
}
#microsite #characters .content {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 82%;
}
#microsite #characters .underline {
  border-bottom: 1px solid #FFF;
  margin-top: 12px;
  margin-bottom: 28px;
}
#microsite #characters .character-nav {
  width: 220px;
  height: 24px;
  margin: 30px auto;
  position: relative;
  top: 0;
  left: 0;
  color: #FFF;
  opacity: 0;
}
#microsite #characters .character-nav ul {
  float: left;
  width: 180px;
}
#microsite #characters .character-nav li {
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 10px 6px;
  overflow: visible;
  position: relative;
  top: 5px;
  left: 0;
}
#microsite #characters .character-nav li .character-nav-link {
  width: 12px;
  height: 12px;
  background: #FFF;
  cursor: pointer;
}
#microsite #characters .character-nav li .character-nav-link:hover,
#microsite #characters .character-nav li.active .character-nav-link {
  background: #e5ce96;
}
#microsite #characters .character-nav li .tooltip {
  display: none;
}

@media (min-width: 875px) {
#microsite #characters .character-nav li .tooltip {
  display: block;
  pointer-events: none;
  position: absolute;
  bottom: 21px;
  left: -148px;
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 0.8em;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
#microsite #characters .character-nav li .character-nav-link:hover + .tooltip {
  opacity: 1;
}
html.ie9 #microsite #characters .character-nav li .tooltip,
html.ie10 #microsite #characters .character-nav li .tooltip {
  display: none;
  opacity: 1;
}
html.ie9 #microsite #characters .character-nav li .character-nav-link:hover + .tooltip,
html.ie10 #microsite #characters .character-nav li:hover + .tooltip {
  display: block;
}
#microsite #characters .character-nav li .tooltip div {
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 3px;
}
#microsite #characters .character-nav li .tooltip img {
  border: 2px solid #FFF;
  width: 59px;
  height: 60px;
  margin: 0 auto;
}
}


#microsite #characters .btns {
  color: #FFF;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 96;
}
#microsite #characters .character-nav #nav-prev,
#microsite #characters .character-nav #nav-next {
  margin: 2px 0 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'usanetwork';
  speak: none;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#microsite #characters .character-nav #nav-prev {
  float: left;
}
#microsite #characters .character-nav #nav-next {
  float: right;
}
#microsite #characters .character-nav #nav-prev.disabled,
#microsite #characters .character-nav #nav-next.disabled {
  color: #333;
}
#microsite #characters .character-nav #nav-prev:hover,
#microsite #characters .character-nav #nav-next:hover {
  color: #e5ce96;
}
#microsite #characters .character-nav #nav-prev.disabled:hover,
#microsite #characters .character-nav #nav-next.disabled:hover {
  color: #333;
}
#microsite #characters #character-info-container {
  position: relative;
  min-height: 200px;
}
#microsite #characters #character-info li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}
#microsite #characters #character-info li.active {
  display: block;
  opacity: 1;
}
#microsite #characters #character-info li.next,
#microsite #characters #character-info li.prev {
  display: block;
  height: 0;
  opacity: 0;
  top: -40px;
}
#microsite #characters h3 {
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 1.4em;
  letter-spacing: .05em;
  font-family: "avalonmedium", Helvetica, Arial, sans-serif;
}
#microsite #characters .character-social {
  display: inline-block;
  line-height: 0.6em;
  position: relative;
  top: 2px;
  left: 0;
}
#microsite #characters .character-social div {
  float: left;
  padding-right: 8px;
}
#microsite #characters .icons-social a {
  color: #FFF;
  background-color: #0ab6e8;
  font-size: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 4px 3px 3px;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-left: 5px;
}
#microsite #characters .icons-social a.person-facebook {
  padding-left: 6px;
}
#microsite #characters .character-role {
  color: #e5ce96;
  font-style: italic;
  margin-top: 0.1em;
  margin-bottom: 1em;
}
#microsite #characters .character-bio-tabs {
  clear: left;
  height: 28px;
  margin-bottom: 15px;
}
#microsite #characters .character-bio-tabs div {
  float: left;
  display: block;
  background-color: #000;
  color: #FFF;
  border: 1px solid #FFF;
  text-transform: uppercase;
  padding: 6px 8px 4px;
  line-height: 1em;
  cursor: pointer;
}
#microsite #characters .character-bio-tabs div:first-child {
  margin-right: 20px;
}
#microsite #characters .character-bio-tabs div:hover,
#microsite #characters .character-bio-tabs div.active {
  background-color: #FFF;
  color: #000;
}
#microsite .character-bios-container {
  position: relative;
  display: block;
  width: 100%;
}
#microsite #characters .text {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-right: 10px;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  z-index: 10;
}
#microsite #characters .text.active {
  opacity: 1;
  z-index: 20;
}
#microsite #characters .ad300x250 {
  height: 250px;
}
#microsite #characters .mobile {
  display: none;
}


/* BEGIN BREAKPOINTS */
@media (max-width: 1020px) {
#microsite #characters #right-pane-bg {
  width: 100%;
  margin-left: 0;
}
#microsite #characters .right-pane-content {
  width: 100%;
  margin-left: 0;
}
}

@media (max-width: 874px) {
#microsite #characters #character-inner-container {
  width: 100%;
  margin: 0 auto;
}
#microsite #characters #right-pane-bg {
  background-color: transparent;
}
#microsite #characters .right-pane-content {
  width: 75%;
  margin: 0 auto;
}
#microsite #characters .character-nav li:hover .tooltip {
  display: none;
}
#microsite #characters .mobile {
  display: block;
  width: 25%;
  float: left;
  margin-right: 12px;
}
#microsite #characters h3 {
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 3px;
  float: left;
  width: calc(75% - 12px);
}
#microsite #characters .character-social {
  line-height: 0.6em;
  float: left;
  width: calc(75% - 12px);
}
#microsite #characters .character-role {
  margin-top: 0.1em;
  margin-bottom: 1em;
  clear: left;
}
}

@media (max-width: 542px) {
#microsite #characters #character-inner-container {
  width: 100%;
  margin: 0 auto;
}
#microsite #characters #right-pane-bg {
  background-color: transparent;
}
#microsite #characters .right-pane-content {
  width: 90%;
  margin: 0 auto;
}
}
