/* GALLERIES */
#microsite #galleries-content .microsite-section-container {
  max-width: 1400px;
}
/* panes */
#microsite #galleries-content .full-pane {
  width: 100%;
  max-width: 100%;
  min-height: 830px;
  float: left;
}
#microsite #galleries-content .full-pane:after {
  content: '';
  display: table;
  clear: both;
}
#microsite #galleries-content .left-pane {
  position: relative;
  float: left;
  width: 100%;
}
#microsite section#galleries-content .right-pane {
  width: 100%;
  float: left;
  margin-top: 40px;
}


/* left pane content */
#microsite #galleries-content .microsite-gallery-meta {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#microsite #galleries-content .microsite-gallery-meta h1,
#microsite #galleries-content .microsite-gallery-meta h2 {
  float: left;
  font-size: 1.7em;
  line-height: 1.1em;
  margin: 0 0 0.2em;
  overflow: hidden;
  text-shadow: 1px 1px 3px #000;
  width: calc(100% - 220px);
}
#microsite #galleries-content .microsite-gallery-meta h1 {
  font-size: 0.7em;
}
#microsite #galleries-content .microsite-gallery-meta h1:nth-last-child(2) {
  font-size: 1.7em;
}
#microsite .node-media-gallery.view-mode-inline_content {
  max-width: 100%;
}
#microsite #galleries-content .microsite-gallery .description-block {
  padding: 0;
  text-align: left;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.3em;
  height: 60px;
  display: block;
  overflow-y: auto;
}
#microsite #galleries-content .microsite-gallery .description-block p {
  margin: 0;
}
#microsite .photo-caption {
  width: 100%;
  font-size: 1em;
  line-height: 0.8em;
  clear: both;
}
#microsite #galleries #gallery-loader {
  opacity: 0;
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#microsite #galleries #gallery-loader img {
  position: absolute;
  left: 100%;
  margin-left: calc(-50% - 16px);
  top: 45%;
}

/* flexslider */
#microsite #galleries-content .flexslider {
  max-width: 1400px;
  overflow: hidden;
}
#microsite #galleries-content .flexslider li {
  background-color: #000;
}
#microsite #galleries-content .flexslider .slides > li img {
  max-height: 100%;
  width: auto;
}
#microsite #galleries-content .flexslider .counter {
  position: absolute;
  right: 10px;
  top: 10px;
}
#microsite #galleries-content .flexslider .field-name-field-caption {
  display: none;
}

/* gigya */
#microsite .field-type-gigya-sharebar {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  right: -16px;
}
#microsite #gigya-share {
  width: 196px;
  float: left;
  margin-left: 20px;
  clear: none;
}

/* right pane content */
#microsite #galleries .galleries-nav {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
}
#microsite #galleries .galleries-nav.narrow {
  width: calc(100% - 340px);
}
#microsite #galleries .galleries-nav .bxslider-container {
  position: relative;
  margin: 0;
}
#microsite #galleries .galleries-nav h3 {
  margin: 0 0 8px;
  text-shadow: 1px 1px 3px #000;
}
#microsite #galleries .bx-wrapper {
  margin: 0 0 60px;
}
#microsite #galleries .galleries-nav .bx-wrapper {
  background-color: #000;
  border-color: #000;
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 224px !important;
}
#microsite #galleries .galleries-nav .bx-wrapper .gallery-nav-img {
  width: 100%;
  height: 140px;
  overflow: hidden;
}
#microsite #galleries .galleries-nav .bx-wrapper img {
  width: 100%;
}
#microsite #galleries .galleries-nav .galleries-page-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
}
#microsite #galleries .galleries-nav .galleries-page-controls > div {
  float: left;
}
#microsite #galleries .galleries-nav .bx-wrapper .bx-controls {
  display: none;
}
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a.active {
  background: #000;
}
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#microsite #galleries .galleries-nav .bx-wrapper .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-wrapper .bx-pager.bx-default-pager a.active,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a.active {
  background-color: #FFF;
}
#microsite #galleries .galleries-nav .bx-pager .bx-pager-item,
#microsite #galleries .galleries-nav .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
#microsite #galleries #ep-galleries,
#microsite #galleries #character-galleries {
  opacity: 0;
}
#microsite #galleries .galleries-nav li {
  background-color: #1F1F1F;
  width: 250px;
}
#microsite #galleries .galleries-nav li a {
  width: 100%;
  height: 100%;
  display: block;
}
#microsite #galleries .galleries-nav li a {
  border: 1px solid #000;
}
#microsite #galleries .galleries-nav li.active a {
  border: 1px solid #FFF;
}
#microsite #galleries .galleries-nav li a .gallery-title {
  font-size: 1em;
  line-height: 18px;
  height: 64px;
  letter-spacing: 0.03em;
  padding: 14px 5px;
  color: #FFF;
  background-color: #000;
  text-align: left;
}
/*
#microsite #galleries .galleries-nav .btns {
  display: inline-block; /* Fix for clickability issue in WebKit *//*
  position: absolute;
  top: 40%;
}
*/
#microsite #galleries .galleries-nav .gallery-pagers {
  position: relative;
  margin: 0;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#microsite #galleries .bx-pager.bx-default-pager {
  height: 10px;
  line-height: 10px;
}
#microsite #galleries .galleries-nav .btns.prev,
#microsite #galleries .galleries-nav .btns.next {
  line-height: 18px;
}
#microsite #galleries .galleries-nav .btns.prev {
  margin-right: 4px;
}
#microsite #galleries .galleries-nav .btns.next {
  margin-left: 4px;
}
#microsite #galleries .galleries-nav .btns a {
  color: #FFF;
/*
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
*/
  width: 35px;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  font-family: 'usanetwork';
  speak: none;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  z-index: 96;
}
#microsite #galleries .galleries-nav .btns a:hover {
  color: #FFF;
}
#microsite #galleries .galleries-nav .btns a.disabled {
  cursor: default;
}
#microsite #galleries .galleries-nav .btns .screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#microsite #galleries .right-pane .ad300x250 {
  float: right;
}



/* BEGIN MEDIA QUERIES */
@media (max-width: 1930px) {
  #microsite #galleries-content .microsite-section-container {
    width: calc(90% - 270px);
    margin-left: 270px;
  }
}

@media (max-width: 1268px) {
  #microsite #galleries .galleries-nav.narrow {
    width: 100%;
  }
  #microsite #galleries .bx-wrapper {
    margin-bottom: 30px;
  }
  #microsite #galleries-content .right-pane .ad300x250 {
    float: left;
  }
}

@media (max-width: 1120px) {
  #microsite #galleries-content .microsite-gallery h2 {
    width: 100%;
  }
  #microsite #gigya-share {
    clear: left;
    margin-left: 0;
  }
}

@media (max-width: 874px) {
  #microsite #galleries-content .microsite-section-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 709px) {
  #microsite #galleries-content .microsite-gallery-meta h2 {
    width: calc(100% - 178px);
  }
  #microsite #gigya-share {
    width: 158px;
    margin-left: 20px;
  }
}

@media (max-width: 640px) {
  #microsite #galleries .galleries-nav {
    float: none;
  }
  #microsite #galleries .galleries-nav .bxslider-container {
    margin: 0 auto;
  }
  #microsite section#galleries-content .flexslider {
    margin: 0;
  }
  #microsite #galleries-content .microsite-gallery-meta {
    white-space: normal;
    position: relative;
    bottom: auto;
    max-height: none;
    width: 100%;
  }
  #microsite #galleries-content .microsite-gallery-meta h1,
  #microsite #galleries-content .microsite-gallery-meta h2 {
    float: left;
    font-size: 1.4em;
    line-height: 1.1em;
    margin: 0 0 0.2em;
    width: 100%;
  }
  #microsite #galleries-content .microsite-gallery-meta h1 {
    font-size: 0.6em;
  }
  #microsite #galleries-content .microsite-gallery-meta h1:nth-last-child(2) {
    font-size: 1.4em;
  }
  #microsite .field-type-gigya-sharebar {
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    right: 0;
  }
  #microsite #gigya-share {
    float: left;
    margin-left: 0;
    clear: left;
  }
  #microsite #galleries .galleries-nav .bx-wrapper {
    height: 144px !important;
  }
  #microsite #galleries .galleries-nav .bx-wrapper .gallery-nav-img {
    height: 78px;
  }
  #microsite #galleries .galleries-nav li a .gallery-title {
    font-size: 0.84em;
    letter-spacing: 0.02em;
    padding: 10px 5px;
    height: 54px;
  }
  #microsite #galleries-content .right-pane .ad300x250 {
    float: none;
    margin: 0 auto 30px;
  }
}


/* BEGIN MOBILE SPECIFIC DEVICES */
/* ========== BEGIN SMARTPHONES =========== */
@media only screen
and (min-device-width: 200px)
and (max-device-width: 568px) {
  #microsite #galleries .galleries-nav.narrow {
    width: 100%;
  }
}
/*_________________*/
