// DEFAULT COLORS
$nav-black          : rgba(black, 0.9);
$black-trans-9      : rgba(black, 0.9);
$black-trans-85     : rgba(black, 0.85);
$black-trans        : rgba(black, 0.8);
$black-trans-5      : rgba(black, 0.5);
$black-trans-3      : rgba(black, 0.3);
$black-trans-vid    : rgba(31, 31, 31, 0.3);
$black-dark         : #161616;
$black-true         : #000000;
$black              : #1f1f1f;
$black-into-gray    : #232323;
$gray-dark          : #2d2d2d;
$gray-med           : #3d3d3d;
$gray-med-darker    : #313131;
$gray-med-dark      : #414141;
$gray-ultra-med     : #4B4B4B;
$gray-ultra-med-alt : #4a4a4a;
$gray-semi-med      : #5b5b5b;
$gray-semi-ultra-med: #505050;
$gray-darker-light  : #636363;
$gray-dark-light    : #717274;
$gray-light         : #878785;
$gray-light-gamma   : #959595;
$gray-extra-light   : #A3A3A3;
$gray-sky           : #CCCCCC;
$tan                : #b0b0b0;
$tan-light          : #d6d6d6;
$beige              : #D0D0D0;
$off-white          : #EBEBEB;
$off-white-alt      : #e8e8e8;
$white              : white;
$white-trans-1      : rgba($white, 0.1);
$white-trans-75     : rgba($white, 0.75);
$white-trans-5      : rgba($white, 0.5);
$white-trans-3      : rgba($white, 0.3);
$blue               : #0ab6e8;
$orange             : #f8981d;
$red                : #d63c17;


// Color variables expected 04-base
$base-color: $black;
$text-color: $white;
$alt-color: $blue;
$background-color: $black;
$border-color: $gray-light;


// link colors
$link-normal: $blue;
$link-hover: $white;
$link-active: $white;
$link-visited: $blue;
$link-focus: $blue;
$link-border-normal: $blue;
$link-border-hover: $white;
$link-border-active: $white;
$link-border-visited: $blue;


