// DEFAULT COLORS
$black-dark         : #161616;
$black              : #1f1f1f;
$nav-black          : rgba(black,.9);
$black-trans        : rgba(black,.8);
$black-trans-5      : rgba(black,.5);
$gray-light         : #878785;
$gray-med           : #3d3d3d;
$gray-dark          : #2d2d2d;
$white              : white;
$blue               : #0ab6e8;
$orange             : #f8981d;






// Color variables expected 04-base
$base-color: $black;
$text-color: $white;
$alt-color: $blue;
$background-color: $black-dark;
$border-color: $gray-light;


// link colors
$link-normal: $blue;
$link-hover: $white;
$link-active: $white;
$link-visited: $blue;
$link-focus: $blue;
$link-border-normal: $blue;
$link-border-hover: $white;
$link-border-active: $white;
$link-border-visited: $blue;


