[id$="-field-best-of-block-format-und"]:after {
  clear: both;
  content: '';
  display: table;
}
[id$="-field-best-of-block-format-und"] > div {
  float: left;
  margin-right: 20px!important;
}
[id$="-field-best-of-block-format-und"] > div:last-child {
  clear: right;
  margin-right: 0!important;
}
[id$="-field-best-of-block-format-und"] > div:nth-child(1) label {
  background: url("/sites/usanetwork/themes/aurora_usa/images/layout-icons/BestOfBlocksIconsA.gif");
}
[id$="-field-best-of-block-format-und"] > div:nth-child(2) label {
  background: url("/sites/usanetwork/themes/aurora_usa/images/layout-icons/BestOfBlocksIconsB.gif");
}
[id$="-field-best-of-block-format-und"] > div label {
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  vertical-align: middle!important;
  width: 100px;
}
[id$="-field-best-of-block-format-und"] > div input {
  display: inline-block;
  vertical-align: middle;
}

