#edit-field-aspot-preview-bg-offset-preview {
    display: block;
    width: 200px;
    height: 480px;
    border: solid #aaa 1px;
}

#edit-field-aspot-preview-mbg-offset-preview {
    display: block;
    width: 200px;
    height: 480px;
    border: solid #aaa 1px;
}

#edit-field-aspot-enabled-gi-preview {
    display: block;
    width: 100%;
   /* height: 600px; */
    border: solid #aaa 1px;
    position: relative;
}

.aspot-draggable-element {
    display: block;
    width: 256px;
    border: solid 1px #666;
    margin: 0;
    border-radius: 6px;
    background-color: rgba(200, 200, 200, 0.6);
    padding: 3px;
}

#edit-field-aspot-gi-draggable-data {
    display: none;
    visibility: hidden;
}
