@import "fonts.css";

#edit-group_usa_aspot_ui,
#edit-field-aspot-enabled-tgi{
  background: #ccc;
}

#edit-group_usa_aspot_ui .wrapper-desktop,
#edit-field-aspot-enabled-tgi .wrapper-desktop{
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.draggable-background.desktop {
  border: solid #aaa 1px;
  display: block;
  height: 480px;
  width: 200px;
}
.draggable-area {
  border: solid #aaa 1px;
}
.draggable-area img{
  margin: 0;
  height: 100%;
  width: 100%;
}
.draggable-area.mobile{
  display: block;
  line-height: 0;
  margin-bottom: 30px;
  position: relative;
  /*overflow: hidden;*/
  height: 560px;
  width: 640px;
}
.draggable-area.desktop {
  display: block;
  line-height: 0;
  margin-bottom: 30px;
  position: relative;
  /*overflow: hidden;*/
  height: 560px;
  width: 1280px;
}

.draggable-area.desktop#edit-field-aspot-enabled-showpage-preview {
  height: 550px;
  width: 983px;
}
/* Draggable elements */

/* default */
.aspot-draggable-element {
  /*background-color: rgba(200, 200, 200, 0.6);*/
  /*border-radius: 6px;*/
  /*border: solid 1px #666;*/
  color: #ffffff;
  box-sizing: border-box;
  display: block;
  line-height: normal;
  outline: 1px solid #ffffff;
  /*margin: 0;*/
  /*padding: 3px;*/
  left: 0;
  top: 0;
}
.aspot-draggable-element.active {
  outline: 1px dashed #f00;
}
.aspot-draggable-element p {
  margin: 0;
}

.draggable-area.mobile div[data-rel="title"],
.draggable-area.desktop div[data-rel="title"] {
  font-family: "avalonmedium", Helvetica, Arial, sans-serif;
  line-height: initial;
  text-transform: uppercase;
  text-shadow: 1px 1px 0.5em #333333;
}
.draggable-area.mobile div[data-rel="aspot_description"],
.draggable-area.desktop div[data-rel="aspot_description"] {
  font-family: "avalonmedium", Helvetica, Arial, sans-serif;
  line-height: initial;
  text-shadow: 1px 1px 0.5em #333333;
}
.draggable-area.mobile div[data-rel="title_prefix"],
.draggable-area.desktop div[data-rel="title_prefix"] {
  font-family: "texgyrescholaitalic", Times, serif;
  line-height: initial;
  text-transform: uppercase;
  text-shadow: 1px 1px 0.5em #333333;
}
.draggable-area.mobile div[data-rel="social_meter"],
.draggable-area.desktop div[data-rel="social_meter"] {
  background: #2c2c2c;
}
.draggable-area.mobile .aspot-draggable-cta-button,
.draggable-area.desktop .aspot-draggable-cta-button {
  font-family: "avalonmedium", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

/* mobile */
.draggable-area.mobile div[data-rel="title"] {
  font-size: 66.56px;
  line-height: 0.88;
  letter-spacing: 0.02em;
}
.draggable-area.mobile div[data-rel="aspot_description"] {
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1;
}
.draggable-area.mobile div[data-rel="title_prefix"] {
  font-size: 17.28px;
  line-height: 1;
  letter-spacing: 0.1em;
}
.draggable-area.mobile .aspot-draggable-cta-button {
  font-size: 17.28px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  padding: 0 41.6px 0 0;
}
.draggable-area.mobile .aspot-draggable-cta-button[data-rel="cta_button_0"] {
  background: #2c2c2c;
  padding: 8.96px 41.6px 8.96px 22.4px;
}
.draggable-area.mobile div[data-rel="social_meter"]{
  font-size: 22px;
  height: auto;
  line-height: 26px;
  padding: 42px 18.24px 70.781px 76.27px;
  width: 212px;
}
/* desktop */
.draggable-area.desktop div[data-rel="title"] {
  font-size: 76.8px;
  line-height: 0.88;
  letter-spacing: 0.02em;
}
.draggable-area.desktop div[data-rel="aspot_description"] {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
}
.draggable-area.desktop div[data-rel="title_prefix"] {
  font-size: 14.08px;
  line-height: 1;
  letter-spacing: 0.1em;
}
.draggable-area.desktop .aspot-draggable-cta-button {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  padding: 0 57.6px 0 0;
}
.draggable-area.desktop .aspot-draggable-cta-button[data-rel="cta_button_0"] {
  background: #2c2c2c;
  padding: 17.92px 57.6px 17.92px 44.78px;
}
.draggable-area.desktop div[data-rel="social_meter"]{
  font-size: 24px;
  height: auto;
  line-height: 28.8px;
  padding: 46px 20px 75.797px 102.48px;
  width: 231px;
}
#edit-field-aspot-gi-draggable-data {
  display: none;
  visibility: hidden;
}

/* custom buttons*/
#edit-group_usa_aspot_ui .wrapper-mobile,
#edit-group_usa_tv_aspot_ui .wrapper-mobile,
#edit-group_usa_aspot_ui .wrapper-desktop,
#edit-group_usa_tv_aspot_ui .wrapper-desktop{
  position: relative;
}
#edit-group_usa_aspot_ui .buttons-wrapper,
#edit-group_usa_tv_aspot_ui .buttons-wrapper{
  position: absolute;
  top: 30px;
}
#edit-group_usa_aspot_ui .wrapper-desktop .buttons-wrapper,
#edit-group_usa_tv_aspot_ui .wrapper-desktop .buttons-wrapper{
  position: static;
  /*left: 850px;*/
  /*top: 102%;*/
}
#edit-group_usa_tv_aspot_ui .wrapper-desktop .buttons-wrapper{
  left: 650px;
}
#edit-group_usa_aspot_ui .wrapper-mobile .buttons-wrapper,
#edit-group_usa_tv_aspot_ui .wrapper-mobile .buttons-wrapper{
  left: 700px;
}
#edit-group_usa_aspot_ui .wrapper-desktop .buttons-wrapper .button,
#edit-group_usa_tv_aspot_ui .wrapper-desktop .buttons-wrapper .button{
  display: inline-block;
  margin-right: 30px;
}
#edit-group_usa_aspot_ui .buttons-wrapper .button,
#edit-group_usa_tv_aspot_ui .buttons-wrapper .button{
  background: #e4e4e4;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
}
#edit-group_usa_aspot_ui .buttons-wrapper .button:hover,
#edit-group_usa_tv_aspot_ui .buttons-wrapper .button:hover{
  background: #a1a1a1;
}

/*
  change field font size
*/
#edit-group_usa_aspot_ui .wrapper-mobile .edit-font-wrapper,
#edit-group_usa_tv_aspot_ui .wrapper-mobile .edit-font-wrapper {
  left: 700px;
  position: absolute;
  top: 155px;
}

#edit-group_usa_aspot_ui .edit-font-wrapper .field-font-size,
#edit-group_usa_tv_aspot_ui .edit-font-wrapper .field-font-size {
  background-color: #ffffff;
  border: 1px solid #4d4d4d;
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  text-align: center;
  width: 60px;
}

#edit-group_usa_aspot_ui .edit-font-wrapper .name,
#edit-group_usa_tv_aspot_ui .edit-font-wrapper .name {
  display: inline-block;
  width: 85px;
}
#edit-group_usa_aspot_ui .edit-font-wrapper .font-button,
#edit-group_usa_tv_aspot_ui .edit-font-wrapper .font-button {
  /*background-color: #ffffff;*/
  /*border-radius: 3px;*/
  /*display: inline-block;*/
  /*text-align: center;*/
  /*width: 10px;*/
}
#edit-group_usa_aspot_ui .edit-font-wrapper .decrease-font,
#edit-group_usa_tv_aspot_ui .edit-font-wrapper .decrease-font {

}
#edit-group_usa_aspot_ui .edit-font-wrapper .increase-font,
#edit-group_usa_tv_aspot_ui .edit-font-wrapper .increase-font {

}
.wrapper-mobile .reset-font,
.wrapper-desktop .reset-font {
  margin-left: 20px;
}
.wrapper-mobile h2,
.wrapper-desktop h2 {
  text-transform: capitalize;
}
