@import "fonts.css";

#edit-group_usa_aspot_ui,
#edit-field-aspot-enabled-tgi{
  background: #ccc;
}

.draggable-background.desktop {
  border: solid #aaa 1px;
  display: block;
  height: 480px;
  width: 200px;
}
.draggable-area {
  border: solid #aaa 1px;
}
.draggable-area img{
  margin: 0;
}
.draggable-area.mobile{
  display: block;
  line-height: 0;
  margin-bottom: 30px;
  position: relative;
  width: 640px;
}
.draggable-area.desktop {
  display: block;
  line-height: 0;
  margin-bottom: 30px;
  position: relative;
  width: 1280px;
}

/* Draggable elements */

/* default */
.aspot-draggable-element {
  /*background-color: rgba(200, 200, 200, 0.6);*/
  /*border-radius: 6px;*/
  /*border: solid 1px #666;*/
  color: #ffffff;
  display: block;
  line-height: normal;
  /*margin: 0;*/
  /*padding: 3px;*/
  top: 0;
}
.aspot-draggable-element p {
  margin: 0;
}

.draggable-area.mobile div[data-rel="title"],
.draggable-area.desktop div[data-rel="title"] {
  font-family: "avalonbold", Helvetica, Arial, sans-serif;
  line-height: initial;
  text-transform: uppercase;
}
.draggable-area.mobile div[data-rel="title_prefix"],
.draggable-area.desktop div[data-rel="title_prefix"] {
  font-family: "texgyrescholaitalic", Times, serif;
  line-height: initial;
  text-transform: uppercase;
}
.draggable-area.mobile div[data-rel="social_meter"],
.draggable-area.desktop div[data-rel="social_meter"] {
  background: #2c2c2c;
}
.draggable-area.mobile .aspot-draggable-cta-button,
.draggable-area.desktop .aspot-draggable-cta-button {
  background: #2c2c2c;
  font-family: "avalonbold", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

/* mobile */
.draggable-area.mobile div[data-rel="title"] {
  font-size: 30px;
}
.draggable-area.mobile div[data-rel="title_prefix"] {
  font-size: 12px;
}
.draggable-area.mobile .aspot-draggable-cta-button {
  padding: 15px 25px 15px 12px;
}
.draggable-area.mobile div[data-rel="social_meter"]{
  height: 138px;
  width: 205px;
}
/* desctop */
.draggable-area.desktop div[data-rel="title"] {
  font-size: 70px;
}
.draggable-area.desktop div[data-rel="title_prefix"] {
  font-size: 12px;
}
.draggable-area.desktop .aspot-draggable-cta-button {
  font-size: 14px;
  line-height: 24px;
  padding: 25px 40px 25px 28px;
}
.draggable-area.desktop div[data-rel="social_meter"]{
  height: 153px;
  width: 205px;
}
#edit-field-aspot-gi-draggable-data {
  display: none;
  visibility: hidden;
}
