%aspot-common-text {
  font-size: 24px;
  &.small {
    font-size: 20px;
  }
  .ie8 .usa-tv-show & {
    font-size: 2.75em;
  }
  @include breakpoint($bp-aspot-mid-range-width) {
    font-size: 34px;
    &.small {
      font-size: 28px;
    }
  }
  @include breakpoint($bp-home-3col) {
    font-size: 44px;
    &.small {
      font-size: 34px;
    }
  }
  .usa-adrails &, .ie8 & {
    font-size: 34px;
  }
}

%a-spot {
  position: relative;
  display: block;
  a {
    color: $white;
    &:hover,
    &:visited {
      color: $white;
    }
  }
  .show-title-image {
    position: absolute;
    height: 120px;
    width: 238px;
    z-index: 2;
    @include breakpoint($bp-aspot-mid-range-width) {
      height: 186px;
      width: 288px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      height: 172px;
      width: 500px;
    }
    @include breakpoint($bp-aspot-large-width) {
      height: 222px;
      width: 480px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      height: 172px;
      width: 500px;
    }
    img {
      position: absolute;
      bottom: 0;
      left: 12px;
      @include breakpoint($bp-aspot-mid-range-width) {
        left: 20px;
      }
      @include breakpoint($bp-aspot-mid-range2-width) {
        left: 30px;
      }
      @include breakpoint($bp-aspot-large-width) {
        left: 48px;
      }
      .usa-adrails &, .ie9 &, .ie8 & {
        left: 30px;
      }
    }
  }
  .meta-wrap {
    position: absolute;
    color: $white;
    z-index: 1;
    top: 95px;
    left: 0;
    padding-left: 15px;
    text-align: left;
    .usa-adrails &, .ie9 &, .ie8 & {
      top: 125px;
      padding-left: 35px;
    }
    .ie9 .usa-tv-show &, .ie8 .usa-tv-show & {
        top: 27%;
    }
    @include breakpoint($bp-aspot-mid-range-width) {
      top: 150px;
      padding-left: 25px;
      .ie9 .usa-tv-show & {
        top: 140px;
      }
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      top: 125px;
      padding-left: 35px;
      .ie9 .usa-tv-show & {
        top: 125px;
      }
    }
    @include breakpoint($bp-aspot-large-width) {
      top: 175px;
      padding-left: 50px;
      .ie9 .usa-tv-show & {
        top: 175px;
      }
    }
  }
  .show-title-image {
    + .meta-wrap {
      padding-top: 30px;
      @include breakpoint($bp-aspot-mid-range-width) {
        padding-top: 40px;
      }
      @include breakpoint($bp-aspot-mid-range2-width) {
        padding-top: 54px;
      }
      @include breakpoint($bp-aspot-large-width) {
        padding-top: 60px;
      }
      .usa-adrails &, .ie9 &, .ie8 & {
        padding-top: 54px;
      }
      .mobile-show-title {
        display: none;
      }
    }
  }
  .meta {
    margin-bottom: 10px;
    @include breakpoint($bp-aspot-mid-range-width) {
      margin-bottom: 15px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 22px;
    }
    @include breakpoint($bp-aspot-large-width) {
       margin-bottom: 27px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      margin-bottom: 22px;
    }
  }
  .mobile-show-time.show-time {
    display: block;
    @include breakpoint($bp-home-2col) {
      display: none;
    }
    + .show-time  {
      display: none;
      @include breakpoint($bp-home-2col) {
        display: block;
      }
    }
  }
  .show-title {
    @extend %regular;
    position: relative;
    margin: 0 0 5px 0;
    line-height: 1;
    text-transform: uppercase;
    @extend %aspot-common-text;
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 10px;
    }
    @include breakpoint($bp-aspot-large-width) {
      margin-bottom: 16px;
    }
    &:after {
      content: "";
      z-index: 1;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      @include background-image(linear-gradient(left, $white, transparent));
    }
  }
  .show-time {
    @extend %thin;
    margin-bottom: 2px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    @extend %aspot-common-text;
    @include breakpoint($bp-aspot-mid-range-width) {
      margin-bottom: 5px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      margin-bottom: 8px;
    }
    @include breakpoint($bp-aspot-large-width) {
      margin-bottom: 8px;
    }
    .usa-adrails &, .ie8 & {
      margin-bottom: 8px;
      font-size: 44px;
    }
  }
  .episode-title {
    @extend %regular-12;
    margin: 0;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0.05em;
    @include breakpoint($bp-aspot-mid-range-width) {
      font-size: 18px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      font-size: 22px;
    }
    @include breakpoint($bp-aspot-large-width) {
      font-size: 28px;
    }
    .ie8 & {
      font-size: 1.375em;
    }
    .usa-adrails & {
      font-size: 22px;
    }
  }
  .cta {
    position: relative;
    padding-left: 34px;
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    @include breakpoint($bp-aspot-mid-width) {
      top: 4px;
      padding-left: 55px;
      font-size: 14px;
    }
    @include breakpoint($bp-aspot-mid-range2-width) {
      line-height: 60px;
      font-size: 18px;
      padding-left: 70px;
    }
    @include breakpoint($bp-aspot-large-width) {
      line-height: 80px;
      padding-left: 90px;
      font-size: 25px;
    }
    .usa-adrails &, .ie9 &, .ie8 & {
      line-height: 60px;
      padding-left: 70px;
    }
    .usa-adrails &, .ie8 & {
      font-size: 18px;
    }
    .view-mode-usa_term_icon {
      float: left;
      width: 26px;
      position: relative;
      top: 2px;
      margin-left: -34px;
      @include breakpoint($bp-aspot-mid-width) {
        width: 45px;
        top: -6px;
        margin-left: -58px;
      }
      @include breakpoint($bp-aspot-mid-range2-width) {
        width: 60px;
        top: -2px;
        margin-left: -74px;
      }
      @include breakpoint($bp-aspot-large-width) {
        width: 77px;
        top: 0;
        margin-left: -90px;
      }
      .usa-adrails &, .ie9 &, .ie8 & {
        width: 60px;
        top: -2px;
        margin-left: -74px;
      }
    }
    span {
      @extend %semi;
      font-weight: normal;
      letter-spacing: 0.05em;
    }
  }
  img, .flexslider & img {
    max-height: none;
    .usa-adrails &, .ie9 &, .ie8 & {
      width: 100%;
    }
  }
  .flexslider img {
    .ie9 .usa-tv-show &, .ie8 .usa-tv-show & {
      width: 1245px;
      height: 709px;
    }
  }
}
