%aspot-common-text {
  font-size: 24px;
  &.small {
    font-size: 20px;
  }
  .ie8 .usa-tv-show & {
    font-size: 2.75em;
  }
  @include breakpoint($bp-aspot-mid-range-width) {
    font-size: 34px;
    &.small {
      font-size: 28px;
    }
  }
  @include breakpoint($bp-home-3col) {
    font-size: 44px;
    &.small {
      font-size: 34px;
    }
  }
  .usa-adrails &, .ie8 & {
    font-size: 34px;
  }
}
