#pub-pipeline {
  position: fixed;
  top: 29px;
  right: 0;
  border: 1px solid #000000;
  border-right: none;
  border-top: none;
  padding: 10px 5px;
  background: rgba(64, 64, 64, 0.71);
  color: white;
}
#pub-pipeline ul {
  line-height: 1em;
  margin: 0;
}
#pub-pipeline ul li {
  margin: 0 0 .1em 1em;
  list-style-type: none;
}
#pub-pipeline ul a {
  color: white;
}
