%grid-home-featured {
  width: 300px;
  margin: 0 auto;
  .carousel {
    .carousel-item {
      @extend %grid-item;
    }
  }
  @include breakpoint($bp-home-narrowest) {
    @include layout(2, .048) {
      .carousel-item {
        height: 123px;
        &:nth-of-type(odd) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(even) {
          @include grid-span(1, 2);
          padding-right: 0;
        }
        &:nth-of-type(2n + 3) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-home-2-fence) {
    width: 615px;
    @include layout(3, .048) {
      .carousel-item {
        height: 163px;
        &:nth-of-type(3n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 3) {
          @include grid-span(1, 3);
          padding-right: 0;
        }
        &:nth-of-type(3n + 4) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-home-3-fence) {
    width: 930px;
    @include layout(4, .048) {
      .carousel-item {
        height: 186px;
        &:nth-of-type(4n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(4n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4n + 3) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 4) {
          @include grid-span(1, 4);
          padding-right: 0;
        }
        &:nth-of-type(4n + 5) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-home-widest) {
    width: 1245px;
    @include layout(5, .048) {
      .carousel-item {
        height: 202px;
        &:nth-of-type(5n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(5n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(5n + 3) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(5n + 4) {
          @include grid-span(1, 4);
          padding-right: 0;
        }
        &:nth-of-type(5n + 5) {
          @include grid-span(1, 5);
          padding-right: 0;
        }
        &:nth-of-type(5n + 6) {
          clear: both;
        }
      }
    }
  }

  .home-carousel-processed {
    .carousel-item {
      float: left;
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 0;
      clear: none;
    }
    @include breakpoint($bp-home-narrowest) {
      .carousel-item {
        width: 146px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    @include breakpoint($bp-home-2-fence) {
      .carousel-item {
        width: 195px;
      }
    }
    @include breakpoint($bp-home-3-fence) {
      .carousel-item {
        width: 222px;
        margin-left: 7px;
        margin-right: 7px;
      }
    }
    @include breakpoint($bp-home-widest) {
      .carousel-item {
        width: 237px;
      }
    }
  }
}
