/*******************************************************************
 * TV Show specific colors: Don't touch                            *
 *******************************************************************/

#mega-nav .tv-show-menu-trigger a,
#mega-nav .tv-show-menu-trigger a:visited,
#mega-nav .tv-show-menu-trigger a:focus,
#mega-nav .tv-show-menu-trigger a:active,
#tv-show-menu h2.menu-title a,
#tv-show-menu h2.menu-title a:visited,
#tv-show-menu h2.menu-title a:focus,
#tv-show-menu h2.menu-title a:active {
  color: #0ab6e8;
}

#utilities.utilities-head-show {
  border-left: 15px solid #000000;
}
