*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'itc_avant_garde_pro_mdbold';
  src: url("../fonts/itcavantgardepro-bold-webfont.eot");
  src: url("../fonts/itcavantgardepro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/itcavantgardepro-bold-webfont.woff") format("woff"), url("../fonts/itcavantgardepro-bold-webfont.ttf") format("truetype"), url("../fonts/itcavantgardepro-bold-webfont.svg#itc_avant_garde_pro_mdbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'itc_avant_garde_gothic_prdemi';
  src: url("../fonts/itcavantgardepro-demi-webfont.eot");
  src: url("../fonts/itcavantgardepro-demi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/itcavantgardepro-demi-webfont.woff") format("woff"), url("../fonts/itcavantgardepro-demi-webfont.ttf") format("truetype"), url("../fonts/itcavantgardepro-demi-webfont.svg#itc_avant_garde_gothic_prdemi") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ico-font';
  src: url("../fonts/ico-font.eot");
  src: url("../fonts/ico-font.eot?#iefix") format("embedded-opentype"), url("../fonts/ico-font.woff") format("woff"), url("../fonts/ico-font.ttf") format("truetype"), url("../fonts/ico-font.svg#itc_avant_garde_gothic_prdemi") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalonmedium';
  src: url("../fonts/Avalon-Medium-webfont.eot");
  src: url("../fonts/Avalon-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Avalon-Medium-webfont.woff") format("woff"), url("../fonts/Avalon-Medium-webfont.ttf") format("truetype"), url("../fonts/Avalon-Medium-webfont.svg#avalonmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalonbold';
  src: url("../fonts/Avalon-Demi-webfont.eot");
  src: url("../fonts/Avalon-Demi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Avalon-Demi-webfont.woff") format("woff"), url("../fonts/Avalon-Demi-webfont.ttf") format("truetype"), url("../fonts/Avalon-Demi-webfont.svg#avalonbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'texgyrescholaregular';
  src: url("../fonts/texgyreschola-regular-webfont.eot");
  src: url("../fonts/texgyreschola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreschola-regular-webfont.woff") format("woff"), url("../fonts/texgyreschola-regular-webfont.ttf") format("truetype"), url("../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.show-color-border {
  position: relative;
}
.show-color-border:before {
  background: #d42027;
  display: block;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 1;
}

.show-color {
  background: #d42027;
}
.show-color.dark {
  background: #c10008;
}
.show-color.hover-avail:hover {
  background: #e65a60;
}

.show-suits .show-color-border:before, .show-suits.show-color-border:before {
  background: #d42027;
}
.show-suits .icons-block a {
  color: #d42027!important;
}
.show-suits .show-color {
  background: #d42027;
}
.show-suits .show-color.dark {
  background: #e83939;
}
.show-suits .show-color.dark:before {
  background: #be1c23;
}
.show-suits .show-color.light {
  background: #be1c23;
}
.show-suits .show-color.light:before {
  background: #e83939;
}
.show-suits .show-color.hover-avail:hover {
  background: #be1c23;
}
.show-suits .show-border {
  border-color: #d42027 !important;
}
.show-suits .show-border.dark {
  border-color: #e83939 !important;
}
.show-suits .show-border.light {
  border-color: #be1c23 !important;
}

.show-chrisley .show-color-border:before, .show-chrisley.show-color-border:before {
  background: #f2ad2c;
}
.show-chrisley .icons-block a {
  color: #f2ad2c!important;
}
.show-chrisley .show-color {
  background: #f2ad2c;
}
.show-chrisley .show-color.dark {
  background: #f5be56;
}
.show-chrisley .show-color.dark:before {
  background: #ebb249;
}
.show-chrisley .show-color.light {
  background: #ebb249;
}
.show-chrisley .show-color.light:before {
  background: #f5be56;
}
.show-chrisley .show-color.hover-avail:hover {
  background: #ebb249;
}
.show-chrisley .show-border {
  border-color: #f2ad2c !important;
}
.show-chrisley .show-border.dark {
  border-color: #f5be56 !important;
}
.show-chrisley .show-border.light {
  border-color: #ebb249 !important;
}

.show-graceland .show-color-border:before, .show-graceland.show-color-border:before {
  background: #0d3b6e;
}
.show-graceland .icons-block a {
  color: #0d3b6e!important;
}
.show-graceland .show-color {
  background: #0d3b6e;
}
.show-graceland .show-color.dark {
  background: #1b4c83;
}
.show-graceland .show-color.dark:before {
  background: #113359;
}
.show-graceland .show-color.light {
  background: #113359;
}
.show-graceland .show-color.light:before {
  background: #1b4c83;
}
.show-graceland .show-color.hover-avail:hover {
  background: #113359;
}
.show-graceland .show-border {
  border-color: #0d3b6e !important;
}
.show-graceland .show-border.dark {
  border-color: #1b4c83 !important;
}
.show-graceland .show-border.light {
  border-color: #113359 !important;
}

.show-covert-affairs .show-color-border:before, .show-covert-affairs.show-color-border:before {
  background: #c50504;
}
.show-covert-affairs .icons-block a {
  color: #c50504!important;
}
.show-covert-affairs .show-color {
  background: #c50504;
}
.show-covert-affairs .show-color.dark {
  background: #d60302;
}
.show-covert-affairs .show-color.dark:before {
  background: #b10808;
}
.show-covert-affairs .show-color.light {
  background: #b10808;
}
.show-covert-affairs .show-color.light:before {
  background: #d60302;
}
.show-covert-affairs .show-color.hover-avail:hover {
  background: #b10808;
}
.show-covert-affairs .show-border {
  border-color: #c50504 !important;
}
.show-covert-affairs .show-border.dark {
  border-color: #d60302 !important;
}
.show-covert-affairs .show-border.light {
  border-color: #b10808 !important;
}

.show-royal-pains .show-color-border:before, .show-royal-pains.show-color-border:before {
  background: #7cd7fd;
}
.show-royal-pains .icons-block a {
  color: #7cd7fd!important;
}
.show-royal-pains .show-color {
  background: #7cd7fd;
}
.show-royal-pains .show-color.dark {
  background: #9bdffc;
}
.show-royal-pains .show-color.dark:before {
  background: #68c5ec;
}
.show-royal-pains .show-color.light {
  background: #68c5ec;
}
.show-royal-pains .show-color.light:before {
  background: #9bdffc;
}
.show-royal-pains .show-color.hover-avail:hover {
  background: #68c5ec;
}
.show-royal-pains .show-border {
  border-color: #7cd7fd !important;
}
.show-royal-pains .show-border.dark {
  border-color: #9bdffc !important;
}
.show-royal-pains .show-border.light {
  border-color: #68c5ec !important;
}

.show-rush .show-color-border:before, .show-rush.show-color-border:before {
  background: #2665aa;
}
.show-rush .icons-block a {
  color: #2665aa!important;
}
.show-rush .show-color {
  background: #2665aa;
}
.show-rush .show-color.dark {
  background: #0b4c7c;
}
.show-rush .show-color.dark:before {
  background: #5d8dc6;
}
.show-rush .show-color.light {
  background: #5d8dc6;
}
.show-rush .show-color.light:before {
  background: #0b4c7c;
}
.show-rush .show-color.hover-avail:hover {
  background: #5d8dc6;
}
.show-rush .show-border {
  border-color: #2665aa !important;
}
.show-rush .show-border.dark {
  border-color: #0b4c7c !important;
}
.show-rush .show-border.light {
  border-color: #5d8dc6 !important;
}

.show-dig .show-color-border:before, .show-dig.show-color-border:before {
  background: #e98e11;
}
.show-dig .icons-block a {
  color: #e98e11!important;
}
.show-dig .show-color {
  background: #e98e11;
}
.show-dig .show-color.dark {
  background: #e98e11;
}
.show-dig .show-color.dark:before {
  background: #e98e11;
}
.show-dig .show-color.light {
  background: #e98e11;
}
.show-dig .show-color.light:before {
  background: #e98e11;
}
.show-dig .show-color.hover-avail:hover {
  background: #e98e11;
}
.show-dig .show-border {
  border-color: #e98e11 !important;
}
.show-dig .show-border.dark {
  border-color: #e98e11 !important;
}
.show-dig .show-border.light {
  border-color: #e98e11 !important;
}

.show-benched .show-color-border:before, .show-benched.show-color-border:before {
  background: #962e8d;
}
.show-benched .icons-block a {
  color: #962e8d!important;
}
.show-benched .show-color {
  background: #962e8d;
}
.show-benched .show-color.dark {
  background: #962e8d;
}
.show-benched .show-color.dark:before {
  background: #962e8d;
}
.show-benched .show-color.light {
  background: #962e8d;
}
.show-benched .show-color.light:before {
  background: #962e8d;
}
.show-benched .show-color.hover-avail:hover {
  background: #962e8d;
}
.show-benched .show-border {
  border-color: #962e8d !important;
}
.show-benched .show-border.dark {
  border-color: #962e8d !important;
}
.show-benched .show-border.light {
  border-color: #962e8d !important;
}

.show-bridesmaids .show-color-border:before, .show-bridesmaids.show-color-border:before {
  background: #ff68be;
}
.show-bridesmaids .icons-block a {
  color: #ff68be!important;
}
.show-bridesmaids .show-color {
  background: #ff68be;
}
.show-bridesmaids .show-color.dark {
  background: #ff68be;
}
.show-bridesmaids .show-color.dark:before {
  background: #ff68be;
}
.show-bridesmaids .show-color.light {
  background: #ff68be;
}
.show-bridesmaids .show-color.light:before {
  background: #ff68be;
}
.show-bridesmaids .show-color.hover-avail:hover {
  background: #ff68be;
}
.show-bridesmaids .show-border {
  border-color: #ff68be !important;
}
.show-bridesmaids .show-border.dark {
  border-color: #ff68be !important;
}
.show-bridesmaids .show-border.light {
  border-color: #ff68be !important;
}

.show-playing-house .show-color-border:before, .show-playing-house.show-color-border:before {
  background: #79b365;
}
.show-playing-house .icons-block a {
  color: #79b365!important;
}
.show-playing-house .show-color {
  background: #79b365;
}
.show-playing-house .show-color.dark {
  background: #79b365;
}
.show-playing-house .show-color.dark:before {
  background: #79b365;
}
.show-playing-house .show-color.light {
  background: #79b365;
}
.show-playing-house .show-color.light:before {
  background: #79b365;
}
.show-playing-house .show-color.hover-avail:hover {
  background: #79b365;
}
.show-playing-house .show-border {
  border-color: #79b365 !important;
}
.show-playing-house .show-border.dark {
  border-color: #79b365 !important;
}
.show-playing-house .show-border.light {
  border-color: #79b365 !important;
}

.show-law-and-order .show-color-border:before, .show-law-and-order.show-color-border:before {
  background: #80a677;
}
.show-law-and-order .icons-block a {
  color: #80a677!important;
}
.show-law-and-order .show-color {
  background: #80a677;
}
.show-law-and-order .show-color.dark {
  background: #80a677;
}
.show-law-and-order .show-color.dark:before {
  background: #80a677;
}
.show-law-and-order .show-color.light {
  background: #80a677;
}
.show-law-and-order .show-color.light:before {
  background: #80a677;
}
.show-law-and-order .show-color.hover-avail:hover {
  background: #80a677;
}
.show-law-and-order .show-border {
  border-color: #80a677 !important;
}
.show-law-and-order .show-border.dark {
  border-color: #80a677 !important;
}
.show-law-and-order .show-border.light {
  border-color: #80a677 !important;
}

.show-satisfaction .show-color-border:before, .show-satisfaction.show-color-border:before {
  background: #f83a3a;
}
.show-satisfaction .icons-block a {
  color: #f83a3a!important;
}
.show-satisfaction .show-color {
  background: #f83a3a;
}
.show-satisfaction .show-color.dark {
  background: #f83a3a;
}
.show-satisfaction .show-color.dark:before {
  background: #f83a3a;
}
.show-satisfaction .show-color.light {
  background: #f83a3a;
}
.show-satisfaction .show-color.light:before {
  background: #f83a3a;
}
.show-satisfaction .show-color.hover-avail:hover {
  background: #f83a3a;
}
.show-satisfaction .show-border {
  border-color: #f83a3a !important;
}
.show-satisfaction .show-border.dark {
  border-color: #f83a3a !important;
}
.show-satisfaction .show-border.light {
  border-color: #f83a3a !important;
}

.show-burn-notice .show-color-border:before, .show-burn-notice.show-color-border:before {
  background: #fef200;
}
.show-burn-notice .icons-block a {
  color: #fef200!important;
}
.show-burn-notice .show-color {
  background: #fef200;
}
.show-burn-notice .show-color.dark {
  background: #fef200;
}
.show-burn-notice .show-color.dark:before {
  background: #fef200;
}
.show-burn-notice .show-color.light {
  background: #fef200;
}
.show-burn-notice .show-color.light:before {
  background: #fef200;
}
.show-burn-notice .show-color.hover-avail:hover {
  background: #fef200;
}
.show-burn-notice .show-border {
  border-color: #fef200 !important;
}
.show-burn-notice .show-border.dark {
  border-color: #fef200 !important;
}
.show-burn-notice .show-border.light {
  border-color: #fef200 !important;
}

.show-csi .show-color-border:before, .show-csi.show-color-border:before {
  background: #0ab6e8;
}
.show-csi .icons-block a {
  color: #0ab6e8!important;
}
.show-csi .show-color {
  background: #0ab6e8;
}
.show-csi .show-color.dark {
  background: #0ab6e8;
}
.show-csi .show-color.dark:before {
  background: #0ab6e8;
}
.show-csi .show-color.light {
  background: #0ab6e8;
}
.show-csi .show-color.light:before {
  background: #0ab6e8;
}
.show-csi .show-color.hover-avail:hover {
  background: #0ab6e8;
}
.show-csi .show-border {
  border-color: #0ab6e8 !important;
}
.show-csi .show-border.dark {
  border-color: #0ab6e8 !important;
}
.show-csi .show-border.light {
  border-color: #0ab6e8 !important;
}

.show-usa-daytime .show-color-border:before, .show-usa-daytime.show-color-border:before {
  background: #e16e1a;
}
.show-usa-daytime .icons-block a {
  color: #e16e1a!important;
}
.show-usa-daytime .show-color {
  background: #e16e1a;
}
.show-usa-daytime .show-color.dark {
  background: #e16e1a;
}
.show-usa-daytime .show-color.dark:before {
  background: #e16e1a;
}
.show-usa-daytime .show-color.light {
  background: #e16e1a;
}
.show-usa-daytime .show-color.light:before {
  background: #e16e1a;
}
.show-usa-daytime .show-color.hover-avail:hover {
  background: #e16e1a;
}
.show-usa-daytime .show-border {
  border-color: #e16e1a !important;
}
.show-usa-daytime .show-border.dark {
  border-color: #e16e1a !important;
}
.show-usa-daytime .show-border.light {
  border-color: #e16e1a !important;
}

.show-house .show-color-border:before, .show-house.show-color-border:before {
  background: #0ab6e8;
}
.show-house .icons-block a {
  color: #0ab6e8!important;
}
.show-house .show-color {
  background: #0ab6e8;
}
.show-house .show-color.dark {
  background: #0ab6e8;
}
.show-house .show-color.dark:before {
  background: #0ab6e8;
}
.show-house .show-color.light {
  background: #0ab6e8;
}
.show-house .show-color.light:before {
  background: #0ab6e8;
}
.show-house .show-color.hover-avail:hover {
  background: #0ab6e8;
}
.show-house .show-border {
  border-color: #0ab6e8 !important;
}
.show-house .show-border.dark {
  border-color: #0ab6e8 !important;
}
.show-house .show-border.light {
  border-color: #0ab6e8 !important;
}

.show-svu .show-color-border:before, .show-svu.show-color-border:before {
  background: #a5e2ff;
}
.show-svu .icons-block a {
  color: #a5e2ff!important;
}
.show-svu .show-color {
  background: #a5e2ff;
}
.show-svu .show-color.dark {
  background: #a5e2ff;
}
.show-svu .show-color.dark:before {
  background: #a5e2ff;
}
.show-svu .show-color.light {
  background: #a5e2ff;
}
.show-svu .show-color.light:before {
  background: #a5e2ff;
}
.show-svu .show-color.hover-avail:hover {
  background: #a5e2ff;
}
.show-svu .show-border {
  border-color: #a5e2ff !important;
}
.show-svu .show-border.dark {
  border-color: #a5e2ff !important;
}
.show-svu .show-border.light {
  border-color: #a5e2ff !important;
}

.show-modernfamily .show-color-border:before, .show-modernfamily.show-color-border:before {
  background: #ee991a;
}
.show-modernfamily .icons-block a {
  color: #ee991a!important;
}
.show-modernfamily .show-color {
  background: #ee991a;
}
.show-modernfamily .show-color.dark {
  background: #ee991a;
}
.show-modernfamily .show-color.dark:before {
  background: #ee991a;
}
.show-modernfamily .show-color.light {
  background: #ee991a;
}
.show-modernfamily .show-color.light:before {
  background: #ee991a;
}
.show-modernfamily .show-color.hover-avail:hover {
  background: #ee991a;
}
.show-modernfamily .show-border {
  border-color: #ee991a !important;
}
.show-modernfamily .show-border.dark {
  border-color: #ee991a !important;
}
.show-modernfamily .show-border.light {
  border-color: #ee991a !important;
}

.show-the-moment .show-color-border:before, .show-the-moment.show-color-border:before {
  background: #3c6fad;
}
.show-the-moment .icons-block a {
  color: #3c6fad!important;
}
.show-the-moment .show-color {
  background: #3c6fad;
}
.show-the-moment .show-color.dark {
  background: #3c6fad;
}
.show-the-moment .show-color.dark:before {
  background: #3c6fad;
}
.show-the-moment .show-color.light {
  background: #3c6fad;
}
.show-the-moment .show-color.light:before {
  background: #3c6fad;
}
.show-the-moment .show-color.hover-avail:hover {
  background: #3c6fad;
}
.show-the-moment .show-border {
  border-color: #3c6fad !important;
}
.show-the-moment .show-border.dark {
  border-color: #3c6fad !important;
}
.show-the-moment .show-border.light {
  border-color: #3c6fad !important;
}

.show-ncis .show-color-border:before, .show-ncis.show-color-border:before {
  background: #0ab6e8;
}
.show-ncis .icons-block a {
  color: #0ab6e8!important;
}
.show-ncis .show-color {
  background: #0ab6e8;
}
.show-ncis .show-color.dark {
  background: #0ab6e8;
}
.show-ncis .show-color.dark:before {
  background: #0ab6e8;
}
.show-ncis .show-color.light {
  background: #0ab6e8;
}
.show-ncis .show-color.light:before {
  background: #0ab6e8;
}
.show-ncis .show-color.hover-avail:hover {
  background: #0ab6e8;
}
.show-ncis .show-border {
  border-color: #0ab6e8 !important;
}
.show-ncis .show-border.dark {
  border-color: #0ab6e8 !important;
}
.show-ncis .show-border.light {
  border-color: #0ab6e8 !important;
}

.show-ncis-la .show-color-border:before, .show-ncis-la.show-color-border:before {
  background: #ed8606;
}
.show-ncis-la .icons-block a {
  color: #ed8606!important;
}
.show-ncis-la .show-color {
  background: #ed8606;
}
.show-ncis-la .show-color.dark {
  background: #ed8606;
}
.show-ncis-la .show-color.dark:before {
  background: #ed8606;
}
.show-ncis-la .show-color.light {
  background: #ed8606;
}
.show-ncis-la .show-color.light:before {
  background: #ed8606;
}
.show-ncis-la .show-color.hover-avail:hover {
  background: #ed8606;
}
.show-ncis-la .show-border {
  border-color: #ed8606 !important;
}
.show-ncis-la .show-border.dark {
  border-color: #ed8606 !important;
}
.show-ncis-la .show-border.light {
  border-color: #ed8606 !important;
}

.show-necessary-roughness .show-color-border:before, .show-necessary-roughness.show-color-border:before {
  background: #2fc2f6;
}
.show-necessary-roughness .icons-block a {
  color: #2fc2f6!important;
}
.show-necessary-roughness .show-color {
  background: #2fc2f6;
}
.show-necessary-roughness .show-color.dark {
  background: #2fc2f6;
}
.show-necessary-roughness .show-color.dark:before {
  background: #2fc2f6;
}
.show-necessary-roughness .show-color.light {
  background: #2fc2f6;
}
.show-necessary-roughness .show-color.light:before {
  background: #2fc2f6;
}
.show-necessary-roughness .show-color.hover-avail:hover {
  background: #2fc2f6;
}
.show-necessary-roughness .show-border {
  border-color: #2fc2f6 !important;
}
.show-necessary-roughness .show-border.dark {
  border-color: #2fc2f6 !important;
}
.show-necessary-roughness .show-border.light {
  border-color: #2fc2f6 !important;
}

.show-partners-in-crime .show-color-border:before, .show-partners-in-crime.show-color-border:before {
  background: #acbade;
}
.show-partners-in-crime .icons-block a {
  color: #acbade!important;
}
.show-partners-in-crime .show-color {
  background: #acbade;
}
.show-partners-in-crime .show-color.dark {
  background: #acbade;
}
.show-partners-in-crime .show-color.dark:before {
  background: #acbade;
}
.show-partners-in-crime .show-color.light {
  background: #acbade;
}
.show-partners-in-crime .show-color.light:before {
  background: #acbade;
}
.show-partners-in-crime .show-color.hover-avail:hover {
  background: #acbade;
}
.show-partners-in-crime .show-border {
  border-color: #acbade !important;
}
.show-partners-in-crime .show-border.dark {
  border-color: #acbade !important;
}
.show-partners-in-crime .show-border.light {
  border-color: #acbade !important;
}

.show-psych .show-color-border:before, .show-psych.show-color-border:before {
  background: #8ec23f;
}
.show-psych .icons-block a {
  color: #8ec23f!important;
}
.show-psych .show-color {
  background: #8ec23f;
}
.show-psych .show-color.dark {
  background: #8ec23f;
}
.show-psych .show-color.dark:before {
  background: #8ec23f;
}
.show-psych .show-color.light {
  background: #8ec23f;
}
.show-psych .show-color.light:before {
  background: #8ec23f;
}
.show-psych .show-color.hover-avail:hover {
  background: #8ec23f;
}
.show-psych .show-border {
  border-color: #8ec23f !important;
}
.show-psych .show-border.dark {
  border-color: #8ec23f !important;
}
.show-psych .show-border.light {
  border-color: #8ec23f !important;
}

.show-sirens .show-color-border:before, .show-sirens.show-color-border:before {
  background: #b72730;
}
.show-sirens .icons-block a {
  color: #b72730!important;
}
.show-sirens .show-color {
  background: #b72730;
}
.show-sirens .show-color.dark {
  background: #b72730;
}
.show-sirens .show-color.dark:before {
  background: #b72730;
}
.show-sirens .show-color.light {
  background: #b72730;
}
.show-sirens .show-color.light:before {
  background: #b72730;
}
.show-sirens .show-color.hover-avail:hover {
  background: #b72730;
}
.show-sirens .show-border {
  border-color: #b72730 !important;
}
.show-sirens .show-border.dark {
  border-color: #b72730 !important;
}
.show-sirens .show-border.light {
  border-color: #b72730 !important;
}

.show-summer-camp .show-color-border:before, .show-summer-camp.show-color-border:before {
  background: #fd4833;
}
.show-summer-camp .icons-block a {
  color: #fd4833!important;
}
.show-summer-camp .show-color {
  background: #fd4833;
}
.show-summer-camp .show-color.dark {
  background: #fd4833;
}
.show-summer-camp .show-color.dark:before {
  background: #fd4833;
}
.show-summer-camp .show-color.light {
  background: #fd4833;
}
.show-summer-camp .show-color.light:before {
  background: #fd4833;
}
.show-summer-camp .show-color.hover-avail:hover {
  background: #fd4833;
}
.show-summer-camp .show-border {
  border-color: #fd4833 !important;
}
.show-summer-camp .show-border.dark {
  border-color: #fd4833 !important;
}
.show-summer-camp .show-border.light {
  border-color: #fd4833 !important;
}

.show-vanderbilt-mds .show-color-border:before, .show-vanderbilt-mds.show-color-border:before {
  background: #41afdb;
}
.show-vanderbilt-mds .icons-block a {
  color: #41afdb!important;
}
.show-vanderbilt-mds .show-color {
  background: #41afdb;
}
.show-vanderbilt-mds .show-color.dark {
  background: #41afdb;
}
.show-vanderbilt-mds .show-color.dark:before {
  background: #41afdb;
}
.show-vanderbilt-mds .show-color.light {
  background: #41afdb;
}
.show-vanderbilt-mds .show-color.light:before {
  background: #41afdb;
}
.show-vanderbilt-mds .show-color.hover-avail:hover {
  background: #41afdb;
}
.show-vanderbilt-mds .show-border {
  border-color: #41afdb !important;
}
.show-vanderbilt-mds .show-border.dark {
  border-color: #41afdb !important;
}
.show-vanderbilt-mds .show-border.light {
  border-color: #41afdb !important;
}

.show-white-collar .show-color-border:before, .show-white-collar.show-color-border:before {
  background: #00b9e6;
}
.show-white-collar .icons-block a {
  color: #00b9e6!important;
}
.show-white-collar .show-color {
  background: #00b9e6;
}
.show-white-collar .show-color.dark {
  background: #00b9e6;
}
.show-white-collar .show-color.dark:before {
  background: #00b9e6;
}
.show-white-collar .show-color.light {
  background: #00b9e6;
}
.show-white-collar .show-color.light:before {
  background: #00b9e6;
}
.show-white-collar .show-color.hover-avail:hover {
  background: #00b9e6;
}
.show-white-collar .show-border {
  border-color: #00b9e6 !important;
}
.show-white-collar .show-border.dark {
  border-color: #00b9e6 !important;
}
.show-white-collar .show-border.light {
  border-color: #00b9e6 !important;
}

.show-wwe .show-color-border:before, .show-wwe.show-color-border:before {
  background: #bd0c12;
}
.show-wwe .icons-block a {
  color: #bd0c12!important;
}
.show-wwe .show-color {
  background: #bd0c12;
}
.show-wwe .show-color.dark {
  background: #bd0c12;
}
.show-wwe .show-color.dark:before {
  background: #bd0c12;
}
.show-wwe .show-color.light {
  background: #bd0c12;
}
.show-wwe .show-color.light:before {
  background: #bd0c12;
}
.show-wwe .show-color.hover-avail:hover {
  background: #bd0c12;
}
.show-wwe .show-border {
  border-color: #bd0c12 !important;
}
.show-wwe .show-border.dark {
  border-color: #bd0c12 !important;
}
.show-wwe .show-border.light {
  border-color: #bd0c12 !important;
}

.show-westminster-kennel-club .show-color-border:before, .show-westminster-kennel-club.show-color-border:before {
  background: #f6b91a;
}
.show-westminster-kennel-club .icons-block a {
  color: #f6b91a!important;
}
.show-westminster-kennel-club .show-color {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-color.dark {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-color.dark:before {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-color.light {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-color.light:before {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-color.hover-avail:hover {
  background: #f6b91a;
}
.show-westminster-kennel-club .show-border {
  border-color: #f6b91a !important;
}
.show-westminster-kennel-club .show-border.dark {
  border-color: #f6b91a !important;
}
.show-westminster-kennel-club .show-border.light {
  border-color: #f6b91a !important;
}

ol, ul, li {
  list-style: none;
}

body {
  background-color: #e9eaeb;
  width: 100%;
}

#main {
  min-width: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.asset-img {
  line-height: 0;
}

.play-icon:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -896px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .play-icon:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -980px;
    height: 37px;
    width: 37px;
  }
}
@media (max-width: 1024px) {
  .play-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -866px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), (max-width: 1024px) and (min-device-pixel-ratio: 2), (max-width: 1024px) and (min-resolution: 144dppx) {
  .play-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -950px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .play-icon.resize-avail-480:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -866px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .play-icon.resize-avail-480:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -950px;
    height: 30px;
    width: 30px;
  }
}

.play-icon-half:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -829px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .play-icon-half:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -913px;
    height: 37px;
    width: 37px;
  }
}
@media (max-width: 1024px) {
  .play-icon-half.resize-avail-1024:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -799px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), (max-width: 1024px) and (min-device-pixel-ratio: 2), (max-width: 1024px) and (min-resolution: 144dppx) {
  .play-icon-half.resize-avail-1024:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -883px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .play-icon-half.resize-avail-480:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -799px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .play-icon-half.resize-avail-480:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -883px;
    height: 30px;
    width: 30px;
  }
}

.article-icon:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -30px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .article-icon:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -30px;
    height: 37px;
    width: 37px;
  }
}
@media (max-width: 1024px) {
  .article-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), (max-width: 1024px) and (min-device-pixel-ratio: 2), (max-width: 1024px) and (min-resolution: 144dppx) {
  .article-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 0;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .article-icon.resize-avail-480:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .article-icon.resize-avail-480:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 0;
    height: 30px;
    width: 30px;
  }
}

.game-icon:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -443px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .game-icon:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -527px;
    height: 37px;
    width: 37px;
  }
}
@media (max-width: 1024px) {
  .game-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -413px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), (max-width: 1024px) and (min-device-pixel-ratio: 2), (max-width: 1024px) and (min-resolution: 144dppx) {
  .game-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -497px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .game-icon.resize-avail-480:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -413px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .game-icon.resize-avail-480:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -497px;
    height: 30px;
    width: 30px;
  }
}

.photo-icon:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -718px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .photo-icon:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -802px;
    height: 37px;
    width: 37px;
  }
}
@media (max-width: 1024px) {
  .photo-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -688px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), (max-width: 1024px) and (min-device-pixel-ratio: 2), (max-width: 1024px) and (min-resolution: 144dppx) {
  .photo-icon.resize-avail-1024:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -772px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .photo-icon.resize-avail-480:before {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -688px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .photo-icon.resize-avail-480:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -772px;
    height: 30px;
    width: 30px;
  }
}

.poll-icon:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -980px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 37px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .poll-icon:before {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -1064px;
    height: 37px;
    width: 37px;
  }
}

.social-usa:after {
  bottom: 8%;
  content: '';
  display: block;
  left: 50%;
  margin-left: -18px;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -1495px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 21px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .social-usa:after {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -1578px;
    height: 21px;
    width: 47px;
  }
}
@media (max-width: 480px) {
  .social-usa.resize-avail-480:after {
    background-image: url('/images/sprites-s85701fd58e.png');
    background-position: 0 -1481px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 14px;
    width: 30px;
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 480px) and (min--moz-device-pixel-ratio: 2), (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 144dppx) {
  .social-usa.resize-avail-480:after {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -1565px;
    height: 13px;
    width: 30px;
  }
}

.social-insta:after {
  bottom: 8%;
  content: '';
  display: block;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -1335px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .social-insta:after {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -1419px;
    height: 26px;
    width: 26px;
  }
}

.social-twitter:after {
  bottom: 8%;
  content: '';
  display: block;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  background-image: url('/images/sprites-s85701fd58e.png');
  background-position: 0 -1361px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 22px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  .social-twitter:after {
    background-image: url('/images/sprites-retina-sd28c3ad361.png');
    background-size: 150px 1699px;
    background-position: 0 -1445px;
    height: 22px;
    width: 26px;
  }
}

.icons-block {
  display: block;
}
.icons-block a {
  color: #ffffff;
  display: block;
  float: left;
  height: auto;
  margin-right: 27px;
  position: relative;
  text-decoration: none;
  width: auto;
}
.icons-block a:last-child, .icons-block a .last {
  margin-right: 0px;
}
.icons-block a:before {
  display: block;
  font-family: "ico-font";
  font-size: 16px;
}
.icons-block a.episode-description:before {
  content: '\e600';
}
.icons-block a.calendar-reminder:before {
  content: '\e601';
}
.icons-block a.facebook:before {
  content: "\e602";
}
.icons-block a.twitter:before {
  content: "\e603";
}
.icons-block a.tumblr:before {
  content: "\e604";
}
.icons-block a.pinterest:before {
  content: "\e605";
}
.icons-block a.plus-icon:before {
  content: "\e606";
}
