/*
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/awesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fonts/awesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('fonts/awesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('fonts/awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
#player_slideshow_area {
  font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
}
ul, li {
  margin: 0;
  padding: 0;
}
.timeline_intro {
	color: #121c26;
	text-align: center;
}

/* -----------------------------------
 TIMELINE FLAT PORTFOLIO
 ---------------------------------- */

.timelineFlat.timelineFlatPortfolio .item .read_more {
	margin-top:20px;
}

.timelineFlat.timelineFlatPortfolio .item,
.timelineFlat.timelineFlatPortfolio .item_open {
	height: 505px;
}

/* -----------------------------------
 TIMELINE FLAT BLOG
 ---------------------------------- */
.timelineFlat.timelineFlatBlog .item,
.timelineFlat.timelineFlatBlog .item_open {
	height: 338px;
}

.timelineFlat.timelineFlatBlog .item .post_date {
	background: #dd5555;
	color: #ffffff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: -34px 18px 0 0;
	float: right;
	position: relative;
	z-index: 2;
}

.timelineFlat.timelineFlatBlog .item .post_date span {
	display: block;
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}


/* -----------------------------------
 TIMELINE FLAT BASE DESIGN
 ---------------------------------- */

.timelineFlat {
	display:none;
}
.timelineLoader {
	width:100%;
	text-align:center;
	padding:150px 0;
}


/* fixed line holder */
.timelineFlat .timeline_line {
	margin-top:10px;
	margin-bottom:10px;
	width:900px;
	top: 565px;
}

/* full (including months that are not shown) line holder */
.timelineFlat .t_line_holder {
	padding: 10px 0 0 0;
	height:80px;
	background:url('/sites/usanetwork/themes/aurora_usa/images/timeline_gallery/line.jpg') repeat-x 0px 49px;
}

/* 2 months are stored in one view */
.timelineFlat .t_line_view {
	height:20px;
	width:900px;
}



/* holder for 1 month (constist of nodes and month caption) - we use borders to separate months thats why it has width 2px less then 50% */
.timelineFlat .t_line_m {
	margin-top:35px;
	height:10px;
	border-left:1px solid transparent;
	border-right:1px solid #101010;
	width:448px;
}

/* month on the right side - has left set at 459 so border would overlap border from first element (to evade duplicated borders) */
.timelineFlat .t_line_m.right {
	left:449px;
	width:449px;
	border-left:1px solid #101010;
	border-right:1px solid transparent;
}

/* month caption */
.timelineFlat h4.t_line_month {
	font-size: 16px;
	margin:-40px 0 0;
	color:#38404b;
	letter-spacing: 1px;
}


/* node on the timeline */
.timelineFlat a.t_line_node {
	text-decoration:none;
	padding:38px 0 4px;
	height:10px;
	font-size:12px;
	top:-25px;
	position: relative;
	color:#101010;
}
.timelineFlat a.t_line_node:after {
	content: "";
	border-radius: 22px;
	height: 10px;
	width: 10px;
	border: 2px solid #101010;
	position: absolute;
	top: 23px;
	left: 50%;
	margin: 0 0 0 -7px;
	background:#d2d2d2;
}
.timelineFlat a.t_line_node.active {
	color:#dd5555;
}

.timelineFlat a.t_line_node.active:after {
	border: 2px solid #101010;
	background: #101010;
}

/* node description */
.timelineFlat .t_node_desc {
	white-space: normal !important;
	top:-50px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 50%;
	color:#fff;
	display: inline-block !important;
	position: relative;
	transition:top 200ms, opacity 500ms;
	-webkit-transition:top 200ms, opacity 500ms;
	-moz-transition:top 200ms, opacity 500ms;
}

.timelineFlat a.t_line_node:hover .t_node_desc {
	top:0;
	opacity: 1;
	filter: alpha(opacity=100);
}

.timelineFlat .t_node_desc span {
	white-space: nowrap;
	margin-left: -50%;
	margin-right: 50%;
	margin-top: -16px;
	display: block !important;
	padding:8px;
	border-radius: 3px;
	background: #111d29;
	position: relative;
}
.timelineFlat .t_node_desc span:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	bottom: -10px;
	border:5px solid transparent;
	border-top:5px solid #111d29;
	left:50%;
	margin-left: -5px;
}


.timelineFlat #t_line_left,
.timelineFlat #t_line_right {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor:pointer;
	top:39px;
	width:14px;
	height:21px;
	font-size: 21px;
	color: #101010;
	position: relative;
}

.timelineFlat #t_line_left:hover,
.timelineFlat #t_line_right:hover {
	color: #6edde4;
}

/* line arrow left */
.timelineFlat #t_line_left {
	left:-30px;
}
.timelineFlat #t_line_left:after {
	content: "\f104";
	position: absolute;
	right: 0;
	top:0;
}


/* line arrow right */
.timelineFlat #t_line_right {
	right:-30px;
}
.timelineFlat #t_line_right:after {
	content: "\f105";
	position: absolute;
	left: 0;
	top:0;
}

.timelineFlat {
	display:none;
}

.timeline_items_wrapper {
	position: relative;
	width: 100%;
	margin: 10px 0;
	top: -85px;
	overflow: hidden;
}

/* items container */
.timelineFlat .timeline_items {
	background-color: transparent;
  padding: 16px;
}

/* single item (margines set from javascript) */
.timelineFlat .item {
	width:1201px;
	height:505px;
	color:#777777;
	background-color: #111d29;
	font-size:14px;
	line-height:14px;
	position: relative;
}
.timelineFlat .item.item_node_hover:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #74d9e5;
	width: 100%;
	z-index: 2;
	top:0;
	left:0;
}
.timelineFlat .item.item_node_hover:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	z-index: 2;
	top:0;
	left:50%;
	margin: 4px 0 0 -6px;
	border: 6px solid transparent;
	border-top: 6px solid #74d9e5;

}
/* ----- content - non-plugin elements ----- */
.timelineFlat .item img {
	margin-top:0;
}

.slideshowimage {
	float: left;
	margin-right: 20px;
}
.timelineFlat .item h2 {
	float: right;
	margin: 0;
	font-size:12px;
	line-height:12px;
	color: #fff;
	position: relative;

}
.timelineFlat .item span{
	display:block;
	margin:0px 20px 10px;
	height:75px;
}
.timelineFlat .item .read_more {
	padding:10px;
	font-size:12px;
	line-height:12px;
	float:left;
	color:#ffffff;
	cursor:pointer;
	margin: 0 20px 20px;
	border-radius: 3px;
	background:#dd5555;
	transition:background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}
.timelineFlat .item .read_more:hover {
	background:#f75f5f;
}
/* ----------------------------------------- */

.timelineFlat .item .itemtext {
	background:#111D25;
	color:#71dce2;
	z-index:2;
	padding: 20px;
	line-height: 1.3em;
	font-size: 18px;

}

.timelineFlat .item .itemtext h2 {
	font-size: 18px;
	padding-top:0;
	font-size:12px;
	line-height:12px;
	color: #fff;
	text-align: right;
	width: 430px;
	padding-bottom: 50px;
}

/* item details (margines set from javascript) */
.timelineFlat .item_open {
	width:410px;
	height:410px;
	background:#111D25;
	position:relative;
	color:#71dce2;
	z-index:2;

}

.timelineFlat .item_open h2 {
	margin:0 0 10px;
	padding-top:0;
	font-size:12px;
	line-height:12px;
	color: #fff;
	left: 214px;
	position: relative;
}

/* item details content wrapper (used for animation - shuld have same width as .item_open) */
.timelineFlat .item_open_cwrapper {
	width:410px;
	height:100%;
}

.timelineFlat .item_open_content {
	width:100%;
	height:100%;
	position:relative;
}

.timelineFlat .item_open_content .ajaxloader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -100px;

}

/* ----- content - non-plugin elements ----- */
.timelineFlat .timeline_open_content {
	padding:20px;
}
.timelineFlat .mCSB_container {
	margin-right: 16px;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar  {
	background: #dd5555;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	color:#f75f5f;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
	background: #aaaaaa;
}
.timelineFlat .mCustomScrollBox > .mCSB_scrollTools {
	width: 8px;
}
.timelineFlat .item_open .t_close {
	position:absolute;
	top:20px;
	right:16px;
	padding:0 2px 2px 2px;
	width: 12px;
	height: 12px;
	font-size:16px;
	line-height: 12px;
	color: #dd5555;
	cursor:pointer;
	z-index:2;
	text-align: center;
	transition:color 300ms;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
}
.timelineFlat .item_open .t_close:hover {
	color:#f75f5f;
}
/* ----------------------------------------- */

/* left/right controles */
.timelineFlat .t_controles {
	margin:0;
}

.timelineTouch.timelineFlat .t_left,
.timelineTouch.timelineFlat .t_right {
	display: none;
}

.timelineFlat:hover .t_left,
.timelineFlat:hover .t_right {
	opacity: 1;
	filter: alpha(opacity=100);
}

.timelineFlat .t_left,
.timelineFlat .t_right {
	position: absolute;
	display:block;
	height:100%;
	width:75px;
	margin:0;
	cursor:pointer;
	top:0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	transition:background-color 300ms, opacity 300ms;
	-webkit-transition: background-color 300ms, opacity 300ms;
	-moz-transition: background-color 300ms, opacity 300ms;
}
.timelineFlat .t_left,
.timelineFlat .t_left:hover:active {
	left:0;
	background: rgba(17,29,41, 0.5) url('/sites/usanetwork/themes/aurora_usa/images/timeline_gallery/arrow_big_slideshow_L.png') no-repeat center center;
}
.timelineFlat .t_left:hover {
	background: rgba(17,29,41, 0.7) url('/sites/usanetwork/themes/aurora_usa/images/timeline_gallery/arrow_big_slideshow_L.png') no-repeat center center;
}

.timelineFlat .t_right,
.timelineFlat .t_right:hover:active{
	right:0;
	background: rgba(17,29,41, 0.5) url('/sites/usanetwork/themes/aurora_usa/images/timeline_gallery/arrow_big_slideshow_R.png') no-repeat center center;
}

.timelineFlat .t_right:hover {
	background: rgba(17,29,41, 0.7) url('/sites/usanetwork/themes/aurora_usa/images/timeline_gallery/arrow_big_slideshow_R.png') no-repeat center center;
}

/* SHARE */

.like-share-view {
	width: 100%;
}

.like-share-view .scene-filter-holder {
	float: right;
}

.scene-filters {
	float: right;
	margin-bottom: 10px;
	text-align: right;
}

.scene-filters .filter {
	display: inline-block;
	margin-top: 16px;
}

.scene-filters.view span, .scene-filters.share span {
	line-height: 34px;
	vertical-align: middle;
}

.scene-filters .filter span, .scene-filters .filter .filter-items, .scene-filters .filter .filter-item {
	display: inline-block;
	vertical-align: middle;
}

.scene-filters.share .filter-item {
	padding: 0 2px;
}
.scene-filters .filter-item a {
	text-decoration: none;
}

.socialshare {
	margin-right: 0px;
}

/* -----------------------------------------------------------------------*/
/* ------------------------------ RESPONSIVE -----------------------------*/
/* -----------------------------------------------------------------------*/


/*@media (max-width: 2000px) {
	.timelineFlat .item {
    	width:1201px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		left: 0;
	}

}

/* --- 768px --- */
/*@media screen and (max-width:980px) {
	.timelineFlat .timeline_line {
		width:680px;
	}

	.timelineFlat .t_line_view {
		width:680px;
	}

	.timelineFlat .t_line_m {
		width: 338px;
	}
	.timelineFlat .t_line_m.right {
		left: 339px;
		width: 339px;
	}
	.timelineFlat .item {
    	width: 1025px;
	}
	.slideshowimage {
	    max-width: 532px;
	    width: 100%;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		left: -72px;
	}
}*/

@media screen and (max-width:1382px) {
	.slideshowimage {
	    margin-bottom: 10px;
	    width: 619px;
	}

	.timelineFlat .item {
		width: 1000px;
	}
	.timelineFlat .item .itemtext h2 {
		width: 317px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		height: 429px;
	}
	.timelineFlat .timeline_line {
		top: 495px;
	}
}

@media screen and (max-width:1250px) {

	.slideshowimage {
	    margin-bottom: 10px;
	    width: 500px;
	}
	.timelineFlat .item {
		width: 800px;
	}
	.timelineFlat .item .itemtext {
		padding: 10px;
		line-height: 1em;
		font-size: 16px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		height: 347px;
	}
	.timelineFlat .timeline_line {
		top: 413px;
	}
	.timelineFlat .item .itemtext h2 {
		width: 253px;
	}

}
@media screen and (max-width:768px) {
	.timelineFlat .timeline_line {
		width:530px;
	}

	.timelineFlat .t_line_view {
		width:1060px;
	}

	.timelineFlat .t_line_m {
		width: 528px;
	}
	.timelineFlat .t_line_m.right {
		left: 530px;
		width: 528px;
	}

	.timelineFlat .t_line_node span {

	}
	.timelineFlat .t_node_desc {
		font-size:8px;
	}
	.timelineFlat .t_line_m.right .t_node_desc {
		right:auto;
		left:0;
	}

	.slideshowimage {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.timelineFlat .item {
		width: 580px;
		left: -16px;
	}
	.timelineFlat .item .itemtext {
		padding: 10px;
		line-height: 1em;
		font-size: 14px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		height: 602px;
	}
	.timelineFlat .timeline_line {
		top: 667px;
	}
	.timelineFlat .item .itemtext h2 {
		width: 100%;
		padding-bottom: 10px;
	}

}

@media screen and (max-width:400px) {
	.timelineFlat .timeline_line {
		width:240px;
	}

	.timelineFlat .t_line_view {
		width:480px;
	}

	.timelineFlat .t_line_m {
		width: 238px;
	}
	.timelineFlat .t_line_m.right {
		left: 240px;
		width: 238px;
	}

	.timelineFlat .item_open {
		width:280px;
		height:390px;
	}
	.timelineFlat .item_open img {
		max-width:280px;
	}
	.timelineFlat .item_open_cwrapper {
		width:280px;
	}
	.slideshowimage {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.timelineFlat .item {
		width: 380px;
		left: -16px;
	}
	.timelineFlat .item .itemtext {
		padding: 10px;
		line-height: 1em;
		font-size: 14px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		height: 500px;
	}
	.timelineFlat .timeline_line {
		top: 560px;
	}


}

@media screen and (max-width:320px) {
	.timelineFlat .timeline_line {
		width:240px;
	}

	.timelineFlat .t_line_view {
		width:300px;
	}

	.timelineFlat .t_line_m {
		width: 238px;
	}
	.timelineFlat .t_line_m.right {
		left: 240px;
		width: 238px;
	}

	.timelineFlat .item_open {
		width:280px;
		height:390px;
	}
	.timelineFlat .item_open img {
		max-width:280px;
	}
	.timelineFlat .item_open_cwrapper {
		width:280px;
	}
	.slideshowimage {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.timelineFlat .item {
		width: 250px;
		left: -16px;
	}
	.timelineFlat .item .itemtext {
		padding: 10px;
		line-height: 1em;
		font-size: 14px;
	}
	.timelineFlat.timelineFlatPortfolio .item, .timelineFlat.timelineFlatPortfolio .item_open {
		height: 450px;
	}
	.timelineFlat .timeline_line {
		visibility: hidden;
	}
}



/*
.clear {
  clear: both;
}
.timelineLoader {
  display: none;
}
.timelineFlat.timelineFlatPortfolio.tl3 {
  width: 100%; overflow: hidden; margin-left: auto; margin-right: auto; text-align: center; height: auto; display: block;
}
.timeline_line {
  text-align: left; position:relative; margin-left:auto; margin-right:auto;
}
#t_line_left,
#t_line_right {
  position: absolute;
}
.t_line_holder {
  position:relative; overflow: hidden; width:100%;
}
.t_line_wrapper {
  white-space: nowrap; margin-left: 0%;
}
.t_line_m {
  position:absolute; top:0;
}
.t_line_m.right {
  position:absolute; top:0;
}
.t_line_month {
  position:absolute; width:100%; top:0; text-align:center;
}
.t_line_node {
  left: 16.67%; position: absolute; text-align: center; width: 12px; margin-left: -6px;
}
.t_line_node.spacing-2-1 {
  left: 33.33%;
}
.t_line_node.spacing-2-2 {
  left: 66.67%;
}
.t_line_node.spacing-3-1 {
  left: 25%;
}
.t_line_node.spacing-3-2 {
  left: 50%;
}
.t_line_node.spacing-3-3 {
  left: 75%;
}
.t_line_node.spacing-4-1 {
  left: 20%;
}
.t_line_node.spacing-4-2 {
  left: 40%;
}
.t_line_node.spacing-4-3 {
  left: 60%;
}
.t_line_node.spacing-4-4 {
  left: 80%;
}
.t_line_node.spacing-5-1 {
  left: 16.67%;
}
.t_line_node.spacing-5-2 {
  left: 33.33%;
}
.t_line_node.spacing-5-3 {
  left: 50%;
}
.t_line_node.spacing-5-4 {
  left: 66.67%;
}
.t_line_node.spacing-5-5 {
  left: 83.33%;
}
.t_line_node.spacing-6-1 {
  left: 14.28%;
}
.t_line_node.spacing-6-2 {
  left: 28.57%;
}
.t_line_node.spacing-6-3 {
  left: 42.86%;
}
.t_line_node.spacing-6-4 {
  left: 57.14%;
}
.t_line_node.spacing-6-5 {
  left: 71.43%;
}
.t_line_node.spacing-6-6 {
  left: 85.71%;
}
.t_line_node.spacing-7-1 {
  left: 12.5%;
}
.t_line_node.spacing-7-2 {
  left: 25%;
}
.t_line_node.spacing-7-3 {
  left: 37.5%;
}
.t_line_node.spacing-7-4 {
  left: 50%;
}
.t_line_node.spacing-7-5 {
  left: 62.5%;
}
.t_line_node.spacing-7-6 {
  left: 75%;
}
.t_line_node.spacing-7-7 {
  left: 87.5%;
}
.t_line_node.spacing-8-1 {
  left: 11.11%;
}
.t_line_node.spacing-8-2 {
  left: 22.22%;
}
.t_line_node.spacing-8-3 {
  left: 33.33%;
}
.t_line_node.spacing-8-4 {
  left: 44.44%;
}
.t_line_node.spacing-8-5 {
  left: 55.55%;
}
.t_line_node.spacing-8-6 {
  left: 66.67%;
}
.t_line_node.spacing-8-7 {
  left: 77.78%;
}
.t_line_node.spacing-8-8 {
  left: 88.89%;
}
.t_line_node.active {
  left: 25%; position: absolute; text-align: center; width: 12px; margin-left: -6px;
}
.t_node_desc {
  white-space: nowrap; position: absolute; z-index: 1; display: none;
}
.t_node_desc span {
  display: none;
}
.t_line_view {
  position:relative; display:inline-block;
}
.timeline_items_holder {
  width: 300px; margin-left: auto; margin-right: auto;
}
.timeline_items {
  text-align: left; width: 52440px; margin-left: -10608.5px;
}
.item {
  padding-left: 0px; padding-right: 0px; margin-left: 7.5px; margin-right: 7.5px; float: left; position: relative; -webkit-user-select: none;
}
.item > img {
   -webkit-user-select: none;
}
.item > h2 {
  -webkit-user-select: none;
}
.item > h2 span {
  color: rgb(113, 220, 226); -webkit-user-select: none;
}
.itemtext {
  -webkit-user-select: none;
}
.itemtext > br {
  -webkit-user-select: none;
}
.like-share-view {
  -webkit-user-select: none;
}
.scene-filter-holder {
  -webkit-user-select: none;
}
.scene-filters.share {
  -webkit-user-select: none;
}
.filter {
  -webkit-user-select: none;
}
.filter > span {
  -webkit-user-select: none;
}
.filter-items {
  -webkit-user-select: none;
}
.filter-item.twitter {
  -webkit-user-select: none;
}
.filter-item.twitter a {
  -webkit-user-select: none;
}
.filter-item.twitter img {
  -webkit-user-select: none;
}
.filter-item.facebook {
  -webkit-user-select: none;
}
.filter-item.facebook a {
  -webkit-user-select: none;
}
.filter-item.facebook img {
  -webkit-user-select: none;
}
.filter-item.facebook span {
  display: none;
  -webkit-user-select: none;
}
*/
