.usanetwork-quiz.usanetwork-quiz-theme-video {
  color: #ffffff;
  background: none;
  max-width: 930px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap {
  padding: 0;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center {
  width: 615px;
  margin-right: 15px;
}