.usanetwork-quiz.usanetwork-quiz-theme-video {
  color: #ffffff;
  background: none;
  max-width: 930px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap {
  padding: 0;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .quiz-title {
  display: block;
  font-family: "Proxima N W01 Reg",Arial,sans-serif;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  margin-right: 15px;
  overflow: hidden;
  padding-right: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 615px;
}
.usanetwork-quiz-questions.questions .page-note {
  font-family: "avalonmedium","Proxima N W01 Smbd",Arial,sans-serif;
  font-size: 16px;
  right: 15px;
  text-align: right;
  top: -36px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center {
  width: 615px;
  margin-right: 15px;
  position: relative;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .image {
  margin-bottom: 18px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .description,
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .result-description {
  font-family: "Proxima N W01 Reg", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .score-container {
  font-family: "Proxima N W01 Reg", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .entry-button {
  border-radius: 0;
  font-family: "Proxima N W01 Reg", Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  width: 172px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center .repeat-button {
  border-radius: 0;
  font-family: "Proxima N W01 Reg", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 300px;
}
.usanetwork-quiz-question .question-title {
  font-family: "avalonmedium","Proxima N W01 Smbd",Arial,sans-serif;
  font-size: 20px;
  line-height: 1.2;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer {
  margin: 10px 0 0 0;
  overflow: hidden;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer.odd {
  padding: 0 7px 0 0;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer.even {
  padding: 0 0 0 7px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer .inner {
  max-width: none;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer .answer-image {
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  width: 300px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer .answer-image img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 300px;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer .answer-title {
  border: none;
  background: #2d2d2d;
  display: table-cell;
  font-family: "avalonmedium","Proxima N W01 Smbd",Arial,sans-serif;
  font-size: 18px;
  line-height: 1;
  height: 56px;
  max-height: 56px;
  overflow: hidden;
  vertical-align: middle;
  width: 300px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer .answer-title:hover {
  background: #0ab6e8;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .sidebar .ad-container {
  margin: 25px 0px;
}
.usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .sidebar .sharebar .field-label {
  font-family: "Proxima N W01 Reg", Arial, sans-serif;
  letter-spacing: 0;
}

@media (max-width: 960px) {
  .usanetwork-quiz.usanetwork-quiz-theme-video .quiz-title {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center {
    margin: 0 auto;
  }
  .usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .sidebar {
    margin: 0 auto;
    margin-top: 15px;
    width: 615px;
  }
}
@media (max-width: 645px) {
  .usanetwork-quiz.usanetwork-quiz-theme-video .quiz-title {
    width: 300px;
  }
  .usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .center {
    width: 300px;
  }
  .usanetwork-quiz.usanetwork-quiz-theme-video .content-wrap .sidebar {
    width: 300px;
  }
  .usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer,
  .usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer.odd,
  .usanetwork-quiz.usanetwork-quiz-theme-video .usanetwork-quiz-answer.even {
    padding: 0;
    width: 100%;
  }
}