@if $animate-all-the-things == true {
  @include transition-all;
}

////////////////////////////
// DEFAULT BOX SIZING TO BORDER BOX
// see: http://paulirish.com/2012/box-sizing-border-box-ftw/
////////////////////////////
* {
  @include box-sizing("border-box");
}

@if $init-type != normalize {
  html {
    @if $establish-baseline != true {
      font-size: 100%;
    }
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

// Body -------------------------------------------------------------- */

// Establish baseline rhythm
// from compass/typography/_vertical_rhythm
@if $establish-baseline {
  @include establish-baseline;
}

body {
  @extend %regular;
  color: $text-color;
  background-color: $poll-back;
  max-width: 2500px;
  margin: 0 auto;
  width: 100%;
}

// Selected Text -------------------------------------------------------------- */
// -moz- must be declared separately

::-moz-selection {
  @include accessible-color($alt-color);
  background: $alt-color;
  text-shadow: none;
}

::selection {
  @include accessible-color($alt-color);
  background: $alt-color;
  text-shadow: none;
}

// Links -------------------------------------------------------------- */
a {
  @include link-colors($link-normal, $link-hover, $link-active, $link-visited, $link-focus);
  @if $border-links == true {
    @include border-links($link-border-normal, $link-border-hover, $link-border-active, $link-border-visited);
  }
  @if $link-transitions != false {
    @include link-transitions($link-transitions);
  }
  text-decoration: none;
}

.link-color-reset {
  @include link-colors(transparent, transparent, transparent, transparent, transparent);
  outline: none!important;
}

em {
  @extend %italic;
}

strong {
  @extend %bold;
}

p {
  @include trailer;
}

hr {
  // add your own styles, if you like
}

pre {
  @extend %mono;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1;
}

blockquote {
  // add your own styles, if you like
}

// Lists -------------------------------------------------------------- */

ol, ul {
  // @include trailer;
  // padding-left: $kit-gutter;
}

dl {
  margin-left: 0;
}

ol, ul, li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  &.menu {
    li {
      margin: 0;
    }
  }
}

dt {
  // add your own styles, if you like
}

dd {
  // add your own styles, if you like
}

//
figure {
  // add your own styles, if you like
}

figcaption {
  // add your own styles, if you like
}

address {
  @extend %italic;
}

.fixed {
  left: 0;
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 100;
}

.page-title{
  padding: 20px;
  position: relative;
  h2 {
    color: $poll-color;
    font-family: $avalon-medium;
    font-size: 70px;
    line-height: 70px;
    margin: 0;
    text-transform: uppercase;
    @include breakpoint($bp-1024-width) {
      font-size: 60px;
    }
    @include breakpoint($bp-768-width) {
      font-size: 34px;
      line-height: 70px;
    }
    @include breakpoint($bp-480-width) {
      font-size: 20px;
    }
  }
}
.load-more-link {
  bottom: -50px;
  min-height: 25px;
  position: absolute;
  text-align: center;
  width: calc(100% - 32px);
  @include breakpoint($bp-min-1901-width) {
    bottom: -100px;
  }
  a {
    border-bottom: 2px solid $poll-color;
    color: $poll-color;
    font-family: $tex-gyreschola-italic;
    font-size: 16px;
    padding-bottom: 3px;
    text-transform: uppercase;
    @include breakpoint($bp-min-1901-width) {
      font-size: 30px;
      padding-bottom: 4px;
    }
    &.disabled {
      display: none;
    }
  }
  .related-content-block & {
    a {
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}
.load-more-loader {
  background: url(../images/ajax-loader.gif);
  height: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16px;
  width: 32px;
}
.node-type-usanetwork-static-page, .node-type-webform {
  article {
    .content {
      margin: auto;
      font-size: 16px;
      color: #232323;
    }
    .textcontent {
      margin: auto;
      padding: 20px;
      max-width: 1280px;
      font-size: 16px;
      color: #232323;
    }
    h2 {
      font-family: $tex-gyreschola-italic;
      font-size: 16px;
    }
    a, a:visited {
      color:#808080;
      text-decoration: underline;
    }
    a:hover {
      color: #a9a9a9;
    }
    strong {
      font-family: $avalon-demi;
    }
    form {
      margin: auto;
      max-width: 1000px;
      padding: 20px;
    }
    .form-textarea-wrapper textarea {
      box-sizing: border-box;
      display: block;
      height: 170px;
      margin: 0;
      width: 100%;
    }
  }
  .show-title-block h1 {
    font-family: $avalon-demi;
    max-width: 100%;
  }
}
.lazyloader-icon {
  height: auto;
  width: auto;
}