.usa-adrails {
  .usa-wrap {
    max-width: 1000px;
    margin: 0 auto;
    .panel-wrapper {
      position: relative;
    }
    #main,
    .flexslider {
      max-width: 1000px;
    }
  }
}
.usa-wrap {
  background-color: $black;
}

.ad-leaderboard {
  text-align: center;
  padding: 10px 0 0;
  line-height: 1em;
  height: 60px;
  margin-bottom: 10px;
  @include breakpoint($bp-ad-leaderboard-med-width) {
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 0;
  }
  .usa-adrails & {
    padding-top: 0;
  }
}


#head-sponsored {
  float: right;
  margin: 1px 12px 0 0;
}
