.carousel {
	ul {
		margin: 0;
		padding: 0;
	}
	li.carousel-item {
		float: left;
		width: 236px;
		height: 188px;
		text-align: center;
		padding: 0;
		margin: 0;
		&.active {
			img {
				border-color: $white;
			}
			.arrow-left {
				border-bottom: 8px solid transparent;
			    border-left: 8px solid $white;
			    border-top: 8px solid transparent;
			    height: 0;
			    left: 0;
			    position: absolute;
			    top: 23px;
			    width: 0;
			}
		}
	}
	.carousel-item-wrapper {
		position: relative;
		figure {
			left: 8px;
		    position: absolute;
		    top: 0;
		    z-index: 1;
		}
		img {
			max-width: none;
			border: 2px solid $gray-dark;
			display: block;
		}
		a.overlay {
			height: 188px;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    z-index: 2;
		}

	}
	.item-content {
		font-weight: normal;
		color: $white;
	 	left: 10px;
	    position: absolute;
	    top: 122px;
	    width: 217px;
	    z-index: 10;
	    height: 61px;
	    padding: 8px 18px 8px;
	    background: rgba(0, 0, 0, 0.8);
	    h4 {
	    	font-family: "Proxima N W01 Smbd";
	    }
	    a {
	    	color: $white;
	    }
	    > div {
	    	display: inline;
	    	&:first-child {
	    		display: block;
	    	}
	    }
	}
	.btns {
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 9999;
		&.next {
			left: auto;
			right: 0;
		}
	}
}