
.carousel-item {
  float: left;
  display: block;
  .cast-carousel & {
    text-align: center;
    width: 183px;
    height: 145px;
    @include breakpoint($bp-carousel-smallest) {
      width: 236px;
      height: 188px;
    }
  }
  @include breakpoint($bp-carousel-smallest) {
    width: 236px;
    height: 188px;
  }
}


.carousel {
  @include breakpoint($bp-carousel-smallest) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .item-list {
    height: 188px;
    overflow: hidden;
  }
  h4 {
    font-family: $headline-semi;
  }
  .view {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    max-width: 1319px;
    overflow: hidden;
    position: relative;
    padding: 0;
    &:after, &:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 20px;
      z-index: 95;
      @include breakpoint($bp-carousel-smallest) {
        width: 50px;
      }

    }
    &:before {
      @include background(linear-gradient(left center, $black 0%, $black 8%, rgba($black, 0) 100%));
      left: 0px;
      @include breakpoint($bp-carousel-smallest) {
        @include background(linear-gradient(left center, $black 0%, $black 60%, rgba($black, 0) 100%));
      }
    }
    &:after {
      @include background(linear-gradient(right center, $black 0%, $black 8%, rgba($black, 0) 100%));
      right: 0px;
      @include breakpoint($bp-carousel-smallest) {
        @include background(linear-gradient(right center, $black 0%, $black 60%, rgba($black, 0) 100%));
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li.carousel-item {
    padding: 0;
    margin: 0;
    &.active {
      figure {
        border-color: $white;
      }
      .item-content {
        &:after {
          @include cssTriangle(8px, $white, left);
          position: absolute;
          left:0;
          bottom: 23px;
        }
      }
    }
    figure {
      border: 2px solid $gray-dark;
      @include breakpoint($bp-social-small-width) {
        left: 8px;
      }
      position: absolute;
      top: 0;
      z-index: 1;
    }
    img {
      max-width: none;
      display: block;
    }
    a.article-link {
      height: 188px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 90;
    }
  }
  .carousel-item-wrapper {
    position: relative;
  }
  .item-content {
    letter-spacing: .05em;
    font-weight: normal;
    color: $white;
    left: 2px;
    position: absolute;
    top: 93px;
    z-index: 10;
    padding: 10px 18px;
    background: $black-trans;
    overflow: hidden;
    width: 169px;
    height: 50px;
    @include breakpoint($bp-carousel-smallest) {
      width: 221px;
      top: 125px;
      height: 61px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @include breakpoint($bp-carousel-smallest) {
      left: 10px;
    }
    a {
      color: $white;
    }
    > div {
      display: inline;
      overflow: hidden;
      white-space: nowrap;
      &:first-child {
        display: block;
      }
    }
  }
}

.carousel-btns {
  .touch & {
    display: none;
  }
  .btns {
    @extend %usanetwork-font;
    color: $gray-darker-light;
    font-size: 2.35em;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 39%;
    z-index: 96;
    .ie9 &, .ie8 & {
      @extend .icons-gray-arrow-left;
      width: 25px;
      height: 33px;
      text-indent: -9999px;
    }
    &:hover {
      color: $gray-light;
    }
    &.next {
      left: auto;
      right: 0;
      .ie9 &, .ie8 & {
        @extend .icons-gray-arrow-right;
      }
    }
  }
}

/* cast carousel */

#cast-carousel {
  background-color: $black;
  border-bottom: 1px solid $gray-dark;
  padding: 10px 0 15px;
  @include breakpoint($bp-carousel-smallest) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .view-content {
    width: 300px;
    height: 145px;
    @include breakpoint($bp-carousel-smallest) {
      width: auto;
      height: auto;
    }
  }
  .carousel-item {
    img {
      max-width: 169px;
      @include breakpoint($bp-carousel-smallest) {
        max-width: none;
      }
    }
    a.article-link {
      height: 145px;
      @include breakpoint($bp-carousel-smallest) {
        height: 188px;
      }
    }
  }
  figure {
    height: 145px;
    width: 173px;
    @include breakpoint($bp-carousel-smallest) {
      width: auto;
      height: auto;
    }
  }

  &.carousel {
    h4 {
      font-family: $headline-semi;
      font-size: 12px;
      margin: 0;
      @include breakpoint($bp-carousel-smallest) {
        font-size: 16px;
      }
    }
    .item-content > div {
      font-size: 10px;
      line-height: 1.1em;
      @include breakpoint($bp-carousel-smallest) {
        font-size: 14px;
        line-height: 1.5em;
      }
    }
    .view {
      &:after, &:before {
        width: 37px;
      }
      &:before {
        @include background(linear-gradient(left center, $black 0%, $black 45%, rgba($black, 0) 100%));
        @include breakpoint($bp-carousel-smallest) {
          @include background(linear-gradient(left center, $black 0%, $black 60%, rgba($black, 0) 100%));
        }
      }
      &:after {
        @include background(linear-gradient(right center, $black 0%, $black 45%, rgba($black, 0) 100%));
        @include breakpoint($bp-carousel-smallest) {
          @include background(linear-gradient(right center, $black 0%, $black 60%, rgba($black, 0) 100%));
        }
      }
    }
  }
}


/* show carousel */

#block-views-usa-shows-block-1 {
  margin: 5px 0 20px;
  @include breakpoint($bp-carousel-smallest) {
    margin-bottom: 30px;
  }
  .view-content {
    width: 300px;
    @include breakpoint($bp-carousel-smallest) {
      width: auto;
    }
  }

  .view-mode-block_cover_title {
    position: relative;
  }
  .item-list {
    height: 145px;
    overflow: hidden;
  }
  .carousel-item {
    width: 183px;
    height: 145px;
    img {
      max-width: 169px;
    }
    a.article-link {
      height: 145px;
    }
  }
  figure {
    height: 145px;
    width: 173px;
  }
  h4 {
    font-weight: normal;
    color: $white;
    left: 2px;
    position: absolute;
    top: 109px;
    width: 169px;
    z-index: 10;
    height: 34px;
    padding: 8px 18px;
    background: $black-trans;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    margin: 0;
    @include breakpoint($bp-carousel-smallest) {
      left: 10px;
    }
  }
  li.active h4 {
    &:after {
      @include cssTriangle(8px, $white, left);
      position: absolute;
      left:0;
      bottom: 10px;
    }
  }
}

