/* cast carousel */
#cast-carousel {
  background-color: $black;
  border-bottom: 1px solid $gray-dark;
  padding: 10px 0 15px;
  @include breakpoint($bp-carousel-smallest) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .view-content {
    width: 300px;
    height: 184px;
    @include breakpoint($bp-carousel-smallest) {
      width: auto;
      height: auto;
    }
  }
}

.view-usa-cast {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  max-width: 1319px;
  overflow: hidden;
  position: relative;
  padding: 0;
  &:after, &:before {
    content: $space;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 95;
    @include breakpoint($bp-carousel-smallest) {
      width: 50px;
    }
  }
  [id="person-content"] & {
    &:before {
      @include background(linear-gradient(left center, $black 0%, $black 8%, rgba($black, 0) 100%));
      left: 0px;
      @include breakpoint($bp-carousel-smallest) {
        @include background(linear-gradient(left center, $black 0%, $black 60%, rgba($black, 0) 100%));
      }
    }
    &:after {
      @include background(linear-gradient(right center, $black 0%, $black 8%, rgba($black, 0) 100%));
      right: 0px;
      @include breakpoint($bp-carousel-smallest) {
        @include background(linear-gradient(right center, $black 0%, $black 60%, rgba($black, 0) 100%));
      }
    }
  }
  .carousel-item {
    border: 2px solid $gray-dark;
    width: 221px;
    height: 184px;
    @extend %carousel-item-center;
    &.active {
      border-color: $white;
      .item-content {
        &:after {
          @include cssTriangle(8px, $white, left);
          position: absolute;
          left:0;
          bottom: 50%;
          @include transform3d( translateY(50%) );
        }
      }
    }
    h4 {
      @extend %semi-14;
      margin: 0;
    }
    img {
//      max-width: 169px;
      display: block;
      @include breakpoint($bp-carousel-smallest) {
        max-width: none;
      }
    }
    a.article-link {
      height: 184px;
    }
    .item-content {
      @extend %metadata-holder;
      letter-spacing: .05em;
      font-weight: normal;
      color: $white;
      position: absolute;
      padding: 10px 18px;
      height: 61px;
      a {
        color: $white;
      }
      > div {
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.5em;
        font-size: 12px;
      }
      div.role-blank {
        line-height: 3.0em;
      }
    }
  }
}
