.catchall-takeover {
  #head-leaderboard {
    margin-bottom: 15px;
  }
  #messages,
  #content .tabs {
    display: none;
  }
  #main {
    padding-left: 0;
    padding-right: 0;
  }
  .field-name-field-usa-catchall-html {
    iframe {
      display: block;
      width: 100%;
      height: 1400px;
      border: none;
      top: -19px;
      left: 0;
      position: relative;
    }
  }
}
