/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
  margin: 0;
  padding: 0;
  overflow: hidden;
  .slides {
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
    }
    img {
      @include inline-block;
      max-height: 100%;
      vertical-align: top;
      width: auto;
    }
  }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {
  margin: 0 0 15px;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */

.flex-direction-nav {
  *height: 0;
  a {
    width: 60px;
    height: 60px;
    margin: -16px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    @extend %usanetwork-font;
    background-color: $black-trans-5;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: $gray-light;
    font-size: 28px;
    &:hover {
      background-color: $black-trans;
    }
    .touch & {
      display: none;
    }
  }
  .flex-next {
    background-position: 100% 0;
    right: -30px;
    text-indent: 3px;
    .ie9 &, .ie8 & {
      @extend .icons-arrow-next-v2;
      &:hover {
        @extend .icons-arrow-next-hover-v2;
      }
    }
    .no-font-feature-settings & {
      @include replace-text('icons/arrow-next.png');
      display: block;
      width: 60px;
      height: 60px;
      background-size: 18px 30px;
    }
  }
  .flex-prev {
    left: -30px;
    text-indent: -3px;
    .ie9 &, .ie8 & {
      @extend .icons-arrow-prev-v2;
      &:hover {
        @extend .icons-arrow-prev-hover-v2;
      }
    }
    .no-font-feature-settings & {
      @include replace-text('icons/arrow-prev.png');
      display: block;
      width: 60px;
      height: 60px;
      background-size: 18px 30px;
    }
  }
}

.flexslider:hover {
  .flex-next {
    opacity: 0.8;
    right: 5px;
  }
  .flex-prev {
    opacity: 0.8;
    left: 5px;
  }
  .flex-next:hover, .flex-prev:hover {
    opacity: 1;
  }
}

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity = 30);
  cursor: default;
}

/* Control Nav */

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  display: none;
  li {
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  @include border-radius(20px);
  background-color: $gray-semi-med;
  border: 1px solid $gray-semi-med;
  &:hover {
    background-color: $white;
    cursor: pointer;
    border: 1px solid $off-white;
  }
  &.flex-active {
    background: $white;
    cursor: default;
    border: 1px solid $off-white;
  }
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  li {
    width: 25%;
    float: left;
    margin: 0;
  }
  img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .flex-active {
    opacity: 1;
    cursor: default;
  }
}

@media screen and (max-width: 860px) {
  .flex-direction-nav {
    .flex-prev {
      opacity: 1;
      left: 0;
    }
    .flex-next {
      opacity: 1;
      right: 0;
    }
  }
}
