#footer {
  li, ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.usa-tv-show .region-footer {
//  padding-bottom: 55px;
  @include breakpoint($bp-menu-switch) {
    padding-bottom: 137px;
  }
}

.region-footer {
  border-top: 1px solid $gray-med-dark;
  padding: 3px 15px 65px;
  margin-top: 20px;
  overflow: hidden;
  font-size: 14px;
  font-family: $headline-reg;
  color: $gray-dark-light;
  @include breakpoint($bp-menu-switch) {
    font-size: 12px;
    font-family: $headline-semi;
    padding-bottom: 85px;
    padding-left: 25px;
    padding-right: 25px;
  }
  li a {
    color: $gray-dark-light;
    margin-right: 15px;
    padding: 10px 0 6px;
    display: block;
    @include breakpoint($bp-menu-switch) {
      display: inline-block;
    }
  }
  h2 {
    display: none;
  }
  li {
    display: block;
    @include breakpoint($bp-menu-switch) {
      display: inline-block;
    }
  }
  .block {
    float: left;
  }
}

/* section not on empathy ? hide? */
#block-usanetwork-blocks-usa-social-footer {
  float: right;
}

#block-menu-usa-footer-bottom {
  a {
    margin-right: 15px;
    padding: 10px 0;
  }
}

/* overriding module styles - remove from there? */
#footer-message {
  font-size: 12px;
  font-family: $headline-reg;
  color: $gray-dark-light;
  @include breakpoint($bp-menu-switch) {
    font-size: 10px;
  }
}

#block-usanetwork-blocks-usa-footer-message {
  clear: both;
}