%footer-links {
  font-family: $headline-reg;
  color: $gray-dark-light;
  padding: 11px 5px 8px 25px;
  font-size: 14px;
  a {
    @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
  }
}

#footer {
  display: none;
  @include breakpoint($bp-menu-switch) {
    display: block;
  }
  li, ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

#footer-offside {
  ul {
    @include no-bullets;
    padding-left: 0;
    margin-left: 0;
  }
  .slide-panel-link {
    background: none;
    border-width: 0;
    // font-size: $base-font-size;
    // line-height: $base-line-height;
    text-transform: none;
  }
}

#jPanelMenu-menu {
  .region-footer-offside {
    @extend %footer-links;
  }
}

.region-footer {
  border-top: 1px solid $gray-med-dark;
  padding: 3px 15px 65px;
  overflow: hidden;
  position: relative;
  z-index: 50;
  background-color: $black-true;
  @extend %footer-links;
  @include breakpoint($bp-menu-switch) {
    font-size: 12px;
    font-family: $headline-semi;
    padding-bottom: 85px;
    padding-left: 25px;
    padding-right: 25px;
    &.usa-showmenu-loaded {
      padding-bottom: 135px;
    }
  }
  li a {
    margin-right: 15px;
    padding: 5px 0;
    display: block;
    @include breakpoint($bp-menu-switch) {
      display: inline-block;
      line-height: 2.1em;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
  h2 {
    display: none;
  }
  li {
    display: block;
    line-height: 2em;
    @include breakpoint($bp-menu-switch) {
      display: inline-block;
    }
  }
  .block {
    float: left;
  }
  #footer-links a {
    padding: 2px 0 10px;
    @include breakpoint($bp-menu-switch) {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}


#block-menu-usa-footer-bottom {
  a {
    margin-right: 15px;
    padding: 10px 0;
  }
}

/* overriding module styles - remove from there? */
#footer-message,
#footer-message-offside {
  font-size: 12px;
  font-family: $headline-reg;
  color: $gray-dark-light;
  line-height: 18px;
  @include breakpoint($bp-menu-switch) {
    font-size: 10px;
  }
}

#block-usanetwork-blocks-usa-footer-message {
  clear: both;
}
