
#utilities {
  &.search-active {
    height: 85px;
    @include breakpoint($bp-head-search) {
      height: 62px;
    }
  }
  &.utilities-head-show {
    #head-search {
      margin-top: -40px;
    }
    @include breakpoint($bp-head-search) {
      #head-search {
        margin-top: 10px;
      }
    }
  }
}

@include breakpoint($bp-head-search) {

  .utilities-search {
    .utilties-main-group {
      float: left;
      margin-right: -60px;
      padding-right: 60px;
      width: 100%;
      @include transition-property(margin, padding);
      @include transition-duration(0.2s);
    }
    .show-time {
      position: absolute;
      right: 60px;
      @include transition-property(right);
      @include transition-duration(0.2s);
    }
    #head-sponsored {
      margin-right: 72px;
    }
  }
  .utilities-search.search-active {
    .utilties-main-group {
      margin-right: -290px;
      padding-right: 290px;
      @include transition-property(padding);
      @include transition-duration(0.2s);
    }
    .show-time {
      right: 290px;
      @include transition-property(right);
      @include transition-duration(0.2s);
    }
    #head-sponsored {
      margin-right: 302px;
    }
  }
}


#head-search {
  clear: both;
  @include border-radius(20px);
  margin: 0 15px 0 0;
  @include breakpoint($bp-head-search) {
    background-color: $gray-med;
    clear: none;
    @include float-right;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    .search-active & {
      width: 274px;
    }
  }
  input {
    @include inline-block;
    border: none;
    vertical-align: middle;
  }

  .form-submit {
    font-size: 0;
    display: none;
  }

  .form-reset {
    display: none;
    .search-active & {
      display: block;
      position: absolute;
      top: 48px;
      right: 12px;
      background-color: transparent;
      border: 0;
      padding: 0;
      &:after {
       @extend %usanetwork-font;
        font-size: 14px;
        content: "\e00a";
        color: $gray-light;
      }
      @include breakpoint($bp-head-search) {
        display: none;
      }
    }
  }

  .form-type-searchfield {
    display: block;
    margin: 0;
    outline: none;
    label  {
      .ie8 &, .ie9 &, .no-font-feature-settings & {
        background: url(../images/svgs/search.svg) no-repeat 8px 9px transparent;
        text-indent: -9999px;
      }
      @extend %usanetwork-font;
      font-size: 14px;
      background-color: $gray-med;
      padding-top: 7px;
      padding-left: 7px;
      width: 30px;
      height: 30px;
      float: right;
      cursor: pointer;
      color: $gray-light;
      margin: 0;
      position: absolute;
      top: 5px;
      right: 5px;
      @include border-radius(20px);
      @include breakpoint($bp-head-search) {
        font-size: 20px;
        background-color: transparent;
        @include border-radius(0);
        padding-top: 10px;
        padding-left: 10px;
        width: 40px;
        height: 40px;
        position: static;
        right: auto;
        top: auto;
      }
    }
  }

  input[type="search"] {
    outline: none;
    @extend %regular;
    color: $gray-light;
    float: left;
    background-color: $gray-med;
    font-size: 0;
    height: 20px;
    width: 0;
    margin: 0;
    padding: 0;
    @include border-radius(15px);
    @include breakpoint($bp-head-search) {
      @include transition-property(width);
      @include transition-duration(0.2s);
      background-color: transparent;
      @include border-radius(0);
      height: 30px;
    }
    .search-active & {
      outline: none;
      font-size: 16px;
      padding: 5px 0 5px 10px;
      width: 100%;
      @include breakpoint($bp-head-search) {
        font-size: 20px;
        padding-top: 6px;
        width: 224px;
        line-height: 1em;
        @include transition-property(width);
        @include transition-duration(0.2s);
      }
    }
  }


}// END #head-search
