$headerSearchHeightMobi: 30px;
$headerSearchHeightTablet: 40px;
$headerSearchWidth: 260px;



#utilities.search-active {
  height: 85px;
  @include breakpoint(641px) {
    height: 62px;
  }  
}

@include breakpoint(641px) {
  .utilities-search #head-show {
    float: left;
    margin-right: -60px;
    padding-right: 60px;
    width: 100%;
  }

  .utilities-search.search-active #head-show {
    margin-right: -290px;
    padding-right: 290px;
  }
}



#head-search {
  clear: both;
  @include border-radius(20px);
  margin: 0 15px 0 0;
  @include breakpoint(641px) {
    background-color: $gray-med;
    clear: none;
    @include float-right;
    margin-top: 10px;
    height: 40px;
  }  
  input {
    @include inline-block;
    border: none;
    vertical-align: middle;
  }

  .form-submit {
    font-size: 0;
    display: none;
  }

  .form-reset {
    display: none;
    .search-active & {
      display: block;
      position: absolute;
      top: 51px;
      right: 12px;
      background-color: transparent;
      border: 0;
      padding: 0;
      &:after {
       @extend %usanetwork-font;
        font-size: 14px;
        content: "\e00a";
        color: $gray-light;
      }  
      @include breakpoint(641px) {
        display: none;
      }  
    }
  }

  .form-type-searchfield {
    display: block;
    margin: 0;
    label  {
      .ie8 &, .ie9 & {
        background: url(../images/svgs/search.svg) no-repeat 8px 9px transparent;
        text-indent: -9999px;
      }
      @extend %usanetwork-font;
      font-size: 14px;
      background-color: $gray-med;
      padding-top: 7px;
      padding-left: 7px;
      width: 30px;
      height: 30px;
      float: right;
      cursor: pointer;
      color: $gray-light;
      margin: 0;
      position: absolute;
      top: 5px;
      right: 5px;
      @include border-radius(20px);
      @include breakpoint(641px) {
        font-size: 20px;
        background-color: transparent;
        @include border-radius(0);
        padding-top: 10px;
        padding-left: 10px;
        width: 40px;
        height: 40px;
        position: static;
        right: auto;
        top: auto;
      }  
    }
  } 

  input[type="search"] {
    font-family: $headline-reg;
    color: $gray-light;
    float: left;
    background-color: $gray-med;
    font-size: 0;
    height: 20px;
    width: 0;
    margin: 0;
    padding: 0;
    @include border-radius(15px);
    @include breakpoint(641px) {
      background-color: transparent;
      @include border-radius(0);
      height: 30px;
    }  
    .search-active & {
      outline: none;
      font-size: 16px;
      padding: 5px 0 5px 10px;
      width: 100%;
      @include breakpoint(641px) {
        font-size: 20px;
        padding-top: 6px;
        width: 224px;
      }  
    }
  }


}// END #header-search
