.usa-home-featured {
  position: relative;
  height: 300px;
  padding: 0 37px;
}
.featured-carousel {
}

.tiles {
  margin: 0 auto 40px;
  padding-top: 15px;
}

.tiles .tiles-inner {
  margin-right: 0;
  overflow: hidden;
}
.tiles .ad, .tiles .b-spot, .tiles .c-spot {
  display: inline;
  float: left;
  margin-bottom: 8px;
  overflow: hidden;
}

.tiles .a-spot img, .tiles .b-spot img, .tiles .c-spot img {
  display: block;
  width: 100%;
}
.tiles .a-spot a, .tiles .b-spot a, .tiles .c-spot a {
  display: block;
}

.tiles .a-spot {
  display: block;
  float: none;
  height: 250px;
  width: 300px;
}
.tiles .a-spot .flex-viewport {
  height: 100%;
}
@media (min-width: 645px) and (max-width: 959px) {
  .tiles .a-spot {
    height: 350px;
    width: 615px;
  }
}
@media (min-width: 960px) and (max-width: 1274px) {
  .tiles .a-spot {
    height: 378px;
    width: 930px;
  }
}
@media (min-width: 1275px) {
  .tiles .a-spot {
    height: 506px;
    width: 1245px;
  }
  .tiles .aspot .show-title,
  .tiles .aspot .show-time {
    font-size: 44px;
  }
  .tiles .aspot .episode-title {
    font-size: 22px;
  }
  .tiles .aspot a .cta {
    padding-left: 70px;
    font-size: 18px;
    line-height: 60px;
  }
  .tiles .aspot .cta:before {
    width: 60px;
    height: 60px;
  }
}


.tiles .ad {
  height: 50px;
}
.tiles .b-spot {
  height: 122px;
  margin-right: 8px;
  width: 146px;
}
.tiles .c-spot {
  height: 122px;
  width: 146px;
}
.tiles .c-spot.tablet-only {
  display: none;
}
.tiles .flexslider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
}
.tiles .flexslider .flex-direction-nav .flex-next,
.tiles .flexslider .flex-direction-nav .flex-prev {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.tiles .flexslider:hover .flex-next,
.tiles .flexslider:hover .flex-prev {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.tiles #main-slider {
  text-align: center;
}
.tiles .flex-control-paging {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  bottom: 0;
  font-size: 0;
  height: 0;
  margin: 0;
  position: relative;
  top: -26px;
  overflow: visible;
  vertical-align: top;
  width: auto;
}
.tiles .flex-control-paging li {
  margin: 0 5px;
}
.tiles .flex-control-paging li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #5b5b5b;
  height: 14px;
  width: 14px;
}
.tiles .flex-control-paging li a.flex-active {
  background: #fff;
}
.tiles .flex-control-paging li a:hover {
  background: #fff;
}
@media (min-width: 645px) {
  .tiles .ad, .tiles .a-spot, .tiles .b-spot, .tiles .c-spot {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .tiles .c-spot {
    height: 250px;
    width: 300px;
  }
  .tiles .tiles-inner {
    margin-right: -15px;
  }
  .tiles .ad {
    display: inline;
    float: right;
    height: 250px;
  }
}
@media (min-width: 645px) and (max-width: 959px) {
  .tiles .tiles-inner {
    position: relative;
  }
  .tiles .c-spot.tablet-only {
    display: inline;
  }
  .tiles .b-spot {
    display: block;
    float: none;
    height: 250px;
    width: 615px;
  }
  .tiles .ad {
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
@media (min-width: 960px) and (max-width: 1274px) {
  .tiles .b-spot {
    display: inline;
    float: left;
    height: 250px;
    width: 300px;
  }
}
@media (min-width: 1275px) {
  .tiles .b-spot {
    height: 250px;
    width: 615px;
  }
}
@media (max-width: 644px) {
  .tiles {
    width: 300px;
  }
}
@media (min-width: 645px) and (max-width: 959px) {
  .tiles {
    width: 615px;
  }
}
@media (min-width: 960px) and (max-width: 1274px) {
  .tiles {
    width: 930px;
  }
}
@media (min-width: 1275px) {
  .tiles {
    width: 1245px;
    padding-top: 0;
  }
}

