.usa-home-featured {
  position: relative;
  background-color: $black;
  padding: 5px 0 36px;
  h2 {
    margin-bottom: 12px;
  }
  @extend %un-margin;
  .carousel-btns {
    display: none;
    @include breakpoint($bp-home-3col) {
      display: block;
    }
  }
  &:hover {
    .carousel-btns {
      opacity: 1;
    }
  }
  .usa-adrails &, .ie9 &, .ie8 & {
    background-color: transparent;
  }
  li.carousel-item {
    @include carousel-item($carousel-smallest, 8px);
    @extend .title-overlay;
    @include breakpoint($bp-home-2col) {
      @include carousel-item($carousel-small);
    }
    @include breakpoint($bp-home-3col) {
      @include carousel-item($carousel-medium);
    }

    .meta {
      @extend %metadata-holder;
      height: 32px;
      padding: 8px;
      @include breakpoint($bp-home-2col) {
        height: 44px;
        padding: 12px 15px 8px;
      }
      @include breakpoint($bp-home-3col) {
        height: 50px;
      }
      @include breakpoint($bp-home-widest) {
        height: 53px;
        max-width: none;
      }
      .usa-adrails &, .ie8 & {
        height: 50px;
        padding: 8px 15px 8px;
        max-width: 221px;
      }
    }
  }

  .title {
    @extend %semi-10;
    margin-bottom: 3px;
    line-height: 1;
    @include breakpoint($bp-home-2col) {
      font-size: 12px;
    }
    @include breakpoint($bp-home-3col) {
      font-size: 16px;
    }
    @include breakpoint($bp-home-widest) {
      font-size: 18px;
    }
    .usa-adrails &, .ie8 & {
      font-size: 18px;
    }
  }
  .caption {
    @extend %regular-8;
    line-height: 1;
    color: $gray-sky;
    @include breakpoint($bp-home-2col) {
      font-size: 10px;
      color: $gray-light;
    }
    @include breakpoint($bp-home-widest) {
      font-size: 12px;
    }
    .usa-adrails &, .ie8 & {
      font-size: 12px;
    }
  }
  .featured-carousel {
    margin: 0 auto;
    @include breakpoint($bp-home-narrowest) {
      width: 300px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 615px;
    }
    @include breakpoint($bp-home-3-fence) {
      max-width: 944px;
    }
    @include breakpoint($bp-home-widest) {
      max-width: 1260px;
    }
    .usa-adrails &, .ie8 & {
      max-width: 944px;
    }
    > h2 {
      text-transform: uppercase;
    }
  }
  .carousel {
    @include breakpoint($bp-home-3-fence) {
      > ul {
        margin-left: 8px !important;
      }
    }
    @include breakpoint($bp-home-widest) {
      > ul {
        margin-left: 8px !important;
      }
      height: 254px !important;
      .carousel-item {
        width: 300px;
        height: 250px;
        margin-right: 15px;
        img, .meta {
          width: 300px;
        }
        img {
          height: 250px;
        }
      }
    }
    .usa-adrails &, .ie8 & {
      height: 184px !important;
      .carousel-item {
        width: 221px;
        height: 184px;
        img, .meta {
          width: 221px;
        }
        img {
          height: 184px;
        }
      }
    }
  }
  .carousel-btns {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform3d(translateX(-50%));
    @include breakpoint($bp-home-narrowest) {
      width: 370px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 685px;
    }
    @include breakpoint($bp-home-3-fence) {
      width: 1000px;
    }
    @include breakpoint($bp-home-widest) {
        width: 1325px;
    }
    .usa-adrails &, .ie8 & {
      width: 1000px;
      display: block;
    }
  }
}
