.node-usa-homepage {
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}

.page-home {
  #main {
    padding: 0 0 15px;
    @include breakpoint($bp-home-2col) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}


.promo-metadata {
  position: absolute;
  width: 100%;
  height: 77px;
  bottom: 0;
  background-color: $black-trans;
  padding: 17px 15px 8px;
  h2, h3 {
    margin: 0;
    line-height: 1;
  }
  h2 {
    font-size: 20px;
    font-family: $headline-semi;
    line-height: 22.5px;
    margin-bottom: 3px;
  }
  h3 {
    font-size: 15px;
    font-family: $headline-reg;
    line-height: 24px;
  }
  @include breakpoint($bp-home-narrowest) {
    height: 32px;
    padding: 4px 8px 3px;
    h2 {
      font-size: 12px;
      line-height: 13.5px;
      margin-bottom: 1px;
    }
    h3 {
      font-size: 10px;
      line-height: 12px;
    }
  }
  .usa-adrails &, .ie8 & {
    padding: 17px 15px 8px;
    h2 {
      font-size: 20px;
      line-height: 22.5px;
      margin-bottom: 3px;
    }
    h3 {
      font-size: 15px;
    }
  }
  .promo-cta {
    width: 44px;
    float: left;
    & ~ h2, & ~ h3 {
      padding-left: 56px;
    }
    @include breakpoint($bp-home-narrowest) {
      width: 20px;
      margin-right: 2px;
      & ~ h2, & ~ h3 {
        padding-left: 22px;
      }
    }
    .usa-adrails &, .ie8 & {
      width: 44px;
      & ~ h2, & ~ h3 {
        padding-left: 56px;
      }
    }
  }
}

.usa-home {
  @extend %home-grid;
}


.tiles {
  .flexslider {
    @include box-shadow(none);
    border-radius: 0;
    background: none;
    border: none;
    .flex-next, .flex-prev {
      @include transition-duration(0.3s);
      @include transition-property(opacity, color, background-color);
      display: block;
      color: rgba($white, 0);
      background-color: rgba($black, 0);
      &:hover {
        color: rgba($white, 0.9);
        background-color: rgba($black, 0.9);
      }
    }

    &:hover {
      .flex-next, .flex-prev {
        color: rgba($white, 0.7);
        background-color: rgba($black, 0.7);
      }
    }
  }
  #main-slider {
    text-align: center;
  }
  .flex-control-paging {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    bottom: 0;
    font-size: 0;
    height: 0;
    margin: 0;
    position: relative;
    top: -26px;
    overflow: visible;
    vertical-align: top;
    width: auto;
    .ie9 & {
      top: -32px;
      padding-bottom: 8px;
    }x
    li {
      margin: 0 5px;
      a {
        @include box-shadow(none);
        background: $gray-darker-light;
        height: 14px;
        width: 14px;
        &.flex-active, &:hover {
          background: $white;
          border: 1px solid $off-white;
        }
      }
    }
  }
}


.usa-home-featured {
  position: relative;
  background-color: $black;
  padding: 5px 0 36px;
  h2 {
    margin-bottom: 12px;
  }
  @extend %un-margin;
  .carousel-btns {
    display: none;
    @include breakpoint($bp-home-3col) {
      display: block;
    }
  }
  &:hover {
    .carousel-btns {
      opacity: 1;
    }
  }
  .usa-adrails &, .ie9 &, .ie8 & {
    background-color: transparent;
  }
  li.carousel-item {
    @include carousel-item($carousel-smallest, 8px);
    @extend .title-overlay;
    @include breakpoint($bp-home-2col) {
      @include carousel-item($carousel-small);
    }
    @include breakpoint($bp-home-3col) {
      @include carousel-item($carousel-medium);
    }

    .meta {
      height: 32px;
      padding: 8px;
      text-align: left;
      &:after {
        background: none;
      }
      @include breakpoint($bp-home-2col) {
        height: 44px;
        padding: 12px 15px 8px;
      }
      @include breakpoint($bp-home-3col) {
        height: 50px;
      }
      @include breakpoint($bp-home-widest) {
        height: 53px;
        max-width: none;
      }
      .usa-adrails &, .ie8 & {
        height: 50px;
        padding: 8px 15px 8px;
        max-width: 221px;
      }
    }
  }

  .title {
    font-family: $headline-semi;
    margin-bottom: 3px;
    font-size: 10px;
    line-height: 1;
    @include breakpoint($bp-home-2col) {
      font-size: 12px;
    }
    @include breakpoint($bp-home-3col) {
      font-size: 16px;
    }
    @include breakpoint($bp-home-widest) {
      font-size: 18px;
    }
    .usa-adrails &, .ie8 & {
      font-size: 18px;
    }
  }
  .caption {
    font-family: $headline-reg;
    font-size: 8px;
    line-height: 1;
    color: $gray-sky;
    @include breakpoint($bp-home-2col) {
      font-size: 10px;
      color: $gray-light;
    }
    @include breakpoint($bp-home-widest) {
      font-size: 12px;
    }
    .usa-adrails &, .ie8 & {
      font-size: 12px;
    }
  }
  .featured-carousel {
    margin: 0 auto;
    @include breakpoint($bp-home-narrowest) {
      width: 300px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 615px;
    }
    @include breakpoint($bp-home-3-fence) {
      max-width: 944px;
    }
    @include breakpoint($bp-home-widest) {
      max-width: 1260px;
    }
    .usa-adrails &, .ie8 & {
      max-width: 944px;
    }
    > h2 {
      text-transform: uppercase;
    }
  }
  .carousel {
    @include breakpoint($bp-home-3-fence) {
      > ul {
        margin-left: 8px !important;
      }
    }
    @include breakpoint($bp-home-widest) {
      > ul {
        margin-left: 8px !important;
      }
      height: 254px !important;
      .carousel-item {
        width: 300px;
        height: 250px;
        margin-right: 15px;
        img, .meta {
          width: 300px;
        }
        img {
          height: 250px;
        }
      }
    }
    .usa-adrails &, .ie8 & {
      height: 184px !important;
      .carousel-item {
        width: 221px;
        height: 184px;
        img, .meta {
          width: 221px;
        }
        img {
          height: 184px;
        }
      }
    }
  }
  .carousel-btns {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform3d(translateX(-50%));
    @include breakpoint($bp-home-narrowest) {
      width: 370px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 685px;
    }
    @include breakpoint($bp-home-3-fence) {
      width: 1000px;
    }
    @include breakpoint($bp-home-widest) {
        width: 1325px;
    }
    .usa-adrails &, .ie8 & {
      width: 1000px;
      display: block;
    }
  }
}
