.image-style-gallery_full_photo {
  max-width: 1024px;
  max-height: 767px;
}
.node-media-gallery {
  &.view-mode-inline_content {
    max-width: 800px;
    .content {
      text-align: center;
    }
    .flexslider {
      .flex-direction-nav {
        a {
          @include link-colors($white, $white, $white, $white, $white);
          display: block;
          opacity: 0.8;
          top: 50%;
          margin-top: -39px;
          &.flex-prev {
            left: 0;
          }
          &.flex-next {
            right: 0;
          }
        }
      }
      .field-name-field-caption {
        padding: 10px;
        text-align: left;
        p {
          margin: 5px 0;
        }
      }
      .counter {
        padding: 10px;
        font-size: 15px;
      }
    }
  }
}
.media-gallery {
  .center-wrapper {
    font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
    position: relative;
    width: 1140px;
    margin: 0 auto;
    @include breakpoint($bp-home-narrowest) {
      width: 260px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 641px;
    }
    @include breakpoint($bp-home-3-fence) {
      width: 950px;
    }
    .field-name-field-caption {
      display: none;  
    }
    .panel-col-first {
      width: 810px;
      height: 100%;
      float: left;
      @include breakpoint($bp-home-narrowest) {
        width: 256px;
        float: none;
      }
      @include breakpoint($bp-home-2-fence) {
        width: 641px;
        float: none;
      }
      @include breakpoint($bp-home-3-fence) {
        width: 641px;
      }
    }
    .pane-node-field-media-items {
        background-color: #101010;
      border: #000000 solid 1px;
    }
    .flexslider {
      margin-bottom: 0; 
    }
    .field-name-field-media-items {
      > li, > li .content {
        text-align: center;
        font-size: 0;
        height: 606px;
        @include breakpoint($bp-home-narrowest) {
          height: 192px;
        }
        @include breakpoint($bp-home-2-fence) {
          height: 479px;
        }
        @include breakpoint($bp-home-3-fence) {
          height: 479px;
        }
      }
      > li .content:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      img {
        vertical-align: middle;
      }
    }
    .navigation-counter{
      margin: 10px 0 34px;
      @include breakpoint($bp-home-narrowest) {
        margin: 8px 0 0;
      }
      @include breakpoint($bp-home-2-fence) {
        margin: 13px 0 37px;
      }
      @include breakpoint($bp-home-3-fence) {
        margin: 9px 0 28px;
      }
      .counter{
        font-size: 16px;
        color: #878785;
        text-align: center;
        @include breakpoint($bp-home-narrowest) {
          font-size: 10px;
        }
        @include breakpoint($bp-home-2-fence) {
          font-size: 15px;
        }
        @include breakpoint($bp-home-3-fence) {
          font-size: 16px;
        }
      }
    }
    .panel-col-last {
      width: 300px;
      float: right;   
      @include breakpoint($bp-home-narrowest) {
        width: 100%;
      }
      @include breakpoint($bp-home-2-fence) {
        float: none;
        width: 100%;
      }
      .inside {
        min-height: 356px;
        @include breakpoint($bp-home-narrowest) {
          min-height: 100%;
        }
        @include breakpoint($bp-home-2-fence) {
          width: 336px;
          float: left;
          min-height: 250px;
        }
        @include breakpoint($bp-home-3-fence) {
          min-height: 229px;
        }
      }
    }
    
    .pane-node-title {
      margin: 3px 0 0;
      @include breakpoint($bp-home-narrowest) {
        width: 260px;
        margin-top: 0;
      }
      @include breakpoint($bp-home-2-fence) {
        clear: both;
        float: left;
        margin-top: 0;
        width: 341px;
      }
      @include breakpoint($bp-home-3-fence) {
        margin-top: 0;
        font-size: 20px;
      }
      h1 {
        font-size: 17px;
        color: #878785;
        margin: 0;
        @include breakpoint($bp-home-narrowest) {
          font-size: 13px;
        }
        @include breakpoint($bp-home-2-fence) {
          font-size: 16px;
        }
      }
    }
/*    .pane-node-field-season {
      float: left;
      font-size: 14px;
      @include breakpoint($bp-home-narrowest) {
        font-size: 8px;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 12px;
        clear: left;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 13px;
      }
    }
    .pane-node-field-episode {
      font-size: 14px;
      @include breakpoint($bp-home-narrowest) {
        font-size: 8px;
        float: none;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 12px;
        float: left;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 13px;
      }
    }*/
  }
  .image-caption {
    font-family: "Proxima N W01 Reg",Arial,sans-serif;
    padding-right: 15px;
    margin: 40px 0;
    @include breakpoint($bp-home-narrowest) {
      margin: 10px 0 20px;
    }
    @include breakpoint($bp-home-2-fence) {
      margin: 20px 0 20px;
      padding-right: 0;
      float: left;
      width: 300px;
      clear: left;
    }
    @include breakpoint($bp-home-3-fence) {
      margin: 30px 0 35px;
      padding-right: 10px;
    }
    .gallery-image-caption {
      font-size: 20px;
      @include breakpoint($bp-home-narrowest) {
        font-size: 12px;
        clear: left;
        line-height: 1.3em;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 15px;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
  .pane-node-field-gigya-share-bar {
    @include breakpoint($bp-home-narrowest) {
      margin-bottom: 22px;
    }
    @include breakpoint($bp-home-2-fence) {
      float: left;
      width: 300px;
      clear: left;
    }
    @include breakpoint($bp-home-3-fence) {
      margin-top: 0;
    }
  }
  .pane-dart-dart-tag-300x250-ifr-reload {
    @include breakpoint($bp-home-narrowest) {
      display: none;
    }
    @include breakpoint($bp-home-2-fence) {
      position: static;
      margin-top: 13px; 
    }
  }
  .flex-direction-nav {
    a {
      top: 50%;
      margin-top: -30px;
      &.flex-next {
        right: 0;
        border: none;
      }
      &.flex-prev {
        left: 0;
        border: none;
      }
    }
  }
  .panel-col-bottom {
    @extend %un-margin;
    @extend %mid-gray-top-border;
    > ul, > section {
      max-width: 1140px;
    }
  }
}
.media-gallery {
  .menu-label {
    @extend %secondary-menu-label;
  }
  .filter-dropdown {
    .tab {
      display: none;
    }
    &.open {
      .tab {
        display: block;
      }
    }
    h2 {
      margin: 0;
     }
  }
  .filter-menu {
    margin-top: 0;
  }
  .gallery-tabs {
    background-color: $gray-med;
    &.usa-secondary-menu {
      height: auto;
      @include breakpoint($bp-grid-small-3) {
        height: 60px;
      }
    }
    a {
      &.selected {
        color: $white;
      }
      @include breakpoint($bp-grid-small-3) {
        @include secondary-menu-wide($secondary-menu-bg);
      }
    }
    .menu-item a {
      z-index: 0;
    }

    h2 {
      @extend %regular-18;
      letter-spacing: normal;
      @include breakpoint($bp-grid-small-3) {
        font-size: 20px;
      }
    }

    @include breakpoint($bp-grid-small-3) {
      background-color: $gray-dark;
      margin-bottom: 30px;
      &:before {
        display: none;
      }
      .menu-label {
        display: none;
      }
      ul {
        @include horizontal-list(0);
      }
      h2 {
        cursor: pointer;
        line-height: 1;
        margin: 0 15px 0 0;
      }
    }
  }
}
