.image-style-gallery_full_photo {
  max-width: 1024px;
  max-height: 767px;
}
.media-gallery {
  .panels-section-row-media-gallery:nth-of-type(1) {
    font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
        position: relative;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 25px;
    @include breakpoint($bp-home-narrowest) {
      width: 260px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 641px;
    }
    @include breakpoint($bp-home-3-fence) {
      width: 950px;
    }
    .field-name-field-caption {
      display: none;  
    }
    .pane-node-field-media-items {
      width: 810px;
      height: 610px;
      float: left;
      @include breakpoint($bp-home-narrowest) {
        width: 256px;
        height: 192px;
        float: none;
      }
      @include breakpoint($bp-home-2-fence) {
        width: 641px;
        height: 479px;
        float: none;
      }
      @include breakpoint($bp-home-3-fence) {
        width: 641px;
        height: 479px;
      }
    }
    .field-name-field-media-items {
      > li, > li .content {
        text-align: center;
        font-size: 0;
        height: 610px;
        @include breakpoint($bp-home-narrowest) {
          height: 192px;
        }
        @include breakpoint($bp-home-2-fence) {
          height: 479px;
        }
        @include breakpoint($bp-home-3-fence) {
          height: 479px;
        }
      }
      > li .content:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      img {
        vertical-align: middle;
      }
    }
    .pane-node-title {
      width: 300px;
      float: right;
      @include breakpoint($bp-home-narrowest) {
        width: 260px;
      }
      @include breakpoint($bp-home-2-fence) {
        clear: both;
        float: left;
        width: 341px;
      }
    h1 {
        /*font-family: "avalonregular","Proxima N W01 Reg",Arial,sans-serif;*/
        font-family: "avalonbold","Proxima N W01 Bold",Helvetica,Arial,sans-serif;
        font-size: 25px;
        margin: 24px 0 5px;
        @include breakpoint($bp-home-narrowest) {
          font-size: 13px;
          margin: 10px 0 -5px;
    }
        @include breakpoint($bp-home-2-fence) {
          font-size: 19px;
          margin: 18px 0 0px;
        }
        @include breakpoint($bp-home-3-fence) {
    margin-top: 0;
          font-size: 20px;
        }
      }
    }
    .pane-node-field-season {
      float: left;
      font-size: 14px;
      margin-left: 30px;
      @include breakpoint($bp-home-narrowest) {
        margin-left: 0;
        font-size: 8px;
      }
      @include breakpoint($bp-home-2-fence) {
        margin-left: 0;
        font-size: 12px;
        clear: left;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 13px;
        margin-left: 10px;
      }
    }
    .pane-node-field-episode {
      font-size: 14px;
      float: left;
      @include breakpoint($bp-home-narrowest) {
        font-size: 8px;
        float: none;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 12px;
        float: left;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 13px;
      }
    }
  }
  .image-caption {
    font-family: "Proxima N W01 Reg",Arial,sans-serif;
    float: right;
    width: 300px;
    padding-right: 60px;
    .gallery-image-caption{
      font-size: 20px;
      @include breakpoint($bp-home-narrowest) {
        font-size: 11px;
        clear: left;
        line-height: 1.3em;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 15px;
      }
      @include breakpoint($bp-home-3-fence) {
        font-size: 19px;
        margi-right: 100px;
      }
    }
    @include breakpoint($bp-home-narrowest) {
      width: 60%;
      float: left;
      padding-right: 0;
    }
    @include breakpoint($bp-home-2-fence) {
      float: none;
      padding-right: 0;
      float: left;
    width: 300px;
      clear: left;
    }
  }
  .navigation-counter{
    float: right;
    width: 300px;
    .counter{
      margin-top: 35px;
      font-size: 20px;
      @include breakpoint($bp-home-narrowest) {
        font-size: 10px;
        margin-top: 10px;
      }
      @include breakpoint($bp-home-2-fence) {
        font-size: 16px;
        margin-top: 17px;
      }
      @include breakpoint($bp-home-3-fence) {
        margin-top: 18px;
      }
    }
    @include breakpoint($bp-home-narrowest) {
      float: right;
      width: auto;
    }
    @include breakpoint($bp-home-2-fence) {
      float: left;
      width: 50px;
      clear: left;
    }
  }
  .pane-dart-dart-tag-300x250-ifr-reload {
    position: absolute;
    bottom: 0;
    right: 0;
    @include breakpoint($bp-home-narrowest) {
      display: none;
    }
    @include breakpoint($bp-home-2-fence) {
      position: static;
      margin-top: 13px; 
    }
  }
  .flex-direction-nav {
    a {
      top: 50%;
      margin-top: -30px;
      &.flex-next {
        right: 0;
        border: none;
      }
      &.flex-prev {
        left: 0;
        border: none;
      }
    }
  }
  .panels-section-row:nth-of-type(2) {
    @extend %un-margin;
    @extend %mid-gray-top-border;
    > ul, > section {
      max-width: 1000px;
    }
  }
}
.media-gallery {
      .menu-label {
    @extend %secondary-menu-label;
  }
  .filter-dropdown {
    .tab {
      display: none;
    }
    &.open {
      .tab {
        display: block;
      }
    }
    h2 {
      margin: 0;
     }
  }
  .filter-menu {
    margin-top: 0;
  }
  .gallery-tabs {
    background-color: $gray-med;
    &.usa-secondary-menu {
      height: auto;
      @include breakpoint($bp-grid-small-3) {
        height: 60px;
      }
    }
    a {
      &.selected {
        color: $white;
      }
      @include breakpoint($bp-grid-small-3) {
        @include secondary-menu-wide($secondary-menu-bg);
      }
    }
    .menu-item a {
      z-index: 0;
    }

    h2 {
      @extend %regular-18;
      letter-spacing: normal;
      @include breakpoint($bp-grid-small-3) {
        font-size: 20px;
      }
    }

    @include breakpoint($bp-grid-small-3) {
      background-color: $gray-dark;
      margin-bottom: 30px;
      &:before {
        display: none;
      }
      .menu-label {
        display: none;
      }
      ul {
        @include horizontal-list(0);
      }
      h2 {
        cursor: pointer;
        line-height: 1;
        margin: 0 15px 0 0;
      }
    }
  }
}
