.image-style-gallery_full_photo {
  max-width: 1024px;
  max-height: 767px;
}
.media-gallery {
  .panels-section-row-media-gallery:nth-of-type(1) {
    position: relative;
    
    width: 1140px;
      margin: 0 auto;
    margin-bottom: 25px;
    @include breakpoint($bp-home-narrowest) {
      width: 300px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 615px;
    }
    @include breakpoint($bp-home-3-fence) {
      width: 950px;
    }
    .field-name-field-caption {
      display: none;  
    }
    .pane-node-title {
      display: inline;
      float: left;
      margin-right: 15px;
      h1 {
        font-size: 26px;
        display: inline;
      }
    }
    .pane-node-field-season {
      float: left;
      height: 40px;
      font-size: 24px;
    }
    .pane-node-field-episode {
      height: 40px;
      margin-top: 10px;
      font-size: 24px;
    }
    .pane-node-field-media-items {
      width: 810px;
      float: left;
      height: 610px;
      @include breakpoint($bp-home-narrowest) {
        width: 300px;
        height: 225px;
      }
      @include breakpoint($bp-home-2-fence) {
        width: 615px;
        height: 460px;
    }
      @include breakpoint($bp-home-3-fence) {
        width: 615px;
        height: 460px;
  }
    }
  }
  .navigation-buttons{
    float: right;
    width: 300px;
    .slider-navigation {
      position: relative;
      height: 90px;
      width: 130px;
      float: left;
      @include breakpoint($bp-home-3-fence) {
        height: 40px;
      margin-bottom: 30px;
      }
    }
    .counter{
      margin-left: 150px;
      margin-top: 35px;
      font-size: 16pt;
      @include breakpoint($bp-home-3-fence) {
        margin-top: 18px;
      }
    }
    @include breakpoint($bp-home-2-fence) {
      float: left;
    }
  }
  .image-caption {
    float: right;
    width: 300px;
    .gallery-image-caption{
      font-size: 24px;
    }
    @include breakpoint($bp-home-2-fence) {
      width: 100%;
    }
  }
  .pane-dart-dart-tag-300x250-ifr-reload {
    /*float: right;*/
    position: absolute;
    bottom: 0;
    right: 0;
    @include breakpoint($bp-home-narrowest) {
      display: none;
    }
    @include breakpoint($bp-home-2-fence) {
      display: none;
    }
  }
  
    
/*  .flexslider {
    .field-name-field-media-items{
      > li, > li .content {
        text-align: center;
        position: relative;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        .ie9 & {
          @include breakpoint($bp-image-size-ie) {
            height: 450px;
          }
        }
        @include breakpoint($bp-image-size-matrix-1) {
          height: 370px;
        }
        @include breakpoint($bp-image-size-matrix-2) {
          height: 470px;
        }
        @include breakpoint($bp-image-size-matrix-3) {
          height: 570px;
        }
        @include breakpoint($bp-image-size-matrix-4) {
          height: 670px;
        }
        @include breakpoint($bp-image-size-matrix-5) {
          height: 770px;
        }
        @include breakpoint($bp-image-size-matrix-6) {
          height: auto;
        }
        @include breakpoint($bp-image-size-matrix-7) {
          height: 250px;
        }
        @include breakpoint($bp-image-size-matrix-8) {
          height: 350px;
        }
        @include breakpoint($bp-image-size-matrix-9) {
          height: 450px;
        }
        @include breakpoint($bp-image-size-matrix-10) {
          height: 550px;
        }
        @include breakpoint($bp-image-size-matrix-11) {
          height: 650px;
        }
        @include breakpoint($bp-image-size-matrix-12) {
          height: 750px;
        }
      }
    }
  }*/
  .flex-direction-nav {
    a {
      width: 60px;
      height: 60px;
      line-height: 60px;
      @include border-radius(50%);
      border: 0;
      background-color: rgba(64, 64, 64, 0.5);
      &:hover {
        background-color: rgba(64, 64, 64, 0.8);
      }
    }
    .flex-next {
      left: 0;
      left: 70px;
    }
    .flex-prev {
      left: 0;
    }
  }

/*  .slide-meta {
    overflow: hidden;
    padding: 0 15px 0;
    text-align: center;
    h1 {
      @include inline-block;
      font-size: 16px;
      vertical-align: middle;
      font-weight: normal;
      margin: 0 1em 0 0;
    }
    @include breakpoint($bp-nav-nudge-1) {
      margin: 0 auto;
    }
    @include breakpoint($bp-grid-small-meta-matrix-1) {
      width: 457px;
    }
    @include breakpoint($bp-grid-small-meta-matrix-2) {
      width: 693px;
    }
    @include breakpoint($bp-grid-small-meta-matrix-3) {
      width: 929px;
    }
    @include breakpoint($bp-nav-nudge-2) {
      text-align: left;
    }
  }
  .share-icons {
    @include inline-block;
    @include breakpoint($bp-nav-nudge-2) {
      @include float-right;
    }
  }
  .panels-section-row:nth-of-type(1) {
    padding-bottom: 30px;
  }*/
  .panels-section-row:nth-of-type(2) {
    @extend %un-margin;
    @extend %mid-gray-top-border;
    > ul, > section {
      max-width: 1000px;
    }
  }
}
.media-gallery {
      .menu-label {
    @extend %secondary-menu-label;
  }
  .filter-dropdown {
    .tab {
      display: none;
    }
    &.open {
      .tab {
        display: block;
      }
    }
    h2 {
      margin: 0;
     }
  }
  .filter-menu {
    margin-top: 0;
  }
  .gallery-tabs {
    background-color: $gray-med;
    &.usa-secondary-menu {
      height: auto;
      @include breakpoint($bp-grid-small-3) {
        height: 60px;
      }
    }
    a {
      &.selected {
        color: $white;
      }
      @include breakpoint($bp-grid-small-3) {
        @include secondary-menu-wide($secondary-menu-bg);
      }
    }

    h2 {
      @extend %regular-18;
      letter-spacing: normal;
      @include breakpoint($bp-grid-small-3) {
        font-size: 20px;
      }
    }

    @include breakpoint($bp-grid-small-3) {
      background-color: $gray-dark;
      margin-bottom: 30px;
      &:before {
        display: none;
      }
      .menu-label {
        display: none;
      }
      ul {
        @include horizontal-list(0);
      }
      h2 {
        cursor: pointer;
        line-height: 1;
        margin: 0 15px 0 0;
      }
    }
  }
}
