$bp-gallery-wider: 723px;


.image-style-gallery_full_photo {
  max-width: 1024px;
  max-height: 767px;
}
.media-gallery .flexslider {
  .field-name-field-media-items{
    > li {
      @include debug-outline(red);
      // font-size: 0;
      text-align: center;
      position: relative;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      @media (min-width: 1023px) and (max-height: 599px) {
        height: 370px;
      }
      @media (min-width: 1023px) and (min-height: 600px) {
        height: 470px;
      }
      @media (min-width: 1023px) and (min-height: 700px) {
        height: 570px;
      }
      @media (min-width: 1023px) and (min-height: 800px) {
        height: 670px;
      }
      @media (min-width: 1023px) and (min-height: 900px) {
        height: 770px;
      }
      @media (min-width: 1023px) and (min-height: 1000px) {
        height: auto;
      }

      @media (min-width: 1275px) and (max-height: 599px) {
        height: 250px;
      }
      @media (min-width: 1275px) and (min-height: 600px) {
        height: 350px;
      }
      @media (min-width: 1275px) and (min-height: 700px) {
        height: 450px;
      }
      @media (min-width: 1275px) and (min-height: 800px) {
        height: 550px;
      }
      @media (min-width: 1275px) and (min-height: 900px) {
        height: 650px;
      }
      @media (min-width: 1275px) and (min-height: 1000px) {
        height: 750px;
      }
      div {
        // display: inline;
      }
    }
  }
}

// .media-gallery .flexslider {
//   .field-name-field-media-items li {
//     @include debug-outline(red);
//     font-size: 0;
//     text-align: center;
//     position: relative;
//     overflow: hidden;
//     position: relative;
//     white-space: nowrap;
//   }
//   .flex-viewport {
//     max-height: 2000px;
//   }

//   // @media (min-width: 1023px) and (max-height: 599px) {
//   //   height: 370px;
//   // }
//   // @media (min-width: 1023px) and (min-height: 600px) {
//   //   height: 470px;
//   // }
//   // @media (min-width: 1023px) and (min-height: 700px) {
//   //   height: 570px;
//   // }
//   // @media (min-width: 1023px) and (min-height: 800px) {
//   //   height: 670px;
//   // }
//   // @media (min-width: 1023px) and (min-height: 900px) {
//   //   height: 770px;
//   // }
//   // @media (min-width: 1023px) and (min-height: 1000px) {
//   //   height: auto;
//   // }

//   // @media (min-width: 1275px) and (max-height: 599px) {
//   //   height: 250px;
//   // }
//   // @media (min-width: 1275px) and (min-height: 600px) {
//   //   height: 350px;
//   // }
//   // @media (min-width: 1275px) and (min-height: 700px) {
//   //   height: 450px;
//   // }
//   // @media (min-width: 1275px) and (min-height: 800px) {
//   //   height: 550px;
//   // }
//   // @media (min-width: 1275px) and (min-height: 900px) {
//   //   height: 650px;
//   // }
//   // @media (min-width: 1275px) and (min-height: 1000px) {
//   //   height: 750px;
//   // }
//   img {
//     @include inline-block;
//     max-height: 100%;
//     max-width: 100%;

//     vertical-align: top;
//     // width: auto;
//     // width: 100%;
//     // height: auto;

//   }
// }

.media-gallery {
  .field-name-field-caption{
    padding-top: 12px;
    @include breakpoint(723px){
      text-align: left;
    }
    * {
      display: inline;
    }
    p {
      margin-right: 0.5em;
    }
  }
  .content > .gallery-counter {
    padding-top: 12px;
    @include breakpoint(723px){
      text-align: left;
    }
  }
  .panels-section-row {
    @extend %un-margin;
    &:first-of-type {
      margin-bottom: 30px;
      padding-bottom: 20px;
      @include breakpoint($bp-gallery-wider) {
        padding-bottom: 30px;
      }
    }
    &:nth-of-type(2) {
      @extend %grid-view-wrap;
    }
  }
  .flexslider {
    // background: none;
    // border: none;
    // @include debug-outline;
    margin-bottom: 15px;
  }
}




///////////////////
#photo-slider-wrap {
  // margin-bottom: 30px;
  // padding-bottom: 20px;

  .slide-meta {
    overflow: hidden;
    padding: 0 15px 0;
    text-align: center;


    h1, h2 {
      @include inline-block;
      font-family: Proxima N W01 Reg;
      font-size: 16px;
      text-transform: none;
      vertical-align: middel;
    }
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0 15px 0 0;
    }

    header {
      margin-bottom: 10px
    }

    @include breakpoint(487px, 722px) {
      margin: 0 auto;
      width: 457px;
    }
    @include breakpoint(723px, 958px) {
      width: 693px;
    }
    @include breakpoint(959px) {
      width: 929px;
    }


  }// END .slide-meta

  .share-icons {
    @include inline-block;

  }

  .marker {
    @include inline-block;
    vertical-align: middle;
  }


  @include breakpoint(723px) {
    padding-bottom: 30px;

    .slide-meta {
      text-align: left;
      header {
        @include float-left;
      }
    }

    .share-icons {
      @include float-right;
    }
  }

}// END #photo-slider-wrap


#photo-slider {
  // @include border-radius(0);
  // @include box-shadow(none);
  // background: none;
  // border: none;
  // margin-bottom: 15px;

  .flex-direction-nav {

    @include breakpoint(487px) {
      .flex-next {
        margin-right: -228px;
        right: 50%;
      }
      .flex-prev {
        margin-left: -228px;
        left: 50%;
      }
    }
    @include breakpoint(723px) {
      .flex-next {
        margin-right: -346px;
      }
      .flex-prev {
        margin-left: -346px;
      }
      width: 693px;

    }
    @include breakpoint(959px) {
      .flex-next {
        margin-right: -464px;
      }
      .flex-prev {
        margin-left: -464px;
      }
    }
  }


  .slides {
    > li {

      // &:before {
      //     @include inline-block;
      //     content: "";
      //     padding-top: 70%;
      //     vertical-align: middle;
      //     width: 100%;
      // }

      // height: 400px;

      // &:before {
      //     @include inline-block;
      //     content: "";
      //     height: 100%;
      //     vertical-align: middle;
      //     width: 0;
      // }

    }


  }
}

