.maintenance-page {
  
  #page {
    width: 580px;
    margin: 10em auto;
  }  

  header {
    width: 180px;
    margin: 0 auto;
  }

  #logo {
    border-right: 0;
    font-size: 66px;
    height: auto;
  }
  #main {
    text-align: center;
  }
}