$menuSwitchBreakpoint: 768px;
$primary-nav-height-mobi: 50px;
$primary-nav-height-dt: 65px;
$logo-height-large: 34px;
$logo-height-med: 28px;
$logo-height-med-2: 32px;
// $bp-
// breakpoint(0 ($menuSwitchBreakpoint - 1px)) {

// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: $ziMegaNav;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $primary-nav-height-mobi;
  background-color: $nav-black;
  border-top: 1px solid #444;
  text-align: center;
  @include transition-property(left);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);
  [data-menu-position="open"] & {
    left: 258px;
    .primary-nav {
      > *:not(#main-menu-toggle) {
        opacity: 0.2;
        a {
          cursor: default;
        }
      }
    }
  }
  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  @include breakpoint($menuSwitchBreakpoint) {
    border-top: none;
    height: auto;
    text-align: left;
  }
  .show-variant {
    @include breakpoint($menuSwitchBreakpoint) {
      #logo {
        margin-right: 0;
      }
      .mega-nav-link {
        color: #717274;
      }
    }
  }
  .show-title {
    @include breakpoint($menuSwitchBreakpoint) {
      border-right: 1px solid $gray-med;
      margin-left: 0 !important;
      position: relative;
      &:after {
        content: "";
        display: block;
        border: none;
        // @include use-sprite('show-arrow');
        // height: image-height(sprite-file($ico-sprites, show-arrow));
        // width: image-width(sprite-file($ico-sprites, show-arrow));
        margin-top: 0;
        right: auto;
        left: 50%;
        // margin-left: -(image-width(sprite-file($ico-sprites, show-arrow)) / 2);
        // top: -(image-height(sprite-file($ico-sprites, show-arrow)) + 14px);
        z-index: 1;
        position: absolute;
      }
      .mega-nav-link {
        color: $blue;
        margin: 0 30px;
      }
    }
  }
}
.primary-nav {
  @include breakpoint($menuSwitchBreakpoint) {
    border-top: 1px solid #444;
    height: $primary-nav-height-dt;
    white-space: nowrap;
  }
}
#logo {
  @extend %usanetwork-font;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 25px;
  height: auto;
  @include inline-block;
  font-size: $logo-height-med;
  @include breakpoint($menuSwitchBreakpoint) {
    @include float-left;
    font-size: $logo-height-large;
    border-right: 1px solid $gray-med;
  }
  a {
    color: $white;
  }
}
.menu-title {
  @include breakpoint($menuSwitchBreakpoint) {
    display: none;
  }
}
.mobi-menu-icon {
  @include float-left;
  position: relative;
  margin: 14px 20px;
  width: 25px;
  height: 25px;
  margin-right: -65px;
  border: 5px solid $blue;
  border-width: 5px 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  @include breakpoint($menuSwitchBreakpoint) {
    display: none;
  }
  &:before {
    content: $space;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 25px;
    height: 0px;
    border-top: 5px solid $blue;
  }
  &:hover, &:hover:before, &:hover:after {
    border-color: $white;
  }
  [data-menu-position="open"] & {
    border-color: $white;
    &:before {
      border-color: $white;
    }
  }
}
.mega-menu-items {
  margin: 16px 15px;
  text-align: left;
  display: none;
  @include breakpoint($menuSwitchBreakpoint) {
    @include inline-block;
  }
  &.active {
    .mega-nav-link {
      color: $white;
    }
    .mega-sub-nav-container {
      @include translate3d(0, 0, 0);
      @include opacity(1);
      bottom: 100%;
    }
  }
  &:first-child {
    margin: 0 12px;
  }
  #jPanelMenu-menu & {
    display: block;
  }
}
.mega-nav-link {
  @include sansTitle-mobi;
  color: $blue;
  display: block;
  font-size: 19px;
  height: $primary-nav-height-dt - 32px;
  line-height: $primary-nav-height-dt - 32px;
  margin: 0;
  &:hover,
  &:focus {
    color: $white;
  }
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

#mega-nav-close {
  @include float-right;
  cursor: pointer;
}

.mega-sub-nav {
  padding: 30px 31px 20px;
  overflow: hidden;
  background: rgba(#000, 0.9);
  @include breakpoint($menuSwitchBreakpoint) {
    .mega-sub-nav {
      h2 {
        margin: 0 0 20px;
      }
      ul {
        display: block;
      }
    }
  }
  h2 {
    @include sansTitle-mobi;
    font-size: 30px;
    line-height: 1;
    display: none;
    margin: 0 0 20px;
    overflow: hidden;
  }
  .show-promotion {
    display: none;
    float: left;
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 30px;
    overflow: hidden;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      display: block;
    }
  }
  ul li {
    margin-bottom: .7em;
    float: none;
  }
  h2, .show-promotion, ul {
    @include transition-duration(0.3s);
    @include transition-delay(.1s);
    // opacity: 0;
  }
  &.slide-up {
    h2, .show-promotion, ul {
      opacity: 1;
    }
  }
}
.mega-sub-nav-link {
  font-family: $headline-reg;
  color: $white;
  &:hover {
    color: $blue;
  }
}
.mega-sub-nav-container {
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  @include transition-property(all);
  @include translate3d(0, 100%, 0);
  @include opacity(0);
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: none;
  ul {
    // @include span-columns(1,3);
    margin-right: gutter(3);
    &:nth-child(3) {
      margin-right: 0;
    }
    &:last-child {
      display: none;
    }
  }
}

.secondary-nav {
  .non-persistent-c {
    display: none;
  }
  @include breakpoint($menuSwitchBreakpoint) {
    display: block;
    background-color: #292929;
    border-top: 1px solid #444;
    height: $primary-nav-height-dt - 15px;
    padding-left: 128px;
    position: relative;
    white-space: nowrap;
    .non-persistent-c {
      display: block;
    }
    .slide-panel-link {
      @include inline-block;
      background: none;
      border: none;
      color: #fff;
      line-height: 50px;
      padding: 0 19px;
      vertical-align: middle;
      font-family: $headline-lt;
      font-size: 19px;
      text-transform: lowercase;
      &::selection,
      &::-moz-selection {
        background: transparent;
      }
    }
    .expandable-menu {
      @include inline-block;
      border: none;

      h1 {
        background: none;
        line-height: 50px;
        padding: 0 19px;
        font-family: $headline-lt;
        font-size: 19px;
        text-transform: lowercase;
        color: #fff;
        &::selection,
        &::-moz-selection {
          background: transparent;
        }

        &:after {
          content: none;
          display: none;
          border: none;
          // @include use-sprite('subnav-arrow');
          // height: image-height(sprite-file($ico-sprites, subnav-arrow));
          // width: image-width(sprite-file($ico-sprites, subnav-arrow));
          margin-top: 0;
          right: auto;
          left: 50%;
          // margin-left: -(image-width(sprite-file($ico-sprites, subnav-arrow)) / 2);
          // top: -(image-height(sprite-file($ico-sprites, subnav-arrow)) - 2px);
          z-index: 1;
        }
      }
      &.active {
        h1 {
          background: $gray-med;
          &:after {
            content: "";
            display: block;
          }
        }
      }

      a {
        border: none;
        padding: 0;
        white-space: nowrap;
        float: left;
        width: 200px;
        line-height: 1.714285714;
        font-size: 14px;
        color: #b5b5b5;
        margin-right: 4px;
        &:hover, &:focus {
          color: lighten(#b5b5b5, 15%);
        }
        &:nth-child(3n+1) {
          clear: left;
        }
      }

      > div {
        @include box-shadow(rgba(0,0,0,.7) 0 -20px 40px);
        background: #343434;
        border-top: 1px solid #444;
        left: 0;
        padding: 10px 20px 10px 150px;
        position: absolute;
        bottom: 100%;
        width: 100%;
        margin-bottom: 1px;
      }
    }
  }
}

#wall {
  background-color: $black-trans;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $ziWall;
}



//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

// NAVIGATION


#mega-nav {









  // BREAKPOINT-SPECIFIC

  // // 3 columns ++
  // @include breakpoint($menuSwitchBreakpoint) {
  //

  //
  //
  //
  //
  //
  //
  //
  //
  // }

  // @include breakpoint(925px) {
  //   .mega-menu-items {
  //     margin: {
  //       left: 18px;
  //       right: 18px;
  //     }
  //   }
  //   .mega-nav-link {
  //     font-size: 22px;
  //   }
  //   .show-title {
  //     .mega-nav-link {
  //       margin: 0 40px;
  //     }
  //   }
  //   .secondary-nav {
  //     .slide-panel-link,
  //     .expandable-menu h1 {
  //       font-size: 22px;
  //       padding: 0 23px;
  //     }
  //   }
  // }
  // @media (min-width: 768px) and (min-height: 650px) {
  //   .mega-sub-nav {
  //     h2,
  //     .show-promotion {
  //       display: block;
  //     }
  //   }
  // }
  // // 4 columns ++
  // @include breakpoint($bp-4-col) {
  //   .mega-sub-nav-container {
  //     ul {
  //       // @include span-columns(1,4);
  //       margin-right: gutter(4);
  //       &:last-child {
  //         display: block;
  //         margin-right: 0;
  //       }
  //     }
  //   }
  //   .secondary-nav {
  //     .expandable-menu {
  //       a {
  //         width: 230px;
  //         // font-size: 14px;
  //         &:nth-child(3n+1) {
  //           clear: none;
  //         }
  //         &:nth-child(4n+1) {
  //           clear: left;
  //         }
  //       }
  //     }
  //   }
  // }
}


