// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: 100;
  // left: -276px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  // margin-left: 276px;
  background-color: $nav-black;
  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  #site-name {
    position: absolute;
    right: $gutter-width;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
    // a {
    //     @include ir;
    //     display: block;
    //     width: 62px;
    //     height: 28px;
    //     background: sprite($ico-sprites, logo-usa-mobi, 0, 0) no-repeat;
    // }
  }
}
