// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: $ziMegaNav;
  bottom: 0;
  width: 100%;
  height: $primary-nav-height-mobi;
  background-color: $black-true;
  border-top: 1px solid $gray-med-dark;
  text-align: center;
  @include transition-property(none);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);
  a {
    @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
  }
  [data-menu-direction="left"] & {
    left: 0;
    @include transition-property(left);
  }
  [data-menu-direction="left"][data-menu-position="open"] & {
    left: 258px;
    @include breakpoint($bp-menu-switch) {
      left: 362px;
    }
  }
  [data-menu-direction="right"] & {
    right: 0;
    @include transition-property(right);
  }
  [data-menu-direction="right"][data-menu-position="open"] & {
    right: 258px;
    @include breakpoint($bp-menu-switch) {
      right: 362px;
    }
  }
  [data-menu-position="open"] & {
    .primary-nav {
      > *:not(#main-menu-toggle) {
        opacity: 0.2;
        a {
          cursor: default;
        }
      }
    }
  }

  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  @include breakpoint($bp-menu-switch) {
    border-top: none;
    height: auto;
    text-align: left;
     a {
      @include link-colors($white, $blue, $white, $white, $white);
    }
    .mega-sub-nav {
      a {
        @include link-colors($white, $blue, $white, $white, $white);
      }
    }
    .region-header {
      display: inline-block;
      position: relative;
    }
  }
  /*.usa-showmenu-active .mega-nav-link {
    @include breakpoint($bp-menu-switch) {
      @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
    }
  }*/
}
.primary-nav {
  @include breakpoint($bp-menu-switch) {
    border-top: 1px solid $gray-med-dark;
    height: $primary-nav-height-dt;
    white-space: nowrap;
  }
}
#logo {
  @extend %usanetwork-font;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 25px;
  height: 33px;
  @include inline-block;
  font-size: $logo-height-med;
  @include breakpoint($bp-menu-switch) {
    @include float-left;
    font-size: $logo-height-large;
    border-right: 1px solid $gray-med;
    .usa-showmenu-active & {
      border-right: none;
    }
  }
  .no-font-feature-settings &,
  .ie9 &,
  .ie8 &,
  .ie7 & {
    a {
      @include replace-text-with-dimensions('icons/logo-usa-tablet.png');
      display: inline-block;
    }
  }
  .ie8 & {
    a {
      position:relative;
    }
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}
#block-usanetwork-blocks-usa-meganav {
  @include breakpoint($bp-menu-switch) {
    .usa-showmenu-active & {
      position: absolute;
      left: 0;
      width: 40px;
      overflow: hidden;
      background-color: $black-true;
      .slide-menu-toggle,
      .slide-menu-close {
        display: inline-block;
      }
      .slide-menu-toggle {
        margin: 0 10px 0 0;
        span {
          position: relative;
          display: block;
          cursor: pointer;
          height: 25px;
          border-width: 5px 0;
          &:hover,
          &:hover:before {
            border-color: #414244;
          }
        }
        span:before {
          position: absolute;
          height: 0;
          top: 5px;
          border-width: 5px 0 0 0;
          content: " ";
        }
        span,
        span:before {
          width: 30px;
          border-style: solid;
          border-color: #0AB6E8;
        }
      }
      .slide-menu-close {
        font-family: $headline-semi;
        height: 64px;
        border-left: 4px solid $blue;
        margin: 0;
        padding-left: 25px;
        font-size: 22px;
        line-height: 32px;
        span {
          color: $blue;
          display: block;
          height: 32px;
          margin: 16px 0;
          cursor: pointer;
        }
      }
    }
    .slide-menu-toggle,
    .slide-menu-close {
      display: none;
    }
    &.menu-opened {
      width: 100%;
      .slide-menu-toggle {
        span,
        span:before {
          border-color: #414244;
        }
      }
    }
  }
}
.menu-title {
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
}

#jPanelMenu-menu {
  &.state-menu {
    background-color: $black-dark;
  }
}

.mobi-menu-icon {
  @include float-left;
  position: relative;
  margin: 14px 20px;
  width: 25px;
  height: 25px;
  margin-right: -65px;
  border: 5px solid $blue;
  border-width: 5px 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
  &:before {
    content: $space;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 25px;
    height: 0px;
    border-top: 5px solid $blue;
  }
  &:hover, &:hover:before, &:hover:after {
    border-color: $white;
  }
  [data-menu-position="open"] & {
    border-color: $white;
    &:before {
      border-color: $white;
    }
  }
  [data-menu-direction="right"][data-menu-position="open"] & {
    right: 20px;
    left: auto;
    position: absolute;
    margin-right: 0;
  }
}
.mega-menu-items {
  margin: 16px 15px;
  text-align: left;
  display: none;
  @include breakpoint($bp-menu-switch) {
    @include inline-block;
  }
  &:first-child {
    margin: 0 12px;
  }
  #jPanelMenu-menu & {
    display: block;
    margin: 0;
    a {
      background-color: $gray-dark;
      border-color: $gray-med;
    }
  }
}
.mega-nav-link {
  @include sansTitle-mobi;
  color: $blue;
  display: block;
  font-size: 22px;
  height: $primary-nav-height-dt - 33px;
  line-height: $primary-nav-height-dt - 33px;
  margin: 0;
  position: relative;
  z-index: 2;
  &:hover,
  &:focus {
    color: $white;
  }
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

.mega-sub-nav {
  padding: 30px 31px 20px;
  overflow: hidden;
}
.mega-sub-nav-link {
  @extend %regular;
  color: $white;
  &:hover, &.active:hover {
    color: $blue;
  }
}
.mega-sub-nav {
  ul {
    @include no-bullets;
    @include column-count(3);
    @include column-gap(2em);
    .ie9 &, .ie8 & {
      li {
        float: left;
        width: 30%;
        margin-right: 1em;
        overflow: hidden;
      }
    }
  }
  a {
    color: $white;
    &.active {
      color: $white;
    }
  }
  .more-title {
    @extend %h2;
    @extend %semi;
    color: $gray-extra-light;
    text-transform: uppercase;
  }
}
[class*='sub-nav'] {
  .flagged {
    color: $orange;
    text-transform: uppercase;
  }
}

.ie9 .mega-sub-nav {
  display: none;
}
.ie9 .active-item .mega-sub-nav {
  display: block;
}

.panel-sub-nav-container {
  display: none;
  .active-item & {
    display: block;
  }
}
.panel-sub-nav {
  padding: 0;
  background: $black;
  ul {
    @include no-bullets;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  .more-title {
    display: none;
  }
}
#jPanelMenu-menu {
  .panel-sub-nav {
    .slide-panel-link {
      background-color: transparent;
      font-size: 15px;
      line-height: 22px;
      padding: 8px 20px 6px;
    }
  }
}

#wall {
  background-color: $black-trans;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $ziWall;
  .ie8 & {
    background-color:#000000;
    filter: alpha(opacity=80);
  }
}

.mega-nav-close {
  display: none;
  @include breakpoint($bp-menu-switch) {
    display: block;
    position: absolute;
    right: 22px;
    top: 30px;
    cursor: pointer;
    color: $gray-light;
    font-size: 20px;
    /* cant use - @extend %usanetwork-font -inside bp */
    font-family: 'usanetwork';
    speak: none;
    -webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
    font-feature-settings:"liga","dlig";
    text-rendering:optimizeLegibility;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    .ie9 & {
      background: url(../images/svgs/ie_x1.svg) no-repeat top left;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
    }
    .ie8 & {
      display: block;
      width: image-width('icons/ico-close-tray-tablet.png');
      height: image-height('icons/ico-close-tray-tablet.png');
      background: url(../images/icons/ico-close-tray-tablet.png) no-repeat center center transparent;
      text-indent: -9999px;
    }
  }
}



//////////////
// SHOW NAV
//////////////
#mega-nav {
  .block {
    display: inline-block;
    @include breakpoint($bp-snipe-small-width-range) {
      position: relative;
      z-index: 10;
    }

  }
  .snipe-active {
    .block {
      @include breakpoint($bp-snipe-small-width-range) {
        position: absolute;
      }
    }
  }
}
#block-usanetwork-blocks-usa-tv-show-menu {
  @extend %regular-18;
  float:left;
  display: block;
  text-transform: lowercase;
  height: $primary-nav-height-dt - 32px;
  line-height: $primary-nav-height-dt - 33px;
  .tv-show-menu-trigger {
     text-transform:none;
   }
  > div {
    display: block;
  }
  @include breakpoint($bp-menu-switch) {
    margin-left: 63px;
    height: 64px;
    border-left: 1px solid $gray-med-dark;
  }
  .tv-show-menu-trigger {
    @extend %semi-22;
    color: $blue;
    margin-right: 8px;
    margin-top: 16px;
    height: 33px;
    padding: 0 1em 0 0.5em;
    border-right: 1px solid $gray-med;
    position: relative;
    top: 0px;
    @include breakpoint($bp-menu-switch) {
      border: none;
      padding: 2px;
      display: inline-block;
      height: 64px;
      margin-top: 0;
      margin-right: 0;
      line-height: 60px;
      > a {
        @include link-colors($white, $white, $white, $white, $white);
        display: block;
        height: 60px;
        padding: 0 23px;
        background-color: $blue;
        text-transform: lowercase;
      }
    }
  }
}
#tv-show-menu {
  li {
    margin: 0;
    display: block;
  }
  a {
    display: block;
    background-color: $gray-dark;
    border-color: $gray-med;
  }
  @include breakpoint($bp-menu-switch) {
    display: inline-block;
    height: 64px;
    white-space: nowrap;
    a {
      @include link-colors($blue, $blue, $blue, $blue, $blue);
      font-size: 22px;
      line-height: 64px;
      padding: 0 23px;
      display: inline-block;
      background: none;
      border: none;
    }
    ul {
      &, li {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
    }
    li {
      .item-list {
        display: none;
        position: absolute;
        left: 0;
        bottom: 100%;
        min-width: 225px;
        padding: 1em;
        background-color: $black;
        border-top: 4px solid $blue;
        @include breakpoint($bp-menu-switch) {
          text-transform: none;
        }
        ul {
          display: block;
        }
        li {
          font-family: $bodytext-reg;
          font-size: 14px;
          line-height: 14px;
          display: block;
          color: #b5b5b5;
          padding-bottom: 10px;
          a {
            @include link-colors(#b5b5b5, $gray-extra-light, #b5b5b5, #b5b5b5, #b5b5b5);
            font-family: $bodytext-reg;
            font-size: 14px;
            line-height: 14px;
            padding: 0;
            white-space: nowrap;
          }
        }
      }
      &:hover {
        > a {
          position: relative;
          border-top: 4px solid $blue;
          margin-top: -4px;
        }
        .item-list {
          li:hover {
            > a {
              border-top: none;
              margin-top: 0;
            }
          }
        }
      }
      &.parent-item {
        position: relative;
        &.active {
          > .item-list {
            display: block;
          }
        }
      }
    }
  }
}
