$primary-nav-height-mobi: 50px;
$primary-nav-height-dt: 65px;
$logo-height-large: 34px;
$logo-height-med: 28px;
$logo-height-med-2: 32px;

// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: $ziMegaNav;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $primary-nav-height-mobi;
  background-color: $nav-black;
  border-top: 1px solid $gray-med-dark;
  text-align: center;
  @include transition-property(left);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);
  [data-menu-position="open"] & {
    left: 258px;
    .primary-nav {
      > *:not(#main-menu-toggle) {
        opacity: 0.2;
        a {
          cursor: default;
        }
      }
    }
  }
  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  @include breakpoint($bp-menu-switch) {
    border-top: none;
    height: auto;
    text-align: left;
  }
}
.primary-nav {
  @include breakpoint($bp-menu-switch) {
    border-top: 1px solid $gray-med-dark;
    height: $primary-nav-height-dt;
    white-space: nowrap;
  }
}
#logo {
  @extend %usanetwork-font;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 25px;
  height: auto;
  @include inline-block;
  font-size: $logo-height-med;
  @include breakpoint($bp-menu-switch) {
    @include float-left;
    font-size: $logo-height-large;
    border-right: 1px solid $gray-med;
  }
  a {
    color: $white;
  }
}
.menu-title {
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
}
.mobi-menu-icon {
  @include float-left;
  position: relative;
  margin: 14px 20px;
  width: 25px;
  height: 25px;
  margin-right: -65px;
  border: 5px solid $blue;
  border-width: 5px 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
  &:before {
    content: $space;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 25px;
    height: 0px;
    border-top: 5px solid $blue;
  }
  &:hover, &:hover:before, &:hover:after {
    border-color: $white;
  }
  [data-menu-position="open"] & {
    border-color: $white;
    &:before {
      border-color: $white;
    }
  }
}
.mega-menu-items {
  margin: 16px 15px;
  text-align: left;
  display: none;
  @include breakpoint($bp-menu-switch) {
    @include inline-block;
  }
  &.active-item {
    .mega-nav-link {
      color: $white;
    }
    .mega-sub-nav-container {
      @include translate3d(0, 0, 0);
      @include opacity(1);
      bottom: 100%;
    }
  }
  &:first-child {
    margin: 0 12px;
  }
  #jPanelMenu-menu & {
    display: block;
    margin: 0;
    a {
      background-color: $gray-dark;
      border-color: $gray-med;
    }
  }
}
.mega-nav-link {
  @include sansTitle-mobi;
  color: $blue;
  display: block;
  font-size: 19px;
  height: $primary-nav-height-dt - 32px;
  line-height: $primary-nav-height-dt - 32px;
  margin: 0;
  position: relative;
  z-index: 2;
  &:hover,
  &:focus {
    color: $white;
  }
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

#mega-nav-close {
  @include float-right;
  cursor: pointer;
}

.mega-sub-nav {
  padding: 30px 31px 20px;
  overflow: hidden;
  background: $nav-black;
}
.mega-sub-nav-link {
  font-family: $headline-reg;
  color: $white;
  &:hover {
    color: $blue;
  }
}
.mega-sub-nav-container {
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  @include transition-property(all);
  @include translate3d(0, 100%, 0);
  @include opacity(0);
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.mega-sub-nav {
  ul {
    @include no-bullets;
    @include column-count(3);
    @include column-gap(2em);
    .ie9 & {
      li {
        float: left;
        width: 30%;
        margin-right: 1em;
        overflow: hidden;
      }
    }
  }
  a {
    color: $white;
  }
  .more-title {
    @extend %h2;
    color: $gray-extra-light;
    text-transform: uppercase;
  }
}
[class*='sub-nav'] {
  .flagged {
    color: $orange;
    text-transform: uppercase;
  }
}


.panel-sub-nav-container {
  display: none;
  .active-item & {
    display: block;
  }


}
.panel-sub-nav {
  padding: 0;
  background: $black;
  ul {
    @include no-bullets;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  .more-title {
    display: none;
  }
}
#jPanelMenu-menu {
  .panel-sub-nav {
    .slide-panel-link {
      background-color: transparent;
      font-size: 15px;
      line-height: 22px;
      padding: 8px 20px 6px;
    }
  }
}

#wall {
  background-color: $black-trans;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $ziWall;
}

//////////////
// SHOW NAV
//////////////

#block-usanetwork-blocks-usa-tv-show-menu {
  outline: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
}
