// NAVIGATION
#mega-nav {
  position: fixed;
  z-index: $ziMegaNav;
  bottom: 0;
  width: 100%;
  height: $primary-nav-height-mobi;
  background-color: $black-true;
  border-top: 1px solid $gray-med-dark;
  text-align: center;
  @include transition-property(none);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);
  a {
    @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
  }
  [data-menu-direction="left"] & {
    left: 0;
    @include transition-property(left);
  }
  [data-menu-direction="left"][data-menu-position="open"] & {
    left: 258px;
    @include breakpoint($bp-menu-switch) {
      left: 362px;
    }
  }
  [data-menu-direction="right"] & {
    right: 0;
    @include transition-property(right);
  }
  [data-menu-direction="right"][data-menu-position="open"] & {
    right: 258px;
    @include breakpoint($bp-menu-switch) {
      right: 362px;
    }
  }
  [data-menu-position="open"] & {
    .primary-nav {
      > *:not(#main-menu-toggle) {
        opacity: 0.2;
        a {
          cursor: default;
        }
      }
    }
  }

  @include box-shadow(rgba(0,0,0,.7) 0 -31px 63px);
  @include breakpoint($bp-menu-switch) {
    border-top: none;
    height: auto;
    text-align: left;
     a {
      @include link-colors($link-normal, $link-hover, $link-normal, $link-normal, $link-normal);
    }
    .mega-sub-nav {
      a {
        @include link-colors($white, $blue, $white, $white, $white);
      }
    }
  }
  .usa-showmenu-active .mega-nav-link {
    @include breakpoint($bp-menu-switch) {
      @include link-colors($gray-dark-light, $gray-extra-light, $gray-extra-light, $gray-dark-light, $gray-dark-light);
    }
  }
}
.primary-nav {
  @include breakpoint($bp-menu-switch) {
    border-top: 1px solid $gray-med-dark;
    height: $primary-nav-height-dt;
    white-space: nowrap;
  }
}
#logo {
  @extend %usanetwork-font;
  margin-top: 12px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-right: 0px;
  height: 33px;
  @include inline-block;
  font-size: $logo-height-med;
  @include breakpoint($bp-menu-switch) {
    @include float-left;
    font-size: $logo-height-large;
    border-right: 1px solid $gray-med;
    margin-top: 16px;
    padding-right: 25px;
  }
  .no-font-feature-settings &,
  .ie9 &,
  .ie8 &,
  .ie7 & {
    a {
      @include replace-text-with-dimensions('icons/logo-usa-tablet.png');
      display: inline-block;
    }
  }
  .ie8 & {
    a {
      position:relative;
    }
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}
.menu-title {
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
}

#jPanelMenu-menu {
  &.state-menu {
    background-color: $black-dark;
  }
}

.mobi-menu-icon {
  @include float-left;
  position: relative;
  margin: 14px 20px;
  width: 25px;
  height: 25px;
  margin-right: -65px;
  border: 5px solid $blue;
  border-width: 5px 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  @include breakpoint($bp-menu-switch) {
    display: none;
  }
  &:before {
    content: $space;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 25px;
    height: 0px;
    border-top: 5px solid $blue;
  }
  &:hover, &:hover:before, &:hover:after {
    border-color: $white;
  }
  [data-menu-position="open"] & {
    border-color: $white;
    &:before {
      border-color: $white;
    }
  }
  [data-menu-direction="right"][data-menu-position="open"] & {
    right: 20px;
    left: auto;
    position: absolute;
    margin-right: 0;
  }
}
.mega-menu-items {
  margin: 16px 15px;
  text-align: left;
  display: none;
  @include breakpoint($bp-menu-switch) {
    @include inline-block;
  }
  &:first-child {
    margin: 0 12px;
  }
  #jPanelMenu-menu & {
    display: block;
    margin: 0;
    a {
      background-color: $gray-dark;
      border-color: $gray-med;
    }
  }
}
.mega-nav-link {
  @include sansTitle-mobi;
  color: $blue;
  display: block;
  font-size: 22px;
  height: $primary-nav-height-dt - 33px;
  line-height: $primary-nav-height-dt - 33px;
  margin: 0;
  position: relative;
  z-index: 2;
  &:hover,
  &:focus {
    color: $white;
  }
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

.mega-sub-nav {
  padding: 30px 31px 20px;
  overflow: hidden;
}
.mega-sub-nav-link {
  @extend %regular;
  color: $white;
  &:hover, &.active:hover {
    color: $blue;
  }
}
.mega-sub-nav {
  ul {
    @include no-bullets;
    @include column-count(3);
    @include column-gap(2em);
    .ie9 &, .ie8 & {
      li {
        float: left;
        width: 30%;
        margin-right: 1em;
        overflow: hidden;
      }
    }
  }
  a {
    color: $white;
    &.active {
      color: $white;
    }
  }
  .more-title {
    @extend %h2;
    @extend %semi;
    color: $gray-extra-light;
    text-transform: uppercase;
  }
}
[class*='sub-nav'] {
  .flagged {
    color: $orange;
    text-transform: uppercase;
  }
}

.ie9 .mega-sub-nav {
  display: none;
}
.ie9 .active-item .mega-sub-nav {
  display: block;
}

.panel-sub-nav-container {
  display: none;
  .active-item & {
    display: block;
  }
}
.panel-sub-nav {
  padding: 0;
  background: $black;
  ul {
    @include no-bullets;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  .more-title {
    display: none;
  }
}
#jPanelMenu-menu {
  .panel-sub-nav {
    .slide-panel-link {
      background-color: transparent;
      font-size: 15px;
      line-height: 22px;
      padding: 8px 20px 6px;
    }
  }
}

#wall {
  background-color: $black-trans;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $ziWall;
  .ie8 & {
    background-color:#000000;
    filter: alpha(opacity=80);
  }
}

.mega-nav-close {
  display: none;
  @include breakpoint($bp-menu-switch) {
    display: block;
    position: absolute;
    right: 22px;
    top: 30px;
    cursor: pointer;
    color: $gray-light;
    font-size: 20px;
    /* cant use - @extend %usanetwork-font -inside bp */
    font-family: 'usanetwork';
    speak: none;
    -webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
    font-feature-settings:"liga","dlig";
    text-rendering:optimizeLegibility;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    .ie9 & {
      background: url(../images/svgs/ie_x1.svg) no-repeat top left;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
    }
    .ie8 & {
      display: block;
      width: image-width('icons/ico-close-tray-tablet.png');
      height: image-height('icons/ico-close-tray-tablet.png');
      background: url(../images/icons/ico-close-tray-tablet.png) no-repeat center center transparent;
      text-indent: -9999px;
    }
  }
}



//////////////
// SHOW NAV
//////////////
#mega-nav {
  .block {
    display: inline-block;
    @include breakpoint($bp-snipe-small-width-range) {
      position: relative;
      z-index: 10;
    }

  }
  .snipe-active {
    .block {
      @include breakpoint($bp-snipe-small-width-range) {
        position: absolute;
      }
    }
  }
}
#block-usanetwork-blocks-usa-tv-show-menu {
  @extend %regular-18;
  float:left;
  display: block;
  text-transform: lowercase;
  height: $primary-nav-height-dt - 32px;
  line-height: $primary-nav-height-dt - 33px;
  .tv-show-menu-trigger {
     text-transform:none;
   }
  > div {
    display: block;
  }
}
.tv-show-menu-trigger {
  @extend %semi-22;
  color: $blue;
  margin-right: 8px;
  margin-top: 16px;
  height: 33px;
  padding: 0 1em 0 0.5em;
  border-right: 1px solid $gray-med;
  position: relative;
  top: 0px;
  @include breakpoint($bp-menu-switch) {
    &:after {
      position: absolute;
      content: $space;
      @include cssTriangle(14px, $black-true, bottom);
      border-top: none;
      top: -29px;
      left: 50%;
      @include transform3d(translateX(-50%));
      z-index: 105;
      @include filter(drop-shadow($gray-med-dark 0 -2px 0));
    }
    .ie8 &:after {
      display: none;
    }
  }
}
#tv-show-menu {
  li {
    margin: 0;
    display: block;
  }
  a {
    display: block;
    background-color: $gray-dark;
    border-color: $gray-med;
  }
  @include breakpoint($bp-menu-switch) {
    @include box-shadow(rgba($black-true,.7) 0 -20px 40px);
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background-color: $gray-dark;
    border-top: 1px solid $gray-ultra-med-alt;
    height: 50px;
    padding-left: 110px;
    white-space: nowrap;
    a {
      @include link-colors($white, $white, $white, $white, $white);
      font-size: 22px;
      line-height: 50px;
      padding: 0 23px;
      display: inline-block;
      background: none;
      border: none;
    }
    ul {
      &, li {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
    }
    li {
      .item-list {
        display: none;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding: 1em 50px 1em 110px;
        background-color: $gray-med;
        border-top: 1px solid $gray-darker-light;
        border-bottom: 1px solid $gray-ultra-med;
        @include breakpoint($bp-menu-switch) {
          text-transform: none;
        }
        ul {
          display: block;
          @include column-count(4);
          @include column-gap(2em);
          .ie9 & {
            li {
              float: left;
              margin-right: 1em;
              overflow: hidden;
              width: 25%
            }
          }
        }
        li {
          display: block;
          font-size: 16px;
          line-height: 16px;
          color: $gray-darker-light;
          a {
            padding: 0;
            white-space: normal;
            padding-bottom: 12px;
          }
        }
        a {
          @include link-colors($white, $gray-extra-light, $white, $white, $white);
          font-size: 16px;
          line-height: 16px;
          display: inline-block;
        }
      }
      &:hover {
      > a {
          position: relative;
          background-color: $gray-med-dark;
        }
      }
      &.parent-item:hover {
        > a:after {
          position: absolute;
          content: $space;
          @include cssTriangle(14px, $gray-med-dark, bottom);
          border-top: none;
          top: -14px;
          left: 50%;
          @include transform3d(translateX(-50%));
          @include filter(drop-shadow($gray-darker-light 0 -1px 0));
          z-index: 105;
        }
        li {
          a {
            background-color: transparent;
            &:after {
              display: none;
            }
          }
        }
        > .item-list {
          display: block;
        }
      }
    }
  }
  .ie8 &:after {
      position: absolute;
      content: $space;
      @include cssTriangle(14px, $black-true, bottom);
      border-top: none;
      bottom: -1px;
      left: 165px;
      @include transform3d(translateX(-50%));
      z-index: 105;
      @include filter(drop-shadow($gray-med-dark 0 -2px 0));
  }
}
