.featured-movie {
  &.aspot {
    .meta-wrap {
      top: auto;
      bottom: 0;
      padding-left: 30px;
    }
    .show-title {
      font-size: 28px;
      margin-bottom: 0px;
      &:after {
        display: none;
      }
    }
    .show-time {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
.upcoming-movies {
  .ad {
    margin-right: 0;
    @include breakpoint($bp-home-2col) {
      position: relative;
    }
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}
.upcoming-movie {
  @extend .c-spot;
  position: relative;
  .tiles & {
    height: 118px;
    width: 142px;
    @include breakpoint($bp-home-2col) {
      margin-right: 15px;
      margin-bottom: 15px;
      height: 250px;
      width: 300px;
      &:nth-of-type(2n+2) {
        margin-right: 0;
      }
    }
    @include breakpoint($bp-home-3col) {
      &:nth-of-type(2n+2) {
        margin-right: 15px;
      }
      &:nth-of-type(3n+6) {
        margin-right: 0;
      }
    }
    @include breakpoint($bp-home-widest) {
      &:nth-of-type(3n+6) {
        margin-right: 15px;
      }
      &:nth-of-type(4n+8) {
        margin-right: 0;
      }
    }
  }
  &:nth-of-type(2n+2) {
    margin-right: 15px;
  }
  .meta {
    @extend .promo-metadata;
    white-space: nowrap;
  }
}
