.node-type-catchall-page {
  .tiles {
    @extend %movies-grid;
  }
}

.featured-movie {
  @extend %grid-item;
  &.aspot {
    .meta-wrap {
      top: auto;
      bottom: 0;
      padding-left: 30px;
    }
    .show-title {
      font-size: 28px;
      margin-bottom: 0px;
      &:after {
        display: none;
      }
    }
    .show-time {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
.upcoming-movies {
  .ad {
    margin-right: 0;
    @include breakpoint($bp-home-2col) {
      position: relative;
    }
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
  }
}
.upcoming-movie {
  @extend %grid-item;
  position: relative;
  .meta {
    @extend .promo-metadata;
    white-space: nowrap;
  }
}
