

#menu-wrapper {
  .state-menu & {
    display: block;
  }
  .state-on-now & {
    display: none;
  }
}

#on-now-panel {
  .state-menu & {
    display: none;
  }
  .state-on-now & {
    display: block;
  }
}


.show-on-now-wrapper {
  padding: 25px 20px 1em;
  background-color: $black;
  @include breakpoint($bp-menu-wide) {
    padding-left: 25px;
    padding-right: 25px;
  }  
  a {
    @include link-colors($white, $gray-extra-light, $gray-extra-light, $white, $white);
  }
  figure { 
    margin-bottom: 15px;
  }
  .full-schedule-link {
    margin: 1em 0 0;
    font-size: 12px;
    a {
      @include link-colors($gray-extra-light, $gray-light, $gray-light, $gray-extra-light, $gray-extra-light);
    }
    @include breakpoint($bp-menu-wide) {
      font-size: 16px;
    }  
  }
}

.show-on-sync {
  position: relative;
  span {
    font-family: $headline-semi;
    font-size: 14px; 
    color: $white;
    bottom: 15px;
    display: inline-block;
    height: 50px;
    left: 15px;
    padding-left: 60px;
    padding-top: 12px;
    position: absolute;
    text-transform: uppercase;
    z-index: 99;
    @extend .icons-sync-now-small;
    display: inline-block;
    @include breakpoint($bp-menu-wide) {
      font-size: 18px;
    }  
  }
}

#usanetwork_social_show_homepage_chatter {
  background-color: $gray-med-darker;
  padding-bottom: 50px;
  .echo-item-content {
    padding-left: 20px;
    padding-left: 20px;
    @include breakpoint($bp-menu-wide) {
      padding-left: 25px;
      padding-right: 25px;

    }  
  }
  .echo-item-authorName {
    font-size: 14px;
    @include breakpoint($bp-menu-wide) {
      font-size: 20px;
    }
  }
  .echo-item-data {
    @include breakpoint($bp-menu-wide) {
      font-size: 16px;
    }
  }
  #usanetwork_social_join  {
    background-color: $black;
    .usanetwork_social_join_msg {
      font-size: 16px;
      &:before {
        top: 1px;
      }
      @include breakpoint($bp-menu-wide) {
        font-size: 22px;
        &:before {
          top: 5px;
        }
      }  
    }
  }
  #usanetwork_social_chatter_title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    @include breakpoint($bp-menu-wide) {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 24px;
    }  
  }
}



#on-now-panel {
  ul, ol, li {
    margin: 0;
  }
  .item-list {
    @include no-bullets;
    // @include debug-outline;
    .item-list {
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 1;
    }
  }
  .tab-wrapper {
    cursor: pointer;
    float: left;
    text-transform: lowercase;
    padding: 7px 20px 9px;
    width: 50%;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    background-color: $gray-dark;
    position: relative;
    z-index: 5;
    &.active {
      background-color: $gray-med;
      + .item-list {
        display: none;
      }
      &:after {
        @include cssTriangle(10px, $gray-med, top);
        position: absolute;
        left:45%;
        top: 39px;
        z-index: 999999999;
      }  
    }
    @include breakpoint($bp-menu-wide) {
        font-size: 22px;
    }
    span {
      font-style: normal;
    }
  }
  ul[class*="tab"] {
    font-size: 12px;
    line-height: 1.4;
    @include breakpoint($bp-menu-wide) {
      font-size: 16px;
    }
  }
  a {
    @include link-colors($white, $gray-extra-light, $gray-extra-light, $white, $white);
  }
  .show-info-wrapper {
  display: table;
  width: 100%;
  .show-info {
    display: table-cell;  
  }
  .show-title {
    font-size: 14px;
    font-family: $headline-semi;
    padding-bottom: 2px;
    @include breakpoint($bp-menu-wide) {
      font-size: 18px;
    }  
  }
  .episode-title {
    font-size: 13px;
    line-height: 1.15em;
    @include breakpoint($bp-menu-wide) {
      font-size: 17px;
    }  
  }
  .icons-social {
    display: table-cell;
    text-align: right;
    a {
      background-color: transparent;
      font-size: 14px;
      line-height: 1;
      padding: 0;
      display: inline;
      @include link-colors($gray-extra-light, $gray-light, $gray-light, $gray-extra-light, $gray-extra-light);
      &.usasocial-pinterest {
        color: $black;
        background-color: $gray-extra-light;
        &:hover {
          background-color: $gray-light;
        }
      }
      &:hover {
        background-color: transparent;
      }
      @include breakpoint($bp-menu-wide) {
        font-size: 18px;
      }
    }
  }
}
}
