
#block-usanetwork-tv-schedule-usa-on-now-block {
  @extend %bold;
  height: 45px;
  padding-left: 12px;
  position: relative;
  text-transform: none;
  float: left;
  display: table;
  @include breakpoint($bp-on-now) {
    padding-left: 13px;
    height: 50px;
  }
  span {
    vertical-align: middle;
  }
  .content {
    height: 100%;
    display: table-row;
    &:before {
      @include breakpoint($bp-on-now) {
        vertical-align: middle;
      }
    }
  }
  a {
    color: $gray-light;
  }
}

#on-now {
  @extend %usanetwork-font;
  color: $blue;
  padding: 2px 10px 0 0;
  font-size: 23px;
  display: inline;
  display: table-cell;
  overflow: hidden;
  position: relative;
  @include breakpoint($bp-on-now) {
    padding-top: 0;
    padding-right: 14px;
    font-size: 19px;
    height: 100%;
  }
  /*
  .ie9 &,
  .ie8 & {
    @extend .icons-on_now;
    display: block;
    width: image-width('icons/on_now.png');
    height: image-height('icons/on_now.png');
    padding-left:0;
    text-indent: 0;
    overflow:visible;
    float: none;
  }*/
  .ie9 &:before/*,
  .ie8 &:before*/ {
    content: $space;
    position: absolute;
    top: 26px;
    left:22px;
    margin-left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: {
      width: 6px 8px 6px 0;
      style: solid;
      color: transparent $blue transparent transparent;
    }
  }
  .no-font-feature-settings & {
    @include replace-text-with-dimensions('icons/on_now_blue.png');
    display: table-cell;
    width: 75px;
    background-position: 21px 40%;
    background-size:auto 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    @include breakpoint($bp-on-now) {
    background-position: 21px 50%;
      background-size:auto auto;
    }
  }
  .ie9/*,
  .ie8*/ {
    & {
      overflow:visible;
    }
    &.trigger {
      &:before {
        content: $space;
        position: absolute;
        display: inline-block;
        width: auto;
        height: auto;
        left: 22px;
        margin-left: 0;
      }
      @include breakpoint($bp-on-now) {
        &:before {
          top: 26px;
          margin-left: 0px;
        }
      }
    }
  }
  &.trigger {
    padding-left: 14px;
    cursor: pointer;
    &:before {
      content: $space;
      position: absolute;
      display: inline-block;
      width: auto;
      height: auto;
      border: {
        width: 5px 5px 5px 0;
        style: solid;
        color: transparent $blue transparent transparent;
      }
      top: 18px;
      margin-left: -14px;
      /* @include transform3d(translateY(-50%)); */
    }
    @include breakpoint($bp-on-now) {
      padding-left: 16px;
      &:before {
        top: 20px;
        margin-left: -16px;
        border-width: 6px 8px 6px 0;
      }
    }
  }
  .no-font-feature-settings &.trigger {
    &:before {
      top: 15px;
      margin-left: -9px;
    }
    @include breakpoint($bp-on-now) {
      &:before {
        top: 26px;
        margin-left: -16px;
      }
    }
  }
  .ie8.no-font-feature-settings &.trigger:before {
    content: " ";
    position: absolute;
    top: 9px;
    left:5px;
    margin-left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: {
      width: 6px 8px 6px 0;
      style: solid;
      color: transparent $blue transparent transparent;
    }
  }
}

#on-now-show-name {
 @extend %regular-headline-14;
 line-height: 1em;
  float: left;
  letter-spacing: 0.03em;
  white-space: nowrap;
  margin-right: 10px;
  @include breakpoint($bp-on-now) {
    vertical-align: middle;
    display: inline;
    font-size: 24px;
    float: none;
    margin-right: 0;
  }
}

#on-now-show-episode {
  color: $white;
  white-space: nowrap;
  display: table-cell;
  padding-top: 10px;
  @include breakpoint($bp-on-now) {
    white-space: nowrap;
    height: 100%;
    margin-left: 50px;
    padding-top: 0;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -2px;
    width: 1px;
    @include breakpoint($bp-on-now) {
      vertical-align: middle;
    }
  }
  .ie9 &,
  .ie8 & {
    height:45px;
    @include breakpoint($bp-on-now) {
      height:63px;
    }
  }
}

#on-now-episode {
  @extend %regular-headline-14;
  letter-spacing: 0.03em;
  color: $gray-extra-light;
  display: inline-block;

  float: left;
  clear: left;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
/*  width: 65%;
  width: 65vw;*/
  @include breakpoint($bp-on-now) {
    font-size: 18px;
    float: none;
    height: 100%;
    line-height: 50px;
/*    width: 50%;
    width: 50vw;*/
    padding: 1px 0 0 5px;
  }
  .ie9 & {
    line-height: 14px;
    @include breakpoint($bp-on-now) {
    line-height: 62px;
    }
  }
  .ie8 & {
    font-size: 23px;
    float: none;
    height: 100%;
    line-height: 44px;
    width: 50%;
  }
}

#on-now-image {
  display: none;
  @include breakpoint($bp-on-now) {
    display: table-cell;
    vertical-align: middle;
    padding-top: 3px;
  }
}

#show-on-now-watch {
  position: absolute;
  left: 28px;
  top: 158px;
  width: 185px;
  @include breakpoint($bp-menu-switch) {
    left: 34px;
    top: 220px;
    width: 100%;
  }
}
