
#block-usanetwork-tv-schedule-usa-on-now-block {
  height: 45px;
  padding-left: 12px;
  position: relative;
  font-family: $headline-bold;
  text-transform: none;
  float: left;
  display: table;
  @include breakpoint($bp-on-now) {
    padding-left: 15px;
    height: 62px;
  }
  span {
    vertical-align: middle;
  }
  .content {
    height: 100%;
    display: table-row;
    &:before {
      @include breakpoint($bp-on-now) {
        vertical-align: middle;
      }
    }
  }
  a {
    color: $gray-light;
  }
}

#on-now {
  @extend %usanetwork-font;
  color: $white;
  padding: 2px 10px 0 0;
  font-size: 23px;
  display: inline;
  display: table-cell;
  overflow: hidden;
  position: relative;
  @include breakpoint($bp-on-now) {
    padding-top: 0;
    padding-right: 15px;
    font-size: 28px;
    height: 100%;
  }
  .ie9 &,
  .ie8 & {
    @extend .icons-on_now;
    display: block;
    width: image-width('icons/on_now.png');
    height: image-height('icons/on_now.png');
    margin-top: 8px;
    margin-right: 8px;
    text-indent: -200%;
    float: left;
  }
  .no-font-feature-settings & {
    @include replace-text-with-dimensions('icons/on_now.png');
    display: block;
  }
  &.trigger {
    padding-left: 14px;
    cursor: pointer;
    &:before {
      content: $space;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: {
        width: 5px 5px 5px 0;
        style: solid;
        color: transparent $white transparent transparent;
      }
      top: 50%;
      left: 0;
      @include transform3d(translateY(-50%));
    }
    @include breakpoint($bp-on-now) {
      padding-left: 16px;
      &:before {
        border-width: 6px 6px 6px 0;
      }
    }
  }
}

#on-now-show-name {
  font-size: 16px;
  line-height: 1em;
  float: left;
  letter-spacing: 0.03em;
  white-space: nowrap;
  @include breakpoint($bp-on-now) {
    vertical-align: middle;
    display: inline;
    font-size: 27px;
    float: none;
  }
}

#on-now-show-episode {
  color: $gray-light;
  white-space: nowrap;
  display: table-cell;
  padding-top: 6px;
  @include breakpoint($bp-on-now) {
    white-space: nowrap;
    height: 100%;
    margin-left: 50px;
    padding-top: 0;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -2px;
    width: 1px;
    @include breakpoint($bp-on-now) {
      vertical-align: middle;
    }
  }
}



#on-now-episode {
  font-size: 14px;
  font-family: $headline-lt;
  letter-spacing: 0.03em;
  color: $gray-light;
  display: inline-block;

  float: left;
  clear: left;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 65%;
  width: 65vw;
  @include breakpoint($bp-on-now) {
    font-size: 23px;
    float: none;
    height: 100%;
    line-height: 62px;
    width: 50%;
    width: 50vw;
  }
  .ie9 & {
    line-height: 44px;
  }
  .ie8 & {
    font-size: 23px;
    float: none;
    height: 100%;
    line-height: 44px;
    width: 50%;
  }
}
