body {
  &[data-menu-direction="right"][data-menu-position="open"] {
    .jPanelMenu-panel {
      overflow: hidden;
      @include breakpoint($bp-menu-switch) {
        overflow: visible;
      }
    }
    #jPanelMenu-menu {
      &.state-personalization {
        #tv-show-menu {
          display: none;
        }
      }
    }
  }
}

.personalization-content {
  background-color: $gray-med;
  padding: 40px;
  @include breakpoint($bp-menu-switch) {
    height: 400px;
  }  
  .col {
    float: left;
  }
  #personalization-nav {
    float: right;
  }
  .close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: $gray-light;
    font-size: 20px;
    margin-right: 22px;
    display: none;
    @include breakpoint($bp-menu-switch) {
      display: block;
    }
    @extend %usanetwork-font;
    .ie9 &, .ie8 & {
      background: url(../images/svgs/ie_x1.svg) no-repeat top left;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
    }
  }
}

.region-personalization-trigger {
  float: right;
  span {
    text-transform: uppercase;
  }
  .block-usanetwork-personalization {
    width: 100%;
  }
}
.personalization-trigger {
  font-size: 14px;
  height: 50px;
  position: absolute;
  right: 5px;
  white-space: nowrap;
  cursor: pointer;
  top: 14px;
  &.logged-in {
    top: 10px;
  }
  @include breakpoint($bp-menu-switch) {
    font-size: 16px;
    height: 65px;
    right: 15px;
    line-height: 65px;
    position: relative;
    top: auto;
    &.logged-in {
      top: auto;
    }  
  }
}

.personalization-avatar {
  img {
    border: 2px solid $white;
    vertical-align: middle;
    .personalization-trigger & {
      width: 32px;
      height: 32px;
      @include breakpoint($bp-menu-switch) {
        width: 45px;
        height: 45px;
      }  
    }
  }
}

#block-usanetwork-personalization-sign-in.block {
  display: block;
}
