.region-personalization-trigger {
  float: right;
}
.personalization-trigger {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border: 1px solid $white;
  background-color: $orange;
}


#personalization-drawer {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  opacity: 0;
  // display: none;
  @include transform3d( translateY(100%) );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  @include transition-property(all);
  .active-item & {
    bottom: 100%;
    opacity: 1;
    @include transform3d( translateY(0) );
  }
}
