@import "compass"; // http://compass-style.org
@import "survivalkit"; // http://canarymason.github.com/Survival-Kit
@import "breakpoint";  // http://breakpoint-sass.com
@import "modular-scale"; // https://github.com/scottkellum/modular-scale

@import "partials/01-variables/colors";
@import "partials/01-variables/fonts";
@import "partials/01-variables/icon-font";
@import "partials/01-variables/settings";
@import "partials/02-mixins/empathy";
@import "partials/03-extend/all";

body {
  &[data-menu-direction="right"][data-menu-position="open"] {
    .jPanelMenu-panel {
      overflow: hidden;
      @include breakpoint($bp-menu-switch) {
        overflow: visible;
      }
    }
    #jPanelMenu-menu {
      background-color: #232323;
      &.state-personalization {
        #tv-show-menu {
          display: none;
        }
      }
    }
  }
}

#personalization-drawer {
  background-color: #232323;
  display: none;
  @include breakpoint($bp-menu-switch) {
    display: block;
    @include clearfix;
  }
} 


@include breakpoint($bp-menu-switch) {
  .personalization-wrapper {
    > .col {
      padding-top: 10px;
      @include breakpoint($bp-menu-switch) {
        width: 20%;
        &:first-child {
          width: 80%;
          padding-left: 30px;
        }
      } 
    }
  }
}

.block-usanetwork-personalization {
  background-color: #232323;
  @include breakpoint($bp-menu-switch) {
//    min-height: 400px;
  }  
  .col {
    @include breakpoint($bp-menu-switch) {
      float: left;
    }
  }
  [id="personalization-navigation"] {
    padding-top: 15px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .usa-personalization-follow-shows {
    ul {
      float: left;
      width: 50%;
    }
  }
  li {
    clear: both;
  }
  .personalization-logged-in {
    text-transform: uppercase;
    li {
      cursor: pointer;
      padding-left: 25px;
      font-size: 14px;
      line-height: 28px;
      @include breakpoint($bp-menu-switch) {
        border-top: 1px solid #242424;
        border-bottom: 1px solid #0b0b0b;
        &:hover {
          color: $white;
        }
      }  
    }
  }
  .close {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: $gray-light;
    font-size: 20px;
    margin-right: 22px;
    display: none;
    @include breakpoint($bp-menu-switch) {
      display: block;
    }
    @extend %usanetwork-font;
    .ie9 &, .ie8 & {
      background: url(../images/svgs/ie_x1.svg) no-repeat top left;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
    }
  }
}

[id="personalization-main"] {
  @include breakpoint($bp-menu-switch) {
    background-color: #232323;
    h3 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: normal;
    }
  }
}
[id="personalization-sidebar"] { 
  @include breakpoint($bp-menu-switch) {
    color: #a9a9a9;
    float: right;
    background-color: #1c1c1c;
  }  
}

[id="personalization-user-info"] {
  text-align: center;
  clear: both;
}

.region-personalization-trigger {
  float: right;
  span {
    text-transform: uppercase;
  }
  .block-usanetwork-personalization {
    width: 100%;
  }
}

.personalization-trigger {
  font-size: 14px;
  height: 50px;
  position: relative;
  right: 5px;
  white-space: nowrap;
  cursor: pointer;
  top: 8px;
  @include breakpoint($bp-menu-switch) {
    font-size: 16px;
    height: 65px;
    right: 15px;
    line-height: 65px;
    position: absolute;
    top: 0; 
  }
}

.logged-out-info {
  position: absolute;
  top: 0;
  right: 10px;
  @include breakpoint($bp-menu-switch) {
    top: 20px;
  }  
}

#surf-info {
  display: block;
  margin-top: 10px;
}


#surf-actions {
  .surf-logged-in { 
    display: none;
  }
  .avatar {
    display: none;
    .region-personalization-trigger & {
      display: block;
    }
    img {
      width: 32px;
      height: 32px;
      @include breakpoint($bp-menu-switch) {
        width: 45px;
        height: 45px;
      }  
    }
  }
}  


.avatar {
  img {
    border: 2px solid $white;
    vertical-align: middle;
    width: 125px;
    height: 125px;  
  }
}


[id="surf-content"] {
  position: absolute;
  left: 20%;
  top: 3%;
  @include breakpoint($bp-menu-switch) {
    left: 36%;
  }  
}

.personalization-main-item {
  display: none;
  &.active {
    display: block;
  }
}

