body {
  &[data-menu-direction="right"][data-menu-position="open"] {
    #jPanelMenu-menu {
      z-index: 2 !important; 
//      background-color: $gray-med;
       &.state-personalization {
        #tv-show-menu {
          display: none;
        }
      }
    }
  }
}

.personalization-content {
  background-color: $gray-med;
  padding: 10px; 
  .close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: $gray-light;
    font-size: 20px;
    margin-right: 22px;
    display: none;
    @include breakpoint($bp-menu-switch) {
      display: block;
    }
    @extend %usanetwork-font;
    .ie9 &, .ie8 & {
      background: url(../images/svgs/ie_x1.svg) no-repeat top left;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
    }
  }
}

.region-personalization-trigger {
  float: right;
  span {
    text-transform: uppercase;
  }
  .block-usanetwork-personalization {
    width: 100%;
  }
}
.personalization-trigger {
  font-size: 14px;
  height: 50px;
  position: absolute;
  right: 5px;
  white-space: nowrap;
  cursor: pointer;
  @include breakpoint($bp-menu-switch) {
    font-size: 16px;
    height: 65px;
    right: 15px;
    line-height: 65px;
    position: relative;
  }  
}


#personalization-drawer {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  opacity: 0;
  // display: none;
  @include transform3d( translateY(100%) );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
  @include transition-property(all);
  .active-item + & {
    bottom: 100%;
    opacity: 1;
    @include transform3d( translateY(0) );
    @include transition-duration(0.2s);
  }
}
