/* Preview styles */
.node-type-usanetwork-promo {
  .preview-item {
    margin-bottom: 20px;
    .view-mode-promo_teaser {
      width: 304px;
    }
    .view-mode-promo_teaser_large {
      width: 617px;
      .asset-img {
        display: none;
      }
      .asset-img-large {
        border: 2px solid #2D2D2D;
        display: block;
        height: 254px;
        width: 617px;
        overflow: hidden;
      }
      .caption-fields-wrapper {
        width: 613px;
      }
    }
  }
}
