//default colors for satisfaction blog
$satisfaction-blog-red : #b21a39;

body {
  &.satisfaction-blog {
    .panel-display {
      @include breakpoint($bp-blog-medium) {
        width: 100%;
      }
      .panel-col-top {
        .inside {
          .blog-header {
            border-bottom: 1px solid #414043;
            @include clear();
            .blog-logo {
              display: none;
              background: url("../images/assets/blog/satisfaction-logo.png") scroll 0 0 no-repeat transparent;
            }
            .blog-title {
              @include breakpoint($bp-menu-narrow) {
                background-size: 100%;
                max-width: 100%;
                padding-top: 0;
                text-indent: -9999px;
              }
              background: url("../images/assets/blog/satisfaction-logo.png") scroll 0 0 no-repeat transparent;
              float: left;
              height: 55px;
              margin: 22px 0px;
              width: 465px;
            }
            .category-menu {
              @include breakpoint($bp-blog-medium-max) {
                clear: both;
                float: none;
                margin: 0;
              }
              border: 0;
              clear: none;
              float: left;
              margin: 26px 0px 0px 50px;
              .menu-label {
                background-color: $satisfaction-blog-red;
              }
              ul {
                li {
                  @include breakpoint($bp-menu-narrow) {
                    background-color: $satisfaction-blog-red;
                    &:hover {
                      background-color: lighten($satisfaction-blog-red, 15%);
                    }
                  }
                  border: 0;
                  margin: 0;
                  padding: 4px 24px 0 0;
                  a {
                    font-size: 36px;
                  }
                }
              }
            }
          }
        }
      }
      .panel-col-first {
        @include breakpoint($bp-blog-medium) {
          width: 100%;
        }
        .inside {
          @include breakpoint($bp-blog-medium) {
            margin-right: 0;
          }
          .taxonomy-term-description {
            @include breakpoint($bp-menu-narrow) {
              display: block;
            }
            color: $satisfaction-blog-red;
            font-family: $headline-bold;
            font-size: 20px;
            text-transform: uppercase;
            p {
              margin: 0;
            }
          }
        }
        .author {
          border-bottom: 1px solid $satisfaction-blog-red;
          color: #909090;
          font-family: $headline-demi-condensed;
          font-size: 18px;
          padding-bottom: 5px;
          text-transform: uppercase;
        }
        .node.node-post {
          .field-name-title {
            h2 {
              margin: 0;
            }
          }
          .field-name-body {
            p {
              
              font-family: $headline-semi;
              font-size: 18px;
            }
          }
          .field-name-post-date {
            display: none;
          }
        }
      }
      .panel-col-last {
        @include breakpoint($bp-blog-medium) {
          width: 610px;
          margin: 0 auto;
          float: none;
          clear: both;
          .inside {
            @include clear();
          }
          .panel-pane {
            width: 300px;
            float: left;
            clear: left;
            &:nth-of-type(2n + 2) {
              margin-left: 10px;
              clear: none;
            }
          }
        }
      }
    }
  }
}