.schedule-header {
  @extend %semi;
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding: 1em 0;
}
.schedule-date {
  text-transform: uppercase;
  @include breakpoint($bp-schedule-date-wide) {
    font-size: 36px;
  }
}
a[class*="day"] {
  @extend %usanetwork-font;
  padding: 0 .5em 1em .5em;
  font-size: 12px;
  display: inline-block;
  @include breakpoint($bp-schedule-date-wide) {
    @include transform3d( translateY(-30%) );
  }
  .no-font-feature-settings & {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    background-size: 14px 14px;
  }
}
a.next-day {
  .no-font-feature-settings & {
    margin-left: 1em;
    @include replace-text('svgs/arrow3.svg');
  }
}
a.prev-day {
  .no-font-feature-settings & {
    margin-right: 1em;
    @include replace-text('svgs/arrow3-left.svg');
  }
}
// table {
//   .show-time {
//     // white-space: nowrap;
//     // padding-left: .5em;
//   }
// }

.schedule-table {
  table {
    table-layout: fixed;
  }
  @include breakpoint($bp-schedule-table-wide) {
    table {
      table-layout: auto;
    }
  }
  thead {
    background: $gray-med;
    tr {
      display: none;
      @include breakpoint($bp-schedule-table-wide) {
        display: table-row;
      }
    }
    th {
      background: $gray-med;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 8px;
      border-bottom: $gray-light solid 1px;
      border-right: $gray-light solid 1px;
      color: white;
    }
  }
  tbody {
    border-width:0;
  }
  a {
    color: $gray-light-gamma;
    &:hover {
      color: white;
    }
  }
  td {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 8px;
    border-bottom: $gray-light solid 1px;
    border-right: $gray-light solid 1px;
    color: $gray-light-gamma;
  }
  tr {
    background: $gray-med;
    border: none;
  }
  .show-time {
    white-space: nowrap;
    padding-left: .5em;
    width: 23%;
    color: white;
    @include breakpoint($bp-schedule-table-wide) {
      width: auto;
    }
  }
  .program {
    padding-right: 2%;
    width: 55%;
    border-right-width:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include breakpoint($bp-schedule-table-wide) {
      width: 40%;
      padding-right: 0;
      border-right-width:1px;
      overflow: inherit;
      white-space: normal;
    }
  }
  .episode,
  .rating {
    display: none;
    @include breakpoint($bp-schedule-table-wide) {
      display: table-cell;
    }
  }
  .rating {
    border-right-width: 0;
  }
  .episode {
    @include breakpoint($bp-schedule-table-wide) {
      width: 40%;
    }
  }
}
