.page-search {
  .pager {
    float:right;
    margin:10px 0 0;
    padding:0;
    .pager-item,
    .pager-current,
    .pager-ellipsis,
    .pager-last,
    .pager-next {
      margin:5px;
      padding:0;
      font-size:14px;
      text-transform:capitalize;
      a {
        color:#868686;
        &:hover {
          color:#fff;
        }
      }
    }
  }
  h2 {
    margin-left:18px;
    padding-bottom:9px;
    border-bottom:1px solid #adadad;
    span {
      color: #868686;
    }
  }
  .search-results {
    margin-bottom:0;
    padding-left:18px;
    list-style:none;
    .search-result {
      padding-bottom:5px;
      border-bottom:1px dashed #adadad;
      color:#868686;
      &:last-child {
        border-bottom:1px solid #adadad;
      }
      a {
        color:#fff;
      }
      .title {
        margin-bottom:0;
      }
      p {
        margin:0;
      }
    }
  }
}