.usa-tv-show {
  #main {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 304px;
    @include breakpoint($bp-show-mid-width) {
      width: 615px;
    }
    @include breakpoint($bp-show-large-width) {
      width: 930px;
    }
    @include breakpoint($bp-show-very-large-width) {
      width: 1245px;
    }
  }
}

.usa-adrails.usa-tv-show {
  #main {
    width: 930px;
  }
}

.usa-tv-show {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .panel-row {
    clear: both;
    margin-bottom: 0;
    .dart-tag {
      height: 250px;
      width: 300px;
    }
    &.a-spot-panel {
      margin-bottom: 20px;
    }
  }
  .panel-col1 {
    float: left;
  }
  .panel-col2 {
    float: right;
  }
  h2 {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 1.5em;
    font-family: $headline-bold;
    text-transform: uppercase;
    margin-top: 1px;
    @include breakpoint($bp-show-mid-width) {
      font-size: 26px;
    }
  }
}



.promo-ads-panel {
  position: relative;
  .panel-col2  {
    position: static;
    display: none;
    @include breakpoint($bp-show-mid-width) {
      display: block;
      position: absolute;
      right: 11px;
    }
  }
  .panel-col1 .field {
    @include breakpoint($bp-show-mid-width) {
      li:first-child {
        margin-right: 304px;
      }
    }
    @include breakpoint($bp-show-large-width) {
      li:first-child {
        margin-right: 11px;
      }
      li:first-child + li {
        margin-right: 304px;
      }
    }
    @include breakpoint($bp-show-very-large-width) {
      li:first-child + li {
        margin-right: 11px;
      }
      li:first-child + li + li {
        margin-right: 304px;
      }
    }
    .usa-adrails & {
      li:first-child + li {
        margin-right: 304px;
      }
      li:first-child + li + li {
        margin-right: 11px;
      }
    }
  } 
}


.expandable-content {
  > div:first-child {
    .pane-content {
//       height: 269px;
    }
  }
}

.video-promo-ads-panel {
  .panel-col2 {
    height: 250px;
  }
}


.usa-adrails.usa-tv-show {
  .flexslider {
    width: 930px;
    height: 378px;
  }
}

.a-spot.flexslider {
  .flex-direction-nav {
    a {
      position: absolute;
      top: 46%;
    }
  }
  .flex-next,
  .flex-prev {
    // display: none;
    @include opacity(0);
  }
  &:hover {
    .flex-next, .flex-prev {
      @include opacity(1);
    }
    .flex-next {
      right: 5px;
      left: auto;
    }
    .flex-prev {
      left: 5px;
    }
  }
}
