#site-name {
  @extend %visuallyhidden;
}
#main {
  padding: 0 15px 15px;
  .front & {
    padding: 0 0 15px;
    @include breakpoint($bp-home-2col) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.smaller-header h2 {
  @extend %h3;
}
