/**/

$bp_social-large-width: 900px;
$bp_social_small-width: 330px;



.page-node-social {
	#main {
		max-width:1290px;
		margin-left:auto;
		margin-right:auto;
		width:300px;
		@include breakpoint($bp_social-small-width) { 
			width:auto;
        	clear:both;
		}
		@include breakpoint($bp_social-large-width) { 
			width:auto;
			padding-right:330px;
			text-align:right;
		}
	}
	.tabs {
		padding: 15px 15px 0;
		.secondary {
			border-bottom:0;
			padding:10px 0 0 0;
			margin:0;
			overflow:hidden;
			li {
			    border:0;
			    padding:0;
			    font-family: "Proxima N W01 Smbd";
			    font-size:1.125em;
			    line-height:1em;
			    border-bottom:0;
			    &:first-child a {
			    	margin:0;
			    }
			    &.twitter 	{
			    	@extend %usanetwork-font;
			    }
				&.active {	
					a{
						background:#121212;
						color: #0AB6E8;
						border:0;
					}
				}
			}
			a {
				background-color: #474747;
			    height: 36px;
			    line-height: 1;
			    margin: 0 0 0 15px;
			    padding: 10px 15px 0;
			    text-transform:uppercase;
		    	color: #818181;
		    	display:block;
		    	float:left;
		    	&:hover {
		    		color:#818181;
		    	}	
			}
		}
	}

	.region-content {
		padding:15px;
	}
	li {
		list-style:none;
	}
	#content {
		width:100%;
		text-align:left;
		vertical-align:top;
		float:left;
	}
	
	.sidebar {
		background:#414141;
		clear:both;
		@include breakpoint($bp_social-large-width) { 
			float:left;
		    margin-left: 15px;
		    margin-top:133px;
		    margin-right: -315px;
		    text-align: left;
		    vertical-align: top;
		    width: 300px;
		    margin-bottom:15px;
		    clear:none;
		}
		h2 {
			color:#9e9e9e;
			text-transform:uppercase;
			font-family:"Proxima N W01 Reg";
			font-size:1.125em;
			padding:16px 12px 11px;
			line-height:1em;
			margin:0;
		}
		ul {
			margin:0;
		}
		li {
		    overflow: hidden;
		    padding: 10px 0 10px 54px;
			margin:0;
			border-top: 1px solid #4B4B4B;
			figure {
				display: inline-block;
			    margin-left: -42px;
			    vertical-align: middle;
			    width: 42px;
			}
			.item-content {
				display: inline-block;
			    font-size: 0;
			    margin-right: -145px;
			    overflow: hidden;
			    padding-right: 145px;
			    text-align: right;
			    vertical-align: middle;
			    width: 100%;
			    .title {
			    	font-family:"Proxima N W01 Reg";
			    	display: inline-block;
				    text-align: left;
				    vertical-align: middle;
				    width: 100%;
				    
				    h4 {
				    	margin:4px 0 0 11px;
					}
			    }
			    a {
				   	color:$white;
				}
			    .share-icons {
			    	display: inline-block;
				    margin-right: -130px;
				    overflow: hidden;
				    vertical-align: middle;
				    width: 130px;
				    a {
				    	background-color:transparent;
				    	color:#818181;
					    float: right;
					    margin-left: 8px;
					    width:21px;
					    height:21px;
					    font-size: 1.5em;
					    display:inline;
					    @include border-radius(0%);
					    &:hover {
					    	color:#0AB6E8;
					    }
				    }
			    }
			}
		}
	}
}
