body.usa-social {
  overflow-x: hidden;
}

.icons-social a {
  color: $black-dark;
  background-color: $gray-light;
  @extend %usanetwork-font;
  font-size: 1.5em;
  @include border-radius(50%);
  padding: 4px 3px 3px;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 5px;
  &:hover {
    background-color: $white;
  }
  &.usasocial-fb {
    padding-left:8px;
  }
}

#block-usanetwork-social-usa-show-social-tab-nav {
  background-color: $gray-med;
  border-bottom: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
  margin-bottom: 30px;
  @include breakpoint($bp-social-mid-width) {
    background-color: $gray-dark;
    border: 1px solid $gray-med-dark;;
    height: 60px;
    max-width: 1275px;
    z-index: 6;
  }
 .menu-label {
    font-size: 20px;
    font-family: $headline-reg;
    color: $white;
    padding: 15px 14px 13px 20px;
    text-transform: lowercase;
    font-weight: normal;
  }
  &.open {
    .menu-label {
      color: $gray-light;
    }
  }
  ul {
    margin: 0;
  }
  li {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: $headline-thn;
    font-size: 20px;
    line-height: 1em;
    border-bottom: 0;
    display: block;
    letter-spacing: 0.05em;
    &:first-child a {
      margin: 0;
    }
  }
  a {
    font-size: 20px;
    font-family: $headline-reg;
    color: $white;
    height: auto;
    line-height: 1;
    padding: 20px 20px 18px;
    text-transform: lowercase;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    font-weight: normal;
    text-transform: lowercase;
    position: relative;
    border-top: 1px solid $gray-light;
    &.active {
        color: $white;
        border-bottom: 0;
        @include breakpoint($bp-social-mid-width) {
          background-color: $gray-med;
          color: $gray-extra-light;
          border-left: 1px solid $gray-med-dark;
          border-right: 1px solid $gray-med-dark;
          &:after {
            @include cssTriangle(12px, $gray-med, top);
            position: absolute;
            left: 50%;
            top: 59px;
            margin-left: -12px;
          }
        }
    }
    &:hover {
      background-color: $gray-med-dark;
    }
    &:hover:after {
      @include breakpoint($bp-social-mid-width) {
        @include cssTriangle(12px, $gray-med, top);
        position: absolute;
        left: 50%;
        top: 59px;
        margin-left: -12px;
      }
    }
    @include breakpoint($bp-social-mid-width) {
      padding-left: 30px;
      padding-right: 30px;
      width: auto;
      border-top: 0;
      color: $white;
      border-left: 1px solid $gray-dark;
      border-right: 1px solid $gray-dark;
      &:hover {
        color: $gray-extra-light;
        border-left: 1px solid $gray-med-dark;
        border-right: 1px solid $gray-med-dark;
      }
    }
  }
}


.usa-social {
  #main {
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    @include breakpoint($bp-social-small-width) {
      width: auto;
      clear: both;
    }
  }
  .tabs {
    display: none; /* need to ask vino about this */
    .secondary {
      display: none;
    }
  }
  li {
    list-style: none;
  }
  #content {
    text-align: left;
    vertical-align: top;
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .sidebar {
    clear: both;
    width: 100%;
    margin-top: 30px;
    @include breakpoint($bp-social-large-width) {
      float: left;
      clear: none;
      width: 300px;
      margin-left: 15px;
      margin-top: 0;
    }
  }
}

.usa-social.one-sidebar {
  #content {
    @include breakpoint($bp-social-large-width) {
      float: left;
      margin-right: -315px;
      padding-right: 315px;
      max-width: 1275px;
    }
  }
}


.social-follow-block {
  background-color: $gray-med-dark;
  h2 {
    color: $gray-extra-light;
    text-transform: uppercase;
    font-family: $headline-reg;
    font-size: 1.125em;
    padding: 16px 12px 11px;
    line-height: 1em;
    margin: 0;
  }
  ul {
    margin: 0;
  }
  ul li {
    font-size: 0;
    overflow: hidden;
    padding: 10px 0 10px 54px;
    margin: 0;
    border-top: 1px solid $gray-ultra-med;
    figure {
      display: inline-block;
      margin-left: -42px;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
  }
  .item-content {
    display: inline-block;
    margin-right: -145px;
    overflow: hidden;
    padding-right: 145px;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    .title {
      line-height: 1em;
      font-size: 14px;
      font-family: $headline-thn;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      > div {
        margin: 4px 0 0 11px;
      }
      h4 {
        font-size: 14px;
        font-family: $headline-reg;
      }
      .field-name-field-role,
      .field-name-field-usa-actor-name {
        font-style: italic;
        color: $beige;
        font-weight: normal;
      }
    }
    a {
      color:$white;
    }
  }
  .icons-social {
    font-size: 14px;
    display: inline-block;
    margin-right: -130px;
    overflow: hidden;
    vertical-align: middle;
    width: 130px;
    a {
      @extend %usanetwork-font;
      background-color: transparent;
      color: $gray-light;
      float: right;
      margin-left: 7px;
      width: 19px;
      height: 21px;
      padding:0;
      font-size: 1.4em;
      &:hover {
        color: $blue;
      }
    }
    .usasocial-pinterest {
        background-color: $gray-light;
        color: $gray-med-dark;
        padding-top: 3px;
        width: 21px;
        &:hover {
          background-color: $blue;
          color: $gray-med-dark;
        }
    }
    .usasocial-fb {
      margin-left:3px;
    }
  }
  .view-display-id-attachment_1 {
    .view-header {
      position: relative;
      border-top: 1px solid $gray-ultra-med;
      font-family: $headline-reg;
      font-size: 20px;
      padding: 20px 15px 20px 20px;
      text-transform: uppercase;
      cursor: pointer;
      &:after {
        @extend %usanetwork-font;
        content: "Next";
        font-size: 0.55em;
        left: 230px;
        position: absolute;
        top: 24px;
      }
    }
    .view-content {
      display: none;
    }
  }
}



/* chat with fans */

#chat-echo-stream {
  background-color: $white;
  padding: 0 42px 30px;
  .echo-item-footer {
    .echo-item-date {
      display: block;
    }
  }
}

/* twitter */

#echo-stream {
  background-color: $white;
  padding: 30px 42px;
}

 /* echo stream */

.echo-stream-header {
  float: right;
  margin: 0;
}
.echo-stream-body {
  clear: both;
}
.echo-submit-controls {
  margin-top: 0;
}

.echo-stream-more {
  color: $gray-darker-light;
}
.echo-item-content {
  background: $white;
  color: $gray-med;
  position: relative;
  margin-bottom: 2px;
  padding: 8px 0;
  .echo-item-text {
    color: $gray-darker-light;
  }
  .echo-item-children {
    padding-left: 77px;
    padding-right: 77px;
  }
  .echo-item-authorName {
    color: $gray-med;
    font-family: $headline-semi;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.05em;
    a {
      color: $gray-med;
    }
  }
  .echo-item-tweetUserName a {
    color: $gray-med;
    font-family: $headline-semi;
    font-size: 12px;
  }
  .echo-item-tweetDate a {
    color: $gray-med;
    &:hover {
      color: $gray-med;
    }
  }
  .echo-item-container-root {
    padding: 0;
  }
  .echo-item-expandChildren {
    margin-left: 77px;
    margin-right: 77px;
  }
  .echo-item-container {
    position: relative;
  }
  .echo-item-avatar-wrapper {
    display: inline;
    float: left;
    width: 48px;
    margin: 0;
  }
  .echo-item-wrapper {
    margin-left: 63px;
    float: none;
    width: auto;
  }
  .echo-item-subwrapper {
    margin-left: 0;
  }
  .echo-item-body  {
    padding: 0;
  }
  .echo-item-data {
    color: $gray-darker-light;
    font-size: 12px;
    font-family: $headline-reg;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.2;
    padding-top: 4px;
    p {
      margin: 0 0 10px;
    }
  }
  .echo-item-footer,
  .echo-item-likes {
    color: $gray-extra-light;
    font-family: $headline-reg;
    font-size: 12px;
    background: none;
    padding: 0;
    .echo-item-from a {
      color: $gray-extra-light;
    }
  }
  .echo-item-likes {
    padding-top: 3px;
  }
  .echo-item-footer {
    line-height: 1.5em;
    margin-top: 0;
    .echo-item-date {
      display: none;
    }
  }
  .echo-item-data {
    padding-bottom: 10px;
  }
  .echo-item-replyForm {
    margin: 0 77px;
  }
  .echo-item-children .echo-item-container,
  .echo-item-children .echo-item-content {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      .echo-item-container-child {
        padding: 15px;
      }
      .echo-item-text {
        color: $gray-extra-light;
      }
  }
  .echo-item-children .echo-item-wrapper {
    margin-left: 50px;
  }
  .echo-item-footer .echo-item-from {
  .echo-secondaryColor {
     color: $gray-dark;
    }
  }
  .echo-item-controls a {
    color: $gray-dark;
  }
  .echo-item-via {
    display: none;
  }
}

/* chat with fans form */

#chat-submit-form {
  clear: both;
  overflow: hidden;
  background-color: $white;
  padding: 30px 42px 0;
  .echo-submit-header span {
    color: $gray-light;
  }
  .echo-auth-logged {
    .echo-auth-avatar,
    .echo-auth-name {
      display: none;
    }
  }
  .echo-auth-logout,
  .echo-auth-login {
    text-transform: uppercase;
    font-size: 15px;
    color: $gray-dark;
    float: right;
  }
  .echo-submit-counterLabel {
    color: $gray-extra-light;
    padding-top: 4px;
  }
  .echo-submit-container  {
    width: 100%;
  }
  .echo-submit-content {
    padding: 0;
    border: 0;
  }
  .echo-submit-body {
     width: 100%;
    textarea {
      color: $gray-extra-light;
      @include border-radius(5px);
      border: 1px solid $gray-darker-light;
      height: 77px;
      padding: 5px;
    }
  }
}


#fancybox-wrap {
  width: 460px !important;
  height: 300px !important;
}
