#utilities {
  height: 45px;
  background-color: $nav-black;
  position: relative;
  z-index: 11;

  > .dropdown-list {
    // background: sprite($ico-sprites, list-dropdown-blue, 7px, 12px);
    height: 100%;
    width: 35px;
    > div {
      left: 8px;
    }

    &:hover {
      // background: sprite($ico-sprites, list-dropdown-white, 7px, 12px);
    }
  }
  #show-menu-toggle {
    @include float-left;
    @include ir;
    // background: sprite($ico-sprites, list-dropdown-blue, 7px, 12px);
    cursor: pointer;
    height: 100%;
    width: 35px;

    .left-panel-active & {
      // background: sprite($ico-sprites, list-dropdown-white, 7px, 12px);
    }
  }
  .breadcrumb {
    @include float-left;
    color: #878785;
    font-family: Proxima N W01 Smbd;
    font-size: 0;
    margin: 5px 0 0 3px;
    overflow: hidden;
    text-transform: uppercase;

    > span {
      @include inline-block;
      font-size: 19px;
      line-height: 52px;
      vertical-align: middle;

      &:after {
        @include inline-block;
        content: "/";
        font-size: 26px;
        font-family: Proxima N W01 Thin Reg;
        margin: 0 11px;
        vertical-align: middle;
      }

      &:last-child {
        color: #fff;
        font-family: Proxima N W01 Reg;
        text-transform: none;

        &:after {
          content: "";
          display: none;
        }
      }
    }
  }
  .show-time {
      @include float-right;
      color: #878785;
      // display: none;
      font-size: 22px;
      margin: 17px 35px 0;
      text-transform: uppercase;
  }
  .show-share {
      @include float-right;
      display: none;
  }
  .on-now-teaser {
      position: relative;
      float: left;
      z-index: 20;
      margin: 10px 0 0 5px;
      color: $gray-light;
      white-space: nowrap;
  }
  .show-name, .episode-name {
      position: relative;
      display: block;
  }
  .show-name {
      top: -5px;
      font-family: $headline-bold;
      font-size: 16px;
      letter-spacing: .03em;
  }
  .episode-name {
      top: -9px;
      font-family: $headline-lt;
      font-size: 14px;
      letter-spacing: .03em;
  }
  #on-now-toggle {
      position: relative;
      float: left;
      @include ir;
      width: 30px;
      height: 26px;
      padding: 0 6px 0 24px;
      cursor: pointer;
      // background: sprite($ico-sprites, logo-on-now-mobi, 20, 0) no-repeat;
      z-index: 1;
      &:before {
          @include cssTriangle(5px, $white, right);
          position: absolute;
          left: 0;
          top: 8px;
          display: block;
      }
      &.active {
          // z-index: 1;
      }
  }

  @include breakpoint(640px) {
      height: 62px;
      > .dropdown-list {
          // background: sprite($ico-sprites, list-dropdown-blue, 20px, 20px);
          margin-left: 8px;
          width: 60px;

          > div {
              left: 18px;
          }

          &:hover {
              // background: sprite($ico-sprites, list-dropdown-white, 20px, 20px);

          }
      }
      #show-menu-toggle {
          // background: sprite($ico-sprites, list-dropdown-blue, 20px, 20px);
          margin-left: 4px;
          width: 60px;

          .left-panel-active & {
              // background: sprite($ico-sprites, list-dropdown-white, 20px, 20px);
          }
      }
      .breadcrumb {
          margin-top: 7px;
          margin-left: 0;

          > span {
              font-size: 26px;

              &:after {
                  font-size: 36px;
              }
          }
      }

      .on-now-teaser {
          margin: 17px 0 0 $gutter-width;
          span {
              position: static;
              display: inline;
          }
      }
      .show-name {
          font-size: 27px;
      }
      .episode-name {
          font-size: 23px;
      }
      #on-now-toggle {
          width: 35px;
          height: 28px;
          padding: 0 15px 0 24px;
          // background: sprite($ico-sprites, logo-on-now-tablet, 24, 0) no-repeat;
          &:before {
              border-width: 6px;
          }
      }
  }

  @include breakpoint(800px) {
      .show-time {
          display: inline;
      }

  }
  // 3 columns ++
  @include breakpoint($bp-3-col) {

  }
}
