#utilities {
  height: 45px;
  background-color: $nav-black;
  position: relative;
  z-index: 11;
  padding-left: 12px;
  border-bottom: 1px solid $gray-dark;
  overflow: hidden;
  position: relative;

  @include breakpoint($bp-on-now) {
    padding-top: 0;
    height: 62px;
  }

  .breadcrumb {
    @include float-left;
    color: $gray-light;
    font-family: $headline-semi;
    font-size: 0;
    margin: 5px 0 0 3px;
    overflow: hidden;
    text-transform: uppercase;
    > a {
      font-size: 19px;
      line-height: 38px;
      @include link-colors($gray-light, $white, $gray-light);
    }
    .separator {
      font-family: $font-mono;
      font-weight: normal;
      height: 32px;
      margin: 0px 6px 1px 5px;
      width: 11px;
      vertical-align: middle;
    }
    .show-section {
      color: $white;
      font-family: $headline-reg;
      text-transform: none;
    }

  }
  .show-time {
    @include float-right;
    color: $gray-light;
    // display: none;
    font-size: 22px;
    margin: 17px 35px 0;
    text-transform: uppercase;
  }

  @include breakpoint(0px 400px) {
    .breadcrumb {
      margin-top: 4px;
      //> span,
      > a {
        font-size: 16px;
      }
    }
  }
  @include breakpoint(0px 639px) {
    .show-name {
      font-size: 16px;
      margin-top: 7px;
    }
  }

  @include breakpoint(640px) {
    height: 62px;
    padding-left: 15px;

    .breadcrumb {
      margin-top: 7px;

      //> span,
      > a {
        font-size: 30px;
        line-height: 52px;

        .separator {
          font-size: 36px;
          height: 36px;
          margin-right: 13px;
          margin-left: 8px;
          margin-bottom: 3px;
          width: 20px;
        }
      }
    }
    .show-name {
      font-size: 27px;
      vertical-align: middle;
    }

  }

  @include breakpoint(1000px) {
    .show-time {
      display: inline;
    }

  }
}
