#utilities {
  height: 45px;
  background-color: $black-true;
  position: relative;
  z-index: 11;
  /* padding-left: 12px;
  border-bottom: 1px solid $gray-ultra-med; */
//  overflow: hidden;
  position: relative;
  @extend .clearfix;

  &.utilities-head-show {
    .utilties-main-group {
      height:100%;
      border-bottom: 1px solid $gray-ultra-med;
    }
    #head-show {
      padding-left: 12px;
    }
  }
  h1#page-title {
    @include float-left;
    @extend %regular-18;
    margin: 5px 0 0 10px;
    line-height: 40px;
  }

  .breadcrumb {
    @include float-left;
    color: $gray-light;
    font-size: 0;
    margin: 5px 0 0 0;
    overflow: hidden;
    text-transform: uppercase;
    > a {
      @include inline-block;
      @extend %semi-18;
      line-height: 40px;
      @include link-colors($white, $white, $white);
      vertical-align: middle;
    }
    .separator {
      @include inline-block;
      //background: sprite($icons-sprites, 'line-arrow-gray');
      //background:  url('../images/icons-sprite.png') 0 0;
      @extend .icons-line-arrow-gray;
      height: 36px;
      margin: -4px 6px 0 5px;
      width: 11px;
      vertical-align: middle;
    }
    .show-section {
      @extend %semi-headline;
      @include inline-block;
      color: $white;
      text-transform: none;
      font-size: 19px;
      line-height: 40px;
    }

  }
  .block-usanetwork-showpages {
    .breadcrumb {
      text-transform:none;
    }
}
  .show-time {
    @extend %regular-headline;
    @include float-right;
    color: $off-white-alt;
    display: none;
    font-size: 22px;
    margin: 17px 35px 0;
  }

  @include breakpoint(0px 400px) {
    .breadcrumb {
      margin-top: 4px;
      > a,
      .show-section {
        font-size: 16px;
      }
    }
  }

  @include breakpoint($bp-on-now) {
    height: 62px;
    /* padding-left: 15px; */
//    padding-top: 0;
    &.utilities-head-show {
      #head-show {
        padding-left: 15px;
      }
    }
    h1#page-title {
      font-size: 30px;
      line-height: 52px;
      margin-top: 7px;
      line-height: 52px;
    }
    .breadcrumb {
      margin-top: 7px;
      > a {
        font-size: 30px;
        line-height: 52px;
      }
      .separator {
        margin: -5px 13px 0 8px;
        width: 20px;
        line-height: 52px;
      }
      .show-section {
        font-size: 30px;
        line-height: 52px;
      }
    }

  }

  @include breakpoint(1000px) {
    .show-time {
      display: inline;
    }

  }
}
