
.node-type-usa-tve-video,
.node-type-usa-video,
.page-videos {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

.node-type-usa-tve-video,
.node-type-usa-video,
.page-videos {
  #block-system-main {
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 16px;
  }
}

.block-usanetwork-video {
  @extend %grid-small-wide-two-three-four;
  margin: 0 auto;
}

#block-usanetwork-video-usa-video-views {
  @include breakpoint($bp-grid-small-wide-2-3) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.block-usanetwork-video .view {
  li {
    list-style: none;
  }
  .node {
    border: 2px solid $gray-dark;
    .ie8 & {
      width: 304px;
    }
    > a {
      position: relative;
      z-index: 1;
      display: block;
    }
    &.node-usa-tve-video  {
      > a:after {
        position: absolute;
        right: 3px;
        top: 2px;
        content: "\e002";
        font-size: 25px;
        color: $white;
        @extend %usanetwork-font;
      }
      .asset-img:after {
        @include cssRightTriangle(50px, $black-trans-5, top, right);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .asset-img {
      line-height: 1em;
    }
    .caption-fields-wrapper {
      position: static;
      width: 100%;
      height: 41px;
      margin: 0;
      padding: 4px 10px;
      line-height: 1em;
      background: $black;
      @include breakpoint($bp-video-medium-width) {
        height: 52px;
        padding: 6px 10px;
        line-height: 1.25em;
      }
      @include breakpoint($bp-video-very-large-width) {
        height: 73px;
        padding: 11px 15px;
      }
    }
    h4 {
      @extend %regular-12;
      margin: 0;
      &:after {
        @include background-image(linear-gradient(right, $black 30%, $black-trans-vid));
        content: $space;
        position: absolute;
        top: 0;
        right: 0;
        width: 1em;
        height: 100%;
      }
      @include breakpoint($bp-video-medium-width) {
        font-size: 16px;
      }
      @include breakpoint($bp-video-very-large-width) {
        margin-bottom: 5px;
      }
    }
    .caption {
      font-size: 10px;
      @include breakpoint($bp-video-medium-width) {
        font-size: 14px;
      }
    }
  }
  .view-mode-vid_teaser_show_episode {
    h4 {
      @include breakpoint($bp-video-very-large-width) {
      }
    }
  }
}


.block-usanetwork-video.usa-secondary-menu {
  background: transparent;
  border: 0;
  height: auto;
  @include pie-clearfix;
  margin-bottom: 10px;
  @include breakpoint($bp-video-mid-large-width) {
    background-color: $gray-dark;
    border: 1px solid $gray-med-dark;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .categories  {
    > li {
      margin: 0;
      @include breakpoint($bp-video-mid-large-width) {
        @include secondary-menu-wide($secondary-menu-bg, true);
      }
    }
  }
  a {
    color: $gray-extra-light;
  }
  li.more ul.more {
    display: none;
  }
  ul.shows li {
    width: 100%;
  }
  .menu-label {
    display: none;
  }
  .filter-dropdown_v2 {
    background-color: $gray-dark;
    position: relative;
    .menu-label {
      display: block;
      padding: 20px 19px 18px;
      float: left;
      width: 100%;
      cursor: pointer;
      border: 1px solid $gray-med-dark;
       &:after,
        &:hover:after {
          position: absolute;
          right: 9px;
          top: 24px;
          left: auto;
          @extend %usanetwork-font;
          font-size: 11px;
          content: "\e000";
          color: $white;
          @include text-shadow(1px 0 0 $gray-dark-light, -1px 0 0 $gray-dark-light);
        }
        &:hover {
          color: $gray-extra-light;
        }
      + ul.categories {
        display: none;
      }
    }
    &.open {
      ul.categories {
        z-index: 99;
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
        display: block;
        position: absolute;
        top: 59px;
        border: 1px solid $gray-med-dark;
        border-top: 0;
        background-color: $gray-dark;
        width: 100%;
        left: 0;
        white-space: nowrap;
        .active {
          background-color: transparent;
          color: $white;
          &:after {
            border: 0;
          }
        }
        > li {
          border: 0;
          padding: 0;
          line-height: 1em;
          letter-spacing: 0.05em;
          float: none;
          &.first {
             a {
              border-top: 0;
            }
          }
          > a {
            font-size: 14px;
            padding: 10px 20px 8px;
            float: none;
            border: 0;
            border-top: 1px solid $gray-med-dark;
            @include link-colors($gray-extra-light, $white, $gray-extra-light, $gray-extra-light, $gray-extra-light);
            &:hover:after {
              @include cssTriangle(0, $gray-med, top);
            }
          }
        }
      }
    }
  }
  .content  {
    padding: 15px 15px 0;
    @include breakpoint($bp-video-medium-width) {
      padding-left: 0;
      padding-right: 0;
    }
    @include breakpoint($bp-video-large-width) {
      padding-top: 0;
    }
    > .item-list {
      float: left;
      width: 100%;
      @include breakpoint($bp-grid-small-wide-small) {
        &:first-of-type {
          margin-bottom: 15px;
        }
      }
      @include breakpoint($bp-grid-small-wide-2-3-fence) {
        margin-bottom: 0;
      }
      li {
        margin-bottom: auto;
      }
      @include breakpoint($bp-grid-small-wide-2-3-fence) {
        @include layout(2, .062) {
          &:nth-of-type(odd) {
            @include grid-span(1, 1);
          }
          &:nth-of-type(even) {
            @include grid-span(1, 2);
            padding-right: 0;
          }
        }
      }
      @include breakpoint($bp-video-large-width) {
        width: 457px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
      @include breakpoint($bp-video-mid-large-width) {
        font-size: 20px;
        width: 75%;
        margin: 0;
        border: 0;
        &:first-child {
          width: 25%;
          border-right: 1px solid $gray-med-dark;
        }
      }
    }
    .more  {
      .item-list > .more {
        max-height: none;
        overflow-y: inherit;
        background-color: $gray-dark;
        border: 0;
        border-top: 1px solid $gray-med-dark;
        position: relative;
        top: 0;
        @include breakpoint($bp-video-mid-large-width) {
          position: absolute;
          background-color: $black-trans;
          border: 1px solid $gray-med-dark;
          border-top: 0;
          min-width: 358px;
          width: auto;
          z-index: 80;
          padding: 30px 30px 33px;
          white-space: normal;
          top: 59px;
          right: -1px;
        }
        li {
          &.first a {
            border-top: 0;
          }
        }
        li a:hover:after {
          border: 0;
        }
        li a {
          border-top: 1px solid $gray-med-dark;
          @include breakpoint($bp-video-mid-large-width) {
            float: left;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 50%;
            line-height: 1em;
            border: 0;
            &:hover {
              background-color: transparent;
              color: $white;
            }
            &.active {
              background-color: transparent;
              &:after {
                border: 0;
              }
            }
          }
        }
      }
      &.open {
        > a:first-child  {
           color: $white;
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
            z-index: 99;
            &:after {
              @include cssTriangle(12px, $gray-med, top);
              position: absolute;
              left: 50%;
              top: 58px;
              margin-left: -12px;
              z-index: 9999;
            }
          }
          span {
            &:after {
              @include cssTriangle(5px, $blue, top);
              @include breakpoint($bp-video-mid-large-width) {
                border: 0;
              }
            }
          }
        }
        > span {
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
            color: $white;
            border-left: 1px solid $gray-med-dark;
            border-right: 1px solid $gray-med-dark;
          }
          &:after {
            @include cssTriangle(5px, $blue, top);
            @include breakpoint($bp-video-mid-large-width) {
              @include cssTriangle(12px, $gray-med, top);
                position: absolute;
                left: 50%;
                top: 58px;
                margin-left: -12px;
                z-index: 9999;
            }
          }
        }
      }
      > a:first-child span {
        &:after {
          @include cssTriangle(5px, $white, left);
          position: absolute;
          right: 14px;
          top: 15px;
          @include breakpoint($bp-video-mid-large-width) {
            border: 0;
          }
        }
        &:hover {
          background-color: $gray-ultra-med;
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
          }
        }
      }
      > span {
        cursor: pointer;
        display: block;
        width: 100%;
        position: relative;
        font-size: 14px;
        padding: 10px 20px 8px;
        float: none;
        border: 0;
        border-top: 1px solid $gray-med-dark;
        color: $gray-extra-light;
        &:after {
          @include cssTriangle(5px, $white, left);
          position: absolute;
          right: 14px;
          top: 15px;
        }
        &:hover {
          background-color: $gray-ultra-med;
          color: $white;
        }
        @include breakpoint($bp-video-mid-large-width) {
          font-size: 20px;
          height: 100%;
          padding: 20px 30px 18px;
          float: left;
          width: auto;
          border-top: 0;
          border-left: 1px solid $gray-dark;
          border-right: 1px solid $gray-dark;
          &:after {
            border: 0;
          }
          &:hover {
            background-color: $gray-med;
            color: $white;
            border-left: 1px solid $gray-med-dark;
            border-right: 1px solid $gray-med-dark;
            &:after {
              @include cssTriangle(12px, $gray-med, top);
              position: absolute;
              left: 50%;
              top: 58px;
              margin-left: -12px;
              z-index: 99;
            }
          }
        }
      }
    }
  }
}


.featured-asset  {
  margin: 0 auto 0;
  position: relative;
  @include breakpoint($bp-video-low-range-width) {
    width: 90%;
  }
  @include breakpoint($bp-video-mid-range4-width) {
    width: 615px;
  }
  @include breakpoint($bp-video-high-range-width) {
    width: 930px;
  }
  @include breakpoint($bp-video-very-large-width) {
    width: 1245px;
  }
  .usa-adrails & {
    width: 930px;
  }
  &.node-usa-tve-video {
    .video-player-wrapper a:after {
      position: absolute;
      left: 43%;
      top: 35%;
      content: "\e001";
      font-size: 50px;
      color: $white;
      @include text-shadow(1px 1px 5px $black-true);
      @extend %usanetwork-font;
      @include breakpoint($bp-video-mid-range4-width) {
        font-size: 85px;
      }
      @include breakpoint($bp-video-large2-width) {
        font-size: 85px
      }
    }
    .locked-msg {
      position: absolute;
      top: 120px;
      left: 40px;
      margin: 0 auto;
      text-align: center;
      z-index: 10;
      @include text-shadow(1px 1px 5px $black-true);
      @include breakpoint($bp-video-mid-range4-width) {
        top: 220px;
        left: 200px;
      }
      @include breakpoint($bp-video-high-range-width) {
        top: 220px;
        left: 200px;
      }
      @include breakpoint($bp-video-very-large-width) {
        top: 300px;
        left: 300px;
        font-size: 1.25em;
      }
    }
  }
  .tve-help-link {
    > img {
     padding-right: 5px;
     padding-bottom: 1px;
    }
    color: $gray-extra-light;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 5px;
      @include breakpoint($bp-video-player-section) {
        text-align: center;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        text-align: left;
      }
    }
  .video-player-wrapper {
    position: relative;
    float: left;
    width: 615px;
    height: 346px;
    margin-right: 15px;
    @include breakpoint($bp-video-player-section) {
      width: 330px;
      height: 186px;
      margin: 0 auto;
      float: none;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-bottom: 15px;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
      height: 523px;
    }
    .usa-adrails & {
      width: 615px;
      height: 375px;
    }
    iframe {
      width: 615px;
      height: 346px;
      @include breakpoint($bp-video-player-section) {
        width: 330px;
        height: 186px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        float: none;
        margin-bottom: 15px;
      }
      @include breakpoint($bp-video-very-large-width) {
        width: 930px;
        height: 523px;
      }
      .usa-adrails & {
        width: 615px;
        height: 375px;
      }
    }
    .tve-help {
      display: none;
      z-index: 1;
      position: absolute;
      width: 615px;
      height: 346px;
      text-align: center;
      background-color: $black-dark;
      border: 1px solid $gray-ultra-med;
      @include breakpoint($bp-video-player-section) {
        width: 330px;
        height: 186px;
        margin: 0 auto;
        float: none;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        margin-bottom: 15px;
        margin-right: 15px;
      }
      @include breakpoint($bp-video-very-large-width) {
        width: 930px;
        height: 523px;
      }
      .usa-adrails & {
        width: 615px;
        height: 375px;
      }
      .tve-download {
        padding-top: 20px;
        position: relative;
        top: 82px;
          @include breakpoint($bp-video-player-section) {
            font-size: 11px;
            line-height: 16px;
            top: -6px
          }
          @include breakpoint($bp-video-very-large-width) {
            font-size: 20px;
            line-height: 30px;
            top: 102px;
          }
        }
      .tve-download-link {
        position: relative;
        top: 100px;
        left: -14px;
          @include breakpoint($bp-video-player-section) {
            left: -4px;
            top: -3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 120px;
          }
        a:after {
           content : "";
        }
        a img {
          height: 35px;
          padding-left: 29px;
          @include breakpoint($bp-video-player-section) {
            padding-left: 9px;
          }
        }
      }
      .arrow {
         position : absolute;
         right: 0;
      }
      .tve-msg {
        position: relative;
        top: 52px;
        @include breakpoint($bp-video-player-section) {
          top: 14px;
          font-size: 11px;
          line-height: 16px;
        }
        @include breakpoint($bp-video-very-large-width) {
          font-size: 20px;
          line-height: 30px;
          top: 82px;
        }
      }

      .tve-close {
        float: right;
        position: relative;
        top: 112px;
        right: 10px;
        text-transform: uppercase;
        color: #0AB6E8;
          @include breakpoint($bp-video-player-section) {
            top: 3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 250px;
          }
        > img {
          padding-right: 5px;
          padding-bottom: 1px;
        }
      }
      &:after {
        position: absolute;
        content: "\0020";
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 14px;
        border-color: transparent $black transparent transparent;
        top: 3px;
        right: -16px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 105;
        -webkit-filter: drop-shadow($gray-ultra-med -2px 0px);
        -moz-filter: drop-shadow($gray-ultra-med -2px 0px);
        filter: drop-shadow($gray-ultra-med -2px 0px);
          @include breakpoint($bp-video-player-section) {
            border-color: transparent transparent $black transparent;
            border-top: none;
            top: 173px;
            left: 50%;
            -webkit-filter: drop-shadow($gray-ultra-med 0 -2px 0);
            -moz-filter: drop-shadow($gray-ultra-med 0 -2px 0);
            filter: drop-shadow($gray-ultra-med 0 -2px 0);
          }
          @include breakpoint($bp-video-mid-range4-width) {
            border-color: transparent transparent $black transparent;
            border-top: none;
            top: 333px;
            left: 16%;
            -webkit-filter: drop-shadow($gray-ultra-med 0 -2px 0);
            -moz-filter: drop-shadow($gray-ultra-med 0 -2px 0);
             filter: drop-shadow($gray-ultra-med 0 -2px 0);
          }
        }
      }
    .no-touch & {
      .locked-msg,
      a:after {
        display: none;
      }
      &:hover {
        cursor: pointer;
        .locked-msg,
        a:after {
          display: block;
        }
        img {
          opacity: .5;
        }
      }
    }
  }
  .meta {
    overflow: hidden;
  }
  .meta-head {
    float: left;
    width: 615px;
    margin-bottom: 15px;
    @include breakpoint($bp-video-player-section) {
      width: 100%;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      float: none;
      margin-bottom: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
    }
    .show-name,
    .episode-title,
    .details,
    .description {
      margin: 0;
      @extend %regular;
      font-weight: normal;
      letter-spacing: 0.05em;
    }
    .show-name,
    .episode-title {
      display: inline;
    }
    .show-name {
      font-size: 26px;
      margin-right: 15px;
      text-transform: uppercase;
    }
    .episode-title,
    .details {
      color: $gray-light;
    }
    .episode-title {
      font-size: 24px;
      text-transform: none;
      div {
        display: inline;
      }
    }
    .details,
    .description {
      font-size: 16px;
    }
  }
  .description {
    float: right;
    width: 300px;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($bp-video-player-section) {
      float: none;
      overflow: hidden;
      width: 100%;
      margin-top: 10px;
      margin-right: 0;
      p:last-child {
        margin-bottom: 0;
      }
    }
    @include breakpoint($bp-video-mid-range4-width) {
      display: inline;
      float: left;
      width: 300px;
      margin-top: 0;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-large2-width) {
      overflow: hidden;
      p:last-child {
      margin-bottom: 1.5em;
      }
    }
  }
  .ad {
    @include breakpoint($bp-video-mid2_width) {
      display: inline;
      float: right;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-top: 0;
    }
  }
  .tve-auth {
    float: right;
  }
}
.tve-overlay {
  opacity : 1;
}

