.consumptionator-content-block {
  @include clear();
  max-width: 2000px;
  margin: 0 auto 80px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-480-width) {
    margin: 0 auto 50px;
  }
  .show-content, .see-also-content {
    padding: 40px 20px 20px;
    @include breakpoint($bp-1280-width) {
      padding: 20px 10px 10px;
    }
    @include breakpoint($bp-640-width) {
      padding: 10px 5px 5px;
    }
    ul {
      position: relative;
      width: 100%;
      li {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        @include breakpoint($bp-min-1281-width) {
          float: left;
          width: 49%;
          &:nth-child(odd) {
            margin-right: 1%;
          }
        }
        @include breakpoint($bp-640-width) {
          &:after {
            background: $social-twitter-back;
            bottom: 0px;
            content: '';
            height: 33%;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
          .asset-img {
            padding-bottom: 27%;
          }
          .meta-wrap {
            .meta-icon {
              left: 14px;
            }
            .meta {
              margin-top: -20px;
              .title, .caption, .additional {
                margin-left: 58px;
              }
              .title  {
                font-size: 12px;
                line-height: 16px;
              }
              .caption, .additional {
                font-size: 10px;
                line-height: 12px;
              }
            }
          }
        }
        @include breakpoint($bp-480-width) {
          .meta-wrap {
            .meta-icon {
              left: 11px;
            }
            .meta {
              margin-top: -15px;
              .title, .caption, .additional {
                margin-left: 50px;
              }
              .title {
                font-size: 10px;
                line-height: 12px;
              }
              .caption, .additional {
                font-size: 8px;
                line-height: 10px;
              }
            }
          }
        }
        &.social-item {
          @include breakpoint($bp-640-width) {
            padding-bottom: 25px;
          }
          .asset-img {
            padding-bottom: 0%;
          }
          &:after {
            display: none;
          }
          .social-meta {
            color: #ffffff;
            left: 10%;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0px;
            width: 80%;
            .time {
              font-family: $cent-725BT-italic;
              font-style: italic;
              font-size: 12px;
              line-height: 50px;
              @include breakpoint($between-1281-1600) {
                line-height: 20px;
                margin-top: 20px;
              }
              @include breakpoint($bp-1280-width) {
                line-height: 25px;
                margin-top: 20px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 10px;
                line-height: 14px;
                margin-top: 10px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 8px;
                line-height: 10px;
                margin-top: 5px;
              }
            }
            .meta-social-title {
              font-family: $avantgarde-demi;
              font-size: 20px;
              line-height: 20px;
              @include breakpoint($between-1281-1600) {
                line-height: 20px;
                font-size: 14px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 12px;
                line-height: 14px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 10px;
                line-height: 12px;
              }
            }
            .meta-additional {
              font-family: $cent-725BT-italic;
              font-style: italic;
              font-size: 12px;
              line-height: 50px;
              @include breakpoint($between-1281-1600) {
                line-height: 20px;
                font-size: 12px;
              }
              @include breakpoint($bp-1280-width) {
                line-height: 25px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 10px;
                line-height: 14px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 8px;
                line-height: 10px;
              }
            }
            .meta-text {
              font-family: $avantgarde-medium;
              font-size: 25px;
              text-transform: none;
              @include breakpoint($between-1281-1600) {
                font-size: 20px;
                line-height: 28px;
              }
              @include breakpoint($bp-1280-width) {
                font-size: 20px;
                margin-top: 10px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 12px;
                margin-top: 7px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 10px;
                margin-top: 3px;
              }
            }
          }
          .social-usa {
            &:after {
              bottom: 60px;
              margin-left: -23px;
              @include breakpoint($between-1281-1600) {
                bottom: 50px;
              }
              @include breakpoint($bp-1280-width) {
                bottom: 50px;
              }
              @include breakpoint($bp-640-width) {
                bottom: 45px;
                margin-left: -15px;
              }
              @include breakpoint($bp-480-width) {
                bottom: 25%;
              }
            }
          }
          .form-wrapper {
            bottom: 0px;
            left: 0;
            height: 40px;
            overflow: hidden;
            position: absolute;
            width: 100%;
            @include breakpoint($bp-640-width) {
              height: 25px;
            }
            form {
              height: 100%;
              overflow: hidden;
              position: relative;
              input {
                border: 0;
                height: 100%;
                outline: none;
                padding: 0;
                width: 100%;
              }
            }
            .text-item {
              height: 100%;
              margin-right: 112px;
              position: relative;
              @include breakpoint($bp-640-width) {
                margin-right: 70px;
              }
              @include breakpoint($bp-480-width) {
                margin-right: 45px;
              }
              input {
                border: 1px solid $full-episodes-light-back;
                font-family: $avantgarde-demi;
                font-size: 14px;
                padding-left: 20px;
                text-transform: uppercase;
                @include breakpoint($bp-640-width) {
                  font-size: 10px;
                  padding-left: 10px;
                }
              }
            }
            .submit-item {
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
              width: 112px;
              @include breakpoint($bp-640-width) {
                width: 70px;
              }
              @include breakpoint($bp-480-width) {
                width: 45px;
              }
              input {
                background: $footer-back;
                color: #ffffff;
                cursor: pointer;
                font-family: $avantgarde-demi;
                font-size: 12px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
                @include breakpoint($bp-640-width) {
                  font-size: 10px;
                  line-height: 25px;
                }
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
        a {
          display: block;
          height: 100%;
          width: 100%;
        }
        img {
          height: auto;
          width: 100%;
        }
        .meta-wrap {
          bottom: 0px;
          height: 33%;
          position: absolute;
          width: 100%;
          z-index: 2;
          .meta-icon {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            z-index: 1;
            @include breakpoint($between-641-1280) {
              left: 4%;
            }
            @include breakpoint($bp-min-1281-width) {
              left: 5%;
            }
            &:before {
              left: 50%;
              margin-top: -18px;
              top: 50%;
              @include breakpoint($bp-480-width) {
                margin-top: -15px;
              }
            }
          }
        }
        .meta {
          margin-top: -32px;
          position: absolute;
          top: 50%;
          width: 100%;
          @include breakpoint($between-641-1024) {
            margin-top: -22px;
          }
          .title, .caption, .additional {
            margin-left: 19.25%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .caption, .additional {
            color: #ffffff;
            font-family: $avantgarde-medium;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            @include breakpoint($between-641-1024) {
              font-size: 10px;
              line-height: 12px;
            }
          }
          .title {
            color: #ffffff;
            font-family: $avantgarde-demi;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            @include breakpoint($between-641-1024) {
              font-size: 16px;
              line-height: 20px;
            }
          }
          .additional {
            span {
              font-family: $cent-725BT-italic;
              font-style: italic;
            }
          }
        }
      }
    }
    h2 {
      color: $footer-back;
      font-family: $avantgarde-demi;
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      @include breakpoint($bp-640-width) {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  .show-content {
    float: left;
    height: 100%;
    position: relative;
    width: 66%;
    @include breakpoint($bp-min-1281-width) {
      width: 59.2%;
    }
    @include breakpoint($between-769-1280) {
      width: 50%;
    }
    @include breakpoint($between-641-768) {
      width: 59.3%;
    }
    @include breakpoint($bp-640-width) {
      width: 50%;
    }
    ul {
      li {
        @include breakpoint($bp-min-1281-width) {
          &:after {
            background: #000000;
            bottom: 0px;
            content: '';
            height: 33%;
            opacity: 0.6;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
        }
        @include breakpoint($between-769-1280) {
          &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+5), &:nth-child(6n+6) {
            clear: both;
            float: none;
            width: 100%;
            &:after {
              background: #000000;
              bottom: 0px;
              content: '';
              height: 33%;
              opacity: 0.6;
              position: absolute;
              width: 100%;
              z-index: 1;
            }
          }
          &:nth-child(6n+3), &:nth-child(6n+4) {
            float: left;
            width: 49%;
            .asset-img {
              padding-bottom: 27%;
            }
            &:after {
              background: $social-twitter-back;
              bottom: 0px;
              content: '';
              height: 33%;
              position: absolute;
              width: 100%;
              z-index: 1;
            }
            @include breakpoint($between-1025-1280) {
              .meta {
                margin-top: -20px;
              }
              .caption, .additional {
                font-size: 10px;
                line-height: 12px;
              }
              .title {
                font-size: 12px;
                line-height: 16px;
              }
            }
            @include breakpoint($between-769-1280) {
              .meta-icon {
                left: 10px;
              }
              .title, .caption, .additional {
                margin-left: 54px;
              }
            }
            @include breakpoint($between-769-1024) {
              .meta {
                margin-top: -15px;
              }
              .title {
                font-size: 10px;
                line-height: 12px;
              }
              .caption, .additional {
                font-size: 8px;
                line-height: 10px;
              }
            }
          }
          &:nth-child(6n+3) {
            margin-right: 2%;
          }
        }
        @include breakpoint($between-641-768) {
          &:after {
            background: #000000;
            bottom: 0px;
            content: '';
            height: 33%;
            opacity: 0.6;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
  }
  .see-also-content {
    background: $consum-also-back ;
    float: left;
    height: 100%;
    position: relative;
    width: 34%;
    @include breakpoint($bp-min-1281-width) {
      width: 40.8%;
    }
    @include breakpoint($between-769-1280) {
      width: 50%;
    }
    @include breakpoint($between-641-768) {
      width: 40.7%;
    }
    @include breakpoint($bp-640-width) {
      width: 50%;
    }
    ul {
      li {
        @include breakpoint($between-1281-1600) {
          .meta {
            margin-top: -20px;
            .title, .caption, .additional {
              margin-left: 58px;
            }
            .caption, .additional {
              font-size: 10px;
              line-height: 12px;
            }
            .title {
              font-size: 12px;
              line-height: 16px;
            }
          }
          .meta-icon {
            left: 14px;
          }
        }
        @include breakpoint($bp-min-1281-width) {
          &:after {
            background: $social-twitter-back;
            bottom: 0px;
            content: '';
            height: 33%;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
          .asset-img {
            padding-bottom: 27%;
          }
        }
        @include breakpoint($bp-768-width) {
          width: 100%;
        }
        &:after {
          margin-left: 10px;
        }
        @include breakpoint($between-641-768) {
          &:after {
            background: $social-twitter-back;
            bottom: 0px;
            content: '';
            height: 33%;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
          .asset-img {
            padding-bottom: 27%;
          }
          .meta-wrap {
            .meta-icon {
              left: 14px;
            }
            .meta {
              .title, .caption, .additional {
                margin-left: 58px;
              }
            }
          }
        }
        &.social-item {
          background: #000000;
          @include breakpoint($bp-min-1281-width) {
            .asset-img {
              padding-bottom: 27%;
            }
          }
          @include breakpoint($between-641-768) {
            padding-bottom: 27%;
          }
          .node {
            &:after {
              bottom: 13px;
            }
          }
          .social-meta {
            top: 20%;
            .meta-social-title {
              line-height: 28px;
              @include breakpoint($between-1281-1600) {
                line-height: 20px;
                font-size: 12px;
              }
              @include breakpoint($between-641-768) {
                line-height: 14px;
                font-size: 16px;
              }
              @include breakpoint($bp-640-width) {
                line-height: 14px;
              }
            }
          }
          .meta-more {
            bottom: 15px;
            color: #ffffff;
            display: block;
            font-family: $avantgarde-demi;
            font-size: 13px;
            height: auto;
            letter-spacing: 1px;
            position: absolute;
            right: 10px;
            text-decoration: none;
            text-transform: uppercase;
            width: 120px;
            @include breakpoint($bp-min-1601-width) {
              letter-spacing: 0.5px;
              width: 105px;
            }
            @include breakpoint($between-1281-1600) {
              display: block;
              text-indent: -9999px;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
            }
            @include breakpoint($bp-1024-width) {
              letter-spacing: 0.5px;
              width: 110px;
            }
            @include breakpoint($bp-768-width) {
              display: block;
              text-indent: -9999px;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              right: 0px;
              top: 0px;
              @include sprite-background(coming-next);
              @include breakpoint($between-1281-1600) {
                display: none;
              }
              @include breakpoint($bp-768-width) {
                display: none;
              }
            }
          }
        }
        @include breakpoint($between-769-1280) {
          &:nth-child(6n+1), &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
            clear: both;
            float: none;
            width: 100%;
            &:after {
              background: #000000;
              bottom: 0px;
              content: '';
              height: 33%;
              opacity: 0.6;
              position: absolute;
              width: 100%;
              z-index: 1;
            }
          }
          &:nth-child(6n+2), &:nth-child(6n+3) {
            float: left;
            width: 49%;
            .asset-img {
              padding-bottom: 27%;
            }
            &:after {
              background: $social-twitter-back;
              bottom: 0px;
              content: '';
              height: 33%;
              position: absolute;
              width: 100%;
              z-index: 1;
            }
            @include breakpoint($between-1025-1280) {
              .meta {
                margin-top: -20px;
              }
              .caption, .additional {
                font-size: 10px;
                line-height: 12px;
              }
              .title {
                font-size: 12px;
                line-height: 16px;
              }
            }
            @include breakpoint($between-769-1280) {
              .title, .caption, .additional {
                margin-left: 58px;
              }
              .meta-icon {
                left: 14px;
              }
            }
            @include breakpoint($between-769-1024) {
              .meta {
                margin-top: -15px;
              }
              .caption, .additional {
                font-size: 8px;
                line-height: 10px;
              }
              .title {
                font-size: 10px;
                line-height: 12px;
              }
            }
          }
          &:nth-child(6n+2) {
            margin-right: 2%;
          }
        }
      }
    }
  }
}

.resize-button {
  bottom: -55px;
  display: block;
  left: 50%;
  position: absolute;
  @include sprite-background(resize-down);
  margin-left: -12px;
  @include breakpoint($bp-480-width) {
    bottom: -30px;
  }
  &.active {
    @include sprite-background(resize-up);
  }
  &.resize-video-button {
    @include breakpoint($bp-1024-width) {
      display: none;
    }
  }
}