////////////////////////////
// Custom Mixins
// nothing here yet.
// add your own.
////////////////////////////

@mixin debug-outline($color: red, $background-color: false) {
  outline: 1px solid $color;
  @if $background-color != false {
    background-color: $background-color;
  }
}


// Create CSS Right Triangles in a Breeze
//$triangleDirection : top, bottom
//$triangleDirection2 : left, right
@mixin cssRightTriangle($triangleSize, $triangleColor, $triangleDirection, $triangleDirection2 ) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  @if ($triangleDirection == top) {
    @if ($triangleDirection2 == left) {
      border-top: solid $triangleSize $triangleColor;
      border-right: solid $triangleSize transparent;
    }
    @if ($triangleDirection2 == right) {
      border-top: solid $triangleSize $triangleColor;
      border-left: solid $triangleSize transparent;
    }
  }
  @if ($triangleDirection == bottom) {
    @if ($triangleDirection2 == left) {
      border-bottom: solid $triangleSize $triangleColor;
      border-right: solid $triangleSize transparent;
    }
     @if ($triangleDirection2 == right) {
      border-bottom: solid $triangleSize $triangleColor;
      border-left: solid $triangleSize transparent;
    }
  }
  // .example { @include cssRightTriangle(5px, $white, bottom ,left); }
}


// set the size of a carousel item
@mixin carousel-item($size: (237px, 198px), $margin: 15px) {
  margin-right: $margin;
  width: nth($size, 1);
  height: nth($size, 2);
  img {
    width: nth($size, 1);
    height: nth($size, 2);
  }
}

// set the styling for the on-now / up-next social block navigation
@mixin on-now-panel-social-navigation() {
  background-attachment : scroll;
  background-clip : border-box;
  background-color : rgba(0, 0, 0, 0);
  background-image : url("/sites/usanetwork/themes/aurora_usa/images/social_chatter_icons.png");
  background-origin : padding-box;
  background-position : 0 -2792px;
  background-repeat : no-repeat;
  background-size : auto auto;
  float : left;
  text-indent : -9999px;
  width:32px;
  height:32px;
}

@mixin clear() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

