@import "compass";
////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

//////////////////////////////
// Legacy Support Setup
//////////////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

$legacy-support-for-mozilla: false;

@import "compass/reset";
////////////////////////
@import "compass/utilities/sprites";
@import "compass/css3";
// Base Import
////////////////////////
@import 'partials/global/base';

////////////////////////

// Import Design
////////////////////////
@import 'partials/design/design';

