.form-item-files-replace-upload {
  position: absolute;
  left: 50%;
  width: 50%
}
.form-item-files-replace-upload label {
  display: inline;
}
.file_entity_edit_form_column_2 {
  padding-top: 30px;
}
.form-wrapper.redirect-list {
  clear: both;
  width: 100%;
  float: left;
}

