body 
{
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif;
	font-size:10pt;
	background-color: #1e2c37;
	color: #333333;
}

div#gameContainer
{
	position:relative;
	float:none;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width:924px;
	height:600px;
	
	background-image:url("../images/burn_notice_AdBG.jpg");
	background-repeat:no-repeat;
}


div#gamePlay
{
	position:relative;
	float:none;
	margin:0px;
	padding:0px;
	top:120px;
	left:0px;
	text-align:left;
	width:924px;
	height:600px;
	
}

div#flashcontent
{
	width:0px;
	height:0px;
}

div#adBottomContainer
{
  float:none;
  position:relative;
  top:0px;
  width:924px;
  height:140px;
  background-color:#ffffff;
  background-image:url("../images/burn_notice_bottom_AdBG.jpg");
  background-repeat:no-repeat;

}

div#adBottom
{
	width:724px;
	height:90px;
	position:relative;
	text-align:left;
	margin:0px;
	padding:0px;	
	top:25px ;
	left:104px;
}
