%grid-small-wide-two-three-four {
  .grid-item {
    @extend %grid-item;
  }
  @include breakpoint($bp-grid-small-wide-2-3) {
    @include layout(2, .062) {
      .grid-item {
        &:nth-of-type(odd) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(even) {
          @include grid-span(1, 2);
          padding-right: 0;
        }
        &:nth-of-type(2n + 3) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-grid-small-wide-2-fence) {
    width: 457px;
  }
  @include breakpoint($bp-grid-small-wide-3-fence) {
    width: 693px;
    @include layout(3, .062) {
      .grid-item {
        &:nth-of-type(3n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 3) {
          @include grid-span(1, 3);
          padding-right: 0;
        }
        &:nth-of-type(3n + 4) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-video-large-width) {
    @include layout(4, .062) {
      .grid-item {
        &:nth-of-type(4n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(4n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4n + 3) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 4) {
          @include grid-span(1, 4);
          padding-right: 0;
        }
        &:nth-of-type(4n + 5) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-grid-small-wide-4-fence) {
    width: 929px;
    margin-bottom: 28px;

  }
  @include breakpoint($bp-grid-small-wide-4) {
    width: 1245px;
  }
  .usa-adrails & {
    width: 929px;
  }
}
