%movies-grid {
  width: 300px;
  margin: 0 auto;
  .tiles {
    @include pie-clearfix;
  }
  .upcoming-movies {
    position: relative;
  }
  .upcoming-movie, .ad {
    @extend %grid-item;
    overflow: hidden;
    @include breakpoint($bp-home-narrowest) {
      margin-bottom: 8px;
    }
    a {
      display: block;
    }
  }
  .a-spot {
    overflow: hidden;
  }
  @include breakpoint($bp-home-narrowest) {
    @include layout(2, .048) {
      .a-spot {
        height: 250px;
        width: 300px;
      }
      .ad {
        @include grid-span(2, 1);
        height: 50px;
      }
      .upcoming-movie {
        &:nth-of-type(even) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(odd) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(2) {
          clear: both;
        }
        &:nth-of-type(2n + 4) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-home-2-fence) {
    width: 615px;
    @include layout(2, .048) {
      .a-spot {
        height: 350px;
        width: 615px;
      }
      .ad {
        position: absolute;
        width: column-span(1, 2);
        height: 250px;
        top: 0;
        right: 0;
      }
      .upcoming-movie {
        &:nth-of-type(2) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(2n + 3) {
          @include grid-span(1, 1);
          clear: both;
        }
        &:nth-of-type(2n + 4) {
          @include grid-span(1, 2);
        }
      }
    }
  }
  @include breakpoint($bp-home-3-fence) {
    width: 930px;
    @include layout(3, .048) {
      .a-spot {
        width: 930px;
        height: 378px;
      }
      .ad {
        position: absolute;
        width: column-span(1, 3);
        height: 250px;
        top: 0;
        right: 0;
      }
      .upcoming-movie {
        &:nth-of-type(2) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 4) {
          @include grid-span(1, 1);
          clear: both;
        }
        &:nth-of-type(3n + 5) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 6) {
          @include grid-span(1, 3);
        }
      }
    }
  }
  @include breakpoint($bp-home-widest) {
    width: 1245px;
    padding-top: 0;
    @include layout(4, .048) {
      .a-spot {
        height: 506px;
        width: 1245px;
      }
      .ad {
        position: absolute;
        width: column-span(1, 4);
        height: 250px;
        top: 0;
        right: 0;
      }
      .upcoming-movie {
        &:nth-of-type(2) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 5) {
          @include grid-span(1, 1);
          clear: both;
        }
        &:nth-of-type(4n + 6) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4n + 7) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 8) {
          @include grid-span(1, 4);
        }
      }
    }
  }
  .usa-adrails & /* , .ie8 & */ {
    width: 930px !important;
    @include layout(3, .048) {
      .a-spot {
        width: 930px;
        height: 378px;
      }
      .ad {
        position: absolute;
        width: column-span(1, 3);
        height: 250px;
        top: 0;
        right: 0;
      }
      .upcoming-movie {
        &:nth-of-type(2) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 4) {
          @include grid-span(1, 1);
          clear: both;
        }
        &:nth-of-type(3n + 5) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 6) {
          @include grid-span(1, 3);
        }
      }
    }
  }


}
