%grid-one-two-three-four {
  ul {
    li {
      @extend %grid-item;
    }
  }
  @include breakpoint($bp-grid-show-2-fence) {
    @include layout(2, .048){
      ul li {
        &:nth-of-type(odd) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(even) {
          @include grid-span(1, 2);
          padding-right: 0;
        }
        &:nth-of-type(2n + 3) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-grid-show-3-fence) {
    @include layout(3, .048){
      ul li {
        &:nth-of-type(3n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 3) {
          @include grid-span(1, 3);
          padding-right: 0;
        }
        &:nth-of-type(3n + 4) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($bp-grid-show-4) {
    @include layout(4, .048){
      ul li {
        &:nth-of-type(4n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(4n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4n + 3) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 4) {
          @include grid-span(1, 4);
          padding-right: 0;
        }
        &:nth-of-type(4n + 5) {
          clear: both;
        }
      }
    }
  }
  .usa-adrails &, .ie8 & {
    @include layout(3, .048){
      ul li {
        &:nth-of-type(3n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(3n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(3n + 3) {
          @include grid-span(1, 3);
          padding-right: 0;
        }
        &:nth-of-type(3n + 4) {
          clear: both;
        }
      }
    }
  }
}
