/* GENERAL */
html, body {
  background-color: #000;
  font-size: 16px;
  line-height: 18px;
}
body,
#microsite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#microsite #left-nav {
  position: fixed;
  top: 105px;
  left: 10px;
  width: 390px;
  height: 200px;
  border: 1px solid #FFF;
  z-index: 1000;
}
#microsite #ad728x90 {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25%;
  width: 728px;
  height: 90px;
  z-index: 1000;
}
#microsite #sections {
  position: relative;
  width: 100%;
  height: 100%;
}
#microsite #sections > div {
  width: 100%;
}
#microsite section {
  width: 100%;
}
#microsite #ad300x250 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 250px;
  z-index: 1000;
  background-color: #CCC;
  border: 1px solid #FFF;
}


/* SECTIONS */
#microsite .section {
  width: auto;
  height: auto;
}
#microsite .full-pane {
  padding: 20px;
  border: 2px solid #FFF;
  background-color: #000;
}
#microsite #home {
  display: block;
  opacity: 1;
}
#microsite #about {
  top: 50%;
  left: 50%;
  display: block;
  opacity: 1;
}
#microsite div.section.active {
  top: 10%;
  left: 10%;
  width: 80%;
  z-index: 100;
}
#microsite #home {
  top: 0;
  left: 0;
  width: 80%;
  z-index: 100;
}


/* HOME SECTION */
#microsite #mrrobot-home {
  background-color: transparent;
  max-width: 641px;
  max-height: 844px;
  width: 100%;
  height: 844px;
  min-width: 300px;
  min-height: 395px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  overflow: none;
  margin-top: 105px;
}
#microsite .mr-forehead,
#microsite .mr-right-eye,
#microsite .mr-left-eye,
#microsite .mr-nose-mouth,
#microsite .mr-left-mouth,
#microsite .mr-chin {
  position: absolute;
  height: auto;
}
#microsite .mr-forehead {
  width: 100%;
  top: 0;
  left: 0;
}
#microsite .mr-right-eye {
  width: 37.0%;
  top: 14.8%;
  left: 8.2%;
}
#microsite .mr-left-eye {
  width: 52.3%;
  top: 17.5%;
  left: 47.3%;
}
#microsite .mr-nose-mouth {
  width: 72.8%;
  top: 38.6%;
  left: 4.7%;
}
#microsite .mr-left-mouth {
  width: 41.2%;
  top: 54.5%;
  left: 54.6%;
}
#microsite .mr-chin {
  width: 71.3%;
  top: 68.5%;
  left: 13.4%;
}
#microsite .mr-right-eye img,
#microsite .mr-left-eye img,
#microsite .mr-nose-mouth img,
#microsite .mr-left-mouth img {
  max-width: 100%;
  height: auto;
}
#microsite #home #mrrobot-home > div {
  z-index: 10;
}

/* ABOUT SECTION */

/* CHARACTERS SECTION */

/* GALLERIES SECTION */

/* VIDEO SECTION */
#microsite .video-container iframe {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
#microsite .block-usanetwork-mpx-video .view .file h4:after, #block-views-usa-mpx-video-fullepisodes-live .view .file h4:after {
  background-image: none;
}
#microsite .video-container.in-player {
  display: block;
}
#microsite .full-pane {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
#microsite .full-pane #video-container {
  margin-bottom: 30px;
  position: relative;
}
#microsite .full-pane #video-container:after {
  content: '';
  clear: both;
  display: table;
}
#microsite .full-pane #video-container .video-title {
  font-size: 26px;
  margin: 7px 0;
  text-transform: uppercase;
}
#microsite .full-pane #video-container .video-title h1 {
  color: #ffffff;
  line-height: 24px;
  font-family: 'Proxima N W01 Reg', Arial, sans-serif;;
  font-size: 26px;
  font-weight: normal;
  margin: 7px 0;
  text-transform: uppercase;
}
#microsite .full-pane #video-container .video-description {
  font-size: 16px;
}
#microsite .full-pane #video-container .video-info {
  font-size: 14px;
  color: #e5ce96;
}
#microsite .block-usanetwork-mpx-video {
  margin: 0;
  width: 945px;
}
#microsite .block-usanetwork-mpx-video:after {
  clear: both;
  content: '';
  display: table;
}
#microsite .block-usanetwork-mpx-video li.grid-item {
  clear: none;
  float: left;
  height: 250px;
  margin: 0px 15px 15px 0px;
  width: 300px;
  border: 1px solid transparent;
}
#microsite .block-usanetwork-mpx-video li.grid-item.active {
  border: 1px solid #FFF;
}
#microsite .block-usanetwork-mpx-video li.grid-item.ad {
  background-color: #1F1F1F;
  position: relative;
}
#microsite .block-usanetwork-mpx-video li.grid-item .file {
  border: 0;
}
#microsite .block-usanetwork-mpx-video li.grid-item .caption-overlay {
  background-color: #000;
}
#microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper {
  height: 81px;
  background-color: #000;
}
#microsite .block-usanetwork-mpx-video li.grid-item.active .caption-fields-wrapper {
  height: 77px;
}
#microsite .block-usanetwork-mpx-video li.grid-item .caption-fields-wrapper .caption {
  color: #e5ce96;
}
#microsite .block-usanetwork-mpx-video li.grid-item img {
  height: 169px;
  width: 300px;
}
#microsite .block-usanetwork-mpx-video li.ad img {
  height: 100%;
}
#microsite .expandable-container .expandable-toggle-wrap {
  display: none;
}
/* custom play button */
#microsite #video-container .video-player {
  position: relative;
}
#video-container .active-player .custom-play {
  background-image: url("../images/icons/playOverlay.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  cursor: pointer;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 1;
}
/* corrected player style */
.video-auth-player-wrapper {
  display: none;
}
.video-auth-player-wrapper.featured-asset {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help {
  margin: 0;
}
.video-auth-player-wrapper.featured-asset .tve-help-link {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .loginButton img {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut {
  position: static;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .tve-header-links > li {
  margin: 0;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0 0 12px;
  border-left: 1px solid #ffffff;
  line-height: 10px;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a {
  color: #ffffff;
}
.video-auth-player-wrapper.featured-asset .tve-close {
  cursor: pointer;
}
.video-auth-player-wrapper.featured-asset .tve-help:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  bottom: -1px;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 106 !important;
}
.video-auth-player-wrapper.featured-asset .tve-help:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #4b4b4b;
  border-right: 14px solid transparent;
  bottom: 0;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 105 !important;
}
#video-container .file-video-mpx {
  line-height: 0;
  position: relative;
}
.video-auth-player-wrapper.featured-asset .video-player-wrapper {
  float: none;
  margin: 0 0 15px 0;
}
#video-container .error-message {
  display: none;
  line-height: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* end */
#microsite #ad_300x60_1 {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}
#microsite #videos .full-desc {
  margin-bottom: 90px;
}
/* video-filter */
#videos .filter-wrapper {
  margin-bottom: 20px;
  max-width: 615px;
}
#videos #video-filter {
  background-color: #000000;
  position: relative;
  width: 300px;
}
#videos #video-filter .filter-menu {
  background-color: #121212;
  border-bottom: 2px solid #13242a;
  border-left: 2px solid #13242a;
  border-right: 2px solid #13242a;
  display: none;
  padding: 25px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#videos #video-filter .filter-label {
  background-color: #13242a;
  cursor: pointer;
  width: 100%;
}
#videos #video-filter .filter-label span {
  color: #ffffff;
  font-family: 'Proxima N W01 Reg', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
}
#videos #video-filter .filter-label span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top: 14px solid #13242a;
  top: 6px;
  right: -30px;
  z-index: 6;
}
#videos #video-filter .filter-label span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top: 14px solid #a7a7a7;
  top: 10px;
  right: -30px;
  z-index: 5;
}
#videos #video-filter .filter-label.open span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #13242a;
  margin-top: -8px;
  top: 50%;
  right: -30px;
  z-index: 6;
}
#videos #video-filter .filter-label.open span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #a7a7a7;
  margin-top: -4px;
  top: 50%;
  right: -30px;
  z-index: 5;
}
#videos #video-filter .filter-label span:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #13242a;
  margin-top: -10px;
  top: 50%;
  right: -40px;
  z-index: 6;
}
#videos #video-filter .filter-label span:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #a7a7a7;
  margin-top: -10px;
  top: 50%;
  right: -44px;
  z-index: 5;
}
#videos #video-filter .filter-menu {
  background-color: #000000;
  display: none;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#videos #video-filter .filter-item {
  color: #ffffff;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#videos #video-filter .filter-item:last-child {
  margin-bottom: 0;
}
#videos #video-filter .filter-item:hover,
#videos #video-filter .filter-item.active {
  color: #e5ce96;
}
/* button more / close */
#thumbnail-list .thumbnail.hidden {
  display: none;
}
#microsite #videos .expandable-toggle-wrap {
  display: none;
}
#microsite #videos .expandable-toggle-wrap.active,
#microsite #videos .expandable-toggle-wrap.spoiler {
  display: block;
  margin-bottom: 60px;
  margin-left: 0;
}
#microsite #videos .expandable-toggle-wrap ul li {
  margin: 0;
}



/* BEGIN MEDIA QUERIES */
@media (max-width: 640px) {
  #microsite section .microsite-section-container {
    margin: 0 auto;
    width: 88%;
  }
}
