/* GALLERIES */
#microsite #galleries-content .microsite-section-container {
  max-width: 1400px;
}
/* panes */
#microsite #galleries-content .full-pane {
  width: 80%;
  max-width: 1244px;
  min-height: 620px;
  margin: 0 auto;
}
#microsite #galleries-content .left-pane {
  position: relative;
  float: left;
  width: 100%;
}
#microsite section#galleries-content .right-pane {
  width: 100%;
  max-width: 1012px;
  float: left;
  margin-top: 40px;
}
#galleries section > h2 {
  background-image: url('../images/donotdisturb_btn.png');
  height: 82px;
  margin-left: calc(50% - 286px);
  width: 218px;
}

/* left pane content */
#microsite #galleries-content .microsite-gallery-meta {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: none;
}
#microsite #galleries-content .microsite-gallery-meta h1,
#microsite #galleries-content .microsite-gallery-meta h2 {
  float: left;
  font-size: 1.7em;
  line-height: 1.1em;
  margin: 0 0 0.2em;
  overflow: hidden;
  width: calc(100% - 220px);
  text-align: left;
}
#microsite #galleries-content .microsite-gallery-meta h1.seo-h1,
#microsite #galleries-content .microsite-gallery-meta h2.seo-h1 {
  font-size: 0.7em;
  margin: -0.2em 0 0.2em;
}
#microsite .node-media-gallery.view-mode-inline_content {
  max-width: 100%;
}
#microsite #galleries-content .microsite-gallery .description-block {
  padding: 0;
  text-align: left;
  line-height: 1.3em;
  height: 60px;
  display: block;
  overflow-y: auto;
}
#microsite #galleries-content .microsite-gallery .description-block p {
  margin: 0;
}
#microsite .photo-caption {
  width: 100%;
  font-size: 1em;
  line-height: 0.8em;
  clear: both;
}
#microsite #galleries #gallery-loader {
  opacity: 0;
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#microsite #galleries #gallery-loader img {
  position: absolute;
  left: 100%;
  margin-left: calc(-50% - 16px);
  top: 45%;
  width: 32px;
  height: 32px;
}

/* flexslider */
/*
#microsite #galleries-content .flexslider {
  max-width: 1400px;
  overflow: hidden;
}
#microsite #galleries-content .flexslider li {
  background-color: #000;
  position: relative;
}
#microsite #galleries-content .flexslider .slides > li img {
  max-height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#microsite #galleries-content .flex-direction-nav {
  position: relative;
  top: -50%;
  z-index: 20;
}
#microsite #galleries-content .flexslider .counter {
  position: absolute;
  right: 10px;
  top: 10px;
}
#microsite #galleries-content .flexslider .field-name-field-caption {
  display: none;
}
*/
#galleries .left-pane {
  display: none;
}
#galleries .right-pane {
  width: 100%;
}

/* GALLERY / DON'T BOTHER ME OVERRIDES */
#galleries .bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #000;
}
#galleries .bx-controls-direction a {
  display: none;
  color: white;
  width: 35px;
  height: 80px;
  margin: -16px 0 0;
  position: absolute;
  top: 40%;
  z-index: 10;
  cursor: pointer;
  background: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  font-family: 'usanetwork';
  speak: none;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2.8; /* 1; */
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  -webkit-transition: all .3s ease;
}

/* gallery / don't bother me content */
#galleries #gallery-content {
 float: left;
 width: 80%; /* calc(100% - 220px); */
 max-width: 806px;
 margin-right: 2%;
 position: relative;
 top: 0;
 left: 0;
}
#galleries #gallery-content .bx-controls-direction a {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
}
#galleries #gallery-content .bx-controls-direction a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#galleries #gallery-content .bx-controls-direction a.bx-prev {
  background-image: none;
  left: 0;
  text-indent: -3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
}
#galleries #gallery-content .bx-controls-direction a.bx-next {
  background-image: none;
  right: 0;
  text-indent: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
}

/* gallery nav */
#galleries #gallery-nav {
  float: right;
  width: 18%; /* 200px; */
  max-width: 200px;
}
#galleries #gallery-nav .bx-viewport {
  height: 400px;
}
#galleries #gallery-nav .bx-viewport a {
  display: block;
  border: 2px solid transparent;
}
#galleries #gallery-nav .bx-viewport a.active2 {
  display: block;
  border: 2px solid #FFF;
}
#galleries #gallery-nav .bx-wrapper .bx-controls-direction a {
  top: inherit;
  bottom: -115px;
  display: block;
  opacity: 1;
  line-height: 1;
  margin-top: 0;
  font-size: 18px;
  color: red;
}
#galleries #gallery-nav .bx-controls-direction a.bx-prev {
  background-image: none;
  background-color: transparent;
  left: 0;
  text-indent: -3px;
  text-align: center;
}
#galleries #gallery-nav .bx-wrapper .bx-next {
  background-image: none;
  background-color: transparent;
  right: 0;
  text-indent: -3px;
  text-align: center;
}
#galleries .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
}
#galleries .bx-wrapper .bx-pager.bx-default-pager a:hover,
#galleries .bx-wrapper .bx-pager.bx-default-pager a.active,
#galleries .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #FFF;
}

/* gigya */
#microsite #galleries .field-type-gigya-sharebar {
  width: 125px;
  float: right;
  height: 29px;
  margin: 5px 0 0;
}
#galleries #gallery-sharing-container {
  color: #6c6f71;
  width: 100%;
  float: right;
  text-align: right;
}
#microsite #galleries #gallery-sharing-text {
  margin-right: 8px;
  line-height: 24px;
}
#microsite #galleries #gallery-download {
  width: 24px;
  height: 24px;
  margin: 0 3px;
  float: right;
  background-color: transparent;
}
#microsite #galleries #gigya-share {
  width: 196px;
  float: left;
  margin-left: 0;
  clear: none;
}
#microsite div.gig-button-container {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}
#microsite .field-type-gigya-sharebar .gig-button-container td > div {
  background-image: none !important;
  display: block;
  font-family: "ico-font";
  font-size: 24px;
}
#microsite .field-type-gigya-sharebar .gig-button-container td > div,
#microsite .field-type-gigya-sharebar .gig-button-container td > div:hover {
  width: 24px !important;
  height: 24px !important;
  background-image: url("../images/social_chatter_icons.png");
  background-repeat: none;
}

/* right pane content */
#microsite #galleries .galleries-nav {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
}
#microsite #galleries .galleries-nav.narrow {
  width: calc(100% - 340px);
}
#microsite #galleries .galleries-nav .bxslider-container {
  position: relative;
  margin: 0;
}
#microsite #galleries .galleries-nav h3 {
  margin: 0 0 8px;
}
#microsite #galleries .bx-wrapper {
  margin: 0 0 15px;
}
#microsite #galleries .galleries-nav .bx-wrapper {
  background-color: transparent;
  border-color: transparent;
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 216px !important;
}
#microsite #galleries .galleries-nav .bx-wrapper .gallery-nav-img {
  width: 100%;
  height: 140px;
  overflow: hidden;
}
#microsite #galleries .galleries-nav .bx-wrapper img {
  width: 100%;
}
#microsite #galleries .galleries-nav .galleries-page-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
}
#microsite #galleries .galleries-nav .galleries-page-controls > div {
  float: left;
}
#microsite #galleries .galleries-nav .bx-wrapper .bx-controls {
  display: none;
}
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a.active {
  background: #000;
}
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#microsite #galleries .galleries-nav .bx-wrapper .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-wrapper .bx-pager.bx-default-pager a.active,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a:hover,
#microsite #galleries .galleries-nav .bx-pager.bx-default-pager a.active {
  background-color: #FFF;
}
#microsite #galleries .galleries-nav .bx-pager .bx-pager-item,
#microsite #galleries .galleries-nav .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
#microsite #galleries #ep-galleries,
#microsite #galleries #character-galleries {
  opacity: 0;
}
#microsite #galleries .galleries-nav li {
  background-color: #1F1F1F;
  width: 250px;
}
#microsite #galleries .galleries-nav li a {
  width: 100%;
  height: 100%;
  display: block;
}
#microsite #galleries .galleries-nav li a {
  border: 1px solid #000;
}
#microsite #galleries .galleries-nav li.active a {
  border: 1px solid #FFF;
}
#microsite #galleries .galleries-nav li a .gallery-title {
  font-size: 1em;
  line-height: 18px;
  height: 64px;
  letter-spacing: 0.03em;
  padding: 14px 5px;
  color: #FFF;
  background-color: #000;
  text-align: left;
}
/*
#microsite #galleries .galleries-nav .btns {
  display: inline-block; /* Fix for clickability issue in WebKit *//*
  position: absolute;
  top: 40%;
}
*/
#microsite #galleries .galleries-nav .gallery-pagers {
  position: relative;
  margin: 0;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#microsite #galleries .bx-pager.bx-default-pager {
  height: 10px;
  line-height: 10px;
}
#microsite #galleries .galleries-nav .btns.prev,
#microsite #galleries .galleries-nav .btns.next {
  line-height: 18px;
}
#microsite #galleries .galleries-nav .btns.prev {
  margin-right: 4px;
}
#microsite #galleries .galleries-nav .btns.next {
  margin-left: 4px;
}
#microsite #galleries .galleries-nav .btns a {
  color: #FFF;
/*
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
*/
  width: 35px;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  font-family: 'usanetwork';
  speak: none;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  z-index: 96;
}
#microsite #galleries .galleries-nav .btns a:hover {
  color: #FFF;
}
#microsite #galleries .galleries-nav .btns a.disabled {
  cursor: default;
}
#microsite #galleries .galleries-nav .btns .screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#microsite #galleries .right-pane .ad300x250 {
  float: right;
}



/* BEGIN MEDIA QUERIES */
@media (max-width: 1930px) {
  #microsite #galleries-content .microsite-section-container {
    width: calc(90% - 270px);
    margin-left: 270px;
  }
}

@media (max-width: 1268px) {
  #microsite #galleries .galleries-nav.narrow {
    width: 100%;
  }
  #microsite #galleries .bx-wrapper {
    margin-bottom: 15px;
  }
  #microsite #galleries-content .right-pane .ad300x250 {
    float: left;
  }
}

@media (max-width: 1120px) {
  #microsite #galleries-content .microsite-gallery h2 {
    width: 100%;
  }
  #microsite #gigya-share {
    clear: left;
    margin-left: 0;
  }
}

@media (max-width: 920px) {
  #galleries section > h2 {
    height: 76px;
    margin-left: calc(50% - 268px);
    width: 202px;
  }
}
@media (max-width: 874px) {
  #microsite #galleries-content .microsite-section-container {
    width: 90%;
    margin: 0 auto;
  }
  #microsite #galleries .field-type-gigya-sharebar {
    clear: left;
    float: right;
  }
}

@media (max-width: 709px) {
  #microsite #galleries-content .microsite-gallery-meta h2 {
    width: calc(100% - 178px);
  }
  #microsite #gigya-share {
    width: 158px;
    margin-left: 20px;
  }
}

@media (max-width: 640px) {
  #microsite #galleries .galleries-nav {
    float: none;
  }
  #microsite #galleries .galleries-nav .bxslider-container {
    margin: 0 auto;
  }
  #microsite section#galleries-content .flexslider {
    margin: 0;
  }
  #microsite #galleries-content .microsite-gallery-meta {
    white-space: normal;
    position: relative;
    bottom: auto;
    max-height: none;
    width: 100%;
  }
  #microsite #galleries-content .microsite-gallery-meta h1,
  #microsite #galleries-content .microsite-gallery-meta h2 {
    float: left;
    font-size: 1.4em;
    line-height: 1.1em;
    margin: 0 0 0.2em;
    width: 100%;
  }
  #microsite #galleries-content .microsite-gallery-meta h1 {
    font-size: 0.6em;
  }
  #microsite #galleries-content .microsite-gallery-meta h1:nth-last-child(2) {
    font-size: 1.4em;
  }
  #microsite .field-type-gigya-sharebar {
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    right: 0;
  }
  #microsite #gigya-share {
    float: left;
    margin-left: 0;
    clear: left;
  }
  #microsite #galleries .galleries-nav .bx-wrapper {
    height: 144px !important;
  }
  #microsite #galleries .galleries-nav .bx-wrapper .gallery-nav-img {
    height: 78px;
  }
  #microsite #galleries .galleries-nav li a .gallery-title {
    font-size: 0.84em;
    letter-spacing: 0.02em;
    padding: 10px 5px;
    height: 54px;
  }
  #microsite #galleries-content .right-pane .ad300x250 {
    float: none;
    margin: 0 auto 30px;
  }
  #galleries section > h2 {
    height: 45px;
    margin-left: calc(50% - 156px);
    width: 120px;
  }
}


/* BEGIN MOBILE SPECIFIC DEVICES */
/* ========== BEGIN SMARTPHONES =========== */
@media only screen
and (min-device-width: 200px)
and (max-device-width: 568px) {
  #microsite #galleries .galleries-nav.narrow {
    width: 100%;
  }
}
/*_________________*/
