/* GENERAL */
html {
  color: #FFF;
  background-color: #000;
}
body {
  background-color: #000 !important;
}

/* MAIN STRUCTURE */
.page-node-microsite .usa-wrap {
  background-color: #000;
  top: -5px;
}

/* SECTIONS CONTAINERS */
.section {
  background-color: #000;
}
.section:nth-child(odd) {
  background-color: #222;
}
.section:nth-child(even) {
  background-color: #000;
}
#character-info .section {
  background-color: transparent;
  padding: 0;
}
section h2 {
  color: red;
  text-transform: none;
}
.section-description {
  color: #FFF;
}

/* HOME */
#home #home-tunein,
#home #home-description {
  color: #FFF;
}
#home #home-tunein {
  text-transform: none;
}
.circle {
  border: 2px solid red;
}

/* SITE NAV */
#site-nav #site-nav-top {
  width: 55%;
  margin: 0 auto;
  max-width: 209px;
  position: relative;
  top: 8px;
}
#site-nav li {
  padding: 10px 18px 0;
}
#site-nav a,
#site-nav a:link,
#site-nav a:visited {
  color: #FFF;
  text-transform: none;
}
#site-nav a:hover,
#site-nav a:active,
#site-nav li.active a {
  color: #999;
}

/* VIDEOS */
#videos .header {
  background-image: none;
}
#microsite .full-pane #video-container h1,
#microsite .full-pane #video-container h3 {
  color: #FFF;
}
#microsite .full-pane #video-container .video-description {
  color: #FFF;
}
#video-filter li.filter-item {
  background-color: #333;
}
#video-filter li.filter-item:hover,
#video-filter li.filter-item.active {
  background-color: red;
}
#microsite .block-usanetwork-mpx-video li.grid-item {
  background-color: #333;
  text-transform: none;
}
#microsite .block-usanetwork-mpx-video li.grid-item:hover,
#microsite .block-usanetwork-mpx-video li.grid-item.active {
  background-color: red;
}

/* TIMELINE GALLERIES */
.node-timeline-gallery .content {
  background-color: #000;
  color: #FFF;
}
.timelineFlat #timeline-line-left:before,
.timelineFlat #timeline-line-right:before {
  color: #FFF;
}
.timelineFlat #timeline-line-full-left .arrow:before, .timelineFlat #timeline-line-full-right .arrow:before {
  color: limegreen;
}
.timelineFlat .timeline-items {
  background-color: #222;
}
.timelineFlat .timeline-item h2 span {
  color: red;
}
.timelineFlat .timeline-item h2 span.divider.divider-two,
.timelineFlat .timeline-item h2 span.timeline-h2-scene-num {
  display: none;
}
.timelineFlat h4.timeline-month {
  color: #FFF;
}
.timelineFlat #timeline-line-full-left,
.timelineFlat #timeline-line-full-right {
  display: none;
}
.timelineFlat #timeline-line-left:before,
.timelineFlat #timeline-line-right:before {
  color: red;
}
.timelineFlat a.timeline-node:after:hover {
  color: limegreen;
}
.timelineFlat a.timeline-node.active {
  color: red;
}
.timelineFlat a.timeline-node.active:after {
  border: 1px solid transparent;
  background: red;
}
.timelineFlat .timeline-node-desc {
  background-color: red;
}
.timelineFlat .timeline-node-desc:after {
  border-top: 5px solid red;
}
.timelineFlat .timeline-item.active:before {
  background-color: red;
}
.timelineFlat .timeline-item.active:after {
  border-top: 5px solid red;
}

/* CHARACTERS */
#character-infographic {
  width: 98%;
  height: auto;
  text-align: center;
  background-color: #333;
  color: #FFF;
  padding-top: 50%;
  margin: 0 auto 1%;
}
#character-wrapper {
  position: relative;
  top: 0;
  left: 0;
}
#character-info li h1,
#character-info li h3 {
  color: red;
}
#character-info li {
  top: 8px;
}
#character-info li,
#character-info .character-close {
  color: #FFF;
}
#character-info .character-bios-container h1,
#character-info .character-bios-container h3 {
  color: #FFF;
}
