.best-of-section {
  @include clear();
  background: $right-rail-usa-show-back;
  padding: 0 get-vw(16px, 1280);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1601-width) {
    padding: 0 20px;
  }
  @include breakpoint($bp-768-width) {
    padding: get-vw(32px, 640);
  }
  .best-of-content {
    padding: get-vw(12px, 1280) 0;
    position: relative;
    @include breakpoint($bp-min-1601-width) {
      padding: 15px 0;
    }
    @include breakpoint($bp-768-width) {
      padding: 0;
    }
    &.three-items-default {
      ul {
        height: calc(((100vw - 2*#{get-vw(16px, 1280)} - #{get-vw(12px, 1280)})/2)*1.016);
        @include breakpoint($bp-min-1601-width) {
          height: calc(((1600px - 2*20px - 15px)/2)*1.016);
        }
        @include breakpoint($bp-768-width) {
          height: auto;
        }
      }
      li {
        float: left;
        height: 100%;
        margin-right: get-vw(12px, 1280);
        width: calc((((100% - #{get-vw(12px, 1280)})/2) - #{get-vw(12px, 1280)})/2);
        @include breakpoint($bp-min-1601-width) {
          margin-right: 15px;
          width: calc((((100% - 15px)/2) - 15px)/2);
        }
        @include breakpoint($bp-768-width) {
          height: auto;
          margin-bottom: get-vw(55px, 640);
          margin-right: 0;
          width: calc((100% - #{get-vw(18px, 640)})/2);
        }
        &:nth-child(2) {
          @include breakpoint($bp-768-width) {
            float: right;
          }
        }
        &:nth-child(3) {
          margin-right: 0;
          width: calc((100% - #{get-vw(12px, 1280)})/2);
          @include breakpoint($bp-min-1601-width) {
            width: calc((100% - 15px)/2);
          }
          @include breakpoint($bp-768-width) {
            float: none;
            margin-bottom: 0;
            width: 100%;
          }
        }
      }
    }
    ul {
      position: relative;
      width: 100%;
      @include breakpoint($bp-768-width) {
        height: auto;
      }
    }
    li {
      float: left;
      overflow: hidden;
      position: relative;
      @extend %usa-best-of-promo;
    }
  }
}
