.show-new-design {
  #header {
    overflow: visible;
    width: 100%;
    .header-inner {
      background-color: black;
      margin: 0 auto;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        width: 1600px;
      }
    }
    &.usa-sticky-header-initialized {
      left: 0;
      top: 0;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    &.usa-slide-header {
      .header-inner {
        width: 100%;
      }
    }
    &.usa-sticky-header {

    }
  }
  #header-spacer {
    display: none;
    background-color: black;
    margin: 0 auto;
    max-width: 1600px;
  }
}
