.show-new-design {
  &.consumptionator-video-page {
    .video-block {
      @include clear;
      margin: 0;
      overflow: hidden;
      padding: 0 get-vw(16px, 1280);
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-769-width) {
        background: $consum-also-back;
        background: -moz-linear-gradient(top, #000000 0%, #181818 20%, #181818 80%, #111111 100%);
        background: -webkit-linear-gradient(top, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
        background: linear-gradient(to bottom, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=0 );
      }
      @include breakpoint($bp-min-1601-width) {
        padding: 0 20px;
      }
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      .consum-sidebar {
        @include breakpoint($bp-min-769-width) {
          float: none;
          height: 100%!important;
          position: absolute;
          right: get-vw(16px, 1280);
          top: 0;
          width: calc(100% - 62.5vw - 2*#{get-vw(16px, 1280)} - #{get-vw(24px, 1280)});
        }
        @include breakpoint($bp-min-1601-width) {
          width: calc(100% - 1000px - 40px - 30px);
        }
        .items-block {
          @include breakpoint($bp-min-769-width) {
            height: 100%;
          }
        }
        .items-block-title {
          @include breakpoint($bp-min-769-width) {
            border-bottom: 0;
            height: auto;
            line-height: 1;
            padding: get-vw(15px, 1280) get-vw(15px, 1280) 0 get-vw(15px, 1280);
          }
          @include breakpoint($bp-min-1601-width) {
            padding: 18.75px 18.75px 0 18.75px;
          }
          h2 {
            @include breakpoint($bp-min-769-width) {
              font-size: get-vw(15px, 1280);
              line-height: 1;
              width: 100%;
            }
            @include breakpoint($bp-min-1601-width) {
              font-size: 18.75px;
            }
          }
        }
        .more-items {
          @include breakpoint($between-769-1024) {
            background: black!important;
            bottom: 0;
            display: block;
            height: auto;
            right: auto;
            top: auto;
            width: 100%;
          }
          a {
            @include breakpoint($bp-min-769-width) {
              display: block;
              font-size: get-vw(15px, 1280);
              line-height: get-vw(40px, 1280);
              max-width: 100%;
              padding: 0 get-vw(25px, 1280);
              text-align: center;
              text-decoration: none;
            }
            @include breakpoint($bp-min-1601-width) {
              font-size: 18.75px;
              line-height: 50px;
              padding: 0 31.25px;
            }
            &:after {
              @include breakpoint($bp-min-769-width) {
                display: inline-block;
                font-size: get-vw(10px, 1280);
                line-height: 1;
                margin-left: get-vw(8px, 1280);
                margin-top: get-vw(-5px, 1280);
                position: relative;
              }
              @include breakpoint($bp-min-1601-width) {
                font-size: 12.5px;
                margin-left: 10px;
                margin-top: -6.25px;
              }
            }
          }
        }
        .episodes-list-slider {
          &.horizontal {
            @include breakpoint($bp-min-769-width) {
              display: none;
            }
          }
          &.vertical {
            @include breakpoint($bp-min-769-width) {
              display: block;
              height: calc(100% - #{get-vw(87.5px, 1600)} - 2px);
            }
            @include breakpoint($bp-min-1601-width) {
              height: calc(100% - 87.5px - 2px);
            }
            li {
              @include breakpoint($bp-min-769-width) {
                height: get-vw(105px, 1280);
              }
              @include breakpoint($bp-min-1601-width) {
                height: 131.25px;
              }
            }
          }
        }
      }
      .player-wrapper {
        float: left;
        height: auto;
        margin-right: get-vw(24px, 1280);
        position: relative;
        width: 62.5vw;
        @include breakpoint($bp-min-1601-width) {
          margin-right: 30px;
          width: 1000px;
        }
        @include breakpoint($bp-768-width) {
          float: none;
          margin-right: 0;
          //max-height: 56.25vw;
          width: 100%;
        }
        @include breakpoint($bp-480-width) {
          //max-height: 50vw;
        }
        &:hover {
          .player-thumbnail {
            img {
              opacity: .2;
              transition: opacity 0.3s ease-in-out;
            }
          }
        }
        > .node {
          //height: 100%;
          width: 100%;
        }
        /*old css code*/
        .tve-help {
          background-color: $black-dark;
          border: 1px solid $gray-ultra-med;
          display: none;
          height: 100%;
          position: absolute;
          text-align: center;
          width: 100%;
          z-index: 1;
          .tve-download {
            padding-top: 20px;
            position: relative;
            top: 82px;
            @include breakpoint($bp-video-player-section) {
              font-size: 11px;
              line-height: 16px;
              top: -6px
            }
            @include breakpoint($bp-video-very-large-width) {
              font-size: 20px;
              line-height: 30px;
              top: 102px;
            }
          }
          .tve-download-link {
            position: relative;
            top: 100px;
            left: -14px;
            @include breakpoint($bp-video-player-section) {
              left: -4px;
              top: -3px;
            }
            @include breakpoint($bp-video-very-large-width) {
              top: 120px;
            }
            a:after {
              content: "";
            }
            a img {
              height: 35px;
              padding-left: 29px;
              @include breakpoint($bp-video-player-section) {
                padding-left: 9px;
              }
            }
          }
          .arrow {
            position: absolute;
            right: 0;
          }
          .tve-msg {
            position: relative;
            top: 52px;
            @include breakpoint($bp-video-player-section) {
              top: 14px;
              font-size: 11px;
              line-height: 16px;
            }
            @include breakpoint($bp-video-very-large-width) {
              font-size: 20px;
              line-height: 30px;
              top: 82px;
            }
          }

          .tve-close {
            float: right;
            position: relative;
            top: 112px;
            right: 10px;
            text-transform: uppercase;
            color: #0AB6E8;
            @include breakpoint($bp-video-player-section) {
              top: 3px;
            }
            @include breakpoint($bp-video-very-large-width) {
              top: 250px;
            }
            > img {
              padding-right: 5px;
              padding-bottom: 1px;
            }
          }
          &:before {
            position: absolute;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 14px solid transparent;
            border-right: 14px solid #1f1f1f;
            top: 3px;
            right: -2px;
            z-index: 106;
            @include breakpoint($bp-video-player-section) {
              border-bottom: 14px solid #1f1f1f;
              border-right: 14px solid transparent;
              top: 158px;
              left: 50%;
              margin-left: -14px;
            }
            @include breakpoint($bp-video-mid-range4-width) {
              border-bottom: 14px solid #1f1f1f;
              border-right: 14px solid transparent;
              top: 318px;
              left: 16%;
            }
          }
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 14px solid transparent;
            border-right: 14px solid #4b4b4b;
            top: 3px;
            right: 0px;
            z-index: 105;
            @include breakpoint($bp-video-player-section) {
              border-bottom: 14px solid #4b4b4b;
              border-right: 14px solid transparent;
              top: 156px;
              left: 50%;
              margin-left: -14px;
            }
            @include breakpoint($bp-video-mid-range4-width) {
              border-bottom: 14px solid #4b4b4b;
              border-right: 14px solid transparent;
              top: 316px;
              left: 16%;

            }
          }
        }

        /*old css end*/
        .video-player-wrapper {
          line-height: 1;
          //height: 100%;
          height: 0;
          position: relative;
          width: 100%;
          &.section-auth + &.section-player {
            opacity: 0;
          }
          &.section-player {
            padding-bottom: 56.25%;
            opacity: 0;
            &.show-section {
              opacity: 1;
              transition: opacity 0.5s ease-in-out;
            }
            .geo-error {
              background-image: url("../images/geo-error.jpeg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              a {
                display: block;
                font-size: 0;
                line-height: 0;
                height: 100%;
                width: 100%;
              }
            }
            .flash-error {
              background-image: url("../images/flash-error.jpeg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              a {
                display: block;
                font-size: 0;
                line-height: 0;
                height: 100%;
                width: 100%;
              }
            }
            .player-error {
              position: absolute;
              left: 50%;
              top: 50%;
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              color: #ffffff;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              width: 100%;
            }
          }
          &.section-auth {
            left: 0;
            top: 0;
            position: absolute;
            padding-bottom: 56.25%;
            height: 0;
            width: 100%;
            z-index: 1;
            .auth-msg-wrap {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              z-index: 2;
            }
            .player-thumbnail {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              z-index: 1;
              &.hide-section {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
              }
              img {
                opacity: 1;
                height: 100%;
                width: 100%;
              }
              .video-loading {
                margin: -20px 0 0 -20px;
                display: none;
                position: absolute;
                left: 50%;
                top: 50%;
                height: 40px;
                width: 40px;

                -moz-animation: video-spinner 1s infinite linear;
                -webkit-animation: video-spinner 1s infinite linear;
                animation: video-spinner 1s infinite linear;

                &.show-spinner {
                  display: block;
                }

                &:before {
                  color: #ffffff;
                  content: "\e62d";
                  display: block;
                  font-family: $ico-font;
                  font-size: 40px;
                  speak: none;
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  height: 100%;
                  width: 100%;

                  /* Better Font Rendering =========== */
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
              }
            }
          }
          &:hover {
            //cursor: pointer;
            .locked-msg,
            .sign-in-wrapper {
              display: block;
            }
          }
          .pdk-player-wrap {
            position: absolute;
            left: 0;
            top: 0;
          }

          .sign-in-wrapper {
            display: none;
            left: 0;
            padding: 20px 0;
            position: absolute;
            text-align: center;
            top: 55%;
            width: 100%;
            @include breakpoint($bp-1280-width) {
              padding: 15px 0;
              .sign-in-button {
                padding: 15px 50px 15px 15px;
              }
            }
            @include breakpoint($bp-1024-width) {
              padding: 10px 0;
              .sign-in-button {
                font-size: 12px;
                padding: 10px 40px 10px 10px;
                &:after {
                  font-size: 12px;
                  line-height: 12px;
                  margin-right: -6px;
                  margin-top: -6px;
                  right: 20px;
                }
              }
            }
          }
          .sign-in-button {
            background: #ffffff;
            color: #000000;
            padding: 20px 50px 20px 20px;
            position: relative;
            text-transform: uppercase;
            &:after {
              color: #000000;
              content: "\e608";
              display: block;
              font-family: "ico-font";
              font-size: 15px;
              line-height: 15px;
              position: absolute;
              top: 50%;
              margin-right: -7px;
              margin-top: -8px;
              right: 25px;
            }
          }
          //        a:after {
          //          display: none;
          //          position: absolute;
          //          left: 50%;
          //          top: 55%;
          //          width: 296px;
          //          height: 39px;
          //          margin-left: -148px;
          //          content: " ";
          //          background:url('../images/sign_in_key.png') center top no-repeat;
          //        }
          &.inactive {
            .sign-in-button {
              display: none;
            }
            &:hover {
              cursor: default;
              a:after {
                display: none;
              }
              img {
                opacity: 1;
              }
            }
          }
          &.inactive {
            .inner-wrap {
              background: #3D3D3D;
              padding: 20px;
              height: 100%;
              position: absolute;
              width: 100%;
              @include breakpoint($bp-768-width) {
                padding: 0;
              }
            }
            .inner {
              height: 100%;
              width: 100%;
              @include breakpoint($bp-768-width) {
                background: transparent;
                height: auto;
                margin: 0 auto;
                max-width: 660px;
              }
              & > .asset-img {
                float: left;
                margin-bottom: 30px;
                width: 32vw;
                height: 18vw;
                @include breakpoint($bp-1280-width) {
                  margin-bottom: 15px;
                }
                @include breakpoint($bp-1024-width) {
                  margin-bottom: 40px;
                }
                @include breakpoint($bp-768-width) {
                  margin-bottom: 20px;
                  margin-top: 20px;
                }
                @include breakpoint($bp-640-width) {
                  margin-bottom: 10px;
                  width: inherit;
                  height: inherit;
                  display: none !important;
                }
                & > img {
                  height: 100%;
                  width: 100%;
                  @include breakpoint($bp-640-width) {
                    display: none;
                  }
                }
              }
              .expired-text {
                float: left;
                font-size: 24px;
                margin-left: 50px;
                margin-top: 65px;
                @include breakpoint($bp-1280-width) {
                  margin-left: 20px;
                  margin-top: 53px;
                  font-size: 20px;
                }
                @include breakpoint($bp-1024-width) {
                  margin-left: 40px;
                  margin-top: 53px;
                  font-size: 20px;
                }
                @include breakpoint($bp-768-width) {
                  margin-left: 10px;
                  margin-top: 65px;
                  font-size: 14px;
                }
                @include breakpoint($bp-640-width) {
                  color: #9AE0EB;
                  float: none;
                  font-size: 18px;
                  margin: 0;
                  margin-top: 10px;
                  text-align: center;
                }
              }
              .suggest-text {
                clear: both;
                font-size: 20px;
                margin-bottom: 24px;
                @include breakpoint($bp-1280-width) {
                  margin-bottom: 10px;
                }
                @include breakpoint($bp-1024-width) {
                  margin-bottom: 24px;
                }
                @include breakpoint($bp-640-width) {
                  font-size: 16px;
                  margin-bottom: 10px;
                  margin-top: 10px;
                  text-align: center;
                }
              }
              .suggest-videos-block {
                text-align: center;
                width: 100%;

                .file {
                  display: inline-block;
                  height: 16.4vw;
                  margin-right: 20px;
                  overflow: hidden;
                  position: relative;
                  vertical-align: top;
                  width: 30%;
                  @include breakpoint($bp-min-2500-width) {
                    height: 410px;
                  }
                  @include breakpoint($bp-1280-width) {
                    height: 14vw;
                    margin-right: 12px;
                    width: calc(30% - 30px);
                  }
                  @include breakpoint($bp-1024-width) {
                    height: 20vw;
                    width: calc(30% - 40px);
                  }
                  @include breakpoint($bp-768-width) {
                    height: 23vw;
                    width: 30%;
                  }
                  @include breakpoint($bp-640-width) {
                    height: 29.8vw;
                    margin-right: 0;
                    width: 34vw;
                    &:last-child {
                      display: none;
                    }
                    &:first-child {
                      margin-right: 1.5%;
                    }
                  }
                  &:last-child {
                    margin-right: 0;
                  }
                  & > a {
                    display: block;
                    height: 100%;
                    position: relative;
                    width: 100%;
                  }
                }
                .meta {
                  display: table-cell;
                  max-width: 100px;
                  overflow: hidden;
                  padding-left: 4%;
                  position: relative;
                  text-align: left;
                  vertical-align: middle;
                  width: 100%;
                }
                .meta-icon {
                  left: 4%;
                  margin-top: -19px;
                  position: absolute;
                  top: 50%;
                  @include breakpoint($bp-min-1601-width) {
                    height: 47px;
                    margin-top: -24px;
                    width: 47px;
                  }
                  @include breakpoint($between-641-1280) {
                    height: 30px;
                    margin-top: -15px;
                    width: 30px;
                  }
                  @include breakpoint($bp-480-width) {
                    height: 30px;
                    margin-top: -15px;
                    width: 30px;
                  }
                  ~ .meta {
                    padding-left: calc(8% + 37px);
                    @include breakpoint($bp-min-1601-width) {
                      padding-left: calc(8% + 47px);
                    }
                    @include breakpoint($between-641-1280) {
                      padding-left: calc(8% + 30px);
                    }
                    @include breakpoint($bp-480-width) {
                      padding-left: calc(8% + 30px);
                    }
                  }
                }
                @extend %video-promo;
                @extend %meta;
              }
            }
          }
          .locked-msg {
            display: none;
            left: 5%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 90%;
            z-index: 2;
            .first-line {
              display: block;
              font-size: 26px;
              line-height: 45px;
              text-transform: uppercase;
              @include breakpoint($bp-1280-width) {
                font-size: 20px;
                line-height: 36px;
              }
              @include breakpoint($bp-768-width) {
                font-size: 15px;
                line-height: 26px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 10px;
                line-height: 18px;
              }
            }
            .second-line {
              display: block;
              font-size: 16px;
              @include breakpoint($bp-1024-width) {
                font-size: 14px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 12px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 8px;
              }
            }
          }
          .pdk-player-wrap {
            height: 100%;
            width: 100%;
          }
          iframe {
            height: 100% !important;
            width: 100% !important;
          }
        }
      }
      #player-login {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        .borealis {
          height: 100%;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      .video-player-helper {
        box-sizing: border-box;
        color: $usa-video-helper-color;
        padding: get-vw(20px, 1280) get-vw(10px, 1280);
        position: relative;
        @include breakpoint($bp-min-1601-width) {
          padding: 20px 10px;
        }
        @include breakpoint($bp-1024-width) {
          padding: get-vw(15px, 1024) get-vw(10px, 1024);
        }
        @include breakpoint($bp-768-width) {
          padding: get-vw(20px, 768) get-vw(24px, 768) get-vw(40px, 768);
        }
        @include breakpoint($bp-640-width) {
          padding: get-vw(35px, 640) get-vw(48px, 640) get-vw(50px, 640);
        }
        .usa-helper-top {
          @include clear;
          margin-bottom: get-vw(20px, 1280);
          padding-right: get-vw(208px, 1280);
          position: relative;
          @include breakpoint($bp-min-1601-width) {
            margin-bottom: 25px;
            padding-right: 260px;
          }
          @include breakpoint($bp-1024-width) {
            margin-bottom: get-vw(15px, 1024);
            padding-right: 170px;
          }
          @include breakpoint($bp-768-width) {
            margin-bottom: get-vw(20px, 768);
          }
          @include breakpoint($bp-640-width) {
            margin-bottom: get-vw(25px, 640);
            padding-right: 0;
          }
        }
        .usa-helper-bottom {

        }
        .usa-episode-info {
          display: inline-block;
          font-size: get-vw(15px, 1280);
          line-height: 1;
          letter-spacing: 1px;
          margin-right: get-vw(14px, 1280);
          text-transform: uppercase;
          vertical-align: middle;

          @include breakpoint($bp-min-1601-width) {
            font-size: 16.5px;
            margin-right: 17px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(15px, 1024);
            margin-right: get-vw(11px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(15px, 768);
            margin-right: get-vw(13px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(15px, 640);
            margin-right: get-vw(18px, 640);
          }
          span {
            margin-right: get-vw(8px, 1280);
            @include breakpoint($bp-min-1601-width) {
              margin-right: 10px;
            }
            @include breakpoint($bp-1024-width) {
              margin-right: get-vw(6px, 1024);
            }
            @include breakpoint($bp-768-width) {
              margin-right: get-vw(8px, 768);
            }
            @include breakpoint($bp-640-width) {
              margin-right: get-vw(10px, 640);
            }
            &:last-child {
              margin-right: 0;
            }
          }
          .season-number {

          }
          .episode-number {

          }
          .delimiter {
            padding: 0 2px;
            .show-color {
              position: relative;
              &:before {
                background: inherit;
                border-radius: 50%;
                content: '';
                display: block;
                margin-left: -2px;
                margin-top: -2px;
                left: 50%;
                top: 50%;
                position: absolute;
                height: 4px;
                width: 4px;
              }
            }
          }
          .running-time {

          }
        }
        .usa-episode-share {
          display: inline-block;
          vertical-align: middle;
          .field-label {
            display: none;
          }
          .field-name-field-gigya-share-bar {
            margin: 0;
            padding: 0;
            line-height: 1;
          }
          .field-type-gigya-sharebar {
            .gig-button-container {
              padding-right: get-vw(10px, 1280);
              margin: 0;
              @include breakpoint($bp-min-1601-width) {
                padding-right: 12px;
              }
              @include breakpoint($bp-1024-width) {
                padding-right: get-vw(10px, 1024);
              }
              @include breakpoint($bp-768-width) {
                padding-right: get-vw(10px, 768);
              }
              @include breakpoint($bp-640-width) {
                padding-right: get-vw(10px, 640);
              }
              & td > div {
                font-size: 23px;
                line-height: 1!important;
                height: auto !important;
                width: auto !important;
              }

              [id$='reaction0-facebook_img'] {
                &:before {
                  color: $usa-video-helper-facebook;
                }
              }
              [id$='reaction1-twitter_img'] {
                &:before {
                  color: $usa-video-helper-twitter;
                }
              }
              [id$='reaction2-tumblr_img'] {
                &:before {
                  color: $usa-video-helper-tumblr;
                }
              }
              [id$='reaction3-pinterest_img'] {
                &:before {
                  color: $usa-video-helper-pinterest;
                }
              }
              [id$='reaction4-share_img'] {
                &:before {
                  color: $poll-color;
                }
              }

            }
            //[id*='gigya-share-reaction'] {
            //  font-size: 23px;
            //  line-height: 1!important;
            //  height: auto !important;
            //  width: auto !important;
            //}
          }
        }
        .usa-tve-login {
          overflow: hidden;
          right: get-vw(-10px, 1280);
          top: get-vw(-7px, 1280);
          position: absolute;
          height: get-vw(51px, 1280);
          width: get-vw(198px, 1280);
          @include breakpoint($bp-min-1601-width) {
            right: -10px;
            top: -8px;
            height: 64px;
            width: 250px;
          }
          @include breakpoint($bp-1024-width) {
            right: 0;
            top: get-vw(-5px, 1024);
            height: 42px;
            width: 160px;
          }
          @include breakpoint($bp-768-width) {
            top: 0;
          }
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
        .usa-episode-title {
          clear: both;
          font-size: get-vw(15px, 1280);
          line-height: 1.3;
          margin-top: get-vw(12px, 1280);
          width: 100%;
          @include breakpoint($bp-min-1601-width) {
            font-size: 19.5px;
            margin-top: 17px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(15px, 1024);
            margin-top: get-vw(11px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(15px, 768);
            margin-top: get-vw(11px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(21px, 640);
            margin-top: get-vw(17px, 768);
          }
        }
        .usa-episode-description {
          font-size: get-vw(12px, 1280);
          line-height: 1.3;
          @include breakpoint($bp-min-1601-width) {
            font-size: 16.5px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(12px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(12px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(16.5px, 640);
          }
        }
      }
    }
  }
}
