.show-new-design {
  .consumptionator-characters-main-block {
    @include clear();
    overflow: hidden;
    position: relative;
    width: 100%;
    .consum-sidebar {
      .items-block {
        .episodes-list-slider {
          &.horizontal {
            @include breakpoint($bp-640-width) {
              li {
                background: $consum-carousel-even;
                height: 75px;
                position: relative;
                width: 100%!important;
                &:nth-child(odd) {
                  background: $consum-carousel-odd;
                }
                &:nth-child(even) {
                  background: $consum-carousel-even;
                }
                > div {
                  height: 100%;
                  width: 100%;
                }
                a {
                  height: 100%;
                  width: 100%;
                }
                .asset-img {
                  height: 50px;
                  left: 4%;
                  margin-top: -25px;
                  position: absolute;
                  top: 50%;
                  width: 75px;
                  &.active {
                    border-left: 7px solid;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                  }
                  & ~ .meta-wrapper {
                    .meta {
                      padding-left: calc(8% + 75px);
                    }
                  }
                }
                .meta-wrapper {
                  background: none;
                  height: 100%;
                  width: 100%;
                  .meta-wrapper-inner {
                    display: table;
                    height: 100%;
                    width: 100%;
                  }
                  .meta-icon {
                    display: none;
                  }
                  .meta {
                    color: $consum-carousel-text;
                    padding-left: 4%;
                    display: table-cell;
                    max-width: 100px;
                    vertical-align: middle;
                    width: 100%;
                    .caption {
                      font-size: 10px;
                      line-height: 13px;
                    }
                    .title {
                      font-size: 15px;
                      line-height: 18px;
                      margin-bottom: 7px;
                    }
                    .additional {
                      font-family: $tex-gyreschola-italic;
                      font-size: 10px;
                      line-height: 13px;
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .more-items {
        @include breakpoint($bp-640-width) {
          border: 1px solid;
        }
      }
    }
    .character-info-block {
      float: left;
      position: relative;
      width: 75%;
      background: #ffffff;
      color: black;
      padding: 45px 0;
      overflow: hidden;
      @include breakpoint($between-1025-1280) {
        width: calc(100% - 320px);
      }
      @include breakpoint($bp-1024-width) {
        border-bottom: 2px solid;
        padding: 24px 0;
        margin-bottom: 0;
        width: 100%;
      }
      @include breakpoint($bp-768-width) {
        padding: 38px 0 38px 0;
      }
      @include breakpoint ($bp-640-width) {
        padding: 56.25vw 0 0;
        border-bottom: 8px solid;
      }
      &.social-enable {
        .gallery-recap-block {
          border: none;
        }
      }
      &.gallery-enable {
        &:not(.social-enable) {
          border-bottom: none;
          @include breakpoint($bp-1024-width) {
            padding-bottom: 0;
          }
        }
      }
      .block-character-info-header {
        @include clear();
        margin-bottom: 30px;
        padding: 0 38px 0 58px;
        @include breakpoint($bp-1024-width) {
          padding: 0 24px;
        }
        @include breakpoint($bp-640-width) {
          margin-bottom: 0;
          padding: 10px 46px;
        }
        @include breakpoint($bp-480-width) {
          padding: 10px 25px;
        }
        .block-character-info-header-left {
          float: left;
          width: 50%;
          h1 {
            margin: 0;
            padding: 0;
          }
          .full-name {
            display: block;
            font-family: $fira-sans-medium;
            font-size: 38px;
            line-height: 1.3;
            @include breakpoint($bp-min-1601-width) {
              font-size: 54px;
            }
          }
          .description {
            display: block;
            font-family: $tex-gyreschola-italic;
            font-size: 19.5px;
            color: $consum-carousel-odd;
            text-transform: uppercase;
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: 10.4px;
            }
            @include breakpoint($bp-768-width) {
              font-size: 10px;
              line-height: 2;
            }
            @include breakpoint($bp-480-width) {
              font-size: 8px;
              line-height: 14px;
            }
          }
        }
        .block-character-info-header-right {
          float: right;
          width: 45%;
          .share {
            font-family: $fira-sans-regular;
            font-size: 26px;
            color: $consum-carousel-text;
            @include breakpoint($bp-1280-width) {
              font-size: 18px;
            }
            @include breakpoint($bp-768-width) {
              font-size: 15px;
            }
            h3 {
              display: none;
            }
            > div {
              float: right;
            }
            .gig-button-container {
              [id$='reaction0-facebook_img'] {
                &:before {
                  color: $usa-video-helper-facebook;
                }
              }
              [id$='reaction1-twitter_img'] {
                &:before {
                  color: $usa-video-helper-twitter;
                }
              }
              [id$='reaction2-tumblr_img'] {
                &:before {
                  color: $usa-video-helper-tumblr;
                }
              }
              [id$='reaction3-pinterest_img'] {
                &:before {
                  color: $usa-video-helper-pinterest;
                }
              }
              [id$='reaction4-share_img'] {
                &:before {
                  color: $poll-color;
                }
              }
            }
          }
        }
      }
      .block-character-info-content {
        @include clear();
        padding: 0 38px 0 58px;
        @include breakpoint($bp-1280-width) {
          padding: 0 31px 0 36px;
        }
        @include breakpoint($bp-1024-width) {
          padding: 0 24px;
        }
        .asset-img {
          width: 46.8%;
          float: left;
          @include breakpoint($bp-1024-width) {
            width: 42.62%;
          }
          @include breakpoint($bp-768-width) {
            width: 300px;
          }
          @include breakpoint($bp-640-width) {
            height: 56.25vw;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
          }
          img {
            margin-bottom: 30px;
          }
        }
        .advert {
          display: none;
          @include breakpoint($between-641-1024) {
            display: block;
          }
          @include breakpoint($bp-1024-width) {
            float: left;
            clear: left;
            height: 250px;
            margin-top: 45px;
            width: 42.62%;
          }
          @include breakpoint($bp-768-width) {
            width: 300px;
          }
          .advertisement {
            height: 250px;
            margin: 0 auto;
            width: 300px;
          }
        }
        > .description {
          clear: none;
          float: right;
          position: relative;
          width: 48%;
          @include breakpoint($bp-1024-width) {
            width: 56%;
          }
          @include breakpoint($bp-768-width) {
            width: calc(100% - 310px);
          }
          @include breakpoint($bp-640-width) {
            padding: 10px 22px;
            width: 100%
          }
          @include breakpoint($bp-480-width) {
            padding: 10px 1px;
          }
          ul {
            word-spacing: -6px;
            li {
              width: 50%;
              display: inline-block;
              font-family: $fira-sans-medium;
              font-size: 17.5px;
              line-height: 46px;
              text-align: center;
              text-transform: uppercase;
              border: 2px solid;
              word-spacing: normal;
              cursor: pointer;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
              @include breakpoint($bp-1280-width) {
                font-size: 13px;
                line-height: 34px;
              }
              &.active {
                color: #ffffff!important;
              }
              &:not(.active){
                background: none!important;
              }
            }
          }
          .description-items {
            font-family: $open-sans-regular;
            font-size: 26px;
            line-height: 1.6em;
            position: relative;
            @include breakpoint($bp-1280-width) {
              font-size: 17px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: 15px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: 16px;
            }
            @include breakpoint($bp-640-width) {
              width: 100%;
              font-size: 18px;
              color: $poll-color;
            }
            .person-quotation {
              margin: 54px 0 58px;
              @include breakpoint($bp-1280-width) {
                margin: 26px 0 30px;
              }
              @include breakpoint($bp-768-width) {
                padding: 22px 40px;
              }
              @include breakpoint($bp-640-width) {
                margin: 18px 0 25px;
                color: $poll-color;
              }
            }
          }
          .description-item {
            display: block;
            left: 0;
            position: absolute;
            z-index: -1;
            visibility: hidden;
            top: 0;
            width: 100%;
            &.active {
              position: relative;
              visibility: visible;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
