.latest-episodes-block {
  @include clear();
  background: $consum-also-back;
  padding: get-vw(16px, 1280);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1601-width) {
    padding: 20px;
  }
  @include breakpoint($bp-768-width) {
    padding: 0 get-vw(32px, 640);
  }
  .episodes-wrapper {
    @include clear();
    height: calc((((100vw - #{get-vw(16px, 1280)}*2)*2)/3)*0.5625);
    margin-top: get-vw(13px, 1280);
    overflow: hidden;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1601-width) {
      height: calc((((1600px - 20px*2)*2)/3)*0.5625);
      margin-top: 16.25px;
    }
    @include breakpoint($bp-768-width) {
      height: auto;
      margin-top: 0;
      padding: 0 get-vw(8px, 640);
    }
    .view-more {
      display: none;
      background: $consum-also-back;
      @include breakpoint($bp-768-width) {
        display: block;
      }
    }
  }
  .main-episode {
    float: left;
    display: flex;
    height: 100%;
    position: relative;
    width: calc((100%*2)/3);
    @include breakpoint($bp-768-width) {
      height: calc((100vw - #{get-vw(40px, 640)}*2)*0.607);
      float: none;
      width: 100%;
    }
    &.full-episode {
      .image-block {
        position: absolute;
        .meta-icon {
          @extend %usa-promo-video-play-icon;
          height: get-vw(90px, 1280);
          line-height: get-vw(90px, 1280);
          width: get-vw(90px, 1280);
          margin-left: calc(#{get-vw(-90px, 1280)} / 2);
          margin-top: calc(#{get-vw(-90px, 1280)} / 2);
          @include breakpoint($bp-min-1601-width) {
            height: 135px;
            line-height: 135px;
            margin-left: calc(#{-135px} / 2);
            margin-top: calc(#{-135px} / 2);
            width: 135px;
          }
          @include breakpoint($bp-768-width) {
            height: get-vw(66px, 768);
            line-height: get-vw(66px, 768);
            margin-left: calc(#{get-vw(-66px, 768)} / 2);
            margin-top: calc(#{get-vw(-66px, 768)} / 2);
            width: get-vw(66px, 768);
          }
          &:after  {
            font-size: get-vw(55px, 1280);
            @include breakpoint($bp-min-1601-width) {
              font-size: 80px;
            }
            @include breakpoint($bp-768-width) {
              font-size: get-vw(40px, 768);
            }
          }
        }
      }
      .meta-wrapper {
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        position: absolute;
        padding: get-vw(20px, 1280) get-vw(18px, 1280);
        z-index: 2;
        @include breakpoint($bp-min-1601-width) {
          padding: 20px 18px;
        }
        @include breakpoint($bp-768-width) {
          padding: get-vw(20px, 768) get-vw(18px, 768);
        }
        .meta {
          text-align: left;
        }
        .caption {
          font-family: $fira-sans-light;
        }
        .title {
          background: none;
          color: #ffffff;
          font-family: $fira-sans-light;
          text-transform: none;
          -webkit-text-fill-color: initial;
        }
        .additional {
          .additional-link {
            font-family: $fira-sans-light;
            &:last-child {
              margin-left: get-vw(22px, 1280);
              @include breakpoint($bp-min-1601-width) {
                margin-left: 22px;
              }
              @include breakpoint($bp-768-width) {
                margin-left: get-vw(30px, 640);
              }
            }
          }
          br {
            display: none;
            @include breakpoint($bp-768-width) {
              display: none;
            }
          }
        }
      }
    }
    .image-block {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 0;
      .asset-img {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .meta-wrapper {
      box-sizing: border-box;
      margin: auto;
      height: auto;
      width: 100%;
      position: relative;
      z-index: 2;
    }
    .meta {
      text-align: center;
      .caption {
        color: $usa-episodes-text;
        font-family: $fira-sans-regular;
        font-size: get-vw(18px, 1280);
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 22.5px;
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(30px, 640);
        }
      }
      .title {
        color: $usa-episode-title;
        font-family: $fira-sans-medium;
        font-size: get-vw(30px, 1280);
        line-height: 1.1;
        text-transform: uppercase;
        word-break: break-word;
        @include breakpoint($bp-min-1601-width) {
          font-size: 37.5px;
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(48px, 640);
        }
        @supports (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent) {
          background: -webkit-linear-gradient(top, $gray-sky, $gray-light-gamma);
          background: linear-gradient(top, $gray-sky, $gray-light-gamma);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .additional {
        .additional-link {
          background: none;
          font-family: $fira-sans-regular;
          font-size: get-vw(14px, 1280);
          margin-right: get-vw(23px, 1280);
          outline: none;
          text-transform: uppercase;
          @include breakpoint($bp-min-1601-width) {
            font-size: 17.5px;
            margin-right: 28.75px;
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(22px, 640);
            line-height: 1.5;
            margin-right: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        br {
          display: none;
          @include breakpoint($bp-768-width) {
            display: block;
          }
        }
      }
    }
  }
  .episodes-list {
    float: left;
    height: 100%;
    position: relative;
    width: calc(100%/3);
    @include breakpoint($bp-768-width) {
      display: none;
    }
    ul {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    li {
      @extend %usa-episodes-carousel-promo;
      background: $schedule-view-back;
      border-bottom: 1px solid $consum-also-back;
      height: calc(((((100vw - #{get-vw(16px, 1280)}*2)*2)/3)*0.5625)/5);
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        height: calc(((((1600px - 20px*2)*2)/3)*0.5625)/5);
      }
      .usa-episodes-carousel-promo {
        .image-block {
          .meta-icon {
            @extend %usa-promo-video-play-icon;
            height: get-vw(45px, 1280);
            line-height: get-vw(45px, 1280);
            width: get-vw(45px, 1280);
            margin-left: calc(#{get-vw(-45px, 1280)} / 2);
            margin-top: calc(#{get-vw(-45px, 1280)} / 2);
            @include breakpoint($bp-min-1601-width) {
              height: 45px;
              line-height: 45px;
              margin-left: calc(#{-45px} / 2);
              margin-top: calc(#{-45px} / 2);
              width: 45px;
            }
            @include breakpoint($bp-1024-width) {
              height: get-vw(25px, 1024);
              line-height: get-vw(25px, 1024);
              margin-left: calc(#{get-vw(-25px, 1024)} / 2);
              margin-top: calc(#{get-vw(-25px, 1024)} / 2);
              width: get-vw(25px, 1024);
            }
            &:after  {
              font-size: get-vw(30px, 1280);
              @include breakpoint($bp-min-1601-width) {
                font-size: 30px;
              }
              @include breakpoint($bp-1024-width) {
                font-size: get-vw(18px, 1024);
              }
            }
          }
        }
      }
    }
    .mCSB_scrollTools {
      width: 4px;
    }
  }
}
