.show-mrrobot {
  .articles-block {
    .usa-section-title {
      .sponsored {

      }
      .logo-sponsored {
        background-image: url("../images/presentedby_theverge.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        height: 100%;
        width: 95%;
      }
    }
  }
}
.articles-block {
  @include clear();
  padding: 0 get-vw(16px, 1280);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1601-width) {
    padding: 0 20px;
  }
  @include breakpoint($bp-768-width) {
    padding: 0;
  }
  .panel-pane {
    background: $tve-modalFooter;
    position: relative;
    width: 100%;
  }
  .pane-content {
    position: relative;
    width: 100%;
  }
  .articles-wrapper {
    position: relative;
    width: 100%;
    padding: 0 get-vw(26px, 1280);
    @include breakpoint($bp-768-width) {
      padding: 0;
    }
    .usa-section-title {
      border-bottom: 2px solid;
      padding: 0;
      position: relative;
      width: 100%;
      &.sponsored-enable {
        .title {
          padding: get-vw(30px, 1280) 0 get-vw(17px, 1280);
          @include breakpoint($bp-min-1601-width) {
            padding: 37.5px 0 21.25px;
          }
          @include breakpoint($bp-768-width) {
            border: none;
            padding: get-vw(30px, 640) 0 get-vw(20px, 640);
          }
        }
        .sponsored {
          height: 29px;
          margin: 0 auto;
          position: relative;
          text-align: center;
          width: 242px;
          @include breakpoint($bp-768-width) {
            height: get-vw(29px, 768);
            width: get-vw(242px, 768);
          }
          img {
            bottom: 0;
            display: inline;
            height: auto;
            left: 0;
            margin: auto;
            max-height: calc(100% - 8px);
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 2px;
            width: auto;
            @include breakpoint($bp-480-width) {
              max-height: calc(100% - 4px);
              top: 2px;
            }
          }
        }
      }
    }
    .articles-content {
      @include clear();

      padding: get-vw(17px, 1280) 0 get-vw(25px, 1280);
      @include breakpoint($bp-min-1601-width) {
        padding: 21.25px 32.5px 31.25px;
      }
      @include breakpoint($bp-768-width) {
        padding: get-vw(20px, 640) get-vw(40px, 640);
      }
    }
    ul {
      position: relative;
      width: 100%;
    }
    li {
      float: left;
      margin-right: get-vw(40px, 1280);
      width: calc((100% - 3*#{get-vw(40px, 1280)})/4);
      @include breakpoint($bp-min-1601-width) {
        margin-right: 50px;
        width: calc((100% - 3*50px)/4);
      }
      @include breakpoint($bp-768-width) {
        float: none;
        width: 100%;
      }
      &:first-child {
        @include breakpoint($bp-768-width) {
          margin-bottom: get-vw(40px, 640);
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(n+3) {
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      @extend %usa-articles-promo;
    }
  }
  .view-more {
    border-top: 2px solid $consum-also-back;
    @include breakpoint($bp-768-width) {
      border-top: 5px solid $consum-also-back;
    }
  }
}
