.show-new-design {
  #block-usanetwork-consumptionator-post-usa-landing-blog-post-list-block {
    @include clear();
    background-color: #000000;
    color: $poll-color;
    position: relative;
    width: 100%;
    .blog-landing-list-items {
      padding-top: get-vw(90px, 1280);
      @include breakpoint ($bp-min-1601-width) {
        padding-top: 135px;
      }
      @include breakpoint ($bp-1024-width) {
        padding-top: get-vw(90px, 1024);
      }
      @include breakpoint ($bp-768-width) {
        padding-top: get-vw(55px, 768);
      }
      @include breakpoint ($bp-640-width) {
        padding-top: get-vw(55px, 640);
      }
    }
    .landing-list-items-one-item {
      border-top: 2px solid #ffffff; //@todo add show-color border
      overflow: auto;
      &:first-child {
        border-top: 0;
      }
    }
    .list-items {
      border-bottom: 2px solid #ffffff;
    }
    .episode-landing-list-item {
      @include clear();
      box-sizing: border-box;
      padding: get-vw(48px, 1280) get-vw(32px, 1280) get-vw(28px, 1280);
      border-top: 2px solid #ffffff;
      min-height: get-vw(325px, 1280);
      @include breakpoint ($bp-min-1601-width) {
        min-height: 407px;
        padding: 48px 40px;
      }
      @include breakpoint ($bp-1024-width) {
        min-height: get-vw(293px, 1024);
        padding: get-vw(48px, 1024) get-vw(33px, 1024) get-vw(22px, 1024);
      }
      @include breakpoint ($bp-768-width) {
        min-height: get-vw(294px, 768);
        padding: get-vw(48px, 768) get-vw(33px, 768);
      }
      @include breakpoint ($bp-640-width) {
        min-height: get-vw(227px, 640);
        padding: get-vw(54px, 640) get-vw(33px, 640);
      }
      &:not(.active) {
        .episode-landing-info-block {
          .airing-date, .expiration-date, .description, .tags {
            @include breakpoint($bp-640-width) {
              display: none;
            }
          }
          .posted-date {
            @include breakpoint($bp-640-width) {
              margin-bottom: 0;
            }
          }
        }
        .buttons-bar {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
      &.active {

        @include breakpoint ($bp-640-width) {
          min-height: 0;
        }

        .episode-landing-info-block {
          @include breakpoint($bp-640-width) {
            float: none;
            width: 100%;
          }
          .image-block {
            @include breakpoint($bp-640-width) {
              position: relative;
              right: auto;
              top: auto;
              height: get-vw(324px, 640);
              width: 100%;
            }
          }
          .episode-landing-info-block {
            .image-block, .airing-date, .expiration-date, .tags {
              @include breakpoint($bp-640-width) {
                display: block;
              }
            }
          }
          .description {
            @include breakpoint($bp-640-width) {
              display: none;
            }
          }
        }
        .buttons-bar {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
      .episode-landing-list-item-inner {
        @include clear();
      }
      .episode-landing-info-block {
        float: right;
        font-family: $avalon-medium;
        position: relative;
        width: calc(100% - #{get-vw(450px, 1280) + get-vw(15px, 1280)});
        @include breakpoint($bp-min-1601-width) {
          line-height: 1.5em;
          width: calc(100% - (554px + 19px));
        }
        @include breakpoint($bp-1024-width) {
          width: calc(100% - #{get-vw(355px, 1024) + get-vw(12px, 1024)});
        }
        @include breakpoint($bp-768-width) {
          width: calc(100% - #{get-vw(349px, 768) + get-vw(7px, 768)});
        }
        @include breakpoint($bp-640-width) {
          width: calc(100% - #{get-vw(212px, 640) + get-vw(15px, 640)});
        }
        .open-description {
          display: none;
          @include breakpoint($bp-640-width) {
            @include sprite-background(episode-plus-icon);
            cursor: pointer;
            display: none;
            margin-top: -15.5px;
            position: absolute;
            right: 0;
            top: 50%;
          }
        }
        .title {
          font-size: get-vw(24px, 1280);
          line-height: 1.3;
          text-transform: uppercase;
          margin-bottom: get-vw(15px, 1280);
          margin-top: get-vw(7px, 1280);
          @include breakpoint($bp-min-1601-width) {
            font-size: 33px;
            margin-bottom: 16px;
            margin-top: 0;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(21px, 1024);
            margin-bottom: get-vw(14px, 1024);
            margin-top: get-vw(12px, 1280);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(21px, 768);
            margin-bottom: get-vw(15px, 768);
            margin-top: get-vw(6px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(21px, 640);
            margin-top: 0;
            margin-bottom: get-vw(14px, 640);
            width: calc(100% - 40px);
          }
          a {
            color: $usa-blog-item-title;
            outline: none;
            &:hover, &:active {
              color: $usa-blog-item-title;
              opacity: 0.7;
            }
          }
        }
        .image-block {
          position: absolute;
          top: 0;
          right: 102%;
          height: get-vw(253px, 1280);
          width: get-vw(450px, 1280);
          @include breakpoint ($bp-min-1601-width) {
            height: 312px;
            width: 554px;
          }
          @include breakpoint ($bp-1024-width) {
            height: get-vw(200px, 1024);
            width: get-vw(355px, 1024);
          }
          @include breakpoint ($bp-768-width) {
            height: get-vw(169px, 768);
            width: get-vw(349px, 768);
          }
          @include breakpoint($bp-640-width) {
            margin-bottom: 0;
            height: get-vw(119px, 640);
            width: get-vw(212px, 640);
          }
        }
        .airing-date,
        .expiration-date,
        .posted-date {
          color: $usa-blog-item-title;
          font-family: $tex-gyreschola-italic;
          font-size: get-vw(15px, 1280);
          line-height: 1.3;
          margin-bottom: get-vw(15px, 1280);
          @include breakpoint($bp-min-1601-width) {
            font-size: 22.5px;
            margin-bottom: 46px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(15px, 1024);
            margin-bottom: get-vw(25px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(15px, 768);
            margin-bottom: get-vw(24px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(15px, 640);
            margin-bottom: get-vw(26px, 640);
          }
        }
        .description {
          color: $usa-blog-item-desc;
          font-family: $avalon-book;
          font-size: get-vw(15px, 1280);
          line-height: 1.5;
          @include breakpoint($bp-1280-width) {
            font-size: 22.5px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(14px, 1024);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(14px, 640);
            padding-right: 0;
          }
          p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .buttons-bar {
        @include clear;
        float: right;
        padding-top: get-vw(31px, 1280);
        width: calc(100% - #{get-vw(450px, 1280) + get-vw(15px, 1280)});
        @include breakpoint($bp-min-1601-width) {
          padding-top: 34px;
          width: calc(100% - (554px + 19px));
        }
        @include breakpoint($bp-1024-width) {
          padding-top: get-vw(29px, 1024);
          width: calc(100% - #{get-vw(355px, 1024) + get-vw(12px, 1024)});
        }
        @include breakpoint($bp-768-width) {
          clear: both;
          padding-top: get-vw(26px, 1024);
          width: calc(100% - #{get-vw(349px, 768) + get-vw(7px, 768)});
        }
        @include breakpoint($bp-640-width) {
          float: none;
          padding-top: get-vw(29px, 640);
          width: 100%;
        }
        .buttons {
          margin-right: auto;
          .full-episode-button {
            position: relative;
            display: inline-block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: left;
            a {
              color: #ffffff;
              display: inline-block;
              font-family: $avalon-medium;
              font-size: get-vw(15px, 1280);
              line-height: 1;
              padding: get-vw(17px, 1280) get-vw(48px, 1280) get-vw(17px, 1280) get-vw(25px, 1280);
              position: relative;
              text-transform: uppercase;
              width: 100%;
              @include breakpoint($bp-min-1601-width) {
                font-size: 18px;
                padding: 26px 75px 26px 26px;
              }
              @include breakpoint($bp-1024-width) {
                font-size: get-vw(13.5px, 1024);
                padding: get-vw(12px, 1024) get-vw(56px, 1024) get-vw(12px, 1024) get-vw(21px, 1024);
              }
              @include breakpoint($bp-768-width) {
                font-size: get-vw(12px, 768);
                padding: get-vw(13px, 768) get-vw(56px, 768) get-vw(13px, 768) get-vw(23px, 768);
              }
              @include breakpoint($bp-640-width) {
                font-size: get-vw(12px, 640);
                padding: get-vw(13px, 640) get-vw(54px, 640) get-vw(13px, 640) get-vw(20px, 640);
              }
              &:after {
                content: "\e608";
                color: #ffffff;
                font-family: $ico-font;
                font-size: get-vw(18px, 1280);
                display: block;
                position: absolute;
                right: get-vw(19px, 1280);
                top: 50%;
                margin-top: calc(#{get-vw(-18px, 1280)}/2);
                line-height: 1;
                @include breakpoint($bp-min-1601-width) {
                  font-size: 18px;
                  margin-top: calc(#{-18px}/2);
                  right: 24px;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: get-vw(16px, 1024);
                  margin-top: calc(#{get-vw(-16px, 1024)}/2);
                  right: get-vw(19px, 1024);
                }
                @include breakpoint($bp-768-width) {
                  font-size: get-vw(16px, 768);
                  margin-top: calc(#{get-vw(-16px, 768)}/2);
                  right: get-vw(19px, 768);
                }
                @include breakpoint($bp-640-width) {
                  font-size: get-vw(16px, 640);
                  margin-top: calc(#{get-vw(-16px, 640)}/2);
                  right: get-vw(18px, 640);
                }
              }
            }
          }
        }
      }
    }
  }
}
