#usa-to-top {
  height: 40px;
  width: 40px;
  position: relative;
  right: 0;
  bottom: 0;

  &:before {
    content: '\e6xx'; //@todo add correct icon
    color: #ffffff;
    display: block;
    font-family: $ico-font;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    margin: -10px 0 0 -10px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
}

