.show-new-design.node-type-timeline-gallery {
  .node-timeline-gallery {
    > .content {
      background: black;
    }
  }
  #timeline-player-slideshow-area {
    .vert-end-line {
      border-color: #ffffff;
    }
  }
  .timeline-holder {
    background-image: url("../images/line-timeline_white.jpg");
    background-position: 0 48px;
  }
  .timelineFlat {
    .timeline-items {
      background-color: $usa-special-block;
      .timeline-item-image {
        position: relative;
      }
      // player wrapper
      #player-wrapper {
        background-color: #000000;
        visibility: hidden;
        position: absolute;
        iframe {
          height: 100%;
          width: 100%;
        }
      }
      // play button
      .play-button {
        cursor: pointer;
        height: 40px;
        left: 50%;
        line-height: 40px;
        margin: -20px 0 0 -20px;
        position: absolute;
        top: 50%;
        width: 40px;
        z-index: 1;
        &:before {
          border: 2px solid #ffffff;
          border-radius: 50%;
          box-sizing: border-box;
          content: '\e627';
          font-family: $ico-font;
          font-size: 40px;
          text-shadow: 1px 1px 0.5em $aspot-shadow;
          height: 40px;
          width: 40px;
        }
      }
      .video-data {
        display: none;
      }
      .timeline-item-details {
        ::-webkit-scrollbar {
          width: 10px;
        }
        ::-webkit-scrollbar-track {
          background-color: #000;
          border-left: 0 solid transparent;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        ::-webkit-scrollbar-thumb,
        ::-webkit-scrollbar-thumb:hover {
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background-color: #333;
          background: rgba(255,255,255,0.8);
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
          background: rgba(255,255,255,0.8);
        }
        @include breakpoint($bp-480-width) {
          padding: 20px 8px 10px 10px;
        }
        h2 {
          background: none;
          padding: 0 20px;
          span {
            color: inherit;
            font-family: $fira-sans-regular!important;
          }
          .timeline-h2-episode-name {
            max-width: calc(100% - 90px);
            @include breakpoint($between-1025-1280) {
              max-width: calc(100% - 75px);
            }
            @include breakpoint($bp-1024-width) {
              max-width: calc(100% - 65px);
            }
          }
          .divider-two, .timeline-h2-scene-num {
            display: none;
          }
        }
        .timeline-item-text {
          font-family: $fira-sans-regular;
          font-size: 18px;
          line-height: 1.5;
          margin: 30px 0 30px;
          p, span {
            font-family: $fira-sans-regular!important;
          }
          @include breakpoint($bp-min-1025-width) {
            max-height: calc(100% - 70px);
          }
          @include breakpoint($bp-1024-width) {
            font-size: 15px;
            margin-top: 20px;
            max-height: calc(100% - 60px);
          }
          @include breakpoint($bp-640-width) {
            font-size: 13px;
            max-height: calc(100% - 45px);
            margin-top: 6px;
          }
        }
        .timeline-gigya-share-container {
          .timeline-gigya-share-title {
            font-family: $fira-sans-regular;
          }
          .timeline-gigya-share {
            .gig-button-container {
              td {
                > div,
                > div:hover {
                  font-size: 24px;
                  height: 24px !important;
                  width: 24px !important;

                }
              }
              [id$='reaction0-facebook_img'] {
                &:before {
                  color: $usa-video-helper-facebook;
                }
              }
              [id$='reaction1-twitter_img'] {
                &:before {
                  color: $usa-video-helper-twitter;
                }
              }
              [id$='reaction2-tumblr_img'] {
                &:before {
                  color: $usa-video-helper-tumblr;
                }
              }
              [id$='reaction3-pinterest_img'] {
                &:before {
                  color: $usa-video-helper-pinterest;
                }
              }
              [id$='reaction4-share_img'] {
                &:before {
                  color: $poll-color;
                }
              }
            }
          }
        }
      }
    }
    .timeline-line {
      a.timeline-node {
        background: none;
        //&:after {
        //  border-color: #ffffff;
        //}
        &.active {
          &:after {
            background: currentColor;
            color: inherit;
          }
        }
        .timeline-node-desc {
          font-family: $fira-sans-regular!important;
        }
      }

      h4.timeline-month {
        color: white;
      }
      #timeline-line-left, #timeline-line-right {
        &:before {
          color: inherit;
        }
      }
    }
  }
}


