.usa-show-aspot {
  @include clear();
  //background: $consum-also-back;
  height: get-vw(523px, 1280);
  padding: 0 get-vw(16px, 1280);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-769-width) {
    //background: $consum-also-back;
    //background: -moz-linear-gradient(top, #000000 0%, #181818 20%, #181818 80%, #111111 100%);
    //background: -webkit-linear-gradient(top, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
    //background: linear-gradient(to bottom, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=0 );
  }
  @include breakpoint($bp-min-1601-width) {
    height: 653.75px;
    padding: 0 20px;
  }
  @include breakpoint($bp-768-width) {
    height: auto;
    padding: 0;
  }
  .pane-new-design-aspot {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 75.6%;
    @include breakpoint($bp-768-width) {
      float: none;
      height: 56.25vw;
      width: 100%;
    }
    .pane-content, #aspot-usanetwork, .slide {
      height: 100%;
      position: relative;
      width: 100%;
    }
    #aspot-usanetwork {
      @include breakpoint($bp-768-width) {
        border-bottom: 2px solid;
      }
    }
  }
  .usanetwork-aspot {
    .aspot-draggable-element {
      display: none;
    }
    .meta-wrap {
      position: static;
      .aspot-draggable-element {
        box-sizing: border-box;
      }
      .title_prefix, .start {
        color: #ffffff;
        font-family: $tex-gyreschola-italic;
        font-size: get-vw(17.6px, 1600);
        line-height: 1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-shadow: 0.1em 0.06em rgba(0,0,0,0.5);
        @include breakpoint($bp-min-1601-width) {
          font-size: 17.6px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 2.7vw;
        }
        p {
          margin: 0;
          text-shadow: 0.1em 0.06em rgba(0,0,0,0.5);
        }
      }
      .title_prefix {
        @include aspotFonts(1px, 8.08px, 11.28px);
        @include aspotShowFonts(1px, 8.08px, 11.28px, true);
      }
      .title {
        color: #ffffff;
        font-family: $fira-sans-regular;
        font-size: get-vw(96px, 1600);
        letter-spacing: 0.04em;
        line-height: 0.98;
        margin: 0;
        text-shadow: 0.05em 0.03em rgba(0,0,0,0.5);
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 96px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 10.4vw;
        }
        @include aspotFonts(4px, 52.8px, 42.56px);
        @include aspotShowFonts(4px, 52.8px, 42.56px, true);
        p {
          margin: 0;
          text-shadow: 0.05em 0.03em rgba(0,0,0,0.5);
        }
      }
      .aspot-description {
        color: #ffffff;
        font-family: $fira-sans-regular;
        font-size: get-vw(24px, 1280);
        letter-spacing: 0.05em;
        line-height: 1;
        margin: 0;
        text-transform: none;
        text-shadow: 0.1em 0.06em rgba(0,0,0,0.5);
        @include breakpoint($bp-min-1601-width) {
          font-size: 30px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 3.125vw;
        }
        @include aspotFonts(1.5px, 15px, 11px);
        @include aspotShowFonts(1.5px, 15px, 11px, true);
        p {
          margin: 0;
          text-shadow: 0.1em 0.06em rgba(0,0,0,0.5);
        }
      }
      .cta-link {
        position: relative;
        text-shadow: 0.1em 0.06em rgba(0,0,0,0.5);
        &:not(.cta_button_0) {
          @include breakpoint($bp-640-width) {
            display: none!important;
          }
          a {
            background: none !important;
          }
        }
        &.cta_button_0 {
          a {
            font-size: get-vw(23px, 1280);
            padding: 0 get-vw(27px, 1280) 0 0;
            @include breakpoint($bp-min-1601-width) {
              font-size: 28.75px;
              padding: 0 33.75px 0 0;
            }
            @include breakpoint($between-641-768) {
              font-size: get-vw(18.6px, 768);
              padding: 0 get-vw(21.85px, 768) 0 0;
            }
            @include breakpoint($bp-640-width) {
              font-size: get-vw(23px, 640);
              padding: 0 get-vw(27px, 640) 0 0;
            }
            &:before {
              @include breakpoint($bp-min-641-width) {
                border: 1px dotted currentColor;
                bottom: get-vw(-10.6px, 1280);
                color: inherit;
                content: '';
                display: block;
                left: 0;
                position: absolute;
                width: 40%;
              }
              @include breakpoint($between-641-768) {
                bottom: get-vw(-8.56px, 768);
              }
              @include breakpoint($bp-min-1601-width) {
                bottom: -13.25px;
              }
            }
            &:after {
              color: inherit;
              content: "\e608";
              display: block;
              font-family: $ico-font;
              font-size: get-vw(18px, 1280);
              line-height: 1;
              position: absolute;
              margin-top: get-vw(-9px, 1280);
              right: 0;
              top: 50%;
              @include breakpoint($bp-min-1601-width) {
                font-size: 22.5px;
                margin-top: -11.25px;
              }
              @include breakpoint($between-641-768) {
                font-size: get-vw(14.6px, 768);
                margin-top: get-vw(-7.3px, 768);
              }
              @include breakpoint($bp-640-width) {
                font-size: get-vw(18px, 640);
                margin-top: get-vw(-9px, 640);
              }
            }
          }
        }
        a {
          background: none;
          color: $usa-episode-title;
          display: block;
          font-family: $fira-sans-regular;
          font-size: get-vw(16px, 1280);
          letter-spacing: 0.23em;
          line-height: 2.1;
          outline: none;
          padding: 0 get-vw(18px, 1280) 0 0;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          @include breakpoint($bp-min-1601-width) {
            font-size: 20px;
            padding: 0 22.5px 0 0;
          }
          @include breakpoint($between-641-768) {
            font-size: get-vw(13px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(16px, 640);
            padding: 0 get-vw(18px, 640) 0 0;
          }
          span {
            &:after {
              color: inherit;
              content: "\e608";
              display: block;
              font-family: $ico-font;
              font-size: get-vw(12px, 1280);
              line-height: 1;
              position: absolute;
              margin-top: get-vw(-6px, 1280);
              right: 0;
              top: 50%;
              @include breakpoint($bp-min-1601-width) {
                font-size: 15px;
                margin-top: -7.5px;
              }
              @include breakpoint($between-641-768) {
                font-size: get-vw(9.7px, 768);
                margin-top: get-vw(-4.85px, 768);
              }
              @include breakpoint($bp-640-width) {
                font-size: get-vw(12px, 640);
                margin-top: get-vw(-6px, 640);
              }
            }
          }
        }
      }
    }
  }
  .pane-new-design-relevant-content {
    //background: $right-rail-usa-show-back;
    background: none;
    float: right;
    height: 100%;
    overflow: hidden;
    width: 23%;
    @include breakpoint($bp-min-769-width) {
      //background: #000000;
      //background: -moz-linear-gradient(top, #000000 0%, #121212 10%, #121212 90%, #000000 100%);
      //background: -webkit-linear-gradient(top, #000000 0%,#121212 10%,#121212 90%,#000000 100%);
      //background: linear-gradient(to bottom, #000000 0%,#121212 10%,#121212 90%,#000000 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    }
    @include breakpoint($bp-768-width) {
      height: auto;
      padding: 0 0 get-vw(24px, 640);
      width: 100%;
    }
    .pane-content {
      height: 100%;
      position: relative;
      overflow: hidden;
      width: 100%;
      @include breakpoint($bp-768-width) {
        height: auto;
      }
    }
    .carousel-title-block {
      background: none;
      font-family: $fira-sans-regular;
      font-size: get-vw(16px, 1280);
      line-height: get-vw(42px, 1280);
      height: get-vw(42px, 1280);
      padding: 0 get-vw(10px, 1280);
      position: relative;
      text-transform: uppercase;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        font-size: 20px;
        height: 52.5px;
        line-height: 52.5px;
        padding: 0 12.5px;
      }
      @include breakpoint($bp-768-width) {
        font-size: get-vw(30px, 640);
        height: get-vw(90px, 640);
        line-height: get-vw(90px, 640);
        padding: 0 get-vw(24px, 640);
      }
    }
    #relevant-content-carousel {
      height: calc(100% - #{get-vw(42px, 1280)});
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        height: calc(100% - 52.5px);
      }
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      &:after {
        bottom: 0;
        content: '';
        display: block;
        height: 10%;
        position: absolute;
        background: -moz-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(135, 135, 135, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
        background-repeat: no-repeat;
        width: 100%;
        z-index: 1;
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      &.carousel-end {
        &:after {
          display: none;
        }
      }
      .mCSB_scrollTools {
        width: 4px;
      }
    }
    ul {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      &.slick-initialized {
        overflow: visible;
        .slick-list {
          overflow: visible;
        }
      }
    }
    li {
      border-bottom: 1px solid $gray-dark;
      height: calc(#{get-vw(523px, 1280) / 5});
      overflow: hidden;
      position: relative;
      width: 100%;
      @extend %usa-aspot-carousel-promo;
      @include breakpoint($bp-min-1601-width) {
        height: calc(653.75px / 5);
      }
      @include breakpoint($bp-768-width) {
        border: none;
        color: $right-rail-usa-show-color;
        float: left;
        height: auto;
        padding-left: get-vw(24px, 640);
        width: calc(#{get-vw(237px, 640) + get-vw(24px, 640)});
      }
      &:last-child {
        @include breakpoint($bp-768-width) {
          padding-right: get-vw(24px, 640);
          width: calc(#{get-vw(237px, 640) + (get-vw(24px, 640) * 2)});
        }
      }
    }
  }
}
