.show-new-design {
  background: $consum-also-back;
  // #header
  #header {
    background-color: black;
    overflow: visible;
    @include breakpoint($bp-min-1601-width) {
      left: 50%;
      margin-left: -800px;
      width: 1600px;
    }
    &.usa-sticky-header-initialized {
      left: 0;
      top: 0;
      position: fixed;
      z-index: 10;
      @include breakpoint($bp-min-1601-width) {
        left: 50%;
        margin-left: -800px;
        width: 1600px;
      }
    }
  }
  #header-spacer {
    display: none;
  }
  .usa-wrap {
    max-width: 1600px;
  }
  // #header end
  .usa-section-title {
    border-bottom: 2px solid;
    padding: get-vw(15px, 1280) 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1601-width) {
      padding: 18.75px 0;
    }
    @include breakpoint($bp-768-width) {
      border-bottom: none;
      padding: get-vw(48px, 640) 0;
    }
    &.show-border {
      @include breakpoint($bp-768-width) {
        border-top: 2px solid $gray-dark!important;
      }
    }
    .title {
      color: white;
      font-family: $avalon-medium;
      font-size: get-vw(24px, 1280);
      letter-spacing: 1px;
      line-height: 1;
      margin: 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      @include breakpoint($bp-768-width) {
        color: $header-tab-text;
        font-size: get-vw(30px, 640);
      }
    }
    > a {
      bottom: get-vw(15px, 1280);
      color: white;
      display: block;
      font-size: get-vw(16px, 1280);
      letter-spacing: 0.5px;
      line-height: 1;
      padding-right: get-vw(16px, 1280);
      position: absolute;
      right: get-vw(16px, 1280);
      text-transform: uppercase;
      @include breakpoint($bp-min-1601-width) {
        bottom: 18.75px;
        font-size: 20px;
        padding-right: 20px;
        right: 20px;
      }
      @include breakpoint($bp-768-width) {
        display: none;
      }
      &:before {
        display: block;
        content: '\e608';
        font-family: $ico-font;
        font-size: get-vw(12px, 1280);
        line-height: get-vw(16px, 1280);
        position: absolute;
        right: 0;
        top: 0;
        @include breakpoint($bp-min-1601-width) {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
