.show-related-content-block {
  @include clear();
  padding: get-vw(16px, 1280) get-vw(16px, 1280);
  position: relative;
  @include breakpoint($bp-min-1601-width) {
    padding: 20px;
  }
  @include breakpoint($bp-768-width) {
    padding: 0;
  }
  .show-related-content-inner {
    @include clear;
    width: 100%;
  }
  .line-block {
    float: left;
    width: calc((100% - #{get-vw(16px, 1280)}) / 2);
    @include breakpoint($bp-min-1601-width) {
      width: calc((100% - 20px) / 2);
    }
    @include breakpoint($bp-768-width) {
      float: none;
      width: 100%;
    }
    .slider-wrap {
      box-sizing: border-box;
      height: get-vw(380px, 1280);
      overflow: hidden;
      @include breakpoint($bp-min-1601-width) {
        height: 475px;
      }
    }
    .slider-list {
      @include clear;
      width: 100%;
    }
    .line-block-inner {
      //height: 100%;
      width: 100%;
    }
  }
  .line-half-block {
    margin-right: get-vw(16px, 1280);
    width: calc(((100% - #{get-vw(16px, 1280)*2}) - ((100% - #{get-vw(16px, 1280)}) / 2)) / 2);
    @include breakpoint($bp-min-1601-width) {
      margin-right: 20px;
      width: calc(((100% - (20px * 2)) - ((100% - 20px) / 2)) / 2);
    }
    @include breakpoint($bp-768-width) {
      padding-top: get-vw(40px, 640);
      margin-right: 0;
      width: 100%;
    }
  }
  .title-block {
    background-color: $tve-modalFooter;
    border-bottom: 2px solid;
    @include breakpoint($bp-768-width) {
      background-color: $tve-modalBorder;
    }
    h2 {
      color: #ffffff;
      margin: 0;
      padding: 0;
      padding-bottom: get-vw(19px, 1280);
      padding-top: get-vw(22px, 1280);
      font-family: $fira-sans-medium;
      font-size: get-vw(18px, 1280);
      letter-spacing: 1px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      @include breakpoint($bp-min-1601-width) {
        font-size: 22.5px;
        padding: 27.5px 0 23.75px;
      }
      @include breakpoint($bp-768-width) {
        color: $tve-select;
        padding-bottom: get-vw(27px, 640);
        padding-top: get-vw(36px, 640);
        font-size: get-vw(30.72px, 768);
      }
      @include breakpoint($bp-640-width) {
        font-size: get-vw(28px, 640);
      }
    }
  }
  .view-more {
    @include breakpoint($bp-768-width) {
      display: none;
    }
  }
  #top-five-photos {
    .meta-icon.full-video-icon-default {
      display: none !important;
    }
  }

  #top-five-videos,
  #top-five-photos {
    .line-block-inner {
      @include breakpoint($bp-768-width) {
        background-color: $tve-modalBorder;
      }
    }
    .slider-wrap {
      @include breakpoint($bp-768-width) {
        overflow: hidden;
        height: auto;
        padding: get-vw(44px, 640) 0 get-vw(44px, 640) get-vw(14px, 640);
      }
    }
    .slider-list {
      overflow: visible;
    }
    .slick-slider {
      .slick-list {
        overflow: visible;
      }
    }
    .slide {
      background-color: #000000;
      height: get-vw(76px, 1280);

      &:nth-child(2n+1) {
        background-color: $usa-top-five-block;
        @include breakpoint($bp-768-width) {
          background: none;
        }
      }
      @include breakpoint($bp-min-1601-width) {
        height: 95px;
      }
      @include breakpoint($bp-768-width) {
        background: none;
        float: left;
        height: auto;
        padding-left: get-vw(24px, 640);
        width: get-vw(248px, 640);
      }
      @extend %usa-show-related-top-promo;
      .meta-icon {
        @extend %usa-promo-video-play-icon;
        line-height: get-vw(28px, 1280);
        margin-left: calc(#{get-vw(-28px, 1280)} / 2);
        margin-top: calc(#{get-vw(-28px, 1280)} / 2);
        @include breakpoint($bp-min-1601-width) {
          line-height: 28px;
          margin-left: calc(#{-28px} / 2);
          margin-top: calc(#{-28px} / 2);
        }
        @include breakpoint($bp-768-width) {
          line-height: get-vw(66px, 768);
          margin-left: calc(#{get-vw(-66px, 768)} / 2);
          margin-top: calc(#{get-vw(-66px, 768)} / 2);
        }
        &:after {
          font-size: get-vw(28px, 1280);
          @include breakpoint($bp-min-1601-width) {
            font-size: 28px;
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(66px, 768);
          }
        }
      }
    }
  }
  #special-fuatures {
    .title-block {
      @include breakpoint($bp-768-width) {
        display: none;
      }
    }
    .slider-wrap {
      background-color: $usa-special-block;
      border-bottom: 2px solid $consum-also-back;

      @include breakpoint($bp-768-width) {
        background: none;
        border: none;
        height: auto;
        padding: get-vw(56px, 640) get-vw(40px, 640) 0;
      }
    }
    .slider-list {
      height: 100%;
    }
    .slide {
      float: left;
      padding-bottom: get-vw(15px, 1280);
      padding-top: get-vw(15px, 1280);
      padding-left: get-vw(18px, 1280);
      padding-right: get-vw(20px, 1280);
      height: 100%;
      width: 50%;
      &:first-child {
        padding-left: get-vw(20px, 1280);
        padding-right: get-vw(18px, 1280);
        @include breakpoint($bp-min-1601-width) {
          padding-left: 22.5px;
          padding-right: 25px;
        }
        @include breakpoint($bp-768-width) {
          padding: 0;
        }
      }
      @include breakpoint($bp-min-1601-width) {
        padding: 18.75px 22.5px 18.75px 25px;
      }
      @include breakpoint($bp-768-width) {
        float: none;
        padding: 0;
        width: 100%;
      }
      @extend %usa-show-related-special-promo;
    }
  }
}

