.show-new-design {
  .consumptionator-episode-main-block, .consumptionator-post-main-block {
    @include clear();
    overflow: hidden;
    position: relative;
    width: 100%;
    .episode-info-main-block, .post-info-main-block {
      float: left;
      position: relative;
      width: 75%;
      background: #ffffff;
      color: #000000;
      @include breakpoint($between-1025-1280) {
        width: calc(100% - 320px);
      }
      @include breakpoint($bp-1024-width) {
        float: none;
        width: 100%;
      }
      @include breakpoint($bp-640-width) {
        padding: 56.25vw 0 0;
      }
      &.no-cover-image {
        @include breakpoint($bp-640-width) {
          padding: 0;
        }
      }
      .episode-change-link {
        bottom: get-vw(25px, 1280);
        color: $change-episode-color;
        display: block;
        font-family: $avalon-book;
        font-size: 21px;
        outline: none;
        position: absolute;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          bottom: 38px;
        }
        @include breakpoint($bp-1280-width) {
          font-size: 15px;
        }
        @include breakpoint($bp-1024-width) {
          bottom: get-vw(38px, 1024);
        }
        @include breakpoint($bp-768-width) {
          bottom: get-vw(36.5px, 768);
        }
        @include breakpoint($bp-640-width) {
          bottom: get-vw(28px, 640);
        }
        &:after {
          color: $change-episode-color;
          font-family: "ico-font";
          font-size: 14px;
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -8px;
          line-height: 1;
          @include breakpoint($bp-1280-width) {
            font-size: 10px;
            margin-top: -5px;
          }
        }
        &.previous {
          left: get-vw(75px, 1280);
          @include breakpoint($bp-min-1601-width) {
            left: 40px;
          }
          @include breakpoint($bp-1024-width) {
            left: get-vw(30px, 1024);
          }
          @include breakpoint($bp-768-width) {
            left: get-vw(30px, 768);
          }
          @include breakpoint($bp-640-width) {
            left: get-vw(30px, 640);
          }
          &:after {
            content: "\e607";
            left: -15px;
          }
        }
        &.next {
          right: get-vw(75px, 1280);
          @include breakpoint($bp-min-1601-width) {
            right: 40px;
          }
          @include breakpoint($bp-1024-width) {
            right: get-vw(30px, 1024);
          }
          @include breakpoint($bp-768-width) {
            right: get-vw(30px, 768);
          }
          @include breakpoint($bp-640-width) {
            right: get-vw(30px, 640);
          }
          &:after {
            content: "\e608";
            right: -15px;
          }
        }
      }
      .episode-info-block, .post-info-block {
        border-bottom: 2px solid;
        padding: get-vw(37px, 1280) get-vw(46px, 1280) get-vw(74px, 1280) get-vw(32px, 1280);
        @include breakpoint($bp-min-1601-width) {
          padding: 50px 94px 100px 70px;
        }
        @include breakpoint($bp-1024-width) {
          padding: get-vw(60px, 1024) get-vw(120px, 1024) get-vw(100px, 1024) get-vw(120px, 1024);
        }
        @include breakpoint($bp-768-width) {
          padding: get-vw(57px, 768) get-vw(50px, 768) get-vw(97px, 768) get-vw(50px, 768);
        }
        @include breakpoint($bp-640-width) {
          border-bottom: 0;
          padding: get-vw(35px, 640) get-vw(40px, 640) get-vw(80px, 640);
        }
        @include clear();
        .episode-info-header, .post-info-header {
          @include clear();
          position: relative;
          margin-bottom: 26px;
          @include breakpoint($bp-1280-width) {
            margin-bottom: 40px;
          }
          @include breakpoint($bp-1024-width) {
            margin-bottom: 16px;
          }
          .episode-title-block, .post-title-block {
            float: left;
            width: 70%;
            @include breakpoint($bp-1024-width) {
              float: none;
              margin-bottom: 10px;
              width: 100%;
            }
            @include breakpoint($bp-480-width) {
              float: none;
              width: 100%;
            }
            .episode-title, .post-title {
              color: black;
              font-family: $avalon-medium;
              font-size: 38px;
              line-height: 1.3;
              @include breakpoint($bp-min-1601-width) {
                font-size: 54px;
              }
            }
            .additional {
              color: $consum-carousel-odd;
              font-family: $avalon-book;
              font-size: 12px;
              line-height: 1.3;
              @include breakpoint($bp-min-1601-width) {
                font-size: 18px;
              }
              .episode {
                font-family: $tex-gyreschola-italic;
                &:after {
                  content: '';
                }
              }
              .tags-title {
                font-family: $avalon-medium;
                margin-left: 1em;
                position: relative;
                &:after {
                  left: -0.5em;
                  content: '.';
                  line-height: 1;
                  position: absolute;
                  top: -4px;
                  @include breakpoint($bp-1280-width) {
                    top: -2px;
                  }
                }
              }
              .aired {
                text-transform: none;
              }
            }
          }
          .share {
            color: $consum-carousel-text;
            float: right;
            font-family: $avalon-book;
            margin-top: 10px;
            width: 30%;
            @include breakpoint($bp-1024-width) {
              float: none;
              margin: 0;
              width: 100%;
            }
            h3 {
              display: none;
            }
            .field-type-gigya-sharebar {
              margin-bottom: 0;
              float: right;
              @include breakpoint ($bp-1024-width) {
                float: left;
              }
              .gig-button-container {
                @include breakpoint ($bp-1024-width) {
                  height: 32px;
                  margin: 5px 10px 0 0;
                  padding: 0;
                  width: 32px;
                }
                td {
                  > div {
                    font-size: 32px!important;
                  }
                }
              }
            }
            .episode-button {
              width: 230px;
              float: right;
              margin-top: 20px;
              position: relative;
              text-align: left;
              @include breakpoint($bp-1280-width) {
                margin-top: 5px;
                width: 158px;
              }
              &:after {
                content: "\e608";
                color: #ffffff;
                font-family: "ico-font";
                font-size: 11px;
                display: block;
                position: absolute;
                right: 14px;
                top: 50%;
                margin-top: -5px;
                line-height: 1;
                z-index: 3;
                @include breakpoint($bp-1024-width) {
                  right: 8px;
                }
              }
              a {
                color: #ffffff;
                display: block;
                text-transform: uppercase;
                font-size: 15px;
                padding: 15px 0 15px 30px;
                position: relative;
                width: 100%;
                @include breakpoint($bp-min-1901-width) {
                  padding: 15px 0 15px 40px;
                }
                @include breakpoint($bp-1280-width) {
                  font-size: 13px;
                  padding: 10px 9%;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: 12px;
                  padding: 5px 35px 5px 10px;
                }
                @include breakpoint($between-641-768) {
                  font-size: 10px;
                }
                @include breakpoint($bp-640-width) {
                  padding: 8px 35px 8px 10px;
                }
              }
            }
          }
        }
        .episode-info-image, .post-info-image {
          float: right;
          width: 61.1%;
          padding: 0 0 20px 15px;
          background-color: #ffffff;
          margin-left: 30px;
          position: relative;
          z-index: 1;
          @include breakpoint($bp-1024-width) {
            float: none;
            width: 100%;
            margin: 0 0 6vw 0;
            padding: 0;
          }
          @include breakpoint($bp-640-width) {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .episode-info-description, .post-info-description {
          font-family: $avalon-book;
          font-size: 20px;
          line-height: 1.5em;
          position: relative;
          @include breakpoint($bp-min-1601-width) {
            font-size: 30px;
          }
          @include breakpoint($bp-640-width) {
            color: $poll-color;
            width: 100%;
          }
          .file-video-mpx.view-mode-inline_content {
            iframe {
              display: block;
              margin: 0 auto;
              @include breakpoint($bp-1600-width) {
                height: 432px;
                width: 768px;
              }
              @include breakpoint($between-1025-1280) {
                height: 342px;
                width: 608px;
              }
              @include breakpoint($between-769-1024) {
                height: 324px;
                width: 576px;
              }
              @include breakpoint($between-641-768) {
                height: 297px;
                width: 528px;
              }
              @include breakpoint($bp-640-width) {
                height: 225px;
                width: 400px;
              }
              @include breakpoint($bp-480-width) {
                height: 144px;
                width: 256px;
              }
            }
          }
          h2 {
            font-size: 1.5em;
            margin: 0.2em 0
          }
          h3:not(.field-label) {
            font-size: 1.3em;
            margin: 0;
          }
          h4 {
            font-size: 1em;
            margin: 0;
          }
          p {
            &:first-child {
              margin-top: 0;
              .lines-quotation {
                @include breakpoint($bp-min-1281-width) {
                  margin-top: 0;
                }
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          iframe {
            max-width: 100%;
          }
          .lines-quotation {
            @include breakpoint($bp-768-width) {
              padding: 22px 15px;
            }
          }
          .source {
            font-family: $avalon-medium;
            color: $schedule-pm-color;
            letter-spacing: 2px;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 1;
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 12px;
            }
          }
          .source-title {
            font-family: $avalon-book;
            color: $schedule-pm-color;
          }
          a.source-title {
            color: $source-link;
            &:hover,
            &:active {
              color: $source-link;
              text-decoration: underline;
            }
          }
        }
        .node-wrapper {
          &.advert {
            @include breakpoint($between-1025-1280) {
              display: none;
            }
            @include breakpoint($bp-1024-width) {
              display: block;
              width: 39%;
              float: right;
              margin: 0 0 20px 34px;
            }
            @include breakpoint($bp-768-width) {
              width: 46%;
            }
            @include breakpoint($bp-640-width) {
              display: none;
            }
          }
        }
      }
    }
    .gallery-recap-block {
      background: $consup-gallery-bg;
      padding: 40px 35px 104px;
      @include breakpoint($bp-min-1901-width) {
        padding: 40px 55px 104px;
      }
      @include breakpoint($bp-1280-width) {
        border-bottom: 2px solid;
        padding: 30px 25px 90px;
      }
      @include breakpoint($bp-1024-width) {
        padding: 40px 24px 90px;
      }
      @include breakpoint($bp-640-width) {
        border-bottom: 12px solid;
        padding: 40px 0 75px;
      }
      .gallery-wrapper {
        @include breakpoint($between-1025-1280) {
          height: calc((100vw - 370px) * 0.5625);
        }
      }
    }
  }
}
