#block-usanetwork-tv-shows-usanetwork-tv-shows-nd-menu {
  background: black;
  padding: get-vw(16px, 1280) get-vw(16px, 1280) 0 get-vw(16px, 1280);
  position: relative;
  width: 100%;
  z-index: 1;
  @include breakpoint($bp-min-1601-width) {
    padding: 20px 20px 0 20px;
  }
  @include breakpoint($bp-768-width) {
    padding: 0;
  }

  &.active {
    .top-menu-block {
      .logo-block {
        @include breakpoint($bp-768-width) {
          margin-top: calc(#{get-vw(-17.5px, 768) + get-vw(-16px, 768)});
        }
      }
      .title-block {
        .tune-in {
          @include breakpoint($bp-768-width) {
            display: block;
          }
        }
      }
      .menu-open-button.active {
        margin-top: calc(#{get-vw(-17.5px, 768) + get-vw(-16px, 768)});
      }
    }
    .bottom-menu-block {
      .bottom-menu-block-inner {
        @include breakpoint($bp-768-width) {
          display: block;
        }
      }
    }
    .upper-menu {
      @include breakpoint($bp-768-width) {
        display: none;
      }
    }
  }

  .social-block {
    @include clear();
    max-width: 20%;
    width: 100%;
    .hashtag {
      background: none;
      box-sizing: border-box;
      float: right;
      font-family: $fira-sans-regular;
      font-size: get-vw(12.8px, 1280);
      line-height: get-vw(20px, 1280);
      padding-right: get-vw(18px, 1280);
      @include breakpoint($bp-min-1601-width) {
        font-size: 16px;
        line-height: 25px;
        padding-right: 22.5px;
      }
      @include breakpoint($bp-768-width) {
        font-size: get-vw(23px, 768);
        line-height: get-vw(86px, 768);
        padding-right: get-vw(35px, 768);
        text-align: right;
        width: 45%;
      }
      span {
        letter-spacing: 1px;
      }
    }
    .social-icons {
      float: right;
      background: none;
      @include breakpoint($bp-768-width) {
        width: 55%;
      }
      a {
        float: left;
        color: inherit;
        display: block;
        line-height: 1;
        margin-right: get-vw(12px, 1280);
        opacity: 1;
        outline: none;
        position: relative;
        vertical-align: middle;
        @include breakpoint($bp-min-1601-width) {
          margin-right: 15px;
        }
        @include breakpoint($bp-768-width) {
          margin-right: get-vw(25px, 768);
        }
        &:last-child {
          margin-right: 0;
        }
        &:before {
          color: inherit;
          display: block;
          font-family: $ico-font;
          font-weight: normal;
          font-size: get-vw(20px, 1280);
          line-height: 1;
          @include breakpoint($bp-min-1601-width) {
            font-size: 25px;
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(40px, 768);
            line-height: get-vw(86px, 768);
          }
        }
        &:hover {
          opacity: 0.6;
        }
        &.facebook {
          &:before {
            content: '\e618';
          }
        }
        &.twitter {
          &:before {
            content: '\e61a';
          }
        }
        &.tumblr {
          &:before {
            content: '\e619';
          }
        }
        &.pinterest {
          &:before {
            content: '\e617';
          }
        }
        &.youtube {
          &:before {
            content: '\e630';
          }
        }
        &.instagram {
          &:before {
            content: '\e621';
          }
        }
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }

  .top-menu-block {
    .top-menu-block-inner {
      @include clear();
      margin: 0 auto;
      max-width: 1600px;
      position: relative;
      width: 100%;
      @include breakpoint($bp-768-width) {
        padding: get-vw(30px, 768) 0 get-vw(33px, 768);
      }
    }
    .logo-block {
      background: url('../images/usa-logo-big.png') no-repeat;
      background-size: auto 100%;
      height: get-vw(26px, 1280);
      left: 0;
      margin-top: get-vw(-13px, 1280);
      position: absolute;
      top: 50%;
      width: auto;
      @include breakpoint($bp-min-1601-width) {
        height: 32px;
        margin-top: -16px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(21px, 1024);
        margin-top: get-vw(-10.5px, 1024);
      }
      @include breakpoint($bp-768-width) {
        left: get-vw(35px, 768);
        height: get-vw(35px, 768);
        margin-top: get-vw(-17.5px, 768);
      }
      a {
        display: block;
        height: 100%;
        outline: none;
      }
      .logo {
        float: left;
        width: get-vw(56px, 1280);
        @include breakpoint($bp-min-1601-width) {
          width: 71px;
        }
        @include breakpoint($bp-1024-width) {
          width: get-vw(46px, 1024);
        }
        @include breakpoint($bp-768-width) {
          width: get-vw(85px, 768);
        }
      }
    }
    .title-block {
      margin: 0 auto;
      position: relative;
      .title {
        margin: 0 auto;
        position: relative;
        width: 100%;
      }
      a {
        background-size: 100% 100%;
        display: block;
        height: 100%;
        outline: none;
        text-indent: -9999px;
        width: 100%;
      }
      .tune-in {
        font-family: $fira-sans-regular;
        font-size: get-vw(10px, 1024);
        letter-spacing: 0.5px;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          font-size: 15.625px;
        }
        @include breakpoint($between-769-1024) {
          font-size: 10px;
        }
        @include breakpoint($bp-768-width) {
          display: none;
          margin-top: get-vw(10px, 768);
          font-size: get-vw(16px, 768);
          line-height: 1;
        }
      }
      &.show-mrrobot {
        width: get-vw(348px, 1280);
        @include breakpoint($bp-min-1601-width) {
          width: 435px;
        }
        @include breakpoint($bp-768-width) {
          width: get-vw(372px, 768);
        }
        .title {
          height: get-vw(54.52px, 1280);
          @include breakpoint($bp-min-1601-width) {
            height: 68.15px;
          }
          @include breakpoint($bp-768-width) {
            height: get-vw(57px, 768);
          }
        }
        a {
          background-image: url('../images/mr-robot-logo.png');
        }
      }
    }
    .menu-open-button {
      background: none;
      cursor: pointer;
      display: none;
      position: absolute;
      top: 50%;
      @include breakpoint($bp-768-width) {
        display: block;
        height: get-vw(35.2px, 768);
        margin-top: get-vw(-17.6px, 768);
        right: get-vw(35px, 768);
        width: get-vw(50px, 768);
      }
      &.active {
        @include breakpoint($bp-768-width) {
          height: get-vw(35.2px, 768);
          margin-top: get-vw(-17.6px, 768);
          right: get-vw(26px, 768);
          width: get-vw(50px, 768);
        }
        &:before {
          @include breakpoint($bp-768-width) {
            content: '\e62e';
            font-size: get-vw(50px, 768);
            line-height: get-vw(35.2px, 768);
          }
        }
      }
      &:before {
        color: inherit;
        content: '\e62f';
        display: block;
        font-family: $ico-font;
        @include breakpoint($bp-768-width) {
          font-size: get-vw(50px, 768);
          line-height: get-vw(35.2px, 768);
        }
      }
    }
  }
  .bottom-menu-block {
    border-bottom: 2px solid;
    border-top: 2px solid;
    height: get-vw(60px, 1280);
    width: 100%;
    @include breakpoint($bp-min-1601-width) {
      height: 75px;
    }
    @include breakpoint($bp-768-width) {
      border-bottom: 2px solid;
      border-top: none;
      height: auto;
      position: absolute;
    }
    .bottom-menu-block-inner {
      @include clear();
      background: #000000;
      margin: 0 auto;
      max-width: 1600px;
      width: 100%;
      @include breakpoint($bp-768-width) {
        display: none;
      }
    }
    .show-menu-tab {
      float: left;
      max-width: 100% !important;
      @include breakpoint($bp-768-width) {
        display: block;
        float: none;
        max-width: none !important;
        height: 100%;
      }
      //&:not(.show-menu-scroll-end) {
      //  &:after {
      //    content: '';
      //    display: block;
      //    width: 100%;
      //    height: 9.1vw;
      //    position: absolute;
      //    bottom: 0;
      //    background: -moz-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
      //    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(135, 135, 135, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
      //    background: -webkit-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
      //    background: -o-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
      //    background: -ms-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
      //    background: linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
      //    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
      //    background-repeat: no-repeat;
      //    z-index: 1;
      //  }
      //}
      .show-menu {
        height: 100%;
        .show-menu-item {
          height: 100%;
          @include breakpoint($bp-768-width) {
            background: $header-full-episodes-back;
            border-bottom: 1px solid $header-new-menu-item-border;
            float: none;
            height: get-vw(70px, 768);
            width: 100%;
          }
          &.active-link {
            @include breakpoint($bp-768-width) {
              height: auto;
            }
          }
          &:last-child {
            @include breakpoint($bp-768-width) {
              border-bottom: none;
            }
          }
          a {
            background: none;
            color: white;
            display: block;
            font-family: $fira-sans-regular;
            font-size: get-vw(10px, 1024);
            height: 100%;
            letter-spacing: 1.5px;
            line-height: calc(#{get-vw(60px, 1280)} - 4px);
            outline: none;
            padding: 0 get-vw(29px, 1280);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            @include transition(all 0.2s linear 0);
            @include breakpoint($bp-min-1601-width) {
              font-size: 15.625px;
              line-height: 71px;
              padding: 0 36.25px;
            }
            @include breakpoint($bp-768-width) {
              color: $header-new-menu-item-color;
              font-size: get-vw(26px, 768);
              line-height: calc(#{get-vw(70px, 768)} - 4px);
              padding: get-vw(4px, 768) get-vw(40px, 768) 0;
              text-align: left;
              width: 100%;
            }
            &:not(:hover):not(.active) {
              color: white !important;
            }
          }
        }
      }
    }
    .social-block {
      @include breakpoint($bp-min-1601-width) {
        right: 20px;
        top: calc((100% - 75px) / 2);
      }
      @include breakpoint($bp-min-769-width) {
        right: get-vw(16px, 1280);
        top: calc((100% - #{get-vw(60px, 1280)}) / 2);
        position: absolute;
      }
      @include breakpoint($bp-768-width) {
        background: black;
        display: block;
        float: none;
        height: get-vw(86px, 768);
        max-width: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  // header
  //header:not(.usa-sticky-header) &:not(.active) {
  //
  //}
  //header.usa-sticky-header &:not(.active) {
  //
  //}
}

// animate header
// default transition duration 200ms
.show-new-design {
  #header-spacer {
    @include transition(all 0.1s linear 0);
    &.slide-spacer {
      @include transition(all 0.2s linear 0);
    }
  }
  #header {
    &.usa-sticky-header-initialized {

      // header added transition for elements
      &.usa-slide-header {
        @include transition(all 0.2s linear 0);
        //.header-inner,
        #head-leaderboard,
        #block-usanetwork-tv-shows-usanetwork-tv-shows-nd-menu,
        .top-menu-block-inner,
        //.top-menu-block-inner .title-block,
        .top-menu-block-inner .title-block .title,
        //.top-menu-block-inner .title-block .title a,
        .bottom-menu-block,
        .bottom-menu-block-inner,
        .bottom-menu-block .show-menu-tab .show-menu > li a {
          @include transition(all 0.2s linear 0);
        }
      }

      // header slide up -100%
      &.usa-slide-up-header {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
      }

      // header decrease show logo
      &.usa-decrease-header {
        .top-menu-block-inner .title-block .title {
          @include transition(all 0.1s linear 0);
        }
      }

      // header sticky style
      &.usa-sticky-header {
        #head-leaderboard {
          height: 0;
          margin: 0;
          padding: 0;
          visibility: hidden;
        }
        #block-usanetwork-tv-shows-usanetwork-tv-shows-nd-menu {
          @include breakpoint($bp-min-1601-width) {
            padding-left: 0;
            padding-right: 0;
          }
          .top-menu-block-inner {
            @include breakpoint($bp-768-width) {
              padding: calc(#{get-vw(30px, 768)} * 0.7) 0;
            }
          }
          .bottom-menu-block {
            @include breakpoint($bp-min-769-width) {
              border-bottom: 1px solid;
              border-top: 1px solid;
              height: calc(#{get-vw(60px, 1280)} * 0.7);
            }
            @include breakpoint($bp-min-1601-width) {
              height: calc(75px * 0.7);
            }
            @include breakpoint($bp-768-width) {
              border-bottom: 1px solid;
              border-top: 0;
            }
            .show-menu-tab .show-menu > li a {
              line-height: calc(#{get-vw(60px, 1280)} * 0.7);
              @include breakpoint($bp-min-1601-width) {
                line-height: calc(75px * 0.7);
              }
              @include breakpoint($bp-768-width) {
                line-height: calc(#{get-vw(70px, 768)} * 0.7);
              }
            }
          }
          .social-block {
            right: get-vw(16px, 1280);
            @include breakpoint($bp-min-1601-width) {
              right: calc(50% - ((1600px / 2) - 20px)); // width 1600px / 2
            }
          }
        }
      }
    }
  }
}


