.show-new-design {
  #block-usanetwork-episodes-usa-landing-tvep-list-block,
  #block-usanetwork-consumptionator-post-usa-landing-blog-post-list-block {
    @include clear();
    background-color: #000000;
    color: $poll-color;
    position: relative;
    width: 100%;
    .blog-landing-list-items {
      margin-bottom: 100px;
      position: relative;
    }
    .landing-list-items-one-item {
      overflow: auto;
    }
    .list-items {
      border-bottom: 2px solid #ffffff;
    }
    .episode-landing-list-item {
      @include clear();
      box-sizing: border-box;
      padding: get-vw(48px, 1280) get-vw(32px, 1280) get-vw(28px, 1280);
      border-top: 2px solid #ffffff;
      min-height: get-vw(325px, 1280);
      @include breakpoint ($bp-min-1601-width) {
        min-height: 407px;
        padding: 48px 40px;
      }
      @include breakpoint ($bp-1024-width) {
        min-height: get-vw(293px, 1024);
        padding: get-vw(48px, 1024) get-vw(33px, 1024);
      }
      @include breakpoint ($bp-768-width) {
        min-height: get-vw(294px, 768);
        padding: get-vw(48px, 768) get-vw(33px, 768);
      }
      @include breakpoint ($bp-640-width) {
        min-height: get-vw(227px, 640);
        padding: get-vw(54px, 640) get-vw(33px, 640);
      }
      &:not(.active) {
        .episode-landing-info-block {
          .airing-date, .expiration-date, .description, .tags {
            @include breakpoint($bp-640-width) {
              display: none;
            }
          }
          .posted-date {
            @include breakpoint($bp-640-width) {
              margin-bottom: 0;
            }
          }
        }
        .buttons-bar {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
      &.active {

        @include breakpoint ($bp-640-width) {
          min-height: 0;
        }

        .episode-landing-info-block {
          @include breakpoint($bp-640-width) {
            float: none;
            width: 100%;
          }
          .image-block {
            @include breakpoint($bp-640-width) {
              position: relative;
              right: auto;
              top: auto;
              height: get-vw(324px, 640);
              width: 100%;
            }
          }
          .series {
            line-height: 1.5;
            @include breakpoint($bp-640-width) {
              font-size: get-vw(22px, 640);
            }
          }
          .title {
            line-height: 1.5;
            @include breakpoint($bp-640-width) {
              font-size: get-vw(40px, 640);
            }
          }
          .airing-date,
          .expiration-date,
          .posted-date {
            @include breakpoint($bp-640-width) {
              display: block;
              @include breakpoint($bp-640-width) {
                font-size: get-vw(22px, 640);
              }
            }
          }
          .description {
            @include breakpoint($bp-640-width) {
              display: none;
              font-size: get-vw(22px, 640);
            }
          }
        }
        .buttons-bar {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
      .episode-landing-list-item-inner {
        @include clear();
      }
      .episode-landing-info-block {
        float: right;
        font-family: $avalon-medium;
        position: relative;
        width: calc(100% - #{get-vw(450px, 1280) + get-vw(15px, 1280)});
        @include breakpoint($bp-min-1601-width) {
          line-height: 1.5em;
          width: calc(100% - (554px + 19px));
        }
        @include breakpoint($bp-1024-width) {
          width: calc(100% - #{get-vw(355px, 1024) + get-vw(12px, 1024)});
        }
        @include breakpoint($bp-768-width) {
          width: calc(100% - #{get-vw(349px, 768) + get-vw(15px, 768)});
        }
        @include breakpoint($bp-640-width) {
          width: calc(100% - #{get-vw(212px, 640) + get-vw(15px, 640)});
        }
        .open-description {
          display: none;
          @include breakpoint($bp-640-width) {
            @include sprite-background(episode-plus-icon);
            cursor: pointer;
            display: none;
            margin-top: -15.5px;
            position: absolute;
            right: 0;
            top: 50%;
          }
        }
        .series {
          color: $usa-episode-item-text;
          font-family: $fira-sans-medium;
          font-size: get-vw(20px, 1280);
          line-height: 1.3;
          @include breakpoint($bp-min-1601-width) {
            font-size: 20px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(20px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(15px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(18px, 640);
          }
        }
        .title {
          color: $gray-sky;
          font-family: $fira-sans-medium;
          font-size: get-vw(24px, 1280);
          line-height: 1.3;
          margin-top: get-vw(7px, 1280);
          @include breakpoint($bp-min-1601-width) {
            font-size: 33px;
            margin-top: 0;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(21px, 1024);
            margin-top: get-vw(12px, 1280);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(21px, 768);
            margin-top: get-vw(6px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(26px, 640);
            margin-top: 0;
            width: calc(100% - 40px);
          }
          a {
            color: $usa-blog-item-title;
            outline: none;
            &:hover, &:active {
              color: $usa-blog-item-title;
              opacity: 0.7;
            }
          }
        }
        .image-block {
          overflow: hidden;
          top: 0;
          right: calc(100% + #{get-vw(15px, 1280)});
          position: absolute;
          height: get-vw(253px, 1280);
          width: get-vw(450px, 1280);
          @include breakpoint ($bp-min-1601-width) {
            right: calc(100% + 19px);
            height: 312px;
            width: 554px;
          }
          @include breakpoint ($bp-1024-width) {
            right: calc(100% + #{get-vw(12px, 1024)});
            height: get-vw(200px, 1024);
            width: get-vw(355px, 1024);
          }
          @include breakpoint ($bp-768-width) {
            right: calc(100% + #{get-vw(15px, 768)});
            height: get-vw(169px, 768);
            width: get-vw(349px, 768);
          }
          @include breakpoint($bp-640-width) {
            right: calc(100% + #{get-vw(15px, 640)});
            margin-bottom: 0;
            height: get-vw(119px, 640);
            width: get-vw(212px, 640);
          }
          .caption {
            bottom: 0px;
            color: white;
            display: inline-block;
            font-family: $fira-sans-medium;
            padding: 2px 8px 0;
            position: absolute;
            left: 0;
            line-height: normal;
            max-width: 100%;
            text-transform: uppercase;
            @extend %usa-violator-icon;
            @include breakpoint($bp-768-width) {
              font-size: 10px;
              padding: 1px 4px 0;
            }
            @include breakpoint($bp-480-width) {
              font-size: 7px;
            }
            b {
              font-family: $fira-sans-bold;
            }
          }
        }
        .airing-date,
        .expiration-date,
        .posted-date {
          color: $usa-blog-item-title;
          font-family: $tex-gyreschola-italic;
          font-size: get-vw(15px, 1280);
          line-height: 1.4;
          @include breakpoint($bp-min-1601-width) {
            font-size: 22.5px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(15px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(15px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(15px, 640);
          }
        }
        .description {
          color: $usa-blog-item-desc;
          font-family: $open-sans-regular;
          font-size: get-vw(15px, 1280);
          line-height: 1.5;
          margin-top: get-vw(15px, 1280);
          @include breakpoint($bp-min-1601-width) {
            font-size: 22.5px;
            margin-top: 30px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(14px, 1024);
            margin-top: get-vw(25px, 1024);
          }
          @include breakpoint($bp-768-width) {
            margin-top: get-vw(24px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(14px, 640);
            margin-top: get-vw(26px, 640);
            padding-right: 0;
          }
          p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .buttons-bar {
        @include clear;
        float: right;
        padding-top: get-vw(31px, 1280);
        width: calc(100% - #{get-vw(450px, 1280) + get-vw(15px, 1280)});
        @include breakpoint($bp-min-1601-width) {
          padding-top: 34px;
          width: calc(100% - (554px + 19px));
        }
        @include breakpoint($bp-1024-width) {
          padding-top: get-vw(29px, 1024);
          width: calc(100% - #{get-vw(355px, 1024) + get-vw(12px, 1024)});
        }
        @include breakpoint($bp-768-width) {
          clear: both;
          padding-top: get-vw(26px, 1024);
          width: calc(100% - #{get-vw(349px, 768) + get-vw(15px, 768)});
        }
        @include breakpoint($bp-640-width) {
          float: none;
          padding-top: get-vw(29px, 640);
          width: 100%;
        }
        .buttons {
          width: 100%;
          .video-font-icon {
            display: none;
          }
          .full-episode-button {
             margin-bottom: get-vw(22px, 1280);
              @include breakpoint($bp-min-1601-width) {
                margin-bottom: 22px;
              }
              @include breakpoint ($bp-768-width) {
                margin-bottom: get-vw(22px, 768);
              }
          }
          > div {
            border: 1px solid;
            box-sizing: border-box;
            display: inline-block;
            position: relative;
            text-align: left;
            a {
              color: #ffffff;
              display: inline-block;
              font-family: $fira-sans-regular;
              font-size: get-vw(18px, 1280);
              line-height: 1;
              padding: get-vw(20px, 1280) get-vw(30px, 1280);
              position: relative;
              text-transform: uppercase;
              width: 100%;
              @include breakpoint($bp-min-1601-width) {
                font-size: 20px;
                padding: 20px 30px;
              }
              @include breakpoint($bp-1024-width) {
                font-size: get-vw(18px, 1024);
                padding: get-vw(20px, 1024) get-vw(30px, 1024);
              }
              @include breakpoint($bp-768-width) {
                font-size: get-vw(20px, 768);
                padding: get-vw(20px, 768) get-vw(30px, 768);
              }
              @include breakpoint($bp-640-width) {
                font-size: get-vw(30px, 640);
                padding: get-vw(20px, 640) get-vw(30px, 640);
              }
              span {
                display: inline-block;
                background: transparent;
                vertical-align: middle;
                margin-left: get-vw(16px, 1280);
                @include breakpoint($bp-min-1601-width) {
                  margin-left: 16px;
                }
                @include breakpoint($bp-1024-width) {
                  margin-left: get-vw(16px, 1024);
                }
                @include breakpoint($bp-768-width) {
                  margin-left: get-vw(16px, 768);
                }
                @include breakpoint($bp-640-width) {
                  margin-left: get-vw(16px, 640);
                }
                &:after {
                  content: "\e608";
                  color: inherit !important;
                  font-family: $ico-font;
                  font-size: get-vw(16px, 1280);
                  line-height: 1;
                  @include breakpoint($bp-min-1601-width) {
                    font-size: 18px;
                  }
                  @include breakpoint($bp-1024-width) {
                    font-size: get-vw(14px, 1024);
                  }
                  @include breakpoint($bp-768-width) {
                    font-size: get-vw(14px, 768);
                  }
                  @include breakpoint($bp-640-width) {
                    font-size: get-vw(14px, 640);
                  }
                }
              }
            }
          }
        }
        .links {
          @include clear;
          width: 100%;
          > a {
            display: block;
            color: $usa-episodes-link;
            font-family: $fira-sans-regular;
            font-size: get-vw(18px, 1280);
            position: relative;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: uppercase;
            text-align: right;
            @include breakpoint($bp-min-1601-width) {
              font-size: 18px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(18px, 1024);
            }
            @include breakpoint($bp-768-width) {
              font-size: get-vw(18px, 768);
              text-align: left;
            }
            @include breakpoint($bp-640-width) {
              font-size: get-vw(18px, 640);
            }
            &:first-child {
              margin-bottom: get-vw(30px, 1280);
              @include breakpoint($bp-min-1601-width) {
                margin-bottom: 30px;
              }
              @include breakpoint($bp-1024-width) {
                margin-bottom: get-vw(30px, 1024);
              }
              @include breakpoint($bp-768-width) {
                margin-bottom: get-vw(24px, 768);
              }
              @include breakpoint($bp-640-width) {
                margin-bottom: 0;
                float: left;
              }
            }
            &:last-child {
              @include breakpoint($bp-640-width) {
                float: right;
              }
            }
            span {
              background: transparent;
              display: inline-block;
              vertical-align: middle;
              margin-left: get-vw(13px, 1280);
              @include breakpoint($bp-min-1601-width) {
                margin-left: 13px;
              }
              @include breakpoint($bp-1024-width) {
                margin-left: get-vw(13px, 1024);
              }
              @include breakpoint($bp-768-width) {
                margin-left: get-vw(13px, 768);
              }
              @include breakpoint($bp-640-width) {
                margin-left: get-vw(13px, 640);
              }
              &:after {
                content: "\e608";
                color: inherit;
                display: block;
                font-family: $ico-font;
                font-size: get-vw(16px, 1280);
                line-height: 18px;
                @include breakpoint($bp-min-1601-width) {
                  font-size: 18px;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: get-vw(14px, 1024);
                }
                @include breakpoint($bp-768-width) {
                  font-size: get-vw(14px, 768);
                }
                @include breakpoint($bp-640-width) {
                  font-size: get-vw(14px, 640);
                }
              }
            }
          }
        }
      }
    }
  }
  #block-usanetwork-episodes-usa-landing-tvep-list-block {
    .landing-list-items-all {
      padding-top: 0;
    }
    .list-items {
      border-bottom: 1px solid;
    }
    .episode-landing-list-item {
      border-top: 1px solid;
      //min-height: get-vw(325px, 1280);
      //@include breakpoint ($bp-min-1601-width) {
      //  min-height: 407px;
      //}
      //@include breakpoint ($bp-1024-width) {
      //  min-height: get-vw(293px, 1024);
      //}
      @include breakpoint ($bp-768-width) {
        min-height: get-vw(294px, 768);
      }
      @include breakpoint ($bp-640-width) {
        min-height: get-vw(172px, 640);
        padding: get-vw(26px, 640) get-vw(10px, 640);
      }

      &.active {
        .episode-landing-info-block {
          .open-description {
            @include breakpoint($bp-640-width) {
              @include sprite-background(episode-minus-icon);
              margin-top: 0;
              top: calc((#{(get-vw(22px, 640) + get-vw(32px, 640))*1.5} - 31px)/2);
            }
          }
          .image-block {
            @include breakpoint($bp-640-width) {
              margin-bottom: get-vw(27px, 640);
            }
          }
          .airing-date,
          .expiration-date,
          .posted-date,
          .description {
            @include breakpoint($bp-640-width) {
              display: block;
              padding-left: get-vw(10px, 640);
              padding-right: get-vw(10px, 640);
            }
          }
          .airing-date, .expiration-date {
            @include breakpoint($bp-640-width) {
              margin-bottom: get-vw(10px, 640);
              text-transform: uppercase;
            }
          }
          .series {
            @include breakpoint($bp-640-width) {
              position: static;
              width: calc(100% - 40px);
            }
          }
          .title {
            @include breakpoint($bp-640-width) {
              margin-bottom: get-vw(20px, 640);
              position: static;
              width: calc(100% - 40px);
            }
          }
          .description{
            @include breakpoint($bp-640-width) {
              margin-top: 0;
            }
          }

        }
        .buttons-bar {
          @include breakpoint($bp-640-width) {
            display: block;
          }
        }
      }

      .episode-landing-info-block {
        width: calc(100% - #{get-vw(450px, 1280) + get-vw(20px, 1280)});
        @include breakpoint($bp-min-1601-width) {
          width: calc(100% - (554px + 17px));
        }
        @include breakpoint($bp-1024-width) {
          width: calc(100% - #{get-vw(355px, 1024) + get-vw(20px, 1024)});
        }
        @include breakpoint($bp-768-width) {
          min-height: get-vw(169px, 768);
          width: calc(100% - #{get-vw(349px, 768) + get-vw(20px, 768)});
        }
        @include breakpoint($bp-640-width) {
          min-height: 0;
          width: 100%;
        }

        .open-description {
          @include breakpoint($bp-640-width) {
            display: block;
          }
        }

        .series,
        .title {
          @include breakpoint($bp-640-width) {
            position: absolute;
            left: calc(#{get-vw(212px, 640) + get-vw(20px, 640)});
            width: calc(100% - 40px - #{get-vw(212px, 640) + get-vw(20px, 640)});
          }
        }

        .series {
          @include breakpoint($bp-640-width) {
            top: calc(50% - #{get-vw(15px, 640)});
          }
        }

        .title {
          @include breakpoint($bp-640-width) {
            top: calc(50% + #{get-vw(15px, 640)/2});
          }
        }

        .image-block {
          right: calc(100% + #{get-vw(20px, 1280)});
          @include breakpoint ($bp-min-1601-width) {
            right: calc(100% + 20px);
          }
          @include breakpoint ($bp-1024-width) {
            right: calc(100% + #{get-vw(20px, 1024)});
          }
          @include breakpoint ($bp-768-width) {
            right: calc(100% + #{get-vw(20px, 768)});
          }
          @include breakpoint($bp-640-width) {
            right: auto;
            position: static;
          }
        }

        .description {
          margin-top: get-vw(15px, 1280);
          @include breakpoint($bp-1280-width) {
            margin-top: 30px;
          }
          @include breakpoint($bp-1024-width) {
            margin-top: get-vw(15px, 1024);
          }
          @include breakpoint($bp-768-width) {
            margin-top: get-vw(15px, 768);
          }
        }
      }

      .buttons-bar {
        @include breakpoint ($bp-768-width) {
          width: 100%;
        }
        @include breakpoint ($bp-640-width) {
          padding-left: get-vw(10px, 640);
          padding-right: get-vw(10px, 640);
          width: 100%;
        }
        .buttons {
          float: left;
          width: 60%;
          @include breakpoint($bp-min-1601-width) {
            width: 63%;
          }
          @include breakpoint ($bp-768-width) {
            width: get-vw(349px, 768);
          }
          @include breakpoint ($bp-640-width) {
            width: 100%;
          }
          > div {
            border: none;
            display: block;
            width: 100%;
            @include breakpoint ($bp-768-width) {
              width: get-vw(349px, 768);
            }
            @include breakpoint($bp-640-width) {
              display: block;
              width: 100%;
            }
            .button-inner {
              border: 1px solid;
              display: inline-block;
              vertical-align: middle;
            }
            a {
              @include breakpoint($bp-640-width) {
                padding: get-vw(20px, 640) 0;
              }
            }
          }
        }
        .links {
          float: right;
          width: 40%;
          @include breakpoint($bp-min-1601-width) {
            width: 37%;
          }
          @include breakpoint($bp-768-width) {
            width: calc(100% - #{get-vw(349px, 768) + get-vw(20px, 768)});
          }
          @include breakpoint($bp-640-width) {
            margin-top: get-vw(30px, 640);
            width: 100%;
          }
        }
      }
    }
  }

  // upper bar &&  filter item
  #block-usanetwork-episodes-usa-landing-tvep-list-block,
  #block-usanetwork-consumptionator-post-usa-landing-blog-post-list-block,
  #block-usanetwork-episodes-usa-landing-tvep-list-block {

    // upper bar
    .upper-bar {
      position: relative;
      .title {
        @include breakpoint($bp-768-width) {
          //width: calc(100% - 215px);
        }
      }
      h2, .page-title {
        box-sizing: border-box;
        color: #ffffff;
        font-family: $fira-sans-medium;
        font-size: get-vw(30px, 1280);
        line-height: get-vw(80px, 1600);
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 30px;
          line-height: 80px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(30px, 1024);
          line-height: get-vw(80px, 1024);
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(30px, 768);
          line-height: get-vw(80px, 768);
          padding-left: get-vw(30px, 768);
          text-align: left;
        }
        @include breakpoint($bp-640-width) {
          font-size: 18px;
          line-height: 55px;
          padding-left: 10px;
        }
      }
    }

    // filter item
    .item-filter {
      border: 1px solid;
      border-bottom: none;
      margin: 0;
      right: get-vw(45px, 1280);
      top: calc(100% - #{get-vw(51px, 1600)});
      position: absolute;
      min-width: get-vw(205px, 1600);
      max-width: 300px;
      &:not(.open) {
        @include breakpoint($bp-min-769-width) {
          border-color: transparent!important;
        }
      }
      @include breakpoint($bp-min-1601-width) {
        right: 60px;
        top: calc(100% - 51px);
        min-width: 205px;
      }
      @include breakpoint($bp-1024-width) {
        right: get-vw(45px, 1024);
      }
      @include breakpoint($bp-768-width) {
        bottom: auto;
        border: none;
        margin-top: -19px;
        //right: get-vw(45px, 768);
        right: 5px;
        top: 50%;
        min-width: 155px;
        max-width: 215px;
      }
      //@include breakpoint($bp-640-width) {
      //  left: 10px;
      //  margin: 10px 0;
      //  position: relative;
      //  right: auto;
      //}
      &.open {
        background: black;
        @include breakpoint($bp-min-769-width) {
          border-bottom: none;
        }
        @include breakpoint($bp-768-width) {
          border: 1px solid;
        }
        .filter-label {
          text-align: left;
          border-color: transparent;
          background: transparent;
          @include breakpoint($bp-min-769-width) {
            padding: 0 get-vw(40px, 1600) 0 get-vw(15px, 1600);
          }
          @include breakpoint($bp-min-1601-width) {
            padding: 0 40px 0 15px;
          }
          span {
            &:after {
              content: "\e60a";
            }
          }
        }
        .filter-menu {
          background: black;
          border: 1px solid;
          border-top: 1px solid $usa-episode-item-text!important;
          box-sizing: content-box;
          display: block;
          left: -1px;
          top: 0;
        }
      }
      .filter-label {
        background: black;
        color: white;
        cursor: pointer;
        font-family: $fira-sans-medium;
        font-size: get-vw(18px, 1600);
        letter-spacing: 0.5px;
        line-height: get-vw(50px, 1600);
        overflow: hidden;
        padding-right: get-vw(40px, 1600);
        position: relative;
        text-align: right;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          font-size: 18px;
          line-height: 50px;
          padding-right: 40px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 38px;
          padding: 0 25px 0 10px;
          //text-align: left;
          width: 100%;
        }
        span {
          &:after {
            content: "\e609";
            color: inherit;
            display: block;
            font-family: $ico-font;
            font-size: 16px;
            margin-right: -8px;
            position: absolute;
            right: 25px;
            top: 0;
            z-index: 3;
            @include breakpoint($bp-min-769-width) {
              font-size: get-vw(16px, 1600);
              margin: 0;
              right: get-vw(12px, 1600);
            }
            @include breakpoint($bp-min-1601-width) {
              font-size: 16px;
              right: 12px;
            }
            @include breakpoint($bp-768-width) {
              right: 12px;
              font-size: 14px;
            }
          }
        }
      }
      .filter-menu {
        display: none;
        max-height: 200px;
        overflow-y: auto;
        position: relative;
        width: 100%;
        z-index: 2;
        .filter-item {
          border-bottom: 1px solid;
          border-color: $usa-episode-item-text!important;
          overflow: hidden;
          padding: 0 get-vw(40px, 1600) 0 get-vw(15px, 1600);
          position: relative;
          width: 100%;
          @include breakpoint($bp-min-1601-width) {
            padding: 0 40px 0 15px;
          }
          @include  breakpoint($bp-768-width) {
            padding: 9px 15px;
          }
          &:hover, &.active {
            span {
              color: $header-tab-title;
            }
          }
          &:last-child {
            border-bottom: none;
          }
          span {
            background: none;
            display: inline-block;
          }
          a {
            color: #ffffff;
            display: block;
            font-size: get-vw(18px, 1600);
            font-family: $fira-sans-medium;
            height: 100%;
            letter-spacing: 1px;
            line-height: get-vw(50px, 1600);
            overflow: hidden;
            text-align: left;
            text-decoration: none;
            text-transform: capitalize;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover, &.active {
              color: $header-tab-title;
            }
            @include breakpoint($bp-min-1601-width) {
              font-size: 18px;
              line-height: 50px;
            }
            @include  breakpoint($bp-768-width) {
              font-size: 14px;
              line-height: 14px;
              text-align: left;
            }
          }
        }
        .mCSB_dragger {
          .mCSB_dragger_bar {
            background-color: rgba(222, 216, 216, 0.75);
          }
        }
      }
    }

  }
}

