.usa-show-aspot {
  @include clear();
  background: $consum-also-back;
  height: get-vw(523px, 1280);
  padding: 0 get-vw(16px, 1280);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-769-width) {
    background: $consum-also-back;
    background: -moz-linear-gradient(top, #000000 0%, #181818 20%, #181818 80%, #111111 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
    background: linear-gradient(to bottom, #000000 0%,#181818 20%,#181818 80%,#111111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=0 );
  }
  @include breakpoint($bp-min-1601-width) {
    height: 653.75px;
    padding: 0 20px;
  }
  @include breakpoint($bp-768-width) {
    height: auto;
    padding: 0;
  }
  .pane-new-design-aspot {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 75.6%;
    @include breakpoint($bp-768-width) {
      float: none;
      height: 56.25vw;
      width: 100%;
    }
    .pane-content, #aspot-usanetwork, .slide {
      height: 100%;
      position: relative;
      width: 100%;
    }
    #aspot-usanetwork {
      @include breakpoint($bp-768-width) {
        border-bottom: 2px solid;
      }
    }
  }
  .pane-new-design-relevant-content {
    background: $right-rail-usa-show-back;
    float: right;
    height: 100%;
    overflow: hidden;
    width: 23%;
    @include breakpoint($bp-min-769-width) {
      background: #000000;
      background: -moz-linear-gradient(top, #000000 0%, #121212 10%, #121212 90%, #000000 100%);
      background: -webkit-linear-gradient(top, #000000 0%,#121212 10%,#121212 90%,#000000 100%);
      background: linear-gradient(to bottom, #000000 0%,#121212 10%,#121212 90%,#000000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    }
    @include breakpoint($bp-768-width) {
      height: auto;
      padding: 0 0 get-vw(24px, 640);
      width: 100%;
    }
    .pane-content {
      height: 100%;
      position: relative;
      overflow: hidden;
      width: 100%;
      @include breakpoint($bp-768-width) {
        height: auto;
      }
    }
    .carousel-title-block {
      background: none;
      font-family: $avalon-medium;
      font-size: get-vw(16px, 1280);
      line-height: get-vw(42px, 1280);
      height: get-vw(42px, 1280);
      padding: 0 get-vw(10px, 1280);
      position: relative;
      text-transform: uppercase;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        font-size: 20px;
        height: 52.5px;
        line-height: 52.5px;
        padding: 0 12.5px;
      }
      @include breakpoint($bp-768-width) {
        font-size: get-vw(30px, 640);
        height: get-vw(90px, 640);
        line-height: get-vw(90px, 640);
        padding: 0 get-vw(24px, 640);
      }
    }
    #relevant-content-carousel {
      height: calc(100% - #{get-vw(42px, 1280)});
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        height: calc(100% - 52.5px);
      }
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      &:after {
        bottom: 0;
        content: '';
        display: block;
        height: 10%;
        position: absolute;
        background: -moz-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(135, 135, 135, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(135, 135, 135, 0) 0%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
        background-repeat: no-repeat;
        width: 100%;
        z-index: 1;
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      &.carousel-end {
        &:after {
          display: none;
        }
      }
      .mCSB_scrollTools {
        width: 4px;
      }
    }
    ul {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      &.slick-initialized {
        overflow: visible;
        .slick-list {
          overflow: visible;
        }
      }
    }
    li {
      border-bottom: 1px solid $gray-dark;
      height: calc(#{get-vw(523px, 1280) / 5});
      overflow: hidden;
      position: relative;
      width: 100%;
      @extend %usa-aspot-carousel-promo;
      @include breakpoint($bp-min-1601-width) {
        height: calc(653.75px / 5);
      }
      @include breakpoint($bp-768-width) {
        border: none;
        color: $right-rail-usa-show-color;
        float: left;
        height: auto;
        padding-left: get-vw(24px, 640);
        width: calc(#{get-vw(237px, 640) + get-vw(24px, 640)});
      }
      &:last-child {
        @include breakpoint($bp-768-width) {
          padding-right: get-vw(24px, 640);
          width: calc(#{get-vw(237px, 640) + (get-vw(24px, 640) * 2)});
        }
      }
    }
  }
}
