// ----------------------------------
// default transition duration 200ms
// ----------------------------------
.show-new-design {
  #header {
    background-color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: visible;
    width: 100%;

    &.usa-sticky-header-initialized {
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      z-index: 1000;
    }

    &.smartphone,
    &.tablet {
      z-index: 99999;
    }

    // header added transition for elements
    &.usa-slide-header {
      @include transition(all 0.2s linear 0);
      .header-inner,
      #head-leaderboard {
        @include transition(all 0.2s linear 0);
      }
    }

    // header sticky style
    &.usa-sticky-header {
      position: fixed;
      #head-leaderboard {
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
      }
    }

    // header slide up -100%
    &.usa-slide-up-header {
      -moz-transform: translateY(-105%);
      -ms-transform: translateY(-100%);
      -webkit-transform: translateY(-105%);
      -o-transform: translateY(-105%);
      transform: translateY(-105%);
    }
    &.menu-open {
      position: fixed;
      overflow: hidden;
      height: 100vh;
      &.smartphone {
        #head-leaderboard {
          display: none;
        }
      }
    }

    .header-inner {
      margin: 0 auto;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        width: 1600px;
      }
    }
  }

  #header-spacer {
    display: none;
    background-color: black;
    margin: 0 auto;
    max-width: 1600px;
    @include transition(all 0.1s linear 0);
    &.slide-spacer {
      @include transition(all 0.2s linear 0);
    }
  }
}

