.block-usanetwork-tv-shows, .block-usanetwork-media-gallery {
  background: black;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
  width: 100%;
  .upper-menu {
    @include clear();
    padding: 0 get-vw(16px, 1280) get-vw(12px, 1280);
    background: black;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    position: relative;
    transform: translateZ(0);
    z-index: 2;
    @include breakpoint($bp-min-1601-width) {
      padding: 0 20px 15px;
    }
    @include breakpoint($bp-768-width) {
      padding: 0 20px;
    }
    @include breakpoint($bp-640-width) {
      padding-bottom: 20px;
    }
    &.fixed-position {
      position: fixed;
      width: 100%;
      padding-bottom: 20px;
      z-index: 999;
      visibility: hidden;
      &.is-visible {
        visibility: visible;
      }
    }
    .item-filter {
      border: 1px solid;
      border-bottom: none;
      @include breakpoint($bp-768-width) {
        border-bottom: 1px solid;
      }
      &:not(.open) {
        @include breakpoint($bp-min-769-width) {
          border-color: transparent!important;
        }
      }
      &.open {
        background: black;
        border-bottom: none;
        .filter-menu {
          background: black;
          border: 1px solid;
          border-top: 1px solid $usa-episode-item-text!important;
          box-sizing: content-box;
          left: -1px;
          top: -1px;
        }
        .filter-label {
          text-align: left;
          @include breakpoint($bp-min-769-width) {
            padding: 0 get-vw(40px, 1600) 0 get-vw(15px, 1600);
          }
          @include breakpoint($bp-min-1601-width) {
            padding: 0 40px 0 15px;
          }
        }
      }
      .filter-label {
        background: black;
        color: white;
        cursor: pointer;
        font-family: $fira-sans-medium;
        font-size: get-vw(18px, 1600);
        letter-spacing: 0.5px;
        line-height: get-vw(50px, 1600);
        overflow: hidden;
        padding-right: get-vw(40px, 1600);
        position: relative;
        text-align: right;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          font-size: 18px;
          line-height: 50px;
          padding-right: 40px;
        }
        @include breakpoint($bp-768-width) {
          color: white;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 38px;
          padding: 0 40px 0 15px;
          text-align: left;
          width: 100%;
        }
        span {
          &:after {
            content: "\e609";
            color: inherit;
            font-family: $ico-font;
            font-size: 16px;
            display: block;
            position: absolute;
            margin-right: -8px;
            right: 25px;
            top: 0;
            z-index: 3;
            @include breakpoint($bp-min-769-width) {
              font-size: get-vw(16px, 1600);
              margin: 0;
              right: get-vw(12px, 1600);
            }
            @include breakpoint($bp-min-1601-width) {
              font-size: 16px;
              right: 12px;
            }
          }
        }
      }
      .filter-menu {
        li {
          span {
            background: none;
            display: inline-block;
          }
        }
        .mCSB_dragger {
          .mCSB_dragger_bar {
            background-color: rgba(222, 216, 216, 0.75);
          }
        }
      }
      &.all-items-filter {
        float: left;
        width: calc(100% - #{get-vw(215px, 1600)});
        @include breakpoint($bp-min-1601-width) {
          width: calc(100% - 215px);
        }
        @include breakpoint($bp-min-769-width) {
          border: none;
          .filter-label {
            border: none;
            display: none;
          }
          .filter-menu {
            border: none;
          }
        }
        @include breakpoint($bp-768-width) {
          position: relative;
          vertical-align: middle;
          min-width: 205px;
          width: 205px;
          margin-right: 25px;
          margin-top: 15px;
          &:last-child {
            margin-right: 0;
            @include breakpoint($bp-320-width) {
              display: block;
              text-align: center;
            }
          }
        }
        @include breakpoint ($bp-480-width) {
          width: 47%;
          min-width: inherit;
          margin-right: 2%;
          .filter-label {
            width: 100%;
          }
        }
        .filter-menu {
          @include breakpoint($bp-768-width) {
            display: none;
            margin-top: 39px;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            width: 100%;
            z-index: 2;
          }
          li {
            cursor: pointer;
            display: inline-block;
            margin: get-vw(20px, 1280) get-vw(45px,1280) 0 0;
            padding: 0;
            &:last-child {
              margin-right: 0;
              @include breakpoint($bp-768-width) {
                border-bottom: none;
              }
            }
            @include breakpoint($bp-min-1601-width) {
              margin: 25px 56.25px 0 0;
            }
            @include breakpoint($bp-768-width) {
              border-bottom: 1px solid;
              border-color: $usa-episode-item-text!important;
              margin: 0;
              overflow: hidden;
              position: relative;
              width: 100%;
            }
            a {
              color: white;
              display: block;
              font-size: get-vw(18px, 1600);
              font-family: $fira-sans-medium;
              text-transform: capitalize;
              letter-spacing: 0.5px;
              line-height: 1.8;
              outline: none;
              text-align: left;
              text-decoration: none;
              width: 100%;
              &:hover,
              &:active {
                @include  breakpoint($bp-min-769-width) {
                  border-bottom: 2px solid;
                }
              }
              @include breakpoint($bp-min-1601-width) {
                font-size: 18px;
              }
              @include  breakpoint($bp-768-width) {
                color: #ffffff;
                display: block;
                font-size: 14px;
                font-family: $avalon-medium;
                height: 100%;
                line-height: 14px;
                letter-spacing: 1px;
                text-align: left;
                padding: 9px 15px;
                text-decoration: none;
                width: 100%;
                &:hover {
                  color: $header-tab-title;
                }
              }
            }
            &.active {
              a {
                @include  breakpoint($bp-min-769-width) {
                  border-bottom: 2px solid;
                }
              }
              @include  breakpoint($bp-768-width) {
                span {
                  color: $header-tab-title;
                }
              }
            }
          }
        }
        &.open {
          .filter-label {
            border-color: transparent;
            span {
              &:after {
                content: "\e60a";
              }
            }
          }
          .filter-menu {
            display: block;
          }
        }
      }
      &.sorter-items {
        float: right;
        margin-top: get-vw(15px, 1600);
        position: relative;
        text-align: right;
        @include clear();
        width: get-vw(205px, 1600);
        @include breakpoint($bp-min-1601-width) {
          margin-top: 15px;
          width: 205px;
        }
        @include breakpoint($bp-768-width) {
          margin-right: 5px;
          margin-top: 15px;
          width: 205px;
        }
        @include breakpoint ($bp-480-width) {
          width: 47%;
        }
        @include breakpoint($bp-320-width) {
          margin: 15px auto;
        }
        .filter-label {
          @include breakpoint ($bp-480-width) {
            width: 100%;
          }
        }
        .filter-menu {
          display: none;
          margin-top: get-vw(50px, 1600);
          max-height: 200px;
          overflow-y: auto;
          position: absolute;
          width: 100%;
          z-index: 2;
          @include breakpoint($bp-min-1601-width) {
            margin-top: 50px;
          }
          @include breakpoint($bp-768-width) {
            margin-top: 39px;
          }
          li {
            border-bottom: 1px solid;
            border-color: $usa-episode-item-text!important;
            overflow: hidden;
            position: relative;
            width: 100%;
            &:hover, &.active {
              span {
                color: $header-tab-title;
              }
            }
            &:last-child {
              border-bottom: none;
            }
            a {
              color: #ffffff;
              display: block;
              font-size: get-vw(18px, 1600);
              font-family: $avalon-medium;
              height: 100%;
              letter-spacing: 1px;
              line-height: get-vw(50px, 1600);
              text-align: left;
              padding: 0 get-vw(40px, 1600) 0 get-vw(15px, 1600);
              text-decoration: none;
              text-transform: capitalize;
              width: 100%;
              &:hover, &.active {
                color: $header-tab-title;
              }
              @include breakpoint($bp-min-1601-width) {
                font-size: 18px;
                line-height: 50px;
                padding: 0 40px 0 15px;
              }
              @include  breakpoint($bp-768-width) {
                font-size: 14px;
                line-height: 14px;
                padding: 9px 15px;
                text-align: left;
              }
            }
          }
        }
        &.open {
          .filter-label {
            span {
              &:after {
                content: "\e60a";
              }
            }
          }
          .filter-menu {
            display: block;
          }
        }
      }
    }
    .sorters-description {
      h1 {
        color: white;
        font-family: $fira-sans-regular;
        margin: 0;
        line-height: 1;
        font-size: get-vw(18px, 1600);
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          font-size: 18px;
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(18px, 768);
        }
        strong {
          background: none;
          font-family: $fira-sans-medium;
          font-weight: normal;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:last-child {
            text-transform: uppercase;
            font-style: italic;
          }
        }
      }
    }
  }
  .landing-items-blocks {
    @include clear();
    border-bottom: 2px solid;
    margin-bottom: 100px;
    padding: 0 get-vw(16px, 1280) 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1601-width) {
      padding: 0 20px 0;
    }
    @include breakpoint($bp-768-width) {
      padding: get-vw(40px, 768);
    }
    &.infinity-finished {
      margin-bottom: 0;
    }
    &.all-shows-items-blocks, &.all-movies-items-blocks {
      padding: 20px 20px 40px;
      @include breakpoint($bp-min-1901-width) {
        padding: 20px 32px 40px;
      }
      @include breakpoint($bp-768-width) {
        padding: 20px 10px 40px;
      }
      ul {
        max-width: 1820px;
        li {
          height: 13.2vw;
          margin-bottom: 0;
          margin-right: 0.6%;
          margin-top: 0.58vw;
          width: 24.55%;
          @extend %all-shows-promo;
          @include breakpoint($bp-min-1901-width) {
            height: 251px;
            margin-top: 11px;
          }
          @include breakpoint($bp-min-1281-width) {
            &:nth-child(4n) {
              margin-right: 0;
            }
          }
          @include breakpoint($between-769-1280) {
            height: 16.9vw;
            margin-right: 1.1%;
            margin-top: 1.05vw;
            width: 32.6%;
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
          @include breakpoint($bp-768-width) {
            height: 26vw;
            margin-right: 0;
            margin-top: 1.9vw;
            width: 49%;
            &:nth-child(2n) {
              float: right;
              margin-right: 0;
            }
          }
          > div {
            float: none;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    ul {
      @include clear();
      height: calc(((100vw - 2*#{get-vw(20px, 1600)} - #{get-vw(16px, 1600)})/2)*0.8203125);
      margin: 0 auto 20px;
      padding: 0;
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-1601-width) {
        height: calc(((1600px - 2*20px - 16px)/2)*0.8203125);
        max-width: 1560px;
      }
      @include breakpoint($bp-768-width) {
        height: auto;
      }
      li {
        float: left;
        height: calc((100% - #{get-vw(16px, 1600)})/2);
        margin-right: get-vw(16px, 1600);
        overflow: hidden;
        position: relative;
        width: calc((((100% - #{get-vw(16px, 1600)})/2) - #{get-vw(16px, 1600)})/2);
        @include breakpoint($bp-min-1601-width) {
          height: calc((100% - 16px)/2);
          margin-right: 16px;
          width: calc((((100% - 16px)/2) - 16px)/2);
        }
        @include breakpoint($bp-768-width) {
          height: auto;
          margin-right: 0;
          width: calc((100% - #{get-vw(18px, 640)})/2);
        }
        @extend %usa-landing-container-promo;
      }
      &.odd {
        li {
          &:nth-child(1) {
            height: 100%;
            width: calc((100% - #{get-vw(16px, 1600)})/2);
            @include breakpoint($bp-min-1601-width) {
              width: calc((100% - 16px)/2);
            }
            @include breakpoint($bp-768-width) {
              height: auto;
              margin-bottom: get-vw(55px, 640);
              width: 100%;
            }
          }
          &:nth-child(2), &:nth-child(3) {
            margin-bottom: get-vw(16px, 1600);
            @include breakpoint($bp-min-1601-width) {
              margin-bottom: 16px;
            }
            @include breakpoint($bp-768-width) {
              margin-bottom: get-vw(55px, 640);
            }
          }
          &:nth-child(3), &:nth-child(5) {
            margin-right: 0;
            @include breakpoint($bp-768-width) {
              clear: right;
            }
          }
          &:nth-child(2), &:nth-child(4) {
            margin-right: get-vw(15.9px, 1600);
            @include breakpoint($bp-min-1601-width) {
              margin-right: 15.9px;
            }
            @include breakpoint($bp-768-width) {
              clear: left;
              margin-right: get-vw(17.9px, 640);
            }
          }
        }
      }
      &.even {
        li {
          @include breakpoint($bp-768-width) {
            margin-bottom: get-vw(55px, 640);
          }
          &:nth-child(5) {
            height: 100%;
            margin-right: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: calc((100% - #{get-vw(16px, 1600)})/2);
            @include breakpoint($bp-min-1601-width) {
              width: calc((100% - 16px)/2);
            }
            @include breakpoint($bp-768-width) {
              height: auto;
              margin-bottom: 0;
              position: relative;
              width: 100%;
            }
          }
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: get-vw(16px, 1600);
            @include breakpoint($bp-min-1601-width) {
              margin-bottom: 16px;
            }
            @include breakpoint($bp-768-width) {
              margin-bottom: get-vw(55px, 640);
            }
          }
          &:nth-child(3) {
            clear: left;
            @include breakpoint($bp-768-width) {
              clear: none;
            }
          }
          &:nth-child(1), &:nth-child(3) {
            margin-right: get-vw(15.9px, 1600);
            @include breakpoint($bp-min-1601-width) {
              margin-right: 15.9px;
            }
            @include breakpoint($bp-768-width) {
              clear: left;
              margin-right: get-vw(17.9px, 640);
            }
          }
          &:nth-child(2), &:nth-child(4) {
            @include breakpoint($bp-768-width) {
              clear: right;
            }
          }
        }
      }
    }
  }
}
