.show-new-design {
  // #header
  #header {
    background-color: $poll-back;
    overflow: visible;
    &.usa-sticky-header-initialized {
      left: 0;
      top: 0;
      position: fixed;
      z-index: 1;
    }
  }
  #header-spacer {
    display: none;
  }
  // #header end
}
#block-usanetwork-tv-shows-usanetwork-tv-shows-nd-menu {
  background: black;
  padding: get-vw(16px, 1280) get-vw(16px, 1280) get-vw(21px, 1280) get-vw(16px, 1280);
  position: relative;
  width: 100%;
  z-index: 1;

  @include breakpoint($bp-min-2500-width) {
    padding: 31.25px 31.25px 41.015625px 31.25px;
  }
  @include breakpoint($between-641-768) {
    padding: 0 0 get-vw(15px, 768) 0;
  }
  @include breakpoint($bp-640-width) {
    padding: 0 0 get-vw(24px, 640) 0;
  }
  header:not(.usa-sticky-header) &:not(.active) {
    .top-menu-block {
      @include breakpoint($bp-640-width) {
        border-bottom: 1px solid;
        padding: get-vw(30px, 640) get-vw(30px, 640) 0 get-vw(30px, 640);
      }
      .logo-block {
        @include breakpoint($bp-640-width) {
          height: get-vw(25px, 640);
          left: get-vw(30px, 640);
          margin-top: 0;
          top: get-vw(116px, 640);
          width: get-vw(245px, 640);
        }
        .logo {
          @include breakpoint($bp-640-width) {
            width: get-vw(57px, 640);
          }
        }
        .second-logo {
          @include breakpoint($bp-640-width) {
            width: get-vw(145px, 640);
          }
        }
      }
      .title-block {
        @include breakpoint($bp-640-width) {
          margin: 0;
        }
        .title {
          @include breakpoint($bp-640-width) {
            margin-bottom: get-vw(30px, 640);
          }
        }
        &.show-mrrobot {
          @include breakpoint($bp-640-width) {
            width: get-vw(362px, 640);
          }
          .title {
            @include breakpoint($bp-640-width) {
              height: get-vw(56px, 640);
            }
          }
        }
      }
      .sponsored {
        @include breakpoint($bp-640-width) {
          float: right;
          height: get-vw(25px, 640);
          margin-bottom: get-vw(16px, 640);
          max-width: none;
          position: relative;
          right: auto;
          top: auto;
          width: 45%;
        }
      }
      .menu-open-button {
        @include breakpoint($bp-640-width) {
          height: get-vw(48px, 640);
          margin-top: 0;
          right: get-vw(30px, 640);
          top: get-vw(34px, 640);
          width: get-vw(68px, 640);
        }
        &:before {
          @include breakpoint($bp-640-width) {
            font-size: get-vw(68px, 640);
            line-height: get-vw(48px, 640);
          }
        }
      }
    }
  }
  &.active {
    @include breakpoint($bp-768-width) {
      background: black!important;
      padding: 0 0 get-vw(15px, 768) 0;
    }
    .bottom-menu-block {
      @include breakpoint($bp-768-width) {
        display: block;
      }
    }
    .top-menu-block {
      @include breakpoint($bp-768-width) {
        padding: get-vw(20px, 768) get-vw(28px, 768) 0 get-vw(12px, 768);
      }
      .logo-block {
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      .title-block {
        @include breakpoint($bp-768-width) {
          @include clear();
          margin: 0 0 0 get-vw(28px, 768);
          width: calc(100% - #{get-vw(72px, 768)})!important;
        }
        &.show-mrrobot {
          .title {
            @include breakpoint($bp-768-width) {
              height: get-vw(48px, 768);
              width: get-vw(282px, 768);
            }
          }
          .tune-in {
            @include breakpoint($bp-768-width) {
              max-width: calc(100% - #{get-vw(350px, 768)});
            }
          }
        }
        .title {
          @include breakpoint($bp-768-width) {
            float: left;
            margin-bottom: get-vw(20px, 768);
          }
        }
        .tune-in {
          @include breakpoint($bp-768-width) {
            display: table;
            float: left;
            font-size: get-vw(21px, 768);
            line-height: 1.2;
            margin-left: get-vw(40px, 768);
            vertical-align: middle;
            width: auto;
          }
        }
      }
      .sponsored {
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
    }
  }
  header.usa-sticky-header &:not(.active) {
    @include breakpoint($bp-768-width) {
      background: $aspot-shadow;
      padding: 0;
    }
    .top-menu-block {
      @include breakpoint($bp-768-width) {
        border: none;
        padding: get-vw(9px, 768) get-vw(30px, 768) get-vw(9px, 768) get-vw(12px, 768);
      }
      .logo-block {
        @include breakpoint($bp-768-width) {
          height: get-vw(18px, 768);
          margin-top: get-vw(-9px, 768);
          width: get-vw(163px, 768);
        }
        .logo {
          @include breakpoint($bp-768-width) {
            width: get-vw(39px, 768);
          }
        }
        .second-logo {
          @include breakpoint($bp-768-width) {
            width: get-vw(96px, 768);
          }
        }
      }
      .title-block {
        &.show-mrrobot {
          @include breakpoint($bp-768-width) {
            width: get-vw(203px, 768);
          }
          & + .sponsored {
            @include breakpoint($bp-768-width) {
              left: calc(50% + #{get-vw(101.5px, 768)} + #{get-vw(20px, 768)});
            }
          }
        }
        .title {
          @include breakpoint($bp-768-width) {
            height: get-vw(31px, 768);
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .top-menu-block {
    @include clear();
    position: relative;
    @include breakpoint($bp-768-width) {
      border-bottom: 2px solid;
      padding: get-vw(20px, 768) get-vw(28px, 768) 0 get-vw(12px, 768);
    }
    .logo-block {
      background: url('../images/logo-usa-and-theverge.png') no-repeat;
      background-size: 100% 100%;
      height: get-vw(25px, 1280);
      left: 0;
      margin-top: get-vw(-12.5px, 1280);
      position: absolute;
      top: 50%;
      width: get-vw(245px, 1280);
      @include breakpoint($bp-min-2500-width) {
        height: 48.8px;
        margin-top: get-vw(-24.4px, 1280);
        width: 478.5px;
      }
      @include breakpoint($bp-768-width) {
        left: get-vw(12px, 768);
      }
      a {
        display: block;
        height: 100%;
        outline: none;
      }
      .logo {
        float: left;
        width: get-vw(57px, 1280);
        @include breakpoint($bp-min-2500-width) {
          width: 111.3px;
        }
      }
      .second-logo {
        float: right;
        width: get-vw(145px, 1280);
        @include breakpoint($bp-min-2500-width) {
          width: 283.2px;
        }
      }
    }
    .title-block {
      margin: 0 auto;
      position: relative;
      .title {
        margin: 0;
        position: relative;
        width: 100%;
        @include breakpoint($between-641-768) {
          margin-bottom: get-vw(20px, 768);
        }
      }
      a {
        background-size: 100% 100%;
        display: block;
        height: 100%;
        outline: none;
        text-indent: -9999px;
        width: 100%;
      }
      .tune-in {
        font-size: get-vw(10px, 1024);
        line-height: 2;
        text-align: center;
        width: 100%;
        @include breakpoint($bp-min-2500-width) {
          font-size: 24.4px;
        }
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      &.show-mrrobot {
        width: get-vw(348px, 1280);
        @include breakpoint($bp-min-2500-width) {
          width: 680px;
        }
        @include breakpoint($between-641-768) {
          width: get-vw(282px, 768);
        }
        & + .sponsored {
          @include breakpoint($between-641-768) {
            left: calc(50% + #{get-vw(141px, 768)} + #{get-vw(20px, 768)});
          }
        }
        .title {
          height: get-vw(54.52px, 1280);
          @include breakpoint($bp-min-2500-width) {
            height: 106.5px;
          }
          @include breakpoint($between-641-768) {
            height: get-vw(48px, 768);
          }
        }
        a {
          background-image: url('../images/mr-robot-logo.png');
        }
      }
    }
    .sponsored {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: get-vw(182px, 1280);
      @include breakpoint($bp-min-2500-width) {
        width: 355.5px;
      }
      @include breakpoint($bp-768-width) {
        max-width: 100px;
        right: auto;
        width: 100px;
      }
    }
    .menu-open-button {
      background: none;
      cursor: pointer;
      display: none;
      position: absolute;
      top: 50%;
      @include breakpoint($bp-768-width) {
        display: block;
        height: get-vw(35.2px, 768);
        margin-top: get-vw(-17.6px, 768);
        right: get-vw(26px, 768);
        width: get-vw(50px, 768);
      }
      &.active {
        @include breakpoint($bp-768-width) {
          height: get-vw(35.2px, 768);
          margin-top: get-vw(-17.6px, 768);
          right: get-vw(26px, 768);
          width: get-vw(50px, 768);
        }
        &:before {
          @include breakpoint($bp-768-width) {
            content: '\e62e';
            font-size: get-vw(50px, 768);
            line-height: get-vw(35.2px, 768);
          }
        }
      }
      &:before {
        color: inherit;
        content: '\e62f';
        display: block;
        font-family: $ico-font;
        @include breakpoint($bp-768-width) {
          font-size: get-vw(50px, 768);
          line-height: get-vw(35.2px, 768);
        }
      }
    }
  }
  .bottom-menu-block {
    @include clear();
    border-bottom: 2px solid;
    border-top: 2px solid;
    height: get-vw(60px, 1280);
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-2500-width) {
      height: 117.2px;
    }
    @include breakpoint($bp-768-width) {
      border: none;
      display: none;
      height: auto;
      position: absolute;
    }
    .show-menu-tab {
      float: left;
      max-width: 80%!important;
      @include breakpoint($bp-768-width) {
        display: block;
        float: none;
        max-width: none!important;
      }
      .show-menu {
        height: 100%;
        @include breakpoint($bp-768-width) {
          height: auto;
        }
        & > li {
          height: 100%;
          @include breakpoint($bp-768-width) {
            background: $header-full-episodes-back;
            border-bottom: 1px solid $header-new-menu-item-border;
            float: none;
            height: get-vw(70px, 768);
            width: 100%;
          }
          &:last-child {
            @include breakpoint($bp-768-width) {
              border-bottom: none;
            }
          }
          a {
            font-size: get-vw(10px, 1024);
            height: 100%;
            letter-spacing: 1px;
            line-height: get-vw(60px, 1280);
            outline: none;
            padding: 0 get-vw(29px, 1280);
            @include breakpoint($bp-min-2500-width) {
              font-size: 24.4px;
              line-height: 117.2px;
              padding: 0 56.64px;
            }
            @include breakpoint($bp-768-width) {
              color: $header-new-menu-item-color;
              font-size: get-vw(26px, 768);
              line-height: get-vw(70px, 768);
              padding: 0 get-vw(40px, 768);
              text-align: left;
              width: 100%;
            }
          }
        }
      }
    }
    .social-block {
      @include clear();
      display: table;
      float: right;
      height: 100%;
      max-width: 20%;
      position: relative;
      @include breakpoint($bp-768-width) {
        background: black;
        display: block;
        float: none;
        height: get-vw(86px, 768);
        max-width: none;
        text-align: center;
        width: 100%;
      }
      > div {
        display: table-cell;
        vertical-align: middle;
        @include breakpoint($bp-768-width) {
          display: inline-block;
          height: 100%;
        }
      }
      .hashtag {
        background: none;
        font-size: get-vw(12.8px, 1280);
        padding-right: get-vw(18px, 1280);
        @include breakpoint($bp-min-2500-width) {
          font-size: 25px;
          padding-right: 22.4px;
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(23px, 768);
          line-height: get-vw(86px, 768);
          margin-right: get-vw(35px, 768);
          padding-right: 0;
        }
        span {
          letter-spacing: 1px;
        }
      }
      .social-icons {
        background: none;
        a {
          float: left;
          color: inherit;
          display: block;
          line-height: 1;
          margin-right: get-vw(12px, 1280);
          opacity: 1;
          outline: none;
          position: relative;
          vertical-align: middle;
          @include breakpoint($bp-min-2500-width) {
            margin-right: 23.4375px;
          }
          @include breakpoint($bp-768-width) {
            line-height: get-vw(86px, 768);
            margin-right: get-vw(25px, 768);
          }
          &:before {
            color: inherit;
            display: block;
            font-family: $ico-font;
            font-weight: normal;
            font-size: get-vw(20px, 1280);
            @include breakpoint($bp-min-2500-width) {
              font-size: 39.1px;
            }
            @include breakpoint($bp-768-width) {
              font-size: get-vw(40px, 768);
            }
          }
          &:hover {
            opacity: 0.6;
          }
          &.facebook {
            &:before {
              content: '\e618';
            }
          }
          &.twitter {
            &:before {
              content: '\e61a';
            }
          }
          &.tumblr {
            &:before {
              content: '\e619';
            }
          }
          &.pinterest {
            &:before {
              content: '\e617';
            }
          }
          &.youtube {
            &:before {
              content: '\e630';
            }
          }
          &.instagram {
            &:before {
              content: '\e621';
            }
          }
          &:nth-child(n + 5) {
            display: none;
          }
        }
      }
    }
  }
}
