/*******************************************************************
 * TV Show specific colors: Don't touch                            *
 *******************************************************************/

#mega-nav .tv-show-menu-trigger a,
#mega-nav .tv-show-menu-trigger a:visited,
#mega-nav .tv-show-menu-trigger a:focus,
#mega-nav .tv-show-menu-trigger a:active,
#tv-show-menu h1.menu-title a,
#tv-show-menu h1.menu-title a:visited,
#tv-show-menu h1.menu-title a:focus,
#tv-show-menu h1.menu-title a:active {
  color: #0ab6e8;
}

#utilities.utilities-head-show {
  border-left: 15px solid #000000;
}

@media (min-width: 769px) {
  #tv-show-menu a {
    color: #0ab6e8;
  }
  #tv-show-menu a:visited {
    color: #0ab6e8;
  }
  #tv-show-menu a:focus {
    color: #0ab6e8;
  }
  #tv-show-menu a:hover {
    color: #0ab6e8;
  }
  #tv-show-menu a:active {
    color: #0ab6e8;
  }
  #tv-show-menu li .item-list {
    border-top: 4px solid #0ab6e8;
  }
  #tv-show-menu li:hover > a {
    border-top: 4px solid #0ab6e8;
  }
  #mega-nav .tv-show-menu-trigger a {
    background-color: #0ab6e8;
  }
  #mega-nav .tv-show-menu-trigger a,
  #mega-nav .tv-show-menu-trigger a:visited,
  #mega-nav .tv-show-menu-trigger a:focus,
  #mega-nav .tv-show-menu-trigger a:active {
    color: #ffffff;
  }
  .usa-showmenu-active #block-usanetwork-blocks-usa-meganav .slide-menu-close {
    border-color: #0ab6e8;
    color: #0ab6e8;
  }
  .usa-showmenu-active #block-usanetwork-blocks-usa-meganav .slide-menu-close span {
    color: #0ab6e8;
  }
}