$bp-episode-side-menu: 615px;
$bp-episode-split-content: 881px;
$menu-width: 235px;

.panel-twocol-nested-right-twocol {
  // [class^="panel-"] { @include debug-outline(); }
  .panel-one {
    @include breakpoint($bp-episode-side-menu) {
      @include float(left);
      width: $menu-width;
      padding-right: $gutter-width;
    }
  }
  .panel-wrapper {
    @include breakpoint($bp-episode-side-menu) {
      @include clearfix;
      margin-left: $menu-width + $gutter-width;
      padding-left: 5%;
    }
    @include breakpoint($bp-episode-split-content) {
      .inner-wrapper {
        font-size: 0;
        margin-right: $column-width + $gutter-width;
      }
      .panel-three {
        @include inline-block;
        font-size: $base-font-size;
        width: 100%;
        vertical-align: top;
      }
      .panel-four {
        @include inline-block;
        font-size: $base-font-size;
        margin-left: $gutter-width;
        margin-right: -$column-width - $gutter-width;
        vertical-align: top;
        width: $column-width ;
      }
    }
  }
  .panel-five {
    clear: both;
  }
}
