%meta-icon{
  background: #ffffff;
  border-radius: 50%;
  color: #000000;
  display: block;
  font-family: $ico-font;
  font-size: 21px;
  line-height: 37px;
  height: 37px;
  position: absolute;
  text-align: center;
  width: 37px;
}