%usa-violator-icon {
  .violator-link {
    font-family: $fira-sans-regular;
    strong, b, i {
      font-family: $fira-sans-medium;
      font-weight: normal;
    }
  }
  .violator-icon.verge {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    vertical-align: middle;
    margin-top: get-vw(-3px, 1280);

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include breakpoint($bp-min-1601-width) {
      margin-top: -3px;
    }
    @include breakpoint($bp-768-width) {
      margin-top: get-vw(-3px, 768);
    }
    &:after {
      color: #ffffff;
      content: "\e631";
      display: block;
      font-family: $ico-font;
      font-size: get-vw(16px, 1280);
      line-height: get-vw(16px, 1280);
      @include breakpoint($bp-min-1601-width) {
        font-size: 16px;
        line-height: 16px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(16px, 1024);
        line-height: get-vw(16px, 1024);
      }
      @include breakpoint($bp-768-width) {
        font-size: get-vw(16px, 768);
        line-height: get-vw(16px, 768);
      }
    }
  }
}

// full-video-icon-default
%usa-promo-video-play-icon {
  background-image: none;
  box-sizing: content-box;
  left: 50%;
  top: 50%;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after {
    color: rgba(200, 200, 200, 0.8);
    display: block;
    content: '\e632';
    font-family: $ico-font;
    position: relative;
    text-align: center;
    @include breakpoint($bp-768-width) {
      color: #ffffff;
    }
  }
}
