%featured-large-promo {
  .featured-large {
    height: 100%;
    width: 100%;
    @include breakpoint($bp-768-width) {
      &:before {
        bottom: 0;
        height: 40%;
        top: auto;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    .meta-wrapper {
      background: none;
      bottom: 0;
      height: 40%;
      position: absolute;
      width: 100%;
      z-index: 1;
      .meta-wrapper-inner {
        height: 100%;
        display: table;
        width: 100%;
      }
    }
    .meta-back {
      display: none;
      @include breakpoint($bp-768-width) {
        background: #000000;
        bottom: 0;
        display: block;
        height: 100%;
        opacity: 0.6;
        overflow: hidden;
        position: absolute;
        width: 100%;
      }
    }
    .meta {
      .meta-icon {
        display: block;
        height: 52px;
        left: 50%;
        margin-left: -26px;
        position: relative;
        width: 52px;
        &:before {
          font-size: 30px;
          height: 52px;
          line-height: 52px;
          width: 52px;
        }
        @include breakpoint($bp-768-width) {
          position: absolute;
          left: 20px;
          margin-left: 0;
          margin-top: -26px;
        }
        ~ .caption, ~ .title, ~ .additional {
          @include breakpoint($bp-768-width) {
            padding-left: 80px;
          }
        }
      }
      .caption {
        font-family: $avalon-demi;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
        text-align: center;
        @include breakpoint($bp-min-1601-width) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 12px;
          line-height: 14px;
        }
      }
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
        text-align: center;
        @include breakpoint($bp-min-1601-width) {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }
      .additional {
        font-family: $tex-gyreschola-italic;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 14px;
          line-height: 16px;
        }
      }
      .caption, .title, .additional {
        @include breakpoint($bp-768-width) {
          padding-left: 20px;
          text-align: left;
        }
      }
    }

  }
}
%featured-small-promo {
  .featured-small {
    &:before {
      bottom: 0;
      height: 40%;
      top: auto;
    }
    .meta-wrapper {
      background: none;
      bottom: 0;
      height: 40%;
      position: absolute;
      width: 100%;
      z-index: 1;
      .meta-wrapper-inner {
        height: 100%;
        display: table;
        padding-bottom: 30px;
        width: 100%;
        @include breakpoint($bp-768-width) {
          padding-bottom: 0px;
        }
      }
    }
    .meta-back {
      background: #000000;
      bottom: 0;
      height: 100%;
      opacity: 0.6;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }
    .meta-icon {
      display: block;
      height: 37px;
      left: 20px;
      margin-top: -34px;
      position: absolute;
      top: 50%;
      width: 37px;
      @include breakpoint($bp-768-width) {
        margin-top: -19px;
      }
      @include breakpoint($bp-480-width) {
        height: 30px;
        left: 12px;
        margin-top: -15px;
        width: 30px;
        &:before {
          font-size: 16px;
          height: 30px;
          line-height: 30px;
          width: 30px;
        }
      }
      ~ .meta {
        padding-left: 69px;
        @include breakpoint($bp-480-width) {
          padding-left: 48px;
        }
      }
    }
    .meta {
      display: table-cell;
      max-width: 100px;
      overflow: hidden;
      padding-left: 20px;
      position: relative;
      vertical-align: middle;
      width: 100%;
      .caption {
        font-size: 14px;
        line-height: 18px;
        @include breakpoint($bp-640-width) {
          font-size: 12px;
          line-height: 14px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 10px;
          line-height: 12px;
        }
      }
      .title {
        font-size: 16px;
        line-height: 20px;
        @include breakpoint($bp-640-width) {
          font-size: 14px;
          line-height: 16px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
          line-height: 14px;
        }
      }
      .additional {
        font-family: $tex-gyreschola-italic;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        @include breakpoint($bp-640-width) {
          font-size: 10px;
          line-height: 12px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }
}
%social-promo {
  .social-promo {
    .asset-img {
      float: left;
      height: 200px;
      position: relative;
      width: 200px;
      @include breakpoint($bp-min-1601-width) {
        height: 284px;
        width: 284px;
      }
      @include breakpoint($bp-768-width) {
        height: 100%;
        width: 53.5%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .meta-wrapper {
      background: $social-twitter-back;
      bottom: auto;
      color: #ffffff;
      float: right;
      height: 200px;
      margin: 0;
      padding: 0 20px;
      position: relative;
      width: 175px;
      @include breakpoint($bp-min-1601-width) {
        height: 284px;
        padding: 0 30px;
        width: 249px;
      }
      @include breakpoint($bp-768-width) {
        height: 100%;
        width: 46.5%;
      }
      @include breakpoint($between-641-768) {
        padding: 0 30px;
      }
      &:before {
        width: 3px;
      }
      .meta {
        display: block;
        height: 100%;
        max-width: none;
        padding: 0;
        padding-bottom: 60px;
        position: relative;
        text-align: center;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          padding-bottom: 80px;
        }
        @include breakpoint($between-641-768) {
          padding-bottom: 80px;
        }
        @include breakpoint($bp-480-width) {
          padding-bottom: 50px;
        }
      }
      .time {
        font-family: $tex-gyreschola-italic;
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 1px;
        margin-top: 15px;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 11px;
          line-height: 13px;
          margin-top: 17px;
        }
        @include breakpoint($between-641-768) {
          font-size: 11px;
          line-height: 13px;
          margin-top: 17px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 8px;
          line-height: 10px;
          margin-top: 13px;
        }
      }
      .show-title {
        font-family: $avalon-medium;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 13px;
        margin-top: 15px;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 17px;
        }
        @include breakpoint($between-641-768) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 17px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 9px;
          line-height: 11px;
          margin-top: 13px;
        }
      }
      .hashtag {
        font-family: $avalon-demi;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 18px;
        margin-top: 5px;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 17px;
          line-height: 20px;
          margin-top: 7px;
        }
        @include breakpoint($between-641-768) {
          font-size: 17px;
          line-height: 20px;
          margin-top: 7px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 4px;
        }
      }
      .additional {
        font-family: $avalon-medium;
        font-size: 13px;
        line-height: 20px;
        margin-top: 13px;
        text-transform: none;
        white-space: normal;
        @include breakpoint($bp-min-1601-width) {
          font-size: 15px;
          line-height: 22px;
          margin-top: 15px;
        }
        @include breakpoint($between-641-768) {
          font-size: 15px;
          line-height: 22px;
          margin-top: 15px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 11px;
          line-height: 13px;
          margin-top: 11px;
        }
      }
      .meta-button {
        bottom: 20px;
        cursor: pointer;
        font-family: $avalon-demi;
        font-size: 13px;
        height: 35px;
        letter-spacing: 1px;
        line-height: 35px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint($bp-min-1601-width) {
          bottom: 24px;
          font-size: 15px;
          height: 48px;
          line-height: 48px;
        }
        @include breakpoint($between-641-768) {
          bottom: 24px;
          font-size: 15px;
          height: 48px;
          line-height: 48px;
        }
        @include breakpoint($bp-480-width) {
          bottom: 15px;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .meta-icon {
      height: 40px;
      left: 180px;
      margin-top: -20px;
      width: 40px;
      z-index: 2;
      @include breakpoint($bp-min-1601-width) {
        height: 60px;
        left: 254px;
        margin-top: -30px;
        width: 60px;
      }
      @include breakpoint($between-641-768) {
        height: 60px;
        left: 53.5%;
        margin-left: -30px;
        margin-top: -30px;
        width: 60px;
      }
      @include breakpoint($bp-640-width) {
        left: 53.5%;
        margin-left: -20px;
      }
      &:before {
        font-size: 22px;
        height: 40px;
        line-height: 40px;
        width: 40px;
        @include breakpoint($bp-min-1601-width) {
          font-size: 32px;
          height: 60px;
          line-height: 60px;
          width: 60px;
        }
        @include breakpoint($between-641-768) {
          font-size: 32px;
          height: 60px;
          line-height: 60px;
          width: 60px;
        }
      }
    }
  }
}

%video-promo {
  .video-promo {
    &:before {
      bottom: 0;
      height: 81px;
      top: auto;
      @include breakpoint($bp-min-1601-width) {
        height: 87px;
      }
      @include breakpoint($bp-768-width) {
        height: 32.4%;
      }
    }
    .asset-img {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .meta-wrapper {
    background: none;
    bottom: 0;
    height: 81px;
    position: absolute;
    width: 100%;
    z-index: 1;
    @include breakpoint($bp-min-1601-width) {
      height: 87px;
    }
    @include breakpoint($bp-768-width) {
      height: 32.4%;
    }
  }
  .meta-wrapper-inner {
    height: 100%;
    display: table;
    width: 100%;
  }
  .meta-back {
    background: $video-promo-back;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .meta {
    padding-left: 15px;
    .caption {
      font-size: 11px;
      span {
        font-size: 11px;
        font-family: $tex-gyreschola-italic;
        line-height: 18px;
        text-transform: uppercase;
        @include breakpoint($bp-min-1601-width) {
          font-size: 13px;
          line-height: 20px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 10px;
          line-height: 16px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 8px;
          line-height: 14px;
        }
      }
      @include breakpoint($bp-min-1601-width) {
        font-size: 13px;
        line-height: 20px;
      }
      @include breakpoint($bp-768-width) {
        font-size: 10px;
        line-height: 16px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 8px;
        line-height: 14px;
      }
    }
    .title {
      @include breakpoint($bp-min-1601-width) {
        font-size: 18px;
        line-height: 20px;
      }
      @include breakpoint($bp-768-width) {
        font-size: 14px;
        line-height: 18px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .meta-icon {
    left: 15px;
    @include breakpoint($bp-min-1601-width) {
      height: 47px;
      left: 20px;
      margin-top: -24px;
      width: 47px;
      &:before {
        font-size: 24px;
        height: 47px;
        line-height: 47px;
        width: 47px;
      }
    }
    @include breakpoint($bp-480-width) {
      height: 30px;
      left: 14px;
      margin-top: -15px;
      width: 30px;
      &:before {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }
    ~ .meta {
      padding-left: 60px;
      @include breakpoint($bp-min-1601-width) {
        padding-left: 80px;
      }
      @include breakpoint($bp-480-width) {
        padding-left: 50px;
      }
    }
  }
}
%show-inner-promo {
  .show-inner {
    height: 100%;
    position: relative;
    width: 100%;
    &:before {
      height: 7px;
      margin-top: -3px;
      top: 55%;
      width: 100%;
    }
    .asset-img {
      bottom: 0;
      height: 45%;
      position: absolute;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .meta-wrapper {
      background: $header-show-caption;
      top: 0;
      height: 55%;
      position: absolute;
      width: 100%;
    }
    .meta-icon {
      height: 42px;
      left: 50%;
      margin-left: -21px;
      margin-top: -21px;
      top: 55%;
      width: 42px;
      z-index: 3;
      &:before {
        font-size: 24px;
        height: 42px;
        line-height: 42px;
        width: 42px;
      }
      @include breakpoint($bp-min-1920-width) {
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
        width: 60px;
        &:before {
          font-size: 34px;
          height: 60px;
          line-height: 60px;
          width: 60px;
        }
      }
      @include breakpoint($bp-480-width) {
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        &:before {
          font-size: 16px;
          height: 30px;
          line-height: 30px;
          width: 30px;
        }
      }
    }
    .meta {
      padding: 0;
      text-align: center;
      .caption {
        font-family: $tex-gyreschola-italic;
        font-size: 14px;
        line-height: 20px;
        margin: 0 5%;
        text-transform: uppercase;
        @include breakpoint($bp-min-1920-width) {
          font-size: 18px;
          line-height: 24px;
        }
        @include breakpoint($bp-1280-width) {
          font-size: 13px;
          line-height: 18px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 11px;
          line-height: 14px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 9px;
          line-height: 11px;
        }
      }
      .title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 5%;
        @include breakpoint($bp-min-1920-width) {
          font-size: 24px;
          line-height: 30px;
        }
        @include breakpoint($bp-1280-width) {
          font-size: 20px;
          line-height: 26px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 16px;
          line-height: 20px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}
