// The following classes are for use with @extend.
%h1, %h2, %h3, %h4, %h5, %h6 {
  @extend %headers;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: .05em;
  margin: .5em 0;
}

%h1 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 1));
    }
    @else {
      font-size: nth($header-sizes, 1);
      margin-bottom: 18px;
    }
  }
}

%h2 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 2));
    }
    @else {
      font-size: nth($header-sizes, 2);
      margin-bottom: 28px;
    }
  }
}

%h3 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 3));
    }
    @else {
      font-size: nth($header-sizes, 3);
    }
  }
}

%h4 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 4));
    }
    @else {
      font-size: nth($header-sizes, 4);
    }
  }
}

%h5 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 5));
    }
    @else {
      font-size: nth($header-sizes, 5);
    }
  }
}

%h6 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 6));
    }
    @else {
      font-size: nth($header-sizes, 6);
    }
  }
}


%mono {
  font-family: $font-mono;
}

%thin {
  font-family: $headline-thn;
}

%regular {
  font-family: $bodytext-reg;
}
%regular-headline {
  font-family: $headline-reg;
}
%regular-8 {
  font-family: $bodytext-reg;
  font-size: 8px;
}
%regular-12 {
  font-family: $bodytext-reg;
  font-size: 12px;
}
%regular-14 {
  font-family: $bodytext-reg;
  font-size: 14px;
}
%regular-headline-14 {
  font-family: $headline-reg;
  font-size: 14px;
}
%regular-15 {
  font-family: $bodytext-reg;
  font-size: 15px;
}
%regular-16 {
  font-family: $bodytext-reg;
  font-size: 16px;
}
%regular-headline-16 {
  font-family: $headline-reg;
  font-size: 16px;
}
%regular-18 {
  font-family: $headline-reg;
  font-size: 18px;
}
%regular-24 {
  font-family: $headline-reg;
  font-size: 24px;
}
%regular-30 {
  font-family: $headline-reg;
  font-size: 30px;
}

%semi {
  font-family: $bodytext-semi;
}
%semi-headline {
  font-family: $headline-semi;
}

%semi-10 {
  font-family: $bodytext-semi;
  font-size: 10px;
}
@mixin semi-12 {
  font-family: $bodytext-semi;
  font-size: 12px;
}
%semi-12 {
  @include semi-12;
}
%semi-headline-14 {
  font-family: $headline-semi;
  font-size: 14px;
}
%semi-14 {
  font-family: $bodytext-semi;
  font-size: 14px;
}
%semi-16 {
  font-family: $bodytext-semi;
  font-size: 16px;
}
%semi-18 {
  font-family: $headline-semi;
  font-size: 18px;
}
%semi-20 {
  font-family: $headline-semi;
  font-size: 20px;
}
%semi-22 {
  font-family: $headline-semi;
  font-size: 22px;
}

%bold {
  font-family: $headline-bold;
}
%bold-body {
  font-family: $bodytext-bold;
}
%bold-18 {
  font-family: $headline-bold;
  font-size: 18px;
}

%headers {
  @extend %bold;
}
