@import "compass"; // http://compass-style.org
@import "survivalkit"; // http://canarymason.github.com/Survival-Kit
@import "breakpoint";  // http://breakpoint-sass.com
@import "modular-scale"; // https://github.com/scottkellum/modular-scale

@import "partials/01-variables/colors";
@import "partials/01-variables/fonts";
@import "partials/01-variables/icon-font";
@import "partials/01-variables/settings";
@import "partials/02-mixins/empathy";
@import "partials/03-extend/all";
@import "partials/05-layout/grids-singularitygs";

@import "design/modules/slide-panel";
@import "design/modules/expandable";
@import "design/modules/bottom-drawer";
@import "design/modules/nav-promo-images";

body {
  margin: 0;
}

#jPanelMenu-menu, #mega-nav, .mega-sub-nav-container {
  *, *:before, *:after {
    @include box-sizing("border-box");
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0 0 0 0;
    padding-left: 0;
  }
  .more-title {
    &:nth-of-type(1n + 2) {
      display: none;
    }
  }
}

[id="usanetwork-main-menu"] {
  font-size: 16px;
  .item-list li {
    margin-bottom: 0.25em;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: text-bottom;
  }
}

.globalnav-content-replaced {
  display: none;
  @include breakpoint($bp-menu-switch) {
    display: block;
  }  
}

header {
  display: block;
}
