// FOLLOW THE STEP-BY-STEP
// ---------------------------------------------------------------------------------------
// INTRODUCTION
// This is the central organizing sass file where we manage all the imported partials
// in The Kit. Don't write custom styles here. Instead, import files that bring in
// default code from The Kit and files that add your custom code. The checklist below
// should help you put these files in order.
// ---------------------------------------------------------------------------------------

// ✔ IMPORT COMPASS AND EXTENSIONS
// enable / disable as desired
@import "compass"; // http://compass-style.org
@import "survivalkit"; // http://canarymason.github.com/Survival-Kit
@import "breakpoint";  // http://breakpoint-sass.com
@import "modular-scale"; // https://github.com/scottkellum/modular-scale
// add any others here


// THE FIRST IMPORTS ADD NO CSS UPON COMPILE

// ✔ 1. ADD YOUR OWN VARIABLES
// base, color, fonts, grids
// edit these as you see fit
@import "partials/01-variables/all";
// ✔ 2. ADD YOUR OWN MIXINS
@import "partials/02-mixins/custom";
@import "partials/02-mixins/empathy";

// ✔ 3. ADD YOUR OWN EXTENDABLES
// typography
@import "partials/03-extend/all";

// THE FOLLOWING IMPORTS WILL ADD CSS UPON COMPILE

// ✔ ADD A CSS RESET OR NORMALIZATION
@include init($init-type, $init-headers);

// ✔ 4. EDIT AND ADD YOUR BASE STYLES
// This is worth going into in detail
// edit as you see fit for your project
@import "partials/04-base/all";

// ✔ 5. ESTABLISH A LAYOUT
// Uncomment to use one of the grid systems below
// @import "singularitygs"; // http://singularity.gs
@import "partials/05-layout/grids-singularitygs";
@import "partials/05-layout/panels/all";
@import "partials/05-layout/layouts/all";

// ✔ 6. STYLE COMMON UI PATTERNS / DRUPAL UI PATTERNS
@import "partials/06-ui-patterns/drupal-patterns";

// --------------------------------------------------------------------------------------
// ✔ YOUR CUSTOM LAYOUT AND DESIGN SASS
// THIS IS WHERE MOST CUSTOM WORK WILL GO
@import "icons/*.png";
@include all-icons-sprites;
@import "design/modules/sitewide";
@import "design/modules/slick";
@import "design/modules/swiper";
@import "design/modules/social";
@import "design/modules/scroll";
@import "design/modules/new-show-design/usa-header";
@import "design/modules/new-show-design/usa-show";
@import "design/modules/new-show-design/usa-show-menu";
@import "design/modules/new-show-design/usa-header-filters";
@import "design/modules/new-show-design/usa-newsletter-subscription";
@import "design/modules/new-show-design/usa-show-aspot";
@import "design/modules/new-show-design/usa-show-bcd";
@import "design/modules/new-show-design/usa-best-of-section";
@import "design/modules/new-show-design/usa-to-top";
@import "design/modules/new-show-design/usa-latest-episodes";
@import "design/modules/new-show-design/usa-articles";
@import "design/modules/new-show-design/usa-show-related-block";
@import "design/modules/new-show-design/usa-consum-sidebar";
@import "design/modules/new-show-design/usa-consumptionator-page";
@import "design/modules/new-show-design/usa-consumptionator-post-episode";
@import "design/modules/new-show-design/usa-consumptionator-gallery";
@import "design/modules/new-show-design/usa-consumptionator-character";
@import "design/modules/new-show-design/usa-timeline";
@import "design/modules/new-show-design/usa-quiz";
@import "design/modules/new-show-design/usa-landing-page-container";
@import "design/modules/new-show-design/usa-cast-info-landing";
@import "design/modules/new-show-design/usa-show-episodes-blog-news-landing";
@import "design/modules/new-show-design/usa-consumptionator-video";
@import "design/modules/new-show-design/usa-nd-tve-help-link";
@import "design/modules/new-show-design/usa-show-endcard";
@import "design/modules/usa-auth-modals";
@import "design/design";

// --------------------------------------------------------------------------------------

// ✔ 8. ENABLE PRINT STYLES
// @import "partials/07-media/print";
// @media print {
//   @import "_print.scss";
// }
