.usanetwork-quiz {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1200px;
  background-color: #fff;
  color: #000;
}
.usanetwork-quiz h3.field-label {
    display: none;
}
.usanetwork-quiz .content-wrap {
  padding: 40px;
}
.usanetwork-quiz .content-wrap:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
}
.usanetwork-quiz .content-wrap .sidebar {
  width: 300px;
  float: left;
}
.usanetwork-quiz .content-wrap .center {
  width: 780px;
  float: left;
  margin-right: 40px;
}
.usanetwork-quiz .content-wrap .sidebar {}
.usanetwork-quiz .content-wrap .sidebar .sharebar {}
.usanetwork-quiz .content-wrap .sidebar .sharebar .field-label {
  text-transform: lowercase;
  font-weight: normal;
  margin: 0 0 10px 0;
}
.usanetwork-quiz .content-wrap .sidebar .ad-container {
  margin: 30px 0;
}

.usanetwork-quiz .entry-button,
.usanetwork-quiz .repeat-button {
  font-size: 1.4em;
  padding: 0.6em 1em;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #0ab6e8;
}
.usanetwork-quiz .entry-button {
  display: block;
  margin: 50px auto;
}
.usanetwork-quiz .repeat-button {
  width: 100%;
}


.usanetwork-quiz-question {

}
.usanetwork-quiz-questions.questions {
  position: relative;
}
.usanetwork-quiz-questions.questions .page-note {
    position: absolute;
    right: 10px;
    top: 10px;
}
.usanetwork-quiz-question .question-video {
  max-width: 780px;
  margin: 0 auto;
}
.usanetwork-quiz-question .question-video .video-player {
  width: 100%;
  padding-top: 56.3%;
  position: relative;
}
.usanetwork-quiz-question .question-video .video-player  iframe {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.usanetwork-quiz-question .question-image {
  text-align: center;
}
.usanetwork-quiz-question .question-title {
  font-family: "avalonmedium", "Proxima N W01 Reg",Arial,sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.usanetwork-quiz-answer {
  float: left;
  width: 50%;
  text-align: center;
  margin: 20px 0;
}
.usanetwork-quiz-answer > .inner {
  max-width: 280px;
  margin: 0 auto;
}
.usanetwork-quiz-answer .answer-image img {
  border: 5px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.usanetwork-quiz-answer .answer-image img:hover {
  border-color: #0ab6e8;
}
.usanetwork-quiz-answer .answer-title {
  cursor: pointer;
}
.usanetwork-quiz-answer.answer-type-text {}
.usanetwork-quiz-answer.answer-type-text .answer-title {
  color: #fff;
  height: 100px;
  font-family: "avalonmedium", "Proxima N W01 Reg",Arial,sans-serif;
  font-size: 18px;
  margin: 0 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 280px;
}
.usanetwork-quiz-answer.answer-type-text .answer-title:hover {
  border-color: #0ab6e8;
}

.usanetwork-quiz-result {}
.usanetwork-quiz-result .result-title {
  font-size: 2em;
  margin: 1em 0;
}

/* Breakpoints */
@media (max-width: 1334px) {
  .usanetwork-quiz {
    width: 930px;
  }
  .usanetwork-quiz .content-wrap .center {
    width: 510px;
  }
  .usanetwork-quiz-answer.answer-type-text .answer-title {
    width: 240px;
  }
}
@media (max-width: 960px) {
  .node-type-quiz #main {
    padding-left: 0;
    padding-right: 0;
  }
  .usanetwork-quiz {
    width: auto;
  }
  .usanetwork-quiz .content-wrap {
    padding: 10px;
  }
  .usanetwork-quiz .content-wrap .center {
    margin-right: 0;
    float: none;
    width: auto;
  }
  .usanetwork-quiz .content-wrap .sidebar {
    float: none;
    width: auto;
  }
  .usanetwork-quiz .repeat-button {
    max-width: 300px;
  }
  .usanetwork-quiz-answer.answer-type-text .answer-title {
    width: 280px;
  }
}
@media (max-width: 620px) {
  .usanetwork-quiz-answer.answer-type-text > .inner {
    margin: 0 5px;
  }
}
