/* GALLERIES */
#galleries {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/royalpainsfarewell/images/rp_photos_bg.jpg');
}
#galleries .section-title-block > h2 {
  width: 525px;
  height: 88px;
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/royalpainsfarewell/images/title_galleries.png');
}
#gallery-loader {
  display: none;
  position: absolute;
  top: 30%;
  left: 0;
  width: 32px;
  height: 32px;
  margin-left: calc(50% - 16px);
}



/* gallery structure */
/*
#galleries .left-pane {
  float: left;
  width: calc(100% - 320px);
}
#galleries .right-pane {
  float: left;
  width: 300px;
  height: 100%;
  margin-left: 20px;
}
*/

/* gallery filters */
#galleries .filter-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}
#galleries-filter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#galleries-filter .filter-label {
  display: none;
}
#galleries-filter ul {
  display: inline-block;
  width: 100%;
}
#galleries-filter li.filter-item {
  float: left;
  margin: 1% 8.4% 0 0;
  padding: 0;
  font-size: 1.625em;
  line-height: 1.2;
  height: 38px;
  color: #55452A;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: transparent;
  display: table;
}
#galleries-filter li.filter-item p {
  display: table-cell;
  vertical-align: middle;
}
#microsite #galleries-filter li.filter-item.last {
  margin-right: 0;
}
#galleries-filter li.filter-item:hover,
#galleries-filter li.filter-item.active {
  text-decoration: underline;
}
#galleries-filter li.filter-item .item-list {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
}
#galleries-filter li.filter-item .item-list ul {
  display: block;
  width: 100%;
}
#galleries-filter li.filter-item:hover .item-list {
  display: block;
}
#galleries-filter li.filter-item.hide:hover .item-list,
#galleries-filter li.filter-item.hide .item-list {
  display: none;
}
#galleries-filter li.filter-child-item {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #68000B;
  margin: 0;
  padding: 8px 0;
  color: #FFF;
}
#galleries-filter li.filter-child-item:hover {
  color: #FFE476;
}





/* gallery - full pane */
#galleries .left-pane,
#galleries .right-pane {
  float: left;
}
#galleries .right-pane {
  width: 300px;
  margin-left: 20px;
}
.node-type-usanetwork-microsite #galleries .gallery-block {
  height: 671px;
  max-height: 671px;
  max-width: 1513.59px;
  margin: 0 auto;
}
.node-type-usanetwork-microsite #galleries .gallery-wrapper {
  width: 1193px;
  max-width: 1193px;
  height: 671px;
  max-height: 671px;
}
.node-type-usanetwork-microsite #galleries .gallery-wrapper .gallery-list .slide .node .asset-img img {
  margin: 0;
}


@media (max-width: 1900px) {
  .node-type-usanetwork-microsite #galleries .gallery-block {
    width: 80vw;
    height: calc((80vw - 320px) * .5625);
  }
  .node-type-usanetwork-microsite #galleries .gallery-wrapper {
    width: calc(80vw - 320px);
    height: calc((80vw - 320px) * .5625);
  }
}

@media (max-width: 1174px) {
  .node-type-usanetwork-microsite #galleries .gallery-block {
    width: 80vw;
    height: initial;
  }
  .node-type-usanetwork-microsite #galleries .gallery-wrapper {
    width: 80vw;
    height: calc(80vw * .5625);
  }
  #galleries .right-pane {
    width: 80vw;
    margin-left: 0;
  }
  #galleries-nav-list li:nth-child(3n) {
    margin-right: 1%;
  }
}






/* right pane */
#galleries-nav-list li {
  display: inline-block;
  width: 31.3%;
  margin: 1% 1% 1% 0;
}
#galleries-nav-list li:nth-child(3n) {
  margin-right: 0;
}
#galleries-nav-list li.hide {
  display: none;
}
.gallery-nav-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0 solid transparent;
  overflow: hidden;
  box-sizing: border-box;
}
#galleries-nav-list li.active .gallery-nav-img {
  padding-bottom: calc(56.25% - 6px);
  border: 3px solid #9BCEEE;
}
.gallery-nav-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#galleries-nav-list .gallery-title {
  height: 3.5em;
  font-size: 1em;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#galleries-nav-list .gallery-title .gallery-h1 {
  display: none;
}
#galleries-nav-list a,
#galleries-nav-list a:link,
#galleries-nav-list a:visited,
#galleries-nav-list a:hover,
#galleries-nav-list a:active {
  color: #55452A;
  text-decoration: none;
}
