/* GALLERIES */
#galleries {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/royalpainsfarewell/images/rp_photos_bg.jpg');
}
#galleries .section-title-block > h2 {
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/royalpainsfarewell/images/title_galleries.png');
}
#gallery-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(80vw - 320px);
  height: 100%;
  background-color: rgba(250,239,222,0.7);
  opacity: 1;
}
#gallery-loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/sites/usanetwork/themes/aurora_usa/images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: center;
  opacity: 1;
}


/* gallery filters */
#galleries .filter-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}
#galleries-filter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#galleries-filter .filter-label {
  display: none;
}
#galleries-filter ul {
  display: inline-block;
  width: 100%;
}
#galleries-filter li.filter-item {
  float: left;
  margin: 1% 8.4% 0 0;
  padding: 0;
  font-size: 26px;
  line-height: 1.2;
  height: 38px;
  color: #55452A;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: transparent;
  display: table;
}
#galleries-filter li.filter-item p {
  display: table-cell;
  vertical-align: middle;
}
#microsite #galleries-filter li.filter-item.last {
  margin-right: 0;
}
#galleries-filter li.filter-item:hover,
#galleries-filter li.filter-item.active {
  text-decoration: underline;
}
#galleries-filter li.filter-item .item-list {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
}
#galleries-filter li.filter-item .item-list ul {
  display: block;
  width: 100%;
}
#galleries-filter li.filter-item:hover .item-list {
  display: block;
}
#galleries-filter li.filter-item.hide:hover .item-list,
#galleries-filter li.filter-item.hide .item-list {
  display: none;
}
#galleries-filter li.filter-child-item {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #68000B;
  margin: 0;
  padding: 8px 0;
  color: #FFF;
}
#galleries-filter li.filter-child-item:hover {
  color: #FFE476;
}





/* gallery - full pane */
#galleries .left-pane,
#galleries .right-pane {
  float: left;
}
#galleries .right-pane {
  width: 300px;
  margin-left: 20px;
}
.node-type-usanetwork-microsite #galleries .gallery-block {
  height: 671px;
  max-height: 671px;
  max-width: 1513.59px;
  margin: 0 auto;
}
.node-type-usanetwork-microsite #galleries .gallery-wrapper {
  width: 1193px;
  max-width: 1193px;
  height: 671px;
  max-height: 671px;
}
.node-type-usanetwork-microsite #galleries .gallery-wrapper .gallery-list .slide .node .asset-img img {
  margin: 0;
}


/* right pane */
#galleries-nav-list li {
  display: inline-block;
  width: 31.3%;
  margin: 1% 1% 1% 0;
}
#galleries-nav-list li:nth-child(3n) {
  margin-right: 0;
}
#galleries-nav-list li.hide {
  display: none;
}
.gallery-nav-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0 solid transparent;
  overflow: hidden;
  box-sizing: border-box;
}
#galleries-nav-list li.active .gallery-nav-img {
  padding-bottom: calc(56.25% - 6px);
  border: 3px solid #9BCEEE;
}
.gallery-nav-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#galleries-nav-list .gallery-title {
  height: 3.5em;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#galleries-nav-list .gallery-title .gallery-h1 {
  display: none;
}
#galleries-nav-list a,
#galleries-nav-list a:link,
#galleries-nav-list a:visited,
#galleries-nav-list a:hover,
#galleries-nav-list a:active {
  color: #55452A;
  text-decoration: none;
}


@media (max-width: 1900px) {
  .node-type-usanetwork-microsite #galleries .gallery-block {
    width: 80vw;
    height: calc((80vw - 320px) * 0.5625);
  }
  .node-type-usanetwork-microsite #galleries .gallery-wrapper {
    width: calc(80vw - 320px);
    height: calc((80vw - 320px) * 0.5625);
  }
}

@media (max-width: 1174px) {
  .node-type-usanetwork-microsite #galleries .gallery-block {
    width: 80vw;
    height: initial;
  }
  #gallery-loader,
  .node-type-usanetwork-microsite #microsite #galleries .gallery-wrapper {
    width: 80vw;
    height: initial;
  }
  .node-type-usanetwork-microsite #microsite .gallery-wrapper .gallery-list .slide .node .asset-img {
    height: calc(80vw * 0.5625);
  }
  .node-type-usanetwork-microsite #microsite .gallery-wrapper .gallery-list .slide .node .slide-info .description {
    text-align: left;
  }
  .node-type-usanetwork-microsite #microsite .gallery-wrapper .gallery-list .slide .node .slide-info .slider-counter {
    text-align: left;
  }
  .node-type-usanetwork-microsite #microsite .gallery-wrapper .gallery-pager-wrap {
    top: calc((80vw * 0.5625) + 13px);
  }
  .node-type-usanetwork-microsite #microsite .gallery-wrapper .slide-control {
    top: calc((80vw * 0.5625) + 48.5px);
  }
  #galleries .right-pane {
    width: 80vw;
    margin-left: 0;
  }
  #galleries-nav-list li {
    width: 18.7%;
  }
  #galleries-nav-list li:nth-child(3n) {
    margin-right: 1%;
  }
  #galleries-nav-list li:nth-child(5n) {
    margin-right: 0;
  }
}

@media (max-width: 1072px) {
  #galleries-filter li.filter-item {
    margin: 1% 5.1% 0 0;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  #galleries-nav-list li {
    width: 18%;
  }
}

@media (max-width: 700px) {
  #galleries-nav-list li {
    width: 31%;
  }
  #galleries-nav-list li:nth-child(3n) {
    margin-right: 0;
  }
  #galleries-nav-list li:nth-child(5n) {
    margin-right: 1%;
  }
}
