/* HOME SECTION */
#microsite #sections #home.section {
  top: 0;
  margin-top: 10px; /* Needed for the home waypoint to trigger! */
  background-image: url('/sites/usanetwork/themes/aurora_usa/usanetwork_microsite_themes/royalpainsfarewell/images/RP_Farewell_desktop_v6_top_final.jpg');
}
#home #home-content-container #home-description {
  line-height: 1;
}
#home #home-tunein {
  text-transform: none;
}
#home-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#microsite #home .ad-leaderboard {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 90px;
  margin: 18px 0 0;
  overflow: visible;
}
#home-wrapper {
  width: 100%;
}
#home-empty {
  position: absolute;
  top: 175px;
  left: 0;
  width: 50%;
  height: 10%;
  margin: 0 auto;
}
#home #home-content-container {
  width: 100%;
}
#home #home-content-container > div {
  margin: 0 auto 1.5%;
}
#home #home-logo {
  margin-top: 26.3% !important;
  width: 45%;
}
#home #home-logo h1,
#home #home-logo h2 {
  height: 0;
  text-indent: -9999px;
  margin: 0;
}
#home #home-sponsored {
  display: none;
}
#home #home-tunein,
#home #home-description {
  display: none;
}

/* countdown */
#home #home-countdown {
  position: absolute;
  top: 67.5%;
  left: 0;
  margin-left: calc(50% - 310px) !important;
  width: 620px;
}
#home #home-countdown #counter .circle {
  display: table;
  height: 96px;
  max-height: none;
  max-width: none;
  padding-top: 0;
  width: 96px;
}
#home #home-countdown .counter-container {
  display: table-cell;
  left: 0;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: 100%;
}
#home #home-countdown #counter .numbers {
  font-size: 32px;
  margin-bottom: 6%;
}
#home #home-countdown #counter .title {
  font-size: 16px;
}
#home #home-countdown #counter .line {
  width: 60%;
}
#countHolder #caption {
  color: #FAEFDE;
  font-family: "avalonregular", sans-serif;
  font-size: 10px;
  line-height: 3;
  width: initial;
}
#until {
  color: #FAEFDE;
}
#counter .numbers,
#counter .title {
  font-family: inherit;
}
#home #counter .circle {
  min-width: initial;
  min-height: initial;
  background-color: transparent;
  border: 4px solid #55452A;
}

/* navigation */
#home a,
#home a:link,
#home a:visited {
  color: #FAEFDE;
}
#home a:hover,
#home a:active {
  color: #E3D9D1;
}
#home #home-content-container #home-nav {
  height: auto;
  margin-bottom: 0;
  width: 80%;
}
#home #home-nav li {
  display: inline-block;
  margin: 0 2%;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}
.home-button-text {
  color: #FFF;
  font-size: 16px;
  line-height: 1.3;
}


/* USA logo */
#home #home-usa-logo {
  position: absolute;
  bottom: 16px;
  left: 10px;
  width: 45px;
  height: 20px;
  cursor: pointer;
}

/* Next button */
#microsite div.scroll {
  position: absolute;
  bottom: 5px;
  left: 100%;
  margin: 0 0 0 calc(-50% - 24px);
  width: 48px;
  cursor: pointer;
  padding: 0;
}
#microsite .scroll div {
  text-align: center;
  line-height: 18px;
  width: 48px;
  font-size: 14px;
  padding-top: 3px;
  background-color: #fff;
  color: #000;
}
#microsite .scroll img {
  width: 14px;
  height: 25px;
  margin: 0 auto;
}


/* ************** BEGIN MEDIA QUERIES ************* */
@media (max-width: 1900px) {
  #home #home-content-container {
    top: calc(5vw + 90px);
  }
  #home #home-logo {
    margin-bottom: 9vw !important;
    width: 40%;
  }
/*
  #home #home-countdown {
    top: 57%;
    width: 23.684210vw;
    margin-left: calc(50% - 11.84210vw) !important;
  }
  #home #home-countdown #counter .circle {
    width: 5.0526316vw;
    height: 5.0526316vw;
    border: 0.21053vw solid #55452A;
  }
  #home #home-countdown #counter .numbers {
    font-size: 2vw;
    line-height: 1;
    margin-bottom: 0.6vw;
  }
  #home #home-countdown #counter .title {
    font-size: 1vw;
    line-height: 1;
  }
  #home #home-countdown #until {
    font-size: 1.5625vw;
    line-height: 1.2;
  }
  #home #home-nav {
    width: 80%;
  }
  #home #home-nav li {
    margin: 0 2%;
    font-size: 1.894737vw;
  }
*/
}

@media (max-width: 1024px) {
  #home {
    height: auto;
  }
  #home.section {
    padding-top: calc(90vw + 170px);
  }
  #home-wrapper {
    padding-top: 0;
  }
  #home #home-logo {
    width: 45%;
    margin-top: 28.3% !important;
  }
  #home #home-countdown {
    top: 57%;
    width: 36%;
    margin-left: 32% !important;
  }
  #home #home-countdown #counter .circle {
    width: 48px;
    height: 48px;
    border: 2px solid #55452A;
  }
  #home #home-countdown #counter .numbers {
    font-size: 18px;
    margin-bottom: 0;
  }
  #home #home-countdown #counter .title {
    font-size: 8px;
    line-height: 1.8;
  }
  #home #home-nav li {
    font-size: 16px;
  }
}

@media (max-width: 775px) {
  #countHolder #caption {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  #home.section {
    padding-top: calc(128vw + 90px);
  }
  #home #home-logo {
    margin-top: 31.3% !important;
    margin-bottom: 15vw !important;
  }
  #home #home-countdown {
    top: 54%;
    width: 36%;
    margin-left: 32% !important;
  }
  #home #home-countdown #counter .circle {
    width: 36px;
    height: 36px;
    border: 1px solid #55452A;
  }
  #home #home-countdown #counter .numbers {
    font-size: 12px;
  }
  #home #home-countdown #counter .title {
    font-size: 6px;
  }
  #home #home-nav li {
    width: 20%;
  }
  #home #home-usa-logo {
    width: 38px;
    height: auto;
  }
}

@media (max-width: 500px) {

}

@media (max-width: 380px) {
  #home #home-logo {
    width: 86%;
    margin-top: 49.3% !important;
    margin-bottom: 14vw !important;
  }
  #home #home-countdown {
    top: 57%;
    width: 52%;
    margin-left: 24% !important;
  }
  #home #home-nav li {
    width: 18%;
    font-size: 11px;
  }
  #home #home-usa-logo {
    width: 30px;
  }
}

