.tve-help-sign img {
  width: 16px;
}


/* video section structure */
#microsite #videos .full-pane {
  width: 80vw;
  height: calc(100% - 161px - 126px);
  margin-top: 6px;
  box-sizing: border-box;
  opacity: 0;
}
#videos .left-pane {
  float: left;
  width: calc(80vw - 320px);
  max-width: 980px;
  overflow: hidden;
}
#videos .right-pane {
  float: left;
  width: 300px;
  margin-left: 20px;
  overflow: hidden;
}


#microsite .video-container {
  font-family: "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
}
#microsite .video-container iframe {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

/* TVe Help Link and Overlay */
#microsite .featured-asset .tve-help-link {
  margin-top: 4px;
}
#microsite .featured-asset .tve-help-link img {
  width: auto;
  height: 16px;
  background-color: #55452A;
  border: 4px solid #55452A;
  box-sizing: content-box;
}
#microsite .featured-asset .tve-help .tve-download-link {
  max-width: 326px;
  margin: 30px auto 0;
}
#microsite .featured-asset .tve-help .tve-download-link a {
  max-width: 110px;
  display: inline-block;
  margin-right: 29px;
}
#microsite .featured-asset .tve-help .tve-download-link img {
  padding-left: 0;
}
#microsite .featured-asset .tve-help .tve-download-link a.usanow-icon {
  max-width: 37px;
}
#microsite .featured-asset .tve-help .tve-download-link a:last-child {
  margin-right: 0;
}
#microsite .featured-asset .tve-help .tve-close {
  float: none;
  position: absolute;
  top: inherit;
  bottom: 10px;
  right: 10px;
  text-transform: uppercase;
  color: #0AB6E8;
}
#microsite .featured-asset .tve-help .tve-close > img {
  padding-bottom: 4px;
  max-width: 22px;
}


#microsite .video-player-desc {
  float: left;
  width: calc(100% - 206px);
  text-align: left;
}
#microsite .video-title {
  font-size: 32px;
}
#microsite .video-description {
  font-size: 19.2px;
}
#microsite .video-info {
  font-size: 19.2px;
  color: #e5ce96;
}
#microsite #video-gigya-share-container {
  width: 196px;
  float: right;
  margin: 18px 0 0;
}
#microsite #video-gigya-share-title {
  display: none;
}

.block-usanetwork-mpx-video .view .file h4, #block-views-usa-mpx-video-fullepisodes-live .view .file h4 {
  font-size: 14px;
  white-space: normal;
}
#microsite .block-usanetwork-mpx-video .view .file h4:after,
#block-views-usa-mpx-video-fullepisodes-live .view .file h4:after {
  background-image: none;
}
#microsite .video-container.in-player {
  display: block;
}
#microsite .full-pane #video-container {
  margin-bottom: 30px;
  position: relative;
}
#microsite .full-pane #video-container:after {
  content: '';
  clear: both;
  display: table;
}
#microsite .full-pane #video-container h1,
#microsite .full-pane #video-container h3 {
  margin: 7px 0;
  font-size: 24px;
  color: #000;
  line-height: 1;
  text-transform: none;
}
#microsite .full-pane #video-container h1.seo-h1,
#microsite .full-pane #video-container h3.seo-h1 {
  color: #000;
  font-size: 18px;
  line-height: 1.1;
  text-transform: none;
  margin: -7px 0 7px;
}
#microsite .full-pane #video-container .video-description {
  font-size: 14px;
  color: #000;
}
#microsite .full-pane #video-container .video-info {
  font-size: 14px;
  color: #6C6F72;
}

/* GIGYA SHARE */
#microsite #videos .gig-bar-container .gig-button-container.gig-button-container-facebook td > div:before,
#microsite #videos .gig-bar-container .gig-button-container.gig-button-container-twitter td > div:before,
#microsite #videos .gig-bar-container .gig-button-container.gig-button-container-tumblr td > div:before,
#microsite #videos .gig-bar-container .gig-button-container.gig-button-container-pinterest td > div:before,
#microsite #videos .gig-bar-container .gig-button-container.gig-button-container-share td > div:before {
  color: #9BCEEE;
}

/* VIDEO CONTAINER */
.video-auth-player-wrapper {
  display: none;
}
.video-auth-player-wrapper.featured-asset {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help {
  margin: 0;
}
.video-auth-player-wrapper.featured-asset .tve-help-link {
  color: #55452A;
}
.video-auth-player-wrapper.featured-asset .loginButton img {
  width: 100%;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut {
  position: static;
  width: 100%;
  text-align: left;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .tve-header-links > li {
  margin: 0;
}
#microsite .video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0 0 12px;
  border-left: 1px solid #55452A;
  line-height: 10px;
}
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a,
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a:link,
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a:visited,
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a:hover,
.video-auth-player-wrapper.featured-asset .tve-help-link.signOut .item-list ul.ng-scope a:active {
  color: #55452A;
}
.video-auth-player-wrapper.featured-asset .tve-close {
  cursor: pointer;
}
.video-auth-player-wrapper.featured-asset .tve-help:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  bottom: -1px;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 106 !important;
}
.video-auth-player-wrapper.featured-asset .tve-help:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid #4b4b4b;
  border-right: 14px solid transparent;
  bottom: 0;
  top: auto;
  left: 16%;
  right: auto;
  z-index: 105 !important;
}
#video-container .file-video-mpx {
  line-height: 0;
  position: relative;
}
.video-auth-player-wrapper.featured-asset .video-player-wrapper {
  float: none;
  margin: 0;
}
#microsite .featured-asset .video-player-wrapper {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  height: calc((80vw - 320px) * 0.5625);
  max-height: 551px;
  margin-right: 0;
  margin-bottom: 4px;
}
#microsite .file-video-mpx.view-mode-inline_content iframe,
#microsite .featured-asset .video-player-wrapper iframe {
  width: 100%;
  height: calc(56.26% * 1px);
}
#video-container .error-message {
  display: none;
  line-height: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#microsite #videos .full-desc {
  margin-bottom: 90px;
}
/* video-filter */


#videos .filter-wrapper {
  margin: 0 auto;
  opacity: 0;
}
#video-filter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#video-filter .filter-label {
  display: none;
}
#video-filter ul {
  display: block;
  white-space: pre-line;
}
#video-filter li.filter-item {
  display: inline-block;
  margin: 1% 7% 1% 0;
  padding: 0;
  font-size: 26px;
  line-height: 1.2;
  height: initial;
  color: #55452A;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: transparent;
}
#video-filter li.filter-item:last-child {
  margin-right: 0;
}
#video-filter li.filter-item p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#video-filter li.filter-item:hover,
#video-filter li.filter-item.active {
  text-decoration: underline;
}
#video-filter li.filter-item .item-list {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
}
#video-filter li.filter-item .item-list ul {
  display: block;
  width: 100%;
}
#video-filter li.filter-item:hover .item-list {
  display: block;
}
#video-filter li.filter-item.hide:hover .item-list,
#video-filter li.filter-item.hide .item-list {
  display: none;
}
#video-filter li.filter-child-item {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #68000B;
  margin: 0;
  padding: 8px 0;
  color: #FFF;
}
#video-filter li.filter-child-item:hover {
  color: #FFE476;
}

/* button more / close */
#thumbnail-list .thumbnail.hidden {
  display: none;
}
#microsite #videos .expandable-toggle-wrap {
  display: none;
}
#microsite #videos .expandable-toggle-wrap.active,
#microsite #videos .expandable-toggle-wrap.spoiler {
  display: block;
  margin-bottom: 60px;
  margin-left: 0;
}
#microsite #videos .expandable-toggle-wrap ul li {
  margin: 0;
}


#mobileVideoModal {
  z-index: 10500;
}


/* right pane */
#video-item-list-wrapper ul {
  max-height: 622px;
  text-align: left;
  overflow-y: auto;
}
#video-item-list-wrapper li {
  display: inline-block;
  width: 31.3%;
  min-height: 111px;
  margin: 0 1% 6% 0;
  color: #55452A;
  vertical-align: top;
}
#video-item-list-wrapper li:nth-child(3n) {
  margin-right: 0;
}
#videos .block-usanetwork-mpx-video .view .file,
#videos #block-views-usa-mpx-video-fullepisodes-live .view .file {
  border: 0 solid transparent;
}
#videos .asset-img {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  box-sizing: border-box;
}
.video-nav-img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 56.25%;
  border: 3px solid transparent;
}
#video-item-list-wrapper li.active .video-nav-img {
  border: 3px solid #9BCEEE;
}
.video-nav-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
}
#videos #video-item-list-wrapper li.thumbnail .meta-wrapper {
  padding: 3px 0 0 3px;
}
#video-item-list-wrapper .field-name-field-mpx-title {
  height: 3.5em;
  font-family: "avalonregular", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
#video-item-list-wrapper .field-name-field-mpx-title h4 {
  color: #55452A;
  text-align: left;
  text-transform: none;
  font-family: "avalonregular", sans-serif !important;
  font-size: 15px !important;
  line-height: 1.2 !important;
  margin: 0;
}
/* get rid of "key" icon */
#videos .block-usanetwork-mpx-video .view .file.tve-video-auth > a:after,
#videos #block-views-usa-mpx-video-fullepisodes-live .view .file.tve-video-auth > a:after {
  display: none;
}
/* get rid of grey "key" icon background */
#videos .block-usanetwork-mpx-video .view .file.tve-video-auth .asset-img:after,
#videos #block-views-usa-mpx-video-fullepisodes-live .view .file.tve-video-auth .asset-img:after {
  display: none;
}
/* get rid of play button */
#videos .full-video-icon-default {
  display: none;
  background-image: none;
}
#video-item-list-wrapper a,
#video-item-list-wrapper a:link,
#video-item-list-wrapper a:visited,
#video-item-list-wrapper a:hover,
#video-item-list-wrapper a:active {
  color: #55452A;
  text-decoration: none;
}

/* LOADER */
#video-loader {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 80vw;
  height: 60vw;
  margin: 0 0 0 -40vw;
}
#video-loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/sites/usanetwork/themes/aurora_usa/images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: center;
  opacity: 1;
}

/* BEGIN MEDIA BREAKPOINTS */
@media (min-width: 1780px) {
  #microsite #videos .expandable-toggle-wrap {
    width: 1000px;
  }
}

@media (min-width: 1280px) {
  #video-container .featured-asset .tve-help {
    font-size: 20px;
    line-height: 30px;
    height: 523px;
    width: 100%;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset .tve-help .tve-close {
    font-size: 20px;
    line-height: 30px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1275px)
  .featured-asset .tve-help {
    width: 100%;
  }
}

@media (min-width: 641px) {
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    left: 0;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset .tve-help .tve-download {
    font-size: 16px;
    line-height: 24px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg {
    top: 120px;
  }
  #video-container .featured-asset.file-video-mpx .locked-msg .first-line {
    font-size: 20px;
  }
}

@media (max-width: 1900px) {
  #video-filter li.filter-item {
    font-size: 1.3684210vw;
  }
}

@media (max-width: 1779px) {
  #microsite #videos .expandable-toggle-wrap {
    width: 930px;
  }
}

@media (max-width: 1280px) {
  #microsite #videos .expandable-toggle-wrap {
    width: 615px;
  }
  #microsite .block-usanetwork-mpx-video {
    float: left;
    width: 100%;
  }
  #ad_300x60_1,
  #ad_300x250 {
    float: right;
  }
  #video-container .featured-asset .tve-help .tve-msg {
    top: 14%;
  }
  #video-container .featured-asset .tve-help .tve-download {
    top: 17%;
  }
  #video-container .featured-asset .tve-help .tve-download-link {
    left: 0;
    top: 14%
  }
  #video-container .featured-asset .tve-help {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 346px;
  }
}

@media (max-width: 1174px) {
  #microsite .left-pane {
    width: 80vw;
    height: initial;
  }
  #microsite .right-pane {
    clear: left;
    margin-left: 0;
    width: 100%;
  }
  #microsite .featured-asset .video-player-wrapper,
  #microsite .featured-asset .video-player-wrapper .file-video-mpx {
    width: 100%;
    height: calc(80vw * 0.5625);
  }
  #microsite .video-player-desc {
    width: 100%;
  }
  #video-item-list-wrapper li,
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item {
    width: 18.7%;
  }
  #video-item-list-wrapper li:nth-child(3n),
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item:nth-child(3n) {
    margin-right: 1%;
  }
  #video-item-list-wrapper li:nth-child(5n),
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item:nth-child(5n) {
    margin-right: 0;
  }
  #video-item-list-wrapper .field-name-field-mpx-title h4 {
    font-size: 16px !important;
  }
}

@media (max-width: 1072px) {
  #video-filter li.filter-item {
    font-size: 14px;
    width: initial;
    margin-right: 7%;
  }
}

@media (max-width: 800px) {
  #video-item-list-wrapper li,
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item {
    width: 18%;
  }
}

@media (max-width: 700px) {
  #video-item-list-wrapper li,
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item {
    width: 31%;
  }
  #video-item-list-wrapper li:nth-child(3n),
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item:nth-child(3n) {
    margin-right: 0;
  }
  #video-item-list-wrapper li:nth-child(5n),
  #microsite .block-usanetwork-mpx-video .full-episodes li.grid-item:nth-child(5n) {
    margin-right: 1%;
  }
  #video-item-list-wrapper .field-name-field-mpx-title h4 {
    font-size: 15px !important;
  }
}

@media (max-width: 750px) and (orientation: landscape) {
  body #mobileVideoModal {
    width: 64%;
    margin-left: -32%;
  }
}
