.node-type-usanetwork-aspot {
  #home_page_aspot_preview,
  #show_aspot_preview,
  #default_aspot_preview {
    @include breakpoint($bp-min-2500-width) {
      margin: 0 auto;
      max-width: 2500px;
    }
    h2 {
      color: #000000;
      padding: 0 10px;
    }
  }

  #home_page_aspot_preview,
  #show_aspot_preview {
    .slide {
      position: relative;
    }
    .aspot-violator {
      color: white;
      font-size: get-vw(15px, 1280);
      font-family: $fira-sans-regular;
      line-height: 1.5;
      letter-spacing: get-vw(0.7px, 1280);
      padding: get-vw(3px, 1280) get-vw(7px, 1280) 0;
      text-transform: uppercase;
      text-align: center;
      width: auto;
      @include breakpoint($bp-min-1601-width) {
        font-size: 18.75px;
        letter-spacing: 0.7px;
        padding: 3px 8.75px 0;
      }
      @include breakpoint($bp-768-width) {
        font-size: get-vw(12px, 768);
      }
      @include breakpoint($bp-640-width) {
        font-size: get-vw(15px, 640);
        letter-spacing: get-vw(0.7px, 640);
        padding: get-vw(3px, 640) get-vw(7px, 640) 0;
      }
      strong, b, i {
        font-family: $fira-sans-medium;
      }
    }
  }
  #show_aspot_preview {
    &:not(.show-new-design) {
      .slide {
        width: 77.77778%;
        @include breakpoint($bp-640-width) {
          width: 100%;
        }
      }
    }
    &.show-new-design {
      background: none !important;
      .slide {
        position: relative;
        height: get-vw(523px, 1280);
        width: 75.6%;
        max-width: 1179px;
        z-index: 1;
        @include breakpoint($bp-min-1601-width) {
          height: 653.75px;
        }
        @include breakpoint($bp-768-width) {
          padding-top: 56.25%;
          height: 0;
          position: relative;
          width: 100%;
        }
      }
      .wrp, .node, .asset-img, .asset-img img {
        @include breakpoint($bp-min-769-width) {
          height: 100%;
          width: 100%;
        }
      }
      .wrp {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
      }
      .meta-wrap {
        position: static;
        .aspot-draggable-element {
          box-sizing: border-box;
        }
        .title_prefix, .start {
          color: #ffffff;
          font-family: $tex-gyreschola-italic;
          font-size: get-vw(17.6px, 1600);
          line-height: 1;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          text-shadow: 0 0.1em rgba(0,0,0,0.5);
          @include breakpoint($bp-min-1601-width) {
            font-size: 17.6px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 2.7vw;
          }
          p {
            margin: 0;
            text-shadow: 0 0.1em rgba(0,0,0,0.5);
          }
        }
        .title_prefix {
          @include aspotFonts(1px, 8.08px, 11.28px);
          @include aspotShowFonts(1px, 1.08px, 4.28px, true);
        }
        .title {
          color: #ffffff;
          font-family: $fira-sans-regular;
          font-size: get-vw(96px, 1600);
          letter-spacing: 0.04em;
          line-height: 0.98;
          margin: 0;
          text-shadow: 0 0.04em rgba(0,0,0,0.5);
          text-transform: uppercase;
          @include breakpoint($bp-min-1601-width) {
            font-size: 96px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 10.4vw;
          }
          @include aspotFonts(4px, 52.8px, 42.56px);
          @include aspotShowFonts(4px, 24.8px, 14.56px, true);
          p {
            margin: 0;
            text-shadow: 0 0.04em rgba(0,0,0,0.5);
          }
        }
        .aspot-description {
          color: #ffffff;
          font-family: $fira-sans-regular;
          font-size: get-vw(24px, 1280);
          letter-spacing: 0.05em;
          line-height: 1;
          margin: 0;
          text-transform: none;
          text-shadow: 0 0.1em rgba(0,0,0,0.5);
          @include breakpoint($bp-min-1601-width) {
            font-size: 30px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 3.125vw;
          }
          @include aspotFonts(1.5px, 15px, 11px);
          @include aspotShowFonts(1.5px, 4.5px, 0.5px, true);
          p {
            margin: 0;
            text-shadow: 0 0.1em rgba(0,0,0,0.5);
          }
        }
        .cta-link {
          position: relative;
          text-shadow: 0 0.1em rgba(0,0,0,0.5);
          &:not(.cta_button_0) {
            @include breakpoint($bp-640-width) {
              display: none!important;
            }
            a {
              background: none !important;
            }
          }
          &.cta_button_0 {
            a {
              font-size: get-vw(23px, 1280);
              padding: 0 get-vw(27px, 1280) 0 0;
              @include breakpoint($bp-min-1601-width) {
                font-size: 28.75px;
                padding: 0 33.75px 0 0;
              }
              @include breakpoint($between-641-768) {
                font-size: get-vw(18.6px, 768);
                padding: 0 get-vw(21.85px, 768) 0 0;
              }
              @include breakpoint($bp-640-width) {
                font-size: get-vw(23px, 640);
                padding: 0 get-vw(27px, 640) 0 0;
              }
              &:before {
                @include breakpoint($bp-min-641-width) {
                  border: 1px dotted currentColor;
                  bottom: get-vw(-10.6px, 1280);
                  color: inherit;
                  content: '';
                  display: block;
                  left: 0;
                  position: absolute;
                  width: 40%;
                }
                @include breakpoint($between-641-768) {
                  bottom: get-vw(-8.56px, 768);
                }
                @include breakpoint($bp-min-1601-width) {
                  bottom: -13.25px;
                }
              }
              &:after {
                color: inherit;
                content: "\e608";
                display: block;
                font-family: $ico-font;
                font-size: get-vw(18px, 1280);
                line-height: 1;
                position: absolute;
                margin-top: get-vw(-9px, 1280);
                right: 0;
                top: 50%;
                @include breakpoint($bp-min-1601-width) {
                  font-size: 22.5px;
                  margin-top: -11.25px;
                }
                @include breakpoint($between-641-768) {
                  font-size: get-vw(14.6px, 768);
                  margin-top: get-vw(-7.3px, 768);
                }
                @include breakpoint($bp-640-width) {
                  font-size: get-vw(18px, 640);
                  margin-top: get-vw(-9px, 640);
                }
              }
            }
          }
          a {
            background: none;
            color: $usa-episode-title;
            display: block;
            font-family: $fira-sans-regular;
            font-size: get-vw(16px, 1280);
            letter-spacing: 0.23em;
            line-height: 2.1;
            outline: none;
            padding: 0 get-vw(18px, 1280) 0 0;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            @include breakpoint($bp-min-1601-width) {
              font-size: 20px;
              padding: 0 22.5px 0 0;
            }
            @include breakpoint($between-641-768) {
              font-size: get-vw(14.2px, 768);
              padding-right: get-vw(13px, 768);
            }
            @include breakpoint($bp-640-width) {
              font-size: get-vw(16px, 640);
              padding: 0 get-vw(18px, 640) 0 0;
            }
            span {
              &:after {
                color: inherit;
                content: "\e608";
                display: block;
                font-family: $ico-font;
                font-size: get-vw(12px, 1280);
                line-height: 1;
                position: absolute;
                margin-top: get-vw(-6px, 1280);
                right: 0;
                top: 50%;
                @include breakpoint($bp-min-1601-width) {
                  font-size: 15px;
                  margin-top: -7.5px;
                }
                @include breakpoint($between-641-768) {
                  font-size: get-vw(9.7px, 768);
                  margin-top: get-vw(-6.14px, 768);
                }
                @include breakpoint($bp-640-width) {
                  font-size: get-vw(12px, 640);
                  margin-top: get-vw(-6px, 640);
                }
              }
            }
          }
        }
        .aspot-violator {
          // add preview changes aurora_usa/sass/design/modules/_a-spot-preview.scss
          color: white;
          font-size: get-vw(15px, 1280);
          font-family: $fira-sans-regular;
          line-height: 1.5;
          letter-spacing: get-vw(0.7px, 1280);
          padding: get-vw(3px, 1280) get-vw(7px, 1280) 0;
          text-transform: uppercase;
          text-align: center;
          width: auto;
          @include breakpoint($bp-min-1601-width) {
            font-size: 18.75px;
            letter-spacing: 0.7px;
            padding: 3px 8.75px 0;
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(12px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(15px, 640);
            letter-spacing: get-vw(0.7px, 640);
            padding: get-vw(3px, 640) get-vw(7px, 640) 0;
          }
          strong, b, i {
            font-family: $fira-sans-medium;
          }
        }
      }
    }
  }
  #default_aspot_preview {
    max-width: 1245px;
  }
}
