.usa-adrails {
  .usa-wrap {
    max-width: 1000px;   
    .panel-wrapper {
      position: relative;
    }
    #main,
    .flexslider {
      max-width: 1000px;
    }
  }
}
.usa-wrap {
  background-color: $black;
  padding-top: 50px;
}

.usa-adrails[data-menu-position="closed"] {
  .usa-wrap {
    margin: 0 auto;
  }
}

.ad-leaderboard {
  text-align: center;
  padding: 10px 0 0;
  line-height: 1em;
  body:not(.front) & {
    margin-bottom: 10px;
  }
  @include breakpoint($bp-ad-leaderboard-med-width) {
    padding-bottom: 10px;
    height: auto;
    body:not(.front) & {
      margin-bottom: 0;
    }  
  }
  .usa-adrails & {
    padding-top: 0;
    position: relative;
    z-index: 0;
  }
}


#head-sponsored {
  display: none;
  float: right;
  margin: -1px 12px 0 0;
  @include breakpoint($bp-on-now) {
    display: block;
  }
}
