.page-videos-live{
  #blackout-slate {
    background: url('../images/live-player/USA_NHL_SLATE.jpg');
    background-size: cover;
    display : table;
    overflow : hidden;
    height : 100%;
    width : 100%
  }
}
