body {
  &.blog {
    .panel-display {
      width: 945px;
      margin: 0 auto;
      @include breakpoint($bp-menu-narrow) {
        width: 100%;
      }
      .panel-col-first {
        width: 645px;
        @include breakpoint($bp-menu-narrow) {
          width: 100%;
        }
        .inside {
          margin-right: 30px;
          @include breakpoint($bp-menu-narrow) {
            margin-right: 0;
          }
          .taxonomy-term-description {
            @include breakpoint($bp-menu-narrow) {
              display: none;
            }
            p {
              margin-top: 0;
            }
          }
        }
      }
      .panel-col-last {
        width: 300px;
        @include breakpoint($bp-menu-narrow) {
          width: 610px;
          margin: 0 auto;
          float: none;
          clear: both;
          .inside {
            &:after {
              clear: both;
              content: " ";
              display: table-cell;
            }
          }
          .panel-pane {
            width: 300px;
            float: left;
            clear: left;
            &:nth-of-type(2n + 2) {
              margin-left: 10px;
              clear: none;
            }
          }
        }
        @include breakpoint($bp-blog-mobile) {
          width: 300px;
        }
        .inside {
          margin-left: 0;
        }

        .panel-pane {
          border-bottom: 3px solid $gray-med-dark;
          padding-bottom: 10px;
          margin-bottom: 10px;

          @include breakpoint($bp-blog-mobile) {
            &:nth-of-type(2n + 2) {
              margin-left: 0;
            }
          }

          .dart-name-300x250_scr {
            max-height: 250px;
            overflow: hidden;
          }

          p {
            margin-top: 0;
          }

          h2 {
            &.pane-title {
              @extend %regular-headline;
              font-size: 28px;
              margin: 10px 0;
              text-transform: lowercase;
              border-bottom: 3px solid $gray-med-dark;
              padding-bottom: 10px;
            }
          }

          .view-display-id-most_popular {
            .views-row {
              @extend %regular-headline;
              font-size: 16px;
              &:after {
                clear: both;
                content: "";
                display: table;
              }
              .field-name-field-post-cover {
                float: left;
                margin: 0 10px 10px 0;
              }
              .views-field-title {
                @extend %semi-headline;
              }
              .views-field-created {
                margin-top: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .file-video-mpx {
        &.view-mode-inline_content {
          iframe {
            width: 615px;
            height: 345px;
            @include breakpoint($bp-blog-mobile) {
              width: 300px;
              height: 168px;
            }
          }
        }
      }
    }

    .view-display-id-blog_content {
      .views-row {
        border-bottom: 3px solid $gray-med-dark;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }
    }
  }
}

.node {
  &.node-post {
    @extend %semi-headline;
    font-size: 16px;
    .field-name-body {
      margin-bottom: 40px;
    }
    .field-name-post-date {
      @extend %semi-headline-14;
      text-transform: uppercase;
      color: $blue;
    }
    .field-name-title {
      h2 {
        @extend %bold;
        font-size: 37px;
        line-height: initial;
        text-transform: uppercase;
        margin: 15px 0;
        @include breakpoint($bp-menu-narrow) {
          font-size: 27px;
        }
      }
    }
    .field-name-field-summary {
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 40px;
    }
    .gig-comments-container {
      clear: both;
      width: 100% !important;
      margin: 10px 0;
    }
    .field-name-field-gigya-share-bar {
      float: right;
      margin: -10px 0 10px 0;
      @include breakpoint($bp-menu-narrow) {
        float: none;
      }
    }
    p {
      margin: 16px 0;
    }
  }
}

$blue-hampton: #499ad2;

body {
  &.blog {
    color: #000000;
    .usa-wrap {
      background-color: #ffffff;
    }
    .region-content {
      a {
        @include link-colors($blue-hampton, $black, $blue-hampton, $blue-hampton, $blue-hampton);
      }
    }

    .panel-display {
      @include breakpoint($bp-menu-narrow) {
        min-width: 297px;
      }
      .panel-col-top {
        margin-bottom: 30px;
        width: 100%;
        h1 {
          @extend %semi-headline;
          font-size: 58px;
          line-height: 58px;
          text-transform: uppercase;
          color: $blue-hampton;
          span {
            color: $black;
          }
        }
        .inside {
          margin: 0 auto;
          position: relative;
          min-height: 135px;
          .blog-header {
            .blog-logo {
              display: block;
              float: left;
              width: 80px;
              height: 75px;
              margin: 13px 16px 3px 3px;
              background: url("../images/assets/blog/hamptons_logo.png") scroll 0 0 no-repeat transparent;
              @include breakpoint($bp-menu-narrow) {
                display: none;
              }
            }
            .blog-title {
              display: block;
              float: left;
              width: 835px;
              height: 49px;
              margin: 22px 0 0 0;
              background: url("../images/assets/blog/hamptons_header.png") scroll 0 0 no-repeat transparent;
              overflow: hidden;
              padding-top: 49px;
              @include breakpoint($bp-menu-narrow) {
                width: 100%;
                padding-top: 24%;
                margin-bottom: 8px;
                background: url("../images/assets/blog/hamptons_header_mobile.png") scroll 0 0 no-repeat transparent;
                background-size: contain;
              }
            }
            .category-menu {
              clear: both;
              border-color: #000000;
              border-style: solid;
              border-width: 1px 0 1px;
              margin-top: 3px;
              @include breakpoint($bp-menu-narrow) {
                border: none;
                > .item-list {
                  position: relative;
                  > .filter-menu {
                    position: absolute;
                    display: none;
                    top: 54px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                  }
                  &.open {
                    > .filter-menu {
                      display: block;
                    }
                  }
                }
              }
              > .item-list {
                &:after {
                  clear: both;
                  content: " ";
                  display: table;
                }
              }
              ul {
                margin: 0;
                li {
                  list-style: none;
                  float: left;
                  margin: 6px 0 6px 19px;
                  padding: 4px 19px 0 0;
                  border-right: 2px solid #749eb6;
                  color: #163969;
                  text-transform: uppercase;
                  font-family: $headline-semi-condensed;
                  font-size: 20px;
                  line-height: 25px;
                  @include breakpoint($bp-menu-narrow) {
                    font-size: 17px;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    float: none;
                    background-color: #062e62;
                    color: #ffffff;
                    border-right: none;
                    &:hover {
                      background-color: $blue-hampton;
                    }
                  }
                  &.last {
                    border-right: none;
                  }
                  a {
                    @include link-colors(#163969, $black, #163969, #163969, #163969);
                    @include breakpoint($bp-menu-narrow) {
                      display: block;
                      padding: 15px;
                      width: 100%;
                      @include link-colors($white, $white, $white, $white, $white);
                    }
                  }
                  &.active,
                  &.active-trail,
                  a.active {
                    font-family: $headline-bold-condensed;
                    line-height: 24px;
                  }
                  .item-list {
                    display: none;
                  }
                }
              }
              .menu-label {
                display: none;
                font-family: $headline-semi-condensed;
                text-transform: uppercase;
                font-size: 17px;
                position: relative;
                &:after,
                &:hover:after {
                  position: absolute;
                  right: 10px;
                  top: 23px;
                  left: auto;
                  @extend %usanetwork-font;
                  font-size: 11px;
                  content: "\e000";
                  color: $white;
                }
                @include breakpoint($bp-menu-narrow) {
                  display: block;
                  padding: 15px;
                  width: 100%;
                  background-color: #062e62;
                  color: $white;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .panel-col-last {
        .panel-pane {
          border-bottom: none;

          h2 {
            &.pane-title {
              color: $blue-hampton;
              border-bottom-color: $blue-hampton;
            }
          }
          .blog-banners {
            p {
              margin-bottom: 20px;
              img {
                vertical-align: top;
              }
            }
          }
        }

        .view-display-id-most_popular {
          .views-row {
            .views-field-title {
              a {
                @include link-colors($black, $blue-hampton, $black, $black, $black);
              }
            }
            .views-field-created {
              color: $blue-hampton;
            }
          }
        }
      }
    }

    .view-display-id-blog_content {
      .views-row {
        border-bottom: 1px solid $beige;
      }
    }
  }
}

.node {
  &.node-post {
    &.node-teaser {
      .field-name-title {
        h2 {
          a {
            @include link-colors($black, $blue-hampton, $black, $black, $black);
          }
        }
      }
    }

    .field-name-post-date {
      color: $blue-hampton;
      @include breakpoint($bp-menu-narrow) {
        display: none;
      }
    }
    .flexslider {
      .counter {
        color: #4e99d0;
      }
    }
  }
}