.carousel {
  position: relative;
  @include breakpoint($bp-carousel-smallest) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .item-list {
    height: 188px;
    overflow: hidden;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li.carousel-item {
    padding: 0;
    margin: 0 15px 0 0;
  }
  .carousel-item-wrapper {
    position: relative;
  }

}

.carousel-item {
  float: left;
  display: block;
  overflow: hidden;
}

%carousel-item-center {
  @extend .carousel-item;
  text-align: center;
}

.carousel-btns {
  .touch & {
    display: none;
  }
  .btns {
    @extend %usanetwork-font;
    color: $gray-darker-light;
    font-size: 2.35em;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 39%;
    z-index: 96;
    .ie9 &, .ie8 & {
      @extend .icons-gray-arrow-left;
      width: 25px;
      height: 33px;
      text-indent: -9999px;
    }
    &:hover {
      color: $gray-light;
    }
    &.next {
      left: auto;
      right: 0;
      .ie9 &, .ie8 & {
        @extend .icons-gray-arrow-right;
      }
    }
  }
}




