.node-type-catchall-page {
  #block-system-main {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 16px;
  }
}

.consumptionator-page {
  background-color: $consum-back;
  .usa-wrap{
    background: none;
  }
}
.consumptionator-page.consumptionator-guide,
.consumptionator-page.consumptionator-blog {
  header, .blog-block, .guide-block {
    background-color: $poll-back;
  }
}

.related-content-block {
  @include clear();
  background: #000000;
  border-bottom: 2px solid;
  margin-bottom: 100px;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1901-width) {
    margin-bottom: 190px;
  }
  @include breakpoint($bp-480-width) {
    padding: 40px 10px;
  }
  ul {
    @include clear();
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    li {
      float: left;
      height: 25.4vw;
      margin-bottom: 1.47vw;
      margin-right: 1.6%;
      overflow: hidden;
      position: relative;
      width: 49.2%;
      @include breakpoint($bp-min-641-width) {
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(n+5){
          margin-bottom: 0;
        }
      }
      @include breakpoint($bp-640-width) {
        height: 51.6vw;
        margin-bottom: 2px;
        margin-right: 0;
        width: 100%;
        &:last-child, &.last {
          margin-bottom: 0;
        }
      }
      > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
      }
      @extend %social-promo;
      @extend %show-latest-promo;
      @extend %meta;
    }
  }
  .related-ad {
    background: $video-promo-back-gray;
    height: 90px;
    margin: 16px auto;
    width: 728px;
    @include breakpoint($bp-768-width) {
      height: auto;
      min-height: 50px;
      max-height: 90px;
      max-width: 728px;
      width: 100%;
    }
    @include breakpoint($bp-640-width) {
      height: 50px;
      margin: 1.47vw auto;
      max-width: 100%;
      width: 300px;
    }
  }
}

.more-bottom-button {
  bottom: 25px;
  display: block;
  height: 13px;
  line-height: 13px;
  overflow: hidden;
  position: relative;
  margin: 80px auto;
  width: 23px;
  &:before {
    content: "\e609";
    color: #ffffff;
    font-family: $ico-font;
    font-size: 23px;
    display: block;
  }
  @include breakpoint($bp-480-width) {
    bottom: -30px;
  }
  &.active {
    &:before {
      content: "\e60a";
    }
  }
}

//help functional
.loader {
  margin: 80px auto;
  width: 32px;
  display: block;
}

.slide-overlay {
  img {
    visibility: hidden;
  }
  .consum-loader {
    display: block;
    height: 32px!important;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    visibility: visible;
    width: 32px!important;
  }
  .advert, .ad-728x90 {
    position: relative;
  }
}
