.consumptionator-characters-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  .character-info-block {
    float: left;
    position: relative;
    width: 74.7%;
    @include breakpoint($bp-1280-width) {
      width: 100%;
    }
  }
  .consum-sidebar {
    @include breakpoint($bp-1280-width) {
      height: auto;
      padding: 0;
      position: relative;
      width: 100%;
    }
    .items-block {
      @include breakpoint($bp-min-1281-width) {
        height: 420px;
      }
      @include breakpoint($bp-min-1901-width) {
        height: 645px;
      }
    }
    .advert {
      @include breakpoint($bp-1280-width) {
        bottom: calc(100% + 50px);
        position: absolute;
      }
    }
  }
}