.consumptionator-page, .node-type-media-gallery {
  .gallery-block {
    @include clear;
    margin: 0;
    max-width: 2260px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      height: 42.01875vw;
    }
    @include breakpoint($between-1025-1280) {
      height: calc((100vw - 320px)*0.5625);
      margin-bottom: calc((100vw - 4px)/48*9 + 60px);
      overflow: visible;
    }
    @include breakpoint($bp-1024-width) {
      height: auto;
    }
    .gallery-wrapper {
      float: left;
      height: 100%;
      position: relative;
      width: 74.7%;
      @include breakpoint($between-1025-1280) {
        width: calc(100% - 320px);
        z-index: 2;
      }
      @include breakpoint($bp-1024-width) {
        height: 56.25vw;
        width: 100%;
      }
      > .node {
        height: 100%;
        width: 100%;
      }
      .bx-wrapper {
        position: relative;
        &:hover {
          .bx-viewport {
            .bxslider-gallery {
              .slide {
                .node {
                  .slide-info {
                    display: block;
                  }
                }
              }
            }
          }
          .bx-controls {
            .bx-custom-pager {
              @include breakpoint($bp-min-769-width) {
                display: block;
              }
            }
          }
        }
        .bx-viewport {
          .bxslider-gallery {
            .slide {
              background: $usa-logo-back;
              position: relative;
              .node {
                &.end-cart {
                  a.link-next-gallery {
                    display: block;
                    margin: 15px 22% 120px 10px;
                  }
                  .end-cart-info-wrapper {
                    height: 100%;
                    right: 0;
                    position: absolute;
                    top: 0;
                    width: 20%;
                    .end-cart-info-wrapper-inner {
                      display: table;
                      height: 100%;
                      padding-bottom: 115px;
                      padding-right: 70px;
                      position: relative;
                      .end-cart-info {
                        display: table-cell;
                        vertical-align: middle;
                        .next {
                          color: #ffffff;
                          font-size: 24px;
                          font-family: $avalon-demi;
                          margin-bottom: 35px;
                          text-transform: uppercase;
                        }
                        .title {
                          a {
                            color: #ffffff;
                            font-size: 24px;
                            font-family: $avalon-medium;
                            line-height: 1.3;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            text-decoration: none;
                          }
                        }
                        .additional {
                          color: #ffffff;
                          font-size: 14px;
                          font-family: $tex-gyreschola-italic;
                          line-height: 1;
                          text-transform: uppercase;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                        }
                      }
                    }
                  }
                  .slide-info {
                    display: block;
                    .description {
                      padding-right: 120px;
                    }
                  }
                }
                .slide-info {
                  display: none;
                  background: rgba(0, 0, 0, 0.5);
                  bottom: 0;
                  left: 0;
                  height: 105px;
                  width: 100%;
                  position: absolute;
                  @include breakpoint($bp-768-width) {
                    display: block;
                  }
                  .secondary-meta {
                    color: #cdcac8;
                    font-size: 16px;
                    font-family: $avalon-medium;
                    line-height: 28px;
                    left: 0;
                    padding: 0 130px 0 30px;
                    position: absolute;
                    text-align: center;
                    top: -30px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    span {
                      background: rgba(0, 0, 0, 0.6);
                      padding: 0 70px;
                      @include breakpoint($bp-1024-width) {
                        padding: 0 35px;
                      }
                    }
                  }
                  .description {
                    color: $free-full-episodes;
                    font-size: 15px;
                    font-family: $avalon-demi;
                    line-height: 21px;
                    left: 0;
                    height: 42px;
                    overflow: hidden;
                    margin-top: -30px;
                    padding-left: 30px;
                    padding-right: 350px;
                    position: absolute;
                    text-overflow: ellipsis;
                    top: 50%;
                    width: 100%;
                    @include breakpoint($bp-640-width) {
                      padding-right: 190px;
                    }
                  }
                  .social-bar {
                    right: 120px;
                    margin-top: -25px;
                    position: absolute;
                    top: 50%;
                    width: 160px;
                    @include breakpoint($bp-640-width) {
                      display: none;
                    }
                    .social-title {
                      color: $free-full-episodes;
                      font-size: 14px;
                      font-family: $avalon-book;
                      line-height: 20px;
                      margin-bottom: 10px;
                      text-transform: uppercase;
                    }
                    .icons-block {
                      @include clear;
                      height: 100%;
                      width: 100%;
                      a {
                        margin: 0 15px 0 0;
                        &:last-child {
                          margin-right: 0;
                        }
                        &:before {
                          color: $free-full-episodes;
                          font-size: 20px;
                          line-height: 20px;
                        }
                      }
                    }
                  }
                  .slider-counter {
                    bottom: 15px;
                    color: #817e7d;
                    font-size: 13px;
                    font-family: $tex-gyreschola-italic;
                    left: 30px;
                    position: absolute;
                    text-transform: uppercase;
                    max-width: 50%;
                    span {
                      font-size: 14px;
                      font-family: $avalon-demi;
                    }
                  }
                }
              }
            }
          }
        }
        .bx-controls {
          .bx-custom-pager {
            display: none;
            right: 0;
            // height: 315px;
            //margin-top: -157.5px;
            overflow: hidden;
            padding: 15px 0;
            position: absolute;
            top: 50%;
            z-index: 51;
            &:hover {
              width: 130px;
            }
            @include breakpoint($bp-768-width) {
              display: none;
            }
            .bx-pager-item {
              margin: 0 15px 15px auto;
              position: relative;
              height: 15px;
              width: 15px;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                background: #000000;
                //background: #5f5851;
                border-radius: 50%;
                display: block;
                margin-left: auto;
                position: relative;
                height: 15px;
                width: 15px;
                &.active {
                  background: #ffffff;
                  //background: #958f88;
                }
                &:hover {
                  img {
                    display: block;
                    left: -100px;
                    margin-top: -24px;
                    position: absolute;
                    top: 50%;
                    width: 85px;
                    max-width: 85px;
                    z-index: 125;
                  }
                }
                img {
                  display: none;
                }
              }
            }
          }
          .bx-controls-direction {
            @include clear;
            bottom: 25px;
            right: 15px;
            position: absolute;
            z-index: 51;
            @include breakpoint($bp-640-width) {
              //display: none;
            }
            a {
              color: #ffffff;
              display: block;
              float: left;
              position: relative;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              height: 30px;
              width: 30px;
              &:hover {
                background: none;
              }
              &:focus {
                outline: none;
              }
              &.disabled {
                visibility: hidden;
              }
              &:after {
                display: block;
                font-family: "ico-font";
                font-size: 30px;
                line-height: normal;
                position: absolute;
                right: 0;
                top: 0;
              }
              &:last-child {
                margin-left: 10px;
              }
              &.bx-prev {
                margin-bottom: 11px;
                &:after {
                  content: "\e607";
                }
              }
              &.bx-next {
                &:after {
                  content: "\e608";
                }
              }
            }
          }
        }
      }
    }
  }
}
