.node-type-catchall-page {
  .block-system {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.consumptionator-page {
  background-color: $consum-back;
  .usa-wrap{
    background: none;
  }
}
.consumptionator-page.consumptionator-guide,
.consumptionator-page.consumptionator-blog {
  header, .blog-block, .guide-block {
    background-color: $poll-back;
  }
}

.consum-sidebar {
  background: $consum-back;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 25.3%;
  @include breakpoint($between-1025-1280) {
    height: 100%;
    overflow: visible;
    padding-left: calc(100% - 320px);
    position: absolute;
    width: 100%;
  }
  @include breakpoint($bp-1024-width) {
    height: auto;
    width: 100%;
  }
  .advert {
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      height: 23.4vw;
      padding: calc((23.4vw - 250px)/2) 0;
    }
    @include breakpoint($between-1025-1280) {
      height: 250px;
      padding: 0;
      margin-left: 10px;
      width: 300px;
    }
    @include breakpoint($bp-1024-width) {
      display: block;
      height: auto;
      float: right;
      margin: 10px 10px 10px 0;
      width: 300px;
    }
    @include breakpoint($bp-768-width) {
      display: none;
    }
    .advertisement {
      background: $video-promo-back-gray;
      height: 250px;
      margin: 0 auto;
      width: 300px;
    }
  }
  .items-block {
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      height: calc(100% - 23.4vw);
    }
    @include breakpoint($between-1025-1280) {
      height: auto;
      right: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
    @include breakpoint($bp-1024-width) {
      height: calc(100% - 23.4vw);
    }
  }
  .items-block-title {
    background: $schedule-tonight;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      height: 70px;
      line-height: 70px;
    }
    @include breakpoint($between-1025-1280) {
      text-align: left;
    }
    @include breakpoint($bp-1024-width) {
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      text-align: left;
    }
    @include breakpoint($bp-640-width) {
      height: 100px;
      line-height: 100px;
    }
    @include breakpoint($bp-480-width) {
      height: 60px;
      line-height: 60px;
    }
    h2 {
      color: #ffffff;
      font-family: $avalon-demi;
      font-size: 15px;
      margin: 0;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        font-size: 23px;
      }
      @include breakpoint($bp-640-width) {
        font-size: 30px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 20px;
      }
    }
  }
  .episodes-list-slider {
    position: relative;
    &.vertical {
      display: block;
      height: calc(100% - 84px);
      @include breakpoint($bp-min-1901-width) {
        height: calc(100% - 140px);
      }
      @include breakpoint($bp-1280-width) {
        display: none;
      }
      ul, .bx-viewport, .bx-wrapper {
        height: 100%!important;
      }
      li {
        background: $consum-carousel-even;
        height: 75px;
        position: relative;
        width: 100%!important;
        @include breakpoint($bp-min-1901-width) {
          height: 115px;
        }
        &:nth-child(odd) {
          background: $consum-carousel-odd;
        }
        &:nth-child(even) {
          background: $consum-carousel-even;
        }
        > div {
          height: 100%;
          width: 100%;
        }
        a {
          height: 100%;
          width: 100%;
        }
        .asset-img {
          height: 50px;
          left: 4%;
          margin-top: -25px;
          position: absolute;
          top: 50%;
          width: 75px;
          &.active {
            border-left: 7px solid;
          }
          @include breakpoint($bp-min-1901-width) {
            height: 74px;
            margin-top: -37px;
            width: 111px;
          }
          img {
            height: 100%;
            width: 100%;
          }
          & ~ .meta-wrapper {
            .meta {
              padding-left: calc(8% + 75px);
              @include breakpoint($bp-min-1901-width) {
                padding-left: calc(8% + 111px);
              }
            }
          }
        }
        @extend %meta;
        .meta-wrapper {
          height: 100%;
          width: 100%;
          .meta-wrapper-inner {
            display: table;
            height: 100%;
            width: 100%;
          }
          .meta {
            color: $consum-carousel-text;
            padding-left: 4%;
            display: table-cell;
            max-width: 100px;
            vertical-align: middle;
            width: 100%;
            .caption {
              font-size: 10px;
              line-height: 13px;
            }
            .title {
              font-size: 15px;
              line-height: 18px;
              margin-bottom: 7px;
              @include breakpoint($bp-min-1901-width) {
                font-size: 23px;
                line-height: 28px;
                margin-bottom: 11px;
              }
            }
            .additional {
              font-family: $tex-gyreschola-italic;
              font-size: 10px;
              line-height: 13px;
              text-transform: uppercase;
              @include breakpoint($bp-min-1901-width) {
                font-size: 15px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
    &.horizontal {
      display: none;
      height: calc((100vw - 4px)/48*9);
      width: 100%;
      @include breakpoint($bp-1280-width) {
        display: block;
      }
      @include breakpoint($bp-640-width) {
        height: auto;
      }
      ul, .bx-viewport, .bx-wrapper {
        height: auto!important;
        @include breakpoint($bp-min-641-width) {
          height: 100%!important;
        }
      }
      li {
        float: left;
        margin-right: 2px;
        position: relative;
        height: 100%;
        width: 33%;
        @extend %aspot-carousel-promo;
        @include breakpoint($bp-640-width) {
          float: none;
          height: 56.25vw;
          width: 100%;
        }
      }
      .node {
        &.active {
          &:before {
            border-left: 7px solid;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 7px;
            z-index: 2;
          }
        }
      }
    }
  }
  .more-items {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include breakpoint($between-641-1280) {
      background: none!important;
    }
    @include breakpoint($bp-1280-width) {
      bottom: auto;
      left: auto;
      right: 10px;
      top: 100%;
      width: auto;
    }
    @include breakpoint($bp-1024-width) {
      top: 270px;
    }
    @include breakpoint($bp-640-width) {
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
    }
    & a {
      color: #ffffff;
      display: block;
      font-family: $avalon-demi;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 40px;
      padding-left: 25px;
      text-decoration: none;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        font-size: 23px;
        line-height: 70px;
      }
      @include breakpoint($bp-1280-width) {
        line-height: 45px;
        padding-left: 0px;
        padding-right: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
      @include breakpoint($bp-1024-width) {
        line-height: 60px;
      }
      @include breakpoint($bp-640-width) {
        font-size: 23px;
        line-height: 100px;
        padding-left: 30px;
        &:hover {
          text-decoration: none;
        }
      }
      @include breakpoint($bp-480-width) {
        line-height: 60px;
      }
      &:after {
        color: #ffffff;
        content: "\e608";
        display: block;
        font-family: $ico-font;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 5px;
        @include breakpoint($bp-min-1901-width) {
          font-size: 15px;
          line-height: 15px;
          right: 10px;
          margin-top: -7px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 15px;
          line-height: 15px;
          right: 10px;
          margin-top: -7px;
        }
      }
    }
  }
  .download-app {
    display: table;
    height: calc(100% - 250px);
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      display: none;
    }
    @include breakpoint($bp-1024-width) {
      height: 270px;
      width: calc(100% - 310px);
    }
    @include breakpoint($bp-768-width) {
      width: 100%;
    }
    .download-app-wrapper {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      background: #474747;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-radial-gradient(circle closest-side at 50% 35%, #474747 0%,#121212 140%);
      background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,#474747), color-stop(140%,#121212));
      background: -webkit-radial-gradient(circle closest-side at 50% 35%, #474747 0%,#121212 140%);
      background: -o-radial-gradient(circle closest-side at 50% 35%, #474747 0%,#121212 140%);
      background: -ms-radial-gradient(circle closest-side at 50% 35%, #474747 0%,#121212 140%);
      background: radial-gradient(circle closest-side at 50% 35%, #474747 0%,#121212 140%);
      @include breakpoint($between-1025-1280) {
        background: #474747;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,#474747), color-stop(175%,#121212));
        background: -webkit-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -o-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -ms-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
      }
      @include breakpoint($bp-1024-width) {
        background: #474747;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-radial-gradient(circle closest-side at calc(50% - 102px) 50%, #474747 0%,#121212 175%);
        background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,#474747), color-stop(175%,#121212));
        background: -webkit-radial-gradient(circle closest-side at calc(50% - 102px) 50%, #474747 0%,#121212 175%);
        background: -o-radial-gradient(circle closest-side at calc(50% - 102px) 50%, #474747 0%,#121212 175%);
        background: -ms-radial-gradient(circle closest-side at calc(50% - 102px) 50%, #474747 0%,#121212 175%);
        background: radial-gradient(circle closest-side at calc(50% - 102px) 50%, #474747 0%,#121212 175%);
      }
      @include breakpoint($bp-480-width) {
        background: #474747;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,#474747), color-stop(175%,#121212));
        background: -webkit-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -o-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: -ms-radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
        background: radial-gradient(circle closest-side at calc(50% - 75px) 50%, #474747 0%,#121212 175%);
      }
    }
    .image-block {
      background: url('../images/live-player-image.png') no-repeat;
      background-size: contain;
      height: 170px;
      margin: 0 auto;
      width: 188px;
      @include breakpoint($bp-min-1901-width) {
        height: 255px;
        width: 282px;
      }
      @include breakpoint($between-1025-1280) {
        float: left;
        height: 136px;
        margin-left: calc(50% - 150px);
        width: 150px;
      }
      @include breakpoint($bp-1024-width) {
        float: left;
        margin-left: calc(50% - 205px);
      }
      @include breakpoint($bp-480-width) {
        height: 136px;
        margin-left: calc(50% - 150px);
        width: 150px;
      }
    }
    .text-block {
      font-family: $avalon-medium;
      font-size: 16px;
      margin: 0 auto;
      max-width: 188px;
      @include breakpoint($bp-min-1901-width) {
        font-size: 20px;
        margin: 10px auto;
        max-width: 236px;
      }
      @include breakpoint($between-1025-1280) {
        font-size: 14px;
        margin-left: calc(50% + 10px);
        width: 150px;
      }
      @include breakpoint($bp-1024-width) {
        margin-left: calc(50% + 10px);
      }
      @include breakpoint($bp-480-width) {
        font-size: 14px;
        max-width: 150px;
      }
    }
    .download-button {
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      margin: 5px auto 0;
      padding: 10px 20px 10px 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 220px;
      &:after {
        color: #ffffff;
        content: "\e608";
        display: block;
        font-family: $ico-font;
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 5px;
        @include breakpoint($between-1025-1280) {
          font-size: 7px;
          line-height: 7px;
          margin-top: -4px;
          right: 4px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 10px;
          line-height: 10px;
          margin-top: -4px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 7px;
          line-height: 7px;
          margin-top: -4px;
          right: 4px;
        }
      }
      @include breakpoint($between-1025-1280) {
        font-size: 10px;
        margin-left: calc(50% + 10px);
        padding: 5px 10px 5px 5px;
        width: 130px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: 14px;
        margin-left: calc(50% + 10px);
        margin-top: 10px;
        width: 190px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 10px;
        padding: 5px 10px 5px 5px;
        width: 130px;
      }
    }
  }
}

.related-content-block {
  @include clear();
  background: #000000;
  border-bottom: 2px solid;
  margin-bottom: 100px;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1901-width) {
    margin-bottom: 190px;
  }
  @include breakpoint($bp-480-width) {
    padding: 40px 10px;
  }
  ul {
    @include clear();
    margin: 0 auto;
    max-width: 1868px;
    padding: 0;
    position: relative;
    width: 100%;
    li {
      float: left;
      height: 25.4vw;
      margin-bottom: 1.47vw;
      margin-right: 1.6%;
      overflow: hidden;
      position: relative;
      width: 49.2%;
      @include breakpoint($bp-min-641-width) {
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(n+5){
          margin-bottom: 0;
        }
      }
      @include breakpoint($bp-min-1901-width) {
        height: 483px;
        margin-bottom: 29px;
      }
      @include breakpoint($bp-640-width) {
        height: 51.6vw;
        margin-bottom: 2px;
        margin-right: 0;
        width: 100%;
        &:last-child, &.last {
          margin-bottom: 0;
        }
      }
      > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
      }
      @extend %social-promo;
      @extend %show-latest-promo;
      @extend %meta;
    }
  }
  .related-ad {
    background: $video-promo-back-gray;
    height: 90px;
    margin: 16px auto;
    width: 728px;
    @include breakpoint($bp-768-width) {
      height: auto;
      min-height: 50px;
      max-height: 90px;
      max-width: 728px;
      width: 100%;
    }
    @include breakpoint($bp-640-width) {
      height: 50px;
      margin: 1.47vw auto;
      max-width: 100%;
      width: 300px;
    }
  }
}

.more-bottom-button {
  bottom: 25px;
  display: block;
  height: 13px;
  line-height: 13px;
  overflow: hidden;
  position: relative;
  margin: 80px auto;
  width: 23px;
  &:before {
    content: "\e609";
    color: #ffffff;
    font-family: $ico-font;
    font-size: 23px;
    display: block;
  }
  @include breakpoint($bp-480-width) {
    bottom: -30px;
  }
  &.active {
    &:before {
      content: "\e60a";
    }
  }
}

//help functional
.loader {
  margin: 80px auto;
  width: 32px;
  display: block;
}

.slide-overlay {
  img {
    visibility: hidden;
  }
  .consum-loader {
    display: block;
    height: 32px!important;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    visibility: visible;
    width: 32px!important;
  }
  .advert, .ad-728x90 {
    position: relative;
  }
}
