@keyframes video-spinner {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

.consumptionator-video-page {
  .video-block {
    .player-wrapper {
      float: none !important;
    }
    .consum-sidebar {
      @include breakpoint($bp-min-1025-width) {
        float: none;
        height: 100%;
        position: absolute;
        left: auto;
        padding: 0;
        right: 0;
        top: 0;
      }
      @include breakpoint($between-1025-1280) {
        width: 320px;
      }
      .advert {
        display: none;
      }
      .episodes-list-slider.horizontal {
        @include breakpoint($between-1025-1280) {
          display: none;
        }
      }
      .episodes-list-slider.vertical {
        height: calc(100% - 45px);
        @include breakpoint($bp-min-1901-width) {
          height: calc(100% - 70px);
        }
        @include breakpoint($between-1025-1280) {
          display: block;
        }
      }
      .items-block {
        @include breakpoint($between-1025-1280) {
          bottom: 45px;
          height: calc(100% - 47px);
          position: absolute;
          top: auto;
        }
        @include breakpoint($bp-min-1281-width) {
          bottom: 40px;
          height: calc(100% - 42px);
          position: absolute;
          top: auto;
        }
        @include breakpoint($bp-min-1901-width) {
          bottom: 70px;
          height: calc(100% - 72px);
        }
      }
      .items-block-title {
        h2 {
          @include breakpoint($between-1025-1280) {
            width: 100%;
          }
        }
      }
      .more-items {
        @include breakpoint($between-1025-1280) {
          bottom: 0;
          display: block;
          position: absolute;
          left: 0;
          top: auto;
          width: 100%;
        }
        @include breakpoint($between-641-1024) {
          top: 0;
        }
        a {
          @include breakpoint($between-1025-1280) {
            padding-left: 25px;
          }
        }
      }
    }
  }
}

.consumptionator-page, .page-videos-live {
  .video-block {
    @include clear;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      //height: 42.01875vw;
      max-height: 1093.75px;
      max-width: 2500px;
      margin: 0 auto;
    }
    @include breakpoint($bp-1024-width) {
      height: auto;
    }
    .player-wrapper {
      float: left;
      height: 100%;
      position: relative;
      width: 74.7%;
      @include breakpoint($between-1025-1280) {
        width: calc(100% - 320px);
        z-index: 1;
      }
      @include breakpoint($bp-1024-width) {
        //height: 56.25vw;
        width: 100%;
      }
      @include breakpoint($bp-480-width) {
        //height: 50vw;
      }

      &:hover {
        .player-thumbnail {
          img {
            opacity: .2;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }

      > .node {
        height: 100%;
        width: 100%;
      }

      /*old css code*/
      .tve-help {
        background-color: $black-dark;
        border: 1px solid $gray-ultra-med;
        display: none;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        .tve-download {
          padding-top: 20px;
          position: relative;
          top: 82px;
          @include breakpoint($bp-video-player-section) {
            font-size: 11px;
            line-height: 16px;
            top: -6px
          }
          @include breakpoint($bp-video-very-large-width) {
            font-size: 20px;
            line-height: 30px;
            top: 102px;
          }
        }
        .tve-download-link {
          position: relative;
          top: 100px;
          left: -14px;
          @include breakpoint($bp-video-player-section) {
            left: -4px;
            top: -3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 120px;
          }
          a:after {
            content: "";
          }
          a img {
            height: 35px;
            padding-left: 29px;
            @include breakpoint($bp-video-player-section) {
              padding-left: 9px;
            }
          }
        }
        .arrow {
          position: absolute;
          right: 0;
        }
        .tve-msg {
          position: relative;
          top: 52px;
          @include breakpoint($bp-video-player-section) {
            top: 14px;
            font-size: 11px;
            line-height: 16px;
          }
          @include breakpoint($bp-video-very-large-width) {
            font-size: 20px;
            line-height: 30px;
            top: 82px;
          }
        }

        .tve-close {
          float: right;
          position: relative;
          top: 112px;
          right: 10px;
          text-transform: uppercase;
          color: #0AB6E8;
          @include breakpoint($bp-video-player-section) {
            top: 3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 250px;
          }
          > img {
            padding-right: 5px;
            padding-bottom: 1px;
          }
        }
        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-right: 14px solid #1f1f1f;
          top: 3px;
          right: -2px;
          z-index: 106;
          @include breakpoint($bp-video-player-section) {
            border-bottom: 14px solid #1f1f1f;
            border-right: 14px solid transparent;
            top: 158px;
            left: 50%;
            margin-left: -14px;
          }
          @include breakpoint($bp-video-mid-range4-width) {
            border-bottom: 14px solid #1f1f1f;
            border-right: 14px solid transparent;
            top: 318px;
            left: 16%;
          }
        }
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-right: 14px solid #4b4b4b;
          top: 3px;
          right: 0px;
          z-index: 105;
          @include breakpoint($bp-video-player-section) {
            border-bottom: 14px solid #4b4b4b;
            border-right: 14px solid transparent;
            top: 156px;
            left: 50%;
            margin-left: -14px;
          }
          @include breakpoint($bp-video-mid-range4-width) {
            border-bottom: 14px solid #4b4b4b;
            border-right: 14px solid transparent;
            top: 316px;
            left: 16%;

          }
        }
      }

      /*old css end*/
      .video-player-wrapper {
        line-height: 1;
        //height: 100%;
        height: 0;
        position: relative;
        width: 100%;
        &.section-player {
          padding-bottom: 56.25%;
          opacity: 0;
          &.show-section {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
          }
          .player-error {
            position: absolute;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            width: 100%;
          }
        }
        &.section-auth {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          .auth-msg-wrap {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
          }
          .player-thumbnail {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            &.hide-section {
              opacity: 0;
              transition: opacity 0.5s ease-in-out;
            }
            img {
              opacity: 1;
              height: 100%;
              width: 100%;
            }
            .video-loading {
              margin: -20px 0 0 -20px;
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              height: 40px;
              width: 40px;

              -moz-animation: video-spinner 1s infinite linear;
              -webkit-animation: video-spinner 1s infinite linear;
              animation: video-spinner 1s infinite linear;

              &.show-spinner {
                display: block;
              }

              &:before {
                color: #ffffff;
                content: "\e62d";
                display: block;
                font-family: $ico-font;
                font-size: 40px;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                height: 100%;
                width: 100%;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
        &:hover {
          //cursor: pointer;
          .locked-msg,
          .sign-in-wrapper {
            display: block;
          }
        }
        .pdk-player-wrap {
          position: absolute;
          left: 0;
          top: 0;
        }

        .sign-in-wrapper {
          display: none;
          left: 0;
          padding: 20px 0;
          position: absolute;
          text-align: center;
          top: 55%;
          width: 100%;
          @include breakpoint($bp-1280-width) {
            padding: 15px 0;
            .sign-in-button {
              padding: 15px 50px 15px 15px;
            }
          }
          @include breakpoint($bp-1024-width) {
            padding: 10px 0;
            .sign-in-button {
              font-size: 12px;
              padding: 10px 40px 10px 10px;
              &:after {
                font-size: 12px;
                line-height: 12px;
                margin-right: -6px;
                margin-top: -6px;
                right: 20px;
              }
            }
          }
        }
        .sign-in-button {
          background: #ffffff;
          color: #000000;
          padding: 20px 50px 20px 20px;
          position: relative;
          text-transform: uppercase;
          &:after {
            color: #000000;
            content: "\e608";
            display: block;
            font-family: "ico-font";
            font-size: 15px;
            line-height: 15px;
            position: absolute;
            top: 50%;
            margin-right: -7px;
            margin-top: -8px;
            right: 25px;
          }
        }
        //        a:after {
        //          display: none;
        //          position: absolute;
        //          left: 50%;
        //          top: 55%;
        //          width: 296px;
        //          height: 39px;
        //          margin-left: -148px;
        //          content: " ";
        //          background:url('../images/sign_in_key.png') center top no-repeat;
        //        }
        &.inactive {
          .sign-in-button {
            display: none;
          }
          &:hover {
            cursor: default;
            a:after {
              display: none;
            }
            img {
              opacity: 1;
            }
          }
        }
        &.inactive {
          .inner-wrap {
            background: #3D3D3D;
            padding: 20px;
            height: 100%;
            position: absolute;
            width: 100%;
            @include breakpoint($bp-768-width) {
              padding: 0;
            }
          }
          .inner {
            height: 100%;
            width: 100%;
            @include breakpoint($bp-768-width) {
              background: transparent;
              height: auto;
              margin: 0 auto;
              max-width: 660px;
            }
            & > .asset-img {
              float: left;
              margin-bottom: 30px;
              width: 32vw;
              height: 18vw;
              @include breakpoint($bp-1280-width) {
                margin-bottom: 15px;
              }
              @include breakpoint($bp-1024-width) {
                margin-bottom: 40px;
              }
              @include breakpoint($bp-768-width) {
                margin-bottom: 20px;
                margin-top: 20px;
              }
              @include breakpoint($bp-640-width) {
                margin-bottom: 10px;
                width: inherit;
                height: inherit;
                display: none !important;
              }
              & > img {
                height: 100%;
                width: 100%;
                @include breakpoint($bp-640-width) {
                  display: none;
                }
              }
            }
            .expired-text {
              float: left;
              font-size: 24px;
              margin-left: 50px;
              margin-top: 65px;
              @include breakpoint($bp-1280-width) {
                margin-left: 20px;
                margin-top: 53px;
                font-size: 20px;
              }
              @include breakpoint($bp-1024-width) {
                margin-left: 40px;
                margin-top: 53px;
                font-size: 20px;
              }
              @include breakpoint($bp-768-width) {
                margin-left: 10px;
                margin-top: 65px;
                font-size: 14px;
              }
              @include breakpoint($bp-640-width) {
                color: #9AE0EB;
                float: none;
                font-size: 18px;
                margin: 0;
                margin-top: 10px;
                text-align: center;
              }
            }
            .suggest-text {
              clear: both;
              font-size: 20px;
              margin-bottom: 24px;
              @include breakpoint($bp-1280-width) {
                margin-bottom: 10px;
              }
              @include breakpoint($bp-1024-width) {
                margin-bottom: 24px;
              }
              @include breakpoint($bp-640-width) {
                font-size: 16px;
                margin-bottom: 10px;
                margin-top: 10px;
                text-align: center;
              }
            }
            .suggest-videos-block {
              text-align: center;
              width: 100%;

              .file {
                display: inline-block;
                height: 16.4vw;
                margin-right: 20px;
                overflow: hidden;
                position: relative;
                vertical-align: top;
                width: 30%;
                @include breakpoint($bp-min-2500-width) {
                  height: 410px;
                }
                @include breakpoint($bp-1280-width) {
                  height: 14vw;
                  margin-right: 12px;
                  width: calc(30% - 30px);
                }
                @include breakpoint($bp-1024-width) {
                  height: 20vw;
                  width: calc(30% - 40px);
                }
                @include breakpoint($bp-768-width) {
                  height: 23vw;
                  width: 30%;
                }
                @include breakpoint($bp-640-width) {
                  height: 29.8vw;
                  margin-right: 0;
                  width: 34vw;
                  &:last-child {
                    display: none;
                  }
                  &:first-child {
                    margin-right: 1.5%;
                  }
                }
                &:last-child {
                  margin-right: 0;
                }
                & > a {
                  display: block;
                  height: 100%;
                  position: relative;
                  width: 100%;
                }
              }
              .meta {
                display: table-cell;
                max-width: 100px;
                overflow: hidden;
                padding-left: 4%;
                position: relative;
                text-align: left;
                vertical-align: middle;
                width: 100%;
              }
              .meta-icon {
                left: 4%;
                margin-top: -19px;
                position: absolute;
                top: 50%;
                @include breakpoint($bp-min-1601-width) {
                  height: 47px;
                  margin-top: -24px;
                  width: 47px;
                }
                @include breakpoint($between-641-1280) {
                  height: 30px;
                  margin-top: -15px;
                  width: 30px;
                }
                @include breakpoint($bp-480-width) {
                  height: 30px;
                  margin-top: -15px;
                  width: 30px;
                }
                ~ .meta {
                  padding-left: calc(8% + 37px);
                  @include breakpoint($bp-min-1601-width) {
                    padding-left: calc(8% + 47px);
                  }
                  @include breakpoint($between-641-1280) {
                    padding-left: calc(8% + 30px);
                  }
                  @include breakpoint($bp-480-width) {
                    padding-left: calc(8% + 30px);
                  }
                }
              }
              @extend %video-promo;
              @extend %meta;
            }
          }
        }
        .locked-msg {
          display: none;
          left: 5%;
          position: absolute;
          text-align: center;
          top: 40%;
          width: 90%;
          z-index: 2;
          .first-line {
            display: block;
            font-size: 26px;
            line-height: 45px;
            text-transform: uppercase;
            @include breakpoint($bp-1024-width) {
              font-size: 20px;
              line-height: 36px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 15px;
              line-height: 26px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 10px;
              line-height: 18px;
            }
          }
          .second-line {
            display: block;
            font-size: 16px;
            @include breakpoint($bp-1024-width) {
              font-size: 14px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 12px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 8px;
            }
          }
        }
        .pdk-player-wrap {
          height: 100%;
          width: 100%;
        }
        iframe {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
    #player-login {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      .borealis {
        height: 100%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.page-videos-live {
  .expandable-container {
    margin: 0;
  }
  .video-block {
    margin-bottom: 0;
    @include breakpoint($bp-min-1281-width) {
      height: 42.01875vw;
    }
    @include breakpoint($between-1025-1280) {
      height: calc((100vw - 320px)*0.5625);
      overflow: visible;
    }
    #videoplayer {
      position: absolute;
      left: 0;
      top: 0;
    }
    .consum-sidebar {
      .download-app {
        display: none;
        @include breakpoint($bp-1024-width) {
          display: table;
        }
      }
      .advert {
        height: auto;
        padding: 0;
        @include breakpoint($bp-min-1025-width) {
          height: 250px !important;
          position: relative;
        }
      }
      .episodes-list-slider {
        &.horizontal {
          .slider-horizontal {
            @include breakpoint($bp-640-width) {
              top: 0 !important;
            }
          }
        }
      }
    }
    &:not(.show-app) {
      .consum-sidebar {
        .items-block {
          height: calc(100% - 250px);
          @include breakpoint($bp-1024-width) {
            height: auto;
          }
        }
      }
      &:not(.show-related) {
        @include breakpoint($between-1025-1280) {
          margin-bottom: calc((100vw - 4px) / 48 * 9 + 45px);
        }
        .player-wrapper {
          @include breakpoint($between-1025-1280) {
            margin-bottom: calc((100vw - 4px) / 48 * 9 + 45px);
          }
        }
        .consum-sidebar {
          .items-block {
            @include breakpoint($between-1025-1280) {
              height: auto;
            }
          }
          .download-app {
            @include breakpoint($between-1025-1280) {
              display: table;
            }
          }
          .more-items {
            @include breakpoint($between-1025-1280) {
              background: none !important;
            }
          }
        }
      }
    }
    &.show-app {
      .consum-sidebar {
        .download-app {
          display: table;
        }
      }
    }
    &.show-related {
      &.show-app {
        .consum-sidebar {
          @include breakpoint($bp-min-1025-width) {
            height: 45vw;
            max-height: 1125px !important;
          }
        }
      }
      @include breakpoint($bp-min-1025-width) {
        height: auto;
        max-height: none;
      }
      .player-wrapper {
        @include breakpoint($bp-min-1281-width) {
          height: 42.01875vw;
          max-height: 1093.75px;
        }
        @include breakpoint($between-1025-1280) {
          height: calc((100vw - 320px) * 0.5625);
        }
      }
      .consum-sidebar {
        @include breakpoint($bp-min-1025-width) {
          left: auto;
          float: right;
          overflow: hidden;
          padding: 0;
          position: relative;
        }
        @include breakpoint($between-1025-1280) {
          width: 320px;
        }
        .more-items {
          @include breakpoint($between-1025-1280) {
            bottom: 0;
            left: 0;
            right: auto;
            top: auto;
            width: 100%;
          }
          a {
            @include breakpoint($between-1025-1280) {
              padding: 0 25px;
            }
          }
        }
        .items-block {
          @include breakpoint($between-1025-1280) {
            position: relative;
            right: auto;
            top: auto;
          }
        }
        .items-block-title {
          h2 {
            @include breakpoint($between-1025-1280) {
              width: 100%;
            }
          }
        }
        .episodes-list-slider {
          &.vertical {
            @include breakpoint($between-1025-1280) {
              display: block;
              height: calc(100% - 90px);
            }
          }
          &.horizontal {
            @include breakpoint($between-1025-1280) {
              display: none;
            }
          }
        }
      }
      .section-title {
        margin-top: 40px;
        @include breakpoint($bp-min-1025-width) {
          float: left;
          width: 74.7%;
        }
        @include breakpoint($between-1025-1280) {
          width: calc(100% - 320px);
        }
        @include breakpoint($bp-1024-width) {
          clear: both;
          padding-top: 40px;
        }
      }
      .gallery-wrapper {
        @include breakpoint($bp-min-1281-width) {
          height: 42.01875vw;
          max-height: 1093.75px;
        }
        @include breakpoint($between-1025-1280) {
          height: calc((100vw - 320px) * 0.5625);
        }
      }
    }
  }
}

