.consumptionator-page, .node-type-media-gallery, .node-type-tv-episode, .node-type-consumpt-post {
  .gallery-block {
    @include clear;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      height: 42.01875vw;
      max-height: 1093.75px;
      max-width: 2500px;
      margin: 0 auto;
    }
    @include breakpoint($between-1025-1280) {
      height: calc((100vw - 320px) * 0.5625);
      margin-bottom: calc((100vw - 4px) / 48 * 9 + 45px);
      overflow: visible;
    }
    @include breakpoint($bp-1024-width) {
      height: auto;
    }
    .consum-sidebar {
      .download-app {
        @include breakpoint($bp-768-width) {
          display: none;
        }
      }
      .more-items {
        @include breakpoint($between-641-768) {
          top: 0px;
        }
      }
    }
  }
  .gallery-wrapper {
    background: $gallery-description-back;
    float: left;
    height: 100%;
    position: relative;
    width: 74.7%;
    @include breakpoint($between-1025-1280) {
      width: calc(100% - 320px);
      z-index: 1;
    }
    @include breakpoint($bp-1024-width) {
      height: auto;
      width: 100%;
    }
    > .node {
      height: 100%;
      width: 100%;
    }
    .share-bar {
      display: none;
      right: 150px;
      position: absolute;
      margin-top: -33px;
      top: 90%;
      width: 200px;
      z-index: 55;
      @include breakpoint($bp-1900-width) {
        right: 125px;
      }
      @include breakpoint($bp-1280-width) {
        right: 70px;
        width: 175px;
      }
      @include breakpoint($bp-1024-width) {
        bottom: 30px;
        display: block;
        margin-top: 0;
        right: 50px;
        top: auto;
      }
      @include breakpoint($bp-768-width) {
        width: 150px;
      }
      @include breakpoint($bp-640-width) {
        background: $gallery-description-back;
        bottom: auto;
        height: 90px;
        padding-top: 10px;
        position: relative;
        right: auto;
        width: 100%;
      }
      h3.field-label {
        color: $free-full-episodes;
        font-size: 14px;
        font-family: $avalon-book;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: uppercase;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
          line-height: 18px;
        }
        @include breakpoint($bp-640-width) {
          text-align: center;
        }
      }
      .field-name-field-gigya-share-bar {
        margin-bottom: 0;
        table {
          @include breakpoint($bp-640-width) {
            margin: 0 auto;
          }
        }
      }
      .gig-button-container {
        @include breakpoint($bp-640-width) {
          margin-right: 20px;
          padding: 0;
          td > div {
            font-size: 30px;
          }
        }
      }
    }
    &:hover {
      .bx-viewport {
        .bxslider-gallery {
          .slide {
            .node {
              .slide-info {
                display: table;
                @include breakpoint($bp-1024-width) {
                  display: block;
                }
              }
            }
          }
        }
      }
      .bx-wrapper {
        .bx-controls {
          .bx-custom-pager {
            @include breakpoint($bp-min-769-width) {
              display: block;
            }
          }
        }
      }
      .share-bar {
        display: block;
      }
    }
    .bxslider-gallery {
      height: 100%;
      &.on-load {
        .slide {
          @include breakpoint($bp-1024-width) {
            display: none;
            &:first-child {
              display: block;
            }
          }
        }
      }
      .slide {
        background: $usa-logo-back;
        height: auto;
        position: relative;
        @include breakpoint($bp-min-1025-width) {
          height: 100% !important;
        }
        .node {
          height: 100%;
          .asset-img {
            height: 100%;
            position: relative;
            @include breakpoint($bp-1024-width) {
              height: 56.25vw;
              overflow: hidden;
              text-align: center;
            }
            img {
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              margin: auto;
              position: absolute;
              max-height: 100%;
              max-width: 100%;
              @include breakpoint($bp-1024-width) {
                height: auto;
              }
            }
          }
          .slide-info {
            box-sizing: border-box;
            display: none;
            background: rgba(0, 0, 0, 0.5);
            bottom: 0;
            left: 0;
            height: 20%;
            padding: 0 150px 0 45px;
            width: 100%;
            position: absolute;
            @include breakpoint($bp-1900-width) {
              padding: 0 125px 0 45px;
            }
            @include breakpoint($bp-1280-width) {
              padding: 0 70px;
            }
            @include breakpoint($bp-1024-width) {
              background: $gallery-description-back;
              display: block;
              height: auto;
              min-height: 145px;
              position: relative;
            }
            @include breakpoint($bp-640-width) {
              height: auto;
              min-height: 100px;
            }
            @include breakpoint($bp-480-width) {
              padding: 0 50px;
            }
            .description {
              color: $consup-gallery-description;
              display: block;
              font-size: get-vw(14px, 1025);
              font-family: $avalon-medium;
              line-height: 1.5;
              left: 45px;
              overflow: hidden;
              margin-bottom: 0;
              padding-bottom: 40px;
              padding-right: 220px;
              padding-top: 20px;
              text-overflow: ellipsis;
              top: 36px;
              width: 100%;
              @include breakpoint($bp-min-1025-width) {
                display: table-cell;
              }
              @include breakpoint($bp-min-1901-width) {
                font-size: 26px;
              }
              @include breakpoint($bp-1900-width) {
                height: 44px;
                padding-right: 220px;
                top: 20px;
              }
              @include breakpoint($bp-1280-width) {
                height: 40px;
                left: 70px;
                padding-right: 190px;
                top: 15px;
              }
              @include breakpoint($bp-1024-width) {
                font-size: 14px;
                height: auto;
                padding-right: 170px;
                padding-top: 30px;
              }
              @include breakpoint($bp-640-width) {
                margin-top: 0px;
                padding: 30px 0 0;
                position: static;
                text-align: center;
              }
              p {
                margin: 0;
              }
              a{
                color: #ffffff;
                &:hover {
                  color: #ffffff;
                  text-decoration: underline;
                }
              }
            }
            .slider-counter {
              bottom: 5px;
              color: $consum-carousel-text;
              font-size: 25px;
              font-family: $tex-gyreschola-italic;
              left: 45px;
              overflow: hidden;
              position: absolute;
              padding-right: 400px;
              text-transform: uppercase;
              text-overflow: ellipsis;
              width: 100%;
              white-space: nowrap;
              .slide-index {
                font-size: 27px;
                font-family: $avalon-medium;
              }
              @include breakpoint($bp-1900-width) {
                font-size: 13px;
                padding-right: 375px;
                .slide-index {
                  font-size: 14px;
                }
              }
              @include breakpoint($bp-1280-width) {
                bottom: 0;
                font-size: 12px;
                left: 70px;
                padding-right: 320px;
                .slide-index {
                  font-size: 13px;
                }
              }
              @include breakpoint($bp-1024-width) {
                bottom: 0;
                padding-right: 325px;
              }
              @include breakpoint($bp-768-width) {
                bottom: 5px;
                font-size: 11px;
                padding-right: 240px;
                .slide-index {
                  font-size: 12px;
                }
              }
              @include breakpoint($bp-640-width) {
                margin-top: 15px;
                padding-right: 0;
                position: static;
                text-align: center;
                white-space: normal;
              }
            }
          }
        }
      }
    }
    .bx-wrapper {
      height: 100%;
      position: relative;
      .bx-viewport {
        @include breakpoint($bp-min-1025-width) {
          height: 100% !important;
        }
      }
      .bx-controls {
        #bx-custom-pager-wrapper {
          bottom: 120px;
          right: 50%;
          overflow: hidden;
          position: absolute;
          z-index: 51;
          @include breakpoint($bp-1024-width) {
            bottom: auto;
            top: calc(56.25vw + 13px);
          }
        }
        .bx-custom-pager {
          display: none;
          right: 0;
          overflow: hidden;
          padding: 15px 0;
          position: absolute;
          top: 40%;
          z-index: 51;
          @include breakpoint($bp-min-1025-width) {
            margin-top: -157.5px;
            height: 315px;
          }
          &:hover {
            width: 130px;
          }
          @include breakpoint($bp-1024-width) {
            @include clear();
            padding: 0;
            right: auto;
            left: 0;
            top: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover {
              width: auto;
            }
          }
          .bx-pager-item {
            margin: 0 15px 15px auto;
            position: relative;
            height: 15px;
            width: 15px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            @include breakpoint($bp-1024-width) {
              float: left;
              margin: 0 10px 0 0;
              height: 10px;
              width: 10px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            .bx-pager-link {
              display: block;
              margin-left: auto;
              position: relative;
              height: 15px;
              width: 15px;
              &:not(.active) {
                div {
                  background: $consup-gallery-pager;
                  border-radius: 50%;
                  height: 100%;
                  width: 100%;
                }
              }
              &:hover {
                img {
                  display: block;
                  left: -100px;
                  margin-top: -24px;
                  position: absolute;
                  top: 50%;
                  width: 85px;
                  max-width: 85px;
                  z-index: 125;
                }
              }
              &:focus {
                outline: none;
              }
              @include breakpoint($bp-1024-width) {
                height: 10px;
                width: 10px;
                &:hover {
                  img {
                    display: none;
                  }
                }
              }
              div {
                border-radius: 50%;
                height: 100%;
                width: 100%;
              }
              img {
                display: none;
              }
            }
          }
        }
        .bx-controls-direction {
          a {
            color: #ffffff;
            display: block;
            height: 48px;
            margin-top: -24px;
            position: absolute;
            top: 90%;
            width: 48px;
            z-index: 55;
            @include breakpoint($bp-min-1901-width) {
              margin-top: -27px;
              height: 54px;
              width: 54px;
            }
            @include breakpoint($bp-1024-width) {
              margin-top: 0;
              top: calc(56.25vw + 48.5px);
            }
            @include breakpoint($bp-640-width) {
              top: calc(56.25vw + 26px);
            }
            @include breakpoint($bp-480-width) {
              height: 38px;
              top: calc(56.25vw + 36px);
              width: 38px;
            }
            &:hover {
              background: none;
            }
            &:focus {
              outline: none;
            }
            &.disabled {
              visibility: hidden;
            }
            &:after {
              display: block;
              font-family: "ico-font";
              font-size: 48px;
              line-height: normal;
              position: absolute;
              right: 0;
              top: 0;
              @include breakpoint($bp-min-1901-width) {
                font-size: 54px;
              }
              @include breakpoint($bp-480-width) {
                font-size: 38px;
              }
            }
            &.bx-prev {
              right: 105px;
              @include breakpoint($bp-1900-width) {
                right: 90px;
              }
              @include breakpoint($bp-1280-width) {
                left: 15px;
                right: auto;
              }
              @include breakpoint($bp-480-width) {
                left: 10px;
              }
              &:after {
                content: "\e628";
              }
            }
            &.bx-next {
              right: 55px;
              @include breakpoint($bp-1900-width) {
                right: 40px;
              }
              @include breakpoint($bp-1280-width) {
                right: 15px;
              }
              @include breakpoint($bp-480-width) {
                right: 10px;
              }
              &:after {
                content: "\e629";
              }
            }
          }
        }
      }
    }
  }
}
.node-type-media-gallery {
  header {
    .header-nav-bar {
      .nav-bar-tabs {
        .menu-item {
          &.info {
            @include breakpoint($bp-768-width) {
              background: #242424;
              border-left: 1px solid #242424;
              float: right;
            }
          }
        }
      }
    }
  }
}
.node-type-tv-episode, .node-type-consumpt-post {
  .gallery-wrapper {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      height: calc(42.01875vw - 110px);
      max-height: 1050px;
    }
    @include breakpoint($bp-min-1281-width) {
      height: calc(42.01875vw - 70px);
      max-height: 1050px;
    }
    @include breakpoint($between-1025-1280) {
      height: calc((100vw - 150px) * 0.5625);
      overflow: visible;
    }
  }
  .view-mode-inline_content {
    .gallery-wrapper {
      @include breakpoint($between-1025-1280) {
        height: calc((100vw - 395px) * 0.5625);
        overflow: hidden;
      }
    }
  }
}
