.consumptionator-page, .node-type-tv-episode {

}
.consumptionator-episode-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  .episode-info-main-block {
    float: left;
    position: relative;
    width: 74.7%;
    background: #ffffff;
    color: #000000;
    padding: 45px 38px 45px 58px;
    @include breakpoint($bp-1280-width) {
      float: none;
      padding: 25px 31px 38px 36px;
      width: 100%;
    }
    @include breakpoint($bp-1024-width) {
      padding: 24px;
    }
    @include breakpoint($bp-768-width) {
      padding: 38px 24px 38px 24px;
    }
    @include breakpoint($bp-640-width) {
      padding: 56.25vw 0 0;
    }
  }
  .consum-sidebar {
    @include breakpoint($bp-1280-width) {
      float: none;
      height: auto;
      padding: 0;
      position: relative;
      width: 100%;
    }
    .items-block {
      @include breakpoint($bp-min-1281-width) {
        height: 420px;
      }
      @include breakpoint($bp-min-1901-width) {
        height: 645px;
      }
      @include breakpoint($bp-1280-width) {
        height: auto;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
      }
      .episodes-list-slider {
        &.horizontal {
          overflow: hidden;
          position: relative;
          ul {
            width: 20000em;
            position: relative;
            @include breakpoint($bp-640-width) {
              width: 100%;
            }
          }
          @include breakpoint($bp-640-width) {
            li {
              background: $consum-carousel-even;
              height: 75px;
              position: relative;
              width: 100%!important;
              &:nth-child(odd) {
                background: $consum-carousel-odd;
              }
              &:nth-child(even) {
                background: $consum-carousel-even;
              }
              > div {
                height: 100%;
                width: 100%;
              }
              a {
                height: 100%;
                width: 100%;
              }
              .asset-img {
                height: 50px;
                left: 4%;
                margin-top: -25px;
                position: absolute;
                top: 50%;
                width: 75px;
                &.active {
                  border-left: 7px solid;
                }
                img {
                  height: 100%;
                  width: 100%;
                }
                & ~ .meta-wrapper {
                  .meta {
                    padding-left: calc(8% + 75px);
                  }
                }
              }
              .meta-wrapper {
                background: none;
                height: 100%;
                width: 100%;
                .meta-wrapper-inner {
                  display: table;
                  height: 100%;
                  width: 100%;
                }
                .meta {
                  color: $consum-carousel-text;
                  padding-left: 4%;
                  display: table-cell;
                  max-width: 100px;
                  vertical-align: middle;
                  width: 100%;
                  .caption {
                    font-size: 10px;
                    line-height: 13px;
                  }
                  .title {
                    font-size: 15px;
                    line-height: 18px;
                    margin-bottom: 7px;
                  }
                  .additional {
                    font-family: $tex-gyreschola-italic;
                    font-size: 10px;
                    line-height: 13px;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }
    }
    .more-items {
      @include breakpoint($bp-1280-width) {
        top: 0;
      }
      a {
        @include breakpoint($bp-640-width) {
          font-size: 15px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
    .advert {
      @include breakpoint($bp-1280-width) {
        display: none;
      }
    }
    .items-block-title {
      @include breakpoint($bp-640-width) {
        height: 45px;
        line-height: 45px;
        padding-left: 0;
      }
      h2 {
        @include breakpoint($bp-640-width) {
          font-size: 23px;
          line-height: 45px;
          text-align: center;
        }
      }
    }
  }
}
