.consumptionator-quiz-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  article.node-quiz {
    float: left;
    position: relative;
    width: 74.7%;
    background: #ffffff;
    color: #000000;
    padding: 0;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    overflow: hidden;
    @include breakpoint($between-1025-1280) {
      width: calc(100% - 320px);
    }
    @include breakpoint($bp-1024-width) {
      border-bottom: 2px solid;
      float: none;
      padding: 0;
      margin-bottom: 0;
      width: 100%;
    }
    @include breakpoint ($bp-640-width) {
      border-bottom: 8px solid;
    }
    .usanetwork-quiz {
      max-width: 1000px;
      @include breakpoint($bp-1280-width) {
        width: auto;
      }
      .entry-button {
        margin: 50px 0;
        @include breakpoint ($bp-640-width) {
          font-size: get-vw(22px, 640);
          margin: get-vw(50px, 640) 0;
        }
        @include breakpoint ($bp-480-width) {
          font-size: 16.5px;
          margin: 37.6px 0;
        }
      }
      .repeat-button {
        @include breakpoint ($bp-640-width) {
          font-size: get-vw(22px, 640);
        }
        @include breakpoint ($bp-480-width) {
          font-size: 16.5px;
        }
      }
      .content-wrap {
        padding: 40px;
        @include breakpoint ($bp-640-width) {
          padding: 20px;
        }
        @include breakpoint ($bp-480-width) {
          padding: 10px;
        }
        .center {
          margin-right: 0;
          width: 100%;
        }
        .sidebar {
          margin-top: 20px;
          @include breakpoint ($bp-480-width) {
            margin-top: 10px;
          }
          .ad-container {
            @include breakpoint ($bp-min-1281-width) {
              display: none;
            }
            @include breakpoint ($bp-640-width) {
              display: none;
            }
          }
        }
      }
    }
    .usanetwork-quiz-questions {
      &.questions {
        .page-note {
          @include breakpoint ($bp-640-width) {
            font-size: get-vw(16px, 640);
          }
        }
      }
    }
    .usanetwork-quiz-question {
      .question-title {
        text-align: center;
        @include breakpoint ($bp-640-width) {
          font-size: get-vw(26px, 640);
        }
      }
    }
    .usanetwork-quiz-answer {
      width: 49%;
      &:nth-child(2n + 1) {
        clear: left;
      }
      &:nth-child(2n) {
        clear: right;
        float: right;
        @include clear();
      }
      .inner {
        max-width: 320px;
      }
      .answer-title {
        padding: 5px;
        width: 320px;
        @include breakpoint ($bp-640-width) {
          font-size: get-vw(18px, 640);
        }
      }
    }
  }
  .consum-sidebar {
    .items-block {
      @include breakpoint($bp-min-1025-width) {
        height: 245px;
      }
      @include breakpoint($bp-min-1901-width) {
        height: 400px;
      }
    }
  }
}