.consumptionator-page, .node-type-tv-episode {

}
.consumptionator-episode-main-block, .consumptionator-post-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  .episode-info-main-block, .post-info-main-block {
    float: left;
    position: relative;
    width: 74.7%;
    background: #ffffff;
    color: #000000;
    @include breakpoint($bp-1280-width) {
      float: none;
      width: 100%;
    }
    @include breakpoint($bp-640-width) {
      padding: 56.25vw 0 0;
    }
    .episode-change-link {
      bottom: 39px;
      color: $change-episode-color;
      display: block;
      font-family: $avalon-book;
      font-size: 21px;
      position: absolute;
      text-transform: uppercase;
      @include breakpoint($bp-1280-width) {
        bottom: 34px;
        font-size: 14px;
      }
      @include breakpoint($bp-768-width) {
        bottom: 36px;
        font-size: 13px;
      }
      &:after {
        color: $change-episode-color;
        font-family: "ico-font";
        font-size: 14px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        line-height: 1;
        @include breakpoint($bp-1280-width) {
          font-size: 11px;
          margin-top: -6px;
        }
      }
      &.previous {
        left: 20px;
        margin-left: 32px;
        @include breakpoint($bp-min-1901-width) {
          margin-left: 48px;
        }
        @include breakpoint($bp-1280-width) {
          margin-left: 68px;
        }
        @include breakpoint($bp-1024-width) {
          margin-left: 20px;
        }
        &:after {
          content: "\e607";
          left: -15px;
        }
      }
      &.next {
        right: 20px;
        margin-right: 32px;
        @include breakpoint($bp-min-1901-width) {
          margin-right: 48px;
        }
        @include breakpoint($bp-1280-width) {
          margin-right: 68px;
        }
        @include breakpoint($bp-1024-width) {
          margin-right: 20px;
        }
        &:after {
          content: "\e608";
          right: -15px;
        }
      }
    }
    .episode-info-block, .post-info-block {
      padding: 45px 93px 45px 70px;
      @include breakpoint($bp-1280-width) {
        padding: 38px 58px 38px 45px;
      }
      @include breakpoint($bp-1024-width) {
        padding: 53px 11.8%;
      }
      @include breakpoint($bp-768-width) {
        padding: 50px 6.7%;
      }
      @include breakpoint($bp-640-width) {
        padding: 30px 6%;
      }
      @include clear();
      .episode-info-header, .post-info-header {
        @include clear();
        position: relative;
        margin-bottom: 10px;
        @include breakpoint($bp-1280-width) {
          margin-bottom: 10px;
        }
        @include breakpoint($bp-1024-width) {
          margin-bottom: 17px;
        }
        .episode-title-block, .post-title-block {
          float: left;
          width: 70%;
          @include breakpoint($bp-768-width) {
            width: 60%;
          }
          @include breakpoint($bp-480-width) {
            float: none;
            width: 100%;
          }
          .episode-title, .post-title {
            font-family: $avalon-medium;
            font-size: 54px;
            line-height: 1.3;
            @include breakpoint($bp-1280-width) {
              font-size: 36px;
              line-height: 1.1em;
            }
            @include breakpoint($bp-768-width) {
              font-size: 37.8px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 36px;
            }
          }
          .additional {
            font-family: $avalon-book;
            font-size: 19.5px;
            color: $consum-carousel-odd;
            text-transform: uppercase;
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: 12px;
            }
            @include breakpoint($bp-768-width) {
              font-size: 13px;
              line-height: 3em;
            }
            .episode {
              font-family: $tex-gyreschola-italic;
              &:after {
                content: '';
              }
            }
            .tags-title {
              font-family: $avalon-medium;
              margin-left: 1em;
              position: relative;
              &:after {
                left: -0.5em;
                content: '.';
                line-height: 1;
                position: absolute;
                top: -5px;
                @include breakpoint($bp-1280-width) {
                  top: -2px;
                }
              }
            }
            .aired {
              text-transform: none;
            }
          }
        }
        .share {
          float: right;
          width: 23%;
          font-family: $avalon-book;
          color: $consum-carousel-text;
          @include breakpoint($bp-1280-width) {
            width: 16%;
          }
          @include breakpoint($bp-1024-width) {
            width: 22%;
          }
          @include breakpoint($bp-768-width) {
            width: 36%;
          }
          h3 {
            font-family: $avalon-book;
            font-size: 22px;
            text-align: right;
            line-height: 1em;
            margin: 0 0 14px 0;
            @include breakpoint($bp-1280-width) {
              font-size: 15px;
              margin: -8px 0 14px 0;
            }
            @include breakpoint ($bp-1024-width) {
              font-size: 15px;
            }
            @include breakpoint ($bp-768-width) {
              font-size: 18px;
            }
            @include breakpoint ($bp-320-width) {
              text-align: left;
              line-height: 2em;
            }
          }
          .field-type-gigya-sharebar {
            margin-bottom: 0;
            float: right;
          }
          .episode-button {
            width: 230px;
            float: right;
            margin-top: 20px;
            position: relative;
            text-align: left;
            @include breakpoint($bp-1280-width) {
              width: 149px;
              margin-top: -2px;
            }
            @include breakpoint($bp-1280-width) {
              width: 158px;
            }
            &:after {
              content: "\e608";
              color: #ffffff;
              font-family: "ico-font";
              font-size: 11px;
              display: block;
              position: absolute;
              right: 14px;
              top: 50%;
              margin-top: -5px;
              line-height: 1;
              z-index: 3;
              @include breakpoint($bp-1024-width) {
                right: 8px;
              }
            }
            a {
              color: #ffffff;
              display: block;
              text-transform: uppercase;
              font-size: 15px;
              padding: 15px 0 15px 30px;
              position: relative;
              width: 100%;
              @include breakpoint($bp-min-1901-width) {
                padding: 15px 0 15px 40px;
              }
              @include breakpoint($bp-1280-width) {
                font-size: 13px;
                padding: 10px 9%;
              }
              @include breakpoint($bp-1024-width) {
                font-size: 12px;
                padding: 5px 35px 5px 10px;
              }
              @include breakpoint($between-641-768) {
                font-size: 10px;
              }
              @include breakpoint($bp-640-width) {
                padding: 8px 35px 8px 10px;
              }
            }
          }
        }
      }
      .episode-info-image, .post-info-image {
        float: right;
        width: 61.1%;
        padding: 12px 0 20px 0;
        margin-left: 30px;
        @include breakpoint($bp-1280-width) {
          padding-top: 5px;
        }
        @include breakpoint($bp-1024-width) {
          float: none;
          width: 100%;
          margin: 0 0 6vw 0;
          padding: 0;
        }
        @include breakpoint($bp-640-width) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .episode-info-description, .post-info-description {
        font-family: $avalon-book;
        font-size: 26px;
        line-height: 1.6em;
        @include breakpoint($bp-1280-width) {
          font-size: 17px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 15px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 16px;
        }
        @include breakpoint($bp-640-width) {
          width: 100%;
          font-size: 18px;
          color: $poll-color;
        }
        p {
          &:first-child {
            margin-top: 0;
          }
        }
        .person-quotation {
          font-size: 30px;
          padding: 35px 25px 38px 25px;
          margin: 53px 0 23px;
          border: 1px solid $poll-back;
          @include breakpoint($bp-1280-width) {
            padding: 25px 16px 30px 16px;
            margin: 35px 0 16px;
            font-size: 20px;
          }
          @include breakpoint($bp-1024-width) {
            padding: 25px 15px 28px 10px;
            margin: 38px 0 19px;
            font-size: 20px;
          }
          @include breakpoint($bp-768-width) {
            padding: 25px 80px 28px 80px;
            font-size: 20px;
          }
          @include breakpoint($bp-640-width) {
            padding: 23px 11px 26px 8px;
            margin: 32px 0 19px;
          }
          &:before, &:after {
            background-color: #ffffff;
            font-size: 50px;
            @include breakpoint($bp-1280-width) {
              font-size: 37px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: 45px;
            }
            @include breakpoint($bp-768-width) {
              font-size: 36px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 24px;
            }
          }
        }
      }
      .node-wrapper {
        &.advert {
          @include breakpoint($bp-1024-width) {
            display: block;
            width: 39%;
            float: right;
            margin: 0 0 20px 34px;
          }
          @include breakpoint($bp-768-width) {
            width: 46%;
          }
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
    }
  }
  .gallery-recap-block {
    background: $consup-gallery-bg;
    padding: 40px 35px 104px;
    @include breakpoint($bp-min-1901-width) {
      padding: 40px 55px 104px;
    }
    @include breakpoint($bp-1280-width) {
      border-bottom: 2px solid;
      padding: 40px 75px 90px;
    }
    @include breakpoint($bp-1024-width) {
      padding: 40px 24px 90px;
    }
    @include breakpoint($bp-640-width) {
      border-bottom: 12px solid;
      padding: 40px 0 75px;
    }
  }
}
