.consumptionator-characters-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  .character-info-block {
    float: left;
    position: relative;
    width: 74.7%;
    background: #ffffff;
    color: #000000;
    padding: 45px 38px 45px 58px;
    @include breakpoint($bp-1280-width) {
      float: none;
      padding: 25px 31px 38px 36px;
      width: 100%;
    }
    @include breakpoint($bp-1024-width) {
      padding: 24px;
    }
    @include breakpoint($bp-768-width) {
      padding: 38px 24px 38px 24px;
    }
    @include breakpoint ($bp-640-width) {
      padding: 56.25vw 0 0;
    }
    .block-character-info-header {
      @include clear();
      margin-bottom: 30px;
      @include breakpoint($bp-1280-width) {
        margin-bottom: 15px;
      }
      @include breakpoint($bp-640-width) {
        margin-bottom: 0;
        padding: 10px 46px;
      }
      @include breakpoint($bp-480-width) {
        padding: 10px 25px;
      }
      .block-character-info-header-left {
        float: left;
        @include breakpoint ($bp-320-width) {
          float: none;
        }
        .full-name {
          font-family: $avalon-medium;
          font-size: 54px;
          line-height: 1.3;
          @include breakpoint($bp-1280-width) {
            font-size: 36px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 28.8px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 37.8px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 24px;
          }
        }
        .description {
          font-family: $tex-gyreschola-italic;
          font-size: 19.5px;
          color: $consum-carousel-odd;
          text-transform: uppercase;
          @include breakpoint($bp-1280-width) {
            font-size: 13px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 10.4px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 10px;
          }
        }
      }
      .block-character-info-header-right {
        float: right;
        @include breakpoint ($bp-320-width) {
          float: none;
        }
        .share {
          font-family: $avalon-book;
          font-size: 26px;
          color: $consum-carousel-text;
          @include breakpoint($bp-1280-width) {
            font-size: 18px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 15px;
          }
          h3 {
            font-family: $avalon-book;
            font-size: 26px;
            text-align: right;
            line-height: 1em;
            margin: 0 14px 15px 0;
            @include breakpoint ($bp-768-width) {
              font-size: 18px;
            }
            @include breakpoint ($bp-1024-width) {
              font-size: 15px;
            }
            @include breakpoint ($bp-320-width) {
              text-align: left;
              line-height: 2em;
            }
          }
        }

      }
    }
    .block-character-info-content {
      @include clear();
      .asset-img {
        width: 46.8%;
        float: left;
        @include breakpoint($bp-1024-width) {
          width: 42.62%;
        }
        @include breakpoint($bp-768-width) {
          width: 38%;
        }
        @include breakpoint($bp-640-width) {
          height: 56.25vw;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
        }
        img {
          margin-bottom: 30px;
        }
      }
      .advert {
        display: none;
        @include breakpoint($between-769-1280) {
          display: block;
        }
        @include breakpoint($bp-1280-width) {
          float: left;
          clear: left;
          height: 250px;
          margin-top: 45px;
          width: 46.8%;
        }
        @include breakpoint($bp-1024-width) {
          width: 42.62%;
        }
        .advertisement {
          height: 250px;
          margin: 0 auto;
          width: 300px;
        }
      }
      .description {
        width: 48%;
        float: right;
        @include breakpoint($bp-1024-width) {
          width: 56%;
        }
        @include breakpoint($bp-768-width) {
          width: 57%;
        }
        @include breakpoint($bp-640-width) {
          padding: 10px 46px;
          width: 100%
        }
        @include breakpoint($bp-480-width) {
          padding: 10px 25px;
        }
        ul {
          word-spacing: -6px;
          li {
            width: 50%;
            display: inline-block;
            font-family: $avalon-medium;
            font-size: 17.5px;
            line-height: 46px;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid;
            word-spacing: normal;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
              line-height: 34px;
            }
            &.active {
              color: #ffffff!important;
            }
            &:not(.active){
              background: none!important;
            }
          }
        }
        .description-items {
          font-family: $avalon-book;
          font-size: 26px;
          line-height: 1.6em;
          @include breakpoint($bp-1280-width) {
            font-size: 17px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 15px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 16px;
          }
          @include breakpoint($bp-640-width) {
            width: 100%;
            font-size: 18px;
            color: $poll-color;
          }
        }
        .description-item {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
  }
  .consum-sidebar {
    @include breakpoint($bp-1280-width) {
      float: none;
      height: auto;
      padding: 0;
      position: relative;
      width: 100%;
    }
    .items-block {
      @include breakpoint($bp-min-1281-width) {
        height: 420px;
      }
      @include breakpoint($bp-min-1901-width) {
        height: 645px;
      }
      @include breakpoint($bp-1280-width) {
        height: auto;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
      }
      .episodes-list-slider {
        &.horizontal {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
        &.vertical {
          @include breakpoint($bp-640-width) {
            display: block;
            height: 600px;
          }
        }
      }
    }
    .more-items {
      @include breakpoint($bp-1280-width) {
        top: 0;
      }
      a {
        @include breakpoint($bp-640-width) {
          font-size: 15px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
    .advert {
      @include breakpoint($bp-1280-width) {
        display: none;
      }
    }
    .items-block-title {
      @include breakpoint($bp-640-width) {
       height: 45px;
       line-height: 45px;
        padding-left: 0;
      }
      h2 {
        @include breakpoint($bp-640-width) {
          font-size: 23px;
          line-height: 45px;
          text-align: center;
        }
      }
    }
  }
}
