.consumptionator-characters-main-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  .character-info-block {
    float: left;
    position: relative;
    width: 74.7%;
    background: #ffffff;
    color: #000000;
    padding: 45px 0;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    overflow: hidden;
    @include breakpoint($between-1025-1280) {
      width: calc(100% - 320px);
    }
    @include breakpoint($bp-1024-width) {
      border-bottom: 2px solid;
      padding: 24px 0;
      margin-bottom: 0;
      width: 100%;
    }
    @include breakpoint($bp-768-width) {
      padding: 38px 0 38px 0;
    }
    @include breakpoint ($bp-640-width) {
      padding: 56.25vw 0 0;
      border-bottom: 8px solid;
    }
    .block-character-info-header {
      @include clear();
      margin-bottom: 30px;
      padding: 0 38px 0 58px;
      @include breakpoint($bp-1024-width) {
        padding: 0 24px;
      }
      @include breakpoint($bp-640-width) {
        margin-bottom: 0;
        padding: 10px 46px;
      }
      @include breakpoint($bp-480-width) {
        padding: 10px 25px;
      }
      .block-character-info-header-left {
        float: left;
        width: 50%;
        .full-name {
          font-family: $avalon-medium;
          font-size: 54px;
          line-height: 1.3;
          @include breakpoint($bp-1280-width) {
            font-size: 36px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 28.8px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 37.8px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 24px;
          }
          @include breakpoint($bp-480-width) {
            font-size: 22px;
          }
        }
        .description {
          font-family: $tex-gyreschola-italic;
          font-size: 19.5px;
          color: $consum-carousel-odd;
          text-transform: uppercase;
          @include breakpoint($bp-1280-width) {
            font-size: 13px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 10.4px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 10px;
          }
          @include breakpoint($bp-480-width) {
            font-size: 8px;
          }
        }
      }
      .block-character-info-header-right {
        float: right;
        width: 45%;
        .share {
          font-family: $avalon-book;
          font-size: 26px;
          color: $consum-carousel-text;
          @include breakpoint($bp-1280-width) {
            font-size: 18px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 15px;
          }
          h3 {
            font-family: $avalon-book;
            font-size: 26px;
            text-align: right;
            line-height: 1em;
            margin: 0 14px 15px 0;
            @include breakpoint ($bp-768-width) {
              font-size: 18px;
            }
            @include breakpoint ($bp-1024-width) {
              font-size: 15px;
            }
            @include breakpoint($bp-320-width) {
              margin-bottom: 14px;
            }
          }
          > div {
            float: right;
          }
        }
      }
    }
    .block-character-info-content {
      @include clear();
      padding: 0 38px 0 58px;
      @include breakpoint($bp-1280-width) {
        padding: 0 31px 0 36px;
      }
      @include breakpoint($bp-1024-width) {
        padding: 0 24px;
      }
      .asset-img {
        width: 46.8%;
        float: left;
        @include breakpoint($bp-1024-width) {
          width: 42.62%;
        }
        @include breakpoint($bp-768-width) {
          width: 300px;
        }
        @include breakpoint($bp-640-width) {
          height: 56.25vw;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
        }
        img {
          margin-bottom: 30px;
        }
      }
      .advert {
        display: none;
        @include breakpoint($between-641-1024) {
          display: block;
        }
        @include breakpoint($bp-1024-width) {
          float: left;
          clear: left;
          height: 250px;
          margin-top: 45px;
          width: 42.62%;
        }
        @include breakpoint($bp-768-width) {
          width: 300px;
        }
        .advertisement {
          height: 250px;
          margin: 0 auto;
          width: 300px;
        }
      }
      .description {
        float: right;
        position: relative;
        width: 48%;
        @include breakpoint($bp-1024-width) {
          width: 56%;
        }
        @include breakpoint($bp-768-width) {
          width: calc(100% - 310px);
        }
        @include breakpoint($bp-640-width) {
          padding: 10px 22px;
          width: 100%
        }
        @include breakpoint($bp-480-width) {
          padding: 10px 1px;
        }
        .file-video-mpx.view-mode-inline_content {
          position: relative;
          width: 100%;
          @include breakpoint($bp-min-1901-width) {
            height: 19vw;
          }
          @include breakpoint($bp-min-2500-width) {
            height: 475px;
          }
          @include breakpoint($bp-1900-width) {
            height: 18.5vw;
          }
          @include breakpoint($bp-1600-width) {
            height: 18vw;
          }
          @include breakpoint($between-1025-1280) {
            height: 18vw;
          }
          @include breakpoint($between-769-1024) {
            height: 29.5vw;
          }
          @include breakpoint($between-641-768) {
            height: 27.5vw;
          }
          @include breakpoint($bp-640-width) {
            height: 46.75vw;
          }
        }
        iframe {
          height: 100%;
          width: 100%;
        }
        ul {
          word-spacing: -6px;
          li {
            width: 50%;
            display: inline-block;
            font-family: $avalon-medium;
            font-size: 17.5px;
            line-height: 46px;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid;
            word-spacing: normal;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
              line-height: 34px;
            }
            &.active {
              color: #ffffff!important;
            }
            &:not(.active){
              background: none!important;
            }
          }
        }
        .description-items {
          font-family: $avalon-book;
          font-size: 26px;
          line-height: 1.6em;
          @include breakpoint($bp-1280-width) {
            font-size: 17px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 15px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 16px;
          }
          @include breakpoint($bp-640-width) {
            width: 100%;
            font-size: 18px;
            color: $poll-color;
          }
          .person-quotation {
            margin: 54px 0 58px;
            @include breakpoint($bp-1280-width) {
              margin: 26px 0 30px;
            }
            @include breakpoint($bp-768-width) {
              padding: 22px 40px;
            }
            @include breakpoint($bp-640-width) {
              margin: 18px 0 25px;
              color: $poll-color;
            }
          }
        }
        .description-item {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
  }
}
