.consumptionator-page {
  .video-block {
    @include clear;
    margin: 0 auto 10px;
    max-width: 2260px;
    padding: 10px 10px 0;
    position: relative;
    @include breakpoint($bp-1024-width) {
      margin-bottom: 10px;
    }
    .player-wrapper {
      margin-right: 310px;
      position: relative;
      @include breakpoint($bp-1024-width) {
        margin-right: 0;
      }
      .video-player-wrapper {
        line-height: 1;
        iframe {
          width: 100%;
        }
      }
    }
    .consum-sidebar {
      background: none;
      width: 300px;
      padding: 10px 0px 0;
      overflow: hidden;
      position: absolute;
      height: 100%;
      right: 10px;
      top: 0;
      @include breakpoint($bp-1024-width) {
        position: static;
        width: 100%;
      }
      .advert {
        @include breakpoint($bp-1024-width) {
          float: left;
        }
        @include breakpoint($bp-640-width) {
          display: none;
        }
        .advertisement {
          & a {
            display: block;
            width: 300px;
            img {
              max-height: 250px;
              width: 100%;
            }
          }
        }
      }
      .social {
        display: block;
        border: 2px solid #262626;
        margin-top: 10px;
        height: 100%;
        position: relative;
        @include breakpoint($bp-1024-width) {
          margin-left: 310px;
          margin-top: 0;
        }
        @include breakpoint($bp-640-width) {
          margin-left: 0;
        }
        .social-usa:after {
          display: block;
          @include breakpoint($between-1025-1280) {
            display: none;
          }
        }
        .node {
          position: relative;
          min-height: 210px;
          a {
            display: block;
            overflow: hidden;
            text-decoration: none;
            width: 100%;
            @include breakpoint($between-1025-1280) {
              margin: 30px auto;
            }
            .meta-wrap {
              color: #ffffff;
              height: 100%;
              text-align: center;
              text-transform: uppercase;
              .meta {
                margin: 0 auto;
                width: 80%;
                .time {
                  font-family: $cent-725BT-italic;
                  font-style: italic;
                  font-size: 12px;
                  line-height: 50px;
                  @include breakpoint($between-1025-1280) {
                    display: none;
                  }
                }
                .meta-social-title {
                  font-family: $avalon-demi;
                  font-size: 20px;
                  line-height: 20px;
                  @include breakpoint($between-1025-1280) {
                    display: none;
                  }
                }
                .meta-additional {
                  font-family: $cent-725BT-italic;
                  font-style: italic;
                  font-size: 12px;
                  line-height: 50px;
                  @include breakpoint($between-1025-1280) {
                    display: none;
                  }
                }
                .meta-text {
                  font-family: $avalon-medium;
                  font-size: 15px;
                  @include breakpoint($bp-1280-width) {

                  }
                }
              }
            }
          }
        }
        .asset-img {
          margin: 0 auto;
          width: 274px;
          & img {
            width: 100%;
            display: block;
            @include breakpoint($bp-1400-width) {
              display: none;
            }
          }
        }
      }
      .social-more {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include breakpoint($bp-1024-width) {
          right: 10px;
          margin-left: 320px;
          width: auto;
        }
        @include breakpoint($bp-640-width) {
          right: 0;
          margin: 0 10px;
          width: auto;
        }
        & a {
          background-color: #a9a9a9;
          color: #ffffff;
          display: block;
          font-family: $avalon-demi;
          font-size: 12px;
          line-height: 40px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          @include breakpoint($bp-640-width) {
            font-size: 18px;
          }
          &:after {
            color: #ffffff;
            content: "\e608";
            display: block;
            font-family: $ico-font;
            font-size: 10px;
            line-height: 10px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            right: 50%;
            margin-right: -85px;
            @include breakpoint($bp-640-width) {
              margin-right: -125px;
            }
          }
        }
      }
      .video-link {
        background: $social-twitter-back;
        bottom: 0;
        display: none;
        position: absolute;
        width: 100%;
        @include breakpoint($bp-1024-width) {
          margin-left: 310px;
          position: static;
          width: auto;
        }
        @include breakpoint($bp-640-width) {
          margin-left: 0;
        }
        .node {
          height: 100%;
          overflow: hidden;
          position: relative;
          @include breakpoint($bp-1024-width) {
            min-height: 250px;
            max-height: 250px;
          }
          @include breakpoint($bp-640-width) {
            height: auto;
          }
          & a {
            color: #ffffff;
            display: block;
            height: 100%;
            padding-top: 25px;
            width: 100%;
            @include breakpoint($bp-1024-width) {
              padding-top: 0;
            }
            .asset-img {
              & img {
                width: 100%;
              }
            }
            .meta-back {
              background: $social-twitter-back;
              bottom: 0px;
              left: 0;
              height: 82px;
              position: absolute;
              width: 100%;
              @include breakpoint($between-769-1024) {
                background-color: rgba(0, 0, 0, 0.6);
              }
              @include breakpoint($bp-640-width) {
                background-color: rgba(0, 0, 0, 0.6);
              }
              @include breakpoint($bp-480-width) {
                background: $social-twitter-back;
              }

            }
            .meta-wrapper {
              height: 82px;
              position: relative;
              width: 100%;
              @include breakpoint($bp-1024-width) {
                bottom: 0;
                left: 0;
                position: absolute;
              }
              .meta-icon {
                position: absolute;
                margin-top: -18.5px;
                margin-left: -18.5px;
                top: 50%;
                left: 40px;
              }
              @extend %meta;
              .meta {
                font-family: Helvetica, Arial, sans-serif;
                margin-top: -19px;
                margin-left: 70px;
                padding-left: 0px;
                position: absolute;
                top: 50%;
                width: 100%;
                .title {
                  font-size: 12px;
                  line-height: 18px;
                }
                .additional {
                  font-size: 12px;
                  line-height: 18px;
                  span {
                    font-size: 12px;
                    line-height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

