.consumptionator-page, .page-videos-live {
  .video-block {
    @include clear;
    margin: 0;
    max-width: 2260px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      height: 42.01875vw;
    }
    @include breakpoint($between-1025-1280) {
      height: calc((100vw - 320px)*0.5625);
      margin-bottom: calc((100vw - 4px)/48*9 + 60px);
      overflow: visible;
    }
    @include breakpoint($bp-1024-width) {
      height: auto;
    }
    .player-wrapper {
      float: left;
      height: 100%;
      position: relative;
      width: 74.7%;
      @include breakpoint($between-1025-1280) {
        width: calc(100% - 320px);
        z-index: 2;
      }
      @include breakpoint($bp-1024-width) {
        height: 56.25vw;
        width: 100%;
      }
      > .node {
        height: 100%;
        width: 100%;
      }
      /*old css code*/
      .tve-help {
        background-color: $black-dark;
        border: 1px solid $gray-ultra-med;
        display: none;
        height: 100%;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        .tve-download {
          padding-top: 20px;
          position: relative;
          top: 82px;
          @include breakpoint($bp-video-player-section) {
            font-size: 11px;
            line-height: 16px;
            top: -6px
          }
          @include breakpoint($bp-video-very-large-width) {
            font-size: 20px;
            line-height: 30px;
            top: 102px;
          }
        }
        .tve-download-link {
          position: relative;
          top: 100px;
          left: -14px;
          @include breakpoint($bp-video-player-section) {
            left: -4px;
            top: -3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 120px;
          }
          a:after {
            content : "";
          }
          a img {
            height: 35px;
            padding-left: 29px;
            @include breakpoint($bp-video-player-section) {
              padding-left: 9px;
            }
          }
        }
        .arrow {
          position : absolute;
          right: 0;
        }
        .tve-msg {
          position: relative;
          top: 52px;
          @include breakpoint($bp-video-player-section) {
            top: 14px;
            font-size: 11px;
            line-height: 16px;
          }
          @include breakpoint($bp-video-very-large-width) {
            font-size: 20px;
            line-height: 30px;
            top: 82px;
          }
        }

        .tve-close {
          float: right;
          position: relative;
          top: 112px;
          right: 10px;
          text-transform: uppercase;
          color: #0AB6E8;
          @include breakpoint($bp-video-player-section) {
            top: 3px;
          }
          @include breakpoint($bp-video-very-large-width) {
            top: 250px;
          }
          > img {
            padding-right: 5px;
            padding-bottom: 1px;
          }
        }
        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-right: 14px solid #1f1f1f;
          top: 3px;
          right: -2px;
          z-index: 106;
          @include breakpoint($bp-video-player-section) {
            border-bottom: 14px solid #1f1f1f;
            border-right: 14px solid transparent;
            top: 158px;
            left: 50%;
            margin-left: -14px;
          }
          @include breakpoint($bp-video-mid-range4-width) {
            border-bottom: 14px solid #1f1f1f;
            border-right: 14px solid transparent;
            top: 318px;
            left: 16%;
          }
        }
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-right: 14px solid #4b4b4b;
          top: 3px;
          right: 0px;
          z-index: 105;
          @include breakpoint($bp-video-player-section) {
            border-bottom: 14px solid #4b4b4b;
            border-right: 14px solid transparent;
            top: 156px;
            left: 50%;
            margin-left: -14px;
          }
          @include breakpoint($bp-video-mid-range4-width) {
            border-bottom: 14px solid #4b4b4b;
            border-right: 14px solid transparent;
            top: 316px;
            left: 16%;

          }
        }
      }
      /*old css end*/
      .video-player-wrapper {
        line-height: 1;
        height: 100%;
        position: relative;
        width: 100%;
        &:hover {
          cursor: pointer;
          .locked-msg,
          a:after {
            display: block;
          }
          img {
            opacity: .2;
            transition: opacity 0.3s ease-in-out;
          }
        }
        a:after {
          display: none;
          position: absolute;
          left: 50%;
          top: 55%;
          width: 296px;
          height: 39px;
          margin-left: -148px;
          content: " ";
          background:url('../images/sign_in_key.png') center top no-repeat;
        }
        &.inactive {
          a:after {
            display: none;
          }
          &:hover {
            cursor: default;
            a:after {
              display: none;
            }
            img {
              opacity: 1;
            }
          }
        }
        .locked-msg {
          display: none;
          left: 5%;
          position: absolute;
          text-align: center;
          top: 40%;
          width: 90%;
          .first-line {
            display: block;
            font-size: 26px;
            line-height: 45px;
            @include breakpoint($bp-1024-width) {
              font-size: 20px;
              line-height: 36px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 15px;
              line-height: 26px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 10px;
              line-height: 18px;
            }
          }
          .second-line {
            display: block;
            font-size: 16px;
            @include breakpoint($bp-1024-width) {
              font-size: 14px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 12px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 8px;
            }
          }
        }
        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
    #player {
      height: 100%;
      position: relative;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.page-videos-live {
  .expandable-container {
    margin: 0;
  }
  .video-block {
    margin-bottom: 0;
    .consum-sidebar {
      .download-app {
        display: table;
      }
      .advert {
        height: auto;
        padding: 0;
      }
    }
  }
}

