.five-promo-item-block {
  @include clear();
  background: $footer-links;
  border-bottom: 2px solid;
  border-top: 1px solid;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-480-width) {
    padding: 40px 10px;
  }
  ul {
    @include clear();
    margin: 0 auto;
    max-width: 1868px;
    padding: 0;
    position: relative;
    width: 100%;
    li {
      float: left;
      height: 37.2vw;
      overflow: hidden;
      position: relative;
      width: 49.6%;
      @include breakpoint($bp-min-1901-width) {
        height: 714px;
      }
      @include breakpoint($bp-768-width) {
        height: calc((100vw - 32px) / 1.28);
        width: 100%;
      }
      &.first {
        @extend %three-line-video-promo-large;
        @extend %meta;
        @include breakpoint($bp-768-width) {
          margin-bottom: 1.47vw;
        }
        @include breakpoint($bp-640-width) {
          height: 51.6vw;
        }
      }
      > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        &.advertisement-block {
          .advert {
            left: 50%;
            height: 250px;
            margin-left: -150px;
            margin-top: -125px;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            width: 300px;
          }
        }
      }
      &:nth-child(2), .last {
        float: right;
        @extend %three-line-video-promo;
        @extend %meta;
        > div {
          float: left;
          height: 49.2%;
          margin-right: 1.6%;
          width: 49.2%;
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: 1.6%;
          }
          &:nth-child(2), &:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }
  }
}