.five-promo-item-block {
  @include clear();
  background: $footer-links;
  border-bottom: 2px solid;
//  border-top: 1px solid;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-480-width) {
    padding: 40px 10px;
  }
  ul {
    @include clear();
    margin: 0 auto;
    max-width: 1868px;
    padding: 0;
    position: relative;
    width: 100%;
    li {
      float: left;
      height: 37.2vw;
      overflow: hidden;
      position: relative;
      width: 49.6%;
      @include breakpoint($bp-min-1901-width) {
        height: 714px;
      }
      @include breakpoint($bp-768-width) {
        height: calc((100vw - 32px) / 1.28);
        width: 100%;
      }
      &.first {
        @extend %three-line-video-promo-large;
        @extend %meta;
        @include breakpoint($bp-768-width) {
          margin-bottom: 1.47vw;
        }
        @include breakpoint($bp-640-width) {
          height: 51.6vw;
        }
      }
      > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        &.advert-block {
          .advertisement {
            background: $video-promo-back-gray;
            left: 50%;
            height: 250px;
            margin-left: -150px;
            margin-top: -125px;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            width: 300px;
          }
        }
      }
      &:nth-child(2), .last {
        float: right;
        @extend %three-line-video-promo;
        @extend %meta;
        > div {
          float: left;
          height: 49.2%;
          margin-right: 1.6%;
          width: 49.2%;
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: 1.6%;
          }
          &:nth-child(2), &:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }
  }
  &.show-video-landing-main-block {
    border-top: 0;
    ul {
      li {
        height: 39.82vw;
        @include breakpoint($bp-min-1901-width) {
          height: 756px;
        }
        &.first {
          @include breakpoint($between-769-1280) {
            height: 32.55vw;
            width: 57%;
          }
          @include breakpoint($bp-768-width) {
            height: 55.65vw;
          }
        }
        &.last {
          @include breakpoint($between-769-1280) {
            clear: both;
            height: auto;
            overflow: visible;
            width: 100%;
          }
          @include breakpoint($bp-768-width) {
            height: auto;
          }
          >div:not(.advert-block) {
            @include breakpoint($between-769-1280) {
              float: left;
              height: 26.2vw;
              margin-bottom: 0;
              margin-right: 0.8%;
              margin-top: 0.8vw;
              width: 32.8%;
            }
            @include breakpoint($bp-768-width) {
              height: 55.65vw;
              margin-right: 0;
              width: 100%;
            }
            .meta-wrapper {
              @include breakpoint($between-641-768) {
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
                height: 25%;
              }
              @include breakpoint($bp-640-width) {
                height: 29%;
              }
            }
            @include breakpoint($bp-768-width) {
              .caption {
                font-size: 14px;
                line-height: 18px;
              }
              .title {
                font-size: 20px;
                line-height: 26px;
              }
              .additional {
                font-size: 14px;
                line-height: 18px;
              }
              .meta-icon {
                left: 4%;
                height: 42px;
                margin-top: -21px;
                width: 42px;
                ~ .meta {
                  padding-left: calc(8% + 42px);
                }
              }
            }
            @include breakpoint($bp-480-width) {
              .caption {
                font-size: 10px;
                line-height: 13px;
              }
              .title {
                font-size: 14px;
                line-height: 18px;
              }
              .additional {
                font-size: 10px;
                line-height: 13px;
              }
              .meta-icon {
                left: 4%;
                height: 30px;
                margin-top: -15px;
                width: 30px;
                ~ .meta {
                  padding-left: calc(8% + 30px);
                }
              }
            }

          }
          >div:nth-child(3) {
            @include breakpoint($between-769-1280) {
              margin-right: 0;
            }
          }
          .advert-block {
            @include breakpoint($between-769-1280) {
              bottom: 100%;
              height: 32.55vw;
              position: absolute;
              right: 0;
              width: 41.67%;
            }
            @include breakpoint($bp-768-width) {
              display: none;
            }
          }
        }
      }
    }
  }
}