%five-promo-item-large {
  .three-line-video-large {
    &.watch-now {
      > a {
        &:before {
          height: get-vw(180px, 1901);
          width: get-vw(193px, 1901);
          @include breakpoint ($bp-min-1901-width) {
            height: 180px;
            width: 193px;
          }
          @include breakpoint ($between-600-1280) {
            height: get-vw(136px, 1280);
            width: get-vw(146px, 1280);
          }
          @include breakpoint ($bp-599-width) {
            height: get-vw(140px, 768);
            width: get-vw(150px, 768);
          }
        }
      }
    }
    .meta-wrapper {
      @include breakpoint($bp-min-600-width) {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
        height: 29%;
      }
      @include breakpoint($bp-min-769-width) {
        height: 9.1vw;
      }
      @include breakpoint($bp-min-1901-width) {
        height: 173px;
      }
      @include breakpoint($bp-599-width) {
        background: $video-promo-back-gray;
        height: 29%;
      }
      @include breakpoint($bp-480-width) {
        height: 33%;
      }
    }
    .meta {
      .caption {
        font-size: get-vw(22px, 1901);
        line-height: get-vw(30px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 22px;
          line-height: 30px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 12px;
          line-height: 16px;
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(12px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(12px, 480);
          line-height: get-vw(16px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .title {
        font-family: $avalon-medium;
        font-size: get-vw(34px, 1901);
        line-height: get-vw(40px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 34px;
          line-height: 40px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 18px;
          line-height: 21px;
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(18px, 768);
          line-height: get-vw(21px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(18px, 480);
          line-height: get-vw(21px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 18px;
          line-height: 21px;
        }
      }
      .additional {
        font-family: $tex-gyreschola-italic;
        font-size: get-vw(22px, 1901);
        line-height: get-vw(30px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 22px;
          line-height: 30px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 12px;
          line-height: 16px;
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(12px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(12px, 480);
          line-height: get-vw(16px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .meta-icon {
      height: get-vw(80px, 1901);
      margin-top: get-vw(-40px, 1901);
      width: get-vw(80px, 1901);
      @include breakpoint($bp-min-1901-width) {
        height: 80px;
        margin-top: -40px;
        width: 80px;
      }
      @include breakpoint($bp-1024-width) {
        height: 42px;
        margin-top: -21px;
        width: 42px;
      }
      @include breakpoint($between-600-768) {
        height: get-vw(42px, 768);
        margin-top: get-vw(-21px, 768);
        width: get-vw(42px, 768);
      }
      @include breakpoint($bp-599-width) {
        height: get-vw(36px, 480);
        margin-top: get-vw(-18px, 480);
        width: get-vw(36px, 480);
      }
      @include breakpoint($bp-480-width) {
        height: 36px;
        margin-top: -18px;
        width: 36px;
      }
      ~ .meta {
        padding-left: calc(8% + #{get-vw(80px, 1901)});
        @include breakpoint($bp-min-1901-width) {
          padding-left: calc(8% + 80px);
        }
        @include breakpoint($bp-1024-width) {
          padding-left: calc(8% + 42px);
        }
        @include breakpoint($between-600-768) {
          padding-left: calc(8% + #{get-vw(42px, 768)});
        }
        @include breakpoint($bp-599-width) {
          padding-left: calc(8% + #{get-vw(36px, 480)});
        }
        @include breakpoint($bp-480-width) {
          padding-left: calc(8% + 36px);
        }
      }
    }
  }
}
%five-promo-item-small {
  .three-line-video {
    &.watch-now {
      > a {
        &:before {
          height: get-vw(89px, 1901);
          width: get-vw(95px, 1901);
          @include breakpoint ($bp-min-1901-width) {
            height: 89px;
            width: 95px;
          }
          @include breakpoint ($between-769-1280) {
            height: get-vw(78.6px, 1280);
            width: get-vw(84px, 1280);
          }
          @include breakpoint ($bp-768-width) {
            height: get-vw(136px, 1280);
            width: get-vw(146px, 1280);
          }
          @include breakpoint ($bp-599-width) {
            height: get-vw(140px, 768);
            width: get-vw(150px, 768);
          }
        }
      }
    }
    .meta-wrapper {
      background: $video-promo-back-gray;
      height: 25%;
      @include breakpoint($between-600-768) {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
        height: 29%;
      }
      @include breakpoint($bp-599-width) {
        background: $video-promo-back-gray;
        height: 29%;
      }
      @include breakpoint($bp-480-width) {
        height: 33%;
      }
    }
    .meta {
      .caption {
        font-size: get-vw(18px, 1901);
        line-height: get-vw(24px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 18px;
          line-height: 24px;
        }
        @include breakpoint($between-1025-1280) {
          font-size: get-vw(9.5px, 768);
          line-height: get-vw(12px, 768);
        }
        @include breakpoint($between-769-1024) {
          font-size: get-vw(9.5px, 768);
          line-height: get-vw(12px, 768);
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(12px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(12px, 480);
          line-height: get-vw(16px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .title {
        font-family: $avalon-medium;
        font-size: get-vw(24px, 1901);
        line-height: get-vw(30px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 24px;
          line-height: 30px;
        }
        @include breakpoint($between-1025-1280) {
          font-size: get-vw(13px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($between-769-1024) {
          font-size: get-vw(13px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(18px, 768);
          line-height: get-vw(21px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(18px, 480);
          line-height: get-vw(21px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 18px;
          line-height: 21px;
        }
      }
      .additional {
        font-family: $tex-gyreschola-italic;
        font-size: get-vw(16px, 1901);
        line-height: get-vw(22px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 16px;
          line-height: 22px;
        }
        @include breakpoint($between-1025-1280) {
          font-size: get-vw(9px, 768);
          line-height: get-vw(12px, 768);
        }
        @include breakpoint($between-769-1024) {
          font-size: get-vw(9px, 768);
          line-height: get-vw(12px, 768);
        }
        @include breakpoint($between-600-768) {
          font-size: get-vw(12px, 768);
          line-height: get-vw(16px, 768);
        }
        @include breakpoint($bp-599-width) {
          font-size: get-vw(12px, 480);
          line-height: get-vw(16px, 480);
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .meta-icon {
      height: get-vw(48px, 1901);
      margin-top: get-vw(-24px, 1901);
      width: get-vw(48px, 1901);
      @include breakpoint($bp-min-1901-width) {
        height: 48px;
        margin-top: -24px;
        width: 48px;
      }
      @include breakpoint($between-1025-1280) {
        height: get-vw(30px, 768);
        margin-top: get-vw(-15px, 768);
        width: get-vw(30px, 768);
      }
      @include breakpoint($between-769-1024) {
        height: get-vw(30px, 768);
        margin-top: get-vw(-15px, 768);
        width: get-vw(30px, 768);
      }
      @include breakpoint($between-600-768) {
        height: get-vw(42px, 768);
        margin-top: get-vw(-21px, 768);
        width: get-vw(42px, 768);
      }
      @include breakpoint($bp-599-width) {
        height: get-vw(36px, 480);
        margin-top: get-vw(-18px, 480);
        width: get-vw(36px, 480);
      }
      @include breakpoint($bp-480-width) {
        height: 36px;
        margin-top: -18px;
        width: 36px;
      }
      ~ .meta {
        padding-left: calc(8% + #{get-vw(48px, 1901)});
        @include breakpoint($bp-min-1901-width) {
          padding-left: calc(8% + 48px);
        }
        @include breakpoint($between-1025-1280) {
          padding-left: calc(8% + #{get-vw(30px, 768)});
        }
        @include breakpoint($between-769-1024) {
          padding-left: calc(8% + #{get-vw(30px, 768)});
        }
        @include breakpoint($between-600-768) {
          padding-left: calc(8% + #{get-vw(42px, 768)});
        }
        @include breakpoint($bp-599-width) {
          padding-left: calc(8% + #{get-vw(36px, 480)});
        }
        @include breakpoint($bp-480-width) {
          padding-left: calc(8% + 36px);
        }
      }
    }
  }
}
.five-promo-item-block {
  @include clear();
  background: $footer-links;
  border-bottom: 2px solid;
  border-top: 0;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  &:nth-child(even) {
    background: $poll-back;
  }
  @include breakpoint($bp-480-width) {
    padding: 40px 10px;
  }
  ul {
    @include clear();
    margin: 0 auto;
    max-width: 1868px;
    padding: 0;
    position: relative;
    width: 100%;
    li {
      height: auto;
      overflow: hidden;
      @extend %meta;
      &.first {
        float: left;
        padding-top: calc(49.6% * 0.816);
        position: relative;
        width: 49.6%;
        @extend %five-promo-item-large;
        @include breakpoint($bp-1280-width) {
          margin-bottom: 0.8%;
        }
        @include breakpoint($between-769-1280) {
          padding-top: calc(57% * 0.575);
          width: 57%;
        }
        @include breakpoint($between-600-768) {
          padding-top: calc(49.6% * 0.575);
          width: 49.6%;
        }
        @include breakpoint($bp-599-width) {
          margin-bottom: 1.6%;
          padding-top: 57.5%;
          width: 100%;
        }
      }
      &:not(.first) {
        @extend %five-promo-item-small;
        padding-top: calc(((49.6% - 0.8%)/2)*0.816);
        position: absolute;
        width: calc((49.6% - 0.8%)/2);
        @include breakpoint($bp-768-width) {
          position: relative;
        }
        @include breakpoint($between-600-768) {
          padding-top: calc(49.6% * 0.575);
          width: 49.6%;
        }
        @include breakpoint($bp-599-width) {
          padding-top: 57.5%;
          width: 100%;
        }
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        @include breakpoint($between-769-1280) {
          float: left;
          margin-right: 0.8%;
          padding-top: calc(32.8% * 0.816);
          position: relative;
          width: 32.8%;
        }
      }
      &:nth-child(2) {
        @include breakpoint($bp-min-1281-width) {
          left: 50.4%;
          top: 0;
        }
        @include breakpoint($between-769-1280) {
          clear: left;
        }
        @include breakpoint($between-600-768) {
          float: right;
          margin-bottom: 0.8%;
        }
        @include breakpoint($bp-599-width) {
          margin-bottom: 1.6%;
        }
      }
      &:nth-child(3) {
        @include breakpoint($bp-min-1281-width) {
          right: 0;
          top: 0;
        }
        @include breakpoint($between-600-768) {
          float: left;
        }
        @include breakpoint($bp-599-width) {
          margin-bottom: 1.6%;
        }
      }
      &:nth-child(4) {
        @include breakpoint($bp-min-1281-width) {
          bottom: 0;
          left: 50.4%;
        }
        @include breakpoint($between-769-1280) {
          margin-right: 0;
          float: right;
        }
        @include breakpoint($between-600-768) {
          float: right;
        }
      }
      &:nth-child(5) {
        bottom: 0;
        right: 0;
        @include breakpoint($between-769-1280) {
          bottom: auto;
          padding-top: calc(57% * 0.575);
          right: 0;
          top: 0;
          width: 41.6%;
        }
      }
      &.advert-block {
        @include breakpoint($bp-768-width) {
          display: none;
        }
        .advertisement {
          background: $video-promo-back-gray;
          left: 50%;
          height: 250px;
          margin-left: -150px;
          margin-top: -125px;
          position: absolute;
          top: 50%;
          width: 300px;
        }
      }
      > div {
        left: 0;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        &.watch-now {
          position: absolute;
        }
        .meta-wrapper {
          bottom: 0;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
        .meta-wrapper-inner {
          height: 100%;
          display: table;
          position: relative;
          width: 100%;
        }
        .meta {
          display: table-cell;
          max-width: 100px;
          overflow: hidden;
          padding-left: 4%;
          vertical-align: middle;
          width: 100%;
        }
        .meta-icon {
          left: 4%;
          position: absolute;
          top: 50%;
        }
        .asset-img {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  &.movie-all-movies-main-block {
    .movies-main-description {
      color: $show-section-title;
      font-size: get-vw(40px, 1901);
      line-height: 1.1;
      margin-bottom: 35px;
      text-align: center;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
      }
      @include breakpoint($bp-768-width) {
        font-size: 16px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 12px;
      }
      .description-first-line {
        font-family: $avalon-medium;
      }
      .description-second-line {
        font-family: $avalon-book;
      }
    }
  }
}
