footer {
  background: $footer-back;
  min-width: 300px;
  position: relative;
  width: 100%;
  .footer-menu-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  .legal-and-social {
    background: $bottom-footer-back;
    padding: 20px 45px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-768-width) {
      padding: 20px 30px;
    }
    @include breakpoint($bp-480-width) {
      padding: 10px;
    }
    ul {
      max-width: 85%;
    }
    li {
      float: left;
      @include linksSeparator(12px, 6px, 6px, $footer-link-separator);
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        color: $footer-links;
        font-family: $avalon-medium;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .copyright {
      clear: both;
      color: $footer-links;
      float: none;
      font-size: 12px;
      max-width: 85%;
      padding-top: 4px;
      text-transform: uppercase;
    }
    .footer-social-bar {
      position: absolute;
      right: 45px;
      @include breakpoint($bp-768-width) {
        right: 30px;
      }
      @include breakpoint($bp-480-width) {
        right: 10px;
      }
      a {
        float: left;
        display: block;
        margin-left: 6px;
        &.instagram {
          @include sprite-background(insta-icon);
        }
        &.twitter {
          @include sprite-background(twitter-icon);
        }
        &.facebook {
          @include sprite-background(fb-icon);
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .shows-menu, .app-and-services-menu {
    ul {
      list-style: none;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3;
      -o-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      -ms-column-gap: 2em;
      -o-column-gap: 2em;
      column-gap: 2em;
      margin: 20px 0px 40px 155px;
      @include breakpoint($bp-1024-width) {
        margin: 20px 0px 40px 75px;
      }
      @include breakpoint($bp-768-width) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
        margin: 20px 0px 40px 55px;
      }
      li {
        margin-bottom: 10px;
        a {
          color: $footer-links;
          font-family: $avalon-medium;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          span {
            color: $bottom-footer-back;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  h2 {
    color: $footer-links;
    font-family: $avalon-demi;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 40px;
    text-transform: uppercase;
    @include breakpoint($bp-768-width) {
      padding-left: 30px;
    }
  }
}

