#block-usanetwork-blocks-usa-footer-promos {
  background-color: $footer-promo-links;
  width: 100%;
  #footer-promo-links {
    display: table;
    margin: 0 auto;
    padding: get-vw(46px, 1901) 0;
    max-width: 1100px;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      padding: 46px 0;
    }
    @include breakpoint($bp-768-width) {
      padding: 18.584px 0;
    }
    .footer-promo-link-item {
      display: table-cell;
      cursor: pointer;
      padding: 0 10px;
      text-align: center;
      vertical-align: middle;
      @include breakpoint($bp-768-width) {
        padding: 0 5px;
      }
      a:focus{
        outline: none;
      }
      .image {
        line-height: 0;
        img {
          max-width: get-vw(75px, 1901);
          width: 100%;
          @include breakpoint($bp-min-1901-width) {
            max-width: 75px;
          }
          @include breakpoint($bp-768-width) {
            max-width: 30.3px;
          }
        }
      }
      .title {
        color: $poll-color;
        font-family: $avalon-medium;
        font-size: get-vw(9.5px, 768);
        line-height: get-vw(34px, 1901);
        margin-top: get-vw(21px, 1901);
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include breakpoint($bp-min-1901-width) {
          font-size: 23.5px;
          line-height: 34px;
          margin-top: 21px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 9.5px;
          line-height: 13.7px;
          margin-top: 8.5px;
        }
      }
    }
  }
}
