.page-videos {
  .page-title {
    padding-right: 90px;
    .sign-in-link {
      color: $poll-color;
      font-family: $avalon-medium;
      font-size: 16px;
      line-height: 22px;
      height: 100%;
      max-height: 110px;
      right: 0;
      padding-top: 45px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      top: 0;
      position: absolute;
      width: 90px;
      &:before {
        @include sprite-background(key-gray);
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        margin-top: 25px;
        top: 0;
      }
      &.active {
        background-color: $poll-color;
        text-indent: 110%;
        white-space: nowrap;
        &:before {
          @include sprite-background(x-icon);
          margin-left: -10.5px;
          margin-top: -10.5px;
          left: 50%;
          top: 50%;
        }
      }
      span {
        display: block;
        font-family: $cent-725BT-italic;
        font-size: 14;
        font-style: italic;
        line-height: 20px;
        text-transform: lowercase;
      }
    }
  }
  .main {
    padding-bottom: 20px;
    .tab-item {
      &.log-in {
        display: none;
        @include clear;
        background-color: $poll-color;
        padding: 40px;
        &.active {
          display: block;
        }
        .discription {
          color: #ffffff;
          font-family: $avalon-medium;
          font-size: 14px;
          line-height: 20px;
          float: left;
          padding-right: 20px;
          width: 50%;
          h3 {
            font-size: 16px;
            margin-bottom: 30px;
            text-transform: uppercase;
          }
          .more {
            color: #ffffff;
            display: block;
            font-family: $avalon-medium;
            font-size: 10px;
            line-height: 18px;
            margin-left: auto;
            padding-right: 15px;
            position: relative;
            text-decoration: none;
            width: 75px;
            &:before {
              color: #ffffff;
              content: "\e609";
              display: block;
              font-family: "ico-font";
              font-size: 10px;
              line-height: 10px;
              position: absolute;
              margin-top: -5px;
              right: 0;
              top: 50%;
            }
          }
        }
        .check-sign-in {
          float: left;
          padding-left: 20px;
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }

    .aspot-and-episodes {
      @include clear;
      margin-bottom: 50px;
      height: 100%;
      @include breakpoint($bp-1024-width) {
        margin-bottom: 0;
      }
      & > .node {
        float: left;
        left: 0;
        padding-right: 20%;
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
        @include breakpoint($bp-1024-width) {
          float: none;
          padding-right: 0;
          margin-bottom: 0;
          width: 100%;
        }
        a {
          display: block;
          position: relative;
          .asset-img {
            img {
              width: 100%;
              height: auto;
            }
          }
          .meta-wrapper {
            bottom: 10%;
            left: 5%;
            position: absolute;
            @extend %meta;
            .meta {
              padding-left: 70px;
              position: relative;
              .caption {
                font-size: 20px;
                line-height: 26px;
              }
              .title {
                font-size: 40px;
                line-height: 46px;
              }
              .additional {
                font-size: 17px;
                line-height: 25px;
                span {
                  font-size: 17px;
                }
              }
              .play-icon {
                &:before {
                  left: 0;
                  margin-top: -18.5px;
                  top: 50%;
                }
              }
              @include breakpoint($bp-768-width) {
                .title {
                  font-size: 16px;
                  line-height: 22px;
                }
                .caption {
                  font-size: 28px;
                  line-height: 34px;
                }
                .additional {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
      .episodes-list {
        background: none;
        position: absolute;
        right: 0;
        left: inherit;
        top: 0;
        width: 20%;
        @include breakpoint($bp-1024-width) {
          max-width: 100%;
          position: relative;
          width: 100%;
        }
        ul {
          height: 100%;
          @include breakpoint($bp-1024-width) {
            @include clear;
            padding: 10px;
            width: 100%;
          }
          @include breakpoint($bp-640-width) {
            @include clear;
            padding: 10px 0 0;
          }
          &.open {
            li {
              display: block;
            }
          }
          li {
            background: none;
            height: 20%;
            padding-left: 2px;
            padding-bottom: 2px;
            @include breakpoint($between-641-1024) {
              float: left;
              margin-bottom: 10px;
              padding: 0;
              width: 49%;
              &:nth-child(2n+1) {
                margin-right: 2%;
              }
            }
            @include breakpoint($bp-768-width){
              display: block;
            }
            @include breakpoint($bp-640-width) {
              padding: 0;
              display: none;
              &:nth-child(1), &:nth-child(2) {
                display: block;
              }
            }
            &:last-child {
              padding-bottom: 0;
            }
            a {
              display: block;
              overflow: hidden;
              position: relative;
              .asset-img {
                float: none;
                @include breakpoint($bp-768-width){
                  max-width: 100%;
                }
                img {
                  width: 100%;
                }
              }
              .meta-wrapper {
                background-color: rgba(0, 0, 0, 0.6);
                bottom: 0;
                color: #ffffff;
                left: 0;
                height: 48px;
                position: absolute;
                width: 100%;
                @include breakpoint($bp-min-1601-width) {
                  height: 70px;
                }
                @include breakpoint($bp-640-width) {
                  height: 70px;
                }
                .meta-icon {
                  &:before {
                    left: 10px;
                    margin-top: -18.5px;
                    top: 50%;
                    @include breakpoint($bp-1024-width) {
                      margin-top: -15px;
                    }
                  }
                }
                @extend %meta;
                .meta {
                  padding-left: 55px;
                  padding-right: 20px;
                  margin-top: -25px;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  .caption, .title, .additional {
                    max-width: 100%;
                  }
                  .caption {
                    font-size: 9px;
                    line-height: 14px;
                    margin: 0;
                  }
                  .title {
                    background: none;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 20px;
                    margin: 0;
                  }
                  .additional {
                    font-size: 11px;
                    line-height: 14px;
                    margin: 0;
                    span {
                      font-size: 9px;
                    }
                  }
                }
              }
            }
          }
        }
        .more-button {
          display: none;
          position: relative;
          @include breakpoint($bp-640-width) {
            background: $full-episodes-light-back;
            border-top: 2px solid $footer-back;
            clear: both;
            display: block;
            height: 70px;
            width: 100%;
          }
          a {
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            &:before {
              color: #ffffff;
              font-family: $avalon-medium;
              font-size: 15px;
              display: block;
              left: 50%;
              margin-left: -30px;
              margin-top: -8px;
              position: absolute;
              text-transform: uppercase;
              text-decoration: none;
              top: 50%;
            }
          }
        }
      }
    }

    .ad-728x90 {
      display: none;
      margin: 20px auto 0;
      max-width: 728px;
      a {
        display: block;
        max-height: 90px;
      }
      @include breakpoint($bp-768-width) {
        display: block;
        height: 100%;
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .latest-block {
    background: $free-full-episodes;
    .carousel-description-item {
      height: auto;
      margin: 40px auto;
      @include breakpoint($bp-480-width) {
        margin: 0 0 20px 0;
      }
      .description-wrapper {
        display: block;
        @include breakpoint($bp-480-width) {
          width: 100%;
        }
        .description-block {
          display: table;
          height: 250px;
          padding: 40px 0;
          position: relative;
          @include breakpoint($bp-480-width) {
            display: block;
            height: auto;
            padding: 0;
          }
          .title {
            display: table-cell;
            font-size: 22px;
            line-height: 25px;
            margin: 0;
            vertical-align: middle;
            width: 100%;
            @include breakpoint($bp-480-width) {
              display: block;
              margin: 10px 0;
            }
          }
          .additional-text {
            font-size: 12px;
            bottom: 0;
            left: 0;
            line-height: 40px;
            position: absolute;
            @include breakpoint($bp-min-1601-width) {
              font-size: 14px;
            }
            @include breakpoint($bp-480-width) {
              line-height: 18px;
              position: static;
            }
          }
        }
      }
    }
  }
  .carousel-wrapper {
    .carousel-block {
      @include breakpoint($bp-480-width) {
        margin-bottom: 1px;
        padding: 0;
      }
      &:not(.active) {
        .carousel-description-item {
          .description-wrapper {
            .description-block {
              .title {
                background: none;
              }
            }
          }
        }
      }
      &.active {
        .carousel {
          @include breakpoint($bp-480-width) {
            display: block;
            ul {
              li {
                margin-bottom: 55px;
                margin-top: 20px;
              }
            }
          }
        }
        .carousel-left {
          margin-left: 20px;
        }
        .get-app {
          @include breakpoint($bp-480-width) {
            display: block;
          }
        }
      }
      .carousel {
        @include breakpoint($bp-480-width) {
          display: none;
        }
      }
      .get-app {
        display: none;
        color: $poll-color;
        font-family: $avalon-demi;
        font-size: 14px;
        padding-right: 40px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .carousel-block-left {
      position: relative;
      &:nth-child(2n-1) {
        background: $footer-links;
      }
      &:nth-child(2n) {
        background: $poll-back;
      }
      .more-episodes {
        color: $poll-color;
        font-family: $avalon-demi;
        font-size: 14px;
        line-height: 14px;
        margin-top: -7px;
        right: 10px;
        padding-right: 20px;
        position: absolute;
        top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        @include breakpoint($bp-480-width) {
          display: none;
        }
        &:hover {
          text-decoration: underline;
        }
        &:after {
          content: "\e608";
          display: block;
          font-family: "ico-font";
          position: absolute;
          margin-top: -8px;
          right: 0;
          top: 50%;
        }
      }
      .carousel-description-item {
        height: auto;
        margin: 40px auto;
        @include breakpoint($bp-1600-width) {
          left: -175px;
        }
        &.start{
          @include breakpoint($bp-1600-width) {
            left: 50px;
          }
          @include breakpoint($bp-480-width) {
            left: 0;
          }
        }
        @include breakpoint($bp-480-width) {
          height: 86px;
          left: 0;
          margin: 0;
          position: relative;
          top: 0;
        }
        .description-wrapper {
          display: block;
          @include breakpoint($bp-1600-width) {
            width: 175px;
          }
          @include breakpoint($bp-480-width) {
            background: $schedule-tonight;
            float: none;
            height: 100%;
            width: 100%;
          }
          .description-block {
            display: table;
            height: 250px;
            padding: 40px 0;
            position: relative;
            text-align: right;
            @include breakpoint($bp-480-width) {
              display: block;
              height: auto;
              padding: 0;
              text-align: left;
            }
            .caption {
              font-size: 9px;
              right: 0;
              line-height: 40px;
              position: absolute;
              white-space: nowrap;
              top: 0;
              @include breakpoint($bp-min-1601-width) {
                font-size: 14px;
              }
              @include breakpoint($bp-480-width) {
                display: none;
              }
            }
            .title {
              display: table-cell;
              margin: 0;
              vertical-align: middle;
              @include breakpoint($bp-min-481-width) {
                background: none;
                width: 175px;
              }
              @include breakpoint($bp-min-1601-width) {
                width: 250px;
              }
              @include breakpoint($bp-480-width) {
                cursor: pointer;
                color: #ffffff;
                display: block;
                font-size: 22px;
                line-height: 86px;
                position: relative;
                margin: 0;
                padding-left: 30px;
                width: 100%;
              }
              &:before {
                @include breakpoint($bp-min-481-width) {
                  display: none;
                }
              }
            }
            .additional-text {
              font-size: 12px;
              bottom: 0;
              right: 0;
              line-height: 40px;
              position: absolute;
              @include breakpoint($bp-min-1601-width) {
                font-size: 14px;
              }
              @include breakpoint($bp-480-width) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

