#full-bleed-promo {
  @include clear();
  margin: 20px auto 0;
  position: relative;
  min-height: 250px;
  max-height: 500px;
  max-width: 1650px;
  min-width: 300px;
  @include breakpoint($bp-768-width) {
    @include clear;
  }
  .block-content > a {
    display: block;
    line-height: 0;
    margin-right: 330px;
    max-width: 1350px;
    @include breakpoint($bp-1024-width) {
      margin-right: 320px;
    }
    @include breakpoint($bp-640-width) {
      margin-right: 0;
      text-align: center;
    }
  }
  .block-advert {
    height: 250px;
    right: 0;
    margin-top: -125px;
    position: absolute;
    top: 50%;
    width: 300px;
    @include breakpoint($bp-1900-width) {
      right: 15px;
    }
    @include breakpoint($bp-1024-width) {
      right: 10px;
    }
    @include breakpoint($bp-768-width) {
      float: right;
      margin: 30px 10px 30px 0;
      position: static;
    }
    @include breakpoint($bp-640-width) {
      display: none;
    }
  }
}