
#utilities {
  &.search-active {
    height: 85px;
    @include breakpoint($bp-head-search) {
      height: 50px;
    }
  }
  &.utilities-head-show {
    #block-search-form {
      margin-top: -40px;
    }
    @include breakpoint($bp-head-search) {
      #block-search-form {
        margin-top: 5px;
      }
    }
  }
}

@include breakpoint($bp-head-search) {

  .utilities-search {
    .utilties-main-group {
      float: left;
      margin-right: -65px;
      padding-right: 65px;
      width: 94%;
      @include transition-property(margin, padding);
      @include transition-duration(0.2s);
    }
    .show-time {
      @include transition-property(right);
      @include transition-duration(0.2s);
    }
  }
  .utilities-search.search-active {
    .utilties-main-group {
      margin-right: -280px;
      padding-right: 280px;
      @include transition-property(padding);
      @include transition-duration(0.2s);
    }
    .show-time {
      @include transition-property(right);
      @include transition-duration(0.2s);
    }
  }
}


#block-search-form {
  clear: both;
  @include border-radius(20px);
  margin: 0 15px 0 0;
  @include breakpoint($bp-head-search) {
    background-color: $gray-med;
    clear: none;
    @include float-right;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    .search-active & {
      width: 274px;
    }
  }
  input {
    @include inline-block;
    border: none;
    vertical-align: middle;
  }

  .form-submit {
    font-size: 0;
    display: none;
  }

  .form-reset {
    display: none;
    .search-active & {
      display: block;
      position: absolute;
      top: 48px;
      right: 12px;
      background-color: transparent;
      border: 0;
      padding: 0;
      &:after {
       @extend %usanetwork-font;
        font-size: 14px;
        content: "\e00a";
        color: $gray-light;
      }
      @include breakpoint($bp-head-search) {
        display: none;
      }
    }
  }

  .form-type-searchfield {
    display: block;
    margin: 0;
    outline: none;
    label  {
      .ie8 &, .ie9 &, .no-font-feature-settings & {
        background: url(../images/svgs/search.svg) no-repeat 8px 9px transparent;
        text-indent: -9999px;
      }
      @extend %usanetwork-font;
      font-size: 14px;
      background-color: $gray-med;
      padding-top: 7px;
      padding-left: 7px;
      width: 30px;
      height: 30px;
      float: right;
      cursor: pointer;
      color: $gray-light;
      margin: 0;
      position: absolute;
      top: 5px;
      right: 5px;
      @include border-radius(20px);
      @include breakpoint($bp-head-search) {
        font-size: 20px;
        background-color: transparent;
        @include border-radius(0);
        padding-top: 10px;
        padding-left: 10px;
        width: 40px;
        height: 40px;
        position: static;
        right: auto;
        top: auto;
      }
    }
  }

  input[type="search"] {
    outline: none;
    @extend %regular;
    color: $gray-light;
    float: left;
    background-color: $gray-med;
    font-size: 0;
    height: 20px;
    width: 0;
    margin: 0;
    padding: 0;
    @include border-radius(15px);
    @include breakpoint($bp-head-search) {
      @include transition-property(width);
      @include transition-duration(0.2s);
      background-color: transparent;
      @include border-radius(0);
      height: 30px;
    }
    .search-active & {
      outline: none;
      font-size: 16px;
      padding: 5px 0 5px 10px;
      width: 100%;
      @include breakpoint($bp-head-search) {
        font-size: 20px;
        padding-top: 6px;
        width: 224px;
        line-height: 1em;
        @include transition-property(width);
        @include transition-duration(0.2s);
      }
    }
  }


}// END #head-search

#utilities {
  #block-usanetwork-blocks-usa-follow-block {
    .top-bar-social {
      position: absolute;
      top: -4px;
      right: 8px;
      width: 74px;
/*      top: -7px;
        left: 0px; //without search*/
    }
    a {
      &.usa-twitter-share {
        height: 48px;
        width: 37px;
        background: url("/sites/usanetwork/themes/aurora_usa/images/tw_header_sm.png"); 
        display: inline-block;
      }
      &.usa-twitter-share:hover {
        height: 48px;
        width: 37px;
        background: url("/sites/usanetwork/themes/aurora_usa/images/tw_header_sm_over.png"); 
        display: inline-block;
      }
      &.usa-facebook-share {
        height: 48px;
        width: 37px;
        background: url("/sites/usanetwork/themes/aurora_usa/images/fb_header_sm.png"); 
        display: inline-block;
      }
      &.usa-facebook-share:hover {
        height: 48px;
        width: 37px;
        background: url("/sites/usanetwork/themes/aurora_usa/images/fb_header_sm_over.png"); 
        display: inline-block;
      }
    }
        .social-dropdown {
      width: 205px;
      background: #FFF;
      max-height: 0;
          overflow: hidden;
        -webkit-transition: max-height 0.8s ease-in-out;
        -moz-transition: max-height 0.8s ease-in-out;
        -o-transition: max-height 0.8s ease-in-out;
        transition: max-height 0.8s ease-in-out;
        position: absolute;
      right: 0;
        top: 50px;
      }
    
    @include breakpoint($bp-head-search) {
      position: static;
      float: right;
      margin-top: 1px;
      .top-bar-social {
        position: static;
        width: 100%;
        margin-right: 8px;
    }
      a {
        &.usa-twitter-share {
          height: 48px;
          width: 48px;
          background: url("/sites/usanetwork/themes/aurora_usa/images/tw_header.png"); 
          display: inline-block;
        }
        &.usa-twitter-share:hover {
          height: 48px;
          width: 48px;
          background: url("/sites/usanetwork/themes/aurora_usa/images/tw_header_over.png"); 
          display: inline-block;
          cursor: pointer;
        }
        &.usa-facebook-share {
          height: 48px;
          width: 48px;
          background: url("/sites/usanetwork/themes/aurora_usa/images/fb_header.png"); 
          display: inline-block;
          position: relative;
        }
        &.usa-facebook-share:hover {
          height: 48px;
          width: 48px;
          background: url("/sites/usanetwork/themes/aurora_usa/images/fb_header_over.png"); 
          display: inline-block;
          .social-dropdown {
            max-height: 1000px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
