header {
  @include clear();
  min-width: 300px;
  position: relative;
  width: 100%;
  ul, li, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .ad-728x90 {
    margin: 0 auto;
    padding: 10px 0;
    width: 728px;
    a {
      display: block;
      height: 90px;
    }
    @include breakpoint($bp-768-width) {
      height: auto;
      width: 300px;
      a {
        height: auto;
      }
      img {
        height: auto;
        width: 300px;
      }
    }
  }
  .header-nav-bar {
    background-color: $header-tab-back;
    height: 90px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-1024-width) {
      height: 50px;
    }
    @include breakpoint($bp-768-width) {
      background: $footer-links;
    }
    .no-refresh {
      position: relative;
      &.active {
        &:before {
          background: $bottom-footer-back;
          bottom: -1px;
          content: '';
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
  .usa-logo {
    background: $usa-logo-back;
    float: left;
    height: 100%;
    width: 125px;
    @include breakpoint($bp-1024-width) {
      width: 100px;
    }
    &:hover {
      background: lighten($usa-logo-back, 15%);
    }
    @include breakpoint($bp-768-width) {
      &.active {
        display: none;
      }
    }
    a {
      background: url('../images/usa-logo.png') no-repeat;
      background-position: 45% 50%;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .show-title-wrapper {
    display: none;
    border-left: 1px solid transparent;
    margin-left: 100px;
    margin-right: 50px;
    position: relative;
    text-align: center;
    width: auto;
    @include breakpoint($bp-768-width) {
      display: block;

    }
  }
  .nav-bar-tabs {
    float: left;
    height: 100%;
    width: 605px;
    @include breakpoint($bp-1280-width) {
      width: 485px;
    }
    @include breakpoint($bp-1024-width) {
      width: 400px;
    }
    @include breakpoint($bp-768-width) {
      display: none;
    }
    ul {
      display: table;
      width: 100%;
    }
    .tab {
      display: table-cell;
      height: 100%;
    }
    a {
      background: $header-tab-back;
      border-left: 1px solid $header-tab-back;
      border-right: 1px solid $header-tab-back;
      color: $header-tab-text;
      display: block;
      font-family: $avantgarde-demi;
      font-size: 15px;
      height: 100%;
      line-height: 90px;
      letter-spacing: 0.5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      @include breakpoint($bp-1024-width) {
        line-height: 50px;
      }
      &.active {
        background: $bottom-footer-back;
        color: #ffffff;
        &:hover {
          background: $bottom-footer-back;
        }
      }
      &:hover {
        background: $header-tab-back-hover;
      }
    }
  }
  .user-profile, .search {
    background: $header-tab-back-hover;
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    @include breakpoint($bp-1024-width) {
      height: 50px;
      width: 50px;
    }
    a {
      border-left: 1px solid $header-tab-back;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      &:hover {
        background: $bottom-footer-back;
      }
      &.active {
        background: $bottom-footer-back;
      }
    }
    span {
      background: $usa-logo-back;
      border-radius: 50%;
      color: #ffffff;
      display: block;
      font-family: $avantgarde-demi;
      font-size: 12px;
      height: 18px;
      left: 50%;
      line-height: 18px;
      position: absolute;
      margin-left: 10px;
      padding: 0 2px;
      text-align: center;
      top: 24%;
      min-width: 18px;
      width: auto;
      @include breakpoint($bp-1024-width) {
        height: 11px;
        line-height: 12px;
        margin-left: 6px;
        min-width: 11px;
        top: 15%;
      }
    }
  }
  .user-profile {
    @include breakpoint($bp-768-width) {
      display: none;
    }
    a {
      &:after {
        content: '';
        display: block;
        left: 50%;
        margin-left: -14px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        @include sprite-background(profile-icon);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(profile-icon-small);
          margin-left: -10px;
          margin-top: -10px;
        }
      }
    }
  }
  .search {
    right: 90px;
    @include breakpoint($bp-1024-width) {
      right: 50px;
    }
    @include breakpoint($bp-768-width) {
      left: 0px;
      display: none;
      a {
        border: 0;
      }
      &.active {
        display: block;
      }
    }
    a {
      &:after {
        content: '';
        display: block;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        @include sprite-background(search-icon);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(search-icon-small);
          margin-left: -10px;
          margin-top: -10px;
        }
      }
      &.active {
        border-left: 0;
      }
      @include breakpoint($bp-768-width) {
        &:hover {
          background: $header-tab-back-hover;
        }
        &.active {
          background: $header-tab-back-hover;
        }
      }
    }
  }
  .main-menu-open {
    background: $header-tab-back-hover;
    display: none;
    height: 50px;
    right: 0px;
    position: absolute;
    top: 0;
    width: 50px;
    @include breakpoint($bp-768-width) {
      display: block;
    }
    &.active {
      background: $bottom-footer-back;
      border-left: 1px solid $footer-links;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      &.active {
        &:after {
          @include sprite-background(x-icon);
          margin-left: -11px;
          @include breakpoint($bp-1024-width) {
            margin-top: -10px;
            margin-left: -11px;
          }
        }
      }
      &:after {
        content: '';
        display: block;
        left: 50%;
        margin-top: -8px;
        margin-left: -13px;
        position: absolute;
        top: 50%;
        @include sprite-background(menu-icon);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(menu-icon-small);
          margin-top: -6px;
          margin-left: -10px;
        }
      }
    }
  }
  .search-input-block {
    background: $bottom-footer-back;
    height: 90px;
    display: none;
    margin-left: 730px;
    margin-right: 90px;
    position: relative;
    @include breakpoint($bp-1280-width) {
      margin-left: 610px;
    }
    @include breakpoint($bp-1024-width) {
      height: 50px;
      margin-left: 500px;
      margin-right: 50px;
    }
    @include breakpoint($bp-768-width) {
      background: $header-tab-back-hover;
      margin-left: 50px;
      margin-right: 50px;
    }
    &.active {
      display: block;
    }
    input {
      background: $bottom-footer-back;
      border: none;
      color: $footer-links;
      float: right;
      font-family: $avantgarde-demi;
      font-size: 37px;
      outline: none;
      padding: 22.5px 95px 0 15px;
      text-align: right;
      text-transform: uppercase;
      width: 100%;
      @include breakpoint($bp-1024-width) {
        font-size: 15px;
        padding: 15px 55px 0 10px;
      }
      @include breakpoint($bp-768-width) {
        background: $header-tab-back-hover;
        text-align: left;
      }
    }
    .search-result {
      display: none;
      &.active {
        background: $bottom-footer-back;
        color: #ffffff;
        display: block;
        top: 100%;
        left: 0;
        margin-top: -15px;
        padding-bottom: 36px;
        position: absolute;
        text-align: right;
        width: 100%;
        z-index: 2;
        @include breakpoint($bp-768-width) {
          background-color: $footer-back;
          text-align: left;
        }
        ul {
          li {
            &.search-text {
              a {
                color: #ffffff;
                font-size: 20px;
                font-family: $avantgarde-medium;
                line-height: 40px;
                margin-right: 95px;
                margin-left: 10px;
                text-decoration: none;
                text-transform: uppercase;
                @include breakpoint($bp-1024-width) {
                  font-size: 16px;
                  line-height: 32px;
                  margin-right: 55px;
                }
                @include breakpoint($bp-768-width) {
                  font-size: 14px;
                  line-height: 28px;
                  margin-right: 10px;
                }
              }
            }
            &.search-promo {
              &:nth-child(2n) {
                background: $poll-color;
              }
              a {
                @include clear;
                color: #ffffff;
                display: block;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
                .asset-img {
                  float: right;
                  margin-bottom: 0;
                  max-width: 35%;
                  img {
                    width: 100%;
                  }
                }
                .meta-wrapper {
                  position: absolute;
                  padding-left: 60px;
                  margin-top: -20px;
                  top: 50%;
                  max-width: 50%;
                  @include breakpoint($bp-1024-width) {
                    margin-top: -17px;
                  }
                  .meta-icon {
                    &:before {
                      left: 15px;
                      margin-top: -18.5px;
                      top: 50%;
                    }
                  }
                  .meta {
                    .title {
                      font-family: $avantgarde-medium;
                      font-size: 15px;
                      letter-spacing: 0.5px;
                      line-height: 22px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      @include breakpoint($bp-1024-width) {
                        font-size: 12px;
                        line-height: 18px;
                      }
                    }
                    .caption {
                      font-family: $cent-725BT-italic;
                      font-size: 12px;
                      font-style: italic;
                      line-height: 18px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      @include breakpoint($bp-1024-width) {
                        font-size: 10px;
                        line-height: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .more-link {
          bottom: 0;
          left: 0;
          padding: 10px 30px;
          position: absolute;
          text-align: left;
          width: 100%;
          a {
            color: #ffffff;
            font-size: 15px;
            font-family: $avantgarde-medium;
            line-height: 15px;
            letter-spacing: 0.5px;
            padding-right: 20px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
            &:before {
              color: #ffffff;
              content: "\e608";
              display: block;
              font-family: $ico-font;
              font-size: 10px;
              margin-top: -6px;
              position: absolute;
              right: 0;
              top: 50%;
            }
          }
        }
      }
    }
  }
  .tab-item {
    @include clear();
    background: $bottom-footer-back;
    border-top: 1px solid transparent;
    display: none;
    letter-spacing: 0.5px;
    height: auto;
    padding: 40px;
    position: relative;
    width: 100%;
    //todo
    @include breakpoint($bp-768-width) {
      padding: 20px;
    }
    @include breakpoint($bp-480-width) {
      padding: 10px;
    }
    &.active {
      border-top: 1px solid $header-tab-back-hover;
      display: block;
    }
    &.shows-tab {
      > div {
        float: left;
        position: relative;
        h2 {
          color: $footer-links;
          font-family: $avantgarde-demi;
          font-size: 20px;
          text-transform: uppercase;
        }
        ul {
          list-style: none;
          margin-top: 20px;
        }
        li {
          margin-bottom: 20px;
          a {
            color: $footer-links;
            font-family: $avantgarde-medium;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-decoration: none;
            text-transform: uppercase;
            span {
              color: #000000;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .featured-view {
        width: 36%;
        @include breakpoint($between-769-1024) {
          width: 26%;
        }
        h2 {
          margin-bottom: 30px;
        }
      }
      .originals-shows-menu {
        width: 36%;
        @include breakpoint($between-769-1024) {
          width: 46%;
        }
        ul {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          -ms-column-count: 2;
          -o-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 2em;
          -moz-column-gap: 2em;
          -ms-column-gap: 2em;
          -o-column-gap: 2em;
          column-gap: 2em;
        }
      }
      .syndicated-shows-menu {
        width: 28%;
      }
    }
    //todo full episodes
    &.full-episode-tab {
      @include breakpoint($bp-1024-width) {
        padding: 70px 55px 70px 70px;
      }
      .full-episode-tab-wrapper {
        @include clear;
        margin: 0 auto;
        max-width: 1475px;
        @include breakpoint($bp-1600-width) {
          max-width: 1180px;
        }
        @include breakpoint($between-1025-1280) {
          max-width: 945px;
        }
        @include breakpoint($bp-1024-width) {
          max-width: 100%;
        }
      }
      @include clear;
      color: #ffffff;
      h2 {
        color: $footer-links;
        font-size: 20px;
        font-family: $avantgarde-demi;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .watch-live {
        width: 265px;
        margin-right: 50px;
        float: left;
        @include breakpoint($bp-1600-width) {
          width: 200px;
        }
        @include breakpoint($between-1025-1280) {
          margin-right: 20px;
          width: 170px;
        }
        @include breakpoint($bp-1024-width) {
          float: none;
          margin-left: 0;
          margin-bottom: 65px;
          padding-right: 15px;
          width: 100%;
        }
        .node {
          @include breakpoint($bp-1024-width){
            display: table;
            width: 100%;
          }
          & > a {
            display: block;
            margin-bottom: 10px;
            @include breakpoint($bp-1024-width){
              display: table-cell;
              max-width: 400px;
              padding-right: 30px;
              width: 40%;
            }
            .asset-img {
              max-height: 146px;
              overflow: hidden;
              @include breakpoint($between-1281-1600) {
                max-height: 110px;
              }
              @include breakpoint($between-1025-1280) {
                max-height: 91px;
              }
              @include breakpoint($bp-1024-width){
                max-height: 100%;
              }
              img {
                width: 100%;
              }
            }
          }
          .meta-wrapper {
            padding-left: 45px;
            padding-right: 50px;
            position: relative;
            @include breakpoint($between-1025-1280){
              padding-right: 40px;
            }
            @include breakpoint($bp-1024-width){
              display: table-cell;
              padding-right: 75px;
              vertical-align: middle;
              width: 60%;
            }
            .meta-icon {
              &:before {
                left: 0;
                margin-top: -18.5px;
                top: 50%;
              }
            }
            .meta {
              border-right: 2px solid #ffffff;
              padding-right: 5px;
              .title {
                font-size: 14px;
                font-family: $avantgarde-medium;
                line-height: 18px;
                text-transform: uppercase;
                @include breakpoint($between-1025-1280){
                  font-size: 10px;
                }
                @include breakpoint($bp-1024-width){
                  font-size: 20px;
                  line-height: 26px;
                }
              }
              .type-and-time {
                span {
                  font-size: 12px;
                  font-family: $cent-725BT-italic;
                  font-style: italic;
                  line-height: 16px;
                  text-transform: uppercase;
                  @include breakpoint($between-1025-1280){
                    font-size: 10px;
                  }
                }
              }
            }
            .sign-in-link {
              position: absolute;
              margin-top: -9px;
              right: 0;
              top: 50%;
              @include breakpoint($bp-1024-width){
                margin-top: -14px;
              }
              a {
                color: #ffffff;
                font-size: 12px;
                font-family: $avantgarde-medium;
                line-height: 18px;
                text-decoration: none;
                text-transform: uppercase;
                @include breakpoint($between-1025-1280){
                  font-size: 10px;
                }
                @include breakpoint($bp-1024-width){
                  font-size: 20px;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
      .latest-full-episodes {
        margin-left: 315px;
        @include breakpoint($bp-1600-width) {
          margin-left: 260px;
        }
        @include breakpoint($between-1025-1280) {
          margin-left: 190px;
        }
        @include breakpoint($bp-1024-width) {
          margin-left: 0;
        }
        ul {
          @include clear;
          li {
            float: left;
            margin-right: 20px;
            width: 275px;
            @include breakpoint($bp-1600-width) {
              margin-right: 25px;
              width: 210px;
            }
            @include breakpoint($between-1025-1280) {
              margin-right: 15px;
              width: 170px;
            }
            @include breakpoint($bp-1024-width) {
              margin: 0;
              padding-right: 15px;
              width: 25%;
            }
            &:last-child {
              margin-right: 0;
            }
            .node {
              position: relative;
              a {
                @include clear;
                color: #ffffff;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                .asset-img {
                  margin-bottom: 10px;
                  overflow: hidden;
                  max-height: 146px;
                  @include breakpoint($between-1281-1600) {
                    max-height: 110px;
                  }
                  @include breakpoint($between-1025-1280) {
                    max-height: 91px;
                  }
                  img {
                    width: 100%;
                  }
                }
                .meta-wrapper {
                  position: relative;
                  .meta-icon {
                    &:before {
                      margin-top: -18.5px;
                      top: 50%;
                      @include breakpoint($between-769-1280) {
                        left: 5px;
                      }
                    }
                  }
                  .meta {
                    padding-left: 45px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    .title {
                      font-family: $avantgarde-medium;
                      font-size: 12px;
                      line-height: 15px;
                    }
                    .caption {
                      font-family: $avantgarde-demi;
                      font-size: 12px;
                      line-height: 18px;
                    }
                    .type-and-time {
                      font-family: $avantgarde-medium;
                      font-size: 12px;
                      line-height: 15px;
                      span {
                        font-family: $cent-725BT-italic;
                        font-style: italic;
                      }
                    }
                    @include breakpoint($bp-1280-width){
                      .title {
                        font-size: 10px;
                      }
                      .caption {
                        font-size: 10px;
                      }
                      .type-and-time {
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .more-link {
          float: right;
          margin-top: 40px;
          padding-right: 20px;
          position: relative;
          @include breakpoint($bp-1024-width) {
            margin-right: 15px;
          }
          a {
            color: #ffffff;
            font-family: $avantgarde-demi;
            font-size: 12px;
            line-height: 18px;
            text-decoration: none;
            text-transform: uppercase;
            &:after {
              color: #ffffff;
              content: "\e608";
              display: block;
              font-family: $ico-font;
              font-size: 10px;
              right: 0;
              margin-top: -8px;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
    }
    &.schedule-tab {
      .on-now-panel {
        float: left;
        position: relative;
        width: 55%;
        &:before {
          background: $footer-links;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          right: 0px;
          width: 1px;
        }
        .node {
          @include clear();
          margin-top: 40px;
          padding-bottom: 20px;
          position: relative;
          width: 80%;
          &.on-now {
            .on-now-panel-title {
              top: -40px;
            }
          }
          &.up-next {
            h2 {
              float: left;
            }
          }
          .asset-img {
            float: left;
          }
          .meta {
            margin-left: 155px;
            .title {
              color: #ffffff;
              font-family: $avantgarde-demi;
              font-size: 20px;
              text-transform: uppercase;
            }
            .caption {
              color: $footer-links;
              font-family: $cent-725BT-italic;
              font-size: 12px;
              font-style: italic;
              line-height: 20px;
              text-transform: uppercase;
            }
            .description {
              color: #ffffff;
              font-family: $avantgarde-medium;
              font-size: 12px;
              line-height: 1.2;
            }
          }
        }
        .on-now-panel-title {
          color: $footer-links;
          font-family: $avantgarde-demi;
          font-size: 20px;
          left: 0;
          position: absolute;
          top: -30px;
          text-transform: uppercase;
          .episode-airtime {
            float: left;
            margin-left: 40px;
          }
        }
        .icons-block {
          position: absolute;
          top: 0px;
          right: -15%;
          @include breakpoint($bp-1024-width) {
            left: 10px;
            margin-top: 0px;
            right: auto;
            top: 90px;
          }
          a {
            color: #ffffff !important;
          }
        }
      }
      .primetime-panel {
        float: left;
        margin-top: 40px;
        padding-left: 40px;
        position: relative;
        width: 45%;
        &:before {
          background: $footer-links;
          content: '';
          display: block;
          height: 100%;
          left: -1px;
          position: absolute;
          width: 1px;
        }
        .more {
          bottom: -14px;
          color: #ffffff;
          font-family: $avantgarde-medium;
          font-size: 12px;
          display: block;
          position: absolute;
          text-decoration: none;
          text-transform: uppercase;
          right: 0px;
          &:hover {
            text-decoration: underline;
          }
          &:before {
            color: #ffffff;
            content: "\e608";
            display: block;
            font-family: $ico-font;
            font-size: 10px;
            margin-top: -4px;
            position: absolute;
            right: -14px;
            top: 50%;
          }
        }
        .primetime-panel-title {
          color: $footer-links;
          font-family: $avantgarde-demi;
          font-size: 20px;
          position: absolute;
          text-transform: uppercase;
          top: -40px;
        }
        .schedule-item {
          height: 75px;
          overflow: hidden;
          padding-left: 20px;
          @include breakpoint($bp-1024-width) {
            height: 90px;
          }
          &:nth-child(2n-1) {
            background: $poll-color;
          }
          & > div {
            float: left;
          }
          .icons-block {
            margin-top: -8px;
            position: absolute;
            right: 15px;
            top: 50%;
            @include breakpoint($bp-1024-width) {
              bottom: 10px;
              left: 100px;
              margin-top: 0px;
              right: auto;
              top: auto;
            }
            a {
              color: #ffffff !important;
            }
          }
          .time {
            color: #ffffff;
            font-family: $avantgarde-medium;
            font-size: 12px;
            margin-top: 15px;
            text-transform: uppercase;
            width: 80px;
            span {
              display: block;
              font-size: 20px;
              line-height: 28px;
            }
          }
          .episode-info {
            color: #ffffff;
            font-family: $avantgarde-demi;
            font-size: 12px;
            line-height: 1.2;
            margin-top: 20px;
            text-transform: uppercase;
            > div {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              @include breakpoint($bp-1280-width) {
                max-width: 180px;
              }
            }
            .episode-title {
              font-family: $cent-725BT-italic;
              font-style: italic;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

.featured-view, .show-menu-video {
  .node {
    @include clear();
    margin-bottom: 23px;
    position: relative;
    width: 100%;
  }
  a {
    &:before {
      left: 159px;
      top: 21px;
      @include breakpoint($between-769-1024) {
        left: 0px;
        top: 104px;
      }
    }
  }
  .asset-img {
    float: left;
    @include breakpoint($between-769-1024) {
      float: none;
    }
  }
  .meta {
    float: left;
    margin-left: 67px;
    margin-top: 10px;
    @include breakpoint($between-769-1024) {
      margin-left: 50px;
    }
    > div {
      margin-bottom: 5px;
    }
    .title {
      color: #ffffff;
      font-family: $avantgarde-medium;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
    .type-and-time {
      color: #ffffff;
      font-family: $avantgarde-medium;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      span {
        font-family: $cent-725BT-italic;
        font-style: italic;
      }
    }
    .caption {
      color: $header-show-caption;
      font-family: $avantgarde-demi;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
}

.header-small-menu {
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include breakpoint($bp-768-width) {
    display: none;
    &.active {
      display: block;
    }
  }
  li {
    &.expanded {
      &.active {
        height: auto;
        > ul.menu {
          display: block;
        }
      }
      > a {
        &:after {
          display: block;
          content: '';
          position: absolute;
          right: 20px;
          top: 20px;
          @include sprite-background(plus-icon);
        }
        &.active {
          &:after {
            @include sprite-background(minus-icon);
          }
        }
      }
    }
  }
  > li {
    height: 50px;
    position: relative;
    width: 100%;
    a {
      background: $bottom-footer-back;
      border-bottom: 2px solid $header-tab-back-hover;
      color: $footer-links;
      display: block;
      font-family: $avantgarde-demi;
      font-size: 14px;
      height: 100%;
      line-height: 50px;
      padding-left: 30px;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      &.log-on {
        background: $header-tab-back-hover;
        padding-left: 60px;
        &:before {
          content: '';
          display: block;
          left: 15px;
          margin-top: -15px;
          position: absolute;
          top: 50%;
          @include sprite-background(profile-icon);
        }
        span {
          background: $usa-logo-back;
          border-radius: 50%;
          color: #ffffff;
          display: block;
          font-family: $avantgarde-demi;
          font-size: 11px;
          height: 11px;
          left: 40px;
          line-height: 12px;
          position: absolute;
          text-align: center;
          top: 5px;
          width: 11px;
        }
      }
    }
    ul.menu {
      display: none;
      position: relative;
      width: 100%;
      li {
        height: 30px;
        position: relative;
        width: 100%;
        &.expanded {
          > a {
            &:after {
              top: 10px;
            }
          }
        }
        a {
          background: $header-tab-back-hover;
          border-bottom: 1px solid $footer-links;
          line-height: 30px;
          padding-left: 40px;
        }
        ul.menu {
          a {
            padding-left: 50px;
          }
        }
      }
    }
    &.show-menu-header {
      a {
        border-bottom: 0 !important;
      }
      ul.menu {
        > li {
          > a {
            &:before {
              bottom: 0px;
              content: '';
              height: 1px;
              left: 0px;
              display: block;
              width: 100%;
              position: absolute;
            }
          }
          li {
            a {
              &:before {
                left: 60px;
              }
            }
          }
          &:last-child {
            a {
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.consumptionator-page {
  header {
    .tab-item {
      &.active {
        border-top: 0px;
      }
      &.info-tab {
        .show-info {
          position: relative;
          .node {
            @include clear;
            & > a {
              display: block;
              float: left;
              @include breakpoint($bp-480-width) {
                float: none;
                margin-bottom: 20px;
              }
              .asset-img {
                width: 205px;
                img {
                  width: 100%;
                }
              }
            }
            .meta {
              color: #ffffff;
              margin-left: 250px;
              padding-top: 20px;
              @include breakpoint($bp-1024-width) {
                padding-top: 0;
              }
              @include breakpoint($bp-768-width) {
                margin-left: 225px;
              }
              @include breakpoint($bp-480-width) {
                margin-left: 0;
              }
              .meta-left {
                float: left;
                padding-right: 10px;
                width: 200px;
                text-transform: uppercase;
                @include breakpoint($bp-1280-width) {
                  float: none;
                  padding-right: 0;
                  width: 100%;
                }
              }
              .caption {
                font-family: $avantgarde-medium;
                font-size: 10px;
                line-height: 16px;
              }
              .title {
                font-family: $avantgarde-demi;
                font-size: 16px;
                line-height: 22px;
              }
              .type-and-time {
                font-family: $cent-725BT-italic;
                font-size: 10px;
                line-height: 16px;
                span {
                  font-style: italic;
                }
              }
              .episode-rate {
                .title-rate {
                  font-family: $cent-725BT-italic;
                  font-size: 10px;
                  font-style: italic;
                  line-height: 16px;
                }
                .stars-rate {
                  ul {
                    li {
                      display: inline-block;
                      height: 18px;
                      width: 18px;
                      &:after {
                        content: '';
                        display: block;
                        @include sprite-background(star-full);
                      }
                      &:nth-child(4) {
                        &:after {
                          @include sprite-background(star-empty);
                        }
                      }
                      &:nth-child(5) {
                        &:after {
                          @include sprite-background(star-empty);
                        }
                      }
                    }
                  }
                }
              }
              .description {
                font-size: 14px;
                font-family: $avantgarde-medium;
                line-height: 20px;
                margin-left: 200px;
                margin-right: 310px;
                @include breakpoint($bp-1280-width) {
                  margin: 20px 0 0;
                }
              }
            }
          }
          .show-info-social {
            right: 0;
            position: absolute;
            top: 0;
            width: 240px;
            @include breakpoint($bp-640-width) {
            }
            .social-title {
              color: $poll-back;
              font-size: 20px;
              font-family: $avantgarde-medium;
              line-height: 28px;
              text-transform: uppercase;
            }
            .icons-block {
              @include clear;
              height: 100%;
              width: 100%;
              a {
                margin: 25px 19px 0 0;
                &:last-child {
                  margin-right: 0;
                }
                &:before {
                  color: #ffffff;
                  font-size: 32px;
                }
              }
            }
          }
        }
      }
    }
    .header-nav-bar {
      background: $schedule-tonight;
      height: 90px !important;
      position: relative;
      @include breakpoint($bp-640-width) {
        height: 50px !important;
      }
      @include breakpoint($bp-480-width) {
        height: 40px !important;
        .usa-logo {
          position: relative;
          width: 50px;
          a {
            background: none;
            &:after {
              content: '';
              display: block;
              @include sprite-background(usa-logo-white);
              left: 50%;
              margin-left: -22px;
              margin-top: -10px;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
    }
    .show-title-wrapper {
      border-left: 0;
      border-right: 1px solid $consup-border;
      display: block;
      float: left;
      height: 100%;
      margin: 0;
      @include breakpoint($bp-640-width) {
        float: none;
        margin-left: 100px;
        margin-right: 100px;
        width: auto;
      }
      @include breakpoint($bp-480-width) {
        margin-left: 50px;
        margin-right: 120px;
        overflow: hidden;
      }
    }
    .show-title-block {
      display: table;
      height: 100%;
      position: relative;
      .tab {
        border-left: 1px solid $schedule-tonight;
        display: table-cell;
        height: 100%;
        color: #ffffff;
        font-family: $avantgarde-demi;
        font-size: 20px;
        line-height: 90px;
        text-transform: uppercase;
        @include breakpoint($bp-640-width) {
          line-height: 50px;
        }
        @include breakpoint($bp-480-width) {
          line-height: 1;
          font-size: 12px;
        }
        a, h1 {
          color: #ffffff;
          display: block;
          height: 100%;
          max-width: 290px;
          padding: 0px 30px;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          @include breakpoint($bp-640-width) {
            padding: 0;
            max-width: none;
          }
          @include breakpoint($bp-480-width) {
            display: table;
            span {
              display: table-cell;
              padding: 0px 5px;
              vertical-align: middle;
              white-space: normal;
            }
          }
        }
      }
      .video-title {
        background: $schedule-tonight;
        @include breakpoint($bp-1024-width) {
          display: none;
        }
      }
    }
    .nav-bar-tabs {
      background: $schedule-tonight;
      height: 100%;
      width: auto;
      @include breakpoint($bp-768-width) {
        display: table;
      }
      @include breakpoint($bp-640-width) {
        position: absolute;
        right: 0;
        top: 0;
      }
      & a {
        background: none;
        border-left: 0;
        border-right: 1px solid $consup-border;
        color: #ffffff;
        &:hover {
          background: $consup-border;
        }
      }
      .info, .share, .back-to-show {
        a {
          display: block;
          position: relative;
          width: 90px;
          @include breakpoint($bp-640-width) {
            width: 50px;
          }
          @include breakpoint($bp-480-width) {
            width: 40px;
          }
          &:after {
            content: '';
            display: block;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
            position: absolute;
            top: 50%;
          }
        }
      }
      .info, .share {
        a {
          &.no-refresh.active {
            background: $bottom-footer-back;
          }
        }
      }
      .info {
        a {
          &:after {
            @include sprite-background(share);
            margin-top: -13px;
            margin-left: -13px;
            @include breakpoint($bp-480-width) {
              @include sprite-background(share-small);
              margin-top: -10px;
              margin-left: -10px;
            }
          }
        }
      }
      .back-to-show {
        background-color: $schedule-on-now;
        right: 0;
        top: 0;
        position: absolute;
        @include breakpoint($bp-640-width) {
          float: left;
          position: relative;
        }
        a {
          &:after {
            @include sprite-background(x-icon);
            @include breakpoint($bp-480-width) {
              @include sprite-background(x-icon-small);
              margin-top: -7px;
              margin-left: -7px;
            }
          }
        }
      }
    }
  }
}

