.consumptionator-page, .node-type-catchall-page, .page-videos-live, .node-type-media-gallery, .node-type-person {
  header {
    .header-nav-bar {
      background: $schedule-tonight;
      position: relative;
      @include breakpoint($bp-480-width) {
        .usa-logo {
          position: relative;
          width: 50px;
          a {
            background: none;
            &:after {
              content: '';
              display: block;
              @include sprite-background(usa-logo-white);
              left: 50%;
              margin-left: -22px;
              margin-top: -10px;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
      .nav-bar-tabs {
        background: $schedule-tonight;
        display: block;
        height: 100%;
        width: 100%;
        max-width: calc(100% - 9.76vw);
        @include breakpoint($bp-min-1901-width) {
          max-width: calc(100% - 185px);
        }
        @include breakpoint($bp-768-width) {
          clear: none;
          margin-left: 75px;
          max-width: calc(100% - 75px);
          width: 100%;
        }
        @include breakpoint($bp-480-width) {
          margin-left: 50px;
          max-width: calc(100% - 50px);
        }
        &.sponsored-enable {
          .menu-item {
            &.show-name {
              @include breakpoint($bp-min-769-width) {
                max-width: calc((100% - 282px)*0.3);
              }
            }
            &.info {
              @include breakpoint($bp-min-769-width) {
                max-width: calc((100% - 282px)*0.7);
              }
            }
          }
        }
        .menu-item {
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          float: left;
          height: 100%;
          text-transform: uppercase;
          text-align: center;
          vertical-align: middle;
          @include breakpoint($bp-768-width) {
            height: 50px;
          }
          h1, h2 {
            margin: 0;
            height: 100%;
          }
          a {
            background: none;
            border-left: 0;
            border-right: 0;
            color: #ffffff;
            display: block;
            font-family: $avalon-medium;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
              font-family: $avalon-medium;
            }
            @include breakpoint($bp-640-width) {
              font-size: 14px;
            }
          }
          &.show-name {
            border-left: 1px solid $consup-border;
            max-width: 30%;
            @include breakpoint($bp-768-width) {
              max-width: calc(100% - 50px);
              width: 100%;
            }
            a {
              display: table;
              height: 100%;
              line-height: 1.2;
              position: relative;
              text-align: center;
              white-space: normal;
              span {
                display: table-cell;
                vertical-align: middle;
              }
            }
          }
          &.info {
            border-left: 1px solid $consup-border;
            border-right: 1px solid $consup-border;
            max-width: 70%;
            @include breakpoint($bp-768-width) {
              border-right: none;
              width: 50px;
            }
            a {
              padding-left: get-vw(71px, 1025);
              display: table;
              height: 100%;
              line-height: 1.2;
              position: relative;
              text-align: left;
              white-space: normal;
              @include breakpoint($bp-min-1901-width) {
                padding-left: 132px;
              }
              @include breakpoint($bp-768-width) {
                overflow: hidden;
                padding: 0;
                width: 50px;
              }
              span {
                display: table-cell;
                vertical-align: middle;
                @include breakpoint($bp-768-width) {
                  display: none;
                }
              }
              &:before {
                @include sprite-background(info-icon-small);
                content: '';
                display: block;
                left: calc((6.93vw - 26px)/2);
                margin-top: -13px;
                position: absolute;
                top: 50%;
                @include breakpoint($bp-min-1901-width) {
                  @include sprite-background(info-icon);
                  left: 46px;
                  margin-top: -20px;
                }
                @include breakpoint($bp-768-width) {
                  left: 50%;
                  margin-left: -13px;
                }
              }
              &.no-refresh {
                &:hover {
                  background: $consup-border;
                }
                &.active {
                  background: $header-tab-back-new;
                  &:before {
                    background-color: inherit;
                  }
                }
              }
            }
          }

        }
      }
    }
    .tab-content {
      @include breakpoint($bp-768-width) {
        display: block;
      }
      .tab-item {
        padding: 40px;
        &.active {
          border: none;
          background: $header-tab-back-new;
        }
        .tab-item-content {
          margin: 0 auto;
          max-width: 1804px;
          position: relative;
          .node {
            @include clear;
            .asset-img {
              display: block;
              float: left;
              width: get-vw(162px, 1025);
              @include breakpoint($bp-min-1901-width) {
                width: 300px;
              }
              @include breakpoint($bp-1024-width) {
                width: 162px;
              }
              @include breakpoint($bp-480-width) {
                float: none;
                margin-bottom: 20px;
              }
              img {
                width: 100%;
              }
            }
            .meta {
              color: #ffffff;
              margin-left: get-vw(185px, 1025);
              padding-top: 0;
              @include breakpoint($bp-min-1901-width) {
                margin-left: 343px;
              }
              @include breakpoint($bp-1024-width) {
                margin-left: 185px;
              }
              @include breakpoint($bp-480-width) {
                margin-left: 0;
              }
              .description {
                font-size: get-vw(13px, 1025);
                font-family: $avalon-medium;
                line-height: 1.4;
                max-width: 50%;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 24px;
                }
                @include breakpoint($bp-1280-width) {
                  max-width: 70%;
                  margin: 20px 0 0;
                }
                @include breakpoint ($bp-1024-width) {
                  font-size: 13px;
                  max-width: 90%;
                }
                @include breakpoint ($bp-768-width) {
                  margin-top: 20px;
                }
                p {
                  margin: 0;
                }
              }
              .meta-info {
                float: left;
                padding-right: 10px;
                width: get-vw(180px, 1025);
                text-transform: uppercase;
                @include breakpoint($bp-min-1901-width) {
                  width: 334px;
                }
                @include breakpoint($bp-1280-width) {
                  float: none;
                  padding-right: 210px;
                  width: 100%;
                }
                @include breakpoint($bp-1024-width) {
                  padding-right: 0;
                }
                 ~ .description {
                   margin-left: get-vw(190px, 1025);
                   margin-right: 310px;
                   @include breakpoint($bp-min-1901-width) {
                     margin-left: 352px;
                   }
                   @include breakpoint($bp-1280-width) {
                     margin: 20px 0 0;
                   }
                 }
              }
              .caption {
                font-family: $avalon-book;
                font-size: get-vw(10px, 1025);
                letter-spacing: 0.75px;
                line-height: 1.6;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 18px;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: 10px;
                }
              }
              .title, h1{
                font-family: $avalon-medium;
                font-size: get-vw(15px, 1025);
                letter-spacing: 1px;
                word-wrap: break-word;
                line-height: 1.6;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 28px;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: 15px;
                }
              }
              .additional {
                font-family: $avalon-medium;
                letter-spacing: 1px;
                font-size: get-vw(13px, 1025);
                line-height: 1.3;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 24px;
                }
                @include breakpoint($bp-1024-width) {
                  font-size: 13px;
                }
                span {
                  font-family: $tex-gyreschola-italic;
                  letter-spacing: 1px;
                }
              }
            }
          }
          .social-bar,
          .sharebar {
            right: 0;
            position: absolute;
            top: 0;
            width: get-vw(150px, 1025);
            @include breakpoint($bp-min-1901-width) {
              width: 278px;
            }
            @include breakpoint($bp-1024-width) {
              padding-top: 20px;
              position: relative;
              width: 150px;
            }
            @include breakpoint($bp-768-width) {
              position: relative;
            }
            h3 {
              color: $poll-back;
              font-size: get-vw(13px, 1025);
              font-family: $avalon-medium;
              line-height: 1.3;
              margin: 0 0 20px 0;
              text-transform: uppercase;
              @include breakpoint($bp-min-1901-width) {
                font-size: 24px;
              }
              @include breakpoint($bp-1024-width) {
                font-size: 13px;
                line-height: 1.3;
              }
            }
            .field-name-field-gigya-share-bar {
              margin-bottom: 0;
            }
            .field-type-gigya-sharebar {
              .gig-button-container {
                padding: 0;
                td > div {
                  font-size: get-vw(20px, 1025);
                  padding: 0;
                  margin: 0 get-vw(12px, 1025) 0 0;
                  width: get-vw(20px, 1025)!important;
                  @include breakpoint($bp-min-1901-width) {
                    font-size: 37px;
                    margin: 0 22.3px 0 0;
                    width: 37px!important;
                  }
                  @include breakpoint($bp-1024-width) {
                    font-size: 20px;
                    margin: 0 12px 0 0;
                    width: 20px!important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.consumptionator-video-page, .page-videos-live {
  header {
    .tab-content {
      z-index: 2;
    }
    .region-header {
      &.sticky {
        .block-usanetwork-menu {
          .header-nav-bar {
            margin-bottom: 0;
          }
          .tve-help-link.signOut {
            .tve-header-links {
              .first {
                display: none;
              }
            }
          }
        }
      }
      .block-usanetwork-menu {
        &.open {
          @include breakpoint($between-769-1024) {
            background: $header-tab-back-new;
            .tve-help-link.signOut {
              .tve-header-links {
                .first {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .header-nav-bar {
      &.tve-sign {
        .tve-help-link {
          &.signOut {
            ul.tve-header-links {
              li.first {
                display: block;
              }
            }
          }
        }
      }
      .nav-bar-tabs {
        max-width: calc(100% - 17vw);
        @include breakpoint($bp-min-1901-width) {
          max-width: calc(100% - 320px);
        }
        @include breakpoint($bp-768-width) {
          max-width: calc(100% - 75px);
        }
        @include breakpoint($bp-480-width) {
          max-width: calc(100% - 50px);
        }
        .menu-item.info {
          border-right: none;
        }
      }
      .tve-help-link {
        float: right;
        display: table;
        height: 100%;
        @include breakpoint($bp-768-width) {
          display: none;
        }
        ul, li {
          font-size: 12px;
          line-height: normal;
          margin: 0;
        }
        a {
          color: #ffffff;
          outline: none;
          font-size: 16px;
          @include breakpoint($bp-768-width) {
            font-size: 14px;
          }
        }
        a:focus {
          outline: none;
        }
        &.signOut {
          & + .signIn.no-auth {
            border: none;
            height: auto;
            width: auto;
          }
          &:hover {
            background: $consup-border;
          }
          .links-wrapper {
            border-left: 1px solid $consup-border;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            width: get-vw(73px, 1025);
            @include breakpoint($bp-min-1901-width) {
              width: 135px;
            }
          }
          a {
            font-size: 16px;
            line-height: 1.3;
            @include breakpoint($bp-1900-width) {
              font-size: 12px;
              line-height: 1.2;
            }
          }
          .actionLink {
            .signOut{
              display: block;
              height: 40px;
              margin: 0 auto;
              overflow: hidden;
              text-transform: uppercase;
              text-align: center;
              width: 40px;
              @include breakpoint($bp-1900-width) {
                height: 30px;
                width: 30px;
              }
            }
          }
          ul.tve-header-links {
            li.first {
              display: none;
              bottom: -25px;
              left: 74.7%;
              position: absolute;
              text-align: right;
              width: 25.3%;
              z-index: 1;
              @include breakpoint($bp-1280-width) {
                left: auto;
                right: 0;
                width: 320px;
              }
              @include breakpoint($bp-1024-width) {
                left: 0;
                width: 100%;
              }
            }
          }
          .providerLogo {
            box-sizing: border-box;
            display: block;
            padding-right: 15px;
            text-align: right;
            width: 100%;
            img {
              height: 16px;
            }
          }
        }
        &.signIn {
          &.no-auth {
            border-left: 1px solid $consup-border;
            display: block;
            box-sizing: border-box;
            width: 135px;
            @include breakpoint($bp-1900-width) {
              width: 90px;
            }
            @include breakpoint($bp-1024-width) {
              width: 72px;
            }
            &:hover {
              background: $consup-border;
            }
            .loginButton {
              display: block;
              height: 100%;
              position: relative;
              width: 100%;
              &:before {
                @include sprite-background(profile-icon);
                content: '';
                display: block;
                position: absolute;
                left: calc(50% - 13px);
                top: calc(50% - 15px);
              }
            }
            .tve-help-sign {
              left: auto;
              right: 0;
              width: 150px;
            }
          }
          .tve-help-sign {
            box-sizing: border-box;
            bottom: -33px;
            left: 74.7%;
            padding-right: 15px;
            position: absolute;
            text-align: right;
            width: 25.3%;
            z-index: 1;
            @include breakpoint($bp-1280-width) {
              left: auto;
              right: 0;
              width: 320px;
            }
            @include breakpoint($bp-1024-width) {
              left: 0;
              width: 100%;
            }
          }
          .inlineLoader {
            background: url(../images/ajax-loader.gif) no-repeat scroll 50% 50%;
            display: inline-block;
            height: 30px;
            margin: 0 5px;
            vertical-align: middle;
            width: 30px;
          }
        }
      }
    }
  }
}
.page-videos-live {
  header {
    .header-nav-bar {
      &.tve-sign {
        margin-bottom: 35px;
        @include breakpoint($bp-768-width) {
          margin-bottom: 0;
        }
      }
    }
  }
  .block-usanetwork-menu {
    &.open {
      @include breakpoint($bp-min-769-width) {
        background: $bottom-footer-back;
        .tve-help-link.signOut {
          .tve-header-links {
            .first {
              display: none;
            }
          }
        }
        .tab-content {
          .tab-item {
            padding-top: 5px;
          }
        }
      }
    }
  }
  .tve-help-link {
    ul.tve-header-links {
      li.first {

      }
    }
  }
}
