.social-block {
  background: $footer-links;
  overflow: hidden;
  padding: 40px 60px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-1024-width) {
    padding: 40px;
  }
  @include breakpoint($bp-480-width) {
    padding: 40px 0px 40px 20px;
  }
  .carousel {
    &.start {
      margin-left: 240px;
      @include breakpoint($bp-min-1601-width) {
        margin-left: 340px;
      }
    }
    @include breakpoint($bp-768-width) {
      &.start {
        margin-left: 0px;
      }
    }
    ul {
      position: relative;
      li {
        float: left;
        margin: 0;
        position: relative;
        height: 310px;
        width: 310px;
        @include breakpoint($bp-480-width) {
          height: 250px;
          width: 260px;
          img {
            max-height: 250px;
          }
        }
        .node-usanetwork-promo {
          height: 100%;
          text-align: center;
          &.social-usa {
            background: $header-tab-back-hover;
          }
          &.social-twitter {
            background: $social-twitter-back;
          }
        }
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }
        .meta-wrap {
          background: none;
          bottom: auto;
          color: #ffffff;
          height: 100%;
          margin-left: 10px;
          position: absolute;
          text-transform: uppercase;
          .meta {
            left: auto;
            margin: 0 auto;
            width: 80%;
            padding-right: 0px;
            position: relative;
            top: auto;
          }
        }
        .time {
          font-family: $cent-725BT-italic;
          font-style: italic;
          font-size: 12px;
          line-height: 50px;
        }
        .meta-social-title {
          font-family: $avalon-demi;
          font-size: 20px;
          line-height: 20px;
        }
        .meta-additional {
          font-family: $cent-725BT-italic;
          font-style: italic;
          font-size: 12px;
          line-height: 50px;
        }
        .meta-text {
          font-family: $avalon-medium;
          font-size: 15px;
        }
      }
    }
  }
  .carousel-description-item {
    @include breakpoint($bp-min-1601-width) {
      .description-wrapper {
        width: 100%;
        max-width: 250px;
      }
    }
    .caption, .additional-text {
      text-align: right;
      @include breakpoint($bp-min-1601-width) {
        font-size: 23px;
      }
    }
    .title {
      text-align: right;
      @include breakpoint($bp-min-1601-width) {
        font-size: 37px;
        line-height: 43px;
      }
    }
  }
  @include breakpoint($bp-768-width) {
    .carousel {
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .carousel-description-item {
      .description-button {
        display: none;
      }
      left: 0px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        width: 100%;
      }
      .description-block {
        display: block;
      }
      .caption, .title, .additional-text {
        text-align: left;
      }
      .title {
        margin: 10px 0;
        max-width: 200px;
      }
    }
  }
}