.tiles {
  #main-slider {
    text-align: center;
  }
  .flex-control-paging {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    bottom: 0;
    font-size: 0;
    height: 0;
    margin: 0;
    position: relative;
    top: -26px;
    overflow: visible;
    vertical-align: top;
    width: auto;
    .ie9 & {
      top: -32px;
      padding-bottom: 8px;
    }
    .ie8 & {
      top: -36px;
    }
    li {
      margin: 0 5px;
      a {
        @include box-shadow(none);
        background: $gray-darker-light;
        height: 14px;
        width: 14px;
        &.flex-active, &:hover {
          background: $white;
          border: 1px solid $off-white;
        }
      }
    }
  }
}


#aspot-video-container {
  z-index: 100;
  position: relative;
  @include breakpoint($bp-home-widest) {
    margin-top: -521px;
    width: 1245px;
    height: 506px;
  }
  @include breakpoint($bp-home-3col ($bp-home-widest - 1)) {
    margin-top: -393px;
    width: 930px;
    height: 378px;
  }
  @include breakpoint($bp-home-2col ($bp-home-3col - 1)) {
    margin-top: -365px;
    width: 615px;
    height: 350px;
  }
  @include breakpoint( max-width ($bp-home-2col - 1)) {
    margin-top: -258px;
    width: 300px;
    height: 250px;
  }
}

//@media (max-width: 1019px) and (min-width: 710px) {
  /* tablet portrait */
  /*#aspot-video-container {
    margin-top: -365px;
    width: 615px;
    height: 350px;
  }
}*/
//@media (max-width: 709px) {
  /* smartphone */
  /*#aspot-video-container {
    margin-top: -258px;
    width: 300px;
    height: 250px;
  }
}*/
