.featured-block {
  background: $poll-back;
  overflow: hidden;
  padding: 40px 0px;
  position: relative;
  width: 100%;
  .carousel {
    @include breakpoint($bp-768-width) {
      &.start {
        margin-left: 0;
        &:hover {
          .jcarousel-control-next {
            right: -40px;
          }
        }
      }
    }
    @include breakpoint($between-769-1024) {
      &.start {
        margin-left: 200px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 160px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1025-width) {
      &.start {
        margin-left: 300px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 240px;
          }
        }
      }
    }
    ul {
      position: relative;
      li {
        height: 556px;
        margin: 0px 17px 0px 0px;
        position: relative;
        width: 476px;
        &.first {
          width: 670px;
        }
        @include breakpoint($bp-1024-width) {
          width: 370px;
        }
        @include breakpoint($bp-768-width) {
          width: 300px;
        }
        img {
          height: 268px;
          width: 476px;
          @include breakpoint($bp-1024-width) {
            height: 208px;
            width: 370px;
          }
          @include breakpoint($bp-768-width) {
            height: 169px;
            width: 300px;
          }
        }
        > div:not(.featured-large) {
          height: 268px;
          width: 476px;
          &:first-child {
            margin-bottom: 20px;
            @include breakpoint($bp-min-1601-width) {
              margin-bottom: 15px;
            }
            @include breakpoint($bp-480-width) {
              margin-bottom: 0px;
            }
          }
        }
        @extend %featured-large-promo;
        @extend %featured-small-promo;
        .node-usanetwork-promo {
          overflow: hidden;
          @include breakpoint($bp-480-width) {
            padding-bottom: 41%;
            &:before {
              bottom: 32px;
              height: 5px;
              left: 0;
              position: absolute;
              top: auto;
              width: 100%;
            }
          }
        }
        .meta-wrapper {
          background: none;
          bottom: 0;
          height: 40%;
          position: absolute;
          width: 100%;
          z-index: 1;
          @include breakpoint($bp-480-width) {
            height: 42%;
          }
          .meta-wrapper-inner {
            height: 100%;
            display: table;
            width: 100%;
          }
        }
        .meta-back {
          background: #000000;
          bottom: 0;
          height: 100%;
          opacity: 0.6;
          overflow: hidden;
          position: absolute;
          width: 100%;
          @include breakpoint($bp-480-width) {
            margin-left: 0px;
          }
        }
        .meta-icon {
          display: block;
          height: 37px;
          left: 20px;
          margin-top: -19px;
          position: absolute;
          top: 50%;
          width: 37px;
          @include breakpoint($bp-480-width) {
            margin-top: -35px;
          }
          ~ .meta {
            padding-left: 65px;
          }
        }
        @extend %meta;
        .meta {
          display: table-cell;
          max-width: 100px;
          overflow: hidden;
          padding-left: 20px;
          position: relative;
          vertical-align: middle;
          width: 100%;
          @include breakpoint($bp-480-width) {
            margin-left: 0px;
            bottom: 16px;
          }
          .caption {
            font-size: 12px;
            line-height: 16px;
            @include breakpoint($bp-768-width) {
              font-size: 10px;
              line-height: 14px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 12px;
              line-height: 16px;
            }
          }
          .title {
            font-size: 20px;
            @include breakpoint($bp-768-width) {
              font-size: 16px;
            }
            @include breakpoint($bp-480-width) {
              font-size: 18px;
            }
          }
        }
        .more {
          bottom: 5%;
          color: #ffffff;
          font-family: $avalon-demi;
          font-size: 12px;
          height: auto;
          right: 5%;
          text-decoration: none;
          text-transform: uppercase;
          position: absolute;
          width: auto;
          &:hover {
            text-decoration: underline;
          }
          @include breakpoint($bp-768-width) {
            bottom: 3%;
            font-size: 10px;
          }
          @include breakpoint($bp-480-width) {
            bottom: 0;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            right: 0%;
            text-align: center;
            width: 100%;
          }
          &:after {
            color: #ffffff;
            content: "\e608";
            display: block;
            font-family: $ico-font;
            font-size: 9px;
            margin-top: -4px;
            position: absolute;
            right: -12px;
            top: 50%;
            @include breakpoint($bp-768-width) {
              font-size: 8px;
              margin-top: -4px;
            }
            @include breakpoint($bp-480-width) {
              display: none;
            }
          }
        }
      }
    }
  }
  .carousel-description-item {
    width: 300px;
    left: -300px;
    &.start {
      left: 32px;
    }
    .description-wrapper {
      float: left;
      text-align: center;
      width: 300px;
      @include breakpoint($between-769-1024) {
        margin-left: 20px;
      }
    }
    .caption, .additional-text {
      clear: both;
      color: #000000;
      font-family: $tex-gyreschola-italic;
      font-size: 17px;
      text-transform: uppercase;
    }
    .title {
      color: #000000;
      float: right;
      font-family: $avalon-demi;
      font-size: 40px;
      line-height: 45px;
      margin: 20px 0px;
      max-width: 300px;
      text-transform: uppercase;
    }
    .logo {
      margin-top: 20px;
    }
  }
  @include breakpoint($bp-768-width) {
    .carousel {
      position: relative;
      margin-left: 0;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .carousel-description-item {
      left: 0px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        margin-right: 0;
        width: 100%;
      }
      .description-block {
        display: block;
      }
      .caption, .title, .additional-text {
        text-align: left;
      }
      .caption, .additional-text {
        font-size: 12px;
      }
      .title {
        float: none;
        font-size: 20px;
        line-height: 25px;
        margin: 10px 0;
        max-width: 200px;
      }
    }
  }
}
