.full-episodes-block.carousel-block {
  background: $poll-back;
  overflow: hidden;
  padding: 40px 60px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-1024-width) {
    padding: 40px;
  }
  @include breakpoint($bp-768-width) {
    padding: 60px 0px 0px;
  }
  .carousel {
    @include breakpoint($between-769-1024) {
      &.start {
        margin-left: 165px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 125px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1025-width) {
      &.start {
        margin-left: 165px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 105px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1601-width) {
      &.start {
        margin-left: 265px;
        &:hover {
          .jcarousel-control-next {
            right: 205px;
          }
        }
      }
    }
    @include breakpoint($bp-768-width) {
      &.start {
        margin-left: 0px;
      }
      .jcarousel-controls {
        display: none;
      }
    }
    ul {
      li {
        margin-right: 15px;
        @include breakpoint($bp-min-1601-width) {
          height: 279px;
          width: 335px;
        }
        @extend %video-promo;

      }
    }
  }
  .carousel-description-item {
    left: -225px;
    width: 225px;
    &.start {
      left: 0;
    }
    .description-wrapper {
      padding: 40px;
      width: 100%;
    }
    @include breakpoint($between-769-1024) {
      left: -205px;
      width: 205px;
    }
    @include breakpoint($bp-min-1601-width) {
      left: -325px;
      width: 325px;
    }
    .caption, .additional-text {
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      @include breakpoint($bp-min-1601-width) {
        font-size: 17px;
        line-height: 20px;
      }
    }
    .title {
      font-size: 22px;
      margin: 10px 0;
      position: relative;
      text-align: right;
      @include breakpoint($bp-min-1601-width) {
        font-size: 32px;
        line-height: 40px;
        margin: 15px 0;
      }
    }
  }
  @include breakpoint($bp-768-width) {
    .carousel {
      margin-left: 0;
      margin-bottom: 10px;
      margin-top: 50px;
      padding: 0 10px;
    }
    .carousel-description-item {
      left: 0px;
      padding: 0px 10px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        padding: 0;
        width: 100%;
      }
      .description-block {
        display: block;
      }
      .title {
        background: none;
        font-size: 34px;
        line-height: 40px;
        margin: 0;
        &:after {
          display: none;
        }
      }
      .additional-text {
        font-size: 17px;
        line-height: 20px;
      }
      .caption, .title, .additional-text {
        text-align: left;
      }
    }
  }
}