.usa-home-featured {
  margin-top: 12px;
  @include breakpoint($bp-home-2col) {
    margin-top: 15px;
  }
}

#block-views-usa-video-front-full-episodes,
#block-views-usa-mpx-video-front-full-epsds,
#block-usanetwork-home-usanetwork-home-promo-carousel {
  margin-top: 3px;
  @include breakpoint($bp-home-2col) {
    margin-top: 30px;
  }
}

#block-views-usa-video-front-full-episodes,
#block-views-usa-mpx-video-front-full-epsds,
#block-usanetwork-home-usanetwork-home-promo-carousel,
.usa-home-featured {
  @extend %grid-home-featured;
  position: relative;

  .usa-adrails &, .ie8 & {
    width: 930px;
    @include layout(4, .048) {
      .carousel-item {
        &:nth-of-type(4n + 1) {
          @include grid-span(1, 1);
        }
        &:nth-of-type(4n + 2) {
          @include grid-span(1, 2);
        }
        &:nth-of-type(4n + 3) {
          @include grid-span(1, 3);
        }
        &:nth-of-type(4n + 4) {
          @include grid-span(1, 4);
          padding-right: 0;
        }
        &:nth-of-type(4n + 5) {
          clear: both;
        }
      }
    }
  }

  h2 {
    @extend %semi-headline;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0px;
    font-size: 14px;
    @include breakpoint($bp-home-2col) {
      font-size: 21px;
    }
    @include breakpoint($bp-home-3col) {
      font-size: 23px;
    }
    @include breakpoint($bp-home-widest) {
      font-size: 25px;
    }
    .usa-adrails &, .ie8 & {
    }
  }

  .home-carousel-processed {
    .carousel-viewport {
      margin: 0 -7px;
      height: auto;
      @include breakpoint($bp-home-narrowest) {
        margin-left: -4px;
        margin-right: -4px;
      }
    }
    .carousel-btns {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -19px;
      .touch & {
        display: block;
      }
      .btns {
        color: #d8d8d8;
        &:hover {
          color: #0ab6e8;
        }
        &.prev {
          top: 0;
          left: -45px;
        }
        &.next {
          top: 0;
          right: -45px;
        }
        &.disabled {
          visibility: hidden;
        }
      }
    }
  }

  .carousel {
    .item-list {
      height: auto;
    }

    &.expandable-container {
      .expandable-toggle-wrap {
        .expandable-toggle {
          &:after {
            @extend %more-triangle;
          }
        }
      }
      &.expanded {
        .expandable-toggle {
          &:after {
            @extend %less-triangle;
          }
        }
      }
    }
  }

  li.carousel-item {
    position: relative;
    @extend .title-overlay;

    @include breakpoint($bp-home-narrowest) {
      margin-bottom: 8px;
    }

    > div {
      border: 2px solid $gray-dark;
      height: 100%;
      .ie8 & {
        width: 224px;
      }
      > a {
        height: 100%;
        position: relative;
        z-index: 1;
        display: block;
      }
      .asset-img {
        line-height: 1em;
        img {
          max-height: 194px;
          @include breakpoint($bp-home-3col ($bp-home-widest - 1)) {
            max-height: 182px;
          }
          @include breakpoint($bp-home-2col ($bp-home-3col - 1)) {
            max-height: 159px;
          }
          @include breakpoint( max-width ($bp-home-2col - 1)) {
            max-height: 119px;
          }
        }
      }
    }

    .meta {
      @extend %metadata-holder;
      height: 32px;
      padding: 8px;
      overflow: visible;
      @include breakpoint($bp-home-2col) {
        height: 44px;
        padding: 9px 15px 8px 14px;
      }
      @include breakpoint($bp-home-3col) {
        height: 50px;
      }
      @include breakpoint($bp-home-widest) {
        height: 50px;
        max-width: none;
      }
      .usa-adrails &, .ie8 & {
        height: 50px;
        padding: 8px 15px 8px;
        max-width: 221px;
      }

      .promo-cta {
        width: 20px;
        float: left;
        padding-top: 0;
        & ~ .title, & ~ .caption {
          padding-left: 12px;
        }
        @include breakpoint($bp-home-narrowest) {
          width: 20px;
          margin-right: 2px;
          & ~ .title, & ~ .caption {
            padding-left: 7px;
          }
        }
        @include breakpoint($bp-home-2col){
          width: 30px;
        }
        .usa-adrails &, .ie8 & {
          width: 30px;
        }
        img {
          height: 20px;
          @include breakpoint($bp-home-narrowest) {
            height: 20px;
          }
          @include breakpoint($bp-home-2col){
            height: 30px;
          }
          .usa-adrails &, .ie8 & {
            width: 30px;
          }
        }
      }

      .caption-fields-wrapper {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
      }

      .title {
        margin-bottom: 3px;
        @extend %semi-10;
        font-weight: normal;
        @include breakpoint($bp-home-2col) {
          font-size: 12px;
        }
        @include breakpoint($bp-home-3col) {
          font-size: 16px;
        }
        @include breakpoint($bp-home-widest) {
          font-size: 16px;
        }
        .usa-adrails &, .ie8 & {
          font-size: 16px;
        }
      }
      .title,
      .title .field {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .caption {
        @extend %regular-8;
        @include breakpoint($bp-home-2col) {
          font-size: 10px;
          line-height: 18px;
        }
        @include breakpoint($bp-home-widest) {
          font-size: 12px;
        }
        .usa-adrails &, .ie8 & {
          font-size: 10px;
        }
      }
      .caption,
      .caption .field {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#block-views-usa-video-front-full-episodes,
#block-views-usa-mpx-video-front-full-epsds,
#block-usanetwork-home-usanetwork-home-promo-carousel {
  .caption-fields-wrapper:before {
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../images/aspot_icon_watch.png) center top no-repeat;
    background-size: 20px 20px;
    @include breakpoint($bp-home-2col) {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }
  }
  .title {
    margin-left: 27px;
    @include breakpoint($bp-home-2col) {
      margin-left: 42px;
    }
  }
  .caption {
    margin-left: 27px;
    @include breakpoint($bp-home-2col) {
      margin-left: 42px;
    }
  }
}
