.social-block {
  background: $poll-back;
  overflow: hidden;
  padding: 40px 60px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-1024-width) {
    padding: 40px;
  }
  @include breakpoint($bp-480-width) {
    padding: 40px 0px 40px 20px;
  }
  .carousel {
    @include breakpoint($between-769-1024) {
      &.start {
        margin-left: 165px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 125px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1025-width) {
      &.start {
        margin-left: 165px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 105px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1601-width) {
      &.start {
        margin-left: 265px;
        &:hover {
          .jcarousel-control-next {
            right: 205px;
          }
        }
      }
    }
    @include breakpoint($bp-768-width) {
      &.start {
        margin-left: 0px;
      }
    }
    ul {
      position: relative;
      li {
        float: left;
        margin: 0;
        position: relative;
        height: 310px;
        width: 310px;
        @include breakpoint($bp-480-width) {
          height: 250px;
          width: 260px;
          img {
            max-height: 250px;
          }
        }
        .node-usanetwork-promo {
          height: 100%;
          text-align: center;
          &.social-usa {
            background: $header-tab-back-hover;
          }
          &.social-twitter {
            background: $social-twitter-back;
          }
        }
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }
        .meta-wrapper {
          background: none;
          bottom: auto;
          color: #ffffff;
          height: 100%;
          margin-left: 10px;
          position: absolute;
          text-transform: uppercase;
          .meta {
            left: auto;
            margin: 0 auto;
            width: 80%;
            padding-right: 0px;
            position: relative;
            top: auto;
          }
        }
        .time {
          font-family: $cent-725BT-italic;
          font-style: italic;
          font-size: 12px;
          line-height: 50px;
        }
        .title {
          font-family: $avalon-demi;
          font-size: 20px;
          line-height: 20px;
        }
        .additional {
          font-family: $cent-725BT-italic;
          font-style: italic;
          font-size: 12px;
          line-height: 50px;
        }
        .meta-text {
          font-family: $avalon-medium;
          font-size: 15px;
        }
      }
    }
  }
  .carousel-description-item {
    left: -225px;
    width: 225px;
    &.start {
      left: 0;
    }
    .description-wrapper {
      padding: 0 30px 0 10px;
      width: 100%;
      @include breakpoint($between-769-1024) {
        padding: 0 20px 0 10px;
      }
      @include breakpoint($bp-min-1601-width) {
        padding: 0 35px 0 15px;
      }
    }
    @include breakpoint($between-769-1024) {
      left: -205px;
      width: 205px;
    }
    @include breakpoint($bp-min-1601-width) {
      left: -325px;
      width: 325px;
    }
    .caption, .additional-text {
      font-size: 12px;
      text-align: left;
      @include breakpoint($bp-min-1601-width) {
        font-size: 17px;
      }
    }
    .title {
      background: $footer-links;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      font-size: 22px;
      margin: 0 0 30px;
      padding: 24px;
      position: relative;
      text-align: left;
      &:after {
        border: 20px solid transparent;
        border-left: 40px solid $footer-links;
        border-top: 0px solid $footer-links;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 100%;
      }
      @include breakpoint($between-769-1024) {
        padding: 19px;
      }
      @include breakpoint($bp-min-1601-width) {
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 35px;
        &:after {
          border: 25px solid transparent;
          border-left: 50px solid $footer-links;
          border-top: 0px solid $footer-links;
        }

      }
    }
  }
  @include breakpoint($bp-768-width) {
    .carousel {
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .carousel-description-item {
      left: 0px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        width: 100%;
      }
      .description-block {
        display: block;
      }
      .caption, .title, .additional-text {
        text-align: left;
      }
      .title {
        margin: 10px 0;
        max-width: 200px;
      }
    }
  }
}