.featured-block {
  background: $poll-back;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  width: 100%;
  .carousel {
    @include breakpoint($bp-768-width) {
      &.start {
        margin-left: 0;
      }
      .jcarousel-controls {
        display: none;
      }
    }
    @include breakpoint($between-769-1024) {
      &.start {
        margin-left: 260px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 220px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1025-width) {
      &.start {
        margin-left: 240px;
        overflow: hidden;
        &:hover {
          .jcarousel-control-next {
            right: 180px;
          }
        }
      }
    }
    @include breakpoint($bp-min-1601-width) {
      &.start {
        margin-left: 460px;
        &:hover {
          .jcarousel-control-next {
            right: 400px;
          }
        }
      }
    }
    ul {
      position: relative;
      li {
        height: 556px;
        margin: 0px 17px 0px 0px;
        position: relative;
        width: 476px;
        @include breakpoint($bp-min-1601-width) {
          height: 628px;
          width: 539px;
        }
        @include breakpoint($bp-768-width) {
          height: auto;
          margin-bottom: 15px;
          margin-right: 0;
          width: 100%;
        }
        &.first {
          width: 670px;
          @include breakpoint($bp-min-1601-width) {
            width: 757px;
          }
          @include breakpoint($bp-768-width) {
            width: 100%;
            img {
              height: auto;
              width: 100%;
            }
          }
        }
        img {
          height: 268px;
          width: 476px;
          @include breakpoint($bp-min-1601-width) {
            height: 303px;
            width: 539px;
          }
          @include breakpoint($bp-768-width) {
            height: 100%;
            width: 100%;
          }
        }
        > div:not(.featured-large) {
          height: 268px;
          width: 476px;
          @include breakpoint($bp-min-1601-width) {
            height: 303px;
            width: 539px;
          }
          @include breakpoint($bp-768-width) {
            float: left;
            height: 26.1vw;
            width: 49%;
          }
          &:first-child {
            margin-bottom: 20px;
            @include breakpoint($bp-min-1601-width) {
              margin-bottom: 22px;
            }
            @include breakpoint($bp-768-width) {
              margin-bottom: 0px;
              margin-right: 2%;
            }
          }
        }
        @extend %featured-large-promo;
        @extend %featured-small-promo;
        .node-usanetwork-promo {
          overflow: hidden;
        }
        @extend %meta;
        /**/
        .more {
          bottom: 5%;
          color: #ffffff;
          font-family: $avalon-demi;
          font-size: 12px;
          height: auto;
          right: 5%;
          text-decoration: none;
          text-transform: uppercase;
          position: absolute;
          width: auto;
          &:hover {
            text-decoration: underline;
          }
          @include breakpoint($bp-768-width) {
            bottom: 3%;
            font-size: 10px;
          }
          @include breakpoint($bp-480-width) {
            bottom: 0;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            right: 0%;
            text-align: center;
            width: 100%;
          }
          &:after {
            color: #ffffff;
            content: "\e608";
            display: block;
            font-family: $ico-font;
            font-size: 9px;
            margin-top: -4px;
            position: absolute;
            right: -12px;
            top: 50%;
            @include breakpoint($bp-768-width) {
              font-size: 8px;
              margin-top: -4px;
            }
            @include breakpoint($bp-480-width) {
              display: none;
            }
          }
        }
        /**/
      }
    }
  }
  .carousel-description-item {
    left: -300px;
    width: 300px;
    @include breakpoint($bp-min-1601-width) {
      left: -520px;
      width: 520px;
    }
    &.start {
      left: 0px;
    }
    .description-wrapper {
      float: left;
      text-align: center;
      padding: 0 20px;
      width: 300px;
      @include breakpoint($bp-min-1601-width) {
        width: 520px;
      }
    }
    .caption, .additional-text {
      clear: both;
      color: #000000;
      font-family: $tex-gyreschola-italic;
      font-size: 17px;
      text-transform: uppercase;
      @include breakpoint($bp-min-1601-width) {
        font-size: 20px;
      }
    }
    .title {
      color: #000000;
      font-family: $avalon-demi;
      font-size: 40px;
      line-height: 45px;
      margin: 20px auto;
      max-width: 300px;
      text-transform: uppercase;
      @include breakpoint($bp-min-1601-width) {
        font-size: 45px;
        line-height: 50px;
      }
    }
    .logo {
      margin-top: 20px;
    }
  }
  @include breakpoint($bp-768-width) {
    &.carousel-block {
      padding: 60px 0px 0px;
    }
    .carousel {
      position: relative;
      margin-left: 0;
      margin-bottom: 0px;
      margin-top: 55px;
      padding: 0 10px;
      ul {
        width: 100%;
      }
    }
    .carousel-description-item {
      left: 0px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        margin-right: 0;
        padding: 0px 0px 0px 20px;
        width: 100%;
      }
      .description-block {
        display: block;
        @include clear();
      }
      .caption, .title, .additional-text {
        text-align: left;
      }
      .caption, .additional-text {
        font-size: 24px;
        line-height: 30px;
      }
      .title {
        float: none;
        font-size: 40px;
        line-height: 45px;
        margin: 10px 0;
        max-width: 300px;
      }
      .additional-text {
        float: left;
        line-height: 24px;
      }
      .logo {
        float: left;
        margin-left: 20px;
        margin-top: 0px;
        img {
          max-height: 24px;
        }
      }
    }
  }
}
