.ie9 {
  header {
    .originals-shows-menu {
      ul {
        li {
          float: left;
          margin-left: 0;
          padding-left: 1.5em;
          width: 50%;
        }
      }
    }
  }
  footer {
    .shows-menu, .app-and-services-menu {
      ul.menu {
        @include clear;
        li {
          float: left;
          width: 33.33333%;
          @include breakpoint($bp-768-width) {
            width: 50%;
          }
        }
      }
    }
  }
  .show-menu-tab {
    .show-menu li.active ul.menu {
      @include clear;
      li {
        float: left;
        width: 33.33333%;
      }
    }
  }
  .show-new-design {
    #block-usanetwork-tv-shows-usanetwork-tv-shows-nd-menu {
      .bottom-menu-block {
        .show-menu-tab {
          .show-menu {
            @include breakpoint($bp-min-769-width) {
              display: inline-block;
              vertical-align: middle;
              width: auto;
            }
            .show-menu-item {
              float: left;
              a {
                padding: 0 get-vw(29px, 1280);
                @include breakpoint($bp-min-1601-width) {
                  padding: 0 36.25px;
                }
                @include breakpoint($bp-1024-width) {
                  padding: 0 get-vw(20.5px, 1024);
                }
              }
            }
          }
        }
      }
    }
  }
  .node-usanetwork-promo {
    .meta {
      display: table-cell;
      max-width: 100px;
      overflow: hidden;
      padding-left: 4%;
      position: relative;
      text-align: left;
      vertical-align: middle;
      width: 100%;
    }
  }
}
