.title-overlay {
  position: relative;
  display: block;
  h2 {
    margin-bottom: 2px;
    font-size: 20px;
  }
  .meta, h2 {
    @extend %metadata-gradient;
    bottom: 0;
    color: $white;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    padding: 12px 15px 9px;
    margin: 0;
    overflow: hidden;

  }
  .field-name-field-caption {
    @extend %visuallyhidden;
  }
}

.caption-overlay {
  position: relative;
  display: block;
  .caption-fields-wrapper {
    @extend %metadata-gradient;
    height: 77px;
    bottom: 0;
    color: $white;
    display: block;
    left: 0;
    position: absolute;
    width: 300px;
    white-space: nowrap;
    padding: 17px 15px 8px;
    margin: 0 2px 2px;
    overflow: hidden;
    h3 {
      margin: 0 0 3px;
      line-height: 22.5px;
      font-family: $headline-semi;
    }
    .caption {
      @extend %regular-15;
      > div {
        display: inline;
//        padding-right: 5px;
      }
    }
  }
}

.node-usanetwork-promo.promo-hide-overlay {
  .caption-fields-wrapper,
  .promo-metadata,
  .title-overlay,
  .title-overlay.meta {
    background: none;
  }
}

.node-usanetwork-promo {
  .promo-preview-iframe {
    border: 0 none;
    height: 254px;
    overflow: hidden;
    width: 304px;
  }
}

.node-usanetwork-promo.view-mode-promo_teaser_large .caption-overlay {
  .title-wide,
  .caption-wide {
    display:block;
    @include breakpoint($bp-video-player-section) {
      display:none;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      display:none;
    }
    @include breakpoint($bp-video-high-range-width) {
      display:none;
    }
    @include breakpoint($bp-video-very-large-width) {
      display:block;
    }
  }
  .title,
  .caption {
    display: none;
    @include breakpoint($bp-video-player-section) {
      display:block;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      display:block;
    }
    @include breakpoint($bp-video-high-range-width) {
      display:block;
    }
    @include breakpoint($bp-video-very-large-width) {
      display:none;
    }
  }
}
.node-usanetwork-promo .caption-overlay {
  .promo-cta {
    width: 44px;
    float: left;
    & ~ .title, & ~ .title-wide, & ~ .caption, & ~ .caption-wide {
      padding-left: 56px;
    }
    .usa-adrails &, .ie8 & {
      width: 44px;
      & ~ .title, & ~ .title-wide, & ~ .caption, & ~ .caption-wide {
        padding-left: 56px;
      }
    }
  }
}

.view-mode-promo_teaser .caption-overlay {
  .title-wide,
  .caption-wide {
    display: none;
  }
}

.b-spot {
.promo-metadata {
  .meta-head-wide,
  .meta-subhead-wide {
    display: block;
    @include breakpoint($bp-home-narrowest) {
      display:none;
    }
    @include breakpoint($bp-home-2-fence) {
      display:block;
    }
    @include breakpoint($bp-home-3-fence) {
      display:none;
    }
    @include breakpoint($bp-home-widest) {
      display:block;
    }
  }
  .meta-head,
  .meta-subhead {
    display: none;
    @include breakpoint($bp-home-narrowest) {
      display:block;
    }
    @include breakpoint($bp-home-2-fence) {
      display:none;
    }
    @include breakpoint($bp-home-3-fence) {
      display:block;
    }
    @include breakpoint($bp-home-widest) {
      display:none;
    }
  }
}
}
.c-spot {
  .promo-metadata {
    .meta-head-wide,
    .meta-subhead-wide {
      display: none;
    }
  }
}

