.node-type-catchall-page {
  .tiles {
    @extend %movies-grid;
  }
}
.upcoming-movie {
  @extend %grid-item;
  position: relative;
  .meta {
    @extend .promo-metadata;
    white-space: nowrap;
  }
}
.page-movies {
  #block-usanetwork-movie-usanetwork-movies-all-movies, #block-usanetwork-movie-usanetwork-movies-schedule {
    .landing-page-container {
      background: $footer-promo-links;
    }
  }
  #block-usanetwork-movie-usanetwork-movies-all-movies-tv {
    .landing-page-container {
      background: $poll-back;
    }
  }
}
