.schedule-on-tonight {
  background: $schedule-tonight;
  height: get-vw(180px, 1901);
  margin-right: get-vw(180px, 1901);
  position: relative;
  @include breakpoint($bp-min-1901-width) {
    margin-right: 180px;
    height: 180px;
  }
  @include breakpoint($bp-768-width) {
    display: none;
  }
  .caroufredsel_wrapper{
    height: 100% !important;
  }
  .view-schedule {
    height: get-vw(180px, 1901);
    position: absolute;
    right: get-vw(-180px, 1901);
    top: 0;
    width: get-vw(180px, 1901);
    z-index: 1;
    @include breakpoint($bp-min-1901-width) {
      height: 180px;
      right: -180px;
      width: 180px;
    }
    a {
      background: $schedule-view-back;
      display: block;
      height: 100%;
      position: relative;
      text-decoration: none;
      width: 100%;
      &:focus {
        outline: none;
      }
      span {
        color: #ffffff;
        display: block;
        font-family: $avalon-medium;
        font-size: get-vw(12px, 1025);
        line-height: 1.4;
        left: 50%;
        margin: get-vw(-30px, 1901) 0 0 get-vw(-50px, 1901);
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        width: get-vw(100px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 22.2px;
          margin: -30px 0 0 -50px;
          width: 100px;
        }
      }
    }
  }
  .schedule-buttons {
    position: absolute;
    top: 0;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 100%;
    width: get-vw(180px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 180px;
      width: 180px;
    }
    &.on-tonight {
      left: 0;
    }
    &.on-now {
      left: 100%;
      margin-left: get-vw(-180px, 1901);
      @include breakpoint($bp-min-1901-width) {
        margin-left: -180px;
      }
    }
    a {
      background: $schedule-on-now;
      color: #ffffff;
      display: block;
      float: left;
      font-family: $avalon-medium;
      height: 100%;
      letter-spacing: 2px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      &.disabled {
        display: none !important;
        background: transparent;
        cursor: default;
      }
      &:focus {
        outline: none;
      }
      span {
        display: block;
        font-size: get-vw(12px, 1025);
        line-height: 1;
        margin-top: get-vw(-18px, 1025);
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        @include breakpoint($bp-min-1901-width) {
          font-size: 22.3px;
          margin-top: -33.4px;
        }
      }
      &:after {
        color: #ffffff;
        display: block;
        font-family: $ico-font;
        font-size: get-vw(20px, 1025);
        line-height: 1;
        left: 50%;
        margin-left: get-vw(-11px, 1025);
        margin-top: get-vw(8px, 1025);
        position: absolute;
        top: 50%;
        @include breakpoint($bp-min-1901-width) {
          font-size: 37.1px;
          margin-left: -20.4px;
          margin-top: 14.84px;
        }
      }
      &.on-now {
        &:after {
          content: "\e607";
        }
      }
      &.on-tonight {
        &:after {
          content: "\e608";
        }
      }
    }
  }
  .episode-show {
    padding-left: get-vw(18px, 1901);
    @include breakpoint($bp-min-1901-width) {
      padding-left: 18px;
    }
    &:before {
      width: 3px;
      @include breakpoint($bp-min-1901-width) {
        width: 7px;
      }
    }
  }
  .icons-block {
    margin-left: get-vw(18px, 1901);
    margin-top: get-vw(10px, 1901);
    @include breakpoint($bp-min-1901-width) {
      margin-left: 18px;
      margin-top: 10px;
    }
    a {
      clear: none;
      margin-right: get-vw(45px, 1901);
      @include breakpoint($bp-min-1901-width) {
        margin-right: 45px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:before {
        font-size: get-vw(26px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 26px;
        }
      }
    }
  }
  .schedule-block {
    float: left;
    height: get-vw(180px, 1901);
    @include clear();
    @include breakpoint($bp-min-1901-width) {
      height: 180px;
    }
    &.on-tonight {
      margin-left: get-vw(180px, 1901);
      @include breakpoint($bp-min-1901-width) {
        margin-left: 180px;
      }
      .schedule-item {
        display: table;
        float: left;
        height: get-vw(180px, 1901);
        vertical-align: middle;
        width: 30%;
        @include breakpoint($bp-min-1901-width) {
          height: 180px;
        }
        @include breakpoint($bp-1280-width) {
          width: 33%;
        }
        @include breakpoint($bp-1024-width) {
          width: 50%;
          &:nth-child(3) {
            display: none;
          }
        }
        &:first-child {
          @include breakpoint($bp-1280-width) {
            margin-left: 0;
          }
        }
        .schedule-item-wrap {
          display: table-cell;
          padding-left: 15%;
          vertical-align: middle;
        }
      }
    }
    &.on-now {
      margin-right: get-vw(180px, 1901);
      @include breakpoint($bp-min-1901-width) {
        margin-right: 180px;
      }
      .schedule-item-wrapper {
        @include clear;
        text-align: right;
        .schedule-item {
          @include clear;
          float: right;
          display: table;
          box-sizing: border-box;
          height: get-vw(180px, 1901);
          padding-right: 10px;
          max-width: get-vw(600px, 1901);
          text-align: left;
          vertical-align: top;
          width: 49%;
          @include breakpoint($bp-min-1901-width) {
            height: 180px;
            max-width: 600px;
          }
          @include breakpoint($between-769-990) {
            margin-top: 0;
            max-width: none;
            &:first-child {
              margin-left: 0;
            }
            .time {
              float: none;
              max-width: none;
            }
            .episode-info {
              float: none;
              max-width: none;
              .episode-show {
                float: left;
              }
              .icons-block {
                float: left;
                margin-left: get-vw(15px, 990);
              }
            }
          }
          .time {
            margin-left: 0;
            width: get-vw(155px, 1025);
            @include breakpoint($bp-min-1901-width) {
              max-width: 287.525px;
              width: 287.525px;
            }
            @include breakpoint($between-769-990) {
              width: 100%;
            }
          }
          .episode-info {
            width: calc(100% - 15.6vw);
            @include breakpoint($bp-min-1901-width) {
              width: calc(100% - 297px);
            }
            @include breakpoint($between-769-990) {
              padding-right: 15px;
              width: 100%;
            }
          }
          .schedule-item-wrap {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
    .time {
      color: $schedule-pm-color;
      float: left;
      font-family: $avalon-medium;
      font-size: get-vw(25px, 1901);
      line-height: get-vw(30px, 1901);
      letter-spacing: 0.5px;
      padding-right: get-vw(45px, 1901);
      text-transform: uppercase;
      max-width: 50%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 25px;
        line-height: 30px;
        padding-right: 45px;
      }
      span, a {
        color: #ffffff;
        font-family: $avalon-medium;
        font-size: get-vw(30px, 1280);
        line-height: get-vw(38px, 1280);
        letter-spacing: 3px;
        @include breakpoint($bp-min-1901-width) {
          font-size: 44.6px;
          line-height: 56.4px;
        }
        &.time-color {
          font-family: $avalon-medium;
          font-size: get-vw(25px, 1901);
          line-height: get-vw(30px, 1901);
          text-transform: uppercase;
          @include breakpoint($bp-min-1901-width) {
            font-size: 25px;
            line-height: 30px;
          }
        }
        &:focus {
          outline: none;
        }
      }
      .on-now-link {
        .top-line {

        }
        .watch-now {
          line-height: 0;
          span {
            color: $schedule-pm-color;
            font-size: get-vw(25px, 1901);
            line-height: get-vw(30px, 1901);
            letter-spacing: 0.5px;
            @include breakpoint($bp-min-1901-width) {
              font-size: 25px;
              line-height: 30px;
            }
            &.live{
              border: 2px solid $schedule-pm-color;
              border-radius: get-vw(6px, 1901);
              display: inline-block;
              padding: 0 get-vw(5px, 1901);
              @include breakpoint($bp-min-1901-width) {
                border-radius: 6px;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
    .episode-info {
      color: #ffffff;
      float: left;
      font-family: $avalon-medium;
      font-size: get-vw(24px, 1901);
      letter-spacing: 0.5px;
      margin-top: get-vw(6px, 1280);
      text-transform: uppercase;
      width: 53%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 24px;
        margin-top: 8.9px;
      }
    }
    .episode-show {
      height: get-vw(55px, 1901);
      line-height: 1.2;
      margin-bottom: get-vw(20px, 1901);
      overflow: hidden;
      word-wrap: break-word;
      @include breakpoint($bp-min-1901-width) {
        height: 55px;
        margin-bottom: 20px;
      }
      & .episode-show-wrapper {
        display: table-cell;
        height: get-vw(55px, 1901);
        vertical-align: middle;
        @include breakpoint($bp-min-1901-width) {
          height: 55px;
        }
      }
    }
    .icons-block {
      @include clear;
      a {
        color: $schedule-pm-color;
      }
    }
  }
}
