.schedule-on-tonight {
  background: $schedule-tonight;
  min-height: 120px;
  max-height: 180px;
  margin-right: 120px;
  position: relative;
  @include breakpoint($between-1281-1900) {
    margin-right: 9.375vw;
    height: 9.375vw;
  }
  @include breakpoint($bp-min-1901-width) {
    margin-right: 180px;
    height: 180px;
  }
  @include breakpoint($bp-1280-width) {
    margin-right: 120px;
    height: 120px;
  }
  @include breakpoint($bp-768-width) {
    display: none;
  }
  .caroufredsel_wrapper{
    height: 100% !important;
  }
  .icons-block {
    a {
      clear: none;
    }
  }
  .view-schedule {
    height: 120px;
    position: absolute;
    right: -120px;
    top: 0;
    width: 120px;
    z-index: 1;
    @include breakpoint($between-1281-1900) {
      min-width: 120px;
      max-width: 180px;
      height: 100%;
      right: -9.375vw;
      width: 9.375vw;
    }
    @include breakpoint($bp-min-1901-width) {
      height: 180px;
      right: -180px;
      width: 180px;
    }
    a {
      background: $schedule-view-back;
      display: block;
      height: 100%;
      position: relative;
      text-decoration: none;
      width: 100%;
      &:focus {
        outline: none;
      }
      span {
        color: #ffffff;
        display: block;
        font-family: $avalon-medium;
        font-size: 14px;
        line-height: 1.4;
        left: 50%;
        margin: -19px 0 0 -35px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        width: 70px;
      }
      @include breakpoint($bp-min-1701-width) {
        span {
          font-size: 20px;
          margin: -28px 0 0 -50px;
          width: 100px;
        }
      }
    }
  }
  .schedule-buttons {
    position: absolute;
    top: 0;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    @include breakpoint($between-1281-1900) {
      min-width: 120px;
      max-width: 180px;
      height: 100%;
      width: 9.375vw;
    }
    @include breakpoint($bp-min-1901-width) {
      height: 180px;
      width: 180px;
    }
    &.on-tonight {
      left: 0;
    }
    &.on-now {
      left: 100%;
      margin-left: -120px;
      @include breakpoint($between-1281-1900) {
        margin-left: -9.375vw;
      }
      @include breakpoint($bp-min-1901-width) {
        margin-left: -180px;
      }
    }
    a {
      background: $schedule-on-now;
      color: #ffffff;
      display: block;
      float: left;
      font-family: $avalon-medium;
      font-size: 12px;
      height: 120px;
      line-height: 80px;
      letter-spacing: 2px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 120px;
      @include breakpoint($bp-min-1281-width) {
        height: 100%;
        width: 100%;
      }
      &.disabled {
        display: none !important;
        background: transparent;
        cursor: default;
      }
      &:focus {
        outline: none;
      }
      span {
        display: block;
        font-size: 12px;
        line-height: 12px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        @include breakpoint($bp-min-1701-width) {
          font-size: 20px;
          line-height: 20px;
          margin-top: -30px;
        }
      }
      &:after {
        color: #ffffff;
        display: block;
        font-family: $ico-font;
        font-size: 20px;
        line-height: 20px;
        left: 50%;
        margin-left: -11px;
        margin-top: 8px;
        position: absolute;
        top: 50%;
        @include breakpoint($bp-min-1701-width) {
          font-size: 34px;
          line-height: 34px;
          margin-left: -18px;
          margin-top: 10px;
        }
      }
      &.on-now {
        &:after {
          content: "\e607";
        }
      }
      &.on-tonight {
        &:after {
          content: "\e608";
        }
      }
    }
  }
  .episode-show {
    padding-left: 18px;
    &:before {
      width: 7px;
      @include breakpoint($bp-min-1701-width) {
        width: 9px;
      }
    }
  }
  .icons-block {
    margin-left: 18px;
    margin-top: 10px;
    @include breakpoint($bp-min-1701-width) {
      margin-top: 15px;
    }
  }
  .schedule-block {
    float: left;
    height: 120px;
    @include clear();
    @include breakpoint($bp-min-1281-width) {
      height: 9.375vw;
    }
    &.on-tonight {
      margin-left: 120px;
      @include breakpoint($between-1281-1900) {
        margin-left: 9.375vw;
      }
      @include breakpoint($bp-min-1901-width) {
        margin-left: 180px;
      }
      .schedule-item {
        display: table;
        float: left;
        height: 120px;
        max-width: 420px;
        vertical-align: middle;
        width: 30%;
        @include breakpoint($bp-min-1281-width) {
          height: 9.375vw;
        }
        @include breakpoint($bp-1280-width) {
          width: 33%;
        }
        @include breakpoint($bp-1024-width) {
          width: 50%;
          &:nth-child(3) {
            display: none;
          }
        }
        &:first-child {
          @include breakpoint($bp-1280-width) {
            margin-left: 0;
          }
        }
        .schedule-item-wrap {
          display: table-cell;
          padding-left: 20%;
          vertical-align: middle;
        }
      }
    }
    &.on-now {
      margin-right: 120px;
      @include breakpoint($between-1281-1900) {
        margin-right: 9.375vw;
      }
      @include breakpoint($bp-min-1901-width) {
        margin-right: 180px;
      }
      .schedule-item-wrapper {
        @include clear;
        text-align: right;
        .schedule-item {
          @include clear;
          float: right;
          display: table;
          box-sizing: border-box;
          height: 120px;
          padding-right: 10px;
          max-width: 420px;
          text-align: left;
          vertical-align: top;
          width: 49%;
          @include breakpoint($bp-min-1281-width) {
            height: 9.375vw;
          }
          @include breakpoint($between-769-990) {
            margin-top: 0;
            &:first-child {
              margin-left: 0;
            }
            .time {
              float: none;
              max-width: none;
            }
            .episode-info {
              float: none;
              max-width: none;
            }
          }
          &:first-child {
            @include breakpoint($bp-min-1701-width) {
              margin-left: 112px;
            }
          }
          .time {
            margin-left: 0;
            max-width: 60%;
            @include breakpoint($between-769-990) {
              max-width: 100%;
            }
          }
          .episode-info {
            width: 40%;
            @include breakpoint($between-769-990) {
              padding-right: 15px;
              width: 100%;
            }
          }
          .schedule-item-wrap {
            display: table-cell;
            padding-right: 20%;
            vertical-align: middle;
          }
        }
      }
    }
    .time {
      color: $schedule-pm-color;
      float: left;
      font-family: $avalon-medium;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 0.5px;
      padding-right: 25px;
      text-transform: uppercase;
      max-width: 50%;
      @include breakpoint($bp-min-1701-width) {
        font-size: 19px;
        line-height: 19px;
        padding-right: 33px;
      }
      @include breakpoint($bp-1280-width) {
        padding-right: 15px;
      }
      span, a {
        color: #ffffff;
        font-family: $avalon-demi;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3px;
        @include breakpoint($bp-min-1701-width) {
          font-size: 54px;
          line-height: 54px;
        }
        @include breakpoint($bp-1280-width) {
          font-size: 30px;
          line-height: 38px;
        }
        &.time-color {
          font-family: $avalon-demi;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          @include breakpoint($bp-min-1701-width) {
            font-size: 19px;
            line-height: 19px;
          }
        }
      }
      .watch-now{
        a {
          color: $schedule-pm-color;
          font-size: 11px;
          line-height: 11px;
          letter-spacing: 0.5px;
          @include breakpoint($bp-min-1701-width) {
            font-size: 19px;
            line-height: 19px;
          }
          &.live{
            border: 1px solid $schedule-pm-color;
            border-radius: 3px;
            padding: 0 3px;
            @include breakpoint($bp-min-1701-width) {
              border: 2px solid $schedule-pm-color;
            }
          }
        }
      }
    }
    .episode-info {
      color: #ffffff;
      float: left;
      font-family: $avalon-medium;
      font-size: 11px;
      letter-spacing: 0.5px;
      margin-top: 9px;
      text-transform: uppercase;
      width: 50%;
      @include breakpoint($bp-min-1281-width) {
        font-size: 14px;
      }
      @include breakpoint($bp-1280-width) {
        margin-top: 6px;
      }
      @include breakpoint($bp-1024-width) {
        line-height: 14px;
      }
    }
    .episode-show {
      height: 30px;
      line-height: 1.3;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include breakpoint($bp-min-1281-width) {
        line-height: 1.2;
      }
      @include breakpoint($bp-min-1701-width) {
        height: 40px;
        line-height: 1.1;
      }
      & .episode-show-wrapper {
        display: table-cell;
        height: 30px;
        vertical-align: middle;
        @include breakpoint($bp-min-1701-width) {
          font-size: 20px;
          height: 40px;
        }
      }
    }
    .icons-block {
      @include clear;
      a {
        color: $schedule-pm-color;
      }
    }
  }
}
