.schedule-header {
  @extend %semi;
  width: auto;
  margin: 0 -15px 6px -15px;
  padding: 10px 0 2px 0;
  overflow:hidden;
  text-align: center;
  vertical-align: middle;
  background-color:#434343;
  @include box-shadow(rgba(0,0,0,.7) 0 17px 24px -12px inset);
  .schedule-header-navigation {
    float:left;
    white-space: nowrap;
    .previous-week,
    .next-week {
      display: none;
      width: 35px;
      margin:9px 11px 0;
      height: 38px;
      vertical-align:top;
      background-color: #2b2b2b;
      cursor:pointer;
      &.disabled {
        pointer-events: none;
      }
    }
    .previous-week {
        @include replace-text('icons/arrow-prev.png');
        background-position:45% 50%;
        background-size:30% auto;
    }
    .next-week {
        @include replace-text('icons/arrow-next.png');
        background-position:55% 50%;
        background-size:30% auto;
    }
    .schedule-header-navigation-weeks {
      display: inline-block;
      width:320px;
      height: 35px!important;
      overflow:hidden;
      .touchslider-item {
          float:left;
        ul {
          list-style:none;
          margin:0;
          padding:0;
        }
        &.current-week,
        & .schedule-header-navigation-week li {
          float:left;
        }
        & .schedule-header-navigation-week li {
          height: 35px;
          padding:4px 9px 0;
          &.active {
            background:url('../images/bg_current_day.png') center top no-repeat transparent;
            background-size: auto 100%;
            span {
              color: #2d2d2d;
            }
          }
          a, span {
            display: block;
            color: white;
            font-family: "Proxima N W01 Bold";
          }
          .week-day {
            font-size:13px;
            line-height:11px;
            text-transform:uppercase;
          }
          .date {
            font-size:9px;
            line-height:11px;
          }
        }
      }
    }
  }
  @include breakpoint($bp-schedule-mobile-small) {
    margin: 0 -15px 8px -15px;
    padding: 11px 0 2px 0;
    .schedule-header-navigation {
      .schedule-header-navigation-weeks {
        display: inline-block;
        width:360px;
        height: 39px!important;
        .touchslider-item {
          & .schedule-header-navigation-week li {
            height: 39px;
            padding:4px 9px 0;
            &.active {
              background-size: auto 100%;
            }
            .week-day {
              font-size:15px;
              line-height:12px;
            }
            .date {
              font-size:11px;
              line-height:12px;
            }
          }
        }
      }
    }
  }
  @include breakpoint($bp-schedule-mobile-mid) {
    margin: 0 -15px 10px -15px;
    padding: 15px 0 3px 0;
    .schedule-header-navigation {
      .schedule-header-navigation-weeks {
        display: inline-block;
        width:480px;
        height: 52px!important;
        .touchslider-item {
          & .schedule-header-navigation-week li {
            height: 52px;
            padding:6px 16px 0;
            &.active {
              background-size: auto 100%;
            }
            .week-day {
              font-size:18px;
              line-height:16px;
            }
            .date {
              font-size:12px;
              line-height:16px;
            }
          }
        }
      }
    }
  }
  @include breakpoint($bp-schedule-date-wide) {
    margin: 0 -15px 13px -15px;
    padding: 19px 0 4px 0;
    .schedule-header-navigation {
      .schedule-header-navigation-weeks {
        display: inline-block;
        width:624px;
        height: 70px!important;
        .touchslider-item {
          & .schedule-header-navigation-week li {
            height: 70px;
            padding:8px 19px 0 19px;
            &.active {
              background-size: auto;
            }
            .week-day {
              font-size:25px;
              line-height:22px;
            }
            .date {
              font-size:16px;
              line-height:22px;
            }
          }
        }
      }
    }
  }
  @include breakpoint($bp-schedule-table-wide) {
    margin: 0 auto;
    border: 0;
    box-shadow: none;
  }
  @include breakpoint($bp-person-medium-width) {
    max-width: 1245px;
    .schedule-header-navigation {
      .previous-week,
      .next-week {
        display: inline-block;
      }
    }
  }
}
.schedule-date {
  text-transform: uppercase;
  @include breakpoint($bp-schedule-date-wide) {
    font-size: 36px;
  }
}
a[class*="day"] {
  @extend %usanetwork-font;
  padding: 0 .5em 1em .5em;
  font-size: 12px;
  display: inline-block;
  @include breakpoint($bp-schedule-date-wide) {
    @include transform3d( translateY(-30%) );
  }
  .no-font-feature-settings & {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    background-size: 14px 14px;
  }
}
a.next-day {
  .no-font-feature-settings & {
    margin-left: 1em;
    @include replace-text('svgs/arrow3.svg');
  }
}
a.prev-day {
  .no-font-feature-settings & {
    margin-right: 1em;
    @include replace-text('svgs/arrow3-left.svg');
  }
}
// table {
//   .show-time {
//     // white-space: nowrap;
//     // padding-left: .5em;
//   }
// }

.schedule-table {
  margin: 0 -15px;
  table {
    table-layout: fixed;
    border-top: $gray-med solid 1px;
  }
  thead {
    background-color: $gray-dark;
    tr {
      display: none;
      @include breakpoint($bp-schedule-table-wide) {
        display: table-row;
      }
    }
    th {
      padding-top: 6px;
      padding-bottom: 5px;
      padding-left: 4px;
      border-bottom: $gray-med solid 1px;
      border-right: $gray-med solid 1px;
      color: white;
      font-size: 9px;
      /* @include box-sizing(content-box); */
    }
  }
  tbody {
    border-width:0;
  }
  a {
    color: $gray-light-gamma;
    &:hover {
      color: white;
    }
  }
  td {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 4px;
    border-bottom: $gray-med solid 1px;
    border-right: $gray-med solid 1px;
    color: $gray-light-gamma;
    font-size: 9px;
  }
  tr {
    background: $gray-dark;
    border: none;
  }
  .show-time {
    white-space: nowrap;
    padding-left: .5em;
    width: 23%;
    color: white;
  }
  .program {
    padding-right: 2%;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rating {
    border-right-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .episode {
    display: none;
  }
  @include breakpoint($bp-schedule-mobile-small) {
    thead {
      th {
        padding-top: 7px;
        padding-bottom: 6px;
        padding-left: 5px;
        font-size: 11px;
      }
    }
    td {
      padding-top: 7px;
      padding-bottom: 6px;
      padding-left: 5px;
      font-size: 11px;
    }
  }
  @include breakpoint($bp-schedule-mobile-mid) {
    thead {
      th {
        padding-top: 9px;
        padding-bottom: 8px;
        padding-left: 7px;
        font-size: 13px;
      }
    }
    td {
      padding-top: 9px;
      padding-bottom: 8px;
      padding-left: 7px;
      font-size: 13px;
    }
  }
  @include breakpoint($bp-schedule-date-wide) {
    thead {
      th {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 8px;
        font-size: 16px;
      }
    }
    td {
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 8px;
      font-size: 16px;
    }
}
  @include breakpoint($bp-schedule-table-wide) {
    max-width: 1245px;
    margin: 0 auto;
    border:0;
    table {
      table-layout: auto;
      border-top-width: 0;
    }
    .program {
      width: 40%;
      padding-right: 0;
      overflow: inherit;
      white-space: normal;
      .episode-suffix {
        display: none;
      }
    }
    .show-time {
      width: auto;
    }
    .episode {
      display: table-cell;
      width: 40%;
    }
    .rating {
      overflow: inherit;
      white-space: normal;
    }
  }
}

.schedule-day-small {
  height: 109px;
  .schedule-viewport {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .schedule-items {
    width: 10000px;
    height: 109px;
    margin: 0;
    padding: 0;
    .schedule-item {
      @include breakpoint($bp-grid-small-wide-small) {
        width: 274px;
      }
      @include breakpoint($bp-grid-small-wide-2-fence) {
        width: 274px;
      }
      @include breakpoint($bp-grid-small-wide-3-fence) {
        width: 243px;
      }
      @include breakpoint($bp-video-large-width) {
        width: 243px;
      }
      @include breakpoint($bp-grid-small-wide-4) {
        width: 243px;
      }
      float:left;
      height: 100%;
      @extend %schedule-gradient;
      font-size: 14px;
      line-height: 16px;
      .schedule-item-content {
        border-right: 1px solid #1f1f1f;
        padding: 20px;
        .time {
          @extend %semi;
          font-size: 18px;
          color: #878785;
          margin-bottom: 15px;
          @include breakpoint($bp-video-large-width) {
            font-size: 22px;
          }
          @include breakpoint($bp-grid-small-wide-4) {
            font-size: 22px;
          }
        }
        .program, .title {
          height: 20px;
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &.schedule-item-on-now {
        background-image: none;
        background-color: #000;
        .time {
          &:after {
            margin-left: 10px;
            font-family: "Proxima N W01 Bold",Helvetica,Arial,sans-serif;
            color: #0AB6E8;
            content: "ON NOW";
          }
        }
      }
    }
  }
  .schedule-navigation {
    float: right;
    width: 30px;
    height: 109px;
    background-color: #0c0c0c;
    a {
      display: block;
      height: 50%;
      width: 100%;
      text-align: center;
      &.schedule-navigation-prev {
        @include replace-text('icons/arrow-prev.png');
        background-position:45% 50%;
        background-size:30% auto;
      }
      &.schedule-navigation-next {
        @include replace-text('icons/arrow-next.png');
        background-position:55% 50%;
        background-size:30% auto;
      }
    }
  }
  &.no-scroll {
    .schedule-navigation {
      display: none;
    }
  }
}

//accessibility page
.page-accessibility {
  .usa-wrap {
    background-color: #ffffff;
  }
  .schedule-header{
    clear: left;
    background-color: #000000;
  }
  .schedule-table {
    table {
      border: #3d3d3d solid 1px;
    }
    thead th {
      font-family: "Proxima N W01 Smbd", Arial, sans-serif;
      color: #000000;
      border-bottom-width: 3px;
      border-right-width: 3px;
      @include breakpoint($bp-home-3col) {
        
        font-family: avalon_mediumbold,"Proxima N W01 xBold", Arial, sans-serif;
      }
    }
    .show-time {
      color: #000000;
      border-bottom-width: 3px;
      border-right-width: 3px;
    }
    tr {
      background: #ffffff;
    }
    td {
      border-bottom-width: 3px;
      border-right-width: 3px;
      color: #000000;
    }
    .rating {
      border-right-width: 1px;
    }
    a {
      color: #000000;
    }
    td {
      &.program, &.episode, &.rating {
        font-family: "Proxima N W01 Reg", Arial, sans-serif;
        @include breakpoint($bp-home-3col) {
          font-family: avalonbold,"Proxima N W01 Smbd", Arial, sans-serif;
        }
      }
      &.show-time {
        font-family: "Proxima N W01 Reg", Arial, sans-serif;
        @include breakpoint($bp-home-3col) {
          font-family: avalonregular,"Proxima N W01 Smbd", Arial, sans-serif;
        }
      }
    }
  }
}

.accesibility-header {
  margin: 70px auto 0;
  color: #000000;
  line-height: 1.3em;
  width: 100%;
  font-size: 14px;
  .accessibility-left {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }
  .accessibility-right {
    width: 100%;
    float: none;
    margin-bottom: 70px;
  }
  h1 {
    font-size: 16px;
  }
  @include breakpoint($bp-schedule-date-wide) {
    font-size: 18px;
    h1 {
      font-size: 20px;
    }
  }
  @include breakpoint($bp-home-3-fence) {
    width: 925px;
    .accessibility-left {
      width: 48%;
      float: left;
      margin-bottom: 70px;
    }
    .accessibility-right {
      width: 48%;
      float: right;
      margin-bottom: 70px;
    }
  }
  @include breakpoint($bp-home-widest) {
    width: 1248px;
    .accessibility-left {
      width: 48%;
      float: left;
      margin-bottom: 70px;
    }
    .accessibility-right {
      width: 48%;
      float: right;
      margin-bottom: 70px;
    }
  }
}
