.page-schedule {
  color: $poll-color;
  background-color: $poll-back;
  .page-title {
    @include clear;
    padding: 30px;
    h2 {
      float: left;
    }
    .shows-filters {
      float: right;
      margin-top: (25px / 2);
      @include breakpoint($bp-768-width) {
        display: none;
      }
      .item-filter {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        vertical-align: middle;
        &:last-child {
          margin-right: 0;
        }
        &.open {
          .filter-label {
            border-color: transparent;
            background: $footer-back;
            &:after {
              content: "\e60a";
            }
          }
          .filter-menu {
            display: block;
          }
        }
        .filter-label {
          border: 1px solid $footer-back;
          cursor: pointer;
          font-size: 20px;
          font-family: $avalon-demi;
          line-height: 40px;
          overflow: hidden;
          position: relative;
          padding: 0 50px 0 20px;
          text-transform: uppercase;
          &:after {
            content: "\e609";
            color: $poll-color;
            font-family: $ico-font;
            font-size: 16px;
            display: block;
            position: absolute;
            margin-right: -8px;
            right: 25px;
            top: 0;
            z-index: 3;
          }
        }
        .filter-menu {
          background: $footer-back;
          top: 1px;
          display: none;
          margin-top: 40px;
          max-height: 200px;
          overflow-y: auto;
          position: absolute;
          width: 100%;
          z-index: 2;
          li {
            height: 40px;
            overflow: hidden;
            position: relative;
            width: 100%;
            a {
              color: #ffffff;
              display: block;
              font-size: 20px;
              font-family: $avalon-demi;
              height: 100%;
              line-height: 40px;
              padding-left: 20px;
              text-decoration: none;
              text-transform: uppercase;
              width: 100%;
              &:hover, &.active {
                color: $poll-color;
              }
            }
          }
        }
      }
    }
  }
  .schedule-wrapper {
    margin: 0 auto 40px;
    max-width: 2500px;
    min-width: 300px;
    .schedule-navigation {
      display: table;
      background-color: $footer-back;
      margin-bottom: 40px;
      position: relative;
      width: 100%;
      .nav-prev {
        display: table-cell;
        cursor: pointer;
        height: 90px;
        width: 90px;
        position: relative;
        vertical-align: middle;
        @include breakpoint($bp-640-width) {
          height: 45px;
          width: 45px;
        }
        &:after {
          content: '\e607';
          color: #ffffff;
          display: block;
          font-family: $ico-font;
          font-size: 20px;
          line-height: 20px;
          left: 50%;
          margin-left: -10px;
          margin-top: -10px;
          position: absolute;
          top: 50%;
        }
        &:hover {
          background-color: $bottom-footer-back;
        }
      }
      .nav-next {
        display: table-cell;
        cursor: pointer;
        height: 90px;
        width: 90px;
        position: relative;
        vertical-align: middle;
        @include breakpoint($bp-640-width) {
          height: 45px;
          width: 45px;
        }
        &:after {
          content: '\e608';
          color: #ffffff;
          display: block;
          font-family: $ico-font;
          font-size: 20px;
          line-height: 20px;
          left: 50%;
          margin-left: -10px;
          margin-top: -10px;
          position: absolute;
          top: 50%;
        }
        &:hover {
          background-color: $bottom-footer-back;
        }
      }
      ul {
        display: table-cell;
        vertical-align: middle;
        @include clear;
        li {
          border-right: 1px solid $poll-back;
          height: 90px;
          float: left;
          width: (100% / 7);
          @include breakpoint($bp-768-width) {
            display: none;
            &:first-child, &:nth-child(2) {
              display: block;
              width: 50%;
            }
          }
          @include breakpoint($bp-640-width) {
            height: 45px;
          }
          &:first-child {
            border-left: 1px solid $poll-back;
          }

          &:hover, &.active {
            background-color: $bottom-footer-back;
            a {
              color: #ffffff;
            }
          }
          a {
            color: $header-tab-back;
            display: block;
            height: 100%;
            padding-top: 13px;
            text-decoration: none;
            text-align: center;
            @include breakpoint($bp-640-width) {
              padding-top: 0;
            }
            span {
              display: block;
              @include breakpoint($bp-640-width) {
                display: inline;
              }
              &.week-day {
                font-size: 40px;
                font-family: $avalon-demi;
                line-height: 40px;
                @include breakpoint($bp-640-width) {
                  font-size: 20px;
                  line-height: 45px;
                  margin-right: 10px;
                }
              }
              &.date {
                font-size: 20px;
                font-family: $avalon-medium;
                line-height: 28px;
                @include breakpoint($bp-640-width) {
                  font-size: 20px;
                  line-height: 45px;
                }
              }
            }
          }
        }
      }
    }
    .time-zone {
      padding: 0 30px;
      @include breakpoint($bp-480-width){
        text-align: center;
      }
      a {
        font-size: 18px;
        color: $schedule-pm-color;
        font-family: $avalon-demi;
        text-decoration: none;
      }
    }
    .schedule-table {
      margin-top: 20px;
      position: relative;
      padding: 10px 0;
      .carousel-vert{
        overflow: hidden;
        position: static;
        margin: 0;
        padding: 0;
        max-height: 770px;
        //          @include breakpoint($bp-1024-width){
        //            max-height: 476px;
        //          }
        //          @include breakpoint($bp-640-width){
        //            max-height: 385px;
        //          }
      }
      .jcarousel-control-next {
        display: block;
        height: 19px;
        line-height: 19px;
        margin-left: -9.5px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        &:before {
          content: "\e60a";
          color: $poll-color;
          font-family: $ico-font;
          font-size: 32px;
          display: block;
        }
      }
      .jcarousel-control-prev {
        display: block;
        height: 19px;
        line-height: 19px;
        margin-left: -9.5px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        bottom: 0;
        text-decoration: none;
        &:before {
          content: "\e609";
          color: $poll-color;
          font-family: $ico-font;
          font-size: 32px;
          display: block;
        }
      }
      ul {
        height: 100%;
        width: 100%;
        li {
          float: none;
          margin: 0;
          height: auto;
          width: 100%;
          &:nth-child(odd) {
            background-color: $footer-links;
          }
          .schedule-item {
            box-sizing: border-box;
            padding: 20px 0 20px 10px;
            width: 100%;
            @include breakpoint($bp-1024-width) {
              padding-left: 30px;
            }
            @include breakpoint($bp-640-width) {
              padding-right: 30px;
            }
            @include breakpoint($bp-480-width) {
              padding: 20px 10px 20px 15px;
            }
            .visible-block {
              display: table;
              width: 100%;
              .time-wrapper {
                display: table-cell;
                vertical-align: middle;
                width: 10%;
                @include breakpoint($bp-1024-width) {
                  width: 20%;
                  min-width: 100px;
                }
                .time {
                  margin: 0 auto;
                  font-size: 20px;
                  color: $schedule-pm-color;
                  font-family: $avalon-medium;
                  line-height: 28px;
                  width: 90px;
                  @include breakpoint($bp-1024-width) {
                    width: auto;
                  }
                  @include breakpoint($bp-640-width) {
                    font-size: 16px;
                    line-height: 22px;
                  }
                  @include breakpoint($bp-480-width) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                  span {
                    color: $poll-color;
                    font-size: 36px;
                    font-family: $avalon-demi;
                    letter-spacing: 3px;
                    line-height: 42px;
                    display: block;
                    @include breakpoint($bp-1024-width) {
                      font-size: 20px;
                      line-height: 28px;
                      display: inline;
                    }
                    @include breakpoint($bp-640-width) {
                      font-size: 16px;
                      line-height: 22px;
                    }
                    @include breakpoint($bp-480-width) {
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }
                }
              }
              .episode-info {
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
                padding-left: 10px;
                padding-right: 20px;
                width: 60%;
                @include breakpoint($bp-1024-width) {
                  width: auto;
                }
                .episode-show {
                  font-size: 20px;
                  font-family: $avalon-demi;
                  float: left;
                  width: 50%;
                  @include breakpoint($bp-1024-width) {
                    width: 100%;
                  }
                  @include breakpoint($bp-640-width) {
                    font-size: 16px;
                    line-height: 22px;
                  }
                  @include breakpoint($bp-480-width) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
                .episode-title {
                  font-size: 20px;
                  font-family: $cent-725BT-italic;
                  font-style: italic;
                  float: left;
                  width: 50%;
                  @include breakpoint($bp-1024-width) {
                    display: none;
                  }
                }
              }
              .icons-block {
                display: table-cell;
                vertical-align: middle;
                padding-right: 100px;
                width: 30%;
                position: relative;
                @include breakpoint($bp-640-width) {
                  padding: 0;
                  height: 37px;
                  width: 37px;
                }
                .open-description {
                  @include sprite-background(plus-icon-round);
                  display: block;
                  position: absolute;
                  margin-left: -18.5px;
                  margin-top: -18.5px;
                  right: 50px;
                  top: 50%;
                  @include breakpoint($bp-640-width) {
                    right: 0;
                  }
                }
                .icons-schedule {
                  @include clear;
                  float: left;
                  @include breakpoint($bp-640-width) {
                    display: none;
                  }
                  .icon {
                    display: block;
                    float: left;
                    height: auto;
                    margin-right: 27px;
                    position: relative;
                    text-decoration: none;
                    width: auto;
                    @include breakpoint($bp-768-width) {
                      margin-right: 20px;
                    }
                  }
                }
                .rating {
                  font-family: $avalon-medium;
                  font-size: 14px;
                  float: left;
                  @include breakpoint($bp-1024-width) {
                    display: none;
                  }
                }
              }
            }
            .hidden-block {
              display: none;
              padding-top: 20px;
              width: 100%;
              .node {
                margin-right: 50px;
                @include breakpoint($bp-640-width) {
                  margin-right: 0;
                }
                a {
                  @include clear;
                  color: #ffffff;
                  display: block;
                  padding-left: 10%;
                  padding-right: 30%;
                  text-decoration: none;
                  @include breakpoint($bp-1024-width) {
                    padding: 0;
                  }
                  .asset-img {
                    float: left;
                    width: 50%;
                    @include breakpoint($bp-1024-width) {
                      width: 300px;
                    }
                    @include breakpoint($bp-640-width) {
                      float: none;
                      width: 100%;
                    }
                    img {
                      max-width: 300px;
                      width: 100%;
                      @include breakpoint($bp-min-1601-width) {
                        max-width: 440px;
                      }
                      @include breakpoint($bp-640-width) {
                        max-width: 100%;
                      }
                    }
                  }
                  .meta {
                    float: left;
                    font-size: 16px;
                    font-family: $avalon-medium;
                    line-height: 22px;
                    padding-left: 20px;
                    margin: 0;
                    position: static;
                    width: 50%;
                    max-width: 450px;
                    @include breakpoint($bp-1024-width) {
                      font-size: 14px;
                      line-height: 20px;
                    }
                    @include breakpoint($bp-768-width) {
                      float: none;
                      padding-left: 0;
                      margin-left: 320px;
                      width: auto;
                    }
                    @include breakpoint($bp-640-width) {
                      font-size: 12px;
                      line-height: 18px;
                      margin-left: 0;
                      max-width: 100%;
                    }
                    .episode-info {
                      display: none;
                      padding: 5px 0;
                      position: relative;
                      @include breakpoint($bp-1024-width) {
                        display: block;
                      }
                      @include breakpoint($bp-768-width) {
                        margin-top: 20px;
                      }
                      .episode-title {
                        font-size: 16px;
                        line-height: 22px;
                        font-family: $cent-725BT-italic;
                        font-style: italic;
                        margin-right: 100px;
                        @include breakpoint($bp-480-width){
                          font-size: 14px;
                        }
                      }
                      .rating {
                        font-size: 12px;
                        line-height: 22px;
                        right: 0;
                        position: absolute;
                        top: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
          &.active {
            background-color: $bottom-footer-back;
            color: #ffffff;
            .hidden-block {
              display: block;
            }
            .schedule-item {
              .visible-block {
                .time-wrapper {
                  .time, .time span {
                    color: #ffffff;
                  }
                }
                .open-description {
                  @include sprite-background(minus-icon-round);
                }
              }
            }
          }
        }
      }
    }
  }
  .ad-728x90 {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 728px;
    a {
      display: block;
      max-height: 90px;
    }
    @include breakpoint($bp-768-width) {
      height: 100%;
      a {
        height: auto;
      }
      img {
        width: 100%;
      }
    }
  }
}

