#block-usanetwork-episodes-usa-landing-tvep-list-block, #block-usanetwork-consumptionator-post-usa-landing-blog-post-list-block, #block-usanetwork-news-landing {
  @include clear();
  color: $poll-color;
  position: relative;
  width: 100%;
  .landing-list-items-one-item {
    border-top: 2px solid #ffffff;
    &:first-child {
      border-top: 0;
    }
  }
  .list-items {
    border-bottom: 2px solid #ffffff;
  }
  .episode-landing-list-item {
    @include clear();
    padding: 48px 32px 48px 32px;
    border-top: 2px solid #ffffff;
    @include breakpoint ($bp-min-1025-width) {
      min-height: 25.4vw;
    }
    @include breakpoint ($bp-min-1901-width) {
      min-height: 466px;
    }
    @include breakpoint ($between-769-1024) {
      min-height: 25.8vw;
    }
    @include breakpoint ($bp-1280-width) {
      padding: 30px 32px;
    }
    @include breakpoint ($bp-1024-width) {
      padding: 24px 20px;
    }
    @include breakpoint ($bp-768-width) {
      padding: 17px 13px;
    }
    @include breakpoint ($bp-640-width) {
      padding: 35px 10px 35px 10px;
    }
    &.active {
      .episode-landing-info-block {
        .open-description {
          @include breakpoint($bp-640-width) {
            @include sprite-background(episode-minus-icon);
            margin-top: 0;
            top: 6px;
          }
          @include breakpoint($bp-480-width) {
            top: 5px;
          }
        }
        .image-block, .airing-date, .expiration-date, .description, .tags {
          @include breakpoint($bp-640-width) {
            display: block;
          }
        }
        .title {
          @include breakpoint($bp-640-width) {
            margin-bottom: 20px;
          }
        }
      }
      .buttons-bar {
        @include breakpoint($bp-640-width) {
          display: block;
        }
      }
    }
    .episode-landing-list-item-inner {
      max-width: 1820px;
      position: relative;
      margin: 0 auto;
    }
    .episode-landing-info-block {
      float: right;
      font-family: $avalon-medium;
      line-height: 2em;
      position: relative;
      width: 62.17%;
      @include breakpoint($bp-1280-width) {
        line-height: 1.5em;
        width: 61.8%;
      }
      @include breakpoint($between-641-768) {
        min-height: 26.6vw;
        width: 49.5%;
      }
      @include breakpoint($bp-640-width) {
        float: none;
        width: 100%;
      }
      .open-description {
        display: none;
        @include breakpoint($bp-640-width) {
          @include sprite-background(episode-plus-icon);
          cursor: pointer;
          display: block;
          margin-top: -15.5px;
          position: absolute;
          right: 0;
          top: 50%;
        }
      }
      .series {
        font-size: 22.5px;
        line-height: 1em;
        @include breakpoint($bp-1280-width) {
          font-size: 15px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 12px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 14px;
          margin-bottom: 5px;
          width: calc(100% - 40px);
        }
        @include breakpoint($bp-480-width) {
          font-size: 12px;
        }
      }
      .title {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 4px;
        margin-top: 8px;
        @include breakpoint($bp-1280-width) {
          font-size: 24px;
          margin-bottom: 0;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 20px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 24px;
          margin-top: 0;
          width: calc(100% - 40px);
        }
        @include breakpoint($bp-480-width) {
          font-size: 20px;
        }
        a {
          color: $poll-color;
          outline: none;
          &:hover, &:active {
            color: $poll-color;
            opacity: 0.7;
          }
        }
      }
      .image-block {
        position: absolute;
        top: 0;
        right: 102%;
        width: 58%;
        @include breakpoint ($bp-1280-width) {
          width: 59.8%;
        }
        @include breakpoint ($bp-768-width) {
          width: 100%;
        }
        @include breakpoint($bp-640-width) {
          margin-bottom: 20px;
          position: relative;
          right: auto;
          top: auto;
        }
      }
      .airing-date,
      .expiration-date,
      .posted-date {
        font-family: $tex-gyreschola-italic;
        text-transform: uppercase;
        font-size: 18px;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
        }
      }
      .tags {
        font-family: $avalon-book;
        text-transform: uppercase;
        font-size: 18px;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
        }
        span {
          font-family: $avalon-medium;
        }
      }
      .description {
        font-family: $avalon-book;
        font-size: 26px;
        line-height: 1.5;
        @include breakpoint($bp-1280-width) {
          font-size: 17px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 14px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 13px;
          padding-right: 25px;
        }
        @include breakpoint($bp-640-width) {
          padding-right: 0;
        }
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image-block, .airing-date, .expiration-date, .description, .tags {
        @include breakpoint($bp-640-width) {
          display: none;
        }
      }
    }
    .buttons-bar {
      float: right;
      padding-top: 1.5em;
      width: 62.17%;
      @include clear();
      @include breakpoint($bp-1280-width) {
        width: 61.8%;
      }
      @include breakpoint($bp-768-width) {
        clear: both;
        float: none;
        width: 100%;
      }
      @include breakpoint($bp-640-width) {
        display: none;
      }
      .buttons {
        width: 60.4%;
        float: left;
        @include breakpoint($bp-1600-width) {
          width: 63%;
        }
        @include breakpoint($bp-768-width) {
          width: 50%;
        }
        @include breakpoint($bp-640-width) {
          width: 100%;
        }
        > div {
          margin-top: 1%;
          margin-right: 0.5%;
          margin-top: 1%;
          position: relative;
          display: inline-block;
          width: 49%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: left;
          @include breakpoint($bp-1024-width) {
            &:after {
              content: "\e608";
              color: #ffffff;
              font-family: "ico-font";
              font-size: 11px;
              display: block;
              position: absolute;
              right: 14px;
              top: 50%;
              margin-top: -5px;
              line-height: 1;
              z-index: 3;
            }
          }
          @include breakpoint($bp-768-width) {
            margin-top: 1.5%;
          }
          &:nth-child(1), &:nth-child(2) {
            margin-top: 0;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:not(.full-episode-button) {
            background: $show-info-block;
            .font-icon {
              &:before {
                color: $show-info-block;
              }
            }
          }
          a {
            color: #ffffff;
            display: inline-block;
            font-family: $avalon-medium;
            font-size: 20px;
            padding: 15px 0 15px calc(14% + 26px);
            position: relative;
            text-transform: uppercase;
            width: 100%;
            @include breakpoint($bp-min-1901-width) {
              padding: 15px 0 15px calc(14% + 40px);
            }
            @include breakpoint($bp-1600-width) {
              font-size: 16px;
            }
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
              padding: 10px 0 10px calc(14% + 26px);
            }
            @include breakpoint($bp-1024-width) {
              font-size: 12px;
              padding: 5px 35px 5px 10px;
            }
            @include breakpoint($between-769-990) {
              font-size: 10px;
              padding: 5px 0 5px calc(5% + 5px);
            }
            @include breakpoint($bp-768-width) {
              padding: 10px 25px 10px 10px;
              font-size: 10px;
            }
            @include breakpoint($bp-640-width) {
              font-size: 14px;
            }
            .font-icon {
              background: #ffffff;
              height: 26px;
              left: 7%;
              margin-top: -13px;
              width: 26px;
              @include breakpoint($bp-min-1901-width) {
                height: 40px;
                margin-top: -20px;
                width: 40px;
              }
              @include breakpoint($bp-1024-width) {
                display: none;
              }
              &:before {
                font-size: 14px;
                height: 26px;
                line-height: 26px;
                margin-top: -13px;
                width: 26px;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 22px;
                  height: 40px;
                  line-height: 40px;
                  margin-top: -20px;
                  width: 40px;
                }
              }
            }
          }
        }
      }
      .links {
        float: right;
        width: 37%;
        @include breakpoint($between-641-768) {
          margin-top: 12px;
          width: 50%;
        }
        @include breakpoint($bp-640-width) {
          margin-top: 20px;
          width: 100%;
        }
        > a {
          display: block;
          color: $poll-color;
          font-family: $tex-gyreschola-italic;
          text-transform: uppercase;
          text-align: right;
          font-size: 18px;
          position: relative;
          padding-right: 38px;
          letter-spacing: 1px;
          line-height: 1;
          @include breakpoint($bp-1280-width) {
            font-size: 15px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 11px;
          }
          @include breakpoint($between-641-768) {
            float: left;
            padding-right: 21px;
            width: 50%;
          }
          &:first-child {
            margin-bottom: 28px;
            @include breakpoint($bp-1280-width) {
              margin-bottom: 18px;
            }
            @include breakpoint($bp-1024-width) {
              margin-bottom: 15px;
            }
            @include breakpoint($between-641-768) {
              margin-bottom: 0px;
            }
          }
          &:after {
            content: "\e608";
            color: #545454;
            font-family: "ico-font";
            font-size: 13px;
            display: block;
            position: absolute;
            right: 16px;
            top: 0;
            z-index: 3;
            @include breakpoint($bp-1024-width) {
              font-size: 10px;
            }
            @include breakpoint($between-641-768) {
              right: 8px;
            }
          }
        }
      }
    }
  }
  .landing-list-items-all {
    @include clear();
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      margin-bottom: 190px;
    }
    &.infinity-finished {
      margin-bottom: 0;
    }
  }
  .upper-bar {
    height: 135px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-1280-width) {
      height: 90px;
    }
    @include breakpoint($bp-768-width) {
      height: 55px;
    }
    h2 {
      color: $poll-color;
      font-family: $avalon-demi;
      font-size: 36px;
      line-height: 132px;
      margin: 0 0 0 20px;
      text-transform: uppercase;
      @include breakpoint($bp-1280-width) {
        font-size: 24px;
        line-height: 86px;
        margin-left: 35px;
      }
      @include breakpoint($bp-768-width) {
        font-size: 20px;
        line-height: 54px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 15px;
        margin-left: 10px;
      }
    }
  }
  .item-filter {
    position: absolute;
    right: 37px;
    top: 36px;
    vertical-align: middle;
    @include breakpoint($bp-1280-width) {
      top: 23px;
    }
    @include breakpoint($bp-768-width) {
      right: 4px;
      top: 9px;
    }
    &.open {
      .filter-label {
        border-color: transparent;
        background: $footer-back;
        &:after {
          content: "\e60a";
        }
      }
      .filter-menu {
        display: block;
      }
    }
    .filter-label {
      border: 1px solid $gray-light-gamma;
      cursor: pointer;
      font-size: 24px;
      font-family: $avalon-medium;
      text-transform: uppercase;
      line-height: 58px;
      text-align: left;
      overflow: hidden;
      position: relative;
      padding: 0 50px 0 20px;
      color: $gray-dark-darker;
      width: 237px;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      @include breakpoint($bp-1280-width) {
        font-size: 14px;
        line-height: 38px;
        border-bottom-width: 1px;
        width: 159px;
      }
      @include breakpoint($bp-768-width) {
        padding-left: 15px;
        font-size: 12px;
        line-height: 32px;
        width: 137px;
      }
      &:after {
        content: "\e609";
        color: $poll-color;
        font-family: $ico-font;
        font-size: 24px;
        display: block;
        position: absolute;
        margin-right: -12px;
        right: 36px;
        top: 0;
        z-index: 3;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
          right: 19px;
        }
      }
    }
    .filter-menu {
      background: $footer-back;
      top: 1px;
      display: none;
      margin-top: 58px;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
      width: 100%;
      z-index: 2;
      @include breakpoint($bp-1280-width) {
        margin-top: 38px;
      }
      @include breakpoint($bp-768-width) {
        margin-top: 30px;
      }
      li {
        overflow: hidden;
        position: relative;
        width: 100%;
        a {
          color: #ffffff;
          display: block;
          font-size: 24px;
          text-transform: uppercase;
          font-family: $avalon-medium;
          height: 100%;
          line-height: 34px;
          text-align: left;
          padding: 9px 20px;
          text-decoration: none;
          width: 100%;
          &:hover, &.active {
            color: $gray-dark-darker;
          }
          @include breakpoint($bp-1280-width) {
            font-size: 14px;
            line-height: 18px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 12px;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
#block-usanetwork-consumptionator-post-usa-landing-blog-post-list-block, #block-usanetwork-news-landing {
  .landing-list-items-one-item {
    border-top: 0;
  }
  .episode-landing-list-item {
    @include breakpoint($between-641-768) {
      min-height: 31vw;
    }
    &.active {
      .episode-landing-info-block {
        .title {
          margin-top: 0;
          @include breakpoint($bp-640-width) {
            margin-bottom: 0;
          }
        }
      }
      .posted-date {
        @include breakpoint($bp-640-width) {
          margin-bottom: 20px;
        }
      }
    }
    .episode-landing-info-block {
      @include breakpoint($between-641-768) {
        min-height: 0;
      }
    }
    .buttons-bar {
      @include breakpoint($between-641-768) {
        width: 49.5%;
        float: right;
      }
      .buttons {
        > div {
          width: 36%;
          @include breakpoint($between-641-768) {
            width: 87%;
          }
          @include breakpoint($bp-640-width) {
            width: 150px;
          }
          a {
            padding: 15px 0 15px calc(14% + 2px);
            @include breakpoint($bp-1280-width) {
              padding: 10px 0 10px calc(14% + 2px);
            }
            @include breakpoint($bp-1024-width) {
              padding: 5px 0 5px calc(14% + 2px);
            }
            @include breakpoint($bp-640-width) {
              padding: 10px 0 10px calc(12% + 2px);
            }
          }
          &:after {
            content: "\e608";
            color: #ffffff;
            font-family: "ico-font";
            font-size: 11px;
            display: block;
            position: absolute;
            right: 13%;
            top: 50%;
            margin-top: -5px;
            line-height: 1;
            z-index: 3;
            @include breakpoint($bp-min-1601-width) {
              font-size: 14px;
              margin-top: -7px;
            }
            @include breakpoint($bp-1024-width) {
              right: 11%;
            }
          }
        }
      }
    }
    .person-quotation {
      border: 1px solid $schedule-caption-color;
      @include breakpoint($bp-768-width) {
        padding: 25px 40px;
      }
      &:before, &:after {
        background-color: $poll-back;
      }
    }
  }
}
#block-usanetwork-news-landing {
  .episode-landing-list-item {
    @include breakpoint($bp-480-width) {
      padding: 25px 10px;
    }
    .episode-landing-info-block {
      .show-name {
        color: $header-tab-button-back;
        font-size: 30px;
        font-family: $avalon-medium;
        letter-spacing: 0.5px;
        line-height: 1.3;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint($bp-1280-width) {
          font-size: 18px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 16px;
        }
        @include breakpoint($bp-640-width) {
          font-size: get-vw(18px, 640);
        }
      }
      .title {
        margin-top: 0;
        @include breakpoint($bp-640-width) {
          font-size: get-vw(24px, 640);
        }
      }
    }
    &:not(.active) {
      .episode-landing-info-block {
        .show-name {
          @include breakpoint($bp-640-width) {
            float: right;
            line-height: 1.4;
            margin-bottom: 5px;
            width: 60%;
          }
        }
        .title {
          @include breakpoint($bp-640-width) {
            float: right;
            text-transform: none;
            width: 60%;
          }
        }
        .image-block {
          @include breakpoint($bp-640-width) {
            display: block;
            width: 35%;
          }
        }
      }
    }
    &.active {
      .episode-landing-info-block {
        .title {
          @include breakpoint($bp-640-width) {
            margin-bottom: 5px;
            line-height: 1.3;
            width: 100%;
          }
        }
        .description {
          @include breakpoint($bp-640-width) {
            display: none;
          }
        }
      }
      .buttons-bar {
        @include breakpoint($bp-640-width) {
          display: none;
        }
      }
    }
  }
}


