.block-usanetwork-person-usanetwork-person-cast-lmb-block,
.block-usanetwork-movie-usanetwork-lmb-block {
  @include clear();
  background: $poll-back;
  border-bottom: 2px solid;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  .cast-and-info-header-image {
    position: relative;
    width: 100%;
  }
  .movie-info-header-image {
    height: 43.75vw;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-2500-width) {
      height: 1094px;
    }
    @include breakpoint($bp-640-width) {
      height: 87.5vw;
    }
  }
  .cast-and-info-description, .movie-info-description {
    @include clear();
    margin: 0 auto;
    max-width: 1868px;
    padding: 40px 24px 40px 90px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1281-width) {
      min-height: 870px;
      &.no-image {
        min-height: 0;
      }
    }
    @include breakpoint($bp-min-1901-width) {
      min-height: 890px;
      padding: 60px 32px 60px 150px;
      &.no-image {
        min-height: 0;
      }
    }
    @include breakpoint($between-1025-1280) {
      min-height: 750px;
      &.no-image {
        min-height: 0;
      }
    }
    @include breakpoint($between-769-1024) {
      min-height: 650px;
      padding: 30px 17px 30px 80px;
      &.no-image {
        min-height: 0;
      }
    }
    @include breakpoint($bp-768-width) {
      padding: 30px 36px;
      &.no-image {
        min-height: 0;
      }
    }
    @include breakpoint($bp-480-width) {
      padding: 20px 24px;
    }
    > .description {
      clear: none;
      color: #000000;
      float: left;
      font-family: $avalon-book;
      font-size: 17px;
      width: 60%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 26px;
        line-height: 32px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: 14px;
        width: calc(100% - 340px);
      }
      @include breakpoint($bp-640-width) {
        width: 100%;
        font-size: 12px;
      }
      p {
        margin: 0.5em 0;
      }
      .person-quotation {
        font-size: 53px;
        padding: 72px 100px 75px 120px;
        border: 1px solid $schedule-caption-color;
        line-height: 1em;
        @include breakpoint($bp-1280-width) {
          padding: 47px 72px;
          font-size: 32px;
        }
        @include breakpoint($bp-1024-width) {
          padding: 38px 50px;
          font-size: 24.75px;
          line-height: 1.2em;
        }
        @include breakpoint($bp-768-width) {
          padding: 23px 45px;
          font-size: 17px;
          margin: 20px 0 17px;
        }
        @include breakpoint($bp-640-width) {
          padding: 22px 40px;
          font-size: 13px;
          margin: 19px 0 22px;
        }
        &:before, &:after {
          background-color: $poll-back;
          font-size: 69px;
          @include breakpoint($bp-1280-width) {
            font-size: 44px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 39px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 29px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 21px;
          }
        }
      }
      .lines-quotation {
        @include breakpoint($bp-768-width) {
          padding: 22px 20px;
        }
      }
    }
    .advert {
      display: block;
      float: right;
      height: 250px;
      width: 300px;
      @include breakpoint($bp-640-width) {
        display: none;
      }
    }
    .back-image {
      bottom: 0;
      line-height: 1;
      max-height: 537px;
      max-width: 475px;
      position: absolute;
      right: 24px;
      width: 30%;
      @include breakpoint($bp-768-width) {
        width: 41%;
      }
      @include breakpoint($bp-640-width) {
        display: none;
      }
    }
  }
}
.cast-and-crew-block {
  @include clear();
  background: $footer-links;
  border-bottom: 2px solid;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 70px;
  @include breakpoint ($bp-1280-width) {
    padding: 50px 42px;
  }
  @include breakpoint ($bp-1024-width) {
    padding: 40px 32px;
  }
  @include breakpoint ($bp-768-width) {
    padding: 30px 26px;
  }
  @include breakpoint ($bp-640-width) {
    padding: 50px 12px;
  }
  ul {
    margin: 0 auto;
    max-width: 1760px;
  }
  .block-item {
    @extend %cast-promo;
    float: left;
    height: 21.3vw;
    margin-top: 2.3vw;
    overflow: hidden;
    position: relative;
    width: 23.2%;
    margin-right: 2.3%;
    @include breakpoint($bp-min-1901-width) {
      height: 409px;
      margin-top: 40px;
    }
    @include breakpoint ($bp-640-width) {
      width: 48.7%;
      height: 45.3vw;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include breakpoint ($bp-480-width) {
      height: 44.8vw;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-child(3), &:nth-child(4) {
      @include breakpoint ($bp-min-641-width) {
        margin-top: 0;
      }
    }
    &:nth-child(1), &:nth-child(2) {
      margin-top: 0;
    }
  }
}
.where-to-watch {
  @include clear();
  background: $poll-back;
  border-bottom: 2px solid;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  .where-to-watch-inner {
    @include clear();
    padding: get-vw(35px, 1600) get-vw(45px, 1600);
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      padding: 41.6px 53.4px;
    }
    @include breakpoint($bp-768-width) {
      padding: get-vw(30px, 640) get-vw(20px, 640);
    }
    &.only-one-line {
      padding: 0 get-vw(45px, 1600) 32px;
      @include breakpoint($bp-min-1901-width) {
        padding: 0 53.4px 32px;
      }
      @include breakpoint($bp-768-width) {
        padding:  0 get-vw(30px, 640) 32px;
      }
    }
    .first-line {
      .description-block {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .last-line:only-child {
      .description-block {
        margin-top: 0;
      }
    }
    .link-buttons-wrap {
      margin-top: 15px;
      text-align: center;
      @include breakpoint($bp-768-width) {
        margin-top: get-vw(30px, 640);
      }
      .link-button {
        display: inline-block;
        padding: get-vw(12.5px, 1280) get-vw(25px, 1280);
        @include breakpoint($bp-min-1901-width) {
          padding: 18.55px 37.1px;
        }
        @include breakpoint($bp-1024-width) {
          padding: get-vw(12.5px, 1024) get-vw(25px, 1024);
        }
        @include breakpoint($bp-768-width) {
          padding: get-vw(25px, 768) get-vw(42px, 768);
        }
        @include breakpoint($bp-640-width) {
          padding: get-vw(25px, 640) get-vw(42px, 640);
        }
        &:first-child {
          margin-right: get-vw(25px, 1280);
          @include breakpoint($bp-min-1901-width) {
            margin-right: 37.1px;
          }
          @include breakpoint($bp-1024-width) {
            margin-right: get-vw(25px, 1024);
          }
          @include breakpoint($bp-768-width) {
            display: none;
          }
        }
        a {
          color: #ffffff;
          font-size: get-vw(20px, 1900);
          font-family: $avalon-medium;
          font-style: normal;
          letter-spacing: 1px;
          line-height: 1;
          padding-top: 3px;
          position: relative;
          text-transform: uppercase;
          vertical-align: middle;
          @include breakpoint($bp-min-1901-width) {
            font-size: 20px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(20px, 1024);
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(30px, 768);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(30px, 640);
          }
          &:after {
            color: #ffffff;
            content: "\e608";
            display: inline-block;
            font-family: $ico-font;
            font-size: get-vw(15px, 1900);
            line-height: 1;
            margin-left: get-vw(12px, 1280);
            vertical-align: middle;
            @include breakpoint($bp-min-1901-width) {
              font-size: 15px;
              margin-left: 12px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(15px, 1024);
              margin-left: get-vw(12px, 1024);
            }
            @include breakpoint($bp-768-width) {
              font-size: get-vw(24px, 768);
              margin-left: get-vw(16px, 768);
            }
            @include breakpoint($bp-640-width) {
              font-size: get-vw(24px, 640);
              margin-left: get-vw(16px, 640);
            }
          }
        }
      }
    }
  }
  .live-link {
    border: 1px solid;
    color: white;
    display: inline-block;
    font-family: $avalon-book;
    font-size: get-vw(20px, 1600);
    line-height: get-vw(56px, 1600);
    padding: 0 get-vw(35px, 1600) 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($bp-min-1901-width) {
      font-size: 23.75px;
      line-height: 66.5px;
      padding: 0 41.6px 0;
    }
    @include breakpoint($bp-768-width) {
      display: none;
    }
    span {
      background: none;
      &:after {
        display: inline-block;
        color: inherit;
        content: "\e608";
        font-family: $ico-font;
        font-size: get-vw(14px, 1600);
        margin-left: get-vw(15px, 1600);
        position: relative;
        @include breakpoint($bp-min-1901-width) {
          font-size: 16.6px;
          margin-left: 17.8px;
        }
      }
    }
  }
  .description-block {
    color: black;
    font-family: $avalon-book;
    font-size: 20px;
    line-height: 1.4;
    margin-top: get-vw(50px, 1600);
    @include breakpoint($bp-min-1601-width) {
      font-size: get-vw(20px, 1600);
    }
    @include breakpoint($bp-min-1901-width) {
      font-size: 23.85px;
      margin-top: 59.4px;
    }
    @include breakpoint($between-769-1024) {
      font-size: get-vw(20px, 1024);
    }
    @include breakpoint($bp-768-width) {
      font-size: get-vw(29px, 768);
      margin-top: get-vw(80px, 768);
    }
    @include breakpoint($bp-640-width) {
      font-size: get-vw(29px, 640);
      margin-top: get-vw(80px, 640);
    }
  }
  .usa-providers {
    position: relative;
    text-align: center;
    .providers-row {
      display: block;
      position: relative;
      text-align: center;
      &:last-child {
        .providers-row-inner {
          border: none;
        }
      }
    }
    .providers-row-inner {
      @include clear();
      align-items: center;
      border-bottom: 2px solid;
      display: flex;
      justify-content: center;
      padding: get-vw(30px, 1600) get-vw(60px, 1600);
      position: relative;
      @include breakpoint($bp-min-1901-width) {
        padding: 35.625px 71.25px;
      }
      @include breakpoint($bp-768-width) {
        border: none;
        flex-wrap: wrap;
        padding: 0 get-vw(20px, 768);
        width: 100%;
      }
    }
    .provider {
      display: block;
      margin-right: get-vw(140px, 1600);
      position: relative;
      @include breakpoint($bp-min-1901-width) {
        margin-right: 166.25px;
      }
      @include breakpoint($bp-768-width) {
        margin: get-vw(45px, 768) 0;
        width: 50%;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        outline: none;
        position: relative;
        @include breakpoint($bp-min-769-width) {
          display: block;
          height: auto;
          width: auto;
        }
        img {
          max-height: get-vw(80px, 1600);
          @include breakpoint($bp-min-1901-width) {
            max-height: 95px;
          }
          @include breakpoint($bp-768-width) {
            max-height: get-vw(80px, 768);
          }
        }
      }
    }
  }
}
.series-recap-block {
  @include clear();
  background: $poll-back;
  border-bottom: 2px solid;
  overflow: hidden;
  padding: 50px 22px;
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1901-width) {
    padding: 70px 32px;
  }
  @include breakpoint ($bp-1024-width) {
    padding: 40px 22px;
  }
  @include breakpoint ($bp-640-width) {
    padding: 40px 12px;
  }
  .series-recap-video {
    height: auto;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      height: 1014.75px;
      max-width: 1804px;
      margin: 0 auto;
      padding-top: 0;
    }
    iframe {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  .series-recap-video-info {
    @include clear();
    margin-top: 30px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      max-width: 1804px;
      margin: 40px auto 0;
    }
    @include breakpoint ($bp-640-width) {
      margin-top: 20px;
      padding: 0 25px;
    }
    @include breakpoint ($bp-480-width) {
      padding: 0 15px;
    }
    .series-recap-video-meta {
      float: left;
      width: calc(100% - 220px);
      @include breakpoint($bp-min-1901-width) {
        width: calc(100% - 320px);
      }
      @include breakpoint ($bp-1024-width) {
        width: calc(100% - 180px);
      }
      @include breakpoint ($bp-640-width) {
        float: none;
        width: 100%;
      }
    }
    .video-description {
      color: $poll-color;
      font-family: $tex-gyreschola-italic;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        font-size: 30px;
        line-height: 36px;
      }
      @include breakpoint ($bp-1024-width) {
        font-size: 16px;
        line-height: 20px;
      }
      @include breakpoint ($bp-768-width) {
        font-size: 13px;
        line-height: 16px;
      }
      @include breakpoint ($bp-640-width) {
        font-size: 10px;
        line-height: 13px;
      }
    }
    .video-title {
      color: $poll-color;
      font-family: $avalon-medium;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        font-size: 48px;
        line-height: 56px;
      }
      @include breakpoint ($bp-1024-width) {
        font-size: 26px;
        line-height: 32px;
      }
      @include breakpoint ($bp-768-width) {
        font-size: 24px;
        line-height: 28px;
      }
      @include breakpoint ($bp-640-width) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .video-button {
      float: right;
      @include breakpoint ($bp-640-width) {
        float: none;
        margin-top: 15px;
        width: 180px;
      }
      a {
        color: #ffffff;
        display: block;
        font-family: $avalon-medium;
        font-size: 14px;
        line-height: 55px;
        padding: 0 35px 0 20px;
        position: relative;
        text-transform: uppercase;
        @include breakpoint($bp-min-1901-width) {
          font-size: 22px;
          line-height: 80px;
          padding: 0 50px 0 30px;
        }
        @include breakpoint ($bp-1024-width) {
          font-size: 13px;
          line-height: 50px;
          padding: 0 30px 0 15px;
        }
        @include breakpoint ($bp-640-width) {
          line-height: 35px;
        }
        &:after {
          color: #ffffff;
          content: "\e608";
          display: block;
          font-family: $ico-font;
          font-size: 12px;
          margin-top: -27px;
          right: 15px;
          position: absolute;
          top: 50%;
          @include breakpoint($bp-min-1901-width) {
            font-size: 16px;
            margin-top: -40px;
            right: 20px;
          }
          @include breakpoint ($bp-1024-width) {
            font-size: 10px;
            margin-top: -25px;
            right: 13px;
          }
          @include breakpoint ($bp-640-width) {
            margin-top: -17px;
          }
        }
      }
    }
  }
}

