#block-usanetwork-person-usanetwork-person-cast-lmb-block {
  @include clear();
  background: #ffffff;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  .cast-and-info-header-image {
    position: relative;
    width: 100%;
  }
  .cast-and-info-description {
    @include clear();
    min-height: 870px;
    padding: 40px 24px 40px 90px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      min-height: 890px;
      padding: 60px 32px 60px 150px;
    }
    .description {
      color: #000000;
      float: left;
      font-family: $avalon-book;
      font-size: 17px;
      width: 60%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 26px;
        line-height: 32px;
      }
      p {
        margin: 0.5em 0;
      }
    }
    .advert {
      display: block;
      float: right;
      height: 250px;
      width: 300px;
    }
    .back-image {
      bottom: 0;
      line-height: 1;
      max-height: 537px;
      max-width: 475px;
      position: absolute;
      right: 24px;
      width: 30%;
    }
  }
}
.cast-and-crew-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
}
