#block-usanetwork-episodes-usa-landing-tvep-list-block {
  @include clear();
  color: $poll-color;
  position: relative;
  width: 100%;
  .list-items {
    border-bottom: 2px solid #ffffff;
  }
  .episode-landing-list-item {
    @include clear();
    padding: 48px 32px 48px 32px;
    min-width: 400px;
    border-top: 2px solid #ffffff;
    @include breakpoint ($bp-1280-width) {
      padding: 30px 0 30px 32px;
    }
    @include breakpoint ($bp-1024-width) {
      padding: 24px 0 24px 20px;
    }
    @include breakpoint ($bp-768-width) {
      padding: 17px 0 17px 13px;
    }
    .left-item-block {
      float: left;
      width: 35.36%;
      margin-right: 1%;
      @include breakpoint ($bp-1280-width) {
        width: 36.8%;
      }
      @include breakpoint ($bp-768-width) {
        width: 50%;
      }
    }
    .right-item-block {
      float: right;
      width: 62.17%;
      font-family: $avalon-demi;
      line-height: 2em;
      @include breakpoint($bp-1280-width) {
        line-height: 1.5em;
        width: 61.8%;
      }
      @include breakpoint($bp-768-width) {
        width: 49%;
      }
      .series {
        font-size: 22.5px;
        line-height: 1em;
        @include breakpoint($bp-1280-width) {
          font-size: 15px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 12px;
        }
      }
      .title {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 4px;
        @include breakpoint($bp-1280-width) {
          font-size: 24px;
          margin: 0;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 20px;
        }
      }
      .airing-date,
      .expiration-date {
        font-family: $tex-gyreschola-italic;
        text-transform: uppercase;
        font-size: 18px;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
        }
      }
      .description {
        width: 76.86%;
        font-family: $avalon-book;
        font-size: 26px;
        line-height: 1.5;
        @include breakpoint($bp-1280-width) {
          font-size: 17px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: 14px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 13px;
        }
      }
    }
    .buttons-bar {
      float: right;
      width: 62.17%;
      @include clear();
      @include breakpoint($bp-1280-width) {
        width: 61.8%;
      }
      @include breakpoint($bp-768-width) {
        clear: both;
        float: none;
        padding-top: 20px;
        width: 100%;
      }
      .buttons {
        width: 60.4%;
        float: left;
        @include breakpoint($bp-1600-width) {
          width: 63%;
        }
        @include breakpoint($bp-768-width) {
          width: 50%;
        }
        > div {
          margin-right: 1%;
          position: relative;
          display: inline-block;
          width: 49.5%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: left;
          &:last-child {
            margin-right: 0;
          }
          @include breakpoint($bp-1024-width) {
            &:after {
              content: "\e608";
              color: #ffffff;
              font-family: "ico-font";
              font-size: 11px;
              display: block;
              position: absolute;
              right: 14px;
              top: 50%;
              margin-top: -5px;
              line-height: 1;
              z-index: 3;
            }
          }
          &:not(.full-episode-button) {
            background: $show-info-block;
          }
          a {
            color: #ffffff;
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            padding: 15px 0 15px calc(14% + 26px);
            position: relative;
            @include breakpoint($bp-min-1901-width) {
              padding: 15px 0 15px calc(14% + 40px);
            }
            @include breakpoint($bp-1600-width) {
              font-size: 16px;
            }
            @include breakpoint($bp-1280-width) {
              font-size: 13px;
              padding: 10px 0 10px calc(14% + 26px);
            }
            @include breakpoint($bp-1024-width) {
              font-size: 12px;
              padding: 5px 35px 5px 10px;
            }
            .font-icon {
              background: #ffffff;
              height: 26px;
              left: 7%;
              margin-top: -13px;
              width: 26px;
              @include breakpoint($bp-min-1901-width) {
                height: 40px;
                margin-top: -20px;
                width: 40px;
              }
              @include breakpoint($bp-1024-width) {
                display: none;
              }
              &:before {
                font-size: 14px;
                height: 26px;
                line-height: 26px;
                margin-top: -13px;
                width: 26px;
                @include breakpoint($bp-min-1901-width) {
                  font-size: 22px;
                  height: 40px;
                  line-height: 40px;
                  margin-top: -20px;
                  width: 40px;
                }
              }
            }
          }
        }
      }
      .links {
        float: right;
        width: 36%;
        > a {
          display: block;
          color: $poll-color;
          font-family: $tex-gyreschola-italic;
          text-transform: uppercase;
          text-align: right;
          font-size: 18px;
          position: relative;
          padding-right: 38px;
          letter-spacing: 1px;
          line-height: 1;
          &:first-child {
            margin-bottom: 28px;
          }
          @include breakpoint($bp-1280-width) {
            font-size: 15px;
            &:first-child {
              margin-bottom: 18px;
            }
          }
          @include breakpoint($bp-1024-width) {
            font-size: 11px;
            &:first-child {
              margin-bottom: 15px;
            }
          }
          &:after {
            content: "\e608";
            color: #545454;
            font-family: "ico-font";
            font-size: 13px;
            display: block;
            position: absolute;
            right: 16px;
            top: 0;
            z-index: 3;
            @include breakpoint($bp-1024-width) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .episode-landing-list-items-seasons {
    @include clear();
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      margin-bottom: 190px;
    }
  }
  .upper-bar {
    height: 90px;
    position: relative;
    width: 100%;
    h2 {
      color: $poll-color;
      font-family: $avalon-medium;
      font-size: 24px;
      line-height: 90px;
      margin: 0 0 0 35px;
      text-transform: uppercase;
    }
  }
  .item-filter {
    position: absolute;
    right: 20px;
    top: 23px;
    vertical-align: middle;
    width: 235px;
    &.open {
      .filter-label {
        border-color: transparent;
        background: $footer-back;
        &:after {
          content: "\e60a";
        }
      }
      .filter-menu {
        display: block;
      }
    }
    .filter-label {
      border: 1px solid $gray-light-gamma;
      cursor: pointer;
      font-size: 21px;
      font-family: $avalon-demi;
      line-height: 42px;
      text-align: left;
      overflow: hidden;
      position: relative;
      padding: 0 50px 0 20px;
      color: $gray-dark-darker;
      width: 235px;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      @include breakpoint($bp-1280-width) {
        font-size: 17px;
        line-height: 27px;
        border-bottom-width: 1px;
      }
      @include breakpoint($bp-480-width) {
        font-size: 12px;
        line-height: 22px;
      }
      &:after {
        content: "\e609";
        color: $poll-color;
        font-family: $ico-font;
        font-size: 16px;
        display: block;
        position: absolute;
        margin-right: -8px;
        right: 25px;
        top: 0;
        z-index: 3;
        @include breakpoint($bp-1280-width) {
          font-size: 12px;
          right: 17px;
        }
      }
    }
    .filter-menu {
      background: $footer-back;
      top: 1px;
      display: none;
      margin-top: 40px;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
      width: 100%;
      z-index: 2;
      @include breakpoint($bp-1280-width){
        margin-top: 29px;
      }
      @include breakpoint($bp-1280-width){
        margin-top: 24px;
      }
      li {
        overflow: hidden;
        position: relative;
        width: 100%;
        a {
          color: #ffffff;
          display: block;
          font-size: 20px;
          font-family: $avalon-demi;
          height: 100%;
          line-height: 22px;
          text-align: left;
          padding: 9px 20px;
          text-decoration: none;
          width: 100%;
          &:hover, &.active {
            color: $gray-dark-darker;
          }
          @include breakpoint($bp-1280-width){
            font-size: 17px;
            line-height: 12px;
          }
          @include breakpoint($bp-480-width){
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
}



