@import 'a-spot/extend';

.usa-tv-show {
  #main {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 304px;
    @include breakpoint($bp-show-mid-width) {
      width: 615px;
    }
    @include breakpoint($bp-show-large-width) {
      width: 930px;
    }
    @include breakpoint($bp-show-very-large-width) {
      width: 1245px;
    }
  }
  .a-spot {
    height: 250px;
    width: 300px;
    overflow: hidden;
    @include breakpoint($bp-grid-show-2-fence) {
      height: 350px;
      width: 615px;
    }
    @include breakpoint($bp-grid-show-3-fence) {
      width: 930px;
      height: 378px;
    }
    @include breakpoint($bp-grid-show-4) {
      height: 506px;
      width: 1245px;
    }
  }
}

.usa-adrails.usa-tv-show {
  #main {
    width: 930px;
  }
}

.usa-tv-show {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .panel-row {
    clear: both;
    margin-bottom: 0;
    .dart-tag {
      height: 250px;
      width: 300px;
    }
    &.a-spot-panel {
      margin-bottom: 20px;
    }
  }
  .panel-col1 {
    float: left;
  }
  .panel-col2 {
    float: right;
  }
  h2 {
    @extend %semi-18;
    margin-bottom: 2px;
    line-height: 1.5em;
    margin-top: 1px;
    @include breakpoint($bp-show-mid-width) {
      font-size: 26px;
    }
  }
  #utilities {
    .show-banner {
      .breadcrumb {
        margin-top: 0px;
        > a {
          line-height: 32px;
        }
      h1 {
          a {
            @extend %semi-headline;
            letter-spacing: normal;
            @include breakpoint($bp-on-now) {
              font-size: 24px;
            }
            font-size: 18px;
            line-height: 65px;
            color: $white;
            margin: 0px;
          }
        }
        h2 {
          line-height: 1;
          a {
            @extend %semi-headline;
            letter-spacing: normal;
            @include breakpoint($bp-on-now) {
              font-size: 24px;
              line-height: 32px;
            }
            font-size: 18px;
            line-height: 28px;
            color: $white;
            margin: 0px;
          }
        }
      }
      .titles-block {
        > h1 {
        font-size: 11px;
        color: #464646;
          margin-top: -9px;
          @include breakpoint($bp-on-now) {
          margin-top: -8px;
        }
      }
    }
  }
}
}

.promo-ads-panel {
  .expandable-content {
    position: relative;
    .ie9 &,
    .ie8 & {
      overflow: hidden;
    }
  }
  .panel-col2  {
    position: static;
    display: none;
    @include breakpoint($bp-show-mid-width) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.video-promo-ads-panel {
  .panel-col2 {
    height: 250px;
  }
}

.usa-adrails.usa-tv-show {
  .flexslider {
    width: 930px;
    height: 378px;
  }
}

.a-spot.flexslider {
  .flex-direction-nav {
    a {
      position: absolute;
      top: 46%;
    }
  }
  .flex-next,
  .flex-prev {
    @include opacity(0);
  }
  &:hover {
    .flex-next, .flex-prev {
      @include opacity(1);
    }
    .flex-next {
      right: 0px;
      left: auto;
    }
    .flex-prev {
      left: 0px;
    }
  }
}
