#block-usanetwork-tv-shows-usanetwork-tv-shows-mb {
  .show-all-shows-main-block {
    border-bottom: 2px solid $usa-logo-back;
  }
}
.content {
  .all-shows-landing-page-container {
    padding-top: 77px;
    @include breakpoint($bp-1280-width) {
      padding-top: 55px;
    }
    @include breakpoint($bp-1280-width) {
      padding-top: 42px;
    }
    .landing-items-blocks {
      border-bottom: 2px solid $usa-logo-back;
      margin-bottom: 0px;
    }
    .section-title {
      margin-bottom: 50px;
      @include breakpoint($bp-1280-width) {
        margin-bottom: 18px;
      }
      @include breakpoint($bp-640-width) {
        margin-bottom: 7px;
        text-align: left;
        padding-left: 22px;
      }
    }
    .upper-menu {
      background: none;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 45px;
      margin-top: 41px;
      @include breakpoint($bp-1280-width) {
        top: -6px;
      }
      @include breakpoint($bp-768-width) {
        padding-right: 20px;
      }
      @include breakpoint($bp-640-width) {
        padding-right: 10px;
      }
      .item-filter {
        &.sorter-items {
          width: 212px;
          @include breakpoint($bp-1280-width) {
            margin-top: 0;
            width: 180px;
          }
          @include breakpoint($bp-768-width) {
            width: 133px;
            margin: 0;
          }
          .filter-label {
            width: inherit;
            font-size: 21px;
            padding-left: 35px;
            color: $poll-color;
            @include breakpoint($bp-1280-width) {
              font-size: 18px;
              padding-left: 20px;
            }
            @include breakpoint($bp-768-width) {
              font-size: 15px;
              padding-left: 15px;
              padding-right: 30px;
              &:after {
                font-size: 13px;
                right: 20px;
              }
            }
          }
          .filter-menu {
            a {
              font-size: 21px;
              padding-left: 35px;
              @include breakpoint($bp-1280-width) {
                font-size: 18px;
                padding-left: 20px;
              }
              @include breakpoint($bp-768-width) {
                font-size: 15px;
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}
