.shows-block {
  background: $footer-links;
  padding: 40px 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
  .show-carousel {
    > ul {
      > li {
        > .node {
          &:before {
            left: auto;
            right: 0;
          }
        }
        img {
          &.desktop {
            -webkit-transition: all 0.5s ease-out 0.3s;
            -moz-transition: all 0.5s ease-out 0.3s;
            -o-transition: all 0.5s ease-out 0.3s;
            transition: all 0.5s ease-out 0.3s;
          }
          &.mobile {
            display: none;
          }
        }
      }
      > li.active {
        > .node {
          &:before {
            -webkit-box-shadows: -2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
            -moz-box-shadows: -2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
            -o-box-shadows: -2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
            box-shadow: -2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
            width: 18px;
            @include breakpoint($bp-min-1920-width) {
              width: 30px;
            }
            @include breakpoint($bp-768-width) {
              width: 30px;
            }
            @include breakpoint($bp-480-width) {
              width: 18px;
            }
          }
        }
      }
    }
    > ul:not(.stop) {
      > li:not(.active) {
        > .node {
          &:hover {
            @include breakpoint($bp-min-769-width) {
              &:before {
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
                width: 18px;
                @include breakpoint($bp-min-1920-width) {
                  width: 30px;
                }
              }
              .desktop {
                opacity:0.8;
                -moz-opacity:0.8;
                filter: alpha(opacity=80);
                -khtml-opacity: 0.8;
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -o-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
              }
            }
          }
          .show-open {
            @include breakpoint($bp-min-769-width) {
              &:hover {
                &:after {
                  border: 3px solid #ffffff;
                  border-radius: 50%;
                  display: block;
                  color: #ffffff;
                  content: 'open';
                  cursor: pointer;
                  font-family: $avalon-book;
                  font-size: 30px;
                  line-height: 120px;
                  height: 120px;
                  left: 50%;
                  margin-left: -69px;
                  margin-top: -60px;
                  position: absolute;
                  text-align: center;
                  text-transform: uppercase;
                  top: 50%;
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint($bp-1024-width) {
    padding: 40px;
  }
  @include breakpoint($bp-768-width) {
    padding: 37px 0px 0px 20px;
  }
  .carousel {
    .jcarousel-controls {
      @include breakpoint($bp-768-width) {
        display: none;
      }
    }
    &.start {
      margin-left: 365px;
      &:hover {
        .jcarousel-control-next {
          right: 305px;
          @include breakpoint($bp-1024-width) {
            right: 325px;
          }
        }
      }
    }
    ul {
      position: relative;
      li {
        float: left;
        height: 580px;
        margin: 0;
        max-width: 2183px;
        overflow: hidden;
        position: relative;
        width: 270px;
        @include breakpoint($bp-min-1920-width) {
          height: 973px;
          width: 453px;
        }
        @include breakpoint($bp-1024-width) {
          height: 734px;
          width: 342px;
        }
        @include breakpoint($bp-768-width) {
          height: 120.3vw;
          width: 56vw;
        }
        &.active {
          .show-info-block {
            display: block;
          }
          a {
            &.close-button {
              display: block;
            }
          }
        }
        a {
          &.show-open {
            background-color: #000000;
            height: 100%;
            max-width: 270px;
            overflow: hidden;
            position: relative;
            width: 100%;
          }
          @include breakpoint($bp-min-1920-width) {
            max-width: 453px;
          }
          @include breakpoint($between-769-1024) {
            max-width: 342px;
          }
          &.close-button {
            display: none;
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 18px;
            z-index: 3;
            @include breakpoint($bp-min-1920-width) {
              width: 30px;
            }
            @include breakpoint($bp-768-width) {
              width: 30px;
            }
            @include breakpoint($bp-480-width) {
              width: 18px;
            }
            &:after {
              color: #ffffff;
              content: "\e607";
              display: block;
              font-family: $ico-font;
              font-size: 14px;
              margin-right: -7px;
              margin-top: -7px;
              position: absolute;
              right: 50%;
              top: 50%;
            }
          }
        }
        .meta-wrapper {
          background: none;
          bottom: 0;
          height: 18%;
          position: absolute;
          width: 100%;
          z-index: 1;
          @include breakpoint($bp-768-width) {
            height: 25%;
          }
        }
        .meta-wrapper-inner {
          display: table;
          height: 100%;
          width: 100%;
        }
        .meta-back {
          background: #000000;
          bottom: 0;
          height: 100%;
          opacity: 0.6;
          overflow: hidden;
          position: absolute;
          width: 100%;
        }
        @extend %meta;
        .meta {
          display: table-cell;
          overflow: hidden;
          max-width: 270px;
          padding-left: 20px;
          position: relative;
          vertical-align: middle;
          width: 100%;
          @include breakpoint($bp-min-1920-width) {
            max-width: 453px;
          }
          @include breakpoint($bp-1024-width) {
            max-width: 342px;
          }
          @include breakpoint($bp-768-width) {
            max-width: 56vw;
          }
          @include breakpoint($bp-480-width) {
            margin-top: -18px;
            padding-left: 10px;
          }
          .title {
            font-size: 20px;
            line-height: 28px;
            margin-left: 10%;
            margin-right: 40px;
            @include breakpoint($bp-480-width) {
              font-size: 18px;
              line-height: 24px;
            }
          }
          .additional {
            font-size: 12px;
            margin-left: 10%;
            margin-right: 40px;
            @include breakpoint($bp-480-width) {
              font-size: 10px;
            }
            span {
              font-size: 12px;
              @include breakpoint($bp-480-width) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  .carousel-description-item {
    left: -300px;
    width: 300px;
    .caption, .additional-text {
      clear: both;
      color: $poll-color;
      font-family: $tex-gyreschola-italic;
      font-size: 20px;
      text-align: right;
      text-transform: uppercase;
    }
    .title {
      color: $poll-color;
      float: right;
      font-family: $avalon-demi;
      font-size: 45px;
      line-height: 50px;
      margin: 60px 0px;
      max-width: 265px;
      text-align: right;
      text-transform: uppercase;
    }
  }
  @include breakpoint($bp-768-width) {
    .show-carousel {
      margin-left: 0px;
      margin-bottom: 0px;
      margin-top: 20px;
      padding-left: 0;
      &.start {
        margin-left: 0px;
      }
      > ul {
        > li {
          img {
            width: 100%;
          }
          .meta-back {
            margin-left: 0px;
          }
          .meta {
            > div {
              margin-left: 0px;
            }
          }
        }
      }
    }
    .carousel-description-item {
      margin-bottom: 30px;
      left: 0px;
      position: relative;
      top: 0;
      width: 100%;
      &.start {
        left: 0px;
      }
      .description-wrapper {
        display: block;
        float: none;
        width: 100%;
      }
      .description-block {
        display: block;
      }
      .caption, .title, .additional-text {
        font-size: 16px;
        text-align: left;
      }
      .title {
        float: none;
        font-size: 30px;
        line-height: 35px;
        margin: 10px 0;
        max-width: 200px;
      }
    }
  }
  .show-info-block {
    background: $show-info-block;
    display: none;
    left: 270px;
    height: 100%;
    position: absolute;
    top: 0px;
    width: auto;
    z-index: 1; //temp value
    @include breakpoint($bp-min-1920-width) {
      left: 453px;
      min-width: 1730px;
      width: calc(100% - 453px);
    }
    @include breakpoint($between-1025-1280) {
      min-width: 670px;
      width: calc(100% - #{$show-carousel-item-width});
    }
    @include breakpoint($bp-1024-width) {
      left: 342px;
      min-width: 670px;
      width: calc(100% - #{$show-carousel-item-width-less-1024});
    }
    @include breakpoint($bp-768-width) {
      left: calc(56vw - 15px);
      min-width: 240px;
      width: calc(100% - 56vw - 15px);
    }
    @include breakpoint($bp-480-width) {
      width: calc(100% - 56vw - 3px);
    }
    .show-link {
      right: 40px;
      position: absolute;
      top: 25px;
      @include breakpoint($bp-min-1920-width) {
        right: 60px;
        top: 65px;
      }
      @include breakpoint($bp-768-width) {
        right: 20px;
      }
      a {
        display: block;
        font-family: $avalon-demi;
        color: #fff;
        line-height: 16px;
        padding: 10px 25px 10px 10px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        @include breakpoint($bp-min-1920-width) {
          font-size: 20px;
          line-height: 20px;
          padding: 12px 30px 12px 12px;
        }
        @include breakpoint($bp-480-width) {
          line-height: 10px;
          padding: 8px 20px 8px 8px;
          font-size: 10px;
        }
        &:after {
          color: #ffffff;
          content: "\e608";
          display: block;
          font-family: $ico-font;
          font-size: 12px;
          position: absolute;
          margin-top: -8px;
          right: 10px;
          top: 50%;
          @include breakpoint($bp-min-1920-width) {
            font-size: 14px;
            margin-top: -11px;
          }
          @include breakpoint($bp-480-width) {
            font-size: 8px;
            margin-top: -5px;
            right: 6px
          }
        }
      }
    }
    .social-icons {
      background: rgba(0, 0, 0, 0.5);
      -webkit-box-shadows: 2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
      -moz-box-shadows: 2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
      -o-box-shadows: 2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
      box-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.35);
      display: none;
      position: absolute;
      height: 100%;
      left: -50px;
      padding-top: 90px;
      top: 0px;
      width: 50px;
      @include breakpoint($bp-min-1920-width) {
        left: -90px;
        width: 90px;
      }
      @include breakpoint($bp-768-width) {
        display: none!important;
      }
      a {
        display: block;
        margin: 0px 0px 20px 10px;
        opacity: 0.6;
        @include breakpoint($bp-1024-width) {
          margin-right: 15px;
        }
        &:hover {
          opacity: 0.3;
        }
        &.facebook {
          @include sprite-background(fb-icon-header);
        }
        &.twitter {
          @include sprite-background(twitter-icon-header);
        }
        &.instagram {
          @include sprite-background(insta-icon-header);
        }
        &.pinterest {
          @include sprite-background(pinterest-icon-header);
        }
        &.youtube {
          @include sprite-background(youtube-icon-header);
        }
        &.googleplus {
          @include sprite-background(gplus-icon-header);
        }
      }
    }
    .show-info-block-wrapper {
      box-shadow: inset 45px 0px 60px -8px rgba(1, 1, 1, 0.2), inset -45px 0px 60px -8px rgba(1, 1, 1, 0.2);
      height: 100%;
      padding: 20px 40px;
      text-transform: uppercase;
      width: 100%;
      @include breakpoint($bp-min-1920-width) {
        padding: 60px;
      }
      @include breakpoint($bp-1280-width) {
        padding: 20px 40px 20px 20px;
      }
      @include breakpoint($bp-768-width) {
        padding: 70px 20px 20px;
      }
    }

    .show-top-info {
      @include clear();
      margin-right: 130px;
      @include breakpoint($bp-min-1920-width) {
        margin-bottom: 10px;
      }
      @include breakpoint($bp-768-width) {
        position: absolute;
        height: 50px;
        top: 13px;
      }
      .schedule {
        float: left;
        @include breakpoint($bp-480-width) {
          display: table;
          position: relative;
          height: 100%;
        }
        .title {
          color: #ffffff;
          float: left;
          font-family: $avalon-demi;
          font-size: 24px;
          letter-spacing: 3px;
          line-height: 50px;
          margin-right: 27px;
          text-transform: uppercase;
          @include breakpoint($bp-min-1920-width) {
            font-size: 32px;
          }
          @include breakpoint($bp-480-width) {
            display: table-cell;
            font-size: 16px;
            float: none;
            line-height: 20px;
            margin: 0;
            position: relative;
            vertical-align: middle;
          }
        }
        .time {
          float: left;
          color: #ffffff;
          font-family: $avalon-demi;
          font-size: 12px;
          line-height: 18px;
          margin-top: 12px;
          text-transform: uppercase;
          span {
            display: block;
            font-family: $tex-gyreschola-italic
          }
        }
      }
    }

    .show-central-info {
      float: left;
      height: 250px;
      overflow: hidden;
      position: relative;
      @include breakpoint($bp-min-1920-width) {
        height: 378px;
        margin-bottom: 75px;
      }
      @include breakpoint($between-1025-1280) {
        width: 76%;
      }
      @include breakpoint($bp-1024-width) {
        float: none;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 100%;
      }
      @include breakpoint($bp-768-width) {
        float: left;
        height: 30.6%;
        margin: 0;
        width: 49%;
      }
      .node-wrapper {
        float: left;
      }
      .promo {
        height: 250px;
        position: relative;
        margin-right: 40px;
        width: 460px;
        @include breakpoint($bp-min-1920-width) {
          height: 378px;
          width: 689px;
        }
        @include breakpoint($between-1025-1280) {
          float: none;
          padding-right: 360px;
          width: 100%;
        }
        @include breakpoint($bp-1024-width) {
          margin-right: 0px;
          width: 300px;
        }
        @include breakpoint($bp-768-width) {
          height: 100%;
          margin: 0;
          width: 100%;
        }
        .node {
          height: 100%;
          overflow: hidden;
          position: relative;
          & a {
            display: block;
            color: #ffffff;
            height: 100%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
            .meta-back {
              background: #000000;
              bottom: 0px;
              left: 0;
              height: 33%;
              opacity: 0.6;
              position: absolute;
              width: 100%;
              @include breakpoint($bp-1280-width) {
                height: 81px;
              }
            }
            .meta-wrapper {
              bottom: 0px;
              height: 33%;
              position: absolute;
              width: 100%;
              &:after {
                display: none;
              }
              @include breakpoint($bp-1280-width) {
                height: 81px;
              }
              .meta-icon {
                position: absolute;
                margin-top: -18.5px;
                margin-left: -18.5px;
                top: 50%;
                left: 40px;
              }
              @extend %meta;
              .meta {
                margin-top: -21px;
                margin-left: 70px;
                padding-left: 0px;
                position: absolute;
                top: 50%;
                width: 100%;
                &:after {
                  display: none;
                }
                .title {
                  font-size: 20px;
                  line-height: 26px;
                  margin-left: 0;
                }
                .additional {
                  font-size: 12px;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
      .advert {
        height: 250px;
        margin-right: 40px;
        width: 300px;
        @include breakpoint($bp-min-1920-width) {
          display: none;
          height: 315px;
          width: 378px;
        }
        @include breakpoint($between-1025-1280) {
          margin-right: 0px;
          right: 30px;
          position: absolute;
          top: 0;
        }
        @include breakpoint($bp-1024-width) {
          float: right;
          margin-right: 0px;
        }
        @include breakpoint($bp-768-width) {
          display: none;
        }
        .advertisement {
          & a {
            display: block;
            height: 100%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }

          }
        }
      }
    }
    .show-description {
      float: right;
      @include breakpoint($bp-min-1920-width) {
        height: 378px;
        width: 387px;
      }
      @include breakpoint($between-1025-1280) {
        width: 24%;
      }
      @include breakpoint($bp-1024-width) {
        float: left;
        padding-right: 8.5px;
        width: calc(100% - 427px);
      }
      @include breakpoint($bp-768-width) {
        float: right;
        height: 30.6%;
        margin: 0;
        padding-right: 0px;
        width: 49%;
      }
      .node {
        background-color: $poll-back;
        text-align: center;
        position: relative;
        height: 250px;
        width: 260px;
        @include breakpoint($bp-min-1920-width) {
          height: 378px;
          width: 387px;
        }
        @include breakpoint($between-1025-1280) {
          width: 100%;
        }
        @include breakpoint($bp-1024-width) {
          height: 355px;
          width: 100%;
        }
        @include breakpoint($bp-768-width) {
          height: 100%;
          width: 100%;
        }
        & a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
          .meta-wrap {
            background: none;
            bottom: auto;
            color: $poll-color;
            height: 100%;
            margin-left: 10px;
            position: absolute;
            text-transform: uppercase;
            .meta {
              color: $poll-color;
              height: auto;
              left: -10px;
              overflow: hidden;
              position: relative;
              margin: 0 auto;
              top: auto;
              width: 85%;
              &:after {
                display: none;
              }
            }
            .time, .meta-additional {
              font-family: $tex-gyreschola-italic;
              font-size: 12px;
              line-height: 35px;
            }
            .meta-social-title {
              font-family: $avalon-demi;
              font-size: 20px;
              line-height: 20px;
            }
            .meta-text {
              font-family: $avalon-medium;
              font-size: 15px;
            }

          }
        }
      }
    }
    .show-bottom-info {
      @include clear();
      clear: both;
      height: auto;
      position: relative;
      margin-top: 20px;
      @include breakpoint($bp-1024-width) {
        clear: none;
        float: right;
        height: 355px;
        margin-top: 0px;
        overflow: hidden;
        width: 427px;
      }
      @include breakpoint($bp-768-width) {
        float: none;
        height: 69.4%;
        width: 100%;
      }
      ul {
        width: 100%;
        @include breakpoint($bp-1024-width) {
          height: 100%;
        }
        @include breakpoint($bp-768-width) {
          padding-left: 0px;
        }
        li {
          height: 217px;
          margin: 20px 20px 20px 0px;
          overflow: visible;
          width: 260px;
          @include breakpoint($bp-min-1920-width) {
            height: 320px;
            margin: 20px 26px 20px 0px;
            width: 383px;
          }
          @include breakpoint($between-1025-1280) {
            margin-right: 1.33%;
            width: 24%;
            &:last-child {
              margin-right: 0;
            }
          }
          @include breakpoint($bp-1024-width) {
            float: left;
            height: 48%;
            margin: 0px 2% 0px 0px;
            width: 49%;
            &:nth-child(2), &:nth-child(4) {
              margin-right: 0;
            }
            &:nth-child(1), &:nth-child(1) {
              margin-bottom: 4%;
            }
          }
          @include breakpoint($bp-768-width) {
            height: 44.1%;
            margin-bottom: 0px!important;
            margin-top: 6%;
          }
          &.last-full-video {
            .meta-back {
              height: 81px;
            }
            .meta-wrapper {
              bottom: 0px;
              height: 81px;
              position: absolute;
              width: 100%;
            }
            .meta-icon {
              position: absolute;
              margin-top: -18.5px;
              margin-left: -18.5px;
              top: 50%;
              left: 40px;
            }
            @extend %meta;
            .meta {
              margin-top: -21px;
              margin-left: 70px;
              padding-left: 0px;
              position: absolute;
              top: 50%;
              width: 100%;
              &:after {
                display: none;
              }
              .caption {
                font-size: 20px;
                line-height: 26px;
              }
              .additional {
                font-size: 12px;
              }
            }
          }
          &.social-item {
            background-color: $poll-back;
            text-align: center;
            position: relative;
            height: 250px;
            width: 300px;
            & a {
              display: block;
              height: 100%;
              text-decoration: none;
              width: 100%;
              .meta-wrap {
                background: none;
                bottom: auto;
                height: 100%;
                margin-left: 10px;
                position: absolute;
                text-transform: uppercase;
                .meta {
                  color: $poll-color;
                  height: auto;
                  left: -10px;
                  overflow: hidden;
                  position: relative;
                  margin: 0 auto;
                  top: auto;
                  width: 85%;
                  &:after {
                    display: none;
                  }
                }
                .time, .meta-additional {
                  font-family: $tex-gyreschola-italic;
                  font-size: 12px;
                  line-height: 35px;
                }
                .meta-social-title {
                  font-family: $avalon-demi;
                  font-size: 20px;
                  line-height: 20px;
                }
                .meta-text {
                  font-family: $avalon-medium;
                  font-size: 15px;
                }

              }
            }
          }
          &:last-child {
            @include breakpoint($bp-min-1281-width) {
              margin-right: 0px;
            }
          }
          h3 {
            left: 0;
            color: #545454;
            font-family: $tex-gyreschola-italic;
            font-size: 12px;
            position: absolute;
            text-transform: uppercase;
            top: -20px;
            z-index: 1;
            @include breakpoint($bp-768-width) {
              color: #ffffff;
            }
          }
          .meta-wrap {
            background: $social-twitter-back;
            bottom: 0;
            height: 69px;
            position: absolute;
            width: 100%;
            @include breakpoint($bp-1280-width) {
              height: 82px;
            }
          }
          @extend %meta;
          .meta {
            left: 0px;
            margin-top: -19px;
            position: absolute;
            top: 50%;
            .title, .additional {
              font-size: 12px;
              line-height: 38px;
              margin-left: 45px;
            }
            &:after {
              display: none;
            }
            .meta-icon {
              &:before {
                top: 0px;
              }
            }
          }
        }
      }
    }
  }
}

.show-title-block-wrapper {
  border: 0;
  @include breakpoint($bp-768-width) {
    display: none;
  }
  &.fixed {
    border-bottom: 1px solid;
  }
}

.show-title-block {
  height: 67px;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include breakpoint($bp-1024-width) {
    height: 50px;
  }
  @include breakpoint($bp-768-width) {
    text-align: center;
  }
  .menu-open {
    border-right: 1px solid transparent;
    float: left;
    height: 67px;
    position: relative;
    width: 65px;
    @include breakpoint($bp-1024-width) {
      height: 50px;
      width: 50px;
    }
    @include breakpoint($bp-768-width) {
      display: none;
    }
    &.active {
      background: $bottom-footer-back;
      border-color: transparent !important;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      &.active {
        &:after {
          @include sprite-background(x-icon);
          margin-left: -10px;
          margin-top: -10px;
          @include breakpoint($bp-1024-width) {
            margin-top: -10px;
            margin-left: -11px;
          }
        }
      }
      &:after {
        content: '';
        display: block;
        left: 50%;
        margin-top: -8px;
        margin-left: -13px;
        position: absolute;
        top: 50%;
        @include sprite-background(menu-icon);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(menu-icon-small);
          margin-top: -6px;
          margin-left: -12px;

        }
      }
    }
  }
  .schedule {
    float: left;
    margin-left: 40px;
    @include breakpoint($bp-1024-width) {
      margin-left: 20px;
    }
    h1 {
      color: #ffffff;
      float: left;
      font-family: $avalon-demi;
      font-size: 24px;
      letter-spacing: 3px;
      line-height: 67px;
      margin: 0;
      margin-right: 27px;
      text-transform: uppercase;
      @include breakpoint($bp-1024-width) {
        line-height: 50px;
      }
    }
    .time {
      float: left;
      color: #ffffff;
      font-family: $avalon-demi;
      font-size: 12px;
      line-height: 18px;
      margin-top: 16px;
      text-transform: uppercase;
      @include breakpoint($bp-1024-width) {
        margin-top: 8px;
      }
      @include breakpoint($bp-768-width) {
        display: none;
      }
      span {
        display: block;
        font-family: $tex-gyreschola-italic;
      }
    }
  }
  .social-icons {
    float: right;
    margin-top: 21px;
    @include breakpoint($bp-1024-width) {
      margin-top: 15px;
    }
    @include breakpoint($bp-768-width) {
      display: none;
    }
    a {
      float: left;
      display: block;
      margin-right: 40px;
      opacity: 0.6;
      @include breakpoint($bp-1024-width) {
        margin-right: 15px;
      }
      &:hover {
        opacity: 0.3;
      }
      &.facebook {
        @include sprite-background(fb-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(fb-icon-header-small);
        }
      }
      &.twitter {
        @include sprite-background(twitter-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(twitter-icon-header-small);
        }
      }
      &.instagram {
        @include sprite-background(insta-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(insta-icon-header-small);
        }
      }
      &.pinterest {
        @include sprite-background(pinterest-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(pinterest-icon-header-small);
        }
      }
      &.youtube {
        @include sprite-background(youtube-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(youtube-icon-header-small);
        }
      }
      &.googleplus {
        @include sprite-background(gplus-icon-header);
        @include breakpoint($bp-1024-width) {
          @include sprite-background(gplus-icon-header-small);
        }
      }
    }
  }
}

.show-menu-tab {
  @include clear();
  background: $bottom-footer-back;
  display: none;
  height: 190px;
  padding: 20px 40px;
  position: relative;
  width: 100%;
  &.fixed {
    top: 67px;
    @include breakpoint($bp-1024-width) {
      top: 50px;
    }
  }
  &.active {
    display: block;
    @include breakpoint($bp-768-width) {
      display: none;
    }
  }
  .show-menu {
    display: table;
    height: 100%;
    padding-left: 30px;
    position: relative;
    width: 70%;
    > li {
      display: table-cell;
      height: 30px;
      > .menu {
        list-style: none;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        -ms-column-gap: 2em;
        -o-column-gap: 2em;
        column-gap: 2em;
        display: none;
        left: 30px;
        padding: 15px;
        position: absolute;
        top: 30px;
        width: 100%;
        a {
          color: #ffffff;
          font-size: 12px;
          font-family: $avalon-medium;
          letter-spacing: 0.5px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.active {
        > .menu {
          display: block;
        }
      }
      > a {
        color: #ffffff;
        display: block;
        font-family: $avalon-medium;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover, &.active {
          background: $header-tab-back-hover;
        }
      }
    }
  }
}
