.show-latest-block {
  @include clear();
  background: $footer-links;
  border-bottom: 2px solid;
  margin-bottom: 100px;
  padding: 40px 16px;
  position: relative;
  width: 100%;
  ul {
    @include clear();
    margin: 40px 0 0;
    padding: 0;
    position: relative;
    width: 100%;
    &.odd {
      li {
        &.first {
          > div {
            height: 25.4vw;
            margin-bottom: 1.47vw;
            @include breakpoint($bp-640-width) {
              height: 36.6vw;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &.last {
          > div {
            height: 25.4vw;
            margin-bottom: 1.47vw;
            @include breakpoint($bp-640-width) {
              height: 36.6vw;
            }
            &:last-child {
              height: 52.27vw;
              margin-bottom: 0;
              @include breakpoint($bp-640-width) {
                height: 74.67vw;
              }
            }
          }
        }
      }
    }
    &.even {
      li {
        &.first {
          > div {
            height: 25.4vw;
            margin-bottom: 0;
            @include breakpoint($bp-640-width) {
              height: 36.6vw;
            }
            &:first-child {
              height: 52.27vw;
              margin-bottom: 1.47vw;
              @include breakpoint($bp-640-width) {
                height: 74.67vw;
              }
            }
          }
        }
        &.last {
          > div {
            height: 25.4vw;
            margin-bottom: 1.47vw;
            @include breakpoint($bp-640-width) {
              height: 36.6vw;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    li {
      float: left;
      height: auto;
      overflow: hidden;
      position: relative;
      width: 49.2%;
      @extend %show-latest-promo;
      @extend %meta;
      > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
      }
      &:nth-child(2), .last {
        float: right;
      }
    }
  }
}
