#block-usanetwork-person-usanetwork-person-cast-lmb-block {
  @include clear();
  background: #ffffff;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  .cast-and-info-header-image {
    position: relative;
    width: 100%;
  }
  .cast-and-info-description {
    @include clear();
    min-height: 870px;
    padding: 40px 24px 40px 90px;
    position: relative;
    width: 100%;
    @include breakpoint($bp-min-1901-width) {
      min-height: 890px;
      padding: 60px 32px 60px 150px;
    }
    .description {
      color: #000000;
      float: left;
      font-family: $avalon-book;
      font-size: 17px;
      width: 60%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 26px;
        line-height: 32px;
      }
      p {
        margin: 0.5em 0;
      }
    }
    .advert {
      display: block;
      float: right;
      height: 250px;
      width: 300px;
    }
    .back-image {
      bottom: 0;
      line-height: 1;
      max-height: 537px;
      max-width: 475px;
      position: absolute;
      right: 24px;
      width: 30%;
    }
  }
}
.cast-and-crew-block {
  @include clear();
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 77px 59px 34px 66px;
  box-sizing: border-box;
  @include breakpoint ($bp-1280-width) {
    padding: 49px 42px;
  }
  @include breakpoint ($bp-1024-width) {
    padding: 32px 39px;
  }
  @include breakpoint ($bp-768-width) {
    padding: 24px 28px;
  }
  @include breakpoint ($bp-640-width) {
    padding: 47px 11px;
  }
  .block-item {
    @extend %cast-promo;
    float: left;
    height: 20.3vw;
    margin-bottom: 2.3vw;
    position: relative;
    width: 23.2%;
    margin-right: 2.3%;
    @include breakpoint ($bp-640-width) {
      width: 48.7%;
      height: 45.3vw;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include breakpoint ($bp-480-width) {
      width: 100%;
      height: 85vw;
      margin-right: 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }

  }
}
