%social-sidebar-header {
  margin: 0;
  text-align: center;
  border-bottom: 1px solid $gray-med;
  padding: 14px 15px;
}

%social-header-text {
  @extend %regular-24;
  font-weight: normal;
  color: $white;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: lowercase;
}



body.usa-social {
  overflow-x: hidden;
}

.icons-social a {
  color: $black-dark;
  background-color: $gray-light;
  @extend %usanetwork-font;
  font-size: 1.5em;
  @include border-radius(50%);
  padding: 4px 3px 3px;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 5px;
  .ie9 &, .ie8 & {
    &.usasocial-fb {
      @extend .icons-facebook-v6;
      text-indent:9999px;
      vertical-align:top;
      &:hover {
         @extend .icons-facebook-hover-v6;
      }
    }
    &.show-twitter.usasocial-twitter {
        @include replace-text-with-dimensions('icons/follow-twitter-v2.png');
        width:image-width('icons/follow-twitter-v2.png');
        height:image-height('icons/follow-twitter-v2.png');
        display:inline-block !important;
        text-indent:9999px;
      &:hover {
        @include replace-text-with-dimensions('icons/follow-twitter-hover-v2.png');
        display:inline-block !important;
        text-indent:9999px;
      }
    }
    &.person-twitter.usasocial-twitter {
        @extend .icons-follow-twitter-v2;
        width:image-width('icons/follow-twitter-v2.png');
        height:image-height('icons/follow-twitter-v2.png');
        display:inline-block !important;
        text-indent:9999px;
        background-color:transparent;
      &:hover {
        @extend .icons-follow-twitter-hover-v2;
        display:inline-block !important;
        text-indent:9999px;
      }
    }
    &.usasocial-facebook {
        @include replace-text-with-dimensions('icons/follow-facebook-v2.png');
        width: 9px;
        height: 18px;
        display:inline-block !important;
        text-indent:9999px;
      &:hover {
        @include replace-text-with-dimensions('icons/follow-facebook-hover-v2.png');
        display:inline-block !important;
        text-indent:9999px;
      }
    }
    &.usasocial-pinterest {
      @extend .icons-pinterest-v2;
      width: 18px;
      height: 18px;
      display:inline-block !important;
      text-indent:9999px;
      vertical-align:top;
      background-color:transparent !important;
      &:hover {
        @extend .icons-pinterest-hover-v2;
        display:inline-block !important;
        text-indent:9999px;
      }
    }
    &.usasocial-tumblr {
      @extend .icons-tumblr-v2;
      width: 12px;
      height: 18px;
      display:inline-block !important;
      vertical-align:top;
      text-indent:9999px;
      &:hover {
        @extend .icons-tumblr-hover-v2;
        display:inline-block !important;
        text-indent:9999px;
      }
    }
  }
  &:hover {
    background-color: $white;
  }
  &.usasocial-fb {
    padding-left:8px;
  }
}

#block-usanetwork-social-usa-show-social-tab-nav {
  @include breakpoint($bp-social-mid-width) {
    font-size: 20px;
  }
  &.open .menu-label {
    color: $gray-extra-light;
  }
  .menu-label {
    @extend %secondary-menu-label;
  }
  a {
    border-top: 1px solid $gray-light;
    color: $gray-extra-light;
    &.active {
      color: $white;
    }
    @include breakpoint($bp-social-mid-width) {
      @include secondary-menu-wide($secondary-menu-bg);
    }
  }
}


.usa-social {
  #main {
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    @include breakpoint($bp-social-small-width) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include breakpoint($bp-social-xtra-large-width) {
      width: auto;
      clear: both;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .tabs {
    display: none; /* need to ask vino about this */
    .secondary {
      display: none;
    }
  }
  li {
    list-style: none;
  }
  #content {
    @extend %two-to-one-col-social-content-no-sidebar;
  }
  .sidebar {
    @extend %two-to-one-col-social-sidebar;
  }
}

.usa-social.one-sidebar {
  #content {
    @extend %two-to-one-col-social-content-sidebar;
  }
}

.social-follow-block {
  background-color: $black-into-gray;
  border: 1px solid $gray-med;
  margin-bottom: 20px;
  h2 {
    @extend %social-sidebar-header;
    @extend %social-header-text;
    border: 0;
    padding: 16px 12px 11px 8px;
    @include background(linear-gradient(center top , $black-true, $gray-dark));
    text-transform:none;
  }
  ul {
    margin: 0;
  }
  ul li {
    font-size: 0;
    overflow: hidden;
    padding: 10px 0 10px 54px;
    margin: 0;
    border-top: 1px solid $gray-ultra-med;
    figure {
      display: inline-block;
      margin-left: -42px;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
  }
  .item-content {
    display: inline-block;
    margin-right: -145px;
    overflow: hidden;
    padding-right: 145px;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    .title {
      line-height: 1em;
      @extend %regular-14;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      > div {
        margin: 4px 0 0 11px;
      }
      h2,
      h4,
      .field-name-field-usa-actor-name {
        @extend %regular-14;
        color: $white;
        text-transform: none;
        font-weight: normal;
      }
      .field-name-field-role {
        font-style: italic;
        color: $beige;
        font-weight: normal;
      }
    }
    a {
      color:$white;
    }
  }
  .icons-social {
    font-size: 14px;
    display: inline-block;
    margin-right: -130px;
    overflow: hidden;
    vertical-align: middle;
    width: 130px;
    a {
      @extend %usanetwork-font;
      background-color: transparent;
      color: $gray-light;
      float: right;
      margin-left: 7px;
      width: 19px;
      height: 21px;
      padding:0;
      font-size: 1.4em;
      .ie9 &, .ie8 & {
        text-indent: 9999px;
        @include border-radius(0);
        height: 18px;
        width: 9px;
        margin-right: 5px;
      }
      &:hover {
        color: $blue;
      }
    }
    .usasocial-pinterest {
        background-color: $gray-light;
        color: $gray-med-dark;
        padding-top: 3px;
        width: 21px;
        .ie9 &, .ie8 &{
          @extend .icons-pinterest-v2;
          width: 20px;
          height: 20px;
          padding-top: 0;
          background-color: transparent;
          &:hover {
            @extend .icons-pinterest-hover-v2;
          }
        }
        &:hover {
          background-color: $blue;
          color: $gray-med-dark;
        }
    }
    .usasocial-fb {
      margin-left:3px;
      .ie9 &, .ie8 & {
         @extend .icons-follow-facebook-v2;
         &:hover {
          @extend .icons-follow-facebook-hover-v2;
         }
      }
    }
    .usasocial-twitter {
      .ie9 &, .ie8 & {
       @extend .icons-follow-twitter-v2;
        width: 22px;
        &:hover {
          @extend .icons-follow-twitter-hover-v2;
        }
      }
    }
    .usasocial-tumblr {
      .ie9 &, .ie8 & {
        @extend .icons-tumblr-v2;
        width: 12px;
        &:hover {
          @extend .icons-tumblr-hover-v2;
        }
      }
    }
  }
  .attachment-after .view-usa-shows.view-display-id-attachment_1,
  .attachment-after .view-usa-cast.view-display-id-attachment_2 {
    .view-footer {
      position: relative;
      border-top: 1px solid $gray-ultra-med;
      @extend %regular-24;
      padding: 10px 15px 7px 10px;
      text-transform: lowercase;
      cursor: pointer;
      text-align: center;
      &:after {
        @include cssTriangle(6px, $white, top);
        right: 40px;
        position: absolute;
        top: 18px;
      }
      &.open {
        &:after {
          @include cssTriangle(6px, $white, bottom);
          right: 40px;
          position: absolute;
          top: 14px;
        }
      }
      &::first-letter {
        text-transform:capitalize;
      }
    }
    .view-content {
      display: none;

    }
  }
}



/* lyris */

.lyris  {
  background-color: $black-into-gray;
  margin-bottom: 15px;
  border: 1px solid $gray-med;
  .pane-content {
    padding: 19px 15px;
    border-top: 1px solid $black-dark;
    @extend .clearfix;
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  .form-submit {
    @extend %regular-14;
    float: right;
    background-color: $gray-light;
    height: 2.5714em;
    border: 0;
    width: 60px;
    padding-left:0;
    padding-right: 0;
    text-align: center;
    padding-top: 2px;
    line-height: 2.5714em;
  }
  .form-item-email {
    float: left;
    width: 204px;
    margin: 0;
    input {
      margin: 0;
      @extend %regular;
    }
  }
  .error {
    color: $red;
    font-size: 12px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .success {
    padding-left: 8px;
    display: block;
  }
  em {
    font-style: normal;
  }
}

#lyris  {
  h2 {
    @extend %social-sidebar-header;
    @extend %social-header-text;
    @include background(linear-gradient(center top , $black-true, $gray-dark));
  }
}
#lyris.pane-usanetwork-lyris-newsletter-subscription {
  h2 {
    text-transform:capitalize;
  }
}

#usanetwork-lyris-newsletter-subscription {
  color: adjust-color(saturate($black-true, 1%), $hue: 60, $lightness: 53);
  line-height: 19px;
}


/* chat with fans */

#chat-echo-stream {
  background-color: $white;
  padding: 0 12px 30px;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
}

/* Chatter with TV */

#tvTitle {
  color: $blue;
  font-size: 16px;
  line-height: 1em;
  @include breakpoint($bp-social-very-large-width) {
    font-size: 18px;
  }  
}

#chatterToTv {
  font-size: 14px;
  background-color: $white;
  color: $black-true;
  display: none;
  padding: 25px 12px 0;
  line-height: 1em;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
  }
  div {
    padding-bottom: 12px;
    padding-top: 12px;
    @include breakpoint($bp-social-very-large-width) {
      padding-bottom: 15px;
      padding-top: 15px;
    }  
    &:first-child {
      padding: 0;
    }
  }
  + #chat-submit-form {
    padding-top: 10px;
  }
}

#tvLegalCopy {
  font-size: 12px;
  @include breakpoint($bp-social-very-large-width) {
    font-size: 13px;
  }  
}

.commentAnnotation {
  font-weight: bold;
}

/* twitter */

#echo-stream {
  background-color: $white;
  padding: 30px 12px;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
  .echo-item-footer {
    .echo-item-date {
      display: none;
    }
  }
}

 /* echo stream */


.echo-stream-header {
  float: right;
  margin: 0;
}
.echo-stream-body {
  clear: both;
}
.echo-submit-controls {
  margin-top: 0;
}

.echo-stream-more {
  color: $gray-darker-light;
}

.echo-item-container {
  position: relative;
}

.echo-item-wrapper {
  margin-left: 0;
  float: none;
  width: auto;
  clear: both;
  @include breakpoint($bp-social-small-width) {
    clear: none;
    margin-left: 58px;
  }
  @include breakpoint($bp-social-mid-width) {
    margin-left: 63px;
  }
}

.echo-item-subwrapper {
  margin-left: 0;
}

.echo-item-data {
  padding-bottom: 6px;
  @extend %regular-14;
  letter-spacing: 0.05em;
  line-height: 1.3;
  padding-top: 4px;
  p {
    margin: 0 0 10px;
  }
  .echo-item-body .echo-primaryColor {
    .echo-item-text {
      a:hover {
        color: $gray-med;
        text-decoration: none;
      }
    }
  }
}

.echo-item-body {
  color: inherit;
  padding: 0;
}

.echo-item-likes {
  padding-top: 2px;
}

.echo-item-via {
  display: none;
}

.echo-item-authorName {
  @extend %semi-18;
  color: $gray-med;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 19px;
  word-break: break-all;
  a {
    color: $gray-med;
    &:hover {
      color: $gray-med;
    }
  }
}

.echo-item-footer {
  color: $gray-extra-light;
  @extend %regular-12;
  background: none;
  padding: 0;
  .echo-item-from a,
  .echo-item-from span {
    color: $gray-dark;
  }
  .echo-secondaryColor {
   color: $gray-dark;
  }
  line-height: 1.5em;
  margin-top: 0;
}

.echo-TwitterIntents-plugin {
  .echo-item-text {
    a:hover {
      color: $gray-med;
      text-decoration: none;
    }
  }
  .echo-item-footer {
    margin-top: 0;
  }
}

.echo-item-controls .echo-item-control,
.echo-item-controls a {
  color: $gray-dark;
  &:hover {
    color: $gray-dark;
  }
}

.echo-application-message, .echo-control-message {
  color: #3D3D3D;
}

.echo-item-children {
  padding-left: 20px;
  @include breakpoint($bp-social-echo) {
    padding-left: 77px;
  }
  .echo-item-container {
    margin-right: 0;
    margin-left: 0;
    padding: 15px;
  }
  .echo-item-subwrapper {
    margin: 0;
  }
  .echo-item-content {
    padding: 0;
  }
  .echo-item-wrapper {
    margin-left: 30px;
    @include breakpoint($bp-social-mid-width) {
      margin-left: 45px;
    }
  }
}

input.echo-submit-text {
  padding: 3px;
}

.echo-item-replyForm {
  margin: 0 0 0 20px;
  @include breakpoint($bp-social-echo) {
    margin-left: 77px;
  }
  .echo-submit-controls {
    margin-top: 5px;
  }
  .echo-submit-header span {
    font-size: 12px;
  }
}

.echo-submit-forcedLoginUserInfoMessage {
  padding-right: 30px;
}

.echo-item-content {
  color: $gray-med;
  position: relative;
  margin-bottom: 2px;
  padding: 8px 0 12px;
  @include breakpoint($bp-social-small-width) {
    padding-bottom: 8px;
  }
  .echo-item-avatar-wrapper {
    display: inline;
    float: left;
    margin-bottom: 10px;
    @include breakpoint($bp-social-echo) {
      margin-bottom: 0;
    }
  }

  .echo-item-tweetUserName {
    display: block;
    clear: both;
    @include breakpoint($bp-social-echo) {
      display: inline;
      clear: none;
    }
    a {
      @extend %semi-12;
      color: $gray-med;
    }
  }
  .echo-item-tweetDate a {
    color: $gray-med;
    &:hover {
      color: $gray-med;
    }
  }
  .echo-item-container-root {
    padding: 0;
  }
  .echo-item-expandChildren {
    margin-right: 0;
    margin-left: 20px;
    @include breakpoint($bp-social-echo) {
      margin-left: 77px;
    }
  }
}


/* chat with fans form */

#chat-submit-form {
  clear: both;
  overflow: hidden;
  background-color: $white;
  padding: 30px 12px 0;
  @include breakpoint($bp-social-very-large-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
  .echo-auth-logged {
    .echo-auth-avatar,
    .echo-auth-name {
      display: none;
    }
  }
  .echo-auth-login,
  .echo-auth-logout, {
    font-size: 15px;
  }
}

.echo-submit-header span {
  color: $gray-light;
}

.echo-auth-logout,
.echo-auth-login {
  text-transform: uppercase;
  font-size: 11px;
  color: $gray-dark;
  float: right;
}

.echo-submit-counterLabel {
  color: $gray-extra-light;
  padding-top: 4px;
}
.echo-submit-container  {
  width: 100%;
}
.echo-submit-content {
  padding: 0;
  border: 0;
}
.echo-submit-body {
   width: 100%;
  textarea {
    color: $gray-extra-light;
    @include border-radius(5px);
    border: 1px solid $gray-darker-light;
    height: 77px;
    padding: 5px;
  }
}

.echo-submit-markersContainer,
.echo-submit-tagsContainer {
  display: none !important;
}

.echo-submit-forcedLogin .echo-submit-controls {
  display: none;
}

/* global chat with fans pgs */

#globalChatWithFans > div:first-child {
  display: none;
}

#syncIframe {
  height: 1250px;
}

#showList {
  background-color: $white;
  padding: 10px 12px 40px;
  color: $gray-extra-light;
  @extend %regular-12;
  @include breakpoint($bp-social-mid-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  a {
    color: $gray-extra-light;
    &:hover {
      color: $gray-extra-light;
    }
  }
  img {
  }
  h3 {
    color: $gray-sky;
    @extend %regular-30;
    text-transform: lowercase;
    margin-bottom: 5px;
    margin-right: 75px;
    @include breakpoint($bp-social-echo) {
      margin-right: 100px;
    }
  }
  .go-chat {
    position: absolute;
    right: 0;
    top: 2px;
    background-color: $gray-sky;
    color: $white;
    padding: 2px 18px 1px 6px;
    font-size: 14px;
    @include breakpoint($bp-social-echo) {
      top: 11px;
      font-size: 20px;
      padding: 6px 22px 5px 8px;
    }
    @include breakpoint($bp-social-xtra-large-width) {
      top: 27px;
      font-size: 24px;
    }
    &:after {
      @include cssTriangle(5px, $white, left);
      position: absolute;
      right: 2px;
      top: 9px;
      @include breakpoint($bp-social-echo) {
         @include cssTriangle(6px, $white, left);
         top: 11px;
      }
    }
  }
  .echo-item-from,
  .echo-item-sourceIcon,
  .echo-item-date {
    float: left;
  }
  .echo-item-sourceIcon {
    margin-right: 3px;
  }
  .echo-item-footer {
    @extend %clearfix;
  }
  .echo-item-wrapper {
    margin-right: 80px;
    @include breakpoint($bp-social-echo) {
      margin-right: 150px;
    }
  }
}

.usanetwork_social_global_show {
  position: relative;
  border-bottom: 1px solid $gray-sky;
  @extend %clearfix;
  cursor: pointer;
  padding-bottom: 6px;
}

/* signin popup */
#fancybox-wrap {
  padding: 0;
  left: 0 !important;
  @include breakpoint($bp-social-small-width) {
    left: 25% !important;
  }
}


/* show landing page social */

#usanetwork_social_show_homepage_chatter {
  background-color: $gray-dark;
}

#usanetwork_social_chatter_title {
  @extend %social-header-text;
  @extend %social-sidebar-header;
  text-align: left;
}


#usanetwork_social_show_comment {
  border-bottom: 1px solid $gray-med;
  border-top: 1px solid $black-dark;
  padding: 10px 15px;
  .echo-item-content {
    color: $white;
  }
  .echo-item-data {
    @extend %regular-16;
    a {
      word-break: break-all;
    }
  }
  .echo-item-authorName {
    color: $gray-dark-light;
    font-size: 20px;
    padding-bottom: 8px;
  }
  .echo-item-footer {
    font-size: 13px;
    img {
      display: none !important;
    }
    a {
      color: $gray-extra-light;
    }
  }
  .echo-item-date,
  .echo-item-from {
    float: left;
  }
  .echo-stream-header,
  .echo-stream-more {
    display: none !important;
  }
}

#usanetwork_social_join {
  clear: both;
  text-align: center;
  padding: 10px 0 7px;
  border-top: 1px solid $black-dark;
  position: relative;
  .usanetwork_social_join_msg {
    color: $white;
    @extend %regular-24;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-left: 20px;
    position: relative;
    text-transform: lowercase;
    &:before {
      @include cssTriangle(6px, $white, left);
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

#block-usanetwork-social-usa-show-social-getglue iframe {
  width: 100% !important;
  @include breakpoint($bp-social-large-width) {
    width: 300px;
  }
}

.navSocial-empty-span {
  float: left;
  height: 32px;
  width: 10px;
    @include breakpoint($bp-show-mid-width) {
       width: 70px; 
    }
    @media (min-width: 900px) and (max-width: 958px) {
       width: 10px; 
    }
    @include breakpoint($bp-video-large2-width) {
       width: 70px; 
    }
}

#usanetwork_social_chatter_title {
  background-color: $black-into-gray;
  @include background(linear-gradient(center top , $black-true, $gray-dark));
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.navTwitter-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2792px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navChatter-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2871px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navFb-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2950px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navPinterest-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3109px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navGetGlue-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3030px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navInstagram-selected {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3187px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.navTwitter {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2752px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2792px transparent;
  }
}
.navChatter {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2831px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2871px transparent;
  }
}
.navFb {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2910px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2950px transparent;
  }
}
.navPinterest  {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3069px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3109px transparent;
  }
}
.navGetGlue {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -2991px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3030px transparent;
  }
}
.navInstagram {
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3148px transparent;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  &:hover{
  background: url("../images/social_chatter_icons.png") no-repeat scroll 0 -3187px transparent;
  }
}

.widget-background {
  background-color: #ffffff;
  text-align:center;
  display:none;
}

/*Instagram widget styles*/
#instagram {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
}
.echo-streamserver-controls-stream-item-header {
  display: none;
}
.echo-streamserver-controls-stream-item-body.echo-primaryColor {
  display: none;
}
.echo-streamserver-controls-stream-item-plugin-PinboardVisualization .echo-streamserver-controls-stream-item-container .echo-streamserver-controls-stream-item-footer {
  display: none;
  margin-top: 5px;
}
.echo-streamserver-controls-stream-item-mediagallery-item, .echo-streamserver-controls-stream-item-mediagallery-item iframe {
  display: block;
  width: 112px;
  height: 112px;
  border: 4px solid whitesmoke;
}
.echo-streamserver-controls-stream-item-plugin-PinboardVisualization .echo-streamserver-controls-stream-item-content {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 white;
  border-color: #D9D4D4 -moz-use-text-color -moz-use-text-color #D9D4D4;
  border-image: none;
  border-style: none;
  border-width: 0;
  box-shadow: none;
  margin: 0 30px 15px;
  padding-bottom: 0;
}
/*.echo-streamserver-controls-stream-item.echo-streamserver-controls-stream-item-plugin-PinboardVisualization.isotope-item {
  padding: 0px;
}
.echo-streamserver-controls-stream-item.echo-streamserver-controls-stream-item-plugin-PinboardVisualization.isotope-item {
  left: 130px;
  position: absolute;
  top: 0px;
}*/
.echo-streamserver-controls-stream-item-plugin-PinboardVisualization .echo-streamserver-controls-stream-item-depth-0 {
  padding: 0px;
  background-color: #ffffff;
}
.echo-streamserver-controls-stream-item-content {
  width: 156px;
}
.echo-streamserver-controls-stream-item-plugin-PinboardVisualization-media {
  margin-top: 0;
  text-align: center;
}
.echo-streamserver-controls-stream-item-content {
  width: 150px;
}
.echo-streamserver-controls-stream-item.echo-streamserver-controls-stream-item-plugin-PinboardVisualization.isotope-item {
  float: left;
  height: 130px;
  width: 130px;
}
.echo-streamserver-controls-stream-item-mediagallery-thumbnails {
  height: 130px;
  overflow: hidden;
  width: 130px;
}
.echo-streamserver-controls-stream-item-mediagallery-container {
  background-color: #ffffff;
  height: 130px;
  width: 130px;
}
.echo-streamserver-controls-stream-more, .echo-streamserver-controls-stream-fullStateLayout {
  border: 1px solid #E4E4E4;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}
.echo-streamserver-controls-stream-more, .echo-stream-more {
  display: none !important;
}
.page-node-social .echo-stream-more {
  display: block !important;
}

#usanetwork_social_section_join {
  background: #282828;
  border-top: 1px solid #161616;
  clear: both;
  padding: 10px 0 7px;
  position: relative;
  text-align: center;
  .usanetwork_social_join_msg:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent white;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 5px;
    width: 0;
  }
  .usanetwork_social_join_msg {
    color: #FFFFFF;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-left: 20px;
    position: relative;
    text-transform: none;
  }
}

#join-tweets, #join-chatter, #join-buzz {
  text-transform: none;
  font-size: 24px;
  cursor: pointer;
  display : none;
}

.getglue-checkin-widget {
  width: 100% !important;
}

#pinterest > span {
  box-shadow: 0 0 0px #aaa!important;
  border-radius: 0px!important;
}



/* basic scrollbar styling */
/* vertical scrollbar */


.usa-rebelmouse iframe {
  height: 800px !important;
  margin-top: 0;
  min-height: 800px;
  overflow: hidden;
}

.field-type-gigya-sharebar {
  margin-bottom: 20px;
  .gig-button-container {
    td {
      > div,
      > div:hover {
        width: 32px !important;
        height: 32px !important;
        background-image: url('../images/social_chatter_icons.png') !important;
        background-repeat: none;
        @include breakpoint($bp-home-narrowest) {
          width: 24px !important;
          height: 24px !important;
        }
      }
    }
    &.gig-button-container-facebook {
      td {
        > div {
          background-position: 1px -2908px !important;
          &:hover {
            background-position: 1px -2948px !important;
          }
          @include breakpoint($bp-home-narrowest) {
            background-position: 1px -3422px !important;
            &:hover {
              background-position: 1px -3452px !important;
            }
          }
        }
      }
    }
    &.gig-button-container-twitter {
      td {
        > div {
          background-position: 1px -2750px !important;
          &:hover {
            background-position: 1px -2790px !important;
          }
          @include breakpoint($bp-home-narrowest) {
            background-position: 1px -3304px !important;
            &:hover {
              background-position: 1px -3334px !important;
            }
          }
        }
      }
    }
    &.gig-button-container-tumblr {
      td {
        > div {
          background-position: 1px -3225px !important;
          &:hover {
            background-position: 1px -3265px !important;
          }
          @include breakpoint($bp-home-narrowest) {
            background-position: 1px -3660px !important;
            &:hover {
              background-position: 1px -3690px !important;
            }
          }
        }
      }
    }
    &.gig-button-container-pinterest {
      td {
        > div {
          background-position: 1px -3067px !important;
          &:hover {
            background-position: 1px -3107px !important;
          }
          @include breakpoint($bp-home-narrowest) {
            background-position: 1px -3542px !important;
            &:hover {
              background-position: 1px -3572px !important;
            }
          }
        }
      }
    }
    &.gig-button-container-share {
      td {
        > div {
          background-position: 5px -3717px !important;
          &:hover {
            background-position: 5px -3747px !important;
          }
          @include breakpoint($bp-home-narrowest) {
            background-position: 4px -3779px !important;
            &:hover {
              background-position: 4px -3804px !important;
            }
          }
        }
      }
    }
  }
}

body {
  div.gig-simpleShareUI {
    border-color: #414141;
    div.gig-simpleShareUI-inner {
      background-color: #2D2D2D;
      border-color: #000;
      .gig-simpleShareUI-caption {
        border-bottom: 1px solid #000;
      }
      .gig-simpleShareUI-caption,
      .gig-simpleShareUI-caption-text {
        background-color: #1C1C1C;
        color: #A7A6A6;
      }
      .gig-simpleShareUI-buttonText {
        color: #ffffff;
      }
    }
  }
}
