.node-type-timeline-gallery {
  .sharebar {
    .field-type-gigya-sharebar {
      width: 100%;
      margin: 0;
      .gig-button-container {
        td > div {
          margin: 0 get-vw(5px, 1025) 0 0 !important;
          width: get-vw(20px, 1025) !important;
          @include breakpoint($bp-min-1901-width) {
            font-size: 37px;
            margin: 0 12px 0 0 !important;
            width: 37px !important;
          }
        }
      }
    }
  }
  .timelineFlat {
    .timeline-items {
      // player wrapper
      #player-wrapper {
        position: absolute;
        iframe {
          height: 100%;
          width: 100%;
        }
      }
      // play button
      .play-button {
        cursor: pointer;
        height: 40px;
        left: 50%;
        line-height: 40px;
        margin: -20px 0 0 -20px;
        position: absolute;
        top: 50%;
        width: 40px;
        z-index: 1;
        &:before {
          border: 2px solid #ffffff;
          border-radius: 50%;
          box-sizing: border-box;
          content: '\e627';
          font-family: $ico-font;
          font-size: 40px;
          text-shadow: 1px 1px 0.5em $aspot-shadow;
          height: 40px;
          width: 40px;
        }
      }
      .video-data {
        display: none;
      }
      .timeline-item-image {
        position: relative;
      }
      .timeline-item-details {
        @include breakpoint($bp-480-width) {
          padding: 20px 8px 10px 10px;
        }
        h2 {
          width: 98%;
          padding: 0 20px;
          @include breakpoint($bp-1280-width) {
            font-size: 12px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 10px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 12px;
            text-align: left;
            left: 10px;
            right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .divider {
              margin: 0;
            }
          }
        }
        .timeline-item-text {
          font-family: $avalon-book;
          font-size: 18px;
          line-height: 1.5;
          margin: 30px 0 30px;
          p, span {
            font-family: $avalon-book!important;
          }
          @include breakpoint($bp-min-1025-width) {
            max-height: calc(100% - 70px);
          }
          @include breakpoint($bp-1024-width) {
            font-size: 15px;
            margin-top: 20px;
            max-height: calc(100% - 65px);
          }
          @include breakpoint($bp-640-width) {
            font-size: 13px;
            max-height: calc(100% - 40px);
            margin-top: 6px;
          }
        }
        .timeline-gigya-share-container {
          .timeline-gigya-share {
            .gig-button-container {
              td {
                > div,
                > div:hover {
                  @include breakpoint($bp-1280-width) {
                    width: 27px !important;
                    height: 27px !important;
                    font-size: 26px;
                  }
                  @include breakpoint($bp-1024-width) {
                    width: 22px !important;
                    height: 22px !important;
                  }
                }
              }
            }
          }
          @include breakpoint($bp-1280-width) {
            bottom: -4px;
            padding-right: 16px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 12px;
            bottom: -6px;
          }
        }
      }
    }
    .timeline-controls {
      .timeline-left, .timeline-right {
        background-image: none;
        &:after {
          display: block;
          color: white;
          font-family: "ico-font";
          font-size: 28px;
          left: 50%;
          margin-left: -14px;
          margin-top: -14px;;
          position: absolute;
          top: 50%;
        }
        &:hover {
          &:after {
            color: grey;
          }
          &:active {
            &:after {
              color: white;
            }
          }
        }
      }
      .timeline-left {
        &:after {
          content: '\e607';
        }
      }
      .timeline-right {
        &:after {
          content: '\e608';
        }
      }
    }
  }
}
.touch {
  .node-type-timeline-gallery {
    .timeline-item-details {
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background-color: #000;
        border-left: 0 solid transparent;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
      ::-webkit-scrollbar-thumb,
      ::-webkit-scrollbar-thumb:hover {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #333;
        background: rgba(255,255,255,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
      ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,255,255,0.8);
      }
    }
  }
}

