.node-type-timeline-gallery {
  .sharebar {
    .field-type-gigya-sharebar {
      width: 100%;
      margin: 0;
      .gig-button-container {
        td > div {
          margin: 0 get-vw(5px, 1025) 0 0 !important;
          width: get-vw(20px, 1025) !important;
          @include breakpoint($bp-min-1901-width) {
            font-size: 37px;
            margin: 0 12px 0 0 !important;
            width: 37px !important;
          }
        }
      }
    }
  }
  .timelineFlat {
    .timeline-items {
      .timeline-item-details {
        @include breakpoint($bp-480-width) {
          padding: 20px 8px 10px 10px;
        }
        h2 {
          width: 98%;
          padding: 0 20px;
          @include breakpoint($bp-1280-width) {
            font-size: 12px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: 10px;
          }
          @include breakpoint($bp-768-width) {
            font-size: 12px;
            text-align: left;
            left: 10px;
            right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .divider {
              margin: 0;
            }
          }
        }
        .timeline-item-text {
          margin: 30px 0 30px;
          @include breakpoint($bp-1024-width) {
            margin-top: 20px;
            max-height: 198px;
          }
          @include breakpoint($bp-min-1025-width) {
            max-height: 203px;
          }
          @include breakpoint($bp-min-1281-width) {
            max-height: none;
          }
          @include breakpoint($bp-640-width) {
            max-height: 80px;
            font-size: 13px;
            margin-top: 6px;
          }
        }
        .timeline-gigya-share-container {
          .timeline-gigya-share {
            .gig-button-container {
              td {
                > div,
                > div:hover {
                  @include breakpoint($bp-1280-width) {
                    width: 27px !important;
                    height: 27px !important;
                    font-size: 26px;
                  }
                  @include breakpoint($bp-1024-width) {
                    width: 22px !important;
                    height: 22px !important;
                  }
                }
              }
            }
          }
          @include breakpoint($bp-1280-width) {
            bottom: -4px;
            padding-right: 16px;
          }
          @include breakpoint($bp-640-width) {
            font-size: 12px;
            bottom: -6px;
          }
        }
      }
    }
    .timeline-line {
      .timeline-holder {
        .timeline-node-desc {
          @include breakpoint($bp-640-width) {
            padding: 4px;
            font-size: 8px;
          }
          @include breakpoint($bp-480-width) {
            padding: 4px 2px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
    #timeline-line-full-right {
      top: 35px;
      .title {
        margin: 0 0 0 14px;
        line-height: 30px;
        &:hover {
          color: #000;
        }
      }
      .arrow {
        background: none;
        width: 36px;
        height: 27px;
        font-size: 27px;
        font-family: 'ico-font';
        display: block;
        &:before {
          content: '\e615';
          color: #56000A;
        }
        &:hover {
          &:before {
            color: #000;
          }
        }
      }
    }
    #timeline-line-full-left {
      top: 35px;
      .title {
        margin: 0 10px 0 0;
        line-height: 30px;
        &:hover {
          color: #000;
        }
      }
      .arrow {
        background: none;
        width: 36px;
        height: 27px;
        font-size: 27px;
        font-family: 'ico-font';
        display: block;
        &:before {
          content: '\e614';
          color: $microsite-arrow;
        }
        &:hover {
          &:before {
            color: #000;
          }
        }
      }
    }
  }
}
.touch {
  .node-type-timeline-gallery {
    .timeline-item-details {
      background-color: $schedule-tonight;
    }
  }
}
