#block-usanetwork-top3-usanetwork-top3-main-block {
  background: url(../images/top3back.png) repeat;
  height: auto;
  padding: get-vw(120px, 1901) get-vw(90px, 1901) get-vw(120px, 1901) get-vw(130px, 1901);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1901-width) {
    padding: 120px 110px;
  }
  @include breakpoint($bp-1600-width) {
    padding: get-vw(45px, 1280) get-vw(35px, 1280);
  }
  @include breakpoint($bp-1280-width) {
    padding: 0 get-vw(5px, 1280) get-vw(25px, 1280) get-vw(10px, 1280);
  }
  @include breakpoint($bp-1024-width) {
    padding: 0 get-vw(10px, 768) 0;
  }
  &.shared-screen {
    padding: 0;
    & > .content {
      max-width: none;
      padding: 0;
    }
  }
  & > .content {
    @include clear();
    height: auto;
    margin: 0 auto;
    max-width: 1681px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include breakpoint($bp-1280-width) {
      padding-top: get-vw(126px, 1024);
    }
    @include breakpoint($bp-1024-width) {
      padding-bottom: 300px;
    }
    @include breakpoint($bp-768-width) {
      padding-top: get-vw(108px, 480);
    }
    @include breakpoint($bp-640-width) {
      padding-bottom: calc(26.25vw + 250px);
    }
  }
  // player iframe
  #slider-player {
    opacity: 0;
    left: 0;
    position: absolute;
    top: 0;
    &, iframe {
      height: 100%;
      width: 100%;
    }
  }
  // play button
  #play-button {
    background: none;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    height: get-vw(53px, 1901);
    left: get-vw(40px, 1901);
    position: absolute;
    top: get-vw(40px, 1901);
    width: get-vw(53px, 1901);
    z-index: 1;
    @include breakpoint($bp-min-1901-width) {
      height: 53px;
      left: 40px;
      top: 40px;
      width: 53px;
    }
    @include breakpoint($bp-1024-width) {
      height: get-vw(40.5px, 1024);
      left: get-vw(30.6px, 1024);
      top: get-vw(30.6px, 1024);
      width: get-vw(40.5px, 1024);
    }
    @include breakpoint($bp-768-width) {
      border-width: 2px;
    }
    @include breakpoint($bp-480-width) {
      border-width: 1px;
    }
    &:before {
      content: '\e627';
      display: block;
      font-family: "ico-font";
      font-size: get-vw(40px, 1901);
      height: 100%;
      line-height: calc(2.7vw - 3px);
      position: relative;
      text-align: center;
      text-shadow: 1px 1px 0.5em $aspot-shadow;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        line-height: 50px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(30.6px, 1024);
        line-height: calc(3.66vw - 3px);
      }
      @include breakpoint($bp-768-width) {
        line-height: calc(3.66vw - 2px);
      }
      @include breakpoint($bp-480-width) {
        line-height: calc(3.66vw - 1px);
      }
    }
    &.play {
      &:before {
        content: '\e626';
      }
    }
    &.inactive {
      display: none;
    }
  }
  #top3-slider-wrapper {
    float: left;
    height: get-vw(720px, 1901);
    overflow: hidden;
    position: relative;
    width: get-vw(1280px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 720px;
      width: 1280px;
    }
    @include breakpoint($bp-1280-width) {
      z-index: 1;
    }
    @include breakpoint($bp-1024-width) {
      height: 53.8vw;
      width: 100%;
    }
    @include breakpoint($bp-768-width) {
      height: 53.6vw;
    }
    @include breakpoint($bp-480-width) {
      height: 52.8vw;
    }
  }
  #slider-container {
    height: 100%;
    width: 100%;
    .load-more-loader {
      margin-top: -16px;
      top: 50%;
      z-index: 2;
    }
    // start
    .slide {
      position: relative;
    }

    .video-data {
      height: 100%;
      width: 100%;
    }

    .img-wrapper {
      height: 100%;
      position: relative;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    // end

    #counter {
      color: white;
      display: none;
      font-size: get-vw(28px, 1901);
      left: get-vw(110px, 1901);
      position: absolute;
      top: get-vw(30px, 1901);
      @include breakpoint($bp-min-1901-width) {
        font-size: 28px;
        left: 110px;
        top: 30px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(21.43px, 1024);
        left: get-vw(84.19px, 1024);
        top: get-vw(22.96px, 1024);
      }
    }
    .control-button {
      background: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      display: none;
      margin-top: get-vw(-53px, 1901);
      position: absolute;
      top: 50%;
      height: get-vw(106px, 1901);
      width: get-vw(40px, 1901);
      @include breakpoint($bp-min-1901-width) {
        height: 106px;
        margin-top: -53px;
        width: 40px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(81px, 1024);
        margin-top: get-vw(-40.5px, 1024);
        width: get-vw(30.6px, 1024);
      }
      &:before {
        display: block;
        font-family: "ico-font";
        font-size: get-vw(40px, 1901);
        font-weight: bold;
        line-height: get-vw(106px, 1901);
        position: absolute;
        @include breakpoint($bp-min-1901-width) {
          font-size: 40px;
          line-height: 106px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(30.625px, 1024);
          line-height: get-vw(81px, 1024);
        }
      }
    }
    .next.control-button {
      right: 0;
      &:before {
        content: "\e608";
      }
    }
    .prev.control-button {
      left: 0;
      &:before {
        content: "\e607";
      }
    }
    .drag-group {
      display: none;
      left: 0;
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .drag-group-wrapper {
      clear: both;
      float: none;
      position: relative;
      .drop-area-item {
        float: left;
        height: 30px;
        width: 33.33333%;
        .title {
          display: none;
        }
      }
      #drop-area-item-one {
        background: red;
      }
      #drop-area-item-two {
        background: green;
      }
      #drop-area-item-three {
        background: blue;
      }
    }
  }
  .right-sidebar {
    float: left;
    position: relative;
    width: calc(100% - 67.33298vw);
    @include breakpoint($bp-min-1901-width) {
      width: calc(100% - 1280px);
    }
    @include breakpoint($bp-1280-width) {
      position: absolute;
      width: 100%;
    }
    @include breakpoint($bp-1024-width) {
      padding-top: 53.8vw;
    }
    &#gigya-share-top3_gig_containerParent {
      #gigya-share-top3 {
        display: block;
      }
    }
    .choose-top3-img {
      height: auto;
      margin: 0 auto;
      position: relative;
      text-transform: uppercase;
      width: get-vw(350px, 1901);
      @include breakpoint($bp-min-1901-width) {
        width: 350px;
      }
      @include breakpoint($bp-1600-width) {
        width: get-vw(325px, 1600);
      }
      @include breakpoint($bp-1280-width) {
        bottom: calc(100% + 2.88vw);
        position: absolute;
        text-align: center;
        width: 100%;
      }
      @include breakpoint($bp-768-width) {
        bottom: calc(100% + 1vw);
      }
      .top-choose-top3 {
        font-family: $avalon-xlight;
        font-size: get-vw(45px, 1901);
        text-align: right;
        @include breakpoint($bp-min-1901-width) {
          font-size: 45px;
        }
        @include breakpoint($bp-1280-width) {
          display: inline-block;
          font-size: get-vw(31px, 1024);
          width: get-vw(236px, 1024);
        }
        @include breakpoint($bp-768-width) {
          font-size: get-vw(23px, 480);
          width: get-vw(180px, 480);
        }
        .first-line {
          line-height: 1.1;
          text-align: left;
          @include breakpoint($bp-1280-width) {
            line-height: 1;
          }
        }
        span {
          font-size: get-vw(90px, 1901);
          line-height: 0.1;
          vertical-align: baseline;
          @include breakpoint($bp-min-1901-width) {
            font-size: 90px;
          }
          @include breakpoint($bp-1280-width) {
            font-size: get-vw(62px, 1024);
            vertical-align: top;
          }
          @include breakpoint($bp-768-width) {
            font-size: get-vw(46px, 480);
          }
        }
      }
      img {
        margin-top: get-vw(-10px, 1901);
        width: 100%;
        @include breakpoint($bp-min-1901-width) {
          margin-top: -10px;
        }
        @include breakpoint($bp-1280-width) {
          display: inline-block;
          margin: 0;
          width: get-vw(260px, 1024);
        }
        @include breakpoint($bp-768-width) {
          width: get-vw(190px, 480);
        }
      }
      .bottom-choose-top3 {
        font-family: $avalon-book;
        font-size: get-vw(22px, 1901);
        line-height: 1.7;
        text-align: center;
        @include breakpoint($bp-min-1901-width) {
          font-size: 22px;
        }
        @include breakpoint($bp-1600-width) {
          font-size: get-vw(20px, 1600);
        }
        @include breakpoint($bp-1280-width) {
          display: inline-block;
          font-size: get-vw(20px, 1024);
        }
        @include breakpoint($bp-768-width) {
          display: block;
          font-size: get-vw(14px, 480);
          width: 100%;
        }
      }
    }
    .advert {
      height: 250px;
      margin: 0 auto;
      width: 300px;
      @include breakpoint($bp-1280-width) {
        margin-left: calc(67.33298vw + (32.66702vw - 320px)/2) ;
      }
      @include breakpoint($bp-1024-width) {
        float: right;
        margin-left: 0;
        margin-top: 25px;
      }
      @include breakpoint($bp-640-width) {
        float: none;
        margin: 0 auto;
      }
    }
  }
  .slick-slider {
    width: 100%;
    .slick-list, .slick-track {
      height: 100%;
    }
    .slide {
      height: 100%;
      img {
        width: 100%;
      }
      .hide-block {
        display: none;
      }
    }
  }
  #share-button {
    color: $consum-carousel-odd;
    font-family: $avalon-medium;
    font-size: get-vw(30px, 1901);
    line-height: get-vw(67px, 1901);
    margin: get-vw(27px, 1901) auto get-vw(53px, 1901);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: get-vw(225px, 1901);
    @include breakpoint($bp-min-1901-width) {
      font-size: 30px;
      line-height: 67px;
      margin: 27px auto 53px;
      width: 225px;
    }
    @include breakpoint($bp-1600-width) {
      width: get-vw(243.75px, 1600);
    }
    @include breakpoint($bp-1280-width) {
      margin-left: calc(74.564925vw - 10px);
      width: get-vw(233px, 1280);
    }
    @include breakpoint($bp-1024-width) {
      float: left;
      font-size: get-vw(36px, 768);
      line-height: get-vw(82px, 768);
      margin-bottom: 0;
      margin-left: calc((100% - 300px - 41.7vw)/2);
      margin-top: 25px;
      width: get-vw(320px, 768);
    }
    @include breakpoint($bp-640-width) {
      float: none;
      font-size: get-vw(25.5px, 480);
      line-height: get-vw(57px, 480);
      margin: get-vw(16px, 480) auto get-vw(40px, 480);
      width: get-vw(220px, 480);
    }
    &:not(.ready) {
      background: black;
    }
    &.ready {
      color: white;
      cursor: pointer;
    }
  }
  #gigya-share-top3 {
    display: none;
    height: get-vw(60px, 1901);
    margin: get-vw(27px, 1901) auto get-vw(53px, 1901);
    position: relative;
    text-align: center;
    width: get-vw(339px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 60px;
      margin: 27px auto 53px;
      width: 339px;
    }
    @include breakpoint($bp-1280-width) {
      margin-left: calc(74.564925vw - 10px);
      width: get-vw(233px, 1280);
    }
    @include breakpoint($bp-1024-width) {
      float: left;
      height: get-vw(60px, 1024);
      margin-bottom: 0;
      margin-left: calc((100% - 300px - 33.1vw)/2);
      margin-top: 0;
      top: 41px;
      width: get-vw(339px, 1024);
    }
    @include breakpoint($bp-640-width) {
      float: none;
      height: get-vw(60px, 640);
      margin: get-vw(40px, 480) auto;
      top: 0;
      width: get-vw(300px, 640);
    }
    .gig-button-container {
      display: inline-block;
      height: get-vw(60px, 1901);
      margin: 0 get-vw(33px, 1901) 0 0;
      padding: 0;
      width: get-vw(60px, 1901);
      @include breakpoint($bp-min-1901-width) {
        height: 60px;
        margin: 0 33px 0 0;
        width: 60px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(60px, 1024);
        margin: 0 get-vw(33px, 1024) 0 0;
        width: get-vw(60px, 1024);
      }
      @include breakpoint($bp-640-width) {
        height: get-vw(60px, 640);
        margin: 0 get-vw(20px, 640) 0 0;
        width: get-vw(60px, 640);
      }
      &.gig-button-container-email {
        margin: 0;
      }
      td {
        > div {
          font-size: get-vw(60px, 1901);
          @include breakpoint($bp-min-1901-width) {
            font-size: 60px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(60px, 1024);
          }
          @include breakpoint($bp-640-width) {
            font-size: get-vw(60px, 640);
          }
        }
      }
    }
  }
  #info-block {
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    .info-block-back {
      background: black;
      height: 100%;
      left: 0;
      opacity: 0.7;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .info-block-wrapper {
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;
    }
    .info-text {
      bottom: get-vw(250px, 1901);
      font-family: $avalon-medium;
      line-height: 1.3;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        bottom: 250px;
      }
      @include breakpoint($bp-1024-width) {
        bottom: get-vw(191.3px, 1024);
      }
      > div {
        margin: 0 auto;
        max-width: 70%;
      }
      .top-text {
        font-size: get-vw(33px, 1901);
        margin-bottom: get-vw(38px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 33px;
          margin-bottom: 38px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(25.26px, 1024);
          margin-bottom: get-vw(29px, 1024);
        }
      }
      .color-text {
        background: none;
        font-size: get-vw(38px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 38px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(29px, 1024);
        }
      }
      .bottom-text {
        font-size: get-vw(25px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 25px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(19.1px, 1024);
        }
      }
      #start-button {
        color: white;
        cursor: pointer;
        font-family: $avalon-medium;
        font-size: get-vw(30px, 1901);
        line-height: get-vw(67px, 1901);
        margin: get-vw(20px, 1901) auto;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: get-vw(250px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 30px;
          line-height: 67px;
          margin: 20px auto;
          width: 250px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(23px, 1024);
          line-height: get-vw(51.3px, 1024);
          margin: get-vw(15.3px, 1024) auto;
          width: get-vw(191.3px, 1024);
        }
      }
    }
    .help-image {
      background: url('../images/top3_drop_help.png') no-repeat;
      background-size: contain;
      bottom: get-vw(80px, 1901);
      height: get-vw(141px, 1901);
      left: 50%;
      margin-left: get-vw(-317px, 1901);
      position: absolute;
      width: get-vw(634px, 1901);
      @include breakpoint($bp-min-1901-width) {
        bottom: 80px;
        height: 141px;
        margin-left: -317px;
        width: 634px;
      }
      @include breakpoint($bp-1024-width) {
        bottom: get-vw(61.23px, 1024);
        height: get-vw(107.9px, 1024);
        margin-left: get-vw(-242.625px, 1024);
        width: get-vw(485.25px, 1024);
      }
    }
    .info-drag-group {
      bottom: 0;
      left: 0;
      height: get-vw(68px, 1901);
      margin: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        height: 68px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(52.03px, 1024);
      }
    }
    .info-drag-item {
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      display: inline-block;
      height: get-vw(68px, 1901);
      margin: 0 1% 0 1%;
      opacity: 0.7;
      overflow: hidden;
      width: get-vw(242px, 1901);
      z-index: 2;
      @include breakpoint($bp-min-1901-width) {
        height: 68px;
        width: 242px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(52.03px, 1024);
        width: get-vw(185.22px, 1024);
      }
      &:nth-child(1) {
        &:after {
          content: '1';
        }
      }
      &:nth-child(2) {
        &:after {
          content: '2';
        }
      }
      &:nth-child(3) {
        &:after {
          content: '3';
        }
      }
      &:before {
        @include cssRightTriangle(get-vw(68px, 1901), white, top, right);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          border-top-width: 68px;
          border-left-width: 68px;
        }
        @include breakpoint($bp-1024-width) {
          border-top-width: get-vw(52.03px, 1024);
          border-left-width: get-vw(52.03px, 1024);
        }
      }
      &:after {
        color: black;
        display: block;
        font-family: $tex-gyreschola-regular;
        font-size: get-vw(40px, 1901);
        height: get-vw(40px, 1901);
        line-height: get-vw(40px, 1901);
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        width: get-vw(40px, 1901);
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          height: 40px;
          font-size: 40px;
          line-height: 40px;
          width: 40px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(30.6px, 1024);
          height: get-vw(30.6px, 1024);
          line-height: get-vw(30.6px, 1024);
          width: get-vw(30.6px, 1024);
        }
      }
    }
  }
  #info {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    display: none;
    cursor: pointer;
    height: get-vw(53px, 1901);
    position: absolute;
    right: get-vw(40px, 1901);
    top: get-vw(40px, 1901);
    width: get-vw(53px, 1901);
    z-index: 1;
    @include breakpoint($bp-min-1901-width) {
      height: 53px;
      right: 40px;
      top: 40px;
      width: 53px;
    }
    @include breakpoint($bp-1024-width) {
      height: get-vw(40.5px, 1024);
      right: get-vw(30.6px, 1024);
      top: get-vw(30.6px, 1024);
      width: get-vw(40.5px, 1024);
    }
    @include breakpoint($bp-768-width) {
      border-width: 2px;
    }
    @include breakpoint($bp-480-width) {
      border-width: 1px;
    }
    &:before {
      content: '\e623';
      display: block;
      font-family: "ico-font";
      font-size: get-vw(40px, 1901);
      height: 100%;
      line-height: calc(2.7vw - 3px);
      position: relative;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        line-height: 50px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(30.6px, 1024);
        line-height: calc(3.66vw - 3px);
      }
      @include breakpoint($bp-768-width) {
        line-height: calc(3.66vw - 2px);
      }
      @include breakpoint($bp-480-width) {
        line-height: calc(3.66vw - 1px);
      }
    }
  }
  .close-button {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: get-vw(53px, 1901);
    position: absolute;
    right: get-vw(40px, 1901);
    top: get-vw(40px, 1901);
    width: get-vw(53px, 1901);
    z-index: 2;
    @include breakpoint($bp-min-1901-width) {
      height: 53px;
      right: 40px;
      top: 40px;
      width: 53px;
    }
    @include breakpoint($bp-1024-width) {
      height: get-vw(40.5px, 1024);
      right: get-vw(30.6px, 1024);
      top: get-vw(30.6px, 1024);
      width: get-vw(40.5px, 1024);
    }
    @include breakpoint($bp-768-width) {
      border-width: 2px;
    }
    @include breakpoint($bp-480-width) {
      border-width: 1px;
    }
    &:before {
      content: '\e624';
      display: block;
      font-family: "ico-font";
      font-size: get-vw(40px, 1901);
      height: 100%;
      line-height: calc(2.7vw - 3px);
      position: relative;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        line-height: 50px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(30.6px, 1024);
        line-height: calc(3.66vw - 3px);
      }
      @include breakpoint($bp-768-width) {
        line-height: calc(3.66vw - 2px);
      }
      @include breakpoint($bp-480-width) {
        line-height: calc(3.66vw - 1px);
      }
    }
  }
  #share-block-preview {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    .close-button {
      display: block;
    }
    .share-block-preview-back {
      height: 100%;
      left: 0;
      opacity: 0.7;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .share-block-preview-wrapper {
      height: 100%;
      padding-top: get-vw(216px, 1901);
      position: relative;
      width: 100%;
      z-index: 1;
      @include breakpoint($bp-min-1901-width) {
        padding-top: 216px;
      }
      @include breakpoint($bp-1280-width) {
        padding-top: get-vw(184px, 1600);
      }
      @include breakpoint($bp-1024-width) {
        padding-top: get-vw(165.3px, 1024);
      }
    }
    .preview-item {
      color: black;
      display: block;
      float: left;
      height: get-vw(161px, 1901);
      margin-right: 1.9%;
      position: relative;
      width: 32%;
      @include breakpoint($bp-min-1901-width) {
        height: 161px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(123.219px, 1024);
      }
      &:before {
        @include cssRightTriangle(get-vw(68px, 1901), white, top, right);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          border-top-width: 68px;
          border-left-width: 68px;
        }
        @include breakpoint($bp-1024-width) {
          border-top-width: get-vw(52.03px, 1024);
          border-left-width: get-vw(52.03px, 1024);
        }
      }
      &:after {
        display: block;
        font-family: $tex-gyreschola-regular;
        font-size: get-vw(40px, 1901);
        height: get-vw(40px, 1901);
        line-height: get-vw(40px, 1901);
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        width: get-vw(40px, 1901);
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          height: 40px;
          font-size: 40px;
          line-height: 40px;
          width: 40px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(30.6px, 1024);
          height: get-vw(30.6px, 1024);
          line-height: get-vw(30.6px, 1024);
          width: get-vw(30.6px, 1024);
        }
      }
      &:nth-child(1) {
        &:after {
          content: '1';
        }
      }
      &:nth-child(2) {
        &:after {
          content: '2';
        }
      }
      &:nth-child(3) {
        &:after {
          content: '3';
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .title {
        display: none;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    .first-text-line {
      font-family: $avalon-medium;
      font-size: get-vw(24px, 1901);
      line-height: 1.3;
      margin: 0 auto;
      text-align: center;
      width: 70%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 24px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(18.37px, 1024);
      }
    }
    .last-text-line {
      font-family: $avalon-medium;
      font-size: get-vw(48px, 1901);
      text-align: center;
      @include breakpoint($bp-min-1901-width) {
        font-size: 48px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(36.74px, 1024);
      }
    }
    .preview-items-block {
      @include clear();
      line-height: 1;
      margin: get-vw(15px, 1901) auto get-vw(30px, 1901);
      position: relative;
      width: 70%;
      @include breakpoint($bp-min-1901-width) {
        margin: 15px auto 30px;
      }
      @include breakpoint($bp-1024-width) {
        margin: get-vw(11.48px, 1024) auto get-vw(22.96px, 1024);
      }
    }
  }
  #share-block {
    height: 100%;
    left: 0;
    padding: 0 2.5%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    .share-block-wrapper {
      height: get-vw(451px, 1901);
      line-height: 1;
      margin-top: get-vw(-225.5px, 1901);
      top: 50%;
      position: absolute;
      width: 95%;
      @include breakpoint($bp-min-1901-width) {
        height: 451px;
      }
      @include breakpoint($bp-1024-width) {
        height: get-vw(346px, 1024);
        margin-top: get-vw(-172.6px, 1024);
      }
    }
    .first, .second, .third {
      color: black;
      position: relative;
      &:before {
        @include cssRightTriangle(get-vw(110px, 1901), white, top, right);
        border-left-width: get-vw(119px, 1901);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          border-top-width: 110px;
          border-left-width: 119px;
        }
        @include breakpoint($bp-1024-width) {
          border-top-width: get-vw(84px, 1024);
          border-left-width: get-vw(91px, 1024);
        }
      }
      &:after {
        display: block;
        font-family: $tex-gyreschola-regular;
        font-size: get-vw(60px, 1901);
        height: get-vw(60px, 1901);
        line-height: get-vw(50px, 1901);
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        width: get-vw(80px, 1901);
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          height: 60px;
          font-size: 60px;
          line-height: 50px;
          width: 80px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(45.9px, 1024);
          height: get-vw(45.9px, 1024);
          line-height: get-vw(38.25px, 1024);
          width: get-vw(61.2px, 1024);
        }
      }
      .title {
        bottom: 8%;
        display: block;
        font-family: $avalon-medium;
        left: auto;
        line-height: 1.2;
        text-align: center;
        top: auto;
        width: 100%;
      }
    }
    .first {
      float: left;
      height: 100%;
      width: 66%;
      &:before {
        border-top-width: get-vw(250px, 1901);
        border-left-width: get-vw(269px, 1901);
        @include breakpoint($bp-min-1901-width) {
          border-top-width: 250px;
          border-left-width: 269px;
        }
        @include breakpoint($bp-1024-width) {
          border-top-width: get-vw(191px, 1024);
          border-left-width: get-vw(205px, 1024);
        }
      }
      &:after {
        content: '1';
        font-size: get-vw(125px, 1901);
        height: get-vw(125px, 1901);
        line-height: get-vw(125px, 1901);
        width: get-vw(167px, 1901);
        @include breakpoint($bp-min-1901-width) {
          height: 125px;
          font-size: 125px;
          line-height: 125px;
          width: 167px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(95.7px, 1024);
          height: get-vw(95.7px, 1024);
          line-height: get-vw(95.7px, 1024);
          width: get-vw(127.8px, 1024);
        }
      }
      .title {
        font-size: get-vw(48px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 48px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(36.74px, 1024);
        }
      }
    }
    .second, .third {
      width: 100%;
      .title {
        font-size: get-vw(24px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 24px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(18.37px, 1024);
        }
      }
    }
    .second {
      &:after {
        content: '2';
      }
    }
    .third {
      &:after {
        content: '3';
      }
      bottom: 0;
      position: absolute;
    }
    .img-wrap {
      float: right;
      height: 100%;
      position: relative;
      width: 32%;
    }
  }
  #share-img {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .container-message {
    background: $top-three-not-allow;
    display: none;
    font-size: get-vw(40px, 1901);
    font-weight: bold;
    height: 100%;
    left: 0;
    opacity: .7;
    padding: 15px 0 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    @include breakpoint($bp-min-1901-width) {
      font-size: 40px;
    }
    @include breakpoint($bp-1024-width) {
      font-size: get-vw(30.6px, 1024);
    }
    .message-wrapper {
      display: table;
      height: 100%;
      position: relative;
      width: 100%;
    }
    .message-wrapper-inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .slider-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .slide-content {
    display: block;
    background: transparent;
    color: #76737C;
    text-align: center;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-content-inner {
    height: 100%;
    width: 100%;
    &.inactive {
      visibility: hidden;
    }
    .title {
      display: none;
      color: white;
      font-family: $avalon-demi;
      font-size: get-vw(32px, 1901);
      left: get-vw(110px, 1901);
      position: absolute;
      top: get-vw(70px, 1901);
      @include breakpoint($bp-min-1901-width) {
        font-size: 32px;
        left: 110px;
        top: 70px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(24.49px, 1024);
        left: get-vw(84.19px, 1024);
        top: get-vw(53.58px, 1024);
      }
    }
  }
  .slide-content_remove {
    display: none;
  }
  .is-active {
    z-index: 100;
  }
  .slide-item-grab {
    background: $header-menu-item-separator;
    border-radius: 5px;
    color: #76737C;
    display: inline-block;
    font-size: 2em;
    height: get-vw(136px, 1901);
    margin: 0;
    overflow: hidden;
    position:absolute;
    text-align: center;
    text-indent: -9000px;
    visibility: visible;
    width: get-vw(242px, 1901);
    z-index: 500000;
    @include breakpoint($bp-min-1901-width) {
      height: 136px;
      width: 242px;
    }
    @include breakpoint($bp-1024-width) {
      height: get-vw(104.08px, 1024);
      width: get-vw(185.22px, 1024);
    }
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
    .slide-content-inner.inactive {
      visibility: visible;
    }
  }
  .preview-item-grab {
    display: block;
    margin: 0;
    width: 32%;
    height: auto;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position:absolute;
    z-index: 500000;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-item-grab_remove, .preview-item-grab_remove {
    display: none;
  }
  .is-dropped {
    opacity: 0;
    -webkit-transform: scale3d(0.7,0.7,1) !important;
    transform: scale3d(0.7,0.7,1) !important;
  }
  .is-complete {
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transform: scale3d(1,1,1) !important;
    transform: scale3d(1,1,1) !important;
  }
  .animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .drop-area {
    bottom: get-vw(-68px, 1901);
    height: get-vw(136px, 1901);
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    background: transparent;
    text-align: center;
    -moz-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    -o-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    -webkit-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    @include breakpoint($bp-min-1901-width) {
      bottom: -68px;
      height: 136px;
    }
    @include breakpoint($bp-1024-width) {
      bottom: get-vw(-52.03px, 1024);
      height: get-vw(104.06px, 1024);
    }
    &.show {
      bottom: 0;
      z-index: 1000;
    }
    &.not-allowed {
      bottom: -500px;
      z-index: 0;
    }
    & > div {
      width: 100%;
      height: 100%;
    }
  }

  .drop-area__item {
    position: relative;
    color: black;
    display: inline-block;
    height: get-vw(136px, 1901);
    margin: 0 1% 0 1%;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    -webkit-backface-visibility: hidden;
    opacity: 0.7;
    overflow: hidden;
    width: get-vw(242px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 136px;
      width: 242px;
    }
    @include breakpoint($bp-1024-width) {
      height: get-vw(104.06px, 1024);
      width: get-vw(185.22px, 1024);
    }
    &.highlight {
      background: #ff3705;
      -webkit-transform: scale3d(1.08,1.08,1);
      transform: scale3d(1.08,1.08,1);
    }
    &:before {
      @include cssRightTriangle(get-vw(68px, 1901), white, top, right);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      @include breakpoint($bp-min-1901-width) {
        border-top-width: 68px;
        border-left-width: 68px;
      }
      @include breakpoint($bp-1024-width) {
        border-top-width: get-vw(52.03px, 1024);
        border-left-width: get-vw(52.03px, 1024);
      }
    }
    &:after {
      display: block;
      font-family: $tex-gyreschola-regular;
      font-size: get-vw(40px, 1901);
      height: get-vw(40px, 1901);
      line-height: get-vw(40px, 1901);
      position: absolute;
      text-align: center;
      right: 0;
      top: 0;
      width: get-vw(40px, 1901);
      z-index: 1;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        height: 40px;
        line-height: 40px;
        width: 40px;
      }
      @include breakpoint($bp-1024-width) {
        font-size: get-vw(30.6px, 1024);
        height: get-vw(30.6px, 1024);
        line-height: get-vw(30.6px, 1024);
        width: get-vw(30.6px, 1024);
      }
    }
    &:nth-child(1) {
      &:after {
        content: '1';
      }
      + .ui-sortable-placeholder {
        + .drop-area__item {
          &:after {
            content: '2';
          }
          + .drop-area__item {
            &:after {
              content: '3';
            }
          }
        }
      }
    }
    &:nth-child(2) {
      &:after {
        content: '2';
      }
      + .ui-sortable-placeholder {
        + .drop-area__item {
          &:after {
            content: '3';
          }
        }
      }
    }
    &:nth-child(3) {
      &:after {
        content: '3';
      }
    }


    .slide-content-inner {
      height: 100%;
      width: 100%;
      .img-wrapper {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .title {
        display: none;
      }
    }
  }

  .drop-feedback.drop-area__item::before {
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
  }

  .drop-feedback.drop-area__item::after {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  #shared-container {
    padding: get-vw(80px, 1901) 0 get-vw(227px, 1901);
    @include breakpoint($bp-min-1901-width) {
      padding: 80px 0 227px;
    }
    @include breakpoint($bp-1024-width) {
      padding: get-vw(80px, 768) 0 300px;
    }
    .choose-top3-img {
      height: auto;
      margin: 0 auto get-vw(60px, 1901);
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        margin: 0 auto 60px;
      }
      .top-choose-top3 {
        display: inline-block;
        font-family: $avalon-xlight;
        font-size: get-vw(45px, 1901);
        margin-right: get-vw(30px, 1901);
        text-align: right;
        width: get-vw(317px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 45px;
          margin-right: 30px;
          width: 317px;
        }
        @include breakpoint($bp-1024-width) {
          font-size: get-vw(43px, 768);
          margin-right: get-vw(30px, 768);
          width: get-vw(300px, 768);
        }
        .first-line {
          line-height: 0.7;
          text-align: left;
        }
        span {
          font-size: get-vw(90px, 1901);
          line-height: 0.1;
          vertical-align: top;
          @include breakpoint($bp-min-1901-width) {
            font-size: 90px;
          }
          @include breakpoint($bp-1024-width) {
            font-size: get-vw(86px, 768);
          }
        }
      }
      img {
        display: inline-block;
        margin-right: get-vw(30px, 1901);
        width: get-vw(370px, 1901);
        @include breakpoint($bp-min-1901-width) {
          margin-right: 30px;
          width: 370px;
        }
        @include breakpoint($bp-1024-width) {
          margin-right: 0;
          width: get-vw(360px, 768);
        }
      }
      .choose-top3-button {
        border-radius: 2px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: $avalon-medium;
        font-size: get-vw(22px, 1901);
        line-height: get-vw(67px, 1901);
        text-align: center;
        text-transform: uppercase;
        vertical-align: bottom;
        width: get-vw(275px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 22px;
          line-height: 67px;
          width: 275px;
        }
        @include breakpoint($bp-1024-width) {
          display: block;
          font-size: get-vw(21px, 768);
          line-height: get-vw(67px, 768);
          margin: get-vw(45px, 768) auto 0;
          width: get-vw(262px, 768);
        }
      }
    }
    .chosen-items-block {
      @include clear();
      line-height: 1;
      padding: get-vw(30px, 1901) 0;
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        padding: 30px 0;
      }
      @include breakpoint($bp-1024-width) {
        padding: 0;
      }
      .chosen-items-inner {
        max-width: 1606px;
        margin: 0 auto;
        position: relative;
        width: calc(68.8vw + 300px);
        @include breakpoint($bp-1024-width) {
          padding: get-vw(20px, 1024) get-vw(33px, 1024);
          width: 100%;
          @include clear();
        }
      }
      .chosen-items-block-wrapper {
        float: left;
        height: get-vw(451px, 1901);
        width: get-vw(1216px, 1901);
        @include breakpoint($bp-min-1901-width) {
          height: 451px;
          width: 1216px;
        }
        @include breakpoint($bp-1024-width) {
          float: none;
          height: auto;
          width: 100%;
        }
        .title {
          bottom: 8%;
          color: white;
          display: block;
          font-family: $avalon-medium;
          left: auto;
          line-height: 1.2;
          position: absolute;
          text-align: center;
          top: auto;
          width: 100%;
        }
        .first, .second, .third {
          color: black;
          &:before {
            @include cssRightTriangle(get-vw(110px, 1901), white, top, right);
            border-left-width: get-vw(119px, 1901);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            @include breakpoint($bp-min-1901-width) {
              border-top-width: 110px;
              border-left-width: 119px;
            }
            @include breakpoint($bp-1024-width) {
              border-top-width: get-vw(84px, 1024);
              border-left-width: get-vw(91px, 1024);
            }
          }
          &:after {
            display: block;
            font-family: $tex-gyreschola-regular;
            font-size: get-vw(60px, 1901);
            height: get-vw(60px, 1901);
            line-height: get-vw(50px, 1901);
            position: absolute;
            text-align: center;
            right: 0;
            top: 0;
            width: get-vw(80px, 1901);
            z-index: 1;
            @include breakpoint($bp-min-1901-width) {
              height: 60px;
              font-size: 60px;
              line-height: 50px;
              width: 80px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(45.9px, 1024);
              height: get-vw(45.9px, 1024);
              line-height: get-vw(38.25px, 1024);
              width: get-vw(61.2px, 1024);
            }
          }
        }
        .first {
          float: left;
          position: relative;
          width: 66%;
          @include breakpoint($bp-1024-width) {
            float: none;
            width: 100%;
          }
          &:before {
            border-top-width: get-vw(250px, 1901);
            border-left-width: get-vw(269px, 1901);
            @include breakpoint($bp-min-1901-width) {
              border-top-width: 250px;
              border-left-width: 269px;
            }
            @include breakpoint($bp-1024-width) {
              border-top-width: get-vw(191px, 1024);
              border-left-width: get-vw(205px, 1024);
            }
          }
          &:after {
            content: '1';
            font-size: get-vw(125px, 1901);
            height: get-vw(125px, 1901);
            line-height: get-vw(125px, 1901);
            width: get-vw(167px, 1901);
            @include breakpoint($bp-min-1901-width) {
              height: 125px;
              font-size: 125px;
              line-height: 125px;
              width: 167px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(95.7px, 1024);
              height: get-vw(95.7px, 1024);
              line-height: get-vw(95.7px, 1024);
              width: get-vw(127.8px, 1024);
            }
          }
          .title {
            font-size: get-vw(48px, 1901);
            @include breakpoint($bp-min-1901-width) {
              font-size: 48px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(36.74px, 1024);
            }
          }
        }
        .second {
          position: relative;
          @include breakpoint($bp-1024-width) {
            float: left;
          }
          &:after {
            content: '2';
          }
        }
        .third {
          bottom: 0;
          position: absolute;
          @include breakpoint($bp-1024-width) {
            bottom: auto;
            float: right;
            position: relative;
          }
          &:after {
            content: '3';
          }
        }
        .second, .third {
          width: 100%;
          @include breakpoint($bp-1024-width) {
            width: 49%;
          }
          .title {
            font-size: get-vw(24px, 1901);
            @include breakpoint($bp-min-1901-width) {
              font-size: 24px;
            }
            @include breakpoint($bp-1024-width) {
              font-size: get-vw(18.37px, 1024);
            }
          }
        }
        .img-wrap {
          float: right;
          height: 100%;
          position: relative;
          width: 32%;
          @include breakpoint($bp-1024-width) {
            @include clear();
            float: none;
            height: auto;
            margin-top: 2%;
            width: 100%;
          }
        }
      }
      .advert {
        float: right;
        height: 250px;
        margin: calc((23.72435vw - 250px)/2) auto 0;
        width: 300px;
        @include breakpoint($bp-min-1901-width) {
          margin: 100.5px 0 0;
        }
        @include breakpoint($bp-1024-width) {
          float: none;
          left: 50%;
          margin: 0 0 0 -150px;
          position: absolute;
          top: calc(100% + 25px);
        }
      }
    }
  }
}

#drag-icon-block {
  bottom: get-vw(120px, 1901);
  color: white;
  height: get-vw(60px, 1901);
  left: 50%;
  margin-left: get-vw(-30px, 1901);
  pointer-events: none;
  position: absolute;
  width: get-vw(60px, 1901);
  @include breakpoint($bp-min-1901-width) {
    bottom: 120px;
    height: 60px;
    margin-left: -30px;
    width: 60px;
  }
  @include breakpoint($bp-1024-width) {
    bottom: get-vw(91.84px, 1024);
    height: get-vw(45.92px, 1024);
    margin-left: get-vw(-22.96px, 1024);
    width: get-vw(45.92px, 1024);
  }
  &:before {
    content: '\e622';
    display: block;
    font-family: $ico-font;
    font-size: get-vw(60px, 1901);
    left: 0;
    line-height: get-vw(60px, 1901);
    position: absolute;
    top: 0;
    @include breakpoint($bp-min-1901-width) {
      font-size: 60px;
      line-height: 60px;
    }
    @include breakpoint($bp-1024-width) {
      font-size: get-vw(45.92px, 1024);
      line-height: get-vw(45.92px, 1024);
    }
  }
  &:after {
    content: 'click & drag';
    font-family: $avalon-medium;
    font-size: get-vw(20px, 1901);
    display: block;
    left: 50%;
    margin-left: get-vw(-70px, 1901);
    position: absolute;
    text-align: center;
    top: 105%;
    width: get-vw(140px, 1901);
    white-space: nowrap;
    @include breakpoint($bp-min-1901-width) {
      font-size: 20px;
      margin-left: -70px;
      width: 140px;
    }
    @include breakpoint($bp-1024-width) {
      font-size: get-vw(15.3px, 1024);
      margin-left: get-vw(-53.57px, 1024);
      width: get-vw(107.14px, 1024);
    }
  }
  .touch & {
    &:after {
      content: 'drag';
    }
  }
}

