#block-usanetwork-top3-usanetwork-top3-main-block {
  #slider-container {
    overflow: hidden;
    position: relative;
    .load-more-loader {
      margin-top: -16px;;
      top: 50%;
      z-index: 1;
    }
    // start
    .slide {
      position: relative;
      &.slick-active {
        .play-button {
          display: block;
          background: firebrick;
          cursor: pointer;
          left: 50%;
          position: absolute;
          top: 50%;
          height: 30px;
          width: 100px;
          z-index: 1;
        }
      }
      .play-button, .play-button.inactive {
        display: none;
      }
    }

    .video-wrapper {
      height: 100%;
      width: 100%;
      &.active {
        display: block;
        background: #000000;
        height: 100%;
        width: 100%;
        .fix-drag {
          background: rgba(255,255,255, 0.3);
          position: absolute;
          height: calc(100% - 33px);
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    .img-wrapper {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    // end

    .info {
      background: yellowgreen;
      right: 0;
      position: absolute;
      top: 0;
    }
    .counter {
      background: yellowgreen;
      left: 0;
      position: absolute;
      top: 0;
    }
    .control-button {
      background: yellowgreen;
      position: absolute;
      top: 50%;
      height: 50px;
      width: 50px;
    }
    .next.control-button {
      position: absolute;
      right: 0;
    }
    .prev.control-button {
      position: absolute;
      left: 0;
    }
    .drag-group {
      background: yellowgreen;
      left: 0;
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .drag-group-wrapper {
      clear: both;
      float: none;
      position: relative;
      .drop-area-item {
        float: left;
        height: 30px;
        width: 33.33333%;
      }
      #drop-area-item-one {
        background: red;
      }
      #drop-area-item-two {
        background: green;
      }
      #drop-area-item-three {
        background: blue;
      }
    }
  }
  .slick-slider {
    width: 100%;
    .slide {
      height: 56.25vw;
      img {
        width: 100%;
      }
      .hide-block {
        display: none;
      }
    }
  }
  #compare-button {
    background: red;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    &.ready {
      background: green;
      cursor: pointer;
      opacity: 1;
    }
  }
  #share-button {
    background: green;
    cursor: pointer;
    display: none;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 80px;
  }
  #share-block {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    .first{
      display: inline-block;
      width: 70%;
    }
    .img-wrap{
      display: inline-block;
      width: 28%;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  #share-img {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .container-message {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    opacity: .7;
    display: none;
    font-size: 2.7em;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    padding: 15px 0 0 0;
    top: 0;
    left: 0;
  }
  .slider-wrapper {
    margin: 0 auto;
  }
  .slide-content {
    font-size: 2em;
    display: inline-block;
    background: transparent;
    color: #76737C;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .slide-content-inner {
    height: 100%;
    width: 100%;
    &.inactive {
      display: none;
    }
  }
  .slide-content_remove {
    display: none;
  }
  .slide-content:hover {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .slide-content:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .is-dragging {
    background: #4e4c52;
  }
  .is-active {
    z-index: 100;
  }
  .slide-item-grab {
    font-size: 2em;
    display: inline-block;
    margin: calc(50%*0.5625 - 104px) calc(50% - 136px);
    width: 8.5em;
    height: 6.5em;
    background: #f9f9f9;
    color: #76737C;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -9000px;
    position:absolute;
    z-index: 500000;
  }
  .slide-item-grab_remove {
    display: none;
  }
  .slide-item-grab:hover {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .slide-item-grab:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .is-dropped {
    opacity: 0;
    -webkit-transform: scale3d(0.7,0.7,1) !important;
    transform: scale3d(0.7,0.7,1) !important;
  }
  .is-complete {
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transform: scale3d(1,1,1) !important;
    transform: scale3d(1,1,1) !important;
  }
  .animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .drop-area {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 17em;
    background: transparent;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6,0,0.4,1);
    transition: transform 0.5s cubic-bezier(0.6,0,0.4,1);
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    &.show {
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
      & > div {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }
    & > div {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 0.4s 0.3s;
      transition: transform 0.4s 0.3s;
      -webkit-transform: translate3d(0,50%,0);
      transform: translate3d(0,50%,0);
    }
  }

  .drop-area__item {
    position: relative;
    display: inline-block;
    margin: 3% 1% 0% 1%;
    max-width: 23em;
    width: 20%;
    height: 13em;
    border-radius: 4px;
    background: rgba(255,6,6,0.7);
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    &.highlight {
      background: #ff3705;
      -webkit-transform: scale3d(1.08,1.08,1);
      transform: scale3d(1.08,1.08,1);
    }
    &::before, &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: rgba(0,0,0,0.15);
      font-size: 1.5em;
      margin-top: -0.35em;
      font-family: FontAwesome;
      pointer-events: none;
    }
    &::before {
      content: '\f067';
      font-size: 2.5em;
      color: rgba(248, 248, 255,0.5);
    }
    &::after {
      color: rgba(255,253,197,0.6);
      content: '\f00c';
      font-size: 3em;
      margin-top: -0.5em;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: scale3d(2,2,1);
      transform: scale3d(2,2,1);
    }
    .slide-content-inner {
      height: 100%;
      width: 100%;
      .img-wrapper {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .drop-feedback.drop-area__item::before {
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
  }

  .drop-feedback.drop-area__item::after {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  .first-wrapper{
    border: 4px solid #ff3705;
    width: 20%;
    position: absolute;
    height: 13em;
    z-index: 1;
    margin: 3% 0 0 18%;
    background: url(../images/first_50.png);
    background-repeat: no-repeat;
    background-position: 152px 80px;
  }
  .second-wrapper{
    border: 4px solid #ff3705;
    width: 20%;
    position: absolute;
    height: 13em;
    z-index: 1;
    margin: 3% 0 0 40%;
    background: url(../images/second_50.png);
    background-repeat: no-repeat;
    background-position: 152px 80px;
  }
  .third-wrapper{
    border: 4px solid #ff3705;
    width: 20%;
    position: absolute;
    height: 13em;
    z-index: 1;
    margin: 3% 0 0 62%;
    background: url(../images/third_50.png);
    background-repeat: no-repeat;
    background-position: 152px 80px;
  }

  .dummy,
  .dummy::after {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0.25em 0;
    height: 0.65em;
    border-radius: 2px;
    background: rgba(0,0,0,0.15);
    -webkit-backface-visibility: hidden;
  }

  .dummy {
    width: 90%;
  }

  .dummy::after {
    width: 60%;
    content: '';
  }

  .helper {
    position: absolute !important;
    margin: 0;
  }

  .main {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
  }

  .spotimg {
    z-index: 4;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity:1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
  }

  .info {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3001;
    color: white;
    border-radius: 50%;
    opacity: .5px;
  }
  #iinfo {
    z-index: 3010;
    color: white;
    border: 2px solid white;
    padding: 5px 20px;
    font-size: 28px;
    font-weight: 900;
    position: absolute;
    cursor: pointer;
  }

  #info {
    padding: 26px 25px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    position: absolute;
    top: 15px;
    right: 16px;
    background-color: rgba(0,0,0, 0.4);
    z-index: 3003;
  }

  #synopsis {
    z-index: 1007;
    color: white;
    position: relative;
    margin: 5% 10%;
    font-size:16px;
    opacity:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }


  @media screen and (max-width: 50em) {
    .slide-content {
      font-size: 1.5em;
    }
    .drop-area {
      font-size: 0.6em;
    }
  }

  @media screen and (max-width: 25.5em) {
    .slider-wrapper {
      padding: 0 2em;
    }
    .slide-content {
      font-size: 1em;
    }
  }
}
