#block-usanetwork-top3-usanetwork-top3-main-block {
  background: black;
  height: 48.5vw;
  padding: 156px 156px 100px;
  position: relative;
  width: 100%;
  & > .content {
    height: 100%;
    position: relative;
    width: 100%;
  }
  #slider-container {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: calc(100% - 410px);
    .load-more-loader {
      margin-top: -16px;;
      top: 50%;
      z-index: 1;
    }
    // start
    .slide {
      position: relative;
      &.slick-active {
        .play-button {
          background: none;
          border: 3px solid white;
          border-radius: 50%;
          color: white;
          cursor: pointer;
          display: block;
          height: 40px;
          left: 15px;
          position: absolute;
          top: 15px;
          width: 40px;
          z-index: 1;
          &:before {
            content: '\e60f';
            display: block;
            font-family: "ico-font";
            font-size: 32px;
            height: 100%;
            line-height: 34px;
            position: relative;
            width: 100%;
          }
        }
      }
      .play-button, .play-button.inactive {
        display: none;
      }
    }

    .video-wrapper {
      height: 100%;
      width: 100%;
      &.active {
        display: block;
        background: #000000;
        height: 100%;
        width: 100%;
        .fix-drag {
          position: absolute;
          height: calc(100% - 33px);
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    .img-wrapper {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    // end

    #counter {
      color: white;
      font-size: 18px;
      left: 70px;
      position: absolute;
      top: 15px;
    }
    .control-button {
      background: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      margin-top: -25px;
      position: absolute;
      top: 50%;
      height: 50px;
      width: 30px;
      &:before {
        display: block;
        font-family: "ico-font";
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        position: absolute;
      }
    }
    .next.control-button {
      right: 0;
      &:before {
        content: "\e608";

      }
    }
    .prev.control-button {
      left: 0;
      &:before {
        content: "\e607";
      }
    }
    .drag-group {
      left: 0;
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .drag-group-wrapper {
      clear: both;
      float: none;
      position: relative;
      .drop-area-item {
        float: left;
        height: 30px;
        width: 33.33333%;
      }
      #drop-area-item-one {
        background: red;
      }
      #drop-area-item-two {
        background: green;
      }
      #drop-area-item-three {
        background: blue;
      }
    }
  }
  .right-sidebar {
    float: left;
    position: relative;
    width: 410px;
  }
  .slick-slider {
    width: 100%;
    .slick-list, .slick-track {
      height: 100%;
    }
    .slide {
      height: 100%;
      img {
        width: 100%;
      }
      .hide-block {
        display: none;
      }
    }
  }
  #share-button {
    background: red;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    &.ready {
      background: green;
      cursor: pointer;
      opacity: 1;
    }
  }
  #share-button-temp {
    background: green;
    cursor: pointer;
    display: none;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 80px;
  }
  #info-block {
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    .info-block-wrapper {
      background: black;
      height: 100%;
      opacity: 0.7;
      position: relative;
      width: 100%;
    }
    .color-text {
      background: none;
    }
  }
  #info {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    z-index: 1;
    &:before {
      content: '\e61d';
      display: block;
      font-family: "ico-font";
      font-size: 40px;
      height: 100%;
      line-height: 40px;
      position: relative;
      width: 100%;
    }
  }
  .close-button {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;
    z-index: 1;
    &:before {
      content: 'X';
      display: block;
      //font-family: "ico-font";
      font-size: 32px;
      font-weight: bold;
      height: 100%;
      line-height: 34px;
      position: relative;
      width: 100%;
    }
  }
  #share-block-preview {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .share-block-preview-wrapper {
      height: 100%;
      opacity: 0.7;
      position: relative;
      width: 100%;
    }
    .first, .second, .third{
      display: inline-block;
      width: 23%;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  #share-block {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    .first {
      display: inline-block;
      width: 70%;
    }
    .img-wrap {
      display: inline-block;
      width: 28%;
    }
  }
  #share-img {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .container-message {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    opacity: .7;
    display: none;
    font-size: 2.7em;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    padding: 15px 0 0 0;
    top: 0;
    left: 0;
  }
  .slider-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .slide-content {
    font-size: 2em;
    display: inline-block;
    background: transparent;
    color: #76737C;
    text-align: center;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-content-inner {
    height: 100%;
    width: 100%;
    &.inactive {
      display: none;
    }
  }
  .slide-content_remove {
    display: none;
  }
  .is-dragging {
    background: #4e4c52;
  }
  .is-active {
    z-index: 100;
  }
  .slide-item-grab {
    font-size: 2em;
    display: inline-block;
    margin: calc(50%*0.5625 - 104px) calc(50% - 136px);
    width: 8.5em;
    height: 6.5em;
    background: #f9f9f9;
    color: #76737C;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -9000px;
    position:absolute;
    z-index: 500000;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-item-grab_remove {
    display: none;
  }
  .is-dropped {
    opacity: 0;
    -webkit-transform: scale3d(0.7,0.7,1) !important;
    transform: scale3d(0.7,0.7,1) !important;
  }
  .is-complete {
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transform: scale3d(1,1,1) !important;
    transform: scale3d(1,1,1) !important;
  }
  .animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .drop-area {
    height: calc((100vw - 712px)*0.1125 + 30px);
    margin: calc((100vw - 712px)*0.05625) 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    background: transparent;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6,0,0.4,1);
    transition: transform 0.5s cubic-bezier(0.6,0,0.4,1);
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    &.show {
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
      & > div {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }
    & > div {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 0.4s 0.3s;
      transition: transform 0.4s 0.3s;
      -webkit-transform: translate3d(0,50%,0);
      transform: translate3d(0,50%,0);
    }
  }

  .drop-area__item {
    position: relative;
    display: inline-block;
    height: calc((100vw - 712px)*0.1125);
    margin: 30px 1% 0 1%;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    -webkit-backface-visibility: hidden;
    opacity: 0.7;
    overflow: hidden;
    width: 20%;
    &.highlight {
      background: #ff3705;
      -webkit-transform: scale3d(1.08,1.08,1);
      transform: scale3d(1.08,1.08,1);
    }
    &::before, &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: rgba(0,0,0,0.15);
      font-size: 1.5em;
      margin-top: -0.35em;
      font-family: FontAwesome;
      pointer-events: none;
    }
    &::before {
      content: '\f067';
      font-size: 2.5em;
      color: rgba(248, 248, 255,0.5);
    }
    &::after {
      color: rgba(255,253,197,0.6);
      content: '\f00c';
      font-size: 3em;
      margin-top: -0.5em;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: scale3d(2,2,1);
      transform: scale3d(2,2,1);
    }
    .slide-content-inner {
      height: 100%;
      width: 100%;
      .img-wrapper {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .drop-feedback.drop-area__item::before {
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
  }

  .drop-feedback.drop-area__item::after {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  .dummy,
  .dummy::after {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0.25em 0;
    height: 0.65em;
    border-radius: 2px;
    background: rgba(0,0,0,0.15);
    -webkit-backface-visibility: hidden;
  }

  .dummy {
    width: 90%;
  }

  .dummy::after {
    width: 60%;
    content: '';
  }

  .helper {
    position: absolute !important;
    margin: 0;
  }

  .main {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
  }

  .spotimg {
    z-index: 4;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity:1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
  }

  #synopsis {
    z-index: 1007;
    color: white;
    position: relative;
    margin: 5% 10%;
    font-size:16px;
    opacity:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }


  @media screen and (max-width: 50em) {
    .slide-content {
      font-size: 1.5em;
    }
    .drop-area {
      font-size: 0.6em;
    }
  }

  @media screen and (max-width: 25.5em) {
    .slider-wrapper {
      padding: 0 2em;
    }
    .slide-content {
      font-size: 1em;
    }
  }
}
