#block-usanetwork-top3-usanetwork-top3-main-block {
  background: url(../images/top3back.png) repeat;
  height: auto;
  padding: get-vw(120px, 1901) get-vw(110px, 1901);
  position: relative;
  width: 100%;
  @include breakpoint($bp-min-1901-width) {
    padding: 120px 110px;
  }
  & > .content {
    @include clear();
    height: auto;
    margin: 0 auto;
    max-width: 1681px;
    position: relative;
    width: 100%;
  }
  #slider-container {
    float: left;
    height: get-vw(720px, 1901);
    overflow: hidden;
    position: relative;
    width: get-vw(1280px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 720px;
      width: 1280px;
    }
    @include breakpoint($bp-1600-width) {
      height: calc((100% - 320px)*0.5625);
      width: calc(100% - 320px);
    }
    .load-more-loader {
      margin-top: -16px;
      top: 50%;
      z-index: 2;
    }
    // start
    .slide {
      position: relative;
      &.slick-active {
        .play-button {
          background: none;
          border: 3px solid white;
          border-radius: 50%;
          color: white;
          cursor: pointer;
          display: block;
          height: get-vw(53px, 1901);
          left: get-vw(40px, 1901);
          position: absolute;
          top: get-vw(40px, 1901);
          width: get-vw(53px, 1901);
          z-index: 1;
          @include breakpoint($bp-min-1901-width) {
            height: 53px;
            left: 40px;
            top: 40px;
            width: 53px;
          }
          &:before {
            content: '\e627';
            display: block;
            font-family: "ico-font";
            font-size: get-vw(40px, 1901);
            height: 100%;
            line-height: calc(2.7vw - 3px);
            position: relative;
            text-align: center;
            width: 100%;
            @include breakpoint($bp-min-1901-width) {
              font-size: 40px;
              line-height: 50px;
            }
          }
        }
      }
      .play-button, .play-button.inactive {
        display: none;
      }
    }

    .video-wrapper {
      height: 100%;
      width: 100%;
      &.active {
        display: block;
        background: #000000;
        height: 100%;
        width: 100%;
        .fix-drag {
          position: absolute;
          height: calc(100% - 33px);
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    .img-wrapper {
      height: 100%;
      position: relative;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    // end

    #counter {
      color: white;
      font-size: get-vw(28px, 1901);
      left: get-vw(110px, 1901);
      position: absolute;
      top: get-vw(30px, 1901);
      @include breakpoint($bp-min-1901-width) {
        font-size: 28px;
        left: 110px;
        top: 30px;
      }
    }
    .control-button {
      background: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      margin-top: get-vw(-53px, 1901);
      position: absolute;
      top: 50%;
      height: get-vw(106px, 1901);
      width: get-vw(40px, 1901);
      @include breakpoint($bp-min-1901-width) {
        height: 106px;
        margin-top: -53px;
        width: 40px;
      }
      &:before {
        display: block;
        font-family: "ico-font";
        font-size: get-vw(45px, 1901);
        font-weight: bold;
        line-height: get-vw(106px, 1901);
        position: absolute;
        @include breakpoint($bp-min-1901-width) {
          font-size: 45px;
          line-height: 106px;
        }
      }
    }
    .next.control-button {
      right: 0;
      &:before {
        content: "\e608";
        right: get-vw(-10px, 1901);
        @include breakpoint($bp-min-1901-width) {
          right: -10px;
        }
      }
    }
    .prev.control-button {
      left: 0;
      &:before {
        content: "\e607";
        left: get-vw(-10px, 1901);
        @include breakpoint($bp-min-1901-width) {
          left: -10px;
        }
      }
    }
    .drag-group {
      left: 0;
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .drag-group-wrapper {
      clear: both;
      float: none;
      position: relative;
      .drop-area-item {
        float: left;
        height: 30px;
        width: 33.33333%;
        .title {
          display: none;
        }
      }
      #drop-area-item-one {
        background: red;
      }
      #drop-area-item-two {
        background: green;
      }
      #drop-area-item-three {
        background: blue;
      }
    }
  }
  .right-sidebar {
    float: left;
    position: relative;
    width: calc(100% - 67.33298vw);
    @include breakpoint($bp-min-1901-width) {
      width: calc(100% - 1280px);
    }
    @include breakpoint($bp-1600-width) {
      width: 320px;
    }
    .choose-top3-img {
      height: auto;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .advert {
      background: grey;
      height: 250px;
      margin: 0 auto;
      width: 300px;
    }
  }
  .slick-slider {
    width: 100%;
    .slick-list, .slick-track {
      height: 100%;
    }
    .slide {
      height: 100%;
      img {
        width: 100%;
      }
      .hide-block {
        display: none;
      }
    }
  }
  #share-button, #share-button-temp {
    color: $consum-carousel-odd;
    font-family: $avalon-medium;
    font-size: get-vw(30px, 1901);
    line-height: get-vw(67px, 1901);
    margin: get-vw(40px, 1901) auto get-vw(60px, 1901);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 75%;
    @include breakpoint($bp-min-1901-width) {
      font-size: 30px;
      line-height: 67px;
      margin: 40px auto 60px;
    }
    &:not(.ready) {
      background: black;
    }
    &.ready {
      color: white;
      cursor: pointer;
    }
  }
  #share-button-temp {
    display: none;
  }
  #info-block {
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    .info-block-wrapper {
      background: black;
      height: 100%;
      opacity: 0.7;
      position: relative;
      width: 100%;
    }
    .info-text {
      bottom: get-vw(250px, 1901);
      font-family: $avalon-medium;
      line-height: 1.3;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      @include breakpoint($bp-min-1901-width) {
        bottom: 250px;
      }
      > div {
        margin: 0 auto;
        max-width: 70%;
      }
      .top-text {
        font-size: get-vw(33px, 1901);
        margin-bottom: get-vw(38px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 33px;
          margin-bottom: 38px;
        }
      }
      .color-text {
        background: none;
        font-size: get-vw(38px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 38px;
        }
      }
      .bottom-text {
        font-size: get-vw(25px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 25px;
        }
      }
      #start-button {
        color: white;
        cursor: pointer;
        font-family: $avalon-medium;
        font-size: get-vw(30px, 1901);
        line-height: get-vw(67px, 1901);
        margin: get-vw(20px, 1901) auto;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: get-vw(250px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 30px;
          line-height: 67px;
          margin: 20px auto;
          width: 250px;
        }
      }
    }
    .help-image {
      background: url('../images/top3_drop_help.png') no-repeat;
      background-size: contain;
      bottom: get-vw(80px, 1901);
      height: get-vw(141px, 1901);
      left: 50%;
      margin-left: get-vw(-317px, 1901);
      position: absolute;
      width: get-vw(634px, 1901);
      @include breakpoint($bp-min-1901-width) {
        bottom: 80px;
        height: 141px;
        margin-left: -317px;
        width: 634px;
      }
    }
    .info-drag-group {
      bottom: 0;
      left: 0;
      height: get-vw(68px, 1901);
      margin: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        height: 68px;
      }
    }
    .info-drag-item {
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      display: inline-block;
      height: get-vw(68px, 1901);
      margin: 0 1% 0 1%;
      opacity: 0.7;
      overflow: hidden;
      width: get-vw(242px, 1901);
      z-index: 2;
      @include breakpoint($bp-min-1901-width) {
        height: 68px;
        width: 242px;
      }
      &:nth-child(1) {
        &:after {
          content: '1';
        }
      }
      &:nth-child(2) {
        &:after {
          content: '2';
        }
      }
      &:nth-child(3) {
        &:after {
          content: '3';
        }
      }
      &:before {
        @include cssRightTriangle(get-vw(68px, 1901), white, top, right);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          border-top-width: 68px;
          border-left-width: 68px;
        }
      }
      &:after {
        color: black;
        display: block;
        font-family: $tex-gyreschola-regular;
        font-size: get-vw(40px, 1901);
        height: get-vw(40px, 1901);
        line-height: get-vw(40px, 1901);
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        width: get-vw(40px, 1901);
        z-index: 1;
        @include breakpoint($bp-min-1901-width) {
          height: 40px;
          font-size: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
  #info {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: get-vw(53px, 1901);
    position: absolute;
    right: get-vw(40px, 1901);
    top: get-vw(40px, 1901);
    width: get-vw(53px, 1901);
    z-index: 1;
    @include breakpoint($bp-min-1901-width) {
      height: 53px;
      right: 40px;
      top: 40px;
      width: 53px;
    }
    &:before {
      content: '\e623';
      display: block;
      font-family: "ico-font";
      font-size: get-vw(40px, 1901);
      height: 100%;
      line-height: calc(2.7vw - 3px);
      position: relative;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  .close-button {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: get-vw(53px, 1901);
    position: absolute;
    right: get-vw(40px, 1901);
    top: get-vw(40px, 1901);
    width: get-vw(53px, 1901);
    z-index: 1;
    @include breakpoint($bp-min-1901-width) {
      height: 53px;
      right: 40px;
      top: 40px;
      width: 53px;
    }
    &:before {
      content: '\e624';
      display: block;
      font-family: "ico-font";
      font-size: get-vw(40px, 1901);
      height: 100%;
      line-height: calc(2.7vw - 3px);
      position: relative;
      text-align: center;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  #share-block-preview {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .share-block-preview-wrapper {
      height: 100%;
      opacity: 0.7;
      padding-top: get-vw(216px, 1901);
      position: relative;
      width: 100%;
      @include breakpoint($bp-min-1901-width) {
        padding-top: 216px;
      }
      @include breakpoint($bp-1600-width) {
        padding-top: get-vw(184px, 1600);
      }
    }
    .first, .second, .third {
      display: inline-block;
      position: relative;
      width: 32%;
      .title {
        display: none;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    .first-text-line {
      font-family: $avalon-medium;
      font-size: get-vw(24px, 1901);
      margin: 0 auto;
      text-align: center;
      width: 70%;
      @include breakpoint($bp-min-1901-width) {
        font-size: 24px;
      }
    }
    .last-text-line {
      font-family: $avalon-medium;
      font-size: get-vw(48px, 1901);
      text-align: center;
      @include breakpoint($bp-min-1901-width) {
        font-size: 48px;
      }
    }
    .preview-items-block {
      margin: get-vw(15px, 1901) auto get-vw(30px, 1901);
      position: relative;
      width: 70%;
      @include breakpoint($bp-min-1901-width) {
        margin: 15px auto 30px;
      }
    }
  }
  #share-block {
    height: 100%;
    left: 0;
    padding: 0 2.5%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    .share-block-wrapper {

    }
    .first, .second, .third {
      position: relative;
      .title {
        bottom: 8%;
        font-family: $avalon-medium;
        left: auto;
        line-height: 1.2;
        text-align: center;
        top: auto;
        width: 100%;
      }
    }
    .first {
      display: inline-block;
      width: 66%;
      .title {
        font-size: get-vw(48px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 48px;
        }
      }
    }
    .second, .third {
      .title {
        font-size: get-vw(24px, 1901);
        @include breakpoint($bp-min-1901-width) {
          font-size: 24px;
        }
      }
    }
    .img-wrap {
      display: inline-block;
      width: 32%;
    }
  }
  #share-img {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .container-message {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    opacity: .7;
    display: none;
    font-size: 2.7em;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    padding: 15px 0 0 0;
    top: 0;
    left: 0;
  }
  .slider-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .slide-content {
    display: block;
    background: transparent;
    color: #76737C;
    text-align: center;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-content-inner {
    height: 100%;
    width: 100%;
    &.inactive {
      display: none;
    }
    .title {
      color: white;
      font-family: $avalon-demi;
      font-size: get-vw(32px, 1901);
      left: get-vw(110px, 1901);
      position: absolute;
      top: get-vw(70px, 1901);
      @include breakpoint($bp-min-1901-width) {
        font-size: 32px;
        left: 110px;
        top: 70px;
      }
    }
  }
  .slide-content_remove {
    display: none;
  }
  .is-dragging {
    background: #4e4c52;
  }
  .is-active {
    z-index: 100;
  }
  .slide-item-grab {
    font-size: 2em;
    display: inline-block;
    height: get-vw(136px, 1901);
    margin: calc(50%*0.5625 - 104px) calc(50% - 136px);
    width: get-vw(242px, 1901);
    background: #f9f9f9;
    color: #76737C;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -9000px;
    position:absolute;
    z-index: 500000;
    @include breakpoint($bp-min-1901-width) {
      height: 136px;
      width: 242px;
    }
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .preview-item-grab {
    display: inline-block;
    margin: 0;
    width: 32%;
    height: auto;
    background: #f9f9f9;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -9000px;
    position:absolute;
    z-index: 500000;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  .slide-item-grab_remove, .preview-item-grab_remove {
    display: none;
  }
  .is-dropped {
    opacity: 0;
    -webkit-transform: scale3d(0.7,0.7,1) !important;
    transform: scale3d(0.7,0.7,1) !important;
  }
  .is-complete {
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transform: scale3d(1,1,1) !important;
    transform: scale3d(1,1,1) !important;
  }
  .animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .drop-area {
    bottom: get-vw(-68px, 1901);
    height: get-vw(136px, 1901);
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    background: transparent;
    text-align: center;
    -moz-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    -o-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    -webkit-transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    @include breakpoint($bp-min-1901-width) {
      bottom: -68px;
      height: 136px;
    }
    &.show {
      bottom: 0;
      z-index: 1000;
    }
    &.not-allowed {
      bottom: -500px;
      z-index: 0;
    }
    & > div {
      width: 100%;
      height: 100%;
    }
  }

  .drop-area__item {
    position: relative;
    display: inline-block;
    height: get-vw(136px, 1901);
    margin: 0 1% 0 1%;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    -webkit-backface-visibility: hidden;
    opacity: 0.7;
    overflow: hidden;
    width: get-vw(242px, 1901);
    @include breakpoint($bp-min-1901-width) {
      height: 136px;
      width: 242px;
    }
    &.highlight {
      background: #ff3705;
      -webkit-transform: scale3d(1.08,1.08,1);
      transform: scale3d(1.08,1.08,1);
    }
    &:before {
      @include cssRightTriangle(get-vw(68px, 1901), white, top, right);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      @include breakpoint($bp-min-1901-width) {
        border-top-width: 68px;
        border-left-width: 68px;
      }
    }
    &:after {
      display: block;
      font-family: $tex-gyreschola-regular;
      font-size: get-vw(40px, 1901);
      height: get-vw(40px, 1901);
      line-height: get-vw(40px, 1901);
      position: absolute;
      text-align: center;
      right: 0;
      top: 0;
      width: get-vw(40px, 1901);
      z-index: 1;
      @include breakpoint($bp-min-1901-width) {
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        width: 40px;
      }
    }
    .slide-content-inner {
      height: 100%;
      width: 100%;
      .img-wrapper {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .title {
        display: none;
      }
    }
  }
  #one {
    &:after {
      content: '1';
    }
  }
  #two {
    &:after {
      content: '2';
    }
  }
  #three {
    &:after {
      content: '3';
    }
  }

  .drop-feedback.drop-area__item::before {
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
  }

  .drop-feedback.drop-area__item::after {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  .dummy,
  .dummy::after {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0.25em 0;
    height: 0.65em;
    border-radius: 2px;
    background: rgba(0,0,0,0.15);
    -webkit-backface-visibility: hidden;
  }

  .dummy {
    width: 90%;
  }

  .dummy::after {
    width: 60%;
    content: '';
  }

  .helper {
    position: absolute !important;
    margin: 0;
  }

  .main {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
  }

  .spotimg {
    z-index: 4;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity:1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
  }

  #synopsis {
    z-index: 1007;
    color: white;
    position: relative;
    margin: 5% 10%;
    font-size:16px;
    opacity:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
}

#drag-icon-block {
  bottom: get-vw(120px, 1901);
  color: white;
  height: get-vw(60px, 1901);
  left: 50%;
  margin-left: get-vw(-30px, 1901);
  //pointer-events: none;
  position: absolute;
  width: get-vw(60px, 1901);
  @include breakpoint($bp-min-1901-width) {
    bottom: 120px;
    height: 60px;
    margin-left: -30px;
    width: 60px;
  }
  &:before {
    content: '\e622';
    display: block;
    font-family: $ico-font;
    font-size: get-vw(60px, 1901);
    left: 0;
    line-height: get-vw(60px, 1901);
    position: absolute;
    top: 0;
    @include breakpoint($bp-min-1901-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }
  &:after {
    content: 'click & drag';
    font-family: $avalon-medium;
    font-size: get-vw(20px, 1901);
    display: block;
    left: 50%;
    margin-left: get-vw(-70px, 1901);
    position: absolute;
    text-align: center;
    top: 105%;
    width: get-vw(140px, 1901);
    white-space: nowrap;
    @include breakpoint($bp-min-1901-width) {
      font-size: 20px;
      margin-left: -70px;
      width: 140px;
    }
  }
  .touch & {
    &:after {
      content: 'drag';
    }
  }
}
