#utilities {
  height: 45px;
  opacity: 1;
  z-index: 50000;
  /* padding-left: 12px;
  border-bottom: 1px solid $gray-ultra-med; */
//  overflow: hidden;
  position: fixed;
  width: 100%;
  @extend .clearfix;
  #utilities-wrap {
    background: #000000;
    opacity: 0.9;
    height: 100%;
  }
  &.utilities-head-show {
    .utilties-main-group {
      height:100%;
    }
    #utilities-wrap {
      border-bottom: 1px solid $gray-ultra-med;
    }
    #head-show {
      padding-left: 12px;
    }
  }
  h1#page-title, h2#page-title {
    @include float-left;
    @extend %regular-18;
    margin: 0 0 0 10px;
    line-height: 40px;
    white-space: nowrap;
  }

  .breadcrumb {
    @include float-left;
    color: $gray-light;
    font-size: 0;
    margin: 2px 0 0 0;
    overflow: hidden;
    text-transform: uppercase;
    > a {
      @include inline-block;
      @extend %semi-18;
      line-height: 40px;
      @include link-colors($white, $white, $white);
      vertical-align: middle;
    }
    .separator {
      @include inline-block;
      //background: sprite($icons-sprites, 'line-arrow-gray');
      //background:  url('../images/icons-sprite.png') 0 0;
      @extend .icons-line-arrow-gray;
      height: 36px;
      margin: -4px 6px 0 5px;
      width: 11px;
      vertical-align: middle;
    }
    .show-section {
      @extend %semi-headline;
      @include inline-block;
      color: $white;
      text-transform: none;
      font-size: 18px;
      line-height: 40px;
			a {
			  color: $white;
			}
    }

  }
  .block-usanetwork-showpages {
    .breadcrumb {
      text-transform:none;
    }
  }
  .show-time {
    @extend %regular-headline;
    @include float-right;
    color: #bababa;
    display: none;
    font-size: 18px;
    margin: 15px 0 0 35px;
  }
  @include breakpoint(0px 400px) {
    .breadcrumb {
      margin-top: 4px;
      > a,
      .show-section {
        font-size: 16px;
      }
    }
  }

  @include breakpoint($bp-on-now) {
    height: 50px;
    &.utilities-head-show {
      #head-show {
        padding-left: 15px;
      }
    }
    h1#page-title, h2#page-title {
        font-size: 24px;
      line-height: 52px;
        line-height: 50px;
      }
    .breadcrumb {
      margin-top: 0;
      > a {
        font-size: 24px;
        line-height: 50px;
      }
      .separator {
        margin: -5px 13px 0 8px;
        width: 20px;
        line-height: 52px;
      }
      .show-section {
        font-size: 24px;
        line-height: 52px;
      }
    }

  }

  @include breakpoint(1000px) {
    .show-time {
      display: inline;
    }

  }
}
