.file-video-mpx {
  &.view-mode-inline_content {
    iframe {
      width: 615px;
      height: 346px;
      margin: 0;
      @include breakpoint($bp-video-player-section) {
        width: 300px;
        height: 184px;
      }
      @include breakpoint($bp-video-very-large-width) {
        width: 930px;
        height: 523px;
      }
    }
  }
}

.node-type-usa-tve-video,
.node-type-usa-video {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

.node-type-usa-tve-video,
.node-type-usa-video {
  #block-system-main {
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 16px;
  }
}

.page-videos-live {
  #content {
    .block {
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-family: $headline-semi;
        @include breakpoint($bp-video-player-section) {
          font-size: 16px;
          font-family: $headline-bold;
        }
      }
      .schedule-link {
        padding-left: 1.5em;
        a {
          text-transform: none;
          color: #FFFFFF;
          font-size: 16px;
          font-family: $headline-semi;
          @include breakpoint($bp-video-player-section) {
            font-size: 12px;
            font-family: $headline-bold;
          }
        }
      }
    }
  }

  .file.view-mode-full {
    .meta-head {
      h1.show-name {
        font-family: "Proxima N W01 Smbd";
        font-size: 30px;
      }
    }
  }
}

.file-video-mpx {
  .inlineLoader {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
    background: url(../images/ajax-loader.gif) no-repeat scroll 50% 50%;
  }
}

#block-views-usa-mpx-video-latest-live-video {
  .view-mode-full {
    .show-title {
      @include breakpoint($bp-video-large-width) {
        margin: 15px 0;
      }
      @include breakpoint($bp-grid-small-wide-4) {
        margin: 15px 0;
      }
      h1.show-name {
        float: left;
        margin-right: 10px;
        @extend %regular;
        font-size: 16px;
        @include breakpoint($bp-video-large-width) {
          font-family: $bodytext-semi;
          font-size: 30px;
        }
        @include breakpoint($bp-grid-small-wide-4) {
          font-family: $bodytext-semi;
          font-size: 30px;
        }
      }
      h2.tune-in {
        float: left;
        margin: 0;
        color: #878785;
        @extend %regular;
        font-size: 16px;
        @include breakpoint($bp-video-large-width) {
          font-family: $bodytext-semi;
          font-size: 30px;
        }
        @include breakpoint($bp-grid-small-wide-4) {
          font-family: $bodytext-semi;
          font-size: 30px;
        }
      }
    }
    .description {
      font-size: 14px;
      @include breakpoint($bp-video-large-width) {
        font-size: 16px;
      }
      @include breakpoint($bp-grid-small-wide-4) {
        font-size: 16px;
      }
      h3.title {
        margin: 0;
        color: #878785;
        @extend %semi;
        font-size: 15px;
        @include breakpoint($bp-video-large-width) {
          font-size: 18px;
        }
        @include breakpoint($bp-grid-small-wide-4) {
          font-size: 18px;
        }
      }
      .rating {
        color: #878785;
        @extend %regular;
        text-transform: uppercase;
        margin: 10px 0;
        @include breakpoint($bp-video-large-width) {
          font-family: $bodytext-semi;
        }
        @include breakpoint($bp-grid-small-wide-4) {
          font-family: $bodytext-semi;
        }
      }
    }
  }
}

#block-usanetwork-video-usa-video-views,
#block-usanetwork-mpx-video-usa-video-views {
  @include breakpoint($bp-grid-small-wide-2-3) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#block-views-usa-mpx-video-fullepisodes-live {
  @extend %grid-small-wide-one-two-three-four;
  margin: 0 auto;
}

.region-content {
  .block-usanetwork-tv-schedule {
    @extend %grid-small-wide-one-two-three-four;
    margin: 0 auto;
  }
}

.usa-video {
  .companionContainer {
    padding-top: 10px;
    margin-bottom: 15px;
    .ad_lead {
      text-align: center;
    }
  }
  &.view-mode-full {
    .description {
      .field {
        margin-bottom: 20px;
      }
    }
  }
}

.block-usanetwork-video .view {
  li {
    list-style: none;
  }
  .node {
    border: 2px solid $gray-dark;
    .ie8 & {
      width: 300px;
    }
    > a {
      position: relative;
      z-index: 1;
      display: block;
    }
    .asset-img {
      line-height: 1em;
    }
    .caption-fields-wrapper {
      position: static;
      width: 100%;
      height: 41px;
      margin: 0;
      padding: 4px 10px;
      line-height: 1em;
      background: $black;
      @include breakpoint($bp-video-medium-width) {
        height: 52px;
        padding: 6px 10px;
        line-height: 1.25em;
      }
      @include breakpoint($bp-video-very-large-width) {
        height: 73px;
        padding: 11px 15px;
      }
    }
    h4 {
      @extend %regular-12;
      margin: 0;
      &:after {
        @include background-image(linear-gradient(right, $black 30%, $black-trans-vid));
        content: $space;
        position: absolute;
        top: 0;
        right: 0;
        width: 1em;
        height: 100%;
      }
      @include breakpoint($bp-video-medium-width) {
        font-size: 16px;
      }
      @include breakpoint($bp-video-very-large-width) {
        margin-bottom: 5px;
      }
    }
    .caption {
      font-size: 10px;
      @include breakpoint($bp-video-medium-width) {
        font-size: 14px;
      }
    }
  }
  .view-mode-vid_teaser_show_episode {
    h4 {
      @include breakpoint($bp-video-very-large-width) {
      }
    }
  }
}
.block-usanetwork-mpx-video .view,
#block-views-usa-mpx-video-fullepisodes-live .view {
  li {
    list-style: none;
    @include breakpoint($bp-grid-small-wide-small) {
      margin-left: 0;
    }
  }
  .file {
    border: 2px solid $gray-dark;
    .ie8 & {
      width: 300px;
    }
    > a {
      position: relative;
      z-index: 1;
      display: block;
    }
    &.tve-video-auth  {
      > a:after {
        position: absolute;
        right: 3px;
        top: 2px;
        content: "\e002";
        font-size: 25px;
        color: $white;
        @extend %usanetwork-font;
      }
      .asset-img:after {
        @include cssRightTriangle(50px, $black-trans-5, top, right);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .asset-img {
      line-height: 1em;
    }
    .caption-fields-wrapper {
      position: static;
      width: 100%;
      height: 58px;
      margin: 0;
      padding: 8px;
      line-height: 1em;
      background: $black;
      @include breakpoint($bp-video-medium-width) {
        height: 66px;
        padding: 10px;
        line-height: 1.15em;
      }
      @include breakpoint($bp-video-very-large-width) {
        height:72px;
        padding: 11px;
      }
    }
    h4 {
      margin: 0;
      font-family: $bodytext-reg;
      font-size: 13px;
      &:after {
        @include background-image(linear-gradient(right, $black 30%, $black-trans-vid));
        content: $space;
        position: absolute;
        top: 0;
        right: 0;
        width: 1em;
        height: 100%;
      }
      @include breakpoint($bp-video-medium-width) {
        font-size: 14px;
      }
      @include breakpoint($bp-video-very-large-width) {
        font-size: 16px;
        white-space:normal;
      }
    }
    .caption {
      color:#a7a6a6;
      font-size: 11px;
      @include breakpoint($bp-video-medium-width) {
        font-size: 12px;
      }
      @include breakpoint($bp-video-very-large-width) {
        font-size: 13px;
        .field-item {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .view-mode-vid_teaser_show_episode {
    h4 {
      @include breakpoint($bp-video-very-large-width) {
      }
    }
  }
}

.block-usanetwork-video.usa-secondary-menu,
.block-usanetwork-mpx-video.usa-secondary-menu {
  background: transparent;
  border: 0;
  height: auto;
  @include pie-clearfix;
  margin-bottom: 10px;
  @include breakpoint($bp-video-mid-large-width) {
    background-color: $gray-dark;
    border: 1px solid $gray-med-dark;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .categories  {
    position: relative;
    z-index: 2;
    > li {
      margin: 0;
      @include breakpoint($bp-video-mid-large-width) {
        @include secondary-menu-wide($secondary-menu-bg, true);
      }
    }
  }
  a {
    color: $gray-extra-light;
  }
  li.more ul.more {
    display: none;
  }
  ul.shows li {
    width: 100%;
  }
  .menu-label {
    display: none;
  }
  .filter-dropdown_v2 {
    background-color: $gray-dark;
    position: relative;
    .menu-label {
      display: block;
      padding: 20px 19px 18px;
      float: left;
      width: 100%;
      cursor: pointer;
      border: 1px solid $gray-med-dark;
       &:after,
        &:hover:after {
          position: absolute;
          right: 9px;
          top: 24px;
          left: auto;
          @extend %usanetwork-font;
          font-size: 11px;
          content: "\e000";
          color: $white;
          @include text-shadow(1px 0 0 $gray-dark-light, -1px 0 0 $gray-dark-light);
        }
        &:hover {
          color: $gray-extra-light;
        }
      + ul.categories {
        display: none;
      }
    }
    &.open {
      ul.categories {
        z-index: 99;
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
        display: block;
        position: absolute;
        top: 59px;
        border: 1px solid $gray-med-dark;
        border-top: 0;
        background-color: $gray-dark;
        width: 100%;
        left: 0;
        white-space: nowrap;
        .active {
          background-color: transparent;
          color: $white;
          &:after {
            border: 0;
          }
        }
        > li {
          border: 0;
          padding: 0;
          line-height: 1em;
          letter-spacing: 0.05em;
          float: none;
          &.first {
             a {
              border-top: 0;
            }
          }
          > a {
            font-size: 14px;
            padding: 10px 20px 8px;
            float: none;
            border: 0;
            border-top: 1px solid $gray-med-dark;
            @include link-colors($gray-extra-light, $white, $gray-extra-light, $gray-extra-light, $gray-extra-light);
            &:hover:after {
              @include cssTriangle(0, $gray-med, top);
            }
          }
        }
      }
    }
  }
  .content  {
    padding: 15px 15px 0;
    @include breakpoint($bp-video-medium-width) {
      padding-left: 0;
      padding-right: 0;
    }
    @include breakpoint($bp-video-large-width) {
      padding-top: 0;
    }
    > .item-list {
      float: left;
      width: 100%;
      @include breakpoint($bp-grid-small-wide-small) {
        &:first-of-type {
          margin-bottom: 15px;
        }
      }
      @include breakpoint($bp-grid-small-wide-2-3-fence) {
        margin-bottom: 0;
      }
      li {
        margin-bottom: auto;
      }
      @include breakpoint($bp-grid-small-wide-2-3-fence) {
        @include layout(2, .062) {
          &:nth-of-type(odd) {
            @include grid-span(1, 1);
          }
          &:nth-of-type(even) {
            @include grid-span(1, 2);
            padding-right: 0;
          }
        }
      }
      @include breakpoint($bp-video-large-width) {
        width: 457px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
      @include breakpoint($bp-video-mid-large-width) {
        font-size: 20px;
        width: 75%;
        margin: 0;
        border: 0;
        &:first-child {
          width: 25%;
          border-right: 1px solid $gray-med-dark;
        }
      }
    }
    .more  {
      .item-list > .more {
        max-height: none;
        overflow-y: inherit;
        background-color: $gray-dark;
        border: 0;
        border-top: 1px solid $gray-med-dark;
        position: relative;
        top: 0;
        @include breakpoint($bp-video-mid-large-width) {
          position: absolute;
          background-color: $black-trans;
          border: 1px solid $gray-med-dark;
          border-top: 0;
          margin-bottom: 130px;
          max-height: 300px;
          min-width: 358px;
          overflow: auto;
          width: auto;
          z-index: 80;
          padding: 30px 30px 33px;
          white-space: normal;
          top: 59px;
          right: -1px;
        }
        li {
          &.first a {
            border-top: 0;
          }
        }
        li a:hover:after {
          border: 0;
        }
        li a {
          border-top: 1px solid $gray-med-dark;
          @include breakpoint($bp-video-mid-large-width) {
            float: left;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 50%;
            line-height: 1em;
            border: 0;
            &:hover {
              background-color: transparent;
              color: $white;
            }
            &.active {
              background-color: transparent;
              &:after {
                border: 0;
              }
            }
          }
        }
      }
      &.open {
        > a:first-child  {
           color: $white;
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
            z-index: 99;
            &:after {
              @include cssTriangle(12px, $gray-med, top);
              position: absolute;
              left: 50%;
              top: 58px;
              margin-left: -12px;
              z-index: 9999;
            }
          }
          span {
            &:after {
              @include cssTriangle(5px, $blue, top);
              @include breakpoint($bp-video-mid-large-width) {
                border: 0;
              }
            }
          }
        }
        > span {
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
            color: $white;
            border-left: 1px solid $gray-med-dark;
            border-right: 1px solid $gray-med-dark;
          }
          &:after {
            @include cssTriangle(5px, $blue, top);
            @include breakpoint($bp-video-mid-large-width) {
              @include cssTriangle(12px, $gray-med, top);
                position: absolute;
                left: 50%;
                top: 58px;
                margin-left: -12px;
                z-index: 9999;
            }
          }
        }
      }
      > a:first-child span {
        &:after {
          @include cssTriangle(5px, $white, left);
          position: absolute;
          right: 14px;
          top: 15px;
          @include breakpoint($bp-video-mid-large-width) {
            border: 0;
          }
        }
        &:hover {
          background-color: $gray-ultra-med;
          @include breakpoint($bp-video-mid-large-width) {
            background-color: $gray-med;
          }
        }
      }
      > span {
        cursor: pointer;
        display: block;
        width: 100%;
        position: relative;
        font-size: 14px;
        padding: 10px 20px 8px;
        float: none;
        border: 0;
        border-top: 1px solid $gray-med-dark;
        color: $gray-extra-light;
        &:after {
          @include cssTriangle(5px, $white, left);
          position: absolute;
          right: 14px;
          top: 15px;
        }
        &:hover {
          background-color: $gray-ultra-med;
          color: $white;
        }
        @include breakpoint($bp-video-mid-large-width) {
          font-size: 20px;
          height: 100%;
          padding: 20px 30px 18px;
          float: left;
          width: auto;
          border-top: 0;
          border-left: 1px solid $gray-dark;
          border-right: 1px solid $gray-dark;
          &:after {
            border: 0;
          }
          &:hover {
            background-color: $gray-med;
            color: $white;
            border-left: 1px solid $gray-med-dark;
            border-right: 1px solid $gray-med-dark;
            &:after {
              @include cssTriangle(12px, $gray-med, top);
              position: absolute;
              left: 50%;
              top: 58px;
              margin-left: -12px;
              z-index: 99;
            }
          }
        }
      }
    }
  }
}


.featured-asset  {
  margin: 0 auto 0;
  position: relative;
  @include breakpoint($bp-video-low-range-width) {
    width: 100%;
  }
  @include breakpoint($bp-video-mid-range4-width) {
    width: 615px;
  }
  @include breakpoint($bp-video-high-range-width) {
    width: 930px;
  }
  @include breakpoint($bp-video-very-large-width) {
    width: 1245px;
  }
  .usa-adrails & {
    width: 930px;
  }
  &.file-video-mpx {
    .video-player-wrapper {
      a:after {
        position: absolute;
        left: 50%;
        top: 55%;
        width:296px;
        height:39px;
        margin-left:-148px;
        content: " ";
        background:url('../images/sign_in_key.png') center top no-repeat;
      }
      &.inactive {
        a:after {
          display: none;
        }
        &:hover {
          cursor: default;
          a:after {
            display: none;
          }
          img {
            opacity: 1;
          }
        }
      }
    }
    .video-player-wrapper.wrapper-live a:after {
      top: 52%;
      background:url('../images/sign_in_live_key.png') center top no-repeat;
    }
    &.tve-overlay {
      .video-player-wrapper a:after {
        background-image: none;
      }
    }
    .locked-msg {
      position: absolute;
      top: 40px;
      left: 5px;
      margin: 0 auto;
      text-align: center;
      z-index: 10;
      .first-line {
        display:block;
        font-size:12px;
      }
      .second-line {
        display:block;
        font-size:10px;
      }
      @include text-shadow(1px 1px 5px $black-true);
      @include breakpoint($bp-video-player-section) {
        .first-line {
          line-height: 1.2;
        }
        .second-line {
          line-height: 1.2;
        }
      }
      @include breakpoint($bp-video-mid-range4-width) {
        top: 120px;
        left: 50px;
        .first-line {
          font-size:20px;
        }
        .second-line {
          font-size:14px;
        }
      }
      @include breakpoint($bp-video-high-range-width) {
        top: 120px;
        left: 50px;
        .first-line {
          font-size:20px;
        }
        .second-line {
          font-size:14px;
        }
      }
      @include breakpoint($bp-video-very-large-width) {
        top: 182px;
        left: 110px;
        .first-line {
          font-size:26px;
          line-height:45px;
        }
        .second-line {
          font-size:16px;
        }
      }
    }
    .video-player-wrapper.wrapper-live .locked-msg {
      top: 55px;
      @include breakpoint($bp-video-mid-range4-width) {
        top: 135px;
      }
      @include breakpoint($bp-video-high-range-width) {
        top: 135px;
      }
      @include breakpoint($bp-video-very-large-width) {
        top: 200px;
      }
    }
  }
  .tve-help-link {
    color: $gray-extra-light;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 5px;
    //@include breakpoint($bp-video-player-section) {
    //  text-align: center;
    //}
    img {
      max-height: 16px;
      max-width: 100%;
      vertical-align: middle;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      text-align: left;
    }
    &.signOut {
        position:absolute;
        display:inline-block;
        top: 119px;
        right: 0;
        @include breakpoint($bp-video-low-range-width) {
          position: relative;
          top: 0;
          .item-list {
            .first {
              margin: 0 0 0.25em 0.75em;
            }
          }
        }
        @include breakpoint($bp-video-mid-range4-width) {
        cursor: default;
        position: relative;
        top: 0px;
        width: 100%;
          .item-list {
            .first {
                margin: 0 0 0.25em 0;
            }
          }
        }
      &.not-live {

      }
      &.live .item-list ul li {
        margin-left: 0;
      }
      .item-list {
        li.last {
          line-height: 1.2;
          margin:0;
          vertical-align: middle;
        }
        ul.ng-scope {
          display:inline-block;
          margin-left:10px;
          padding:0 0 0 12px;
          border-left:1px solid #878785;
          line-height:10px;
          li {
            margin:0 !important;
            padding:0;
            a {
              color:#878785;
              font-size:16px;
              line-height:10px;
              @include breakpoint($bp-video-player-section) {
                font-size: 14px;
                width: 300px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .tve-help-sign {
    @include breakpoint($bp-video-player-section) {
      font-size: 14px;
      width: 300px;
      margin-left: 10px;
    }
    > img {
     padding-right: 5px;
     padding-bottom: 1px;
    }
  }
  .video-player-wrapper {
    overflow: hidden;
    &.inactive {
      background: #3D3D3D;
      padding: 20px;
      @include breakpoint($bp-video-player-section) {
        background: transparent;
        height: auto;
        margin: 0 auto;
        max-width: 457px;
        padding: 0px;
        width: 100%;
      }
      & > .asset-img {
        float: left;
        margin-bottom: 46px;
        @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
          margin-bottom: 10px;
        }
        & > img {
          max-height: 169px;
          max-width: 300px;
          @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
            max-height: 124px;
            max-width: 220px;
          }
          @include breakpoint($bp-video-player-section) {
            display: none;
          }
        }
      }
      .expired-text {
        float: left;
        font-size: 24px;
        margin-left: 50px;
        margin-top: 65px;
        @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
          margin-left: 20px;
          margin-top: 53px;
        }
        @include breakpoint($bp-video-player-section) {
          color: #9AE0EB;
          float: none;
          font-size: 18px;
          margin: 0;
          margin-top: 10px;
          text-align: left;
        }
      }
      .suggest-text {
        clear: both;
        font-size: 20px;
        margin-bottom: 24px;
        @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
          margin-bottom: 10px;
        }
        @include breakpoint($bp-video-player-section) {
          font-size: 16px;
          margin-bottom: 10px;
          margin-top: 10px;
          text-align: left;
        }
      }
      .suggest-videos-block {
        text-align: center;
        width: 100%;

        .file {
          &.tve-video-auth {
            & > a {
              &:after {
                font-family: 'usanetwork';
                speak: none;
                -webkit-font-feature-settings: "liga","dlig";
                -moz-font-feature-settings: "liga=1, dlig=1";
                -moz-font-feature-settings: "liga","dlig";
                -ms-font-feature-settings: "liga","dlig";
                -o-font-feature-settings: "liga","dlig";
                font-feature-settings: "liga","dlig";
                text-rendering: optimizeLegibility;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                background: none;
                display: block;
                margin: 0;
                position: absolute;
                left: auto;
                right: 3px;
                top: 2px;
                content: "\e002";
                font-size: 25px;
                color: white;
                width: auto;
                height: auto;
              }
            }
            .asset-img {
              &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: solid 50px rgba(0,0,0,0.5);
                border-left: solid 50px transparent;
                position: absolute;
                right: 0;
                top: 0;
              }
            }
          }
          border: 2px solid #2d2d2d;
          display: inline-block;
          height: 220px;
          margin-right: 20px;
          overflow: hidden;
          position: relative;
          vertical-align: top;
          width: 252px;
          @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
            height: 140px;
            margin-right: 12px;
            width: 165px;
          }
          @include breakpoint($bp-video-player-section) {
            height: auto;
            margin-right: 0px;
            width: 48.5%;
            &:last-child {
              display: none;
            }
            &:first-child {
              margin-right: 1.5%;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          & > a {
            display: block;
            height: 100%;
            position: relative;
            width: 100%;
          }
          img {
            height: 140px;
            width: 100%;
            @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
              height: 95px;
            }
            @include breakpoint($bp-video-player-section) {
              height: auto;
            }
          }
          .caption-overlay {
            bottom: 0px;
            left: 0px;
            height: 76px;
            position: absolute;
            width: 100%;
            @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
              height: 45px;
            }
            @include breakpoint($bp-video-player-section) {
              height: auto;
              position: relative;
              width: 100%;
            }
          }
          .caption-fields-wrapper {
            background: #1f1f1f;
            height: 100%;
            margin: 0;
            padding: 10px 6px 8px;
            width: 100%;
            @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
              padding: 5px;
            }
            @include breakpoint($bp-video-player-section) {
              height: 58px;
              margin: 0;
              padding: 8px;
              position: static;
              width: 100%;
            }
            .title {
              font-weight: bold;
              line-height: 1.15;
              text-align: left;
              @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
                font-size: 14px;
              }
              @include breakpoint($bp-video-player-section) {
                font-size: 13px;
              }
            }
            .caption {
              color: #a7a6a6;
              font-size: 13px;
              text-align: left;
              @include breakpoint($bp-aspot-mid-width $bp-aspot-large-width) {
                font-size: 12px;
              }
              @include breakpoint($bp-video-player-section) {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
    position: relative;
    float: left;
    width: 615px;
    height: 346px;
    margin-right: 15px;
    @include breakpoint($bp-video-player-section) {
      width: 300px;
      height: 184px;
      margin: 0 auto;
      float: none;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-bottom: 15px;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
      height: 523px;
    }
    .usa-adrails & {
      width: 615px;
      height: 375px;
    }
    iframe {
      width: 615px;
      height: 346px;
      @include breakpoint($bp-video-player-section) {
        width: 300px;
        height: 184px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        float: none;
        margin-bottom: 15px;
      }
      @include breakpoint($bp-video-very-large-width) {
        width: 930px;
        height: 523px;
      }
      .usa-adrails & {
        width: 615px;
        height: 375px;
      }
    }
    
    .no-touch & {
      .locked-msg,
      a:after {
        display: none;
      }
      &:hover {
        cursor: pointer;
        .locked-msg,
        a:after {
          display: block;
        }
        img {
          opacity: .2;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
    .touch & {
      img.borealis {
        opacity: .2;
      }
    }
  }
  .tve-help {
    display: none;
    z-index: 1;
    position: absolute;
    width: 615px;
    height: 346px;
    text-align: center;
    background-color: $black-dark;
    border: 1px solid $gray-ultra-med;
    @include breakpoint($bp-video-player-section) {
      width: 300px;
      float: none;
      height: 186px;
      left: 50%;
      margin-left: -150px;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-bottom: 15px;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
      height: 523px;
    }
    .usa-adrails & {
      width: 615px;
      height: 375px;
    }
    .tve-download {
      padding-top: 20px;
      position: relative;
      top: 82px;
        @include breakpoint($bp-video-player-section) {
          font-size: 11px;
          line-height: 16px;
          top: -6px
        }
        @include breakpoint($bp-video-very-large-width) {
          font-size: 20px;
          line-height: 30px;
          top: 102px;
        }
    }
    .tve-download-link {
      position: relative;
      top: 100px;
      left: -14px;
        @include breakpoint($bp-video-player-section) {
          left: -4px;
          top: -3px;
        }
        @include breakpoint($bp-video-very-large-width) {
          top: 120px;
        }
      a:after {
         content : "";
      }
      a img {
        height: 35px;
        padding-left: 29px;
        @include breakpoint($bp-video-player-section) {
          padding-left: 9px;
        }
      }
    }
    .arrow {
       position : absolute;
       right: 0;
    }
    .tve-msg {
      position: relative;
      top: 52px;
        @include breakpoint($bp-video-player-section) {
          top: 14px;
          font-size: 11px;
          line-height: 16px;
        }
        @include breakpoint($bp-video-very-large-width) {
          font-size: 20px;
          line-height: 30px;
          top: 82px;
        }
    }

    .tve-close {
      float: right;
      position: relative;
      top: 112px;
      right: 10px;
      text-transform: uppercase;
      color: #0AB6E8;
        @include breakpoint($bp-video-player-section) {
          top: 3px;
        }
        @include breakpoint($bp-video-very-large-width) {
          top: 250px;
        }
      > img {
        padding-right: 5px;
        padding-bottom: 1px;
      }
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-right: 14px solid #1f1f1f;
      top: 3px;
      right: -2px;
      z-index: 106;
      @include breakpoint($bp-video-player-section) {
        border-bottom: 14px solid #1f1f1f;
        border-right: 14px solid transparent;
        top: 158px;
        left: 50%;
        margin-left: -14px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        border-bottom: 14px solid #1f1f1f;
        border-right: 14px solid transparent;
        top: 318px;
        left: 16%;
      }
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-right: 14px solid #4b4b4b;
      top: 3px;
      right: 0px;
      z-index: 105;
        @include breakpoint($bp-video-player-section) {
          border-bottom: 14px solid #4b4b4b;
          border-right: 14px solid transparent;
          top: 156px;
          left: 50%;
          margin-left: -14px;
        }
        @include breakpoint($bp-video-mid-range4-width) {
          border-bottom: 14px solid #4b4b4b;
          border-right: 14px solid transparent;
          top: 316px;
          left: 16%;

        }
      }
    }
  .meta {
    overflow: hidden;
  }
  .meta-head {
    float: left;
    width: 615px;
    margin-bottom: 15px;
    /*@include breakpoint($bp-video-large-width) {
      width: 100%;
    }*/
    @include breakpoint($bp-video-player-section) {
      width: 100%;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      float: none;
      margin-bottom: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
    }
    .show-name,
    .episode-title,
    .details,
    .description {
      margin: 0;
      @extend %regular;
      font-weight: normal;
      letter-spacing: 0.05em;
    }
    .show-name,
    .episode-title {
      display: inline;
    }
    .show-name {
      font-size: 26px;
      margin-right: 15px;
      text-transform: uppercase;
      @include breakpoint($bp-video-player-section) {
        font-size: 22px;
      }
    }
    .episode-title,
    .details {
      color: $gray-light;
    }
    .details .episode-info div{
      display: inline-block;
    }
    .episode-title {
      margin-top:10px;
      font-size: 24px;
      text-transform: none;
      display:inline;
      @include breakpoint($bp-video-player-section) {
        display: block;
        font-size: 20px;
        margin-top: 0px;
      }
      div {
        display: inline;
      }
    }
    .details,
    .description {
      font-size: 16px;
    }
  }
  .description {
    float: right;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($bp-video-player-section) {
      float: none;
      overflow: hidden;
      margin-left: 10px;
      margin-top: 10px;
      p:last-child {
        margin-bottom: 0;
      }
      font-size: 14px;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      display: inline;
      float: none;
      margin-top: 0;
      margin-right: 15px;
      width: 300px;
    }
    @include breakpoint($bp-video-large2-width) {
      width: 300px;
      overflow: hidden;
      p:last-child {
      margin-bottom: 1.5em;
      }
    }
  }
  .ad {
    max-width: 300px;
    .field-name-video-companion-rectangle-small {
      max-height: 60px;
    }
    @include breakpoint($bp-video-mid2_width) {
      display: block;
      float: right;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      float: none;
      margin-top: 0;
    }
    @include breakpoint($bp-video-player-section) {
      float: left;
    }
  }
  .tve-auth {
    float: right;
  }
  .sidecarSection:not(.ng-hide) {
    border: 1px solid #000000;
    float: right;
    height: 360px;
    margin-bottom: 20px;
    position: relative;
    width: 300px;
    @include breakpoint($bp-show-very-large-width) {
      height: 420px;
      .ww-sidecar {
        height: 372px;
        section {
          height: 372px;
        }
      }
    }
    @include breakpoint($bp-video-player-section) {
      float: none;
      margin: 0 auto;
      margin-top: 36px;
      .ww-sidecar {
        height: 358px;
        section {
          height: 312px;
        }
      }
    }
    @include breakpoint($bp-video-high-range-width) {
      height: 345px;
      .ww-sidecar {
        height: 345px;
        section {
          height: 300px;
        }
      }
    }
    @include breakpoint($bp-video-mid-range4-width) {
      float: left;
      margin-top: 25px;
      .ww-sidecar {
        height: 358px;
        section {
          height: 312px;
        }
      }
    }
    & ~ .ad {
      bottom: 120px;
      float: none;
      position: absolute;
      right: 0;
      @include breakpoint($bp-video-high-range-width) {
        bottom: 0;
        float: right;
        position: relative;

      }
      @include breakpoint($bp-video-mid-range4-width) {
        bottom: 320px;
      }
      @include breakpoint($bp-video-player-section) {
        bottom: 0px;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;

      }
    }
    & ~ .description {
      float: left;
      overflow: hidden;
      .field {
        margin-top: 20px;
      }
      .field-name-field-mpx-description {
        float: left;
      }
      .field-name-field-gigya-share-bar {
        float: right;
      }
      @include breakpoint($bp-video-player-section) {
        float: none;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        float: right;
        margin-right: 0;
        margin-top: 80px;
        width: 300px;
        .field-name-field-gigya-share-bar {
          float: left;
          margin-top: 0px;
        }
        .field-item {
          max-height: 219px;
          overflow: hidden;
        }
      }
      @include breakpoint($bp-video-high-range-width) {
        width: 615px;
        .field-name-field-mpx-description {
          width: 415px;
        }
        .field-name-field-gigya-share-bar {
          width: 190px;
        }
      }
      @include breakpoint($bp-show-very-large-width) {
        height: 120px;
        width: 930px;
        .field-name-field-mpx-description {
          width: 730px;
        }
        .field-name-field-gigya-share-bar {
          width: 190px;
        }
      }
    }
  }
}
.tve-overlay {
  opacity : 1;
}


.tveModal {
  &.k2Modal {
    input[type=text] {
      height: 2em;
      margin-bottom: 0;
    }
  }
  &.welcomeModal {
    .richContent {
      min-height:321px;
    }
    .welcomeBgImage{
      right:-2%;
    }
  }
  &.loginModal {
    .richContent {
      h1 {
        font-family: Proxima N W01 Smbd,Helvetica,Arial,sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 4.8192%;
        padding: 0;
      }
      h2 {
        font-family: Proxima N W01 Smbd,Helvetica,Arial,sans-serif;
        font-size: 22px;
        color: #4f4f4f;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
        text-transform: none;
      }
    }
    .switchContent {
      ul {
        padding: 0;
      }
    }
    .allProviders {
      padding-top: 20px;
    }
    * {
      @include box-sizing("content-box");
    }
    .modalFooter {
      width:94% !important;
      margin:0 auto;
      padding:2%;
      text-align:center;
      font-family: $bodytext-bold;
      font-size:16px;
      line-height:25px;
    }
    .modalContent {
      margin:0 auto;
      min-height: 365px;
      padding:2.7777% 2.3148%;
      width:95.3703%;
      .articles .features-wrapper {
        overflow:hidden;
        width:70%;
        article {
          width:40%;
          img{
            display:block;
            width:auto;
            margin:0 auto;
          }
        }
        .feature-group {
          @include pie-clearfix;
          .feature-img-wrap {
            margin-bottom:10px;
          }
          .feature:first-child {
            padding:0;
          }
          .feature:nth-child(2) {
            margin:0 3%;
            padding:0 3%;
            border-left:1px solid #d7d7d6;
          }
          h2 {
            margin:0 0 3.6% 0;
            font-family: $bodytext-semi;
            font-size: 18px;
            line-height: 27px;
          }
          .feature-copy {
            margin:0 0 10px 0;
            font-family:$bodytext-semi;
            font-size:13px;
            line-height:20px;
          }
        }
      }
      .buttonBar {
        margin-top:0px !important;
        button {
          font-family: Proxima N W01 Bold,Helvetica,Arial,sans-serif;
          font-size: 18px !important;
          font-weight: normal !important;
        }
        .gettingStarted {
          display: inline-block;
          padding: 5px 20px;
          border:0;
          color:white;
          font-family: $bodytext-bold;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: .05em;
          background: #0ab6e8;
        }
      }
    }
    .modalHeader {
      @include background-image(linear-gradient(top,#3b3b3b 1%,#3b3b3b 2%,#3b3b3b 60%,#1f1f1f 100%));
      @include box-shadow(rgba(255,255,255,.2) 0 1px 1px inset);
      width:98% !important;
      margin:0 auto;
      padding:0 !important;
      h1 {
        margin:0;
        font-family:$bodytext-bold;
        line-height:32px;
        letter-spacing:normal;
      }
      .moreDetails {
        font-family:$bodytext-reg;
        font-size:12px;
        line-height:26px;
      }
      .closeButton {
        top:-12px;
        right:-21px;
        @extend .icons-close_welcome_popup;
        border-radius:0;
        border:0;
      }
    }
  }
}

.tveModal {
  .modalHeader {
    .closeButton {
      top:-10px;
      right:-10px;
      @extend .icons-close_welcome_popup;
      border-radius:0;
      border:0;
    }
  }
}
.tveModal.adobePassFrame {
  .modalContent {
    padding: 12px 0;
    text-align: center;
    iframe {
      border: 0;
    }
  }
}
.errorModal {
  .modalHeader h1{
    margin: 0.67em 0 0;
  }
  
  .modalContent {
    p {
      font-size: 15px;
    }
    a:hover {
      color: #0ab6e8;
      text-decoration: underline;
    }
  }
}
