body:not(.page-node-microsite) {
  .file-video-mpx {
    &.view-mode-inline_content {
      padding-top: 56.25%;
      position: relative;
      width: 100%;
      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

.usa-video {
  .companionContainer {
    padding-top: 10px;
    margin-bottom: 15px;
    .ad_lead {
      text-align: center;
    }
  }
  &.view-mode-full {
    .description {
      .field {
        margin-bottom: 20px;
      }
    }
  }
}
