body:not(.page-node-microsite) {
  .file-video-mpx {
    &.view-mode-inline_content {
      padding-top: 56.25%;
      position: relative;
      width: 100%;
      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
body.page-node-microsite {
  .file-video-mpx {
    &.view-mode-inline_content {
      iframe {
        width: 615px;
        height: 346px;
        margin: 0;
        @include breakpoint($bp-video-player-section) {
          width: 300px;
          height: 184px;
        }
        @include breakpoint($bp-video-very-large-width) {
          width: 930px;
          height: 523px;
        }
      }
    }
  }
}

.usa-video {
  .companionContainer {
    padding-top: 10px;
    margin-bottom: 15px;
    .ad_lead {
      text-align: center;
    }
  }
  &.view-mode-full {
    .description {
      .field {
        margin-bottom: 20px;
      }
    }
  }
}
//use in microsites
.block-usanetwork-mpx-video .view,
#block-views-usa-mpx-video-fullepisodes-live .view {
  .file {
    > a {
      position: relative;
      z-index: 1;
      display: block;
    }
    h4 {
      margin: 0;
      font-family: $bodytext-reg;
      font-size: 13px;
      @include breakpoint($bp-video-medium-width) {
        font-size: 14px;
      }
      @include breakpoint($bp-video-very-large-width) {
        font-size: 16px;
        white-space: normal;
      }
    }
  }
}

.featured-asset {
  margin: 0 auto 0;
  position: relative;
  &.file-video-mpx {
    .video-player-wrapper {
      a:after {
        position: absolute;
        left: 50%;
        top: 55%;
        width: 296px;
        height: 39px;
        margin-left: -148px;
        content: " ";
        background: url('../images/sign_in_key.png') center top no-repeat;
      }
    }
    &.tve-overlay {
      .video-player-wrapper a:after {
        background-image: none;
      }
    }
  }
  .tve-help-link {
    color: $gray-extra-light;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 5px;
    img {
      max-height: 16px;
      max-width: 100%;
      vertical-align: middle;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      text-align: left;
    }
    &.signOut {
      position: absolute;
      display: inline-block;
      top: 119px;
      right: 0;
      @include breakpoint($bp-video-low-range-width) {
        position: relative;
        top: 0;
        .item-list {
          .first {
            margin: 0 0 0.25em 0.75em;
          }
        }
      }
      @include breakpoint($bp-video-mid-range4-width) {
        cursor: default;
        position: relative;
        top: 0px;
        width: 100%;
        .item-list {
          .first {
            margin: 0 0 0.25em 0;
          }
        }
      }
      &.not-live {

      }
      &.live .item-list ul li {
        margin-left: 0;
      }
      .item-list {
        li.last {
          line-height: 1.2;
          margin: 0;
          vertical-align: middle;
        }
        ul.ng-scope {
          display: inline-block;
          margin-left: 10px;
          padding: 0 0 0 12px;
          border-left: 1px solid #878785;
          line-height: 10px;
          li {
            margin: 0 !important;
            padding: 0;
            a {
              color: #878785;
              font-size: 16px;
              line-height: 10px;
              @include breakpoint($bp-video-player-section) {
                font-size: 14px;
                width: 300px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .tve-help-sign {
    @include breakpoint($bp-video-player-section) {
      font-size: 14px;
      width: 300px;
      margin-left: 10px;
    }
    > img {
      padding-right: 5px;
      padding-bottom: 1px;
    }
  }
  .video-player-wrapper {
    overflow: hidden;
    position: relative;
    float: left;
    width: 615px;
    height: 346px;
    margin-right: 15px;
    @include breakpoint($bp-video-player-section) {
      width: 300px;
      height: 184px;
      margin: 0 auto;
      float: none;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-bottom: 15px;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
      height: 523px;
    }
    .usa-adrails & {
      width: 615px;
      height: 375px;
    }
    iframe {
      width: 615px;
      height: 346px;
      @include breakpoint($bp-video-player-section) {
        width: 300px;
        height: 184px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        float: none;
        margin-bottom: 15px;
      }
      @include breakpoint($bp-video-very-large-width) {
        width: 930px;
        height: 523px;
      }
    }
    .no-touch & {
      .locked-msg,
      a:after {
        display: none;
      }
      &:hover {
        cursor: pointer;
        .locked-msg,
        a:after {
          display: block;
        }
        img {
          opacity: .2;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
    .touch & {
      img.borealis {
        opacity: .2;
      }
    }
  }
  .tve-help {
    display: none;
    z-index: 1;
    position: absolute;
    width: 615px;
    height: 346px;
    text-align: center;
    background-color: $black-dark;
    border: 1px solid $gray-ultra-med;
    @include breakpoint($bp-video-player-section) {
      width: 300px;
      float: none;
      height: 186px;
      left: 50%;
      margin-left: -150px;
    }
    @include breakpoint($bp-video-mid-range4-width) {
      margin-bottom: 15px;
      margin-right: 15px;
    }
    @include breakpoint($bp-video-very-large-width) {
      width: 930px;
      height: 523px;
    }
    .usa-adrails & {
      width: 615px;
      height: 375px;
    }
    .tve-download {
      padding-top: 20px;
      position: relative;
      top: 82px;
      @include breakpoint($bp-video-player-section) {
        font-size: 11px;
        line-height: 16px;
        top: -6px
      }
      @include breakpoint($bp-video-very-large-width) {
        font-size: 20px;
        line-height: 30px;
        top: 102px;
      }
    }
    .tve-download-link {
      position: relative;
      top: 100px;
      left: -14px;
      @include breakpoint($bp-video-player-section) {
        left: -4px;
        top: -3px;
      }
      @include breakpoint($bp-video-very-large-width) {
        top: 120px;
      }
      a:after {
        content: "";
      }
      a img {
        height: 35px;
        padding-left: 29px;
        @include breakpoint($bp-video-player-section) {
          padding-left: 9px;
        }
      }
    }
    .arrow {
      position: absolute;
      right: 0;
    }
    .tve-msg {
      position: relative;
      top: 52px;
      @include breakpoint($bp-video-player-section) {
        top: 14px;
        font-size: 11px;
        line-height: 16px;
      }
      @include breakpoint($bp-video-very-large-width) {
        font-size: 20px;
        line-height: 30px;
        top: 82px;
      }
    }
    .tve-close {
      float: right;
      position: relative;
      top: 112px;
      right: 10px;
      text-transform: uppercase;
      color: #0AB6E8;
      @include breakpoint($bp-video-player-section) {
        top: 3px;
      }
      @include breakpoint($bp-video-very-large-width) {
        top: 250px;
      }
      > img {
        padding-right: 5px;
        padding-bottom: 1px;
      }
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-right: 14px solid #1f1f1f;
      top: 3px;
      right: -2px;
      z-index: 106;
      @include breakpoint($bp-video-player-section) {
        border-bottom: 14px solid #1f1f1f;
        border-right: 14px solid transparent;
        top: 158px;
        left: 50%;
        margin-left: -14px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        border-bottom: 14px solid #1f1f1f;
        border-right: 14px solid transparent;
        top: 318px;
        left: 16%;
      }
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-right: 14px solid #4b4b4b;
      top: 3px;
      right: 0px;
      z-index: 105;
      @include breakpoint($bp-video-player-section) {
        border-bottom: 14px solid #4b4b4b;
        border-right: 14px solid transparent;
        top: 156px;
        left: 50%;
        margin-left: -14px;
      }
      @include breakpoint($bp-video-mid-range4-width) {
        border-bottom: 14px solid #4b4b4b;
        border-right: 14px solid transparent;
        top: 316px;
        left: 16%;

      }
    }
  }
  .meta {
    overflow: hidden;
  }
}

.tve-overlay {
  opacity: 1;
}
#microsite {
  #video-container {
    &:hover {
      cursor: pointer;
      .locked-msg,
      a:after {
        display: block;
      }
      .player-thumbnail {
        img {
          opacity: .2;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
    .locked-msg {
      left: 5%;
      position: absolute;
      text-shadow: 1px 1px 5px black;
      text-align: center;
      top: 35%;
      width: 90%;
      z-index: 2;
      @include breakpoint($bp-640-width) {
        top: 30%;
      }
      .first-line {
        display: block;
        font-size: 24px;
        line-height: 45px;
        text-transform: uppercase;
        @include breakpoint($bp-1900-width) {
          font-size: 20px;
          line-height: 36px;
        }
        @include breakpoint($bp-1280-width) {
          font-size: 18px;
          line-height: 29px;
        }
        @include breakpoint($bp-768-width) {
          font-size: 15px;
          line-height: 26px;
        }
        @include breakpoint($bp-640-width) {
          font-size: 13px;
          line-height: 23px;
        }
        @include breakpoint($bp-480-width) {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    .tve-help {
      .tve-help-inner {
        height: 100%;
        width: 100%;
      }
    }
  }
}
