#mobileVideoModalOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#mobileVideoModal {
  width: 90%;
  position: fixed;
  left: 50%;
  top: 20px;
  margin-left: -45%;
  z-index: 1000;
  color: #000000;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
#mobileVideoModal .wrap {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(center top , #EEEEEE 0px, #FFFFFF 50px);
  border-top: 1px solid #717171;
  border-radius: 10px;
  max-width: 531px;
  margin: 0 auto;
  overflow: hidden;
}
#mobileVideoModal h3 {
  color: #4F4F4F;
  font-family: 'avalonregular',Arial,sans-serif;
  font-size: 16px;
  text-transform: none;
  color: #FFA500;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  text-transform: none;
}
#mobileVideoModal hr {
  background-color: #DDDDDD;
  border-width: 0;
  height: 1px;
  margin: 0 auto 10px;
  width: 100%;
}
#mobileVideoModal .mobile-logo-exp {
  display: block;
  vertical-align: bottom;
  width: 100%;
}
#mobileVideoModalButtons input[type="button"] {
  border-radius: 0;
  color: #FFFFFF;
  display: inline-block;
  height: 40px;
  margin: 5px;
  width: 200px;
  border: 1px solid #4c4c4c;
  text-transform: uppercase;
  font-size: 12px;
}
#mobileVideoModalButtons input.download-app-button {
  background-color: #00B5EA;
}
#mobileVideoModalButtons input.close-reveal-modal {
  background-color: #999999;
  right: auto;
  top: auto;
}
