// DEFAULT COLORS
$nav-black          : rgba(black, 0.9);
$black-trans-9      : rgba(black, 0.9);
$black-trans-85     : rgba(black, 0.85);
$black-trans        : rgba(black, 0.8);
$black-trans-5      : rgba(black, 0.5);
$black-trans-3      : rgba(black, 0.3);
$black-trans-vid    : rgba(31, 31, 31, 0.3);
$black-dark         : #161616;
$black-true         : #000000;
$black              : #1f1f1f;
$black-into-gray    : #232323;
$gray-dark          : #2d2d2d;
$gray-med           : #3d3d3d;
$gray-med-darker    : #313131;
$gray-med-dark      : #414141;
$gray-ultra-med     : #4B4B4B;
$gray-ultra-med-alt : #4a4a4a;
$gray-semi-med      : #5b5b5b;
$gray-semi-ultra-med: #505050;
$gray-darker-light  : #636363;
$gray-dark-light    : #717274;
$gray-light         : #878785;
$gray-light-gamma   : #959595;
$gray-extra-light   : #A3A3A3;
$gray-sky           : #CCCCCC;
$tan                : #b0b0b0;
$tan-light          : #d6d6d6;
$beige              : #D0D0D0;
$off-white          : #EBEBEB;
$off-white-alt      : #e8e8e8;
$white              : white;
$white-trans-1      : rgba($white, 0.1);
$white-trans-75     : rgba($white, 0.75);
$white-trans-5      : rgba($white, 0.5);
$white-trans-3      : rgba($white, 0.3);
$blue               : #0ab6e8;
$orange             : #f8981d;
$red                : #d63c17;


// Color variables expected 04-base
$base-color: $black;
$text-color: $white;
$alt-color: $blue;
$background-color: $black;
$border-color: $gray-light;


// link colors
$link-normal: $blue;
$link-hover: $white;
$link-active: $white;
$link-visited: $blue;
$link-focus: $blue;
$link-border-normal: $blue;
$link-border-hover: $white;
$link-border-active: $white;
$link-border-visited: $blue;

//NEW COLORS!!!!
//color variables
$usa-logo-back : #2c2c2c;
$footer-back : #a9a9a9;
$footer-back-home : #3d3d3d;
$footer-new-show : #9097a3;
$footer-promo-links : #dbdcdd;
$bottom-footer-back : #757575;
$bottom-footer-back-home : #262626;
$footer-links : #dcddde;
$footer-link-separator : #9d9d9d;
$header-tab-text : #666666;
$header-tab-back : #e1e1e1;
$header-tab-back-new : #454545;
$header-tab-back-hover : #a9a9a9;
$header-show-caption : #3a3a3a;
$header-full-episodes-back : #1c1c1c;
$schedule-tonight : #2c2c2c;
$schedule-on-now : #474747;
$schedule-pm-color : #606060;
$poll-back : #e9eaeb;
$poll-color : #545454;
$social-twitter-back : #3a3a3a;
$schedule-view-back : #222221;
$show-info-block : #bbb7b7;
$full-episodes-light-back : #8f8f8f;
$full-episodes-dark-back : #7a7a7a;
$promo-dark-back : #636363;
$free-full-episodes : #d0d0d2;
$show-card-back : #beb8b8;
$video-promo-back : #323232;
$consup-border : #363636;
$consum-carousel-back : #262626;
$consum-also-back : #181818;
$consum-back : #121212;

.show-color-border, .asset-img.show {
  position: relative;
  &:before {
    background: $usa-logo-back;
    display: block;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 7px;
    z-index: 2;
  }
}

.show-color {
  background: $usa-logo-back;
  &.secondary {
    background: adjust-color($usa-logo-back, $saturation: 30, $lightness: -10);
  }
  &.hover-avail {
    &:hover {
      background: lighten($usa-logo-back, 15%);
    }
  }
}



