// Import branding fonts
//styles for old fonts
@font-face {
  font-family: "Proxima N W01 Thin Reg";
  src:
  url("../fonts/37994fca-b67e-41db-94b3-44077c62810a.eot?iefix") format("eot");
}
@font-face {
  font-family: "Proxima N W01 Thin Reg";
  src:
  url("../fonts/da176885-bee9-49f7-88f0-d7ad9229ddd7.woff") format("woff"),
  url("../fonts/1861a7b7-09a5-4efd-b681-5214784ded39.ttf") format("truetype"),
  url("../fonts/610147b3-ad15-4b4b-a0fb-25244238ab3d.svg#610147b3-ad15-4b4b-a0fb-25244238ab3d") format("svg");
}
// @font-face {
//     font-family: "Proxima N W01 Light";
//     src:
//     url("../fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?iefix") format("eot");
// }
// @font-face {
//     font-family: "Proxima N W01 Light";
//     src:
//     url("../fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),
//     url("../fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),
//     url("../fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
// }
@font-face {
  font-family: "Proxima N W01 Reg";
  src:
  url("../fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?iefix") format("eot");
}
@font-face {
  font-family: "Proxima N W01 Reg";
  src:
  url("../fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),
  url("../fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),
  url("../fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Smbd";
  src:
  url("../fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?iefix") format("eot");
}
@font-face {
  font-family: "Proxima N W01 Smbd";
  src:
  url("../fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),
  url("../fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),
  url("../fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Bold";
  src:
  url("../fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?iefix") format("eot");
}
@font-face {
  font-family: "Proxima N W01 Bold";
  src:
  url("../fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),
  url("../fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),
  url("../fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Xbold";
  src:
  url("../fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?iefix") format("eot");
}
@font-face {
  font-family: "Proxima N W01 Xbold";
  src:
  url("../fonts/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),
  url("../fonts/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"),
  url("../fonts/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
}

// Avalon

@font-face {
  font-family: "avalonextra_light";
  src:
  url("../fonts/Avalon-XLight-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonextra_light";
  src:
  url("../fonts/Avalon-XLight-webfont.woff") format("woff"),
  url("../fonts/Avalon-XLight-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-XLight-webfont.svg#avalonextra_light") format("svg");
}
@font-face {
  font-family: "avalonextra_light_oblique";
  src:
  url("../fonts/Avalon-XLightObl-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonextra_light_oblique";
  src:
  url("../fonts/Avalon-XLightObl-webfont.woff") format("woff"),
  url("../fonts/Avalon-XLightObl-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-XLightObl-webfont.svg#avalonextra_light_oblique") format("svg");
}
@font-face {
  font-family: "avalonregular";
  src:
  url("../fonts/Avalon-Book-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonregular";
  src:
  url("../fonts/Avalon-Book-webfont.woff") format("woff"),
  url("../fonts/Avalon-Book-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-Book-webfont.svg#avalonregular") format("svg");
}
@font-face {
  font-family: "avalonitalic";
  src:
  url("../fonts/Avalon-BookOblique-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonitalic";
  src:
  url("../fonts/Avalon-BookOblique-webfont.woff") format("woff"),
  url("../fonts/Avalon-BookOblique-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-BookOblique-webfont.svg#avalonitalic") format("svg");
}
@font-face {
  font-family: "avalonmedium";
  src:
  url("../fonts/Avalon-Medium-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonmedium";
  src:
  url("../fonts/Avalon-Medium-webfont.woff") format("woff"),
  url("../fonts/Avalon-Medium-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-Medium-webfont.svg#avalonmedium") format("svg");
}
@font-face {
  font-family: "avalonmedium_oblique";
  src:
  url("../fonts/Avalon-MediumOblique-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonmedium_oblique";
  src:
  url("../fonts/Avalon-MediumOblique-webfont.woff") format("woff"),
  url("../fonts/Avalon-MediumOblique-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-MediumOblique-webfont.svg#avalonmedium_oblique") format("svg");
}
@font-face {
  font-family: "avalonbold";
  src:
  url("../fonts/Avalon-Demi-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonbold";
  src:
  url("../fonts/Avalon-Demi-webfont.woff") format("woff"),
  url("../fonts/Avalon-Demi-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-Demi-webfont.svg#avalonbold") format("svg");
}
@font-face {
  font-family: "avalonbold_italic";
  src:
  url("../fonts/Avalon-DemiOblique-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonbold_italic";
  src:
  url("../fonts/Avalon-DemiOblique-webfont.woff") format("woff"),
  url("../fonts/Avalon-DemiOblique-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-DemiOblique-webfont.svg#avalonbold_italic") format("svg");
}
@font-face {
  font-family: "avalon_mediumbold";
  src:
  url("../fonts/Avalon-Bold-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalon_mediumbold";
  src:
  url("../fonts/Avalon-Bold-webfont.woff") format("woff"),
  url("../fonts/Avalon-Bold-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-Bold-webfont.svg#avalon_mediumbold") format("svg");
}
@font-face {
  font-family: "avalonbold_oblique";
  src:
  url("../fonts/Avalon-BoldOblique-webfont.eot?iefix") format("eot");
}
@font-face {
  font-family: "avalonbold_oblique";
  src:
  url("../fonts/Avalon-BoldOblique-webfont.woff") format("woff"),
  url("../fonts/Avalon-BoldOblique-webfont.ttf") format("truetype"),
  url("../fonts/Avalon-BoldOblique-webfont.svg#avalonbold_oblique") format("svg");
}
@font-face {
  font-family: 'avalonregular_condensed';
  src: url('../fonts/Avalon-BookCond-webfont.eot');
  src: url('../fonts/Avalon-BookCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BookCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-BookCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BookCond-webfont.svg#avalonbook_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalonmedium_condensed';
  src: url('../fonts/Avalon-MediumCond-webfont.eot');
  src: url('../fonts/Avalon-MediumCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-MediumCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-MediumCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-MediumCond-webfont.svg#avalonmedium_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalondemi_condensed';
  src: url('../fonts/Avalon-DemiCond-webfont.eot');
  src: url('../fonts/Avalon-DemiCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-DemiCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-DemiCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-DemiCond-webfont.svg#avalondemi_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalonbold_condensed';
  src: url('../fonts/Avalon-BoldCond-webfont.eot');
  src: url('../fonts/Avalon-BoldCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BoldCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-BoldCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BoldCond-webfont.svg#avalonbold_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'itc_avant_garde_pro_mdbold';
  src: url('../fonts/itcavantgardepro-bold-webfont.eot');
  src: url('../fonts/itcavantgardepro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/itcavantgardepro-bold-webfont.woff') format('woff'),
  url('../fonts/itcavantgardepro-bold-webfont.ttf') format('truetype'),
  url('../fonts/itcavantgardepro-bold-webfont.svg#itc_avant_garde_pro_mdbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'itc_avant_garde_gothic_prdemi';
  src: url('../fonts/itcavantgardepro-demi-webfont.eot');
  src: url('../fonts/itcavantgardepro-demi-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/itcavantgardepro-demi-webfont.woff') format('woff'),
  url('../fonts/itcavantgardepro-demi-webfont.ttf') format('truetype'),
  url('../fonts/itcavantgardepro-demi-webfont.svg#itc_avant_garde_gothic_prdemi') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Font variables
$headline-bold      : "avalonbold", "Proxima N W01 Bold", Helvetica, Arial, sans-serif;
$headline-semi      : "avalonmedium", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
$headline-reg       : "avalonregular", "Proxima N W01 Reg", Arial, sans-serif;
$headline-thn       : "avalonextra_light", "Proxima N W01 Thin Reg", Arial, sans-serif;
$headline-bold-condensed      : "avalonbold_condensed", "Proxima N W01 Bold", Helvetica, Arial, sans-serif;
$headline-demi-condensed      : "avalondemi_condensed", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
$headline-semi-condensed      : "avalonmedium_condensed", "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
$headline-reg-condensed       : "avalonregular_condensed", "Proxima N W01 Reg", Arial, sans-serif;
$bodytext-bold      : "Proxima N W01 Bold", Helvetica, Arial, sans-serif;
$bodytext-semi      : "Proxima N W01 Smbd", Helvetica, Arial, sans-serif;
$bodytext-reg       : "Proxima N W01 Reg", Arial, sans-serif;


// Default font stacks
$font-mono: Consolas, Menlo, "Courier New", monospace, monospace;
//end styles for old fonts

@font-face {
  font-family: 'itc_avant_garde_pro_mdbold';
  src: url('../fonts/itcavantgardepro-bold-webfont.eot');
  src: url('../fonts/itcavantgardepro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/itcavantgardepro-bold-webfont.woff') format('woff'),
  url('../fonts/itcavantgardepro-bold-webfont.ttf') format('truetype'),
  url('../fonts/itcavantgardepro-bold-webfont.svg#itc_avant_garde_pro_mdbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'itc_avant_garde_gothic_prdemi';
  src: url('../fonts/itcavantgardepro-demi-webfont.eot');
  src: url('../fonts/itcavantgardepro-demi-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/itcavantgardepro-demi-webfont.woff') format('woff'),
  url('../fonts/itcavantgardepro-demi-webfont.ttf') format('truetype'),
  url('../fonts/itcavantgardepro-demi-webfont.svg#itc_avant_garde_gothic_prdemi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ico-font';
  src: url('../fonts/ico-font.eot');
  src: url('../fonts/ico-font.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ico-font.woff') format('woff'),
  url('../fonts/ico-font.ttf') format('truetype'),
  url('../fonts/ico-font.svg#itc_avant_garde_gothic_prdemi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avalon_mediumbold';
  src: url('../fonts/Avalon-Bold-webfont.eot');
  src: url('../fonts/Avalon-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-Bold-webfont.woff') format('woff'),
  url('../fonts/Avalon-Bold-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-Bold-webfont.svg#avalon_mediumbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonmedium';
  src: url('../fonts/Avalon-Medium-webfont.eot');
  src: url('../fonts/Avalon-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-Medium-webfont.woff') format('woff'),
  url('../fonts/Avalon-Medium-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-Medium-webfont.svg#avalonmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonbold';
  src: url('../fonts/Avalon-Demi-webfont.eot');
  src: url('../fonts/Avalon-Demi-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-Demi-webfont.woff') format('woff'),
  url('../fonts/Avalon-Demi-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-Demi-webfont.svg#avalonbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonmedium_condensed';
  src: url('../fonts/Avalon-MediumCond-webfont.eot');
  src: url('../fonts/Avalon-MediumCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-MediumCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-MediumCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-MediumCond-webfont.svg#avalonmedium_condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonmedium_oblique';
  src: url('../fonts/Avalon-MediumOblique-webfont.eot');
  src: url('../fonts/Avalon-MediumOblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-MediumOblique-webfont.woff') format('woff'),
  url('../fonts/Avalon-MediumOblique-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-MediumOblique-webfont.svg#avalonmedium_oblique') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonbold_condensed';
  src: url('../fonts/Avalon-BoldCond-webfont.eot');
  src: url('../fonts/Avalon-BoldCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BoldCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-BoldCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BoldCond-webfont.svg#avalonbold_condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonbold_oblique';
  src: url('../fonts/Avalon-BoldOblique-webfont.eot');
  src: url('../fonts/Avalon-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BoldOblique-webfont.woff') format('woff'),
  url('../fonts/Avalon-BoldOblique-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BoldOblique-webfont.svg#avalonbold_oblique') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonbook_condensed';
  src: url('../fonts/Avalon-BookCond-webfont.eot');
  src: url('../fonts/Avalon-BookCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BookCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-BookCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BookCond-webfont.svg#avalonbook_condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonitalic';
  src: url('../fonts/Avalon-BookOblique-webfont.eot');
  src: url('../fonts/Avalon-BookOblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-BookOblique-webfont.woff') format('woff'),
  url('../fonts/Avalon-BookOblique-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-BookOblique-webfont.svg#avalonitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalondemi_condensed';
  src: url('../fonts/Avalon-DemiCond-webfont.eot');
  src: url('../fonts/Avalon-DemiCond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-DemiCond-webfont.woff') format('woff'),
  url('../fonts/Avalon-DemiCond-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-DemiCond-webfont.svg#avalondemi_condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonbold_italic';
  src: url('../fonts/Avalon-DemiOblique-webfont.eot');
  src: url('../fonts/Avalon-DemiOblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-DemiOblique-webfont.woff') format('woff'),
  url('../fonts/Avalon-DemiOblique-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-DemiOblique-webfont.svg#avalonbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonextra_light';
  src: url('../fonts/Avalon-XLight-webfont.eot');
  src: url('../fonts/Avalon-XLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-XLight-webfont.woff') format('woff'),
  url('../fonts/Avalon-XLight-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-XLight-webfont.svg#avalonextra_light') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonextra_light_oblique';
  src: url('../fonts/Avalon-XLightObl-webfont.eot');
  src: url('../fonts/Avalon-XLightObl-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-XLightObl-webfont.woff') format('woff'),
  url('../fonts/Avalon-XLightObl-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-XLightObl-webfont.svg#avalonextra_light_oblique') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'avalonregular';
  src: url('../fonts/Avalon-Book-webfont.eot');
  src: url('../fonts/Avalon-Book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avalon-Book-webfont.woff') format('woff'),
  url('../fonts/Avalon-Book-webfont.ttf') format('truetype'),
  url('../fonts/Avalon-Book-webfont.svg#avalonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'texgyrescholaregular';
  src: url('../fonts/texgyreschola-regular-webfont.eot');
  src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
  url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
  url('../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'texgyrescholabold';
  src: url('../fonts/texgyreschola-bold-webfont.eot');
  src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
  url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
  url('../fonts/texgyreschola-bold-webfont.svg#texgyrescholabold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'texgyrescholabold_italic';
  src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
  src: url('../fonts/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
  url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/texgyreschola-bolditalic-webfont.svg#texgyrescholabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'texgyrescholaitalic';
  src: url('../fonts/texgyreschola-italic-webfont.eot');
  src: url('../fonts/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
  url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
  url('../fonts/texgyreschola-italic-webfont.svg#texgyrescholaitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

//=================================

$avantgarde-demi : 'avalonbold', Helvetica, Arial, sans-serif;
$avantgarde-medium : 'avalonmedium', Helvetica, Arial, sans-serif;
$cent-725BT-italic : 'texgyrescholaregular', Times, serif;
$ico-font : 'ico-font';


