////////////////////////////
// Kit Default Variables
////////////////////////////


$icons-spacing: 20px;

// Pick a reset or normalization
// accepted values: 'meyer' (default), 'normalize', false
// choose to reset header sizes (applies to 'normalize' only)
$init-headers: false;
$init-type: normalize;
// use [Formalize](http://formalize.me/)
$formalize: false;

// pixel-normalize
// [A List Apart](http://www.alistapart.com/articles/a-pixel-identity-crisis/)
$pixel-normalize: false;

// Font size and line-height
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

// Modular Scale (used by 04-base)
// values used to determine modular scale values
// and http://modularscale.com/
// $ratio: golden_ratio() major_third();
// $base-size: $base-font-size;

// Dimensions
// basic values, independant of any css framework
$kit-baseline: $base-line-height;
$kit-baseline-half: $kit-baseline * 0.5;
$kit-baseline-neg: $kit-baseline * -1;
$kit-gutter: ms(2);
$kit-gutter-half: $kit-gutter * 0.5;
$kit-gutter-neg: $kit-gutter * -1;


// use the Compass baseline system
$establish-baseline: true;

// Headers
// create a list of header sizes, H1 - H6
$set-header-sizes: true;
$header-sizes: 37px 24px 20px 16px 1em 1em;
// Use Compass's adjust-font-size-to function
$adjust-font-size-to: false;
// fancy apersands - for .amp within headers
$header-ampersands: false;

// Links
// replace normal link underlines with bottom borders
$border-links: false;
// animate link hovers. use a 'time' value, like '0.5s'
$link-transitions: false;

// Forms
$kit-form-defaults: true;

// Grid Variables
// note: set grid system-specific variables in the grid section (06)
$show-grid: false;
$show-baseline: false;

// Animate all the things
// useful for previewing css changes.
// do something more targeted in production, ok?
$animate-all-the-things: false;

// NAVIGATION
$primary-nav-height-mobi: 50px;
$primary-nav-height-dt: 65px;
$logo-height-large: 34px;
$logo-height-med: 28px;
$logo-height-med-2: 32px;

// Z-Index
// making utility higher than wall only when using slide out panel/menu
$ziWall         : 100;
$ziMegaPanels   : 50000;
$ziMegaNav      : 50001;
$ziUtilities    : 103;
$ziFilterOpen   : 95;

// standard column sizes
$column-width : 300px;
$gutter-width : 15px;
// $bp-1-col     : 1 * $column-width + 0 * $gutter-width;
// $bp-2-col     : 2 * $column-width + 1 * $gutter-width;
$bp-3-col     : 3 * $column-width + 2 * $gutter-width;
// $bp-4-col     : 4 * $column-width + 3 * $gutter-width;
// $bp-5-col     : 5 * $column-width + 4 * $gutter-width;
// $bp-6-col     : 6 * $column-width + 5 * $gutter-width;

// carousel size variable: (width, height);
$carousel-smallest: 146px, 122px;
$carousel-small: 195px, 163px;
$carousel-medium: 221px, 185px;
$carousel-large: 237px, 198px;

// Breakpoint variables
$breakpoint-no-query-fallbacks: true;
$bp-menu-switch: 769px;
$bp-menu-narrow: max-width ($bp-menu-switch);
$bp-menu-wide: 960px;

$bp-episode-ad-switch:  500px;
$bp-episode-side-menu: 769px, 'no-query' '.no-mediaqueries';
$bp-episode-split-content: 881px;
$bp-episode-ads-side-by-side: 660px $bp-episode-side-menu;
$episode-side-menu-width: 235px;
$bp-gallery-wider: 723px;
$bp-image-size-matrix-1 : (min-width 1023px) (max-height 599px) ;
$bp-image-size-matrix-2 : (min-width 1023px) (min-height 600px) ;
$bp-image-size-matrix-3 : (min-width 1023px) (min-height 700px) ;
$bp-image-size-matrix-4 : (min-width 1023px) (min-height 800px) ;
$bp-image-size-matrix-5 : (min-width 1023px) (min-height 900px);
$bp-image-size-matrix-6 : (min-width 1023px) (min-height 1000px);
$bp-image-size-matrix-7 : (min-width 1275px) (max-height 599px) ;
$bp-image-size-matrix-8 : (min-width 1275px) (min-height 600px) ;
$bp-image-size-matrix-9 : (min-width 1275px) (min-height 700px) ;
$bp-image-size-matrix-10: (min-width 1275px) (min-height 800px) ;
$bp-image-size-matrix-11: (min-width 1275px) (min-height 900px) ;
$bp-image-size-matrix-12: (min-width 1275px) (min-height 1000px);
$bp-nav-nudge-1: 487px;
$bp-nav-nudge-2: 723px;
$bp-nav-nudge-3: 959px;
$bp-grid-small-meta-matrix-1: $bp-nav-nudge-1 $bp-nav-nudge-2;
$bp-grid-small-meta-matrix-2: $bp-nav-nudge-2 $bp-nav-nudge-3;
$bp-grid-small-meta-matrix-3: $bp-nav-nudge-3;

$bp-image-size-ie: 600px;

// ad leaderboard
$bp-ad-leaderboard-med-width: 768px;

// person page breakpoints
$bp-person-small-width: 330px;
$bp-person-mid-two-width: 390px;
$bp-person-medium-width: 768px;
$bp-person-gall-width: 704px;
//$bp-person-share-icon-width: 300px;

$bp-snipe-small-width-range: 300px 768px;
$bp-snipe-large-width-range: 769px 1023px;

// social page breakpoints
$bp-social-xtra-large-width: 1275px;
$bp-social-very-large-width: 1050px;
$bp-social-large-width: 900px;
$bp-social-mid-width: 723px;
$bp-social-echo: 500px;
$bp-social-small-width: 330px;

$bp-social-lyris-large: 960px;

// on now
$bp-on-now: 640px;

//carousel
$bp-carousel-smallest: 330px;


// show landing page
$bp-show-mid-width: 645px;
$bp-show-large-width: 959px;
$bp-show-very-large-width: 1275px;

$bp-aspot-very-large-width: 1275px;
$bp-aspot-large-width: 959px;
$bp-aspot-mid-width: 645px;


// show landing page
$bp-video-very-large-width: 1275px;
$bp-video-mid-large-width: 1024px;
$bp-video-large-width: 959px;
$bp-video-large2-width: 960px;
$bp-video-medium-width: 723px;
$bp-video-mid-width: 645px;
$bp-video-mid2_width: 644px;
$bp-video-mid-small-width: 487px;
$bp-video-mid-smaller-width: 481px;
//$bp-video-small-width;

$bp-video-player-section: max-width 644px;

$bp-video-low-range-width: 320px 644px;
$bp-video-mid-range-width: 481px 1023px;
$bp-video-mid-range2-width: 487px 722px;
$bp-video-mid-range3-width: 723px 958px;
$bp-video-mid-range4-width: 645px 959px;
$bp-video-high-range-width: 960px 1274px;


// aspot
$bp-aspot-large-width: 1275px;
$bp-aspot-mid-width: 645px;
$bp-aspot-mid-range-width: 645px 959px;
$bp-aspot-mid-range2-width: 960px 1274px;


$bp-head-search: 641px;

// schedule
$bp-schedule-table-wide: 719px;
$bp-schedule-date-wide: 640px;
$bp-schedule-mobile-small: 359px 479px;
$bp-schedule-mobile-mid: 480px ($bp-schedule-date-wide - 1);

// subnav promo image
$bp-show-four-subnav-images: 1200px;

$bp-maintenance: 330px;

// home page grid breakpoints
$bp-home-2col: 710px;
$bp-home-3col: 1020px;
$bp-home-widest: 1335px;
$bp-home-narrowest: max-width ($bp-home-2col - 1);
$bp-home-2-fence: $bp-home-2col ($bp-home-3col - 1);
$bp-home-3-fence: $bp-home-3col ($bp-home-widest - 1);


// small grid breakpoints
$bp-grid-small-2-squish: max-width 524px;
$bp-grid-small-2: 525px;
$bp-grid-small-3: 772px;
$bp-grid-small-4: 1020px;
$bp-grid-small-2-3: max-width ($bp-grid-small-3 - 1);
$bp-grid-small-2-fence: $bp-grid-small-2 ($bp-grid-small-3 - 1);
$bp-grid-small-3-fence: $bp-grid-small-3 ($bp-grid-small-4 - 1);

// small - wide grid breakpoints
$bp-grid-small-wide-small: max-width ($bp-video-mid-small-width - 1);
$bp-grid-small-wide-2-3: max-width ($bp-video-medium-width - 1);
$bp-grid-small-wide-2-fence: $bp-video-mid-small-width ($bp-video-medium-width - 1);
$bp-grid-small-wide-3-fence: $bp-video-medium-width ($bp-video-large-width - 1);
$bp-grid-small-wide-2-3-fence: $bp-video-mid-small-width ($bp-video-large-width - 1);
$bp-grid-small-wide-4-fence: $bp-video-large-width ($bp-video-very-large-width - 1);
$bp-grid-small-wide-4: $bp-video-very-large-width;

// show page grid breakpoints
$bp-grid-show-2: $bp-show-mid-width;
$bp-grid-show-3: $bp-show-large-width;
$bp-grid-show-4: $bp-show-very-large-width;
$bp-grid-show-2-fence: $bp-grid-show-2 ($bp-grid-show-3 - 1);
$bp-grid-show-3-fence: $bp-grid-show-3 ($bp-grid-show-4 - 1);

// blog
$bp-blog-mobile: max-width 639px;
$bp-blog-mobile-landscape: 639px 769px;

// catchall seo page
$bp-catchall-seo-1: max-width 1014px;

////////////////////////////
// COMPASS DEFAULTS
////////////////////////////

// SUPPORT
// LEGACY AND EXPERIMENTAL BROWSER SUPPORT
// $legacy-support-for-ie: true;
// $legacy-support-for-ie6: $legacy-support-for-ie;
// $legacy-support-for-ie7: $legacy-support-for-ie;
// $legacy-support-for-ie8: $legacy-support-for-ie;
// $experimental-support-for-mozilla      : true;
// $experimental-support-for-webkit       : true;
// $support-for-original-webkit-gradients : true;
// $experimental-support-for-opera        : true;
// $experimental-support-for-microsoft    : true;
// $experimental-support-for-khtml        : false;
// $experimental-support-for-svg          : false;
// $experimental-support-for-pie          : false;


// CSS3

// BACKGROUND CLIP
// $default-background-clip: padding-box;

// BACKGROUND ORIGIN
// $default-background-origin: content-box;

// BACKGROUND SIZE
// $default-background-size: 100% auto;

// BORDER RADIUS
// $default-border-radius: 5px;

// BOX
// $default-box-orient: horizontal;
// $default-box-align: stretch;
// $default-box-flex: 0;
// $default-box-flex-group: 1;
// $default-box-ordinal-group: 1;
// $default-box-direction: normal;
// $default-box-lines: single;
// $default-box-pack: start;

// BOX SHADOW
// $default-box-shadow-color: #333333;
// $default-box-shadow-h-offset: 0px;
// $default-box-shadow-v-offset: 0px;
// $default-box-shadow-blur: 5px;
// $default-box-shadow-spread: false;
// $default-box-shadow-inset: false;

// CSS3 PIE
// $pie-base-class: false;
// $pie-default-approach: relative;
// $pie-behavior: stylesheet-url("PIE.htc");

// TEXT SHADOW
// $default-text-shadow-color: #aaaaaa;
// $default-text-shadow-h-offset: 0px;
// $default-text-shadow-v-offset: 0px;
// $default-text-shadow-blur: 1px;
// $default-text-shadow-spread; false;

// TRANSFORM
// $default-origin-x: 50%;
// $default-origin-y: 50%;
// $default-origin-z: 50%;
// $default-scale-x: 1.25;
// $default-scale-y: $default-scale-x;
// $default-scale-z: $default-scale-x;
// $default-rotate: 45deg;
// $default-vector-x: 1;
// $default-vector-y: 1;
// $default-vector-z: 1;
// $default-translate-x: 1em;
// $default-translate-y: $default-translate-x;
// $default-translate-z: $default-translate-x;
// $default-skew-x: 5deg;
// $default-skew-y: 5deg;

// TRANSITION
// $default-transition-property: all;
$default-transition-duration: 0.2s;
// $default-transition-function: false;
// $default-transition-delay: false;
// $transitionable-prefixed-values: transform, transform-origin;

// LAYOUT

// GRID BACKGROUND
// $grid-background-column-color: rgba(100, 100, 225, 0.25);
// $grid-background-gutter-color: rgba(0, 0, 0, 0);
// $grid-background-total-columns: 24;
// $grid-background-column-width: 30px;
// $grid-background-gutter-width: 10px;
// $grid-background-offset: 0px;
// $grid-background-baseline-color: rgba(0, 0, 0, 0.5);
// $grid-background-baseline-height: 1.5em;
// $show-column-grid-backgrounds: true;
// $show-baseline-grid-backgrounds: true;
// $show-grid-backgrounds: true;
// $grid-background-force-fluid: false;

// UTILITIES
// COLOR
// $contrasted-dark-default: black;
// $contrasted-light-default: white;
// $contrasted-lightness-threshold: 30%;

// VERTICAL RHYTHM
// $default-rhythm-border-style: solid;
// $relative-font-sizing: true;
// $round-to-nearest-half-line: false;
// $min-line-padding: 2px;
// $font-unit: if($relative-font-sizing, 1em, $base-font-size);

// COMPASS COLOR CONTRAST
// $contrasted-dark-default: black;
// $contrasted-light-default: white;
// $contrasted-lightness-threshold: 30%;

// HACKS
// $default-has-layout-approach; zoom;

// COMPASS SPRITE BASE
// $sprite-selectors: hover, target, active;
// $disable-magic-sprite-selectors; false;

// COMPASS SPRITE IMAGE
// $sprite-default-size: 32px;
// $sprite-default-margin: 0px;
// $sprite-image-default-width: $sprite-default-size;
// $sprite-image-default-height: $sprite-default-size;

// COMPASS TEXT REPLACEMENT
// $hide-text-direction: left;

// COMPASS INLINE BLOCK
// $inline-block-alignment: middle;

// TRUNCATING TEXT WITH ELLIPSES
// $use-mozilla-ellipsis-binding: false;


//NEW SETTINGS!!!!!!!!!!!!
//breakpoints
$bp-1920-width: max-width 1920px;
$bp-1600-width: max-width 1600px;
$bp-1400-width: max-width 1400px;
$bp-1280-width: max-width 1280px;
$bp-1024-width: max-width 1024px;
$bp-768-width: max-width 768px;
$bp-640-width: max-width 640px;
$bp-480-width: max-width 480px;
$bp-320-width: max-width 320px;
$bp-240-width: max-width 240px;

$bp-min-481-width: 481px;
$bp-min-641-width: 641px;
$bp-min-769-width: 769px;
$bp-min-1025-width: 1025px;
$bp-min-1281-width: 1281px;
$bp-min-1601-width: 1601px;
$bp-min-1701-width: 1701px;
$bp-min-1920-width: 1920px;

$between-641-768: 641px 768px;
$between-641-1024: 641px 1024px;
$between-641-1280: 641px 1280px;
$between-769-990: 769px 990px;
$between-769-1024: 769px 1024px;
$between-769-1280: 769px 1280px;
$between-1025-1280: 1025px 1280px;
$between-1281-1600: 1281px 1600px;
$between-1281-1919: 1281px 1919px;

//
$show-carousel-item-width : 270px;
$show-carousel-item-width-less-1024 : 342px;

//sprites/
$sprites: sprite-map("sprites/*.png");
$sprites-retina: sprite-map("sprites-retina/*.png");
