.tveModalBackdrop {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.tveModal {
  position: absolute;
  z-index: 2001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tveModal.fade {
  opacity: 0;
  top: -100%;
}
.tveModal.in {
  opacity: 1;
  top: 0;
}
.tveModal .modalHeader {
  position: relative;
  z-index: 5;
  min-height: 20px;
}
.tveModal .modalHeader li {
  display: inline-block;
}
.tveModal .modalHeader h1 {
  color: white;
  font-size: 20px;
}
@media (min-width: 720px) {
  .tveModal .modalHeader h1 {
    font-size: 26px;
  }
}
.tveModal .modalContent {
  min-height: 300px;
  padding: 3%;
}
.tveModal .modalFooter {
  padding: 15px 12px;
}
.tveModal .closeButton {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
}
.tveModal .moreDetails {
  display: none;
}
@media (min-width: 720px) {
  .tveModal {
    position: fixed;
    left: 50%;
    width: 90%;
    height: auto;
    margin-left: -45%;
  }
  .tveModal.in {
    top: 40px;
  }
  .tveModal .modalContent {
    margin: 0 -1.3%;
    padding: 25px;
  }
  .tveModal .modalFooter {
    height: auto;
    min-height: 20px;
  }
  .tveModal .closeButton {
    top: -20px;
    right: -20px;
  }
  .tveModal .moreDetails {
    display: inline-block;
    float: right;
  }
  .tveModal.small {
    width: 500px;
    margin-left: -250px;
  }
}
@media (min-width: 1024px) {
  .tveModal {
    width: 960px;
    margin-left: -480px;
  }
}

.tveModal.loginModal .modalSteps {
  height: 107px;
}
.tveModal.loginModal .modalSteps ol, .tveModal.loginModal .modalSteps li {
  height: 100%;
}
.tveModal.loginModal .modalSteps li {
  width: 30%;
  float: left;
  margin-top: -20px;
  padding-top: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *behavior: none;
}
.tveModal.loginModal .modalSteps li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 75px;
  text-align: center;
}
@media (min-width: 720px) {
  .tveModal.loginModal .modalSteps {
    padding: 0 8%;
  }
}
.tveModal.loginModal .highlighted {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 250px;
  padding: 15px;
}
.tveModal.loginModal .allProviders {
  padding-bottom: 100px;
}
.tveModal.loginModal .allProviders .select {
  margin-bottom: 15px;
}
.tveModal.loginModal .premiumFeatures .separator {
  margin-bottom: 30px;
  padding-bottom: 70px;
}
.tveModal.loginModal .premiumFeatures .interactionColumn {
  padding: 30px 0;
  text-align: center;
}
.tveModal.loginModal .goToSignIn {
  margin-top: 125px;
}
.tveModal.loginModal .contentColumn {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.tveModal.loginModal .interactionColumn {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.tveModal.loginModal .interactionColumn .mvpd a {
  text-align: center;
}
.tveModal.loginModal .interactionColumn .mvpd .aligner {
  display: inline-block;
  line-height: 73px;
}
@media (min-width: 480px) {
  .tveModal.loginModal .contentColumn {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .tveModal.loginModal .interactionColumn {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 720px) {
  .tveModal.loginModal .contentColumn {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .tveModal.loginModal .interactionColumn {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.tveModal {
  -webkit-transition: top 400ms ease-out, opacity 250ms linear;
  -moz-transition: top 400ms ease-out, opacity 250ms linear;
  -o-transition: top 400ms ease-out, opacity 250ms linear;
  transition: top 400ms ease-out, opacity 250ms linear;
}
.tveModal ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.tveModal em {
  font-style: italic;
}
.tveModal.adobePassFrame .modalContent {
  background-image: none;
  filter: none;
  background-color: white;
}
.tveModal .modalHeader {
  background: #1f1f1f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #3b3b3b), color-stop(2%, #3b3b3b), color-stop(60%, #3b3b3b), color-stop(100%, #1f1f1f));
  background-image: -webkit-linear-gradient(center top, #3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background-image: -moz-linear-gradient(center top, #3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background-image: -o-linear-gradient(center top, #3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background-image: linear-gradient(center top, #3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background: -ms-linear-gradient(center top, #3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  position: relative;
  z-index: 5;
}
.tveModal .modalContent {
  color: #4f4f4f;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #cfcfcf 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #cfcfcf 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cfcfcf 100%);
  background: -ms-linear-gradient(top, white 0%, #cfcfcf 100%);
  display: block;
}
.tveModal .modalContent h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 15px;
}
.tveModal .modalContent p {
  font-size: 13px;
  margin-bottom: 15px;
}
.tveModal .modalFooter {
  font-family: 'avalonmedium';
  font-size: 14px;
  background: #3b3b3b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #1f1f1f), color-stop(40%, #3b3b3b), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(center top, #1f1f1f 1%, #3b3b3b 40%, #3b3b3b 100%);
  background-image: -moz-linear-gradient(center top, #1f1f1f 1%, #3b3b3b 40%, #3b3b3b 100%);
  background-image: -o-linear-gradient(center top, #1f1f1f 1%, #3b3b3b 40%, #3b3b3b 100%);
  background-image: linear-gradient(center top, #1f1f1f 1%, #3b3b3b 40%, #3b3b3b 100%);
  background: -ms-linear-gradient(center top, #1f1f1f 1%, #3b3b3b 40%, #3b3b3b 100%);
}
.tveModal .modalFooter label {
  cursor: pointer;
}
.tveModal .richContent {
  font-size: 14px;
}
@media (min-width: 480px) {
  .tveModal .richContent {
    font-size: 16px;
  }
}
.tveModal .richContent h1 {
  margin-bottom: 4%;
  font-size: 20px;
  color: #ff7200;
}
.tveModal .richContent h2 {
  margin-bottom: 4%;
  font-size: 18px;
}
.tveModal .richContent ul {
  margin-bottom: 4%;
  padding-left: 20px;
  list-style-type: square;
  color: #ff7200;
}
.tveModal .richContent ul li {
  margin-bottom: 2%;
}
.tveModal .richContent ul li span {
  color: #4f4f4f;
}

.tveModal.loginModal ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.tveModal.loginModal em {
  font-style: italic;
}
.tveModal.loginModal ul {
  list-style-type: square;
}
.tveModal.loginModal .modalSteps li {
  font: 14px/16px bold 'avalonbold', Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .tveModal.loginModal .modalSteps li {
    font-size: 18px;
    line-height: 21px;
  }
}
.tveModal.loginModal .modalSteps li span {
  opacity: 0.3;
}
.tveModal.loginModal .modalSteps li.current span, .tveModal.loginModal .modalSteps li.active span, .tveModal.loginModal .modalSteps li.completed span {
  opacity: 1;
}
.tveModal.loginModal .modalSteps li.current {
  background-size: contain;
}
.tveModal.loginModal .modalSteps li.current span {
  position: relative;
  z-index: 0;
}
.tveModal.loginModal .modalSteps li.current span:after {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  bottom: 0;
  display: inline-block;
  margin-left: -9px;
  border-bottom: 8px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.tveModal.loginModal .highlighted {
  background-color: #f3f3f3;
  list-style-type: none;
}
.tveModal.loginModal .highlighted hgroup {
  color: #4f4f4f;
  text-align: center;
}
.tveModal.loginModal .highlighted h2 {
  font-size: 20px;
  margin-bottom: 2%;
}
.tveModal.loginModal .highlighted h3 {
  font-size: 16px;
  margin-bottom: 2%;
}
.tveModal.loginModal .highlighted .buttonBar {
  padding-top: 15px;
  text-align: center;
}
.tveModal.loginModal .highlighted .buttonBar button {
  color: #0ab6e8;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}
.tveModal.loginModal .highlighted .mvpd {
  list-style-type: none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 24%;
  height: 75px;
  margin: 1px 0.5% 4px;
  border: 1px solid #dfdfdf;
  line-height: 75px;
  text-align: center;
  background-color: #fff;
}
.tveModal.loginModal .highlighted .mvpd a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.tveModal.loginModal .highlighted .mvpd img {
  max-width: 80%;
  max-height: 90%;
  height: auto;
  vertical-align: middle;
}
.tveModal.loginModal .getStartedStep h2, .tveModal.loginModal .getStartedStep h3 {
  margin-bottom: 25px;
  padding-top: 15px;
  line-height: 100%;
}
.tveModal.loginModal .getStartedStep h2 {
  font-size: 3em;
}
.tveModal.loginModal .getStartedStep h3 {
  font-size: 1.5em;
}
.tveModal.loginModal .getStartedStep li {
  display: inline;
  margin-left: 12px;
}
.tveModal.loginModal .getStartedStep li:first-child {
  margin-left: 0;
}
.tveModal.welcomeModal .modalHeader {
  height: auto;
  padding: 25px 15px;
}
.tveModal.welcomeModal .modalContent {
  position: relative;
  z-index: 0;
  padding-bottom: 40px;
}
.tveModal.welcomeModal .modalContent .articles article {
  clear: left;
  padding: 2%;
  color: #4f4f4f;
}
.tveModal.welcomeModal .modalContent .articles article figure {
  float: left;
  width: 20%;
  margin-right: 5px;
}
.tveModal.welcomeModal .modalContent .articles article figure img {
  width: 100%;
}
@media (min-width: 720px) {
  .tveModal.welcomeModal .modalContent .articles article {
    clear: none;
    float: left;
    width: 30%;
    padding: 1% 3%;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
  }
  .tveModal.welcomeModal .modalContent .articles article:first-child {
    padding-left: 0;
    border-left: none;
    width: 27%;
  }
  .tveModal.welcomeModal .modalContent .articles article figure {
    float: none;
    width: auto;
    vertical-align: top;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .tveModal.welcomeModal .modalContent .articles article {
    width: 25%;
  }
  .tveModal.welcomeModal .modalContent .articles article:first-child {
    width: 22%;
  }
}
.tveModal.welcomeModal .modalContent .buttonBar {
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 1024px) {
  .tveModal.welcomeModal .welcomeBgImage {
    position: absolute;
    z-index: 5;
    right: -3.3%;
    bottom: 0;
    width: 325px;
    height: 315px;
  }
}

.tveModal.errorModal .modalContent {
  position: relative;
  min-height: 340px;
}

.tveModal.errorModal .modalContent .errorBody {
  width: 60%;
}

@media (min-width: 720px) {
  .tveModal.errorModal.small {
    width: 500px;
    margin-left: -250px;
  }
}

@media (min-width: 1024px) {
  .tveModal.errorModal {
    width: 672px;
    margin-left: -336px;
  }

  .tveModal.errorModal .errorBgImage {
    position: absolute;
    z-index: 5;
    right: -20px;
    bottom: 0;
    width: 325px;
    height: 340px;
  }
}
