body {
  color: #4F4F4F;
  background: none;
}

a:hover {
  text-decoration: underline;
}

.gray {
  border-color: transparent;
  background: none;
}

#header {
  color: #fff;
  background: #3b3b3b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #3b3b3b), color-stop(2%, #3b3b3b), color-stop(60%, #3b3b3b), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(#3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background: -moz-linear-gradient(#3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background: -o-linear-gradient(#3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
  background: linear-gradient(#3b3b3b 1%, #3b3b3b 2%, #3b3b3b 60%, #1f1f1f 100%);
}

#header h1 {
  color: #fff;
}

#footer {
  margin-bottom: -10px;
  color: #fff;
  background: #1f1f1f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f1f1f), color-stop(40%, #3b3b3b), color-stop(100%, #3b3b3b));
  background: -webkit-linear-gradient(#1f1f1f, #3b3b3b 40%, #3b3b3b 100%);
  background: -moz-linear-gradient(#1f1f1f, #3b3b3b 40%, #3b3b3b 100%);
  background: -o-linear-gradient(#1f1f1f, #3b3b3b 40%, #3b3b3b 100%);
  background: linear-gradient(#1f1f1f, #3b3b3b 40%, #3b3b3b 100%);
}

#content {
  padding: 10px 0;
  background: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #cfcfcf));
  background: -webkit-linear-gradient(#fff, #cfcfcf);
  background: -moz-linear-gradient(#ffffff, #cfcfcf);
  background: -o-linear-gradient(#ffffff, #cfcfcf);
  background: linear-gradient(#fff, #cfcfcf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 );
}

#fields {
  background: none;
  border-color: transparent;
}

#fields input[type="text"],
#fields input[type="password"] {
  width: 155px;
  height: 32px;
  margin: 0 0 12px 0;
  padding: 6px;
  border: 1px solid #cccccc;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#fields input[type="text"]:focus,
#fields input[type="password"]:focus {
  border-color: #b3b3b3;
  outline: none !important;
  background: #fafafa;
}

#fields input[type="text"].full,
#fields input[type="password"].full {
  width: 100%;
}

.button_close {
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  border: none;
  background: url("http://stage.tve.nbcuni.com/sites/all/themes/tve/images/sprite/buttons/close-modal.png") no-repeat 50% 50%;
}

.social_icon {
  float: none;
  display: inline-block;
  width: 203px;
  margin-right: 0;
  opacity: 0.8;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -ms-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.social_icon:hover {
  opacity: 1;
}

#icon_facebook {
  background: url(http://stage.tve.nbcuni.com/sites/nbcutve/themes/tve/images/authen/connectsocial-facebook.png) no-repeat left top;
}

#icon_twitter {
  background: url(http://stage.tve.nbcuni.com/sites/nbcutve/themes/tve/images/authen/connectsocial-twitter.png) no-repeat left top;
}

button.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: white;
  font-size: 18px;
  text-shadow: #05566e 0 -1px 0;
  filter: none;
  background: #0ab6e8;
  cursor: pointer;
}

button.button:hover {
  text-decoration: none;
  background: #09a3d0;
  filter: none;
}

button.button:active {
  background: #0897c1;
  filter: none;
}

button.button.loading,
button.button.loading:active {
  background: #0ab6e8;
  filter: none;
}

button.button.disabled,
button.button[disabled],
button.button:disabled,
button.button:disabled:active {
  opacity: 0.6;
  background: #0ab6e8;
  cursor: default;
  box-shadow: none;
  filter: none;
}
button.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

#fields select {
  height: 32px;
  border-color: #ccc;
}

#fields select:focus {
  border-color: #b3b3b3;
}

#fields ul li.required .input_container {
  background: none;
}

.required_key {
  display: none;
}

.variable_width_centered_container,
.variable_width_centered_contents {
  position: static;
  float: none;
  left: 0;
}

.variable_width_centered_contents {
  text-align: center;
}

@media (min-width: 480px) {
  #main {
    padding: 20px 10px 0;
  }

  .button_close {
    top: 0;
    right: -8px;
  }

  #header {
    margin: 0 1%;
  }
}
