////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////
@import 'modules/footer';
@import 'modules/header';
@import 'modules/aspot';
@import 'modules/schedule-tonight';
@import 'modules/b-c-spot';
@import 'modules/poll';
@import 'modules/shows';
@import 'modules/featured';
@import 'modules/social';
@import 'modules/carousels';
@import 'modules/catch-up';
@import 'modules/player';
@import 'modules/consumptionator-content';
@import 'modules/schedule-page';
@import 'modules/search';
