/*
Syntax error: Invalid CSS after "      }": expected "}", was "<<<<<<< HEAD"
        on line 498 of d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/design/modules/_a-spot.scss
        from line 94 of d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/style.scss

Backtrace:
d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/design/modules/_a-spot.scss:498
d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/style.scss:94
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1147:in `expected'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1078:in `tok!'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:535:in `block'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:274:in `to_tree'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Program Files/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Program Files/Ruby/bin/compass:23:in `load'
C:/Program Files/Ruby/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"      }\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 498 of d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/design/modules/_a-spot.scss\A         from line 94 of d:/www/usanetwork/docroot/sites/usanetwork/docroot/sites/usanetwork/themes/aurora_usa/sass/style.scss"; }
