//Suits:
$a : #d42027;
$b : #e83939;
$c : #be1c23;

$show-suits : #3a3f5d;
$show-suits-secondary : #0a1b41;
$show-suits-tertiary : #52556e;

//Chrisley Knows Best:
$a : #f2ad2c;
$b : #f5be56;
$c : #ebb249;

$show-chrisley : #f5be56;
$show-chrisley-secondary : #f2ad2c;
$show-chrisley-tertiary : #f6cc7c;

//Graceland:
$a : #0d3b6e;
$b : #1b4c83;
$c : #113359;

$show-graceland : #6fa0d5;

//Covert Affairs:
$a : #c50504;
$b : #d60302;
$c : #b10808;

$show-covert : #d52f2f;
//Royal Pains:

$a : #7cd7fd;
$b : #9bdffc;
$c : #68c5ec;

$show-rp : #409dbe;
