%meta {
  @extend %h2;
  background: $black-trans;
  bottom: 0;
  color: $white;
  display: block;
  font-size: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  padding: 12px 15px 9px;
  margin: 0;
}
