.show-color-border {
  position: relative;
  &:before {
    background: $usa-logo-back;
    display: block;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 1;
  }
}

.show-color {
  background: $usa-logo-back;
  &.dark {
    background: adjust-color($usa-logo-back, $saturation: 30, $lightness: -10);
  }
  &.hover-avail {
    &:hover {
      background: lighten($usa-logo-back, 15%);
    }
  }
}

//shows colors
//Suits
$suits: (
        show: suits,
        primary: #d42027,
        secondary: #e83939,
        tertiary: #be1c23
);
//Chrisley Knows Best
$chrisley: (
        show: chrisley,
        primary: #f2ad2c,
        secondary: #f5be56,
        tertiary: #ebb249
);
//Graceland
$graceland: (
        show: graceland,
        primary: #0d3b6e,
        secondary: #1b4c83,
        tertiary: #113359
);
//Covert Affairs:
$covert-affairs: (
        show: covert-affairs,
        primary: #c50504,
        secondary: #d60302,
        tertiary: #b10808
);
//Royal Pains:
$royal-pains: (
        show: royal-pains,
        primary: #7cd7fd,
        secondary: #9bdffc,
        tertiary: #68c5ec
);

//_____OLD COLORS SHOWS_________
//Rush:
$rush: (
        show: rush,
        primary: #2665aa,
        secondary: #0b4c7c,
        tertiary: #5d8dc6
);
//Dig:
$dig: (
        show: dig,
        primary: #e98e11,
        secondary: #e98e11,
        tertiary: #e98e11
);
//Benched:
$benched: (
        show: benched,
        primary: #962e8d,
        secondary: #962e8d,
        tertiary: #962e8d
);
//Bridesmaids:
$bridesmaids: (
        show: bridesmaids,
        primary: #ff68be,
        secondary: #ff68be,
        tertiary: #ff68be
);
//Playing house:
$playing-house: (
        show: playing-house,
        primary: #79b365,
        secondary: #79b365,
        tertiary: #79b365
);
//Law and Order:
$law-and-order: (
        show: law-and-order,
        primary: #80a677,
        secondary: #80a677,
        tertiary: #80a677
);
//Satisfaction:
$satisfaction: (
        show: satisfaction,
        primary: #f83a3a,
        secondary: #f83a3a,
        tertiary: #f83a3a
);

/*
$show-burnnotice : #fef200;
//csi
$show-csi : #0ab6e8;
//usadaytime
$show-usadaytime : #e16e1a;
//house
$show-house : #0ab6e8;
//svu
$show-svu : #a5e2ff;
//modernfamily
$show-modernfamily : #ee991a;
//themoment
$show-themoment : #3c6fad;
//ncis
$show-ncis : #0ab6e8;
//ncisla
$show-ncisla : #ed8606;
//necessaryroughness
$show-necessaryroughness : #2fc2f6;
//partnersincrime
$show-partnersincrime : #acbade;
//psych
$show-psych : #8ec23f;
//sirens
$show-sirens : #b72730;
//summercamp
$show-summercamp : #fd4833;
//vanderbiltmds
$show-vanderbiltmds : #41afdb;
//whitecollar
$show-whitecollar : #00b9e6;
//wwe
$show-wwe : #bd0c12;
//westminsterkennelclub
$show-westminsterkennelclub : #f6b91a;
*/


$show-collection: ($suits, $chrisley, $graceland, $covert-affairs, $royal-pains, $rush, $dig, $benched, $bridesmaids, $playing-house, $law-and-order, $satisfaction);
//=====================full
@for $i from 0 to length($show-collection) {
  .show-#{map-get(nth($show-collection, $i+1), show)} {
    .show-color-border, &.show-color-border {
      &:before {
        background: #{map-get(nth($show-collection, $i+1), primary)};
      }
    }
    .icons-block {
      a {
        color: #{map-get(nth($show-collection, $i+1), primary)}!important;
      }
    }
    .show-color {
      background: #{map-get(nth($show-collection, $i+1), primary)};
      &.dark {
        background: #{map-get(nth($show-collection, $i+1), secondary)};
        &:before {
          background: #{map-get(nth($show-collection, $i+1), tertiary)};
        }
      }
      &.light {
        background: #{map-get(nth($show-collection, $i+1), tertiary)};
        &:before {
          background: #{map-get(nth($show-collection, $i+1), secondary)};
        }
      }
      &.hover-avail {
        &:hover {
          background: #{map-get(nth($show-collection, $i+1), tertiary)};
        }
      }
    }
    .show-border {
      border-color: #{map-get(nth($show-collection, $i+1), primary)} !important;
      &.dark {
        border-color: #{map-get(nth($show-collection, $i+1), secondary)} !important;
      }
      &.light {
        border-color: #{map-get(nth($show-collection, $i+1), tertiary)} !important;
      }
    }
  }
}