.show-color-border {
  position: relative;
  &:before {
    background: $usa-logo-back;
    display: block;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 1;
  }
}

.show-color {
  background: $usa-logo-back;
  &.dark {
    background: adjust-color($usa-logo-back, $saturation: 30, $lightness: -10);
  }
  &.hover-avail {
    &:hover {
      background: lighten($usa-logo-back, 15%);
    }
  }
}

//shows colors
//Suits
$suits: (
        show: suits,
        primary: #d42027,
        secondary: #e83939,
        tertiary: #be1c23
);
//Chrisley Knows Best
$chrisley: (
        show: chrisley,
        primary: #f2ad2c,
        secondary: #f5be56,
        tertiary: #ebb249
);
//Graceland
$graceland: (
        show: graceland,
        primary: #0d3b6e,
        secondary: #1b4c83,
        tertiary: #113359
);
//Covert Affairs:
$covert-affairs: (
        show: covert-affairs,
        primary: #c50504,
        secondary: #d60302,
        tertiary: #b10808
);
//Royal Pains:
$royal-pains: (
        show: royal-pains,
        primary: #7cd7fd,
        secondary: #9bdffc,
        tertiary: #68c5ec
);

//_____OLD COLORS SHOWS_________
//Rush:
$rush: (
        show: rush,
        primary: #2665aa,
        secondary: #0b4c7c,
        tertiary: #5d8dc6
);
//Dig:
$dig: (
        show: dig,
        primary: #e98e11,
        secondary: #e98e11,
        tertiary: #e98e11
);
//Benched:
$benched: (
        show: benched,
        primary: #962e8d,
        secondary: #962e8d,
        tertiary: #962e8d
);
//Bridesmaids:
$bridesmaids: (
        show: bridesmaids,
        primary: #ff68be,
        secondary: #ff68be,
        tertiary: #ff68be
);
//Playing house:
$playing-house: (
        show: playing-house,
        primary: #79b365,
        secondary: #79b365,
        tertiary: #79b365
);
//Law and Order:
$law-and-order: (
        show: law-and-order,
        primary: #80a677,
        secondary: #80a677,
        tertiary: #80a677
);
//Satisfaction:
$satisfaction: (
        show: satisfaction,
        primary: #f83a3a,
        secondary: #f83a3a,
        tertiary: #f83a3a
);
//Burn Notice
$burn-notice: (
        show: burn-notice,
        primary: #fef200,
        secondary: #fef200,
        tertiary: #fef200
);
//CSI
$csi: (
        show: csi,
        primary: #0ab6e8,
        secondary: #0ab6e8,
        tertiary: #0ab6e8
);
//Usa Daytime
$usa-daytime: (
        show: usa-daytime,
        primary: #e16e1a,
        secondary: #e16e1a,
        tertiary: #e16e1a
);
//House
$house: (
        show: house,
        primary: #0ab6e8,
        secondary: #0ab6e8,
        tertiary: #0ab6e8
);
//SVU
$svu: (
        show: svu,
        primary: #a5e2ff,
        secondary: #a5e2ff,
        tertiary: #a5e2ff
);
//Modernfamily
$modernfamily: (
        show: modernfamily,
        primary: #ee991a,
        secondary: #ee991a,
        tertiary: #ee991a
);
//The moment
$the-moment: (
        show: the-moment,
        primary: #3c6fad,
        secondary: #3c6fad,
        tertiary: #3c6fad
);
//NCIS
$ncis: (
        show: ncis,
        primary: #0ab6e8,
        secondary: #0ab6e8,
        tertiary: #0ab6e8
);
//NCIS LA
$ncis-la: (
        show: ncis-la,
        primary: #ed8606,
        secondary: #ed8606,
        tertiary: #ed8606
);
//Necessary roughness
$necessary-roughness: (
        show: necessary-roughness,
        primary: #2fc2f6,
        secondary: #2fc2f6,
        tertiary: #2fc2f6
);
//Partners in crime
$partners-in-crime: (
        show: partners-in-crime,
        primary: #acbade,
        secondary: #acbade,
        tertiary: #acbade
);
//Psych
$psych: (
        show: psych,
        primary: #8ec23f,
        secondary: #8ec23f,
        tertiary: #8ec23f
);
//Sirens
$sirens: (
        show: sirens,
        primary: #b72730,
        secondary: #b72730,
        tertiary: #b72730
);
//Summer camp
$summer-camp: (
        show: summer-camp,
        primary: #fd4833,
        secondary: #fd4833,
        tertiary: #fd4833
);
//Vanderbilt MDs
$vanderbilt-mds: (
        show: vanderbilt-mds,
        primary: #41afdb,
        secondary: #41afdb,
        tertiary: #41afdb
);
//White collar
$white-collar: (
        show: white-collar,
        primary: #00b9e6,
        secondary: #00b9e6,
        tertiary: #00b9e6
);
//WWE
$wwe: (
        show: wwe,
        primary: #bd0c12,
        secondary: #bd0c12,
        tertiary: #bd0c12
);
//Westminster Kennel Club
$westminster-kennel-club: (
        show: westminster-kennel-club,
        primary: #f6b91a,
        secondary: #f6b91a,
        tertiary: #f6b91a
);

$show-collection: ($suits, $chrisley, $graceland, $covert-affairs, $royal-pains, $rush, $dig, $benched, $bridesmaids, $playing-house, $law-and-order, $satisfaction);
//=====================full
@for $i from 0 to length($show-collection) {
  .show-#{map-get(nth($show-collection, $i+1), show)} {
    .show-color-border, &.show-color-border {
      &:before {
        background: #{map-get(nth($show-collection, $i+1), primary)};
      }
    }
    .icons-block {
      a {
        color: #{map-get(nth($show-collection, $i+1), primary)}!important;
      }
    }
    .show-color {
      background: #{map-get(nth($show-collection, $i+1), primary)};
      &.dark {
        background: #{map-get(nth($show-collection, $i+1), secondary)};
        &:before {
          background: #{map-get(nth($show-collection, $i+1), tertiary)};
        }
      }
      &.light {
        background: #{map-get(nth($show-collection, $i+1), tertiary)};
        &:before {
          background: #{map-get(nth($show-collection, $i+1), secondary)};
        }
      }
      &.hover-avail {
        &:hover {
          background: #{map-get(nth($show-collection, $i+1), tertiary)};
        }
      }
    }
    .show-border {
      border-color: #{map-get(nth($show-collection, $i+1), primary)} !important;
      &.dark {
        border-color: #{map-get(nth($show-collection, $i+1), secondary)} !important;
      }
      &.light {
        border-color: #{map-get(nth($show-collection, $i+1), tertiary)} !important;
      }
    }
  }
}