// Create the design for your site below
// If you're using SMACSS, this is where module, state and theme styles go
// SITE-WIDE DESIGN -------------------------------------------------------------- */


// TEMPORARILY HIDE ADMIN STUFFS
// AND OTHER STUFFS THAT ARE
// IN THE WAY FOR NOW
// #admin-menu {
//   display: none;
// }
// html body.admin-menu {
//   margin-top: auto !important;
// }
[class*="iib"] {
  // display: none;
  background-color: $gray-dark;
}
// #environment-indicator {
//   display: none;
// }
// body.environment-indicator-adjust.environment-indicator-left {
//   margin-left: auto !important;
// }

// #show-menu-panel {
//   display: none;
// }
// #mega-nav {
//   nav {
//     display: none;
//   }
//   .mega-sub-nav-container {
//     display: none;
//   }
// }

// TEMP MAIN NAV STYLES
#mega-nav {
  padding-left: 2em;
  .mega-menu-items {
    display: block;
    float: left;
    margin: 0 18px;
    text-align: left;
  }
  .flagged {
    color: $orange;
    text-transform: uppercase;
  }
}

.carousel-item {
  width: 221px;
  heigth: 184px;
}

