$bp_person-medium-width: 768px;
$bp_person-gall_width: 704px;
$bp_person-share_icon_width: 300px;



.share-icons a {
	color:#000;
	background-color:$gray-light;
	@extend %usanetwork-font;
	font-size:1.5em;
	@include border-radius(50%);
    padding: 4px 3px 3px;
    height: 32px;
    width: 32px;
    display:inline-block;
    margin-left:5px;
    &:hover {
      background-color:#fff;
    }
    &.usasocial-fb {
    	padding-left:8px;
    }
}


body.person-page {
	overflow-x:hidden;
}

#profile-content {
	width:auto;
	position:relative;
	h1 {
		text-transform:none;
		font-size:24px;    
		@include breakpoint($bp_person-medium-width) { 
			font-size:26px;    
		}
	}	
	h4 {
		text-transform: none;
		font-size:14px;
		margin:5px 30px 5px 0;
		@include breakpoint($bp_person-medium-width) { 
			font-size:18px;
		}	
	}
	.person-content-wrapper {
		max-width: 1245px;
	    position:relative;
	    margin:0 auto;
		@include breakpoint($bp_person-medium-width) { 
			padding:0 30px; 
		}  
	}
	aside {
		position:relative;
		z-index:2;
		.field-name-body {
			clear:both;
			&:before {
				content: "\0020";
				display: block;
				height: 0;
				clear: both;
				overflow: hidden;
				visibility: hidden;
			}

		}
		&#person-image {
			display:none;
			position: absolute;
		    top: 0;
		    width: 100%;
		    z-index: 1;	

			@include breakpoint($bp_person-medium-width) { 
				display:block;
				
			}
			img {

				max-width:55%;
				position:absolute;
				right:-50px;
				&:after {
					content: "\0020";
					display: block;
					height: 0;
					clear: both;
					overflow: hidden;
					visibility: hidden;
				}
			}
		  
		}
		&#person-content {
		 	.pane-page-title + .pane-views-panes,
		 	.pane-page-title + .pane-views-panes + .pane-views-panes {
				float:left;
			}
			@include breakpoint($bp_person-medium-width) {
				width:51%;
			}
		  
		}
	}
	.node-media-gallery {
		width:300px;
		position:relative;
		border: 2px solid $gray-dark;
		margin:0 auto;
		@include breakpoint($bp_person-gall_width) { 
			height:252px;
			margin:0 15px 0 0;
		}
		h2 {
			font-size:20px;
		}
		.field-name-title {
			@extend .title-overlay;
			h2 {
				margin-bottom:2px;
			}

			
		}
	}

	.pane-usa-cast {
		background-color:$black;

		.view-usa-cast {
			.flex-viewport {
				margin-left: -2px;
				margin-right: -2px;
				overflow: visible !important;
				padding: 2px;
				max-height:2000px;
			}
			background: none repeat scroll 0 0 transparent;
		    border: medium none;
		    box-shadow: none;
		    margin: 0 auto;
		    max-width: 1245px;
		    overflow: hidden;
		    position: relative;
			  @include breakpoint($bp_person-medium-width) { 
				 padding-left:22px;
			 	 padding-right:22px;
			}
			ul, li {
				margin:0;
				padding:0;
			}
			li.carousel-item {
				text-align:center;
				&.active img {
					border-color:#fff;
				}
				.field-name-field-usa-character-thumb {
					display:inline-block;
				}
			}

			&:after, &:before {
				content: "";
				display: block;
				height: 100%;
				position: absolute;
				top: 0;
				width: 40px;
			}
			&:before {
				@include background(linear-gradient(right center, #1F1F1F 0%, #1F1F1F 60%, rgba(31, 31, 31, 0) 100%));		
				left: -20px;
				z-index: 3;
			}
			&:after {
				@include background(linear-gradient(right center, #1F1F1F 0%, #1F1F1F 60%, rgba(31, 31, 31, 0) 100%));
				right: 0;
				z-index: 2;
			}
			img {
				max-width:none;
				border: 2px solid $gray-dark;
				display: block;
				margin: -2px;
			}
			.flex-direction-nav a {
				height: 57px;
				opacity: 1.0;
				width: 30px;
				right:0;
				@extend %usanetwork-font;
				&.flex-prev {
					left:0;
				}
			}

		}
	}	
}